@use "../../styles/variables";

.thy-result {
    display: block;
    text-align: center;
    padding: variables.$result-padding;
    &-title {
        font-size: variables.$result-title-font-size;
        margin-top: variables.$result-title-margin-top;
    }
    &-subtitle {
        color: variables.$result-subtitle-color;
        font-size: variables.$result-subtitle-font-size;
        margin-top: variables.$result-subtitle-margin-top;
    }
    &-extra {
        margin-top: variables.$result-extra-margin-top;
        & > *:not(:last-child) {
            margin-right: 8px;
        }
    }
}
