.thy-slide-backdrop {
    background: none;
}

.slide {
    position: fixed !important;
    display: block;
    opacity: 1;
}

.thy-slide-container {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $slide-dialog-bg;
    overflow-y: auto;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.04), 0 6px 30px 5px rgba(0, 0, 0, 0.08),
        0 8px 10px -5px rgba(0, 0, 0, 0.12);

    .thy-slide-layout {
        display: flex;
        flex: auto;
        flex-direction: column;
        height: 100%;

        .thy-slide-header {
            display: flex;
            flex-direction: row;
            padding: $slide-header-padding;
            height: $slide-header-height;
            border-bottom: solid 1px $slide-divider;
            background-color: transparent;
            flex: 0 0 auto;

            .thy-slide-header-title {
                color: $gray-800;
                font-size: $font-size-md;
                line-height: 1.25rem;
                font-weight: normal;
            }

            .thy-slide-header-main {
                flex: 1;
                padding: $slide-header-main-padding;
            }
        }

        .thy-slide-body {
            flex: auto;
            overflow-y: auto;
            padding: $slide-body-content-padding;
        }

        .thy-slide-footer {
            flex: 0 0 auto;
            border-top: solid 1px $slide-divider;
            padding: $slide-footer-padding;
            height: $slide-footer-height;
        }

        .thy-slide-body-section {
            display: block;
            padding-top: $slide-body-section-padding;

            &.thy-slide-body-section-divider:not(:last-child) {
                border-bottom: 1px solid $slide-divider;
            }
        }
    }
}

.thy-slide-lg {
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 310px);
}

.thy-slide {
    bottom: 0;
    right: 0;
    width: 350px;
    height: $slide-height;
    max-height: $slide-height;
}
