@use "../../styles/variables";

$slide-border-color: variables.$gray-200 !default;

.thy-slide-backdrop {
    background: none;
}

.thy-slide-overlay-pane {
    position: fixed !important;
    display: block;
    opacity: 1;
    white-space: nowrap; // in order to not wrap when opening
    &.thy-slide-right {
        right: 0;
    }

    &.thy-slide-left {
        left: 0;
    }

    &.thy-slide-top {
        top: 0;
    }

    &.thy-slide-bottom {
        bottom: 0;
    }
}

.thy-slide-container {
    display: block;
    width: 100%;
    height: 100%;
    background-color: variables.$slide-bg;
    overflow-y: auto;
    position: absolute;

    &.thy-slide-over {
        box-shadow: variables.$slide-box-shadow;
    }
    &.thy-slide-side {
        border: solid 1px $slide-border-color;
    }
    &.thy-slide-push {
        border: solid 1px $slide-border-color;
    }
}

.thy-slide-lg {
    height: 100%;
}

.thy-slide {
    width: 350px;
}

.thy-slide-side-drawer-container {
    transition-duration: 200ms;
    transition-property: transform, margin;
}
.thy-slide-push-drawer-container {
    transition-duration: 200ms;
    transition-property: transform translate;
}

.thy-slide-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;

    .thy-slide-header {
        display: flex;
        flex-direction: row;
        padding: 0 variables.$slide-header-padding;
        height: variables.$slide-header-height;
        border-bottom: solid 1px variables.$slide-divider;
        background-color: transparent;
        flex: 0 0 auto;
        align-items: center;

        .thy-slide-header-title {
            color: variables.$gray-800;
            font-size: variables.$font-size-md;
            line-height: 1.25rem;
            font-weight: normal;
            margin-bottom: 0;
        }

        .thy-slide-header-main {
            flex: 1;
            padding: variables.$slide-header-main-padding;
        }

        .close {
            outline: none;
            @if variables.$close-pill-enabled {
                padding: 3px 7px;
                margin-right: -7px;
                &:hover {
                    background: rgba(variables.$primary, 0.1);
                    border-radius: variables.$border-radius;
                }
            } @else {
                padding: 1rem variables.$slide-header-padding;
                margin: (-(variables.$slide-header-padding)) (-(variables.$slide-header-padding)) (-(variables.$slide-header-padding)) auto;
            }
        }
    }

    .thy-slide-body {
        flex: auto;
        overflow-y: auto;
        padding: variables.$slide-body-content-padding;
    }

    .thy-slide-footer {
        flex: 0 0 auto;
        border-top: solid 1px variables.$slide-divider;
        padding: variables.$slide-footer-padding;
        height: variables.$slide-footer-height;
    }

    .thy-slide-body-section {
        display: block;
        padding-top: variables.$slide-body-section-padding;

        &.thy-slide-body-section-divider:not(:last-child) {
            border-bottom: 1px solid variables.$slide-divider;
        }
    }
}
