.slide{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
.slide-dialog {
    position: fixed;
    background-color: $white;
    overflow-y: auto;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.04), 0 6px 30px 5px rgba(0, 0, 0, 0.08), 0 8px 10px -5px rgba(0, 0, 0, 0.12);
    z-index: 1000;
    .thy-slide-header {
        padding: $slide-header-padding;
        display: flex;
        flex-direction: row;
        height: $slide-header-height;;
        border-bottom: solid 1px $slide-divider;
        background-color: transparent;
        .thy-slide-title {
            flex: 1;
            margin: 0;
            color: $gray-800;
            font-size: $font-size-md;
            line-height: 1.25rem;
            font-weight: normal;
        }
    }
    .thy-slide-body {
        display: block;
        width: 100%;
        height: calc(100% - #{$slide-header-height});
        overflow-y: auto;
        .thy-slide-body-content {
            padding: $slide-body-content-padding;
        }
    }
}

.thy-slide-lg {
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 310px);
}

.thy-slide {
    bottom: 0;
    right: 0;
    width: 350px;
    height: calc(100vh - #{$layout-header-height} - #{$layout-header-height-sm} - #{$slide-header-height});
    max-height: calc(100vh - #{$layout-header-height} - #{$layout-header-height-sm} - #{$slide-header-height});
}