<thy-action-menu>
  <thy-action-menu-divider></thy-action-menu-divider>
  <a thyActionMenuItem thyActionMenuItemActive="true" href="javascript:;">
    <span thyActionMenuItemIcon>
      <thy-icon thyIconName="task"></thy-icon>
    </span>
    <span thyActionMenuItemName>有图标</span>
  </a>
  <a thyActionMenuItem href="javascript:;">
    <span thyActionMenuItemIcon>
      <thy-icon thyIconName="task"></thy-icon>
    </span>
    <span thyActionMenuItemName>有图标</span>
    <span thyActionMenuItemExtendIcon class="text-primary">
      <thy-icon thyIconName="check"></thy-icon>
    </span>
  </a>

  <a thyActionMenuItem href="javascript:;">
    <span thyActionMenuItemIcon>
      <thy-icon thyIconName="task"></thy-icon>
    </span>
    <span thyActionMenuItemName>有图标</span>
    <span thyActionMenuItemMeta>(默认排序)</span>
    <div thyActionMenuItemInfo>默认排序下可拖拽移动任务；其他排序下只能显示，不可拖拽</div>
  </a>
  <thy-action-menu-divider thyType="crossing"></thy-action-menu-divider>

  <a thyActionMenuItem href="javascript:;">
    <span thyActionMenuItemName>无图标</span>
  </a>
</thy-action-menu>
