<thy-tabs [thyActiveTab]="activeTab" (thyActiveTabChange)="activeTabChange($event)">
  <thy-tab [id]="1" thyTitle="Tab1"> Tab1 Content </thy-tab>
  <thy-tab [id]="2" thyTitle="Tab2"> Tab2 Content </thy-tab>
  <thy-tab [id]="3" thyTitle="Tab3"> Tab3 Content </thy-tab>
</thy-tabs>

<br />
<thy-tabs [(thyActiveTab)]="activeTab2">
  <thy-tab [id]="'tab1'" thyTitle="Tab1"> Tab1 Content </thy-tab>
  <thy-tab [id]="'tab2'" thyTitle="Tab2"> Tab2 Content </thy-tab>
  <thy-tab [id]="'tab3'" thyTitle="Tab3"> Tab3 Content </thy-tab>
</thy-tabs>
