<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <div class="mb-2 text-secondary">thy-select</div>
    <thy-select [(ngModel)]="value" [thyAppearance]="'outline'" [thyPlaceholder]="'outline'">
      @for (option of listOfOption; track option.value) {
        <thy-option [thyValue]="option.value" [thyLabelText]="option.text"></thy-option>
      }
    </thy-select>
    <thy-select [(ngModel)]="value" [thyAppearance]="'subtle'" [thyPlaceholder]="'subtle'" class="mt-3">
      @for (option of listOfOption; track option.value) {
        <thy-option [thyValue]="option.value" [thyLabelText]="option.text"></thy-option>
      }
    </thy-select>
    <thy-select [(ngModel)]="value" [thyAppearance]="'ghost'" [thyPlaceholder]="'ghost'" class="mt-3">
      @for (option of listOfOption; track option.value) {
        <thy-option [thyValue]="option.value" [thyLabelText]="option.text"></thy-option>
      }
    </thy-select>
  </div>
  <div thyCol [thySpan]="12">
    <div class="mb-2 text-secondary">thy-select（disabled）</div>
    <thy-select [(ngModel)]="value" [thyAppearance]="'outline'" [thyDisabled]="true" [thyPlaceholder]="'outline'">
      @for (option of listOfOption; track option.value) {
        <thy-option [thyValue]="option.value" [thyLabelText]="option.text"></thy-option>
      }
    </thy-select>
    <thy-select [(ngModel)]="value" [thyAppearance]="'subtle'" [thyDisabled]="true" [thyPlaceholder]="'subtle'" class="mt-3">
      @for (option of listOfOption; track option.value) {
        <thy-option [thyValue]="option.value" [thyLabelText]="option.text"></thy-option>
      }
    </thy-select>
    <thy-select [(ngModel)]="value" [thyAppearance]="'ghost'" [thyDisabled]="true" [thyPlaceholder]="'ghost'" class="mt-3">
      @for (option of listOfOption; track option.value) {
        <thy-option [thyValue]="option.value" [thyLabelText]="option.text"></thy-option>
      }
    </thy-select>
  </div>
</div>
<div thyRow [thyGutter]="30" class="mt-4">
  <div thyCol [thySpan]="12">
    <div class="mb-2 text-secondary">thy-native-select</div>
    <thy-native-select [(ngModel)]="value" [thyAppearance]="'outline'">
      <option value="">outline</option>
      @for (option of listOfOption; track option.value) {
        <option [value]="option.value">{{ option.text }}</option>
      }
    </thy-native-select>
    <thy-native-select [(ngModel)]="value" [thyAppearance]="'subtle'" class="mt-3">
      <option value="">subtle</option>
      @for (option of listOfOption; track option.value) {
        <option [value]="option.value">{{ option.text }}</option>
      }
    </thy-native-select>
    <thy-native-select [(ngModel)]="value" [thyAppearance]="'ghost'" class="mt-3">
      <option value="">ghost</option>
      @for (option of listOfOption; track option.value) {
        <option [value]="option.value">{{ option.text }}</option>
      }
    </thy-native-select>
  </div>
  <div thyCol [thySpan]="12">
    <div class="mb-2 text-secondary">thy-native-select（disabled）</div>
    <thy-native-select [(ngModel)]="value" [thyAppearance]="'outline'" [disabled]="true">
      <option value="">outline</option>
      @for (option of listOfOption; track option.value) {
        <option [value]="option.value">{{ option.text }}</option>
      }
    </thy-native-select>
    <thy-native-select [(ngModel)]="value" [thyAppearance]="'subtle'" class="mt-3" [disabled]="true">
      <option value="">subtle</option>
      @for (option of listOfOption; track option.value) {
        <option [value]="option.value">{{ option.text }}</option>
      }
    </thy-native-select>
    <thy-native-select [(ngModel)]="value" [thyAppearance]="'ghost'" class="mt-3" [disabled]="true">
      <option value="">ghost</option>
      @for (option of listOfOption; track option.value) {
        <option [value]="option.value">{{ option.text }}</option>
      }
    </thy-native-select>
  </div>
</div>
