<thy-button-group class="mb-3" thySize="md" thyAppearance="outline">
  @for (item of appearances; track $index) {
    <button thyButton (click)="appearance = item" [ngClass]="{ active: item === appearance }">
      {{ item }}
    </button>
  }
</thy-button-group>
<thy-select [(ngModel)]="value" [thyAppearance]="appearance" [thyPlaceholder]="appearance">
  @for (option of listOfOption; track option.value) {
    <thy-option [thyValue]="option.value" [thyLabelText]="option.text"></thy-option>
  }
</thy-select>
