.thy-layout {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
    background: $layout-content-background;

    &--has-sidebar {
        flex-direction: row;

        >.thy-layout-content {
            overflow-x: hidden;
        }
    }
}

.thy-layout-header {
    display: block;
    flex: 0 0 auto;
    background: $layout-header-background;
    padding: $layout-header-padding;
    height: $layout-header-height;
    line-height: $layout-header-height;

    &.header-has-border {
        border-bottom: 1px solid $nav-border-color;
    }
}

.thy-layout-content {
    flex: auto; // = 1 1 auto
    display: flex;
    flex-direction: column;
    padding: $layout-content-padding;
    background: $layout-content-background;

    .thy-layout-content-section {
        display: block;
        // overflow: hidden;
        border-radius: 3px;
        background: $layout-content-section-background;
        margin-bottom: $layout-content-section-margin-bottom;
    }

    .thy-layout-content-main {
        flex: auto;
        background: $layout-content-section-background;
    }

    &--align-title {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.thy-layout-sidebar {
    flex: 0 0 auto;
    transition: all .2s;
    position: relative;
    background: $layout-sidebar-background;
    min-width: 0;
    width: $layout-sidebar-width;
    border-right: $layout-sidebar-border-right;
    display: flex;
    flex-direction: column;

    .sidebar-header {
        padding: 0 20px;
        height: $layout-header-height;
        line-height: $layout-header-height;
    }

    .sidebar-content {
        flex: auto;
    }

    .sidebar-drag {
        position: absolute;
        bottom: -2px;
        width: 2px;
        height: 100%;
        cursor: e-resize;
        pointer-events: none;

        &:hover {
            background: $layout-sidebar-drag-background-hover;
        }

        &:active {
            background: $layout-sidebar-drag-background-active;
        }
    }

    &--clear-border-right {
        border-right: none;
    }
}

.thy-layout-header {
    display: flex;

    .layout-header-title {
        font-size: $font-size-md;
        color: $gray-800;

        a {
            @include link-variant($gray-800, none, $gray-800, none);
        }

        .prefix-icon {
            margin-right: 10px;
            color: $primary;
        }

        .suffix-icon {
            margin-left: 10px;
            color: $primary;
        }
    }

    .layout-header-content {
        flex: auto;
    }
}

.thy-layout-header-sm {
    height: $layout-header-height-sm;
    line-height: $layout-header-height-sm;
}
