<div>
  <a thyAction thySize="sm" thyIcon="smile" href="javascript:;" [thyDisabled]="true"></a>
  <a thyAction thySize="sm" href="javascript:;"><thy-icon thyIconName="vertical-view-lines"></thy-icon></a>
  <a thyAction thySize="sm" thyActionActive="true" thyIcon="version" href="javascript:;"></a>
</div>

<div class="mt-2">
  <a thyAction thySize="md" thyIcon="smile" href="javascript:;" [thyDisabled]="true"></a>
  <a thyAction thySize="md" href="javascript:;"><thy-icon thyIconName="vertical-view-lines"></thy-icon></a>
  <a thyAction thySize="md" thyActionActive="true" thyIcon="version" href="javascript:;"></a>
</div>

<div class="mt-2">
  <a thyAction thySize="lg" thyIcon="smile" href="javascript:;" [thyDisabled]="true"></a>
  <a thyAction thySize="lg" href="javascript:;"><thy-icon thyIconName="vertical-view-lines"></thy-icon></a>
  <a thyAction thySize="lg" thyActionActive="true" thyIcon="version" href="javascript:;"></a>
</div>
