@use "../../styles/variables";
@use "sass:math";

@mixin select-control-size($input-height, $input-padding-y, $input-label-height) {
    .select-control-rendered {
        margin-top: $input-padding-y;
        .select-control-choices {
            height: $input-label-height + $input-padding-y;
        }
        .text-placeholder,
        .selected-value {
            margin-bottom: $input-padding-y;
        }
        .choice,
        .select-control-search {
            margin-bottom: $input-padding-y;
        }
    }
}

@mixin select-label-size($label-height, $font-size) {
    .select-control-rendered {
        .choice,
        .select-control-search {
            .choice-content {
                height: $label-height;
                line-height: $label-height;
                font-size: $font-size !important;
            }
        }
    }
}

@mixin thy-select-options-dropdown {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.14);
    background: variables.$white;
    width: 100%;
}

@mixin thy-select-options-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px 0;
}

$has-value-margin-base: -0.03175rem;
$has-value-margin-md: -0.2815rem;
$thy-label-spacing: 0.3125rem;

@mixin thy-select-multiple-control {
    .multiple-value-wrapper {
        margin: {
            top: $has-value-margin-base;
            bottom: $has-value-margin-base - $thy-label-spacing;
            right: 15px;
        }
        .thy-label {
            margin-bottom: $thy-label-spacing;
        }
    }
}
