<thy-button-group thyType="outline-default">
  <button thyButton (click)="isShow = true" [class]="isShow ? 'active' : ''">show</button>
  <button thyButton (click)="isShow = false" [class]="!isShow ? 'active' : ''">hide</button>
</thy-button-group>
<div style="margin-top: 10px">
  <thy-carousel [thyDotTemplate]="dotTemplate" [thyShowDot]="isShow">
    <div thyCarouselItem class="custom-carousel-item">
      <img src="assets/images/carousel/1.png" alt="1" />
    </div>
    <div thyCarouselItem class="custom-carousel-item">
      <img src="assets/images/carousel/2.png" alt="2" />
    </div>
    <div thyCarouselItem class="custom-carousel-item">
      <img src="assets/images/carousel/3.png" alt="3" />
    </div>
  </thy-carousel>
</div>
<ng-template #dotTemplate let-active>
  <thy-icon thyIconName="aim" [class]="['custom-dots', active ? 'active-color' : 'default-color']"></thy-icon>
</ng-template>
