@use '../../styles/variables';

$cascader-menu-min-width: 122px;

.thy-cascader {
    outline: none;
    position: relative;
    display: inline-block;

    // 当选择框聚焦且菜单打开后，.select-control.panel-is-opened{border-color:#6698ff} 就可以让边框变蓝了。#INFR-5805任务为什么要加下面这段样式？
    // 这段样式会导致点击全部清除按钮或者点击移除某一个选中的项后，鼠标移开后，选择框的边框没有由蓝色边框恢复为灰色边框
    // &:focus {
    //     .form-control-custom:not(.disabled) {
    //         border: 1px solid variables.$primary;
    //     }
    // }

    .form-control {
        cursor: pointer;

        &.disabled {
            cursor: default;
        }
    }
    &-menus {
        font-size: 14px;
        background: #fff;
        position: absolute;
        z-index: 1050;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        white-space: nowrap;
        ul,
        ol {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        &-empty,
        &-hidden {
            display: none;
        }
    }
    &-menu {
        display: inline-block;
        vertical-align: top;
        min-width: $cascader-menu-min-width;
        max-width: 300px;
        height: 180px;
        list-style: none;
        margin: 0;
        padding: 0;
        border-right: 1px solid #e8e8e8;
        overflow: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar; // https://github.com/ant-design/ant-design/issues/11857
        &:first-child {
            border-radius: 5px 0 0 5px;
        }
        &:last-child {
            border-right-color: transparent;
            margin-right: -1px;
            border-radius: 0 5px 5px 0;
        }
        &:only-child {
            border-radius: 5px;
        }
    }
    &-menu-item {
        padding: 7px 16px;
        line-height: 22px;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.3s;
        color: variables.$gray-700;
        &:hover {
            background: variables.$gray-100;
            color: variables.$body-color;
        }
        &-active:not(&-disabled) {
            &,
            &:hover {
                background: rgba(variables.$primary, 0.1);
                color: variables.$primary;
            }
        }
        &-active:is(&-disabled) {
            background-color: variables.$gray-100;
            cursor: default;

            &:hover {
                background-color: variables.$gray-100;
            }
        }
        &-disabled {
            &,
            &:hover {
                color: variables.$gray-400;
                cursor: default;
                background-color: transparent;
            }
        }
        &-expand {
            position: relative;
            padding-right: 24px;
        }
        &-expand &-expand-icon,
        &-expand &-loading-icon {
            color: #aaa;
            position: absolute;
            right: 10px;
        }
        &-active &-expand-icon,
        &-active &-loading-icon {
            color: variables.$primary;
        }
        &-disabled &-expand-icon,
        &-disabled &-loading-icon {
            color: variables.$gray-400;
        }
        & &-keyword {
            color: #e6f7ff;
        }
    }

    &-empty-container {
        min-width: $cascader-menu-min-width;
    }

    &-search-list {
        height: 180px;
        overflow: auto;
        min-width: $cascader-menu-min-width;
    }

    &-search-list-item {
        height: 36px;
        &:hover {
            background-color: variables.$action-menu-item-hover-bg;
        }
        &.active:not(.multiple) {
            background: rgba(variables.$primary, 0.1);
            color: variables.$primary;
        }
        // 覆盖 thyFlexibleText 默认样式使其垂直居中
        .option-label-item {
            max-width: 140px;
            width: unset;
            vertical-align: bottom;
        }
    }
}
