<div class="demo-buttons">
  <button thyButton="outline-default">Default</button>
  <button thyButton="outline-primary">Primary</button>
  <button thyButton="outline-info">Info</button>
  <button thyButton="outline-warning">Warning</button>
  <button thyButton="outline-danger">Danger</button>
  <button thyButton="outline-danger">Success</button>
</div>

<div class="demo-buttons mt-2">
  <button thyButton="outline-default" class="active">Default</button>
  <button thyButton="outline-primary" class="active">Primary</button>
  <button thyButton="outline-info" class="active">Info</button>
  <button thyButton="outline-warning" class="active">Warning</button>
  <button thyButton="outline-danger" class="active">Danger</button>
  <button thyButton="outline-danger" class="active">Success</button>
</div>

<div class="demo-buttons mt-2">
  <button thyButton="outline-default" disabled>Default</button>
  <button thyButton="outline-primary" disabled>Primary</button>
  <button thyButton="outline-info" disabled>Info</button>
  <button thyButton="outline-warning" disabled>Warning</button>
  <button thyButton="outline-danger" disabled>Danger</button>
  <button thyButton="outline-danger" disabled>Success</button>
</div>
