<thy-space>
  <button *thySpaceItem thyButton="outline-default">Default</button>
  <button *thySpaceItem thyButton="outline-primary">Primary</button>
  <button *thySpaceItem thyButton="outline-info">Info</button>
  <button *thySpaceItem thyButton="outline-warning">Warning</button>
  <button *thySpaceItem thyButton="outline-danger">Danger</button>
  <button *thySpaceItem thyButton="outline-success">Success</button>
</thy-space>

<thy-space class="mt-2">
  <button *thySpaceItem thyButton="outline-default" class="active">Default</button>
  <button *thySpaceItem thyButton="outline-primary" class="active">Primary</button>
  <button *thySpaceItem thyButton="outline-info" class="active">Info</button>
  <button *thySpaceItem thyButton="outline-warning" class="active">Warning</button>
  <button *thySpaceItem thyButton="outline-danger" class="active">Danger</button>
  <button *thySpaceItem thyButton="outline-success" class="active">Success</button>
</thy-space>

<thy-space class="mt-2">
  <button *thySpaceItem thyButton="outline-default" disabled>Default</button>
  <button *thySpaceItem thyButton="outline-primary" disabled>Primary</button>
  <button *thySpaceItem thyButton="outline-info" disabled>Info</button>
  <button *thySpaceItem thyButton="outline-warning" disabled>Warning</button>
  <button *thySpaceItem thyButton="outline-danger" disabled>Danger</button>
  <button *thySpaceItem thyButton="outline-success" disabled>Success</button>
</thy-space>
