<thy-space>
  <button *thySpaceItem thyButton thyColor="default" thyAppearance="outline">Default</button>
  <button *thySpaceItem thyButton thyColor="primary" thyAppearance="outline">Primary</button>
  <button *thySpaceItem thyButton thyColor="info" thyAppearance="outline">Info</button>
  <button *thySpaceItem thyButton thyColor="warning" thyAppearance="outline">Warning</button>
  <button *thySpaceItem thyButton thyColor="danger" thyAppearance="outline">Danger</button>
  <button *thySpaceItem thyButton thyColor="success" thyAppearance="outline">Success</button>
</thy-space>

<thy-space class="mt-2">
  <button *thySpaceItem thyButton thyColor="default" thyAppearance="outline" class="active">Default</button>
  <button *thySpaceItem thyButton thyColor="primary" thyAppearance="outline" class="active">Primary</button>
  <button *thySpaceItem thyButton thyColor="info" thyAppearance="outline" class="active">Info</button>
  <button *thySpaceItem thyButton thyColor="warning" thyAppearance="outline" class="active">Warning</button>
  <button *thySpaceItem thyButton thyColor="danger" thyAppearance="outline" class="active">Danger</button>
  <button *thySpaceItem thyButton thyColor="success" thyAppearance="outline" class="active">Success</button>
</thy-space>

<thy-space class="mt-2">
  <button *thySpaceItem thyButton thyColor="default" thyAppearance="outline" disabled>Default</button>
  <button *thySpaceItem thyButton thyColor="primary" thyAppearance="outline" disabled>Primary</button>
  <button *thySpaceItem thyButton thyColor="info" thyAppearance="outline" disabled>Info</button>
  <button *thySpaceItem thyButton thyColor="warning" thyAppearance="outline" disabled>Warning</button>
  <button *thySpaceItem thyButton thyColor="danger" thyAppearance="outline" disabled>Danger</button>
  <button *thySpaceItem thyButton thyColor="success" thyAppearance="outline" disabled>Success</button>
</thy-space>
