<thy-actions thySize="zero">
  <a thyAction thyIcon="smile" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" href="javascript:;"></a>
  <a thyAction thyIcon="version" href="javascript:;"></a>
</thy-actions>

<thy-actions thySize="xxs">
  <a thyAction thyIcon="smile" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" href="javascript:;"></a>
  <a thyAction thyIcon="version" href="javascript:;"></a>
</thy-actions>

<thy-actions thySize="xs">
  <a thyAction thyIcon="smile" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" href="javascript:;"></a>
  <a thyAction thyIcon="version" href="javascript:;"></a>
</thy-actions>

<thy-actions thySize="sm">
  <a thyAction thyIcon="smile" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" href="javascript:;"></a>
  <a thyAction thyIcon="version" href="javascript:;"></a>
</thy-actions>

<thy-actions thySize="md">
  <a thyAction thyIcon="smile" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" href="javascript:;"></a>
  <a thyAction thyIcon="version" href="javascript:;"></a>
</thy-actions>

<thy-actions thySize="lg">
  <a thyAction thyIcon="smile" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" href="javascript:;"></a>
  <a thyAction thyIcon="version" href="javascript:;"></a>
</thy-actions>
