<thy-space [thySize]="15">
  <a *thySpaceItem thyAction thyActionIcon="vertical-view-lines" href="javascript:;"> View</a>
  <a *thySpaceItem thyAction thyActionIcon="sort" href="javascript:;"> Sort</a>
  <a *thySpaceItem thyAction thyActionIcon="filter" href="javascript:;"> Filter</a>
</thy-space>

<thy-space [thySize]="10">
  <a *thySpaceItem thyAction thyActionIcon="vertical-view-lines" href="javascript:;"></a>
  <a *thySpaceItem thyAction thyActionIcon="sort" href="javascript:;"></a>
  <a *thySpaceItem thyAction thyActionIcon="filter" href="javascript:;"></a>
</thy-space>
