<thy-divider thyTextDirection="center" thyText="Self 响应式"></thy-divider>

<thy-grid thyCols="5" thyGap="8" thyResponsive="self" [thyItemResponsive]="true">
  <div thyGridItem thySpan="0 400:1 600:2 800:3" class="light-blue"></div>
  <div thyGridItem thyOffset="4 400:3 600:2 800:1" class="blue"></div>
</thy-grid>

<thy-divider thyTextDirection="center" thyText="Screen 响应式"></thy-divider>

<thy-grid thyCols="5" thyGap="8" thyResponsive="screen" [thyItemResponsive]="true">
  <div thyGridItem thySpan="0 s:1 m:2" class="light-blue"></div>
  <div thyGridItem thyOffset="4 s:3 m:2" class="blue"></div>
</thy-grid>
