<section>
    <div class="header">
        <h2>一级导航</h2>
    </div>
    <div class="body">
        <ul class="thy-nav nav-primary">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>

        <br>
        <br>
        <thy-nav thyType="primary">
            <a class="nav-link active" href="#">任务
                <i class="wtf wtf-angle-double-down"></i>
            </a>
            <a class="nav-link" href="#">看板</a>
            <a class="nav-link" href="#">需求</a>
        </thy-nav>
        <!-- <nav class="thy-nav nav-primary">
            <a class="nav-link active" href="#">任务
                <i class="wtf wtf-angle-double-down"></i>
            </a>
            <a class="nav-link" href="#">看板</a>
            <a class="nav-link" href="#">需求</a>
        </nav> -->
    </div>
</section>

<section>
    <div class="header">
        <h2>二级导航</h2>
    </div>
    <div class="body">
        <nav class="thy-nav nav-secondary">
            <a class="nav-link active" href="javascript:;">权限设置</a>
            <a class="nav-link" href="javascript:;">安全设置</a>
            <a class="nav-link" href="javascript:;">提醒设置</a>
        </nav>
    </div>
</section>

<section>
    <div class="header">
        <h2>三级导航</h2>
    </div>
    <div class="body">
        <nav class="thy-nav nav-thirdly">
            <a class="nav-link active" href="javascript:;">权限设置</a>
            <a class="nav-link" href="javascript:;">安全设置</a>
            <a class="nav-link" href="javascript:;">提醒设置</a>
        </nav>
    </div>
</section>