<section>
    <div class="header">
        <h2>一级导航</h2>
    </div>
    <div class="body">
        <ul class="thy-nav nav-primary">
            <li class="nav-item">
                <a thyNavLink="true" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a thyNavLink>Link</a>
            </li>
            <li class="nav-item">
                <a thyNavLink>Link</a>
            </li>
        </ul>
        <thy-nav thyType="primary">
            <a thyNavLink="true">任务
                <i class="wtf wtf-angle-double-down"></i>
            </a>
            <a thyNavLink>看板</a>
            <a thyNavLink>需求</a>
        </thy-nav>
        <!-- <nav class="thy-nav nav-primary">
            <a thyNavLink="true" href="#">任务
                <i class="wtf wtf-angle-double-down"></i>
            </a>
            <a thyNavLink>看板</a>
            <a thyNavLink>需求</a>
        </nav> -->
    </div>
</section>

<section>
    <div class="header">
        <h2>二级导航</h2>
    </div>
    <div class="body">
        <nav class="thy-nav nav-secondary">
            <a thyNavLink="true">权限设置</a>
            <a thyNavLink>安全设置</a>
            <a thyNavLink>提醒设置</a>
        </nav>
    </div>
</section>

<section>
    <div class="header">
        <h2>三级导航</h2>
    </div>
    <div class="body">
        <thy-nav thyType="thirdly">
            <a thyNavLink="true">权限设置</a>
            <a thyNavLink>安全设置</a>
            <a thyNavLink>提醒设置</a>
        </thy-nav>

        <thy-nav thyType="thirdly" thySize='sm'>
            <a thyNavLink>权限设置</a>
            <a thyNavLink="{{true}}">安全设置</a>
            <a thyNavLink>提醒设置</a>
        </thy-nav>

        <thy-nav thyType="thirdly">
            <a thyNavLink="{{true}}"><i class="wtf wtf-commenting-o"></i>评论</a>
            <a thyNavLink><i class="wtf wtf-commenting-o"></i>动态</a>
        </thy-nav>
    </div>
</section>
