<div class="bg-primary text-white">.bg-primary</div>
<div class="bg-secondary text-white">.bg-secondary</div>
<div class="bg-dark text-white">.bg-dark</div>
<div class="bg-info text-white">.bg-info</div>
<br />
<div class="bg-success text-white">.bg-success</div>
<div class="bg-danger text-white">.bg-danger</div>
<div class="bg-warning text-white">.bg-warning</div>
<br />
<div class="bg-light text-dark">.bg-light</div>
<div class="bg-brighter text-dark">.bg-brighter</div>
<div class="bg-white text-dark">.bg-white</div>
<div class="bg-transparent text-dark">.bg-transparent</div>
