<thy-space>
  <span *thySpaceItem thyBgColor="primary" thyTextColor="white">primary</span>
  <span *thySpaceItem thyBgColor="success" thyTextColor="white">success</span>
  <span *thySpaceItem thyBgColor="info" thyTextColor="white">info</span>
  <span *thySpaceItem thyBgColor="danger" thyTextColor="white">danger</span>
  <span *thySpaceItem thyBgColor="warning" thyTextColor="white">warning</span>
  <span *thySpaceItem thyBgColor="dark" thyTextColor="white">dark</span>
  <span *thySpaceItem thyBgColor="secondary" thyTextColor="white">secondary</span>
  <span *thySpaceItem thyBgColor="light">light</span>
  <span *thySpaceItem thyBgColor="lighter">lighter</span>
  <span *thySpaceItem thyBgColor="bright">bright</span>
  <span *thySpaceItem thyBgColor="content">content</span>
  <span *thySpaceItem thyBgColor="white">white</span>
  <span *thySpaceItem thyBgColor="transparent">transparent</span>
  <thy-text *thySpaceItem thyBgColor="#c9584e">Custom color '#c9584e'</thy-text>
</thy-space>
