<thy-tabs [thyResponsive]="true">
  <thy-tab thyTitle="Tab1">Tab1 Content</thy-tab>
  <thy-tab thyTitle="Tab2">Tab2 Content</thy-tab>
  <thy-tab thyTitle="Tab3">Tab3 Content</thy-tab>
  <thy-tab thyTitle="Tab4">Tab4 Content</thy-tab>
  <thy-tab thyTitle="Tab5">Tab5 Content</thy-tab>
  <thy-tab thyTitle="Tab6">Tab6 Content</thy-tab>
  <thy-tab thyTitle="Tab7">Tab7 Content</thy-tab>
  <thy-tab thyTitle="Tab8">Tab8 Content</thy-tab>
  <thy-tab thyTitle="Tab9">Tab9 Content</thy-tab>
  <thy-tab thyTitle="Tab10">Tab10 Content</thy-tab>
  <thy-tab thyTitle="Tab11">Tab11 Content</thy-tab>
  <thy-tab thyTitle="Tab12">Tab12 Content</thy-tab>
  <thy-tab thyTitle="Tab13">Tab13 Content</thy-tab>
  <thy-tab thyTitle="Tab14">Tab14 Content</thy-tab>
  <thy-tab thyTitle="Tab15">Tab15 Content</thy-tab>
</thy-tabs>
