<thy-list thyBordered="true">
  <thy-list-item>
    <thy-list-item-meta
      thyTitle="Google Analytics"
      thyAvatar="dfea7c36-5147-4569-8910-829137920172_80x80.png"
      thyDescription="GitHub是一个受您工作方式启发的开发平台。从开源到企业，您可以托管和查看代码，您可以托管和查看代码，管理项目以及与4000万开发人员一起构建软件。"
    >
    </thy-list-item-meta>
  </thy-list-item>
  <thy-list-item>
    <thy-list-item-meta
      thyTitle="Google Analytics"
      thyAvatar="dfea7c36-5147-4569-8910-829137920172_80x80.png"
      thyDescription="GitHub是一个受您工作方式启发的开发平台。从开源到企业，您可以托管和查看代码，您可以托管和查看代码，管理项目以及与4000万开发人员一起构建软件。"
    >
    </thy-list-item-meta>
  </thy-list-item>
  <thy-list-item>
    <thy-list-item-meta
      thyTitle="Google Analytics"
      thyAvatar="dfea7c36-5147-4569-8910-829137920172_80x80.png"
      thyDescription="GitHub是一个受您工作方式启发的开发平台。从开源到企业，您可以托管和查看代码，您可以托管和查看代码，管理项目以及与4000万开发人员一起构建软件。"
    >
    </thy-list-item-meta>
  </thy-list-item>
</thy-list>
