<thy-space>
  <thy-progress *thySpaceItem [thyShape]="'circle'" [thyValue]="value"></thy-progress>
  <thy-progress *thySpaceItem [thyShape]="'circle'" [thyValue]="value" thyColor="info">{{ value }}%</thy-progress>
  <thy-progress *thySpaceItem [thyShape]="'circle'" [thyValue]="value" thyColor="warning">{{ value }}%</thy-progress>
  <thy-progress *thySpaceItem [thyShape]="'circle'" [thyValue]="value" thyColor="success" thyStrokeWidth="10">{{ value }}% </thy-progress>
  <thy-progress *thySpaceItem [thyShape]="'circle'" [thyValue]="value" thyColor="danger" [thyGapDegree]="75">{{ value }}% </thy-progress>
  <thy-progress *thySpaceItem [thyShape]="'circle'" [thyValue]="value" thyColor="#2cccda">{{ value }}%</thy-progress>
</thy-space>
