<div>
  <thy-vote
    class="mr-3"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted"
    [thyDisabled]="true"
    [thySize]="'sm'"
    (click)="toggleVote($event)"></thy-vote>
  <thy-vote
    class="mr-3"
    [thyVoteCount]="vote_count1"
    [thyHasVoted]="has_voted"
    [thyDisabled]="true"
    (click)="toggleVote($event)"></thy-vote>
</div>

<div class="mt-3">
  <thy-vote
    class="mr-3"
    [thyVote]="'primary-weak'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted"
    [thyDisabled]="true"
    [thySize]="'sm'"
    (click)="toggleVote($event)"></thy-vote>
  <thy-vote
    class="mr-3"
    [thyVote]="'primary-weak'"
    [thyVoteCount]="vote_count1"
    [thyHasVoted]="has_voted"
    [thyDisabled]="true"
    (click)="toggleVote($event)"></thy-vote>
</div>

<div class="mt-3">
  <thy-vote
    class="mr-3"
    [thyVote]="'primary-weak'"
    [thyVoteCount]="vote_count_round"
    [thyHasVoted]="has_voted"
    [thySize]="'sm'"
    [thyRound]="true"
    [thyDisabled]="true"
    (click)="toggleVote($event)"></thy-vote>
  <thy-vote
    [thyVote]="'primary-weak'"
    [thyVoteCount]="vote_count_round"
    [thyHasVoted]="has_voted"
    [thyRound]="true"
    [thyDisabled]="true"
    (click)="toggleVote($event)"></thy-vote>
</div>
