<div>
  <thy-vote
    class="mr-3"
    [thyCount]="vote_count"
    [thyVoted]="has_voted()"
    [thyDisabled]="true"
    [thySize]="'sm'"
    (click)="toggleVote($event)"></thy-vote>
  <thy-vote class="mr-3" [thyCount]="vote_count1" [thyVoted]="has_voted()" [thyDisabled]="true" (click)="toggleVote($event)"></thy-vote>
</div>

<div class="mt-3">
  <thy-vote
    class="mr-3"
    thyColor="primary"
    thyAppearance="subtle"
    [thyCount]="vote_count"
    [thyVoted]="has_voted()"
    [thyDisabled]="true"
    [thySize]="'sm'"
    (click)="toggleVote($event)"></thy-vote>
  <thy-vote
    class="mr-3"
    thyColor="primary"
    thyAppearance="subtle"
    [thyCount]="vote_count1"
    [thyVoted]="has_voted()"
    [thyDisabled]="true"
    (click)="toggleVote($event)"></thy-vote>
</div>

<div class="mt-3">
  <thy-vote
    class="mr-3"
    thyColor="primary"
    thyAppearance="subtle"
    [thyCount]="vote_count_round"
    [thyVoted]="has_voted()"
    [thySize]="'sm'"
    [thyRound]="true"
    [thyDisabled]="true"
    (click)="toggleVote($event)"></thy-vote>
  <thy-vote
    thyColor="primary"
    thyAppearance="subtle"
    [thyCount]="vote_count_round"
    [thyVoted]="has_voted()"
    [thyRound]="true"
    [thyDisabled]="true"
    (click)="toggleVote($event)"></thy-vote>
</div>
