<div>
  <a thyAction thyIcon="vertical-view-lines" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" thyColor="success" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" thyColor="warning" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" thyColor="success" href="javascript:;"></a>
  <a thyAction thyIcon="vertical-view-lines" thyColor="danger" href="javascript:;"></a>
</div>

<div class="mt-2">
  <a thyAction thyIcon="vertical-view-lines" href="javascript:;">Primary</a>
  <a thyAction thyIcon="vertical-view-lines" thyColor="success" href="javascript:;">Success</a>
  <a thyAction thyIcon="vertical-view-lines" thyColor="warning" href="javascript:;">Warning</a>
  <a thyAction thyIcon="vertical-view-lines" thyColor="success" href="javascript:;">Success</a>
  <a thyAction thyIcon="vertical-view-lines" thyColor="danger" href="javascript:;">Danger</a>
</div>
