<thy-button-group class="mb-3" thySize="md" thyAppearance="outline">
  @for (item of appearances; track $index) {
    <button thyButton (click)="appearance = item" [ngClass]="{ active: item === appearance }">
      {{ item }}
    </button>
  }
</thy-button-group>
<thy-native-select [(ngModel)]="value" [thyAppearance]="appearance">
  <option value="">{{ appearance }}</option>
  @for (option of listOfOption; track option.value) {
    <option [value]="option.value">{{ option.text }}</option>
  }
</thy-native-select>
