<div class="demo-alert">
  <thy-alert thyColor="primary" thyMessage="Additional description and information about copywriting."></thy-alert>
  <thy-alert thyColor="success" thyMessage="Well done! You successfully read this important alert message."></thy-alert>
  <thy-alert thyColor="warning" thyMessage="Warning! Better check yourself, you're not looking too good."></thy-alert>
  <thy-alert thyColor="danger" thyMessage="Oh snap! Change a few things up and try submitting again."></thy-alert>
  <thy-alert thyColor="info" thyMessage="Additional description and information about copywriting."></thy-alert>
</div>

<!-- 验证示例，删除 -->
<h3>color-week</h3>
<div class="demo-alert mt-2">
  <thy-alert thyColor="primary-weak" thyMessage="Additional description and information about copywriting."></thy-alert>
  <thy-alert thyColor="success-weak" thyMessage="Well done! You successfully read this important alert message."></thy-alert>
  <thy-alert thyColor="warning-weak" thyMessage="Warning! Better check yourself, you're not looking too good."></thy-alert>
  <thy-alert thyColor="danger-weak" thyMessage="Oh snap! Change a few things up and try submitting again."></thy-alert>
</div>

<h3>bordered + color-week</h3>
<div class="demo-alert mt-2">
  <thy-alert
    thyColor="primary-weak"
    thyAppearance="bordered"
    thyMessage="Additional description and information about copywriting."></thy-alert>
  <thy-alert
    thyColor="success-weak"
    thyAppearance="bordered"
    thyMessage="Well done! You successfully read this important alert message."></thy-alert>
  <thy-alert
    thyColor="warning-weak"
    thyAppearance="bordered"
    thyMessage="Warning! Better check yourself, you're not looking too good."></thy-alert>
  <thy-alert
    thyColor="danger-weak"
    thyAppearance="bordered"
    thyMessage="Oh snap! Change a few things up and try submitting again."></thy-alert>
</div>

<h3>naked + color-week</h3>
<div class="demo-alert mt-2">
  <thy-alert
    thyColor="primary-weak"
    thyAppearance="naked"
    thyMessage="Additional description and information about copywriting."></thy-alert>
  <thy-alert
    thyColor="success-weak"
    thyAppearance="naked"
    thyMessage="Well done! You successfully read this important alert message."></thy-alert>
  <thy-alert
    thyColor="warning-weak"
    thyAppearance="naked"
    thyMessage="Warning! Better check yourself, you're not looking too good."></thy-alert>
  <thy-alert
    thyColor="danger-weak"
    thyAppearance="naked"
    thyMessage="Oh snap! Change a few things up and try submitting again."></thy-alert>
</div>

<h3>fill + color-week</h3>
<div class="demo-alert mt-2">
  <thy-alert thyColor="primary" thyAppearance="fill" thyMessage="Additional description and information about copywriting."></thy-alert>
  <thy-alert
    thyColor="success"
    thyAppearance="fill"
    thyMessage="Well done! You successfully read this important alert message."></thy-alert>
  <thy-alert thyColor="warning" thyAppearance="fill" thyMessage="Warning! Better check yourself, you're not looking too good."></thy-alert>
  <thy-alert thyColor="danger" thyAppearance="fill" thyMessage="Oh snap! Change a few things up and try submitting again."></thy-alert>
  <thy-alert thyColor="info" thyAppearance="fill" thyMessage="Additional description and information about copywriting."></thy-alert>
</div>
