<div class="thy-select-container">
  <div class="thy-select-search" *ngIf="parent.thyShowSearch">
    <thy-input-search
      thyAutofocus
      name="search"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchFilter()"
    ></thy-input-search>
  </div>
  <div class="thy-select-custom-options">
    <ng-container *ngFor="let option of showOptionComponents">
      <div class="thy-option-item-group" *ngIf="option.thyGroupLabel; else optionItem">
        <span class="group-name text-info">{{ option?.thyGroupLabel }}</span>
        <ng-container *ngFor="let subOption of option.showOptionComponents">
          <thy-option-item
            *ngIf="!subOption.thyGroupLabel"
            (click)="selectedOption(subOption)"
            [thyDisabled]="subOption.thyDisabled"
            [option]="subOption"
            [ngClass]="{ active: subOption?.thyValue === parent._innerValue || subOption.selected }"
          ></thy-option-item>
        </ng-container>
      </div>
      <ng-template #optionItem>
        <thy-option-item
          [option]="option"
          (click)="selectedOption(option)"
          [thyDisabled]="option.thyDisabled"
          [ngClass]="{ active: option?.thyValue === parent._innerValue || option.selected }"
        ></thy-option-item>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="showOptionComponents.length === 0">
      <div class="pl-4 pt-1 pb-1 text-placeholder">{{ parent._emptyStateText }}</div>
    </ng-container>
  </div>
</div>
