<div class="thy-select-custom-options">
    <div class="thy-select-search" *ngIf="parent.thyShowSearch">
        <thy-input-search thyAutofocus name="search" [(ngModel)]="searchText" (ngModelChange)="changeSearchText()"></thy-input-search>
    </div>
    <ng-container *ngIf="listOfOptionComponent.length > 0">
        <ul class="select-option action-menu action-menu--select mb-0">
            <li class="action-menu-item" [ngClass]="{true:'option-hover-bg',false:''}[option?.value === parent._innerValue?.value]" *ngFor="let option of listOfOptionComponent;"
                option-item [option]="option" (click)="selectedOption(option)">
            </li>
        </ul>
    </ng-container>

    <ng-container *ngIf="listOfOptionGroupComponent.length > 0">
        <div class="select-group mt-2" *ngFor="let group of listOfOptionGroupComponent;">
            <h6 class="group-name" *ngIf="group.listOfOptionComponent.length > 0">{{group.label}}</h6>
            <ul class="select-option action-menu action-menu--select mb-0">
                <li class="action-menu-item" [ngClass]="{true:'option-hover-bg',false:''}[option?.value === parent._innerValue?.value]" *ngFor="let option of group.listOfOptionComponent;"
                    option-item [option]="option" (click)="selectedOption(option)"></li>
            </ul>
        </div>
    </ng-container>
</div>