<ng-content></ng-content>
<div class="thy-form-control" (click)="dropDownMenuToggle()">
    <div class="align-middle" *ngIf="!_mode">
        <span *ngIf="_innerValue">{{_innerValue?.thyLabelText}}</span>
        <span class="text-placeholder" *ngIf="!_innerValue">{{thyPlaceHolder}}</span>
    </div>
    <div class="align-middle" *ngIf="_mode === 'multiple'">
        <span class="mr-1 mb-1" [hidden]="_innerValues?.length === 0" *ngFor="let item of _innerValues;index as i" thyLabel="default"
            thyAfterIcon="wtf-times" (click)="remove($event,item,i)">
            {{item?.thyLabelText}}
        </span>
        <span class="align-middle text-placeholder" *ngIf="_innerValues?.length === 0">
            {{thyPlaceHolder}}
        </span>
    </div>
</div>
<select-container *ngIf="_expandOptions" [listOfOptionComponent]="listOfOptionComponent">