.d-flex-column-fill {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.d-flex-row-fill {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.cursor-pointer {
  cursor: pointer;
}

.thy-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.thy-operation-links {
  >a,
  >button {
    margin-right: $operation-link-margin-y;
    &:last-child {
      margin-right: 0;
    }
  }
}