.d-flex-column-fill {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.d-flex-row-fill {
    flex: auto;
    display: flex;
    flex-direction: row;
}

.thy-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
