<thy-button-group thySize="sm" thyType="outline-default" class="mb-4">
  <button thyButton (click)="operationTrigger = 'always'" [ngClass]="{ active: operationTrigger === 'always' }">Always</button>
  <button thyButton (click)="operationTrigger = 'hover'" [ngClass]="{ active: operationTrigger === 'hover' }">Hover</button>
</thy-button-group>

<thy-properties>
  <thy-property-item [thyOperationTrigger]="operationTrigger" thyLabelText="标题" thyEditable="true">
    这是一个标题
    <ng-template #operation>
      <a href="javascript:;" thyAction thyIcon="arrow-right-circle"></a>
    </ng-template>
    <ng-template #editor>
      <input class="active" thyInput thySize="md" value="这是一个标题" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="概要" thyEditable="true" [thyOperationTrigger]="operationTrigger">
    我没有操作菜单
    <ng-template #editor>
      <input class="active" thyInput thySize="md" value="我没有操作菜单" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="渠道" [thyOperationTrigger]="operationTrigger">
    <span>PingCode</span>
    <ng-template #operation>
      <a href="javascript:;" thyAction thyIcon="publish"></a>
    </ng-template>
  </thy-property-item>
</thy-properties>

<thy-divider thyText="垂直布局"></thy-divider>

<thy-properties thyLayout="vertical" thyColumn="2">
  <thy-property-item thyLabelText="标题" thyEditable="true" [thyOperationTrigger]="operationTrigger">
    这是一个标题
    <ng-template #operation>
      <a href="javascript:;" thyAction thyIcon="arrow-right-circle"></a>
    </ng-template>
    <ng-template #editor>
      <input class="active" thyInput thySize="md" value="这是一个标题" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="概要" thyEditable="true" [thyOperationTrigger]="operationTrigger">
    我没有操作菜单
    <ng-template #editor>
      <input class="active" thyInput thySize="md" value="我没有操作菜单" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="渠道" [thyOperationTrigger]="operationTrigger">
    <span>PingCode</span>
    <ng-template #operation>
      <a href="javascript:;" thyAction thyIcon="edit"></a>
      <a href="javascript:;" thyAction thyIcon="publish"></a>
    </ng-template>
  </thy-property-item>
</thy-properties>
