<thy-datepicker-next-calendar-head (preClick)="preClick()" (nextClick)="nextClick()"></thy-datepicker-next-calendar-head>
<div class="calendar-content">
    <div class="calendar-grid">
        <div class="calendar-row" *ngFor="let row of yearRows;let i=index; trackBy:trackByFn">
            <div class="calendar-cell" *ngFor="let item of row;let i=index; trackBy:trackByFn" (click)="cellClick(item)" [ngClass]="{'active':item.isActive}">
                <span *ngIf="!item.isToday">{{item.year}}</span>
            </div>
        </div>
    </div>
</div>
