<thy-datepicker-next-calendar-head (preClick)="preMonthClick()" (nextClick)="nextMonthClick()"></thy-datepicker-next-calendar-head>
<div class="calendar-content">
    <div class="calendar-grid">
        <div class="calendar-row">
            <div class="calendar-cell" *ngFor="let item of weeks">{{item}}</div>
        </div>
        <div class="calendar-row" *ngFor="let row of calendarRows;let i=index; trackBy:trackByFn">
            <div class="calendar-cell" *ngFor="let item of row;let i=index; trackBy:trackByFn" [ngClass]="calendarCellStyleClass(item)"
                (click)="cellClick(item)">
                <span *ngIf="!item.isToday">{{item.day}}</span>
                <ng-container *ngIf="item.isToday" [ngTemplateOutlet]="todayTemplate"></ng-container>
            </div>
        </div>
    </div>
</div>
<ng-template #todayTemplate>
    <span>今</span>
</ng-template>
