@forward './alpha.scss';
@forward './color-picker-panel.scss';
@forward './hue.scss';
@forward './indicator.scss';
@forward './color-picker-custom-panel.scss';
@forward './inputs.scss';
@forward './saturation.scss';
@use '../../styles/variables';

.thy-color-picker-disabled {
    opacity: 0.5;
    cursor: variables.$disabled-cursor;
}

.thy-color-picker {
    &:not(.disabled) {
        &:focus {
            outline: 0;
            border: 1px solid variables.$primary !important;
        }
    }
}
