@forward './alpha.scss';
@forward './color-picker-panel.scss';
@forward './hue.scss';
@forward './indicator.scss';
@forward './color-picker-custom-panel.scss';
@forward './inputs.scss';
@forward './saturation.scss';

.thy-color-picker-disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
