@use '../../styles/variables';

.thy-hue {
    height: 8px;
    border-radius: 2px;
    display: block;
    cursor: variables.$hand-cursor;
    padding: 0 3px;
    background: linear-gradient(
        to right,
        red 0%,
        #ff8000 8%,
        yellow 17%,
        #80ff00 25%,
        lime 33%,
        #00ff80 42%,
        cyan 50%,
        #0080ff 58%,
        blue 67%,
        #8000ff 75%,
        magenta 83%,
        #ff0080 92%,
        red 100%
    );
    .hue-contianer {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .pointer-container {
        width: 100%;
        height: 100%;
    }
    .pointer {
        height: 8px;
        width: 8px;
        position: absolute;
        border-radius: 50%;
        cursor: variables.$hand-cursor;
        transform: translateX(-4px);
        z-index: 2;
        border: 2px solid variables.$white;
        box-shadow: variables.$box-shadow-picker-pointer;
    }
}
