.thy-color-picker-custom-panel {
    display: block;
    padding: 16px;
}
.controls {
    margin-top: 12px;
    margin-bottom: 15px;
    .indicator-hue-alp {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .rows {
            flex: 1;
            margin-right: 6px;
        }
    }
}
