@use '../../styles/variables';

.thy-saturation {
    width: 100%;
    height: 140px;
    display: block;
    position: relative;
    .color-panel {
        width: 100%;
        height: 100%;
        .color-panel-white,
        .color-panel-black {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .color-panel-white {
            background: linear-gradient(to right, variables.$white, rgba(variables.$white, 0));
        }
        .color-panel-black {
            background: linear-gradient(to top, variables.$black, rgba(variables.$black, 0));
        }
        .color-panel-pointer {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            position: absolute;
            top: 15%;
            left: 90%;
            margin: -7px 0 0 -7px;
            border: 3px solid variables.$white;
            box-shadow: variables.$color-picker-pointer-box-shadow;
        }
    }
}
