@use '../../styles/variables';

.thy-saturation {
    width: 100%;
    height: 140px;
    display: block;
    position: relative;
    .color-panel {
        width: 100%;
        height: 100%;
        .color-panel-white,
        .color-panel-black {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .color-panel-white {
            background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
        }
        .color-panel-black {
            background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
        }
        .color-panel-pointer {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            position: absolute;
            top: 15%;
            left: 90%;
            margin: -7px 0 0 -7px;
            border: 3px solid variables.$always-white;
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        }
    }
}
