<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <thy-input-group>
      <input thyInput name="name" [(ngModel)]="name" maxlength="100" placeholder="Please type name (auto find input-group's input)" />
      <ng-template #suffix>
        <thy-input-count></thy-input-count>
      </ng-template>
    </thy-input-group>
  </div>
  <div thyCol [thySpan]="12">
    <thy-input-group>
      <input thyInput name="name" [(ngModel)]="name" #input="thyInput" maxlength="100" placeholder="Please type name" />
      <ng-template #suffix>
        <thy-input-count [thyInput]="input"></thy-input-count>
      </ng-template>
    </thy-input-group>
  </div>
</div>
