<ng-container *ngIf="(hideOnSinglePage && total > pageSize) || !hideOnSinglePage">
  <div class="thy-pagination-total" *ngIf="showTotal">
    <ng-container *ngIf="!isTemplateRef(showTotal); else totalTemplate">
      <ng-container *ngIf="total > 0">
        <div class="mr-3">
          第<span class="number"> {{ range.from }}-{{ range.to }} </span>{{ config.suffixUnit }}
        </div>
        <div>
          共<span class="number"> {{ total }} </span>{{ config.suffixUnit }}
        </div>
      </ng-container>
    </ng-container>
    <ng-template #totalTemplate>
      <ng-template [ngTemplateOutlet]="showTotal" [ngTemplateOutletContext]="{ $implicit: total, range: range }"></ng-template>
    </ng-template>
  </div>
  <div class="thy-pagination-content">
    <div class="thy-pagination-size" *ngIf="config.showSizeChanger">
      <thy-select [(ngModel)]="selectPageSize" [thySize]="selectSize" [thyDisabled]="disabled" (ngModelChange)="onPageSizeChange($event)">
        <thy-option
          class="page-size-option"
          *ngFor="let option of config.pageSizeOptions"
          [thyValue]="option"
          [thyLabelText]="option + ' ' + config.suffixUnit + '/页'"></thy-option>
      </thy-select>
    </div>
    <ul class="thy-pagination-pages">
      <li
        class="thy-page-item"
        [class.disabled]="disabled || pageIndex === firstIndex"
        *ngIf="config.boundaryLinks"
        (click)="selectPage(firstIndex)">
        <a class="thy-page-link thy-page-link-first" href="javascript:;">
          <ng-container *ngIf="config.firstText">{{ config.firstText }}</ng-container>
          <ng-container *ngIf="config.firstIcon">
            <thy-icon [thyIconName]="config.firstIcon"></thy-icon>
          </ng-container>
        </a>
      </li>
      <li
        class="thy-page-item"
        [class.disabled]="disabled || pageIndex === firstIndex"
        *ngIf="config.directionLinks"
        (click)="selectPage(pageIndex - 1)">
        <a class="thy-page-link page-link-pre" href="javascript:;">
          <ng-container *ngIf="config.previousText">{{ config.previousText }}</ng-container>
          <ng-container *ngIf="config.previousIcon">
            <thy-icon [thyIconName]="config.previousIcon"></thy-icon>
          </ng-container>
        </a>
      </li>
      <li
        class="thy-page-item thy-page-number"
        [class.active]="page.active"
        [class.disabled]="disabled"
        (click)="selectPage(page.index)"
        *ngFor="let page of pages">
        <a class="thy-page-link" href="javascript:;">{{ page.text }}</a>
      </li>
      <li
        class="thy-page-item page-item-next"
        [class.disabled]="disabled || pageIndex === pageCount"
        *ngIf="config.directionLinks"
        (click)="selectPage(pageIndex + 1)">
        <a class="thy-page-link thy-page-link-next" href="javascript:;">
          <ng-container *ngIf="config.nextText">{{ config.nextText }}</ng-container>
          <ng-container *ngIf="config.nextIcon">
            <thy-icon [thyIconName]="config.nextIcon"></thy-icon>
          </ng-container>
        </a>
      </li>
      <li
        class="thy-page-item"
        [class.disabled]="disabled || pageIndex === pageCount"
        *ngIf="config.boundaryLinks"
        (click)="selectPage(pageCount)">
        <a class="thy-page-link thy-page-link-last" href="javascript:;">
          <ng-container *ngIf="config.lastText">{{ config.lastText }}</ng-container>
          <ng-container *ngIf="config.lastIcon">
            <thy-icon [thyIconName]="config.lastIcon"></thy-icon>
          </ng-container>
        </a>
      </li>
    </ul>
    <ng-container *ngIf="config.showTotalPageCount && config.totalPagesFormat">
      <div class="thy-pagination-count" [innerHTML]="pageCount | paginationTotalPagesFormat : config.totalPagesFormat"></div>
    </ng-container>
    <ng-container *ngIf="config.showQuickJumper">
      <div class="thy-pagination-jumper">
        <div class="thy-pagination-jumper-input">
          跳至
          <input type="text" [disabled]="disabled" #jumperInput (thyEnter)="jumpPage(jumperInput)" (blur)="jumpPage(jumperInput)" />
          页
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
