<ng-container *ngIf="(hideOnSinglePage && total > pageSize) || !hideOnSinglePage">
  <ul class="pagination-pages">
    <li
      class="page-item"
      [class.disabled]="disabled"
      *ngIf="config.boundaryLinks && pageIndex !== firstIndex"
      (click)="selectPage(firstIndex)"
    >
      <a class="page-link page-link-first" href="javascript:;">
        <ng-container *ngIf="config.firstText">{{ config.firstText }}</ng-container>
        <ng-container *ngIf="config.firstIcon"><i class="wtf {{ config.firstIcon }}"></i></ng-container>
      </a>
    </li>
    <li
      class="page-item"
      [class.disabled]="disabled"
      *ngIf="config.directionLinks && pageIndex !== firstIndex"
      (click)="selectPage(pageIndex - 1)"
    >
      <a class="page-link  page-link-pre" href="javascript:;">
        <ng-container *ngIf="config.previousText">{{ config.previousText }}</ng-container>
        <ng-container *ngIf="config.previousIcon"><i class="wtf {{ config.previousIcon }}"></i></ng-container>
      </a>
    </li>
    <li
      class="page-item"
      [class.active]="page.active"
      [class.disabled]="disabled"
      *ngFor="let page of pages"
      (click)="selectPage(page.index)"
    >
      <a class="page-link" href="javascript:;">{{ page.text }}</a>
    </li>
    <li
      class="page-item page-item-next"
      [class.disabled]="disabled"
      *ngIf="config.directionLinks && pageIndex !== pageCount"
      (click)="selectPage(pageIndex + 1)"
    >
      <a class="page-link page-link-next" href="javascript:;">
        <ng-container *ngIf="config.nextText">{{ config.nextText }}</ng-container>
        <ng-container *ngIf="config.nextIcon"><i class="wtf {{ config.nextIcon }}"></i></ng-container>
      </a>
    </li>
    <li
      class="page-item"
      [class.disabled]="disabled"
      *ngIf="config.boundaryLinks && pageIndex !== pageCount"
      (click)="selectPage(pageCount)"
    >
      <a class="page-link  page-link-last" href="javascript:;">
        <ng-container *ngIf="config.lastText">{{ config.lastText }}</ng-container>
        <ng-container *ngIf="config.lastIcon"><i class="wtf {{ config.lastIcon }}"></i></ng-container>
      </a>
    </li>
  </ul>
  <ng-container *ngIf="config.totalPagesFormat">
    <div class="pagination-total" [innerHTML]="pageCount | paginationTotalPagesFormat: config.totalPagesFormat"></div>
  </ng-container>
  <ng-container *ngIf="config.showQuickJumper">
    <div class="pagination-jumper">
      <div class="pagination-jumper-input">
        到 <input type="text" [disabled]="disabled" #jumperInput (thyEnter)="jumpPage(jumperInput)" /> 页
      </div>
      <button type="button" (click)="jumpPage(jumperInput)" [disabled]="disabled">确定</button>
    </div>
  </ng-container>
</ng-container>
