<thy-properties #properties thyEditTrigger="hover">
  <thy-property-item thyLabelText="姓名" thyEditable="true">
    {{ user.name }}
    <ng-template #editor>
      <input class="active" thyInput thySize="sm" [(ngModel)]="user.name" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="年龄" thyEditable="true">
    {{ user.age }}
    <ng-template #editor>
      <input thyInput thySize="sm" placeholder="" [(ngModel)]="user.age" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="电话" thyEditable="true">
    {{ user.phone }}
    <ng-template #editor>
      <input thyInput thySize="sm" placeholder="" [(ngModel)]="user.phone" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="爱好" thyEditable="true" #hobby>
    <span *ngIf="user.likes.length === 0">无</span>
    <thy-tag *ngFor="let item of user.likes" class="mr-1" thyShape="pill" thyColor="success">{{ item }}</thy-tag>
    <ng-template #editor>
      <thy-custom-select
        thyMode="multiple"
        thySize="sm"
        [(ngModel)]="user.likes"
        (click)="hobby.setKeepEditing(true)"
        (thyOnExpandStatusChange)="hobby.setKeepEditing($event)"
      >
        <thy-option [thyValue]="'羽毛球'" [thyLabelText]="'羽毛球'"> </thy-option>
        <thy-option [thyValue]="'跑步'" [thyLabelText]="'跑步'"> </thy-option>
        <thy-option [thyValue]="'撸铁'" [thyLabelText]="'撸铁'"> </thy-option>
      </thy-custom-select>
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="居住地址" thyEditable="true">
    {{ user.address }}
    <ng-template #editor>
      <input class="form-control" thyInput thySize="sm" [(ngModel)]="user.address" rows="4" />
    </ng-template>
  </thy-property-item>
</thy-properties>
