<thy-properties #properties thyEditTrigger="hover">
  <thy-property-item thyLabelText="姓名" thyEditable="true">
    {{ user.name }}
    <ng-template #editor>
      <input thyInput thySize="xs" placeholder="" [(ngModel)]="user.name" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="年龄" thyEditable="true">
    {{ user.age }}
    <ng-template #editor>
      <input thyInput thySize="xs" placeholder="" [(ngModel)]="user.age" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="电话" thyEditable="true">
    {{ user.phone }}
    <ng-template #editor>
      <input thyInput thySize="xs" placeholder="" [(ngModel)]="user.phone" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="爱好">
    <thy-tag class="mr-1" thyShape="pill" thyColor="success">羽毛球</thy-tag>
    <thy-tag class="mr-1" thyShape="pill" thyColor="success">跑步</thy-tag>
    <thy-tag class="mr-1" thyShape="pill" thyColor="success">撸铁</thy-tag>
  </thy-property-item>
  <thy-property-item thyLabelText="居住地址" thyEditable="true">
    {{ user.address }}
    <ng-template #editor>
      <textarea class="form-control" placeholder="" [(ngModel)]="user.address" rows="4" (blur)="properties.cancelEditing()"></textarea>
    </ng-template>
  </thy-property-item>
</thy-properties>
