<thy-properties #properties thyEditTrigger="hover">
  <thy-property-item thyLabelText="姓名" thyEditable="true">
    {{ user.name }}
    <ng-template #editor>
      <input class="active" thyInput thySize="md" [(ngModel)]="user.name" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="年龄" thyEditable="true">
    {{ user.age }}
    <ng-template #editor>
      <thy-input-number
        thySize="md"
        [(ngModel)]="user.age"
        [thyAutoFocus]="true"
        thyPrecision="0"
        [thyMax]="100"
        [thyStep]="1"
      ></thy-input-number>
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="出生日期" thyEditable="true" #item>
    {{ user.birth_date * 1000 | date: 'yyyy-MM-dd HH:mm' }}
    <ng-template #editor>
      <thy-date-picker
        thyShowTime
        [thyFormat]="'yyyy-MM-dd HH:mm'"
        thyPlaceHolder="选择时间"
        [(ngModel)]="user.birth_date"
        thySize="md"
      ></thy-date-picker>
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="电话" thyEditable="true">
    {{ user.phone }}
    <ng-template #editor>
      <input thyInput thySize="md" placeholder="" [(ngModel)]="user.phone" />
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="性别" thyEditable="true" #hobby>
    <span>{{ user.sex || '无' }}</span>
    <ng-template #editor>
      <thy-custom-select thySize="md" [(ngModel)]="user.sex">
        <thy-option [thyValue]="'男'" [thyLabelText]="'男'"> </thy-option>
        <thy-option [thyValue]="'女'" [thyLabelText]="'女'"> </thy-option>
      </thy-custom-select>
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="爱好" thyEditable="true" #hobby>
    <span *ngIf="user.likes.length === 0">无</span>
    <thy-tag *ngFor="let item of user.likes" class="mr-1" thyShape="pill" thyColor="success">{{ item }}</thy-tag>
    <ng-template #editor>
      <thy-custom-select thyMode="multiple" thySize="md" [(ngModel)]="user.likes">
        <thy-option [thyValue]="'羽毛球'" [thyLabelText]="'羽毛球'"> </thy-option>
        <thy-option [thyValue]="'跑步'" [thyLabelText]="'跑步'"> </thy-option>
        <thy-option [thyValue]="'撸铁'" [thyLabelText]="'撸铁'"> </thy-option>
        <thy-option [thyValue]="'游泳'" [thyLabelText]="'游泳'"> </thy-option>
        <thy-option [thyValue]="'滑雪'" [thyLabelText]="'滑雪'"> </thy-option>
        <thy-option [thyValue]="'摩托车'" [thyLabelText]="'摩托车'"> </thy-option>
      </thy-custom-select>
    </ng-template>
  </thy-property-item>
  <thy-property-item thyLabelText="居住地址" thyEditable="true">
    {{ user.address }}
    <ng-template #editor>
      <input class="form-control" thyInput thySize="md" [(ngModel)]="user.address" rows="4" />
    </ng-template>
  </thy-property-item>
</thy-properties>
