<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true"></thy-avatar>
<thy-avatar thyName="luxiaobei" [thyShowName]="false"></thy-avatar>
<button thyButton="primary-square" thySize="sm" (click)="toggleSrcTransform()">切换图片路径</button>
<span class="text-danger ml-2">avatarSrc</span>: {{ avatarSrc }}
<br />
<br />
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thyName="路晓贝"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thyName="路晓贝" [thyShowName]="true"></thy-avatar>
