.demo-sidebar {
    padding-top: 25px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Roboto, Microsoft YaHei, Source Han Sans SC,
        Noto Sans CJK SC, Myriad Pro, Hiragino Sans, Yu Gothic, Lucida Grande, sans-serif;
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        transition: background-color 0.3s;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: #ddd;
        }
    }
    .toc-section {
        .toc-section-head {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            color: #333333;
            font-size: 16px;
            a {
                color: #333333;
                text-decoration: none;
                transition: all 200ms;
                &:hover {
                    color: #22d7bb;
                }
            }
            .mate {
                margin-left: 6px;
                padding-top: 3px;
                line-height: 1;
                font-size: 12px;
                color: #aaaaaa;
            }
            .extend-icon {
                margin-left: auto;
            }
        }
        .toc-section-body {
            .toc-item-group {
                padding-left: 30px;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.43);
            }
            .toc-item {
                a {
                    padding-left: 50px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: rgba(0, 0, 0, 0.65);
                    text-decoration: none;
                    transition: all 200ms;
                    span {
                        font-size: 12px;
                    }
                    &:hover {
                        color: #22d7bb;
                    }
                    &.active {
                        border-right: solid 2px #22d7bb;
                        background: #e8fbf8;
                    }
                    .deprecated {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}
