<dl>
  <dd class="toc-section" *ngFor="let group of allMenus">
    <div class="toc-section-head">
      {{ group.zhName }}
      <span class="mate">{{ group.name }}</span>
      <a class="extend-icon" href="javascript:;" *ngIf="group.children" (click)="group.collapse = !group.collapse">
        <i class="wtf wtf-angle-right"></i>
      </a>
    </div>

    <div class="toc-section-body" *ngIf="group.children && !group.collapse">
      <ng-container *ngIf="group.noSubGroups; else subGroupTemplate">
        <dd class="toc-item" *ngFor="let item of group.children">
          <a [routerLink]="[group.routePath, item.routePath]" routerLinkActive="active">
            {{ item.name }}
            <span>{{ item.zhName }}</span>
          </a>
        </dd>
      </ng-container>
      <ng-template #subGroupTemplate>
        <dl *ngFor="let subGroup of group.children">
          <dd class="toc-item-group">{{ subGroup.name }}</dd>
          <dd class="toc-item" *ngFor="let item of subGroup.children">
            <a [routerLink]="[group.routePath, item.routePath]" routerLinkActive="active">
              {{ item.name }}
              <span>{{ item.zhName }}</span>
            </a>
          </dd>
        </dl>
      </ng-template>
    </div>
  </dd>
</dl>
