<div class="demo-card">
  <thy-icon-nav>
    <a
      href="javascript:;"
      thyIconNavLink
      thyIconNavLinkActive="true"
      thyIconNavLinkIcon="vertical-view-lines"
      thyTooltip="视图"
      thyTooltipPlacement="bottom"
    ></a>
    <a href="javascript:;" thyIconNavLink thyTooltip="排序" thyTooltipPlacement="bottom"
      ><thy-icon thyIconName="sort"></thy-icon
    ></a>
    <a href="javascript:;" thyIconNavLink thyTooltip="筛选" thyTooltipPlacement="bottom"
      ><thy-icon thyIconName="filter"></thy-icon
    ></a>
  </thy-icon-nav>

  <thy-icon-nav class="mt-2" thyType="secondary">
    <a
      href="javascript:;"
      thyIconNavLink
      thyIconNavLinkActive="true"
      thyTooltip="上传附件"
      thyIconNavLinkIcon="attachment-bold"
    ></a>
    <a href="javascript:;" thyIconNavLink thyTooltip="分享给其他人"
      ><thy-icon thyIconName="arrow-right-up-square-bold"></thy-icon
    ></a>
    <a href="javascript:;" thyIconNavLink thyTooltip="更多操作"><thy-icon thyIconName="more-bold"></thy-icon></a>
  </thy-icon-nav>

  <thy-icon-nav class="mt-2" thyType="individual">
    <a
      href="javascript:;"
      thyIconNavLink
      thyIconNavLinkActive="true"
      thyTooltip="上传附件"
      thyIconNavLinkIcon="attachment-bold"
    ></a>
    <a href="javascript:;" thyIconNavLink thyTooltip="分享给其他人"
      ><thy-icon thyIconName="arrow-right-up-square-bold"></thy-icon
    ></a>
    <a href="javascript:;" thyIconNavLink thyTooltip="更多操作"><thy-icon thyIconName="more-bold"></thy-icon></a>
  </thy-icon-nav>
</div>
