<thy-button-group thyType="outline-default">
  <button thyButton (click)="isShow = true" [class]="isShow ? 'active' : ''">show</button>
  <button thyButton (click)="isShow = false" [class]="!isShow ? 'active' : ''">hide</button>
</thy-button-group>
<div style="margin-top: 10px">
  <thy-carousel [thyIndicatorRender]="indicatorRender" [thyIndicators]="isShow">
    @for (slide of array; track slide) {
      <div thyCarouselItem class="custom-carousel-item">
        {{ slide }}
      </div>
    }
  </thy-carousel>
</div>
<ng-template #indicatorRender let-active>
  <span class="custom-indicator" [class]="active ? 'active' : ''"></span>
</ng-template>
