<p>自定义高亮区域以及提示区域的位置</p>
<span class="custom-point-position display-inline-block border border-primary font-weight-normal">1.通过 offset 自定义高亮点位置</span>
<div class="my-3"></div>
<span class="custom-tip-position font-weight-normal border border-primary">2.通过设置 placement 改变 tip 位置</span>
<div class="my-3"></div>
<span class="custom-tip-position-2  font-weight-normal border border-primary">3.通过 offset 自定义 tip 位置</span>
<div class="my-3"></div>
<span class="custom-tip-position-3  font-weight-normal border border-primary">4.通过 defaultTipPosition 自定义 tip 位置</span>
<div class="my-3"></div>
<button thyButton="primary" (click)="startTour()">开始</button>
