<form thyForm thyLayout="vertical" #demoForm="thyForm" #demoVerticalForm="ngForm">
  <div thyRow [thyGutter]="30">
    <thy-form-group thyCol [thySpan]="12" thyLabelText="Placement">
      <thy-native-select name="size" [(ngModel)]="hintPlacement" (ngModelChange)="updatePlacement($event)" name="placement">
        <option value="top">top</option>
        <option value="topLeft">topLeft</option>
        <option value="topRight">topRight</option>
        <option value="bottom">bottom</option>
        <option value="bottomLeft">bottomLeft</option>
        <option value="bottomRight">bottomRight</option>
        <option value="left">left</option>
        <option value="leftTop">leftTop</option>
        <option value="leftBottom">leftBottom</option>
        <option value="right">right</option>
        <option value="rightTop">rightTop</option>
        <option value="rightBottom">rightBottom</option>
      </thy-native-select>
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="12" thyLabelText="hintOffset">
      <div class="px-2">
        <thy-slider [(ngModel)]="hintOffset" (thyAfterChange)="updateHintOffset($event)" name="hintOffset"></thy-slider>
      </div>
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="12" thyLabelText="pointOffset">
      <div class="px-2">
        <div class="d-flex align-items-center py-1">
          <span class="d-inline-block mr-3">X: </span
          ><thy-slider [(ngModel)]="pointXOffset" (thyAfterChange)="updatePointXOffset($event)" name="pointXOffset"></thy-slider>
        </div>
        <div class="d-flex align-items-center py-1">
          <span class="d-inline-block mr-3">Y: </span
          ><thy-slider [(ngModel)]="pointYOffset" (thyAfterChange)="updatePointYOffset($event)" name="pointYOffset"></thy-slider>
        </div>
      </div>
    </thy-form-group>
  </div>
</form>

<button class="mb-4 custom-guider-position" thyButton="info" (click)="startTour()">开始</button>

<p><strong>如果需要设置新手引导的位置是相对于页面</strong>：</p>
<p>一种方式是配置 <code>defaultPosition</code> 的值:</p>
<button class="mb-3 custom-guider-position" thyButton="info" (click)="baseOnDefaultPosition()">基于页面位置的配置1</button>
<p>
  另一种方式是配置 <code>ThyGuiderStep</code> 的 <code>target</code> 属性为 <code>{{ '{' }}x: number, y: number {{ '}' }}</code> 类型:
</p>
<button class="custom-guider-position" thyButton="info" (click)="baseOnTargetPosition()">基于页面位置的配置2</button>
