<form thyForm thyLayout="vertical" #demoForm="thyForm" #demoVerticalForm="ngForm">
  <div thyRow [thyGutter]="30">
    <thy-form-group thyCol [thySpan]="12" thyLabelText="Placement">
      <thy-select name="size" [(ngModel)]="hintPlacement" (ngModelChange)="updatePlacement($event)" name="placement">
        <thy-option thyValue="top" thyLabelText="top"></thy-option>
        <thy-option thyValue="topLeft" thyLabelText="topLeft"></thy-option>
        <thy-option thyValue="topRight" thyLabelText="topRight"></thy-option>
        <thy-option thyValue="bottom" thyLabelText="bottom"></thy-option>
        <thy-option thyValue="bottomLeft" thyLabelText="bottomLeft"></thy-option>
        <thy-option thyValue="bottomRight" thyLabelText="bottomRight"></thy-option>
        <thy-option thyValue="left" thyLabelText="left"></thy-option>
        <thy-option thyValue="leftTop" thyLabelText="leftTop"></thy-option>
        <thy-option thyValue="leftBottom" thyLabelText="leftBottom"></thy-option>
        <thy-option thyValue="right" thyLabelText="right"></thy-option>
        <thy-option thyValue="rightTop" thyLabelText="rightTop"></thy-option>
        <thy-option thyValue="rightBottom" thyLabelText="rightBottom"></thy-option>
      </thy-select>
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="12" thyLabelText="hintOffset">
      <div class="px-2">
        <thy-slider [(ngModel)]="hintOffset" (thyAfterChange)="updateHintOffset($event)" name="hintOffset"></thy-slider>
      </div>
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="12" thyLabelText="pointOffset">
      <div class="px-2">
        <div class="d-flex align-items-center py-1">
          <span class="d-inline-block mr-3">X: </span
          ><thy-slider [(ngModel)]="pointXOffset" (thyAfterChange)="updatePointXOffset($event)" name="pointXOffset"></thy-slider>
        </div>
        <div class="d-flex align-items-center py-1">
          <span class="d-inline-block mr-3">Y: </span
          ><thy-slider [(ngModel)]="pointYOffset" (thyAfterChange)="updatePointYOffset($event)" name="pointYOffset"></thy-slider>
        </div>
      </div>
    </thy-form-group>
  </div>
</form>

<button class="mb-4 custom-guider-position" thyButton="info" (click)="startTour()">开始</button>

<p><strong>如果需要设置新手引导的位置是相对于页面</strong>：</p>
<p>一种方式是配置 <code>defaultPosition</code> 的值:</p>
<button class="mb-3 custom-guider-position" thyButton="info" (click)="baseOnDefaultPosition()">基于页面位置的配置1</button>
<p>
  另一种方式是配置 <code>ThyGuiderStep</code> 的 <code>target</code> 属性为 <code>{{ '{' }}x: number, y: number {{ '}' }}</code> 类型:
</p>
<button class="custom-guider-position" thyButton="info" (click)="baseOnTargetPosition()">基于页面位置的配置2</button>
