<div class="section">
  <thy-alert thyTheme="naked" thyType="info" thyMessage="按 Control + M 聚焦输入框" [thyIcon]="'lightbulb'"> </thy-alert>
  <input class="mt-2" thyHotkey="Control+m" thyInput />
</div>
<div class="section mt-5">
  <thy-alert
    thyTheme="naked"
    thyType="info"
    thyMessage="按 T 聚焦输入框，聚焦后按 Command + Enter 或 Control + Enter 保存内容"
    [thyIcon]="'lightbulb'">
  </thy-alert>
  <textarea class="form-control mt-2" #textarea thyHotkey="t" rows="3" [value]="content"></textarea>
  <button
    class="mt-2 float-right"
    [thyHotkey]="['Control+Enter', 'Meta+Enter']"
    [thyHotkeyScope]="textarea"
    thyButton="primary"
    thySize="sm"
    (click)="save()">
    保存
  </button>
</div>
