<div class="d-flex mb-4" [style.width]="'300px'">
  @for (item of [0, 1, 2]; track item; let i = $index) {
    <div class="target-item align-items-center" [ngStyle]="{ display: 'flex', 'flex-direction': 'column', width: '100px', height: '50px' }">
      <thy-switch thySize="sm" [(ngModel)]="targetConfig['target' + item]" thyStopPropagation></thy-switch>
      @if (targetConfig['target' + item]) {
        <span [ngClass]="'target-' + item">Target {{ item }}</span>
      }
    </div>
  }
</div>

<button thyButton="info" (click)="startTour()">开始</button>
