.thy-date-range {
    &.thy-date-range-hidden-menu {
        .thy-date-text {
            &:hover {
                cursor: default;
            }
        }
    }
    .thy-date-text {
        padding: 5px 15px;
        position: relative;

        .thy-date-text-caret-down {
            display: none;
        }
        &:hover {
            cursor: pointer;

            .thy-date-text-caret-down {
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: $gray-700;
            }
        }
    }
}
.thy-date-range-menu-item {
    width: 100%;
    border: none !important;
    transition: padding 200ms !important;
    &:hover {
        padding-left: 30px;
    }
    &:focus{
        outline: none;
    }
}
