@use "../../styles/bootstrap/mixins/hover" as mixins-hover;
@use "../../styles/mixins/hover";
@use "../../styles/variables";

@mixin nav-link-variant($color, $hover-color, $border-bottom) {
    color: $color;
    > i,
    > .thy-icon {
        color: variables.$nav-item-icon-color;
    }

    &.active {
        color: $hover-color;
        @if $border-bottom {
            border-bottom: $border-bottom;
        }
        > i,
        > .thy-icon {
            color: $hover-color;
        }
    }
    @include hover.hover-active {
        color: $hover-color;
        text-decoration: none;
        @if $border-bottom {
            border-bottom: $border-bottom;
        }
        > i,
        > .thy-icon {
            color: $hover-color;
        }
    }
    // Disabled state lightens text
    &.disabled {
        color: variables.$nav-item-disabled-color;
        border-bottom: none;
    }
}

@mixin nav-link-size($padding, $margin-right, $font-size: variables.$nav-item-font-size) {
    font-size: $font-size;
    padding: $padding;
    margin-right: $margin-right;
    &:last-child {
        margin-right: 0;
    }
}

@mixin nav-link-clear-margin-right() {
    &:last-child {
        margin-right: 0;
    }
}

@mixin nav-link-divider-variant($nav-item-hover-color, $divider-height, $nav-item-padding-right) {
    position: relative;
    &:after {
        display: block;
        position: absolute;
        width: 0;
        content: '';
        border-right: 1px solid variables.$nav-divider-color;
        top: calc(50% - #{$divider-height} / 2);
        right: ($nav-item-padding-right * 0.5) * -1;
        height: $divider-height;
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
    @include hover.hover-active {
        color: $nav-item-hover-color;
        text-decoration: none;
    }
    .thy-icon,
    i {
        margin-right: variables.$rem-5px;
    }
}

@mixin clear-nav-link-bottom {
    border-bottom: none;
    &.active {
        border-bottom: none;
    }
    @include mixins-hover.hover-focus-active {
        border-bottom: none;
    }
}
