.thy-nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    text-align: center;
    transform: translateY(1px);
    @include nav-link-variant($nav-link-color, $nav-link-hover-color, $nav-border-bottom);
}

.nav-primary {
    .nav-link {
        @include nav-link-size($nav-link-primary-padding-y $nav-link-primary-padding-x, $nav-link-primary-right);
        min-width: $nav-link-primary-min-width;
        @include nav-link-variant($nav-link-primary-color, $nav-link-hover-color, $nav-border-bottom);
    }
}

.nav-secondary {
    border-bottom: 1px solid $nav-border-color;
    .nav-link {
        @include nav-link-size($nav-link-secondary-padding-y $nav-link-secondary-padding-x, $nav-link-secondary-right);
    }
}

.nav-secondary-divider {
    border-bottom: 1px solid $nav-border-color;
    .nav-link {
        @include nav-link-size($nav-link-secondary-padding-y $nav-link-secondary-padding-x, $nav-link-secondary-split-right);
        @include nav-link-divider-variant($nav-link-hover-color, $nav-link-thirdly-split-line-height, $nav-link-secondary-split-right);
    }
}

.nav-thirdly {
    .nav-link {
        @include nav-link-size ($nav-link-thirdly-padding-y $nav-link-thirdly-padding-x, $nav-link-thirdly-right);
        @include nav-link-divider-variant($nav-link-hover-color, $nav-link-thirdly-split-line-height, $nav-link-thirdly-right);
        @include clear-nav-link-bottom();
    }
}

.nav-sm {
    .nav-link {
        padding: $nav-link-thirdly-padding-y-sm $nav-link-thirdly-padding-x-sm;
        margin-right: $nav-link-thirdly-right-sm;
        font-size: $font-size-sm;
        &:after {
            top: calc(50% - #{$nav-link-thirdly-split-line-height-sm}/2);
            right: $nav-link-thirdly-right-sm/2 * -1;
            height: $nav-link-thirdly-split-line-height-sm;
        }
    }
}

.thy-layout-header .thy-nav {
    line-height: normal;
}

.thy-layout-header .nav-primary {
    // 为了和字体大 2px 的标题在一条线上
    .nav-link {
        padding: ($nav-link-primary-padding-y + 0.0625rem) $nav-link-primary-padding-x ($nav-link-primary-padding-y - 0.0625rem) $nav-link-primary-padding-x;
    }
}

.thy-nav--vertical {
    display: block;
    .nav-link {
        margin-right: 0;
        text-align: left;
        border-left: $nav-vertical-border-left-empty;
        &.active,
        &:hover,
        &:focus,
        &:active {
            border-bottom: 0;
            border-left: $nav-vertical-border-left;
        }
    }
}

.thy-nav--fill {
    .nav-link {
        flex: 1 1 auto;
        text-align: center;
    }
}