@use "sass:meta";
@use "../../styles/variables";
@use "mixin";

.thy-nav {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    .thy-nav-item,
    .nav-link {
        display: block;
        text-align: center;
        // fix nav link bounce when hover or active nav-link, see https://at.worktile.com/agile/items/5e5f0bf810ae8c0a4db1e53f
        // the reason is layout-header-operation has { align-items: center} style
        // set border width always regardless hover or active
        border-bottom-style: solid;
        border-bottom-width: variables.$nav-border-width;
        border-bottom-color: transparent;
        flex: 0 auto;

        @include mixin.nav-link-variant(variables.$nav-link-color, variables.$nav-link-hover-color, variables.$nav-border-bottom);
    }
}

.nav-primary {
    .nav-link {
        @include mixin.nav-link-size(
            variables.$nav-link-primary-padding-y variables.$nav-link-primary-padding-x,
            variables.$nav-link-primary-right
        );
        min-width: variables.$nav-link-primary-min-width;
        @include mixin.nav-link-variant(variables.$nav-link-primary-color, variables.$nav-link-hover-color, variables.$nav-border-bottom);
    }
    .thy-nav-item {
        @include mixin.nav-item-size(variables.$nav-link-primary-right);
    }
}

.nav-secondary {
    border-bottom: 1px solid variables.$nav-border-color;
    .nav-link {
        transform: translateY(1px);
        @include mixin.nav-link-size(
            variables.$nav-link-secondary-padding-y variables.$nav-link-secondary-padding-x,
            variables.$nav-link-secondary-right
        );
    }
}

.nav-secondary-divider {
    border-bottom: 1px solid variables.$nav-border-color;
    .nav-link {
        transform: translateY(1px);
        @include mixin.nav-link-size(
            variables.$nav-link-secondary-padding-y variables.$nav-link-secondary-padding-x,
            variables.$nav-link-secondary-split-right
        );
        @include mixin.nav-link-divider-variant(
            variables.$nav-link-hover-color,
            variables.$nav-link-thirdly-split-line-height,
            variables.$nav-link-secondary-split-right
        );
    }
}

.nav-thirdly {
    .nav-link {
        @include mixin.nav-link-size(
            variables.$nav-link-thirdly-padding-y variables.$nav-link-thirdly-padding-x,
            variables.$nav-link-thirdly-right
        );
        @include mixin.nav-link-divider-variant(
            variables.$nav-link-hover-color,
            variables.$nav-link-thirdly-split-line-height,
            variables.$nav-link-thirdly-right
        );
        @include mixin.clear-nav-link-bottom();
    }
}

.nav-sm {
    .nav-link {
        padding: variables.$nav-link-thirdly-padding-y-sm variables.$nav-link-thirdly-padding-x-sm;
        margin-right: variables.$nav-link-thirdly-right-sm;
        font-size: variables.$font-size-sm;
        &:after {
            top: calc(50% - #{variables.$nav-link-thirdly-split-line-height-sm}/ 2);
            right: variables.$nav-link-thirdly-right-sm/2 * -1;
            height: variables.$nav-link-thirdly-split-line-height-sm;
        }
    }
}

.thy-layout-header .thy-nav {
    line-height: variables.$line-height-base;
}

.thy-layout-header .nav-primary {
    // 为了和字体大 2px 的标题在一条线上
    .nav-link {
        padding: (variables.$nav-link-primary-padding-y + 0.0625rem) variables.$nav-link-primary-padding-x
            (variables.$nav-link-primary-padding-y - 0.0625rem) variables.$nav-link-primary-padding-x;
    }
}

.thy-nav--vertical {
    display: block;
    .nav-link {
        margin-right: 0;
        text-align: left;
        border-left: variables.$nav-vertical-border-left-empty;
        // set border width as 0
        border-bottom-width: 0px;
        &.active,
        &:hover,
        &:focus,
        &:active {
            border-bottom: 0;
            border-left: variables.$nav-vertical-border-left;
        }
    }
}

.thy-nav--fill {
    .nav-link {
        flex: 1 1 auto;
        text-align: center;
    }
}

@include meta.load-css('./icon-nav.scss');

.thy-nav-list {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 auto;
    overflow: hidden;
    .nav-item-hidden {
        display: none;
    }
}

.thy-nav-list-popover {
    .thy-nav-item {
        display: none;
    }
    .nav-item-hidden {
        display: block;
    }
    .more-nav-link,
    .more-nav-link * {
        text-decoration: none;
        color: variables.$secondary;
        &:hover {
            color: variables.$gray-800;
        }
    }
}

.thy-nav-more-container {
    flex: 1 !important;
    flex-grow: 0 !important;
}
