<thy-file-select class="mt-2 d-inline-block" (thyOnFileSelect)="selectFiles($event)">
  <button thyButton="primary">Click to Upload</button>
</thy-file-select>

<thy-file-select [thyMultiple]="true" class="mt-2 d-inline-block ml-3" (thyOnFileSelect)="selectFiles($event)">
  <button thyButton="primary">Click to Upload Multiple Files</button>
</thy-file-select>

@for (queueFile of queueFiles; track $index) {
  <div>
    <div style="margin: 5px 0">
      {{ queueFile.fileName }} speed: {{ queueFile.progress.speedHuman }}, estimatedTime - {{ queueFile.progress.estimatedTimeHuman }}
    </div>
    <thy-progress class="progress" type="success" [thyValue]="queueFile.progress.percentage"></thy-progress>
  </div>
}
