<form thyForm thyLayout="vertical">
  <thy-form-group thyLabelText="级联单选 & 只能选择叶节点">
    <thy-cascader
      class="w-50"
      name="singleModeLeafLevel"
      [thyOptions]="areaCode"
      [thyHasBackdrop]="false"
      [thyCustomOptions]="customOptions"
      [(ngModel)]="values"
      (ngModelChange)="selectChanges($event)">
    </thy-cascader>
  </thy-form-group>

  <thy-form-group thyLabelText="级联单选 & 可选择任何节点">
    <thy-cascader
      class="w-50"
      name="singleModeAnyLevel"
      [thyOptions]="areaCode"
      [thyCustomOptions]="customOptions"
      [(ngModel)]="singleValues"
      (ngModelChange)="selectChanges($event)"
      [thyShowSearch]="true"
      [thyIsOnlySelectLeaf]="false">
    </thy-cascader>
  </thy-form-group>

  <thy-form-group thyLabelText="级联多选 & 只能选择叶节点">
    <thy-cascader
      class="d-block w-50"
      name="multiModeLeafLevel"
      thyValueProperty="_id"
      thyLabelProperty="text"
      [thyOptions]="options"
      [(ngModel)]="multipleValues"
      [thyCustomOptions]="customOptions2"
      [thyMultiple]="true"
      (ngModelChange)="selectChanges($event)"
      [thyLabelRender]="renderTpl"
      [thyShowSearch]="true">
    </thy-cascader>
  </thy-form-group>

  <thy-form-group thyLabelText="级联多选 & 可选择任何节点">
    <thy-cascader
      class="d-block w-50"
      name="multiModeAnyLevel"
      [thyOptions]="areaCode"
      [(ngModel)]="multipleValues2"
      [thyCustomOptions]="customOptions"
      [thyMultiple]="true"
      (ngModelChange)="selectChanges($event)"
      [thyLabelRender]="renderTpl"
      [thyIsOnlySelectLeaf]="false"
      [thyShowSearch]="true">
    </thy-cascader>
  </thy-form-group>
</form>

<ng-template #renderTpl let-labels="labels" let-selectedOptions="selectedOptions">
  @for (label of labels; track label; let i = $index; let isLast = $last) {
    @if (isLast && label) {
      <span> {{ label }}</span>
    }
  }
</ng-template>
