<button thyButton="primary" (click)="addModal(add,{size:'lg'})">添加</button>
<button thyButton="primary" (click)="addModal(addDefine,{size:'lg'})">添加自定义title、footer</button>
<button thyButton="primary" (click)="openModalComponent()">使用组件创建modal框</button>
<!-- <api-parameters title="参数列表" [parameters]="apiParameters"></api-parameters> -->

<ng-template #add>
    <thy-modal>
        <thy-modal-header thyTitle="添加项目" (thyOnClose)="hideModal()">
        </thy-modal-header>
        <thy-modal-body>
            <span>添加一个项目</span>
            <h1>H1 标题</h1>
            <h2>H2 标题</h2>
            <h3>H3 标题</h3>
        </thy-modal-body>
        <thy-modal-footer (thyOnSave)="save()" (thyOnCancel)="cancel()" [thySaving]="saving" thySaveText="保存" thySavingText="保存中..."> </thy-modal-footer>
    </thy-modal>
</ng-template>

<ng-template #addTwo>
    <thy-modal>
        <thy-modal-header thyTitle="添加项目2">
        </thy-modal-header>
        <thy-modal-body>
            <span>添加一个项目2</span>
        </thy-modal-body>
    </thy-modal>
</ng-template>

<ng-template #addDefine>
    <thy-modal>
        <thy-modal-header>
            <ng-template>
                <h3 class="modal-title">自定义title</h3>
                <button type="button" class="close" (click)="closeModal($event)">
                    <i class="wtf wtf-times"></i>
                </button>
            </ng-template>
        </thy-modal-header>
        <thy-modal-body>
            <span>添加一个项目</span>
        </thy-modal-body>
        <thy-modal-footer>
            <ng-template>
                <button thyButton="link-secondary" class="btn btn-link btn-link-default" (click)="closeModal()">上一步</button>
                <button thyButton="primary" (click)="closeModal()">确认</button>
                <button thyButton="link-secondary" class="btn btn-link btn-link-default" (click)="closeModal()">取消</button>
            </ng-template>
        </thy-modal-footer>
    </thy-modal>
</ng-template>