<thy-tree-select
  [thyTreeNodes]="treeSelectNodes"
  thyPrimaryKey="key"
  thyShowKey="title"
  thyPlaceholder="请选择树选择的值"
  thyDisableNodeKey="disabled"
  [(ngModel)]="selectedValue">
  <ng-template #treeNodeTemplate let-node>
    <thy-icon class="prefix-icon" [thyIconName]="node.expand ? 'folder-open-fill' : 'folder-fill'"></thy-icon>
    {{ node.title }}
  </ng-template>
</thy-tree-select>

<h6 class="my-3">通过设置数据的相关值来禁用节点</h6>
<p>
  设置 <code>thyDisableNodeKey </code>的值为要隐藏的 key 值（或者使用默认值 <code>disabled </code>），修改 <code>thyTreeNodes </code> 中相关
  key 值为 <code>true</code>:
  <thy-switch [(ngModel)]="isDisabled" (ngModelChange)="disabledNode()"></thy-switch>
</p>

<thy-tree-select
  [thyTreeNodes]="treeSelectNodes"
  thyPrimaryKey="key"
  thyShowKey="title"
  thyPlaceholder="请选择树选择的值"
  thyDisableNodeKey=""
  [thyDisableNodeFn]="disabledNodeFn"
  [(ngModel)]="selectedValue">
  <ng-template #treeNodeTemplate let-node>
    <thy-icon class="prefix-icon" [thyIconName]="node.expand ? 'folder-open-fill' : 'folder-fill'"></thy-icon>
    {{ node.title }}
  </ng-template>
</thy-tree-select>
<h6 class="my-3">通过设置 <code>thyDisableNodeFn </code>来禁用节点：</h6>
<p>函数的返回值为要禁用的节点的 key。</p>
<p>
  注意，由于 <code>thyDisableNodeFn </code>的优先级小于 <code>thyDisableNodeKey </code>并且
  <code>thyDisableNodeKey </code>有默认值，所以在使用 <code>thyDisableNodeFn </code> 时，需要将 <code>thyDisableNodeKey </code> 设置为假值。
</p>
