<div class="demo-card demo-buttons">
  Button:
  <button thyButton="link">预览</button>
  <button thyButton="link-secondary">取消</button>
  <button thyButton="link-danger-weak">删除</button>
  <button thyButton="link-danger">删除</button>
  <button thyButton="link-success">成功按钮链接</button>
  <br />
  Disabled:
  <button thyButton="link" class="disabled">预览</button>
  <button thyButton="link-secondary" disabled="">取消</button>
  <button thyButton="link-danger-weak" disabled="">删除</button>
  <button thyButton="link-danger" disabled="">删除</button>
  <button thyButton="link-success" disabled="">成功按钮链接</button>
  <br />
  Link:
  <a href="javascript:;" thyButton="link">预览</a>
  <a href="javascript:;" thyButton="link-secondary">取消</a>
</div>
