<!-- <thy-property-item thyEditTrigger="click" (thyEditingChange)="changeEditing($event)" thyEditable="true">
  <thy-avatar thyName="张萌" thySize="xxs" thyShowName="true"></thy-avatar>
  <ng-template #editor>
    <input thyInput thySize="md" placeholder="" />
  </ng-template>
  <ng-template #operation>
    <a href="javascript:;" thyAction thyIcon="publish"></a>
  </ng-template>
</thy-property-item> -->

<thy-property-item thyEditTrigger="click" (thyEditingChange)="changeEditing($event)" thyEditable="true">
  {{ user.name }}
  <ng-template #editor>
    <input class="active" thyInput thySize="md" [(ngModel)]="user.name" />
  </ng-template>
</thy-property-item>

<thy-property-item thyEditTrigger="hover" (thyEditingChange)="changeEditing($event)" thyEditable="true">
  {{ user.age }}
  <ng-template #editor>
    <thy-input-number
      #number
      thySize="md"
      [(ngModel)]="user.age"
      [thyAutoFocus]="true"
      thyPrecision="0"
      [thyMax]="100"
      [thyStep]="1"></thy-input-number>
  </ng-template>
</thy-property-item>
