<thy-space>
  <span *thySpaceItem thyTextColor="primary">primary</span>
  <span *thySpaceItem thyTextColor="success">success</span>
  <span *thySpaceItem thyTextColor="info">info</span>
  <span *thySpaceItem thyTextColor="danger">danger</span>
  <span *thySpaceItem thyTextColor="warning">warning</span>
  <span *thySpaceItem thyTextColor="default">default</span>
  <span *thySpaceItem thyTextColor="light">light</span>
  <span *thySpaceItem thyTextColor="secondary">secondary</span>
  <span *thySpaceItem thyTextColor="muted">muted</span>
  <span *thySpaceItem thyTextColor="desc">desc</span>
  <span *thySpaceItem thyTextColor="placeholder">placeholder</span>
  <thy-text *thySpaceItem thyTextColor="#c9584e">Custom color '#c9584e'</thy-text>
</thy-space>
