<span>预设文本颜色：</span>
<span class="mr-3" thyText thyColor="primary">primary</span>
<span class="mr-3" thyText thyColor="success">success</span>
<span class="mr-3" thyText thyColor="info">info</span>
<span class="mr-3" thyText thyColor="danger">danger</span>
<span class="mr-3" thyText thyColor="warning">warning</span>
<span class="mr-3" thyText thyColor="default">default</span>
<span class="mr-3" thyText thyColor="light">light</span>
<span class="mr-3" thyText thyColor="secondary">secondary</span>
<span class="mr-3" thyText thyColor="muted">muted</span>
<span class="mr-3" thyText thyColor="desc">desc</span>
<span class="mr-3" thyText thyColor="placeholder">placeholder</span>

<br />
<br />

<span>自定义文本颜色：</span>
<thy-text thyColor="#c9584e">This is a text</thy-text>
