<span>预设文本颜色：</span>
<span class="mr-3" thyTextColor="primary">primary</span>
<span class="mr-3" thyTextColor="success">success</span>
<span class="mr-3" thyTextColor="info">info</span>
<span class="mr-3" thyTextColor="danger">danger</span>
<span class="mr-3" thyTextColor="warning">warning</span>
<span class="mr-3" thyTextColor="default">default</span>
<span class="mr-3" thyTextColor="light">light</span>
<span class="mr-3" thyTextColor="secondary">secondary</span>
<span class="mr-3" thyTextColor="muted">muted</span>
<span class="mr-3" thyTextColor="desc">desc</span>
<span class="mr-3" thyTextColor="placeholder">placeholder</span>

<br />
<br />

<span>自定义文本颜色：</span>
<thy-text thyTextColor="#c9584e">This is a text</thy-text>
