<thy-icon thyName="smile" [thyRotate]="0"></thy-icon>
<thy-icon thyName="smile" [thyRotate]="45"></thy-icon>
<thy-icon thyName="smile" [thyRotate]="90"></thy-icon>
<thy-icon thyName="smile" [thyRotate]="135"></thy-icon>
<thy-icon thyName="smile" [thyRotate]="180"></thy-icon>
<thy-icon thyName="smile" [thyRotate]="225"></thy-icon>
<thy-icon thyName="smile" [thyRotate]="270"></thy-icon>
<thy-icon thyName="smile" [thyRotate]="315"></thy-icon>
<thy-icon thyName="smile" [thyRotate]="360"></thy-icon>
