<thy-icon thyIconName="smile" [thyIconRotate]="0"></thy-icon>
<thy-icon thyIconName="smile" [thyIconRotate]="45"></thy-icon>
<thy-icon thyIconName="smile" [thyIconRotate]="90"></thy-icon>
<thy-icon thyIconName="smile" [thyIconRotate]="135"></thy-icon>
<thy-icon thyIconName="smile" [thyIconRotate]="180"></thy-icon>
<thy-icon thyIconName="smile" [thyIconRotate]="225"></thy-icon>
<thy-icon thyIconName="smile" [thyIconRotate]="270"></thy-icon>
<thy-icon thyIconName="smile" [thyIconRotate]="315"></thy-icon>
<thy-icon thyIconName="smile" [thyIconRotate]="360"></thy-icon>
