<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <input thyInput thySize="xs" placeholder="size: xs (24px)" />
    <input thyInput thySize="sm" placeholder="size: sm (28px)" class="mt-3" />
    <input thyInput thySize="md" placeholder="size: md (32px)" class="mt-3" />
    <input thyInput thySize="default" placeholder="size: default (36px)" class="mt-3" />
    <input thyInput thySize="lg" placeholder="size: lg (44px)" class="mt-3" />
  </div>
  <div thyCol [thySpan]="12">
    <thy-input thySize="xs" placeholder="size: xs (24px)"></thy-input>
    <thy-input thySize="sm" placeholder="size: sm (28px)" class="mt-3"></thy-input>
    <thy-input thySize="md" placeholder="size: md (32px)" class="mt-3"></thy-input>
    <thy-input thySize="default" placeholder="size: default (36px)" class="mt-3"></thy-input>
    <thy-input thySize="lg" placeholder="size: lg (44px)" class="mt-3"></thy-input>
  </div>
</div>
