// Pagination

@mixin pagination-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
    font-size: $font-size;
    .thy-page-link {
        padding: $padding-y $padding-x;
        @include font-size($font-size);
        line-height: $line-height;
    }

    .thy-page-item {
        &:first-child {
            .thy-page-link {
                @include border-left-radius($border-radius);
            }
        }

        &:last-child {
            .thy-page-link {
                @include border-right-radius($border-radius);
            }
        }
    }
}
