.thy-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $pagination-color;
    font-size: $font-size-base;

    &-has-total {
        justify-content: space-between;
    }
    &-total {
        display: flex;
        padding-right: 10px;
        color: $gray-600;

        > div {
            display: inline-block;
        }

        .number {
            color: $gray-800;
        }
    }

    &-content {
        display: flex;
        align-items: stretch;
    }

    &-pages {
        display: flex;
        margin: 0;
        @include list-unstyled();
        @include border-radius();
    }

    &-count {
        display: flex;
        align-items: center;

        margin-left: 4px;
        span {
            color: $pagination-total-pages-color;
            margin: 0 2px;
        }
    }

    &-jumper {
        display: flex;
        align-items: center;
        &-input {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: $pagination-jumper-margin;
        }

        input,
        button {
            height: 100%;
            outline: none;
            padding-bottom: 1px;
            border: $pagination-border-width solid $pagination-border-color;
            @include border-radius($border-radius);
        }

        input {
            color: $pagination-jumper-input-color;
            width: $pagination-jumper-input-width;
            text-align: center;
            margin: 0 4px;
        }

        button {
            color: $pagination-jumper-button-color;
            background-color: $pagination-bg;
            &:hover {
                cursor: pointer;
            }
            &:disabled {
                color: $pagination-disabled-color;
            }
        }
    }
}

.thy-page-link {
    position: relative;
    display: block;
    color: $pagination-color;
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;

    &:hover {
        // z-index: 2;
        color: $pagination-hover-color;
        text-decoration: none;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border-color;
    }

    &:focus {
        // z-index: 2;
        outline: $pagination-focus-outline;
        box-shadow: $pagination-focus-box-shadow;
    }
}

.thy-page-item {
    &:first-child {
        .thy-page-link {
            margin-left: 0;
            @include border-left-radius($border-radius);
        }
    }

    &:last-child {
        .thy-page-link {
            @include border-right-radius($border-radius);
        }
    }

    &.active .thy-page-link {
        z-index: 1;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border-color;
    }

    &.disabled .thy-page-link {
        color: $pagination-disabled-color;
        pointer-events: none;
        // Opinionated: remove the "hand" cursor set previously for .page-link
        cursor: auto;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border-color;
    }
}

//
// Sizing
//

.thy-pagination-lg {
    @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.thy-pagination-sm {
    @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
