@use "../../styles/bootstrap/mixins/border-radius";
@use "../../styles/bootstrap/mixins/lists";
@use "../../styles/bootstrap/variables" as bootstrap-variables;
@use "../../styles/variables";
@use "mixin";

.thy-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: variables.$pagination-color;
    font-size: variables.$font-size-base;

    &-has-total {
        justify-content: space-between;
    }
    &-total {
        display: flex;
        padding-right: 10px;
        color: variables.$gray-600;

        > div {
            display: inline-block;
        }

        .number {
            color: variables.$gray-800;
        }
    }

    &-content {
        display: flex;
        align-items: stretch;
    }

    &-pages {
        display: flex;
        margin: 0;
        @include lists.list-unstyled();
        @include border-radius.border-radius();
    }

    &-count {
        display: flex;
        align-items: center;

        margin-left: 4px;
        span {
            color: variables.$pagination-total-pages-color;
            margin: 0 2px;
        }
    }

    &-jumper {
        display: flex;
        align-items: center;
        &-input {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: variables.$pagination-jumper-margin;
        }

        input,
        button {
            height: 100%;
            outline: none;
            padding-bottom: 1px;
            border: variables.$pagination-border-width solid variables.$pagination-border-color;
            @include border-radius.border-radius(variables.$border-radius);
        }

        input {
            color: variables.$pagination-jumper-input-color;
            width: variables.$pagination-jumper-input-width;
            text-align: center;
            margin: 0 4px;
        }

        button {
            color: variables.$pagination-jumper-button-color;
            background-color: variables.$pagination-bg;
            &:hover {
                cursor: pointer;
            }
            &:disabled {
                color: variables.$pagination-disabled-color;
            }
        }
    }
}

.thy-page-link {
    position: relative;
    display: block;
    color: variables.$pagination-color;
    padding: variables.$pagination-padding-y variables.$pagination-padding-x;
    margin-left: -(variables.$pagination-border-width);
    line-height: variables.$pagination-line-height;
    background-color: variables.$pagination-bg;
    border: variables.$pagination-border-width solid variables.$pagination-border-color;

    &:hover {
        // z-index: 2;
        color: variables.$pagination-hover-color;
        text-decoration: none;
        background-color: variables.$pagination-hover-bg;
        border-color: variables.$pagination-hover-border-color;
    }

    &:focus {
        // z-index: 2;
        outline: bootstrap-variables.$pagination-focus-outline;
        box-shadow: variables.$pagination-focus-box-shadow;
    }
}

.thy-page-item {
    &:first-child {
        .thy-page-link {
            margin-left: 0;
            @include border-radius.border-left-radius(variables.$border-radius);
        }
    }

    &:last-child {
        .thy-page-link {
            @include border-radius.border-right-radius(variables.$border-radius);
        }
    }

    &.active .thy-page-link {
        z-index: 1;
        color: variables.$pagination-active-color;
        background-color: variables.$pagination-active-bg;
        border-color: variables.$pagination-active-border-color;
    }

    &.disabled .thy-page-link {
        color: variables.$pagination-disabled-color;
        pointer-events: none;
        // Opinionated: remove the "hand" cursor set previously for .page-link
        cursor: auto;
        background-color: variables.$pagination-disabled-bg;
        border-color: variables.$pagination-disabled-border-color;
    }
}

//
// Sizing
//

.thy-pagination-lg {
    @include mixin.pagination-size(
        variables.$pagination-padding-y-lg,
        variables.$pagination-padding-x-lg,
        variables.$font-size-lg,
        variables.$line-height-lg,
        variables.$border-radius-lg
    );
}

.thy-pagination-sm {
    @include mixin.pagination-size(
        variables.$pagination-padding-y-sm,
        variables.$pagination-padding-x-sm,
        variables.$font-size-sm,
        variables.$line-height-sm,
        variables.$border-radius-sm
    );
}
