.thy-stepper {
  @include stepper-size($stepper-header, $stepper-padding, $stepper-header-padding, $stepper-number-size, $stepper-selected-icon-bottom);
  .thy-stepper-header-container {
    display: flex;
    border-bottom: 1px solid $gray-200;
    align-items: center;
    .thy-stepper-header {
      display: flex;
      align-items: center;
      color: $gray-600;
      position: relative;
      .thy-step-number {
        text-align: center;
        border-radius: 100%;
        text-align: center;
        background-color: $gray-200;
      }
      .thy-step-label {
        padding: $stepper-label-padding;
      }
      &.thy-stepper-header-active {
        color: $primary;
        .thy-step-number {
          color: $white;
          background-color: $primary;
        }
      }
      &.thy-stepper-header-selected {
        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          border-left: 8px solid transparent;
          border-top: 6px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 6px solid $gray-200;
        }
        &::after {
          border-bottom-color: $white;
        }
      }
    }
    .thy-stepper-line {
      flex: auto;
      border-top: 1px solid $gray-300;
      margin-right: $stepper-line-margin;
      min-width: $stepper-line-min-width;
      &.thy-stepper-line-active {
        border-color: $primary;
      }
    }
  }
}