<section>
  <div class="header">
    <h2>Slide</h2>
  </div>
  <div class="body">
    <div class="w-50">
      <form thyForm name="demoForm" #demoForm="ngForm">
        <thy-form-group thyLabelText="进场方向">
          <thy-select [(ngModel)]="thySlideFrom" name="thySlideFrom">
            <option value="right">从右进场</option>
            <option value="left">从左进场</option>
            <option value="top">从上进场</option>
            <option value="bottom">从下进场</option>
          </thy-select>
        </thy-form-group>
        <thy-form-group thyLabelText="Slide 样式">
          <thy-select [(ngModel)]="thySlideClass" name="thySlideClass">
            <option value="thy-slide">用于类似视图筛选</option>
            <option value="thy-slide-lg">用于类似任务搜索</option>
          </thy-select>
        </thy-form-group>
        <thy-form-group thyLabelText="Slide 类型">
          <thy-select [(ngModel)]="thySlideType" name="thySlideClass">
            <option value="slide-layout-2">自定义头部+两栏式布局</option>
            <option value="slide-layout-3">三栏式布局</option>
          </thy-select>
        </thy-form-group>
        <thy-form-group thyLabelText="">
          <label name="hasBackdrop" thyCheckbox [(ngModel)]="hasBackdrop" thyLabelText="弹出时，是否有幕布"></label>
        </thy-form-group>
        <thy-form-group thyLabelText="">
          <label name="hasOffset" thyCheckbox [(ngModel)]="hasOffset" thyLabelText="弹出时，是否有偏移"></label>
        </thy-form-group>
      </form>
    </div>
    <div class="btn-pair">
      <button [thyButton]="'primary'" (click)="showSlide('key1')">show slide</button>
      <button [thyButton]="'primary'" (click)="showSlide('key2')">show slide</button>
      <thy-icon-nav>
        <a
          href="javascript:;"
          thyIconNavLink
          thyIconNavLinkIcon="vertical-view-lines"
          thyTooltip="视图"
          thyTooltipPlacement="bottom"
          (click)="showSlide('key3', $event)"
        ></a>
      </thy-icon-nav>
    </div>
  </div>
</section>
<section></section>
