<section>
    <div class="header">
        <h2>PopBoxMenu</h2>
    </div>
    <div class="body">
        <select class="form-control w-25" [(ngModel)]="demoPlacement">
            <option value="bottom center">下中</option>
            <option value="bottom left">下左</option>
            <option value="bottom right">下右</option>
            <option value="top left">上左</option>
            <option value="top center">上中</option>
            <option value="top right">上右</option>
            <option value="left top">左上</option>
            <option value="left center">左中</option>
            <option value="left bottom">左下</option>
            <option value="right top">右上</option>
            <option value="right center">右中</option>
            <option value="right bottom">右下</option>
        </select>
        <br>
        <button [thyButton]="'primary'" #btnTriggerPopBoxMenu (click)="openPopBoxMenu(btnTriggerPopBoxMenu)">下拉菜单</button>
    </div>
</section>

<section>
    <div class="header">
        <h2>PopBoxTemplate</h2>
    </div>
    <div class="body">
        <div>
            <button [thyButton]="'primary'" #btnTriggerPopBoxTemplate (click)="openPopBoxWithTemplate(btnTriggerPopBoxTemplate,popBoxTemplate)">弹出 PopBox</button>
        </div>
        <ng-template #popBoxTemplate>
            <div class="pop-box-header">
                <h5 class="pop-box-title">确认删除</h5>
                <a href="javascript:;" (click)="close()" class="close">
                    <i class="wtf wtf-close"></i>
                </a>
            </div>
            <div class="pop-box-body">
                你确认要删除这条记录吗？

                <button [thyButton]="'primary'" [thyActionMenuToggle]="menu2" thyPlacement="bottom left">带分组</button>
                <ng-template #menu2>
                    <thy-action-menu thyStopPropagation thyTheme="group">
                        <thy-action-menu-divider thyTitle="分组"></thy-action-menu-divider>
                        <a thyActionMenuItem href="javascript:;" (click)="close()">
                            <span class="icon">
                                <i class="wtf wtf-task-o"></i>
                            </span>
                            <span>有图标</span>
                        </a>
                        <a thyActionMenuItem href="javascript:;" >
                            <span class="icon">
                                <i class="wtf wtf-task-o"></i>
                            </span>
                            <span>有图标</span>
                        </a>
                        <thy-action-menu-divider thyTitle="分组"></thy-action-menu-divider>
                        <a thyActionMenuItem href="javascript:;">
                            <span class="icon">
                                <i class="wtf wtf-task-o"></i>
                            </span>
                            <span>有图标</span>
                        </a>
                    </thy-action-menu>
                </ng-template>
            </div>
        </ng-template>
    </div>
</section>