<section>
    <div class="header">
        <h2>PopBoxMenu</h2>
    </div>
    <div class="body">
        <button [thyButton]="'primary'" #btnTriggerPopBoxMenu (click)="openPopBoxMenu(btnTriggerPopBoxMenu)">下拉菜单</button>
    </div>
</section>
<!-- 
<section>
    <div class="header">
        <h2>PopBoxTemplate</h2>
    </div>
    <div class="body">
        <div>
            <button [thyButton]="'primary'" #btnTriggerPopBoxTemplate (click)="openPopBoxWithTemplate(btnTriggerPopBoxTemplate)">弹出 PopBox</button>
        </div>
        <ng-template #popBoxTemplate>

        </ng-template>
    </div>
</section> -->
