<thy-space thyAlign="end">
  <thy-cascader
    *thySpaceItem
    [thyOptions]="areaCode"
    [(ngModel)]="values"
    (ngModelChange)="selectChanges($event)"
    [thySize]="'sm'"
    style="width:150px"
  >
  </thy-cascader>
  <thy-cascader
    *thySpaceItem
    [thyOptions]="areaCode"
    [(ngModel)]="values"
    (ngModelChange)="selectChanges($event)"
    [thySize]="'md'"
    style="width:150px"
  >
  </thy-cascader>
  <thy-cascader *thySpaceItem [thyOptions]="areaCode" [(ngModel)]="values" (ngModelChange)="selectChanges($event)" style="width:150px">
  </thy-cascader>
  <thy-cascader
    *thySpaceItem
    [thyOptions]="areaCode"
    [(ngModel)]="values"
    (ngModelChange)="selectChanges($event)"
    [thySize]="'lg'"
    style="width:150px"
  >
  </thy-cascader>
</thy-space>
