<p class="mb-2">默认样式：</p>
<thy-skeleton-paragraph> </thy-skeleton-paragraph>

<br />

<p class="mb-2">自定义样式：</p>
<thy-skeleton-paragraph
  [thyRowsCount]="model.thyRowsCount"
  [thyFirstWidth]="model.thyFirstWidth"
  [thyLastWidth]="model.thyLastWidth"
  [thyRowWidth]="model.thyRowWidth"
  [thyRowHeight]="model.thyRowHeight"
  [thyBorderRadius]="model.thyBorderRadius"
  [thyPrimaryColor]="model.thyPrimaryColor"
  [thySecondaryColor]="model.thySecondaryColor"
  [thyAnimatedInterval]="model.thyAnimatedInterval"
  [thyAnimated]="model.thyAnimated"
>
</thy-skeleton-paragraph>
