<section>
  <div class="header">
    <h2>Select</h2>
  </div>
  <div class="body demo-select">
    <label thyCheckbox [(ngModel)]="model.allowClear" thyLabelText="是否支持清除选项"></label>
    <br />
    Model: {{ model | json }}
    <thy-select [(ngModel)]="model.selectedValue" (change)="change()" [thyAllowClear]="model.allowClear">
      <option value="">请选择</option>
      <option value="option1">选项1</option>
      <option value="option2">选项2</option>
    </thy-select>
  </div>
</section>

<section>
  <div class="header">
    <h2>多选</h2>
  </div>
  <div class="body">
    <div class="demo-select">
      <thy-custom-select thyMode="multiple" thySize="md" thyEmptyStateText="无匹配结果">
        <thy-option
          *ngFor="let option of optionData"
          [thyValue]="option"
          [thyDisabled]="option.name === 'money'"
          [thyLabelText]="option.display_name"
        >
        </thy-option>
      </thy-custom-select>
    </div>
  </div>
</section>

<section>
  <div class="header">
    <h2>自定义 select</h2>
  </div>
  <div class="body">
    <div class="demo-select">
      <label thyCheckbox [(ngModel)]="allowClear" thyLabelText="是否支持清除选项"></label>
      <thy-custom-select
        thySize="md"
        [thyShowSearch]="true"
        thyEmptyStateText="无匹配结果"
        [thyAllowClear]="allowClear"
      >
        <thy-option thyValue="" thyLabelText="空"></thy-option>
        <thy-option
          *ngFor="let option of optionData"
          [thyValue]="option"
          [thyDisabled]="option.name === 'money'"
          [thyLabelText]="option.display_name"
        >
        </thy-option>
      </thy-custom-select>
      <br />
      ngModel: {{ selectedItem | json }}
      <thy-custom-select
        thySize="md"
        thyPlaceHolder="请选择"
        [(ngModel)]="selectedItem"
        (ngModelChange)="changeSelect()"
        [thyShowSearch]="true"
        [thyAllowClear]="allowClear"
      >
        <thy-option
          *ngFor="let option of optionData"
          thySearchKey="{{ option?.name }},{{ option?.display_name }},{{ option?.pin_yin }}"
          [thyValue]="option"
          [thyDisabled]="option.name === 'money'"
          [thyLabelText]="option.display_name"
        >
        </thy-option>
      </thy-custom-select>
      <br />
      ngModel : {{ selectedItem2 | json }}
      <thy-custom-select [(ngModel)]="selectedItem2" thyPlaceHolder="请选择" [thyAllowClear]="allowClear">
        <thy-option thyValue="" thyLabelText="空"></thy-option>
        <thy-option
          *ngFor="let option of optionData"
          thyShowOptionCustom="true"
          [thyRawValue]="option"
          [thyValue]="option.name"
          [thyLabelText]="option.display_name"
        >
          <span> <i [class]="option?.icon" class="mr-1"></i> {{ option?.display_name }} </span>
        </thy-option>
        <ng-template #selectedDisplay let-value>
          <span *ngIf="!value">!!!空</span>
          <span class="icon-text" *ngIf="value">
            <i [ngClass]="value?.icon" class="text-primary"></i>{{ value?.display_name }}</span
          >
        </ng-template>
      </thy-custom-select>
    </div>
  </div>
</section>

<section>
  <div class="header">
    <h2>Select 大小</h2>
  </div>
  <div class="body demo-select">
    <thy-select thySize="sm" [(ngModel)]="model.selectedValue" thyAllowClear="true">
      <option value="">请选择</option>
      <option value="option1"
        >选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1</option
      >
      <option value="option2">选项2</option>
    </thy-select>
    <br />
    <thy-select thySize="md" [(ngModel)]="model.selectedValue" thyAllowClear="true">
      <option value="">请选择</option>
      <option value="option1">选项1</option>
      <option value="option2">选项2</option>
    </thy-select>
    <br />
    <thy-select thySize="" [(ngModel)]="model.selectedValue" thyAllowClear="true">
      <option value="">请选择</option>
      <option value="option1">选项1</option>
      <option value="option2">选项2</option>
    </thy-select>
    <br />
    <thy-select thySize="lg" [(ngModel)]="model.selectedValue" thyAllowClear="true">
      <option value="">请选择</option>
      <option value="option1">选项1</option>
      <option value="option2">选项2</option>
    </thy-select>
  </div>
</section>

<section>
  <div class="header">
    <h2>自定义选择框分组</h2>
  </div>
  <div class="body">
    <div class="demo-select">
      <label thyCheckbox [(ngModel)]="showSearch" thyLabelText="是否支持搜索"></label>
      <br />
      NgModel: {{ selectedItem3 | json }}
      <thy-custom-select [(ngModel)]="selectedItem3" thyPlaceHolder="请选择" [thyShowSearch]="showSearch">
        <thy-option-group thyGroupLabel="服饰">
          <thy-option thyValue="001" thyLabelText="上衣"></thy-option>
          <thy-option thyValue="002" thyLabelText="裤子"></thy-option>
        </thy-option-group>
        <thy-option *ngFor="let option of optionData" [thyValue]="option._id" [thyLabelText]="option.display_name">
        </thy-option>
        <thy-option-group thyGroupLabel="食物">
          <thy-option thyValue="003" thyLabelText="饮料"></thy-option>
          <thy-option thyValue="004" thyLabelText="面包" [thyDisabled]="true"></thy-option>
          <thy-option thyValue="005" thyLabelText="牛奶"></thy-option>
          <thy-option thyValue="006" thyLabelText="鸡蛋"></thy-option>
        </thy-option-group>
      </thy-custom-select>
      <br />
      <p>搜索：多字段</p>
      <thy-custom-select thyPlaceHolder="请选择会话" name="thySelectSession" [thyShowSearch]="true">
        <thy-option-group *ngFor="let group of groups" [thyGroupLabel]="group.groupName">
          <thy-option
            *ngFor="let item of group.items"
            [thyValue]="item._id"
            thySearchKey="{{ item?.name }},{{ item?.pin_yin }}"
            [thyLabelText]="item.name"
          >
          </thy-option>
        </thy-option-group>
      </thy-custom-select>
    </div>
  </div>
</section>
<section>
  <div class="header">
    <h2>滚动加载</h2>
  </div>
  <div class="body demo-select">
    <thy-custom-select (thyOnScrollToBottom)="onScrollToBottom()">
      <thy-option *ngFor="let option of loadMoreData" [thyValue]="option._id" [thyLabelText]="option.thyLabelText">
      </thy-option>
      <div class="loading-more font-size-xs text-desc" *ngIf="loading">
        加载中...
      </div>
    </thy-custom-select>
  </div>
</section>

<section>
  <div class="header">
    <h2>空的Options</h2>
  </div>
  <div class="body demo-select">
    <thy-custom-select [(ngModel)]="selectedItem"> </thy-custom-select>
  </div>
</section>

<section>
  <div class="header">
    <h2>空的Options 设置thyEmptyStateText</h2>
  </div>
  <div class="body demo-select">
    <thy-custom-select [(ngModel)]="selectedItem" [thyEmptyStateText]="'自定义提示'"> </thy-custom-select>
  </div>
</section>

<section>
  <div class="header">
    <h2>ngModel 空字符串</h2>
  </div>
  <div class="body demo-select">
    <thy-custom-select [(ngModel)]="emptyModalValue">
      <thy-option [thyValue]="''" thyLabelText="所有"> </thy-option>
    </thy-custom-select>
  </div>
</section>

<api-parameters title="thy-custom-select 参数列表" [parameters]="apiParameters"></api-parameters>
<api-parameters title="thy-option 参数列表" [parameters]="optionApiParameters"></api-parameters>
