<section>
    <div class="header">
        <h2>Select</h2>
    </div>
    <div class="body">
        <thy-select [(ngModel)]="model.selectedValue" (change)="change()">
            <option value="">请选择</option>
            <option value="option1">选项1</option>
            <option value="option2">选项2</option>
        </thy-select>

        <div>
            Model :
            <pre><code>{{model | json}}</code></pre>
        </div>
    </div>
</section>

<section>
    <div class="header">
        <h2>Select 大小</h2>
    </div>
    <div class="body">
        <thy-select thySize="sm" [(ngModel)]="model.selectedValue">
            <option value="">请选择</option>
            <option value="option1">选项1</option>
            <option value="option2">选项2</option>
        </thy-select>
        <br>
        <thy-select thySize="" [(ngModel)]="model.selectedValue">
            <option value="">请选择</option>
            <option value="option1">选项1</option>
            <option value="option2">选项2</option>
        </thy-select>
        <br>
        <thy-select thySize="lg" [(ngModel)]="model.selectedValue">
            <option value="">请选择</option>
            <option value="option1">选项1</option>
            <option value="option2">选项2</option>
        </thy-select>
    </div>
</section>

<section>
    <div class="header">
        <h2>自定义 select</h2>
    </div>
    <div class="body">
        <thy-custom-select thySize="sm" [(ngModel)]="selectedItem" [thyShowSearch]="true" (thySearchChange)="searchTextChange($event)">
            <thy-option *ngFor="let option of optionData" [value]="option._id" [label]="option.name" [icon]="option?.icon" [hasSelectedIcon]="false">
            </thy-option>
        </thy-custom-select>

        <br>

        <thy-custom-select [(ngModel)]="selectedItem">
            <thy-option value="001" label="country"></thy-option>
            <!-- <thy-option *ngFor="let option of optionData" [custom]="true">
                {{option.name}}
            </thy-option> -->
        </thy-custom-select>

        <br>

        <thy-custom-select [(ngModel)]="selectedItem" [thyShowSearch]="true">
            <thy-option-group label="服饰">
                <thy-option value="001" label="上衣"></thy-option>
                <thy-option value="002" label="裤子"></thy-option>
            </thy-option-group>
            <thy-option-group label="食物">
                <thy-option value="003" label="饮料"></thy-option>
                <thy-option value="004" label="面包"></thy-option>
                <thy-option value="005" label="牛奶"></thy-option>
                <thy-option value="006" label="鸡蛋"></thy-option>
            </thy-option-group>
        </thy-custom-select>
    </div>
</section>


<api-parameters title="thy-custom-select 参数列表" [parameters]="apiParameters"></api-parameters>
<api-parameters title="thy-option 参数列表" [parameters]="optionApiParameters"></api-parameters>