<section>
    <div class="header">
        <h2>Select</h2>
    </div>
    <div class="body demo-select">
        <thy-select [(ngModel)]="model.selectedValue" (change)="change()">
            <option value="">请选择</option>
            <option value="option1">选项1</option>
            <option value="option2">选项2</option>
        </thy-select>

        <div>
            Model :
            <pre><code>{{model | json}}</code></pre>
        </div>
    </div>
</section>

<section>
    <div class="header">
        <h2>Select 大小</h2>
    </div>
    <div class="body demo-select">
        <thy-select thySize="sm" [(ngModel)]="model.selectedValue">
            <option value="">请选择</option>
            <option value="option1">选项1</option>
            <option value="option2">选项2</option>
        </thy-select>
        <br>
        <thy-select thySize="md" [(ngModel)]="model.selectedValue">
            <option value="">请选择</option>
            <option value="option1">选项1</option>
            <option value="option2">选项2</option>
        </thy-select>
        <br>
        <thy-select thySize="" [(ngModel)]="model.selectedValue">
            <option value="">请选择</option>
            <option value="option1">选项1</option>
            <option value="option2">选项2</option>
        </thy-select>
        <br>
        <thy-select thySize="lg" [(ngModel)]="model.selectedValue">
            <option value="">请选择</option>
            <option value="option1">选项1</option>
            <option value="option2">选项2</option>
        </thy-select>
    </div>
</section>

<section>
    <div class="header">
        <h2>自定义 select</h2>
    </div>
    <div class="body">
        <div class="demo-select">
            ngModel: {{selectedItem | json}}
            <thy-custom-select thySize="md" thyPlaceHolder="请选择" [(ngModel)]="selectedItem" (ngModelChange)="changeSelect()" [thyShowSearch]="true">
                <thy-option *ngFor="let option of optionData" thySearchKey="{{option?.name}},{{option?.display_name}},{{option?.pin_yin}}"
                    [thyValue]="option" [thyDisabled]="option.name === 'money'" [thyLabelText]="option.display_name">
                </thy-option>
            </thy-custom-select>

            <br>
            ngModel : {{selectedItem2 | json}}
            <thy-custom-select [(ngModel)]="selectedItem2" thyPlaceHolder="请选择">
                <thy-option thyValue="001" thyLabelText="country"></thy-option>
                <thy-option *ngFor="let option of optionData" thyShowOptionCustom="true" [thyRawValue]="option" [thyValue]="option.name" [thyLabelText]="option.display_name">
                    <span>
                        <i [class]="option?.icon" class="mr-1"></i> {{option?.display_name}}
                    </span>
                </thy-option>
                <ng-template #selectedDisplay let-value>
                    <span class="icon-text">
                        <i [ngClass]="value?.icon" class="text-primary"></i>{{value?.display_name}}</span>
                </ng-template>
            </thy-custom-select>

        </div>
    </div>

</section>

<section>
    <div class="header">
        <h2>自定义选择框分组</h2>
    </div>
    <div class="body">
        <div class="demo-select">
            <label thyCheckbox [(ngModel)]="showSearch" thyLabelText="是否支持搜索"></label>
            <br> NgModel: {{selectedItem3 | json}}
            <thy-custom-select [(ngModel)]="selectedItem3" thyPlaceHolder="请选择" [thyShowSearch]="showSearch">
                <thy-option-group thyGroupLabel="服饰">
                    <thy-option thyValue="001" thyLabelText="上衣"></thy-option>
                    <thy-option thyValue="002" thyLabelText="裤子"></thy-option>
                </thy-option-group>
                <thy-option *ngFor="let option of optionData" [thyValue]="option._id" [thyLabelText]="option.display_name">
                </thy-option>
                <thy-option-group thyGroupLabel="食物">
                    <thy-option thyValue="003" thyLabelText="饮料"></thy-option>
                    <thy-option thyValue="004" thyLabelText="面包" [thyDisabled]="true"></thy-option>
                    <thy-option thyValue="005" thyLabelText="牛奶"></thy-option>
                    <thy-option thyValue="006" thyLabelText="鸡蛋"></thy-option>
                </thy-option-group>
            </thy-custom-select>
        </div>
    </div>
</section>
<section>
    <div class="header">
        <h2>自定义 select多选</h2>
    </div>
    <div class="body demo-select">
        NgModel: {{selectedItem4 | json}}
        <thy-custom-select [(ngModel)]="selectedItem4" thyMode="multiple" thyPlaceHolder="请选择">
            <thy-option *ngFor="let option of optionData" [thyValue]="option._id" [thyLabelText]="option.display_name">
            </thy-option>
        </thy-custom-select>
    </div>
</section>

<section>
    <div class="body">
        <button thyButton="primary" (click)="$event.preventDefault();expand = !expand">点击显示 select</button>
        <thy-custom-select *ngIf="expand" [(ngModel)]="selectedItem" thyPlaceHolder="请选择" [thyShowSearch]="true" [thyShowOptionMenu]="true">
            <thy-option *ngFor="let option of optionData" [thyValue]="option._id" [thyLabelText]="option.display_name">
            </thy-option>
        </thy-custom-select>
    </div>
</section>


<api-parameters title="thy-custom-select 参数列表" [parameters]="apiParameters"></api-parameters>
<api-parameters title="thy-option 参数列表" [parameters]="optionApiParameters"></api-parameters>