.parameters {
    margin: 50px 0;
}
.parameters-header {
    h4 {
        font-weight: 300;
        margin: 0 0 20px;
        font-size: 24px;
        line-height: 1;
        .thy-label {
            margin-left: 10px;
            vertical-align: top;
        }
    }
}
.parameters-body {
}
