@use "../../../styles/variables";

@mixin select-control-size($tag-height, $padding-y, $height: auto) {
    &.select-control-single {
        padding: {
            top: $padding-y;
            bottom: $padding-y;
        }

        .select-control-rendered {
            height: $height;
            line-height: $height;
        }
    }

    &.select-control-multiple {
        padding {
            top: 0;
            bottom: 0;
        }

        .select-control-rendered {
            padding-top: $padding-y;
            .choice {
                margin-bottom: $padding-y;
            }
        }
    }

    .select-control-rendered {
        .select-control-search {
            height: $height;
            line-height: $height;
        }

        .selected-value,
        .select-control-search > .form-control-lg {
            @if $tag-height == variables.$tag-height-lg {
                font-size: 1.125rem;
            }
        }

        .select-control-search {
            @if $tag-height == variables.$tag-height-md or $tag-height == variables.$tag-height-lg {
                height: $tag-height;
            } @else {
                height: unset;
            }
        }
    }
}

@mixin thy-select-options-dropdown {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.14);
    background: variables.$white;
    width: 100%;
}

@mixin thy-select-options-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px 0;
}

$has-value-margin-base: -0.03175rem;
$has-value-margin-md: -0.2815rem;
$thy-label-spacing: 0.3125rem;

@mixin thy-select-multiple-control {
    .multiple-value-wrapper {
        margin: {
            top: $has-value-margin-base;
            bottom: $has-value-margin-base - $thy-label-spacing;
            right: 15px;
        }
        .thy-label {
            margin-bottom: $thy-label-spacing;
        }
    }
}
