<div>
  <thy-vote
    class="mr-3"
    [thyVote]="'primary-weak'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted()"
    thySize="sm"
    (click)="toggleVote($event)">
  </thy-vote>
  <thy-vote class="mr-3" [thyVote]="'primary-weak'" [thyVoteCount]="vote_count" [thyHasVoted]="has_voted()" (click)="toggleVote($event)">
  </thy-vote>
</div>
<div class="mt-3">
  <span>圆角:</span>
  <thy-vote
    class="mr-3 ml-3"
    [thyVote]="'success-weak'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted()"
    [thySize]="'sm'"
    [thyRound]="true"
    (click)="toggleVote($event)"></thy-vote>
  <thy-vote
    [thyVote]="'success-weak'"
    [thyVoteCount]="vote_count1"
    [thyHasVoted]="has_voted()"
    [thyRound]="true"
    (click)="toggleVote($event)"></thy-vote>
</div>
<div class="mt-3">
  <span
    class="mr-3"
    [thyVote]="'success-weak'"
    [thyLayout]="'vertical'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted()"
    thySize="sm"
    (click)="toggleVote($event)"></span>
  <span
    class="mr-3"
    [thyVote]="'success-weak'"
    [thyLayout]="'vertical'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted()"
    (click)="toggleVote($event)"></span>
</div>
