<thy-progress class="mt-2" thySize="lg" [thyValue]="value" thyMax="100">{{ value }}%</thy-progress>
<thy-progress class="mt-2" thySize="lg" thyType="info" [thyValue]="stackedValues">{{ value }}%</thy-progress>

<thy-progress class="mt-2" thyType="success" [thyValue]="100" thyMax="100" style="width: 158px">100%</thy-progress>
<thy-progress class="mt-2" thyType="success" [thyValue]="66" thyMax="100" style="width: 158px">66%</thy-progress>
<thy-progress class="mt-2" thyType="success" [thyValue]="0" thyMax="100" style="width: 158px">0%</thy-progress>
