// zoom animations
@keyframes scale-x-fade {
    from {
        opacity: 0;
        transform: scaleX(0.9);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}
.scale-x-enter {
    animation: scale-x-fade 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}
.scale-x-leave {
    opacity: 0;
    transform: scaleX(0.9);
    transition:
        opacity 0.2s cubic-bezier(0.34, 0.69, 0.1, 1),
        transform 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}

@keyframes scale-y-fade {
    from {
        opacity: 0;
        transform: scaleY(0.9);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}
.scale-y-enter {
    animation: scale-y-fade 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}
.scale-y-leave {
    opacity: 0;
    transform: scaleY(0.9);
    transition:
        opacity 0.2s cubic-bezier(0.34, 0.69, 0.1, 1),
        transform 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}

@keyframes scale-fade {
    from {
        opacity: 0;
        transform: scale(0.9, 0.9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}
.scale-enter {
    animation: scale-fade 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}
.scale-leave {
    opacity: 0;
    transform: scale(0.9, 0.9);
    transition:
        opacity 0.2s cubic-bezier(0.34, 0.69, 0.1, 1),
        transform 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}
