.close {
    // float: right;
    font-size: $close-font-size;
    font-weight: $close-font-weight;
    // line-height: 1;
    text-shadow: $close-text-shadow;
    opacity: 1;
    @include set-close-link-variant($close-text-color, $primary);
    // Opinionated: add "hand" cursor to non-disabled .close elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
// stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
} // stylelint-enable

.close-link {
    @include set-close-link-variant();
    @include set-close-link-size();
}

.close-link-sm {
    @include set-close-link-size($font-size-sm);
}

.close-link-md {
    @include set-close-link-size($font-size-md);
}

.close-link-lg {
    @include set-close-link-size($font-size-lg);
}

.close-link-danger {
    @include set-close-link-variant($gray-300, $danger);
}

.remove-link {
    @include set-close-link-variant($gray-400, $danger);
    @include set-close-link-size($font-size-base);
    .remove-link-icon {
        background: $white;
        border-radius: 50%;
    }
}

$removeLinkSizes: (
    'xs': $font-size-sm,
    'sm': $font-size-base,
    'md': $font-size-base,
    'default': $font-size-base,
    'lg': $font-size-md
);

@each $size, $value in $removeLinkSizes {
    .remove-link-#{$size} {
        @include set-close-link-variant($gray-400, $danger);
        @include set-close-link-size($value);
    }
    .corresponding-icon-#{$size} {
        @include set-close-link-size($value);
    }
}
