@use "../bootstrap/variables" as bootstrap-variables;
@use "../variables";

.thy-editable {
    display: block;
    border: 1px solid transparent;
    padding: variables.$editable-padding-y variables.$editable-padding-x;

    @if bootstrap-variables.$enable-rounded {
        // Manually use the if/else instead of the mixin to account for iOS override
        border-radius: bootstrap-variables.$input-border-radius;
    } @else {
        // Otherwise undo the iOS default
        border-radius: 0;
    }

    &:hover {
        border-color: variables.$editable-border-color;
    }
}

.thy-editable-lg {
    padding: variables.$editable-padding-y-lg variables.$editable-padding-x-lg;
    line-height: bootstrap-variables.$input-line-height-lg;
    font-size: variables.$font-size-xlg;
}
