// font-size-{name}
$font-sizes: (
    base: $font-size-base,
    sm: $font-size-sm,
    md: $font-size-md,
    xs: $font-size-xs,
    lg: $font-size-lg,
    xlg: $font-size-xlg,
    max-lg: $font-size-max-lg
);
@each $name, $size in $font-sizes {
    .font-size-#{$name} {
        font-size: $size !important;
    }
}
