// size:24,20
.icon-text {
    display: inline-block;
    position: relative;
    font-size: $font-size-base;
    padding-left: 26px;

    i {
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 20px;
        transform: translateY(-50%);
    }

    &-lg {
        padding-left: 28px;

        i {
            font-size: 24px;
        }
    }

    &-sm {
        padding-left: 25px;

        i {
            font-size: 18px;
        }
    }
}
