a {
    color: $link-color;
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
    @include hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    .wtf {
        // font-size: $font-size-md;
        display: inline-block;
    }
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402
a:not([href]):not([tabindex]) {
    // color: inherit;
    text-decoration: none;
    @include hover-focus {
        // color: inherit;
        text-decoration: none;
    }
    &:focus {
        outline: 0;
    }
}

// 带有图标的链接
a.link-has-icon {
    .wtf {
        padding-right: $link-icon-padding-right;
    }
}

a {
    &.link-primary {
        @include link-variant($primary,  $link-decoration, $primary, $link-hover-decoration);
    }
    &.link-secondary {
        @include link-variant($info, none, $primary, none);
    }
    &.link-danger-weak {
        @include link-variant($info, none, $danger, none);
    }
    &.link-danger {
        @include link-variant($danger,  $link-decoration, $danger, $link-hover-decoration);
    }
    &.link-success {
        @include link-variant($success,  $link-decoration, $success, $link-hover-decoration);
    }
    &.link-sm {
        @include link-size($font-size-sm, $font-size-sm);
    }
    &.link-body {
        @include link-variant($gray-800, none, $primary, none);
    }
}