a {
    color: $link-color;
    @include hover {
        color: $link-hover-color;
    }
}

a {
    &.link-primary {
        @include link-variant($primary, $link-decoration, $primary, $link-hover-decoration);
    }

    &.link-secondary {
        @include link-variant($gray-500, none, $primary, none);
    }

    &.link-major {
        @include link-variant($gray-800, none, $primary, none);
    }
}
