::-webkit-scrollbar {
    width: 6px;
    height: 9px;
    -webkit-appearance: none;
}

.main-layout {
    .main-body {
        .main-body-side {
            ::-webkit-scrollbar {
                width: 4px;
            }
        }
    }

    .task-board {
        ::-webkit-scrollbar-track-piece {
            background-color: #fdfdfd;
        }
    }
}

::-webkit-scrollbar-track-piece {
    background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: darken(#dddddd, 15%);
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: darken(#dddddd, 15%);
}
