.table {
    width: 100%;
    max-width: 100%;
    color: $table-color;
    margin-bottom: $table-margin-bottom;
    background-color: $table-bg; // Reset for nesting within parents with `background-color`.

    th,
    td {
        padding: $table-default-header-cell-padding;
        vertical-align: middle;
        border-bottom: $table-border-width solid $table-border-color;
    }

    .table {
        background-color: $body-bg;
    }
}

.table {
    tbody tr {
        &.clear-hover {
            cursor: default !important;
            box-shadow: initial !important;
            background-color: transparent !important;

            td {
                border-bottom: 0;
            }
        }
    }
}

.table-default {
    tr {
        height: $table-default-cell-height;
    }
    @include table-set-header(
        $table-default-header-height,
        left,
        bottom,
        400,
        $table-border-width,
        transparent,
        $table-border-color,
        $table-default-head-color,
        $table-default-header-padding
    );

    &.table-sm {
        @include table-size(0, $table-sm-cell-height);
        thead {
            th,
            td {
                padding: $table-default-sm-header-padding;
            }
        }
    }
}

.table-bordered {
    border: $table-border-width solid $table-border-color;
    tr {
        height: $table-bordered-cell-height;
    }

    th,
    td {
        // padding: $table-bordered-padding;
        border: $table-border-width solid $table-border-color;
    }

    @include table-set-header(
        $table-bordered-cell-height,
        center,
        middle,
        400,
        $table-border-width,
        $table-bordered-bg,
        $table-border-color,
        $table-bordered-head-color,
        0
    );
}

.table-sm {
    @include table-size($table-sm-cell-height, $table-sm-cell-height);
}

.table-fixed {
    table-layout: fixed;
}

.table-hover {
    @include table-hover-set-space-none();

    tbody tr {
        @include hover {
            cursor: pointer;
            background-color: $table-hover-color;
            // @include table-hover-box-shadow($table-hover-color);
        }
    }
}

.table-draggable {
    thead tr {
        th:first-child {
            padding-left: $table-draggable-first-td-padding-left;
        }
    }

    tbody tr {
        td {
            position: relative;

            &:first-child {
                padding-left: $table-draggable-first-td-padding-left;
            }

            .table-draggable-icon {
                position: absolute;
                display: none;
                color: $table-draggable-icon-color;
                left: $table-draggable-icon-left;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        @include hover {
            cursor: pointer;

            td {
                .table-draggable-icon {
                    display: block;
                }
            }
        }

        &.table-draggable-ignore-item {
            @include hover {
                cursor: inherit;
                box-shadow: none;

                td {
                    .table-draggable-icon {
                        display: none;
                    }
                }
            }
        }
    }

    &.table-bordered {
        tbody tr td {
            &:first-child {
                padding-left: $table-draggable-bordered-icon-padding-left;
            }
        }
    }
}

.table-responsive {
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
            @include media-breakpoint-down($breakpoint) {
                display: block;
                width: 100%;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

                // Prevent double border on horizontal scroll due to use of `display: block;`
                > .table-bordered {
                    border: 0;
                }
            }
        }
    }
}

.table-group {
    td:first-child {
        padding-left: $table-group-first-cell-padding-left;
    }
}
