.thy-typography {
    font-family: PingFang-SC-Semibold;
    h1,
    h2 {
        font-size: 20px;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 14px;
        margin-bottom: 1rem;
    }
    pre {
        font-size: 14px;
        background: $gray-100;
        padding: 15px;
        border-radius: 2px;
    }
    em {
        font-size: 14px;
        font-style: normal;
        color: $gray-500;
    }
}
