.d-flex-column-fill {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.d-flex-row-fill {
    flex: auto;
    display: flex;
    flex-direction: row;
}

.cursor-pointer {
    cursor: pointer;
}

.thy-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

// 比 light 更亮，但是还没有到达白色 #f3f3f3f3
@include bg-variant('.bg-brighter', $gray-100);

// text-placeholder #cacaca
@include text-emphasis-variant('.text-placeholder', $gray-400);
@include text-emphasis-variant('.text-body', $gray-800);
@include text-emphasis-variant('.text-desc', $gray-500);

// 保证 wtf 图标和字体对齐
.wtf {
    vertical-align: -0.045em;
}
