@use '../mixins/background-variant';
@use '../mixins/utilities';
@use '../variables';

.d-flex-column-fill {
    flex: auto;
    display: flex;
    flex-direction: column;
    min-height: 0px;
}

.d-flex-row-fill {
    flex: auto;
    display: flex;
    flex-direction: row;
    min-width: 0px;
}

.cursor-pointer {
    cursor: variables.$hand-cursor;
}

// .thy-dot {
//     display: inline-block;
//     width: 6px;
//     height: 6px;
//     border-radius: 50%;
// }

// 新增比 light 更亮的2个背景色
@include background-variant.bg-variant('.bg-lighter', variables.$gray-100);
@include background-variant.bg-variant('.bg-bright', variables.$gray-80);
@include background-variant.bg-variant('.bg-content', variables.$layout-content-background);

// text-placeholder #cacaca
@include utilities.text-emphasis-variant('.text-placeholder', variables.$gray-400);
@include utilities.text-emphasis-variant('.text-body', variables.$gray-800);
@include utilities.text-emphasis-variant('.text-desc', variables.$gray-500);

// 保证 wtf 图标和字体对齐
.wtf {
    vertical-align: -0.045em;
}
