@use '../mixins/background-variant';
@use '../mixins/utilities';
@use '../variables';

.d-flex-column-fill {
    flex: auto;
    display: flex;
    flex-direction: column;
    min-height: 0px;
}

.d-flex-row-fill {
    flex: auto;
    display: flex;
    flex-direction: row;
    min-width: 0px;
}

.cursor-pointer {
    cursor: variables.$hand-cursor;
}

// 保证 wtf 图标和字体对齐
.wtf {
    vertical-align: -0.045em;
}
