<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <thy-tags>
      <thy-tag>Tag 1</thy-tag>
      <thy-tag>Tag 2</thy-tag>
      <thy-tag>Tag 3</thy-tag>
      <thy-tag>Tag 4</thy-tag>
      <thy-tag>Tag 5</thy-tag>
      <thy-tag>Tag 6</thy-tag>
      <thy-tag>Tag 7</thy-tag>
      <thy-tag>Tag 8</thy-tag>
      <thy-tag>Tag 9</thy-tag>
      <thy-tag>Tag 10</thy-tag>
    </thy-tags>
  </div>
  <div thyCol [thySpan]="12">
    <thy-tags>
      <thy-tag thyShape="pill">Tag 1</thy-tag>
      <thy-tag thyShape="pill" thyColor="primary">Tag 2</thy-tag>
      <thy-tag thyShape="pill" thyColor="success">Tag 3</thy-tag>
      <thy-tag thyShape="pill" thyColor="warning">Tag 4</thy-tag>
      <thy-tag thyShape="pill" thyColor="danger">Tag 5</thy-tag>
      <thy-tag thyShape="pill" thyColor="info">Tag 6</thy-tag>
      <thy-tag thyShape="pill" thyColor="primary">Tag 7</thy-tag>
      <thy-tag thyShape="pill" thyColor="success">Tag 8</thy-tag>
      <thy-tag thyShape="pill" thyColor="warning">Tag 9</thy-tag>
      <thy-tag thyShape="pill" thyColor="danger">Tag 10</thy-tag>
    </thy-tags>
  </div>
</div>
