<section>
  <div class="header">
    <h2>List</h2>
  </div>
  <div class="body">
    <thy-list>
      <thy-list-item class="active">
        Item 1
      </thy-list-item>
      <thy-list-item>
        Item 2
      </thy-list-item>
      <thy-list-item>
        Item 2
      </thy-list-item>
      <thy-list-item class="disabled">
        <span>Item 3</span>
      </thy-list-item>
      <thy-list-item>
        <a href="javascripr:;">Item 4</a>
      </thy-list-item>
    </thy-list>
  </div>
</section>

<section>
  <div class="header">
    <h2>List 排序</h2>
  </div>
  <div class="body">
    <thy-list cdkDropList (cdkDropListSorted)="sort($event)">
      <thy-list-item class="active" cdkDrag>
        <thy-icon thyIconName="drag" class="drag-handle"></thy-icon>
        Item 1
      </thy-list-item>
      <thy-list-item cdkDrag>
        <thy-icon thyIconName="drag" class="drag-handle"></thy-icon>
        Item 2
      </thy-list-item>
      <thy-list-item cdkDrag>
        <thy-icon thyIconName="drag" cdkDragHandle></thy-icon>
        Item 3
      </thy-list-item>
      <thy-list-item cdkDrag>
        <thy-icon thyIconName="drag" cdkDragHandle></thy-icon>
        <a href="javascripr:;">Item 4</a>
      </thy-list-item>
    </thy-list>
  </div>
</section>

<section>
  <div class="header">
    <h2>Selection List</h2>
  </div>
  <div class="body selection-list-wrapper" #body>
    <label thyCheckbox thyInline="true" [(ngModel)]="selectionModel.multiple" thyLabelText="是否是多选列表"></label>
    <label
      thyCheckbox
      thyInline="true"
      [(ngModel)]="selectionModel.stopKeydownEvent"
      thyLabelText="阻止键盘事件"
    ></label>
    <label
      thyCheckbox
      thyInline="true"
      [(ngModel)]="selectionModel.selectAll"
      (ngModelChange)="toggleSelectAll()"
      thyLabelText="选择所有项"
    ></label>
    <label
      thyCheckbox
      thyInline="true"
      [(ngModel)]="selectionModel.isLayoutGrid"
      thyLabelText="列表以grid格式展示"
    ></label>
    <thy-input-search
      *ngIf="!selectionModel.isLayoutGrid"
      name="search"
      thyPlaceholder="输入关键字进行搜索"
      (keydown.enter)="enterSearch()"
      [(ngModel)]="searchText"
      (ngModelChange)="searchChange()"
      (clear)="clearSearch()"
    ></thy-input-search>
    <thy-selection-list
      [style.height]="'200px'"
      [(ngModel)]="selectionModel.defaultValues"
      [thyBindKeyEventContainer]="body"
      [thyBeforeKeydown]="thyBeforeKeydown"
      [thyMultiple]="selectionModel.multiple"
      [thyLayout]="selectionModel.isLayoutGrid ? 'grid' : 'list'"
      (thySelectionChange)="selectionChange($event)"
    >
      <thy-list-option *ngFor="let item of items" [thyDisabled]="item.id === 2" [thyValue]="item?.id">
        <div class="text-center" *ngIf="selectionModel.isLayoutGrid">
          <div>
            <i class="wtf wtf wtf-type-demand text-success font-size-xlg"></i>
          </div>
          <div>{{ item.name }}</div>
        </div>
        <span *ngIf="!selectionModel.isLayoutGrid">{{ item.name }}</span>
      </thy-list-option>
    </thy-selection-list>
    ngModel:
    <pre><code>{{selectionModel.defaultValues | json}}</code></pre>
  </div>
</section>

<section>
  <div class="header">
    <h2>Selection List Value is Object</h2>
  </div>
  <div class="body selection-list-wrapper" #body1>
    <thy-selection-list
      [style.height]="'200px'"
      [(ngModel)]="selectionModel.objectValues"
      [thyBindKeyEventContainer]="body1"
      [thyBeforeKeydown]="thyBeforeKeydown"
      [thyMultiple]="selectionModel.multiple"
      (thySelectionChange)="selectionChange($event)"
      thyUniqueKey="id"
    >
      <thy-list-option *ngFor="let item of items" [thyValue]="item">
        {{ item.name }}
      </thy-list-option>
    </thy-selection-list>
    ngModel:
    <pre><code>{{selectionModel.objectValues | json}}</code></pre>
  </div>
</section>

<section>
  <div class="header">
    <h2>Selection Grid</h2>
  </div>
  <div class="body selection-list-wrapper" #body>
    <label thyCheckbox thyInline="true" [(ngModel)]="selectionGridModel.multiple" thyLabelText="是否是多选列表"></label>
    <thy-selection-list
      [style.height]="'400px'"
      [style.width]="'560px'"
      [style.background]="'#fafafa'"
      [(ngModel)]="selectionGridModel.defaultValues"
      [thyBindKeyEventContainer]="body"
      [thyBeforeKeydown]="thyBeforeKeydown"
      [thyMultiple]="selectionGridModel.multiple"
      [thyLayout]="'grid'"
      (thySelectionChange)="selectionChange($event)"
    >
      <thy-list-option *ngFor="let item of items" [thyDisabled]="item.id === 2" [thyValue]="item?.id">
        <div class="text-center">
          <div>
            <i class="wtf wtf wtf-type-demand text-success font-size-xlg"></i>
          </div>
          <div>{{ item.name }}</div>
        </div>
      </thy-list-option>
    </thy-selection-list>
    ngModel:
    <pre><code>{{selectionGridModel.defaultValues | json}}</code></pre>
  </div>
</section>

<api-parameters title="thy-list-option 参数列表" [parameters]="apiOptionParameters"></api-parameters>
<api-parameters title="thy-selection-list 参数列表" [parameters]="apiParameters"></api-parameters>
