<div class="demo-icons mt-2" [ngClass]="colorClass">
  <thy-icon thyIconName="settings" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="calendar-check" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="clock-circle-moment" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="play-circle" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="smile" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="check-circle" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="pause-circle" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="more-circle" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="clock-circle-moment" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="user-check" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="user-group" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="waring" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
  <thy-icon thyIconName="check" [ngClass]="fontSizeClass"></thy-icon>

  <br />

  <thy-icon
    thyIconName="sort"
    thyIconType="twotone"
    [thyTwotoneColor]="ttColor"
    [thyIconRotate]="rotate"
    [ngClass]="fontSizeClass"
    (click)="rotate = rotate + 180"
  >
  </thy-icon>

  <button thyButton="primary" thySize="xs" (click)="changeColor()" class="ml-3 mr-3">改变双色icon颜色</button>

  <thy-icon
    thyIconName="smile"
    [ngClass]="fontSizeClass"
    [thyIconRotate]="rotate2"
    thyTooltip="点击旋转"
    (click)="rotate2 = rotate2 + 45"
  >
  </thy-icon>
</div>
