<thy-comment [thyAuthor]="'布里奇特'" [thyDatetime]="time">
  <div thyCommentContent>
    你可以 hover 到这个评论上来，执行相关操作你可以 hover 到这个评论上来，执行相关操作你可以 hover 到这个评论上来，执行相关操作你可以 hover
    到这个评论上来，执行相关操作你可以 hover 到这个评论上来，执行相关操作
  </div>
  <div thyCommentActions>
    <a thyAction thyTheme="lite" thyIcon="edit" href="javascript:;"></a>
    <a thyAction thyTheme="lite" thyIcon="trash" href="javascript:;"></a>
    <a thyAction thyTheme="lite" thyIcon="comment" href="javascript:;"></a>
    <a thyAction thyTheme="lite" thyIcon="smile-plus" href="javascript:;"></a>
  </div>
</thy-comment>
