<thy-button-group thySize="sm" thyAppearance="outline">
  @for (item of appearances; track $index) {
    <button thyButton (click)="appearance = item" [ngClass]="{ active: appearance === item }">
      {{ item }}
    </button>
  }
</thy-button-group>

<div class="mt-4">
  <thy-tag [thyAppearance]="appearance">Tag 1</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyColor="primary">Tag 2</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyColor="info">Tag 2</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyColor="success">Tag 2</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyColor="warning">Tag 2</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyColor="danger">Tag 2</thy-tag>
</div>

<div class="mt-4">
  <thy-tag [thyAppearance]="appearance" thyShape="ellipse">Tag 1</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyShape="ellipse" thyColor="primary">Tag 2</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyShape="ellipse" thyColor="info">Tag 2</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyShape="ellipse" thyColor="success">Tag 2</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyShape="ellipse" thyColor="warning">Tag 2</thy-tag>
  <thy-tag [thyAppearance]="appearance" thyShape="ellipse" thyColor="danger">Tag 2</thy-tag>
</div>
