<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <thy-input-search
      [disabled]="true"
      [attr.disabled]="true"
      (keydown.enter)="change()"
      [(ngModel)]="searchText"
      (ngModelChange)="change()"
      (thyClear)="change()"
      placeholder="Disabled, can't type (thy-input)"></thy-input-search>
    <br />
    <thy-input-search
      (keydown.enter)="change()"
      [(ngModel)]="searchText"
      (ngModelChange)="change()"
      (thyClear)="change()"
      thyIconPosition="after"
      placeholder="Search"></thy-input-search>
    <br />
    <thy-input-search
      (keydown.enter)="change()"
      [(ngModel)]="searchText"
      (ngModelChange)="change()"
      (thyClear)="change()"
      thyTheme="transparent"
      placeholder="Search"></thy-input-search>
    <br />
    <thy-input-group>
      <thy-input placeholder="Search" [(ngModel)]="searchText" [disabled]="true" placeholder="Disabled, can't type (thy-input)"></thy-input>
      <ng-template #append>
        <button thyButton="primary"><thy-icon thyIconName="search"></thy-icon></button>
      </ng-template>
    </thy-input-group>
    <br />
  </div>
  <div thyCol [thySpan]="12">
    <thy-input-search thyTheme="ellipse" placeholder="Search" [(ngModel)]="searchText"></thy-input-search>
    <br />
    <thy-input-search thyTheme="ellipse" [(ngModel)]="searchText" thyIconPosition="after" placeholder="Search"></thy-input-search>
    <br />
    <thy-input placeholder="Search">
      <ng-template #append>
        <thy-icon class="text-placeholder" thyIconName="search"></thy-icon>
      </ng-template>
    </thy-input>
  </div>
</div>
