<div class="mt-2 mb-2">自定义大小</div>
<thy-select [(ngModel)]="thySize" style="width: 500px;">
  <option value="sm">小</option>
  <option value="md">中</option>
  <option value="">默认</option>
  <option value="lg">大</option>
</thy-select>
<div class="mt-2 mb-2">展示</div>
<thy-input-search
  name="search"
  [thySize]="thySize"
  (keydown.enter)="change()"
  [thySearchFocus]="true"
  [(ngModel)]="searchText"
  (ngModelChange)="change()"
  (clear)="change()"
></thy-input-search>
<br />
<thy-input-search name="search1" thyTheme="ellipse" [(ngModel)]="searchText"></thy-input-search>
