.label {
  padding: $label-size-padding;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  font-size: $font-size-sm;
  border-radius: $label-border-radius;
  color: $white;

  &.label-state {
    padding: $label-state-padding;
  }

  &.label-pill {
    font-size: $font-size-sm;
    border-radius: $label-pill-radius;
    color: $gray-700;
    background: $gray-200;
  }
}

.label-pill-spot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 3px 1px 0;

  &.label {
    padding: 0;
  }
}

.label-default {
  @include label-variant($gray-600,$label-default-bg,$gray-600);
}

.label-primary {
  @include label-variant($white,$label-primary-bg,$white);
}

.label-success {
  @include label-variant($white,$label-success-bg,$white);
}

.label-info {
  @include label-variant($white,$label-info-bg,$white);
}

.label-warning {
  @include label-variant($white,$label-warning-bg,$white);
}

.label-danger {
  @include label-variant($white,$label-danger-bg,$white);
}

.label-add {
  color: $gray-500;
  background-color: $label-default-bg;

  &[href] {
    &:focus,
    &:hover {
      color: $gray-600;
      background-color: $label-default-bg;
      text-decoration: none;
    }
  }
}

// .list-status {
//   padding: $label-size-padding;
//   font-size: $font-size-sm;
//   border-radius: $label-border-radius;
//   color: $white;

//   //已拒绝：reject
//   //已截止：ended
//   //已同意：agreed
//   //已提交：submited
//   //已评审：reviewed
//   //已撤销: canceled
//   //已作废: deserted
//   //审批中: waiting
//   //已读: readed
//   //未读: unread
//   //未回执:unreceipt
//   //已回执:receipted
//   //进行中:in-progress
//   //已结束:finished
//   //未开始:unbegin
//   //已转交: transferred
//   //未发布:unpublished
//   //已发布:published
//   //未提交:unsubmited
//   //待评审:pending

//   &.agreed,
//   &.approved,
//   &.in-progress,
//   &.published,
//   &.readed,
//   &.receipted,
//   &.reviewed,
//   &.submitted {
//     @include label-variant($label-primary-bg);
//   }

//   &.pending,
//   &.unbegin,
//   &.unpublished,
//   &.unread,
//   &.unreceipt,
//   &.unsubmited,
//   &.waiting {
//     @include label-variant($label-warning-bg);
//   }

//   &.ended,
//   &.finished,
//   &.reject {
//     @include label-variant($label-danger-bg);
//   }

//   &.canceled,
//   &.deserted {
//     @include label-variant($label-default-bg);
//   }
// }
