@mixin label-variant($color,$bg-color,$hover-color) {
  color: $color;
  background-color: $bg-color;

  &[href] {
    &:focus,
    &:hover {
      color: $hover-color;
      background-color: darken($bg-color, 10%);
      text-decoration: none;
    }
  }
}
