@use "sass:color";
@use '../../styles/variables.scss';

@mixin label-variant($bg-color) {
    background-color: $bg-color;
    &.label-has-hover {
        &:focus,
        &:hover {
            background-color: color.adjust($bg-color, $lightness: -10%);
            cursor: pointer;
        }
    }
}

@mixin label-color-variant($color, $hover-color) {
    color: $color;
    &.label-has-hover {
        thy-icon.thy-icon-close,
        i.wtf-times {
            display: none;
        }
        &:focus,
        &:hover {
            color: $hover-color;
            cursor: pointer;
            thy-icon.thy-icon-close,
            i.wtf-times {
                display: inline-block;
            }
        }
    }
}

@mixin label-size($size, $padding, $minusValue: 0px) {
    @if $size == xlg {
        &--#{$size} {
            padding: #{$padding - $minusValue} 10px;
            font-size: variables.$font-size-lg;
        }
    } @else if $size == lg {
        &--#{$size} {
            padding: #{$padding - $minusValue} 10px;
            font-size: variables.$font-size-base;
        }
    } @else if $size == default {
        padding: #{$padding - $minusValue} 10px;
    } @else {
        &--#{$size} {
            padding: #{$padding - $minusValue} 10px;
        }
    }
}
