@mixin label-variant($bg-color) {
  background-color: $bg-color;

  &[href] {
    &:focus,
    &:hover {
      background-color: darken($bg-color, 10%);
    }
  }
}
@mixin label-color-variant($color,$hover-color) {
  color: $color;

  &[href] {
    &:focus,
    &:hover {
      color: $hover-color;
      text-decoration: none;

      i.wtf-times {
        display: inline-block;
      }
    }
  }
}
