@mixin label-variant($bg-color) {
    background-color: $bg-color;
    &.label-has-hover {
        &:focus,
        &:hover {
            background-color: darken($bg-color, 10%);
            cursor: pointer;
        }
    }
}

@mixin label-color-variant($color, $hover-color) {
    color: $color;
    &.label-has-hover {
        thy-icon.thy-icon-close {
            display: none;
        }
        &:focus,
        &:hover {
            color: $hover-color;
            cursor: pointer;
            thy-icon.thy-icon-close {
                display: inline-block;
            }
        }
    }
}
