<div class="mb-2">
  <thy-radio-group [(ngModel)]="theme">
    <label thyRadio thyLabelText="Default" thyInline thyValue="default"></label>
    <label thyRadio thyLabelText="Bordered" thyInline thyValue="bordered"></label>
    <label thyRadio thyLabelText="Boxed" thyInline thyValue="boxed"></label>
  </thy-radio-group>
</div>

<thy-table [thyModel]="data" thyRowKey="id" [thyTheme]="theme">
  <thy-table-column thyTitle="Id" thyModelKey="id" thyWidth="100"></thy-table-column>
  <thy-table-column thyTitle="Name" thyModelKey="name" thyWidth="100"></thy-table-column>
  <thy-table-column thyTitle="Age" thyModelKey="age" thyWidth="500"></thy-table-column>
  <thy-table-column thyTitle="Job" thyModelKey="job" thyWidth="200"> </thy-table-column>
  <thy-table-column thyTitle="Address" thyModelKey="address" thyWidth="200"></thy-table-column>
  <thy-table-column thyTitle="" thyOperational="" thyWidth="100">
    <ng-template #cell let-row>
      <a class="link-secondary" href="javascript:;">
        <thy-icon thyIconName="user-add"></thy-icon>
      </a>
      <a class="link-danger-weak" href="javascript:;" (click)="deleteItem(row)">
        <thy-icon thyIconName="trash"></thy-icon>
      </a>
    </ng-template>
  </thy-table-column>
</thy-table>

<thy-table [thyModel]="data" thyRowKey="id" [thyTheme]="theme">
  <thy-table-column thyTitle="Id" thyModelKey="id" thyWidth="100" thyFixed="left"></thy-table-column>
  <thy-table-column thyTitle="Name" thyModelKey="name" thyWidth="100" thyFixed="left"></thy-table-column>
  <thy-table-column thyTitle="Age" thyModelKey="age" thyWidth="500"></thy-table-column>
  <thy-table-column thyTitle="Job" thyModelKey="job" thyWidth="200"> </thy-table-column>
  <thy-table-column thyTitle="Address" thyModelKey="address" thyWidth="200"></thy-table-column>
  <thy-table-column thyTitle="" thyOperational="true" thyWidth="100">
    <ng-template #cell let-row>
      <a class="link-secondary" href="javascript:;">
        <thy-icon thyIconName="user-add"></thy-icon>
      </a>
      <a class="link-danger-weak" href="javascript:;" (click)="deleteItem(row)">
        <thy-icon thyIconName="trash"></thy-icon>
      </a>
    </ng-template>
  </thy-table-column>
</thy-table>
