<thy-skeleton styleClass="mb-2 ml-2" [uiLoading]="true" [thyCustomTemplate]="custom">
  <ng-template #custom>
    <div class="d-flex mb-2">
      <thy-skeleton-item shape="circle" size="5rem"></thy-skeleton-item>
      <div style="flex: 1; display: flex;flex-direction: column;" class="ml-2">
        <thy-skeleton-item width="100%" styleClass="mb-3" *ngFor="let item of [1, 2, 3]"></thy-skeleton-item>
      </div>
    </div>
    <thy-skeleton-item width="100%" styleClass="mb-2" *ngFor="let item of [1, 2, 3]"></thy-skeleton-item>
  </ng-template>
</thy-skeleton>
