<thy-button-group thyType="outline-default">
  <button thyButton (click)="isShow = true" [class]="isShow ? 'active' : ''">show</button>
  <button thyButton (click)="isShow = false" [class]="!isShow ? 'active' : ''">hide</button>
</thy-button-group>
<div style="margin-top: 10px">
  <thy-carousel [thyArrowTemplate]="arrowTemplate" [thyShowArrow]="isShow">
    <div thy-carousel-item *ngFor="let index of array">
      <h3>{{ index }}</h3>
    </div>
  </thy-carousel>
</div>

<ng-template #arrowTemplate let-pre="pre" let-next="next">
  <div class="carousel-arrow carousel-arrow-left" (click)="pre()">
    <thy-icon thyIconName="arrow-left-circle"></thy-icon>
  </div>
  <div class="carousel-arrow carousel-arrow-right" (click)="next()">
    <thy-icon thyIconName="arrow-right-circle"></thy-icon>
  </div>
</ng-template>
