<div class="btn-pair">
  <button [thyButton]="'primary'" (click)="showSlideWithComponent()">Open with component</button>

  <button [thyButton]="'primary'" (click)="showSlideWithTemplate(template)">Open with template</button>

  <button [thyButton]="'primary'" (click)="showSlideWithoutBackdrop()">Open slide without backdrop</button>

  <button [thyButton]="'primary'" (click)="showSlideNotCloseLatest()">Open slide but not close latest</button>
</div>

<ng-template #template>
  <thy-slide-layout>
    <thy-slide-header [thyTitle]="'slide title'"></thy-slide-header>
    <thy-slide-body> slide body —— open with template </thy-slide-body>
  </thy-slide-layout>
</ng-template>
