<div class="demo-inner-wrapper demo-layout-backdrop">
  <div class="demo-cards">
    <thy-card thySize="sm">
      <thy-card-header thyTitle="Card Size of sm">
        <ng-template #headerOperation>
          <button thyButton="primary" thySize="md">New</button>
        </ng-template>
      </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>

    <thy-card thySize="md">
      <thy-card-header thyTitle="Card Size of md">
        <ng-template #headerOperation>
          <button thyButton="primary" thySize="md">New</button>
        </ng-template>
      </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>

    <thy-card thySize="lg">
      <thy-card-header thyTitle="Card Size of lg">
        <ng-template #headerOperation>
          <button thyButton="primary" thySize="md">New</button>
        </ng-template>
      </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>
  </div>
  <div class="demo-cards mt-4">
    <thy-card thySize="sm" thyDivided="true">
      <thy-card-header thyTitle="Card size of sm">
        <ng-template #headerOperation>
          <button thyButton="primary" thySize="md">New</button>
        </ng-template>
      </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>

    <thy-card thySize="md" thyDivided="true">
      <thy-card-header thyTitle="Card Size of md">
        <ng-template #headerOperation>
          <button thyButton="primary" thySize="md">New</button>
        </ng-template>
      </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>

    <thy-card thySize="lg" thyDivided="true">
      <thy-card-header thyTitle="Card Size of lg">
        <ng-template #headerOperation>
          <button thyButton="primary" thySize="md">New</button>
        </ng-template>
      </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>
  </div>
</div>
