<div class="demo-inner-wrapper demo-layout-backdrop">
  <div class="demo-cards">
    <thy-card>
      <thy-card-header thyTitle="Card title"> </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>

    <thy-card>
      <thy-card-header thyTitle="Card size lg" thySize="lg"> </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>

    <thy-card>
      <thy-card-header thyTitle="Card size sm" thySize="sm"> </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>
  </div>
  <div class="demo-cards mt-4">
    <thy-card>
      <thy-card-header thyTitle="Card title"> </thy-card-header>
      <thy-card-content thySize="sm">
        Card content with size sm<br />
        Card content
      </thy-card-content>
    </thy-card>

    <thy-card thyHasLeftRightPadding="false">
      <thy-card-header thyTitle="Card title"> </thy-card-header>
      <thy-card-content>
        Card with clear padding <br />
        Card content <br />
        Card content
      </thy-card-content>
    </thy-card>
  </div>
</div>
