<thy-avatar thyName="路晓贝" class="mr-2" thySize="22"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="24"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="30"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="38"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="48"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="68"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="110"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="160"></thy-avatar>
<br/>
<br/>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="22"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="24"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="30"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="38"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="48"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="68"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="110"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="160"></thy-avatar>
<br/>
<br/>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="22"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="24"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="30"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="38"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="48"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="68"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="110"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="160"></thy-avatar>
