<thy-avatar thyName="路晓贝" class="mr-2" thySize="22"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="24"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="28"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="32"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="36"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="48"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="68"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="110"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="160"></thy-avatar>
<br />
<br />
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="22"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="24"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="28"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="32"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="36"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="48"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="68"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="110"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="160"></thy-avatar>
<thy-avatar
  [thySrc]="'https://s3.cn-north-1.amazonaws.com.cn/lclogo/5fce88aa-b280-4607-b62b-327d09d7358c_180x180.png'"
  class="mr-2"
  thySize="160"
  [thyImgClass]="'img-background'"
></thy-avatar>
<br />
<br />
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="22"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="24"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="28"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="32"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="36"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="48"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="68"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="110"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" [thyShowName]="true" thySize="160"></thy-avatar>
