.thy-divider {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $text-color;
    font-size: $font-size-base;
    line-height: $line-height-base;
    list-style: none;
    border-top: $divider-width solid $divider-color;
    &.thy-divider-vertical {
        position: relative;
        top: -0.06em;
        display: inline-block;
        height: 0.9em;
        margin: 0 8px;
        vertical-align: middle;
        border-top: 0;
        border-left: $divider-width solid $divider-color;
        &.thy-divider-dashed {
            border-width: 0 0 0 $divider-width;
        }
    }
    &.thy-divider-horizontal {
        display: flex;
        clear: both;
        width: 100%;
        min-width: 100%;
        margin: 24px 0;
        &.thy-divider-with-content {
            display: flex;
            margin: 16px 0;
            color: $text-color;
            font-weight: normal;
            font-size: $font-size-base;
            white-space: nowrap;
            text-align: center;
            border-top: 0;
            border-top-color: $divider-color;
            &::before,
            &::after {
                position: relative;
                top: 50%;
                width: 50%;
                border-top: $divider-width solid transparent;
                border-top-color: inherit; /* Chrome not accept `inherit` in `border-top` */
                border-bottom: 0;
                transform: translateY(50%);
                content: '';
            }
            &.thy-divider-dashed {
                border-top: 0;
                &::before,
                &::after {
                    border-style: dashed none none;
                }
            }
        }
        &.thy-divider-with-content-left {
            &::before {
                top: 50%;
                width: $divider-orientation-margin;
            }
            &::after {
                top: 50%;
                width: 100% - $divider-orientation-margin;
            }
        }
        &.thy-divider-with-content-right {
            &::before {
                top: 50%;
                width: 100% - $divider-orientation-margin;
            }
            &::after {
                top: 50%;
                width: $divider-orientation-margin;
            }
        }
    }
    &.thy-divider-dashed {
        background: none;
        border-color: $divider-color;
        border-style: dashed;
        border-width: $divider-width 0 0;
    }
    .thy-divider-inner-template,
    .thy-divider-inner-text {
        display: inline-block;
        padding: 0 $divider-text-padding;
    }
}
