<button
  [thyTooltip]="hello"
  [thyTooltipTrigger]="tooltipConfig.trigger"
  [thyTooltipPlacement]="tooltipConfig.placement"
  [thyTooltipDisabled]="tooltipConfig.disabled"
  [thyTooltipOffset]="tooltipConfig.offset"
  thyButton="primary"
  >
  Tooltip 内使用模板
</button>
<ng-template #hello>
  <div><i class="wtf wtf-help-question-o"></i> My custom tooltip message with template</div>
</ng-template>

<button
  class="ml-5"
  [thyTooltip]="world"
  [thyTooltipTrigger]="tooltipConfig.trigger"
  [thyTooltipTemplateContext]="{ values: ['这是数据1', '这是数据2', '这是数据3', '这是数据4'] }"
  [thyTooltipPlacement]="tooltipConfig.placement"
  [thyTooltipDisabled]="tooltipConfig.disabled"
  [thyTooltipOffset]="tooltipConfig.offset"
  thyButton="primary"
  >
  Tooltip 内带有数据的模板
</button>
<ng-template #world let-data>
  <div>
    <i class="wtf wtf-help-question-o"></i>
    My custom tooltip message with template data
    @for (item of data.values; track item) {
      <div>
        {{ item }}
      </div>
    }
  </div>
</ng-template>
