<thy-button-group thySize="sm" thyType="outline-default">
  @for (item of sizes; track $index) {
    <button thyButton (click)="size = item.value" [ngClass]="{ active: size === item.value }">
      {{ item.value }} （{{ item.height }}px）
    </button>
  }
</thy-button-group>

<div class="mt-4">
  <thy-tag [thySize]="size">Default</thy-tag>
  <thy-tag [thySize]="size" thyColor="primary">Primary</thy-tag>
  <thy-tag [thySize]="size" thyColor="info">Info</thy-tag>
  <thy-tag [thySize]="size" thyColor="success">Success</thy-tag>
  <thy-tag [thySize]="size" thyColor="warning">Warning</thy-tag>
  <thy-tag [thySize]="size" thyColor="danger">Danger</thy-tag>
  <thy-tag [thySize]="size" thyColor="primary">中文标签</thy-tag>
  <thy-tag [thySize]="size" thyColor="primary"><thy-icon thyIconName="smile"></thy-icon>Primary</thy-tag>
</div>

<div class="mt-4">
  <thy-tag [thySize]="size" thyTheme="outline" thyColor="default">Default</thy-tag>
  <thy-tag [thySize]="size" thyTheme="outline" thyColor="primary">Primary</thy-tag>
  <thy-tag [thySize]="size" thyTheme="outline" thyColor="info">Info</thy-tag>
  <thy-tag [thySize]="size" thyTheme="outline" thyColor="success">Success</thy-tag>
  <thy-tag [thySize]="size" thyTheme="outline" thyColor="warning">Warning</thy-tag>
  <thy-tag [thySize]="size" thyTheme="outline" thyColor="danger">Danger</thy-tag>
  <thy-tag [thySize]="size" thyTheme="outline" thyColor="primary">中文标签</thy-tag>
  <thy-tag [thySize]="size" thyTheme="outline" thyColor="primary"><thy-icon thyIconName="smile"></thy-icon>Primary</thy-tag>
</div>

<div class="mt-4">
  <thy-tag [thySize]="size" thyTheme="weak-fill" thyColor="default">Default</thy-tag>
  <thy-tag [thySize]="size" thyTheme="weak-fill" thyColor="primary">Primary</thy-tag>
  <thy-tag [thySize]="size" thyTheme="weak-fill" thyColor="info">Info</thy-tag>
  <thy-tag [thySize]="size" thyTheme="weak-fill" thyColor="success">Success</thy-tag>
  <thy-tag [thySize]="size" thyTheme="weak-fill" thyColor="warning">Warning</thy-tag>
  <thy-tag [thySize]="size" thyTheme="weak-fill" thyColor="danger">Danger</thy-tag>
  <thy-tag [thySize]="size" thyTheme="weak-fill" thyColor="primary">中文标签</thy-tag>
  <thy-tag [thySize]="size" thyTheme="weak-fill" thyColor="primary"><thy-icon thyIconName="smile"></thy-icon>Primary</thy-tag>
</div>
