<!-- <div class="has-feedback col-form-control">
    <input type="email" class="form-control" thyDatepickerNext readonly placeholder="结束时间">
    <span class="form-control-feedback wtf wtf-schedule-o"></span>
</div>

<div>
    <div>默认</div>
    <div>{{value1|json}}</div>
    <thy-datepicker-next [(ngModel)]="value1" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>
<div>
    <div>必选日期</div>
    <div>{{value2|json}}</div>
    <thy-datepicker-next [(ngModel)]="value2" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>
<div>
    <div>可选日期</div>
    <div>{{value3|json}}</div>
    <thy-datepicker-next [(ngModel)]="value3" (ngModelChange)="onSelect($event)" [thyWithTime]="true"></thy-datepicker-next>
</div>
<div>
    <div>精确时间选择</div>
    <div>{{value4|json}}</div>
    <thy-datepicker-next [(ngModel)]="value4" (ngModelChange)="onSelect($event)" [thyTimeType]="datepickerNextTimeModeType.accurate"></thy-datepicker-next>
</div> -->
<div>
    <div>可选日期范围</div>
    <div>{{value5|json}}</div>
    <div>{{value6|json}}</div>
    <thy-datepicker-next [(ngModel)]="value5" [thyMaxDate]="value6" [thyOperation]="false" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
    <thy-datepicker-next [(ngModel)]="value6" [thyMinDate]="value5" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>

<!--<hr>
<hr>
<hr>
<h1>数据类型支持：</h1>
<div>
    <div>长时间戳对象：{{objectTimestamp|json}}</div>
    <thy-datepicker-next [(ngModel)]="objectTimestamp" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>
<div>
    <div>长时间戳对象：{{objectTimestampLong|json}}</div>
    <thy-datepicker-next [(ngModel)]="objectTimestampLong" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>
<div>
    <div>日期对象：{{objectDate|json}}</div>
    <thy-datepicker-next [(ngModel)]="objectDate" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>
<div>
    <div>空对象：{{objectEmpty|json}}</div>
    <thy-datepicker-next [(ngModel)]="objectEmpty" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>
<div>
    <div>时间戳：{{timestamp|json}}</div>
    <thy-datepicker-next [(ngModel)]="timestamp" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>
<div>
    <div>长时间戳：{{timestampLong|json}}</div>
    <thy-datepicker-next [(ngModel)]="timestampLong" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>
<div>
    <div>日期：{{date|json}}</div>
    <thy-datepicker-next [(ngModel)]="date" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>
<div>
    <div>空：{{empty|json}}</div>
    <thy-datepicker-next [(ngModel)]="empty" (ngModelChange)="onSelect($event)"></thy-datepicker-next>
</div>


<api-parameters [parameters]="apiParameters"></api-parameters> -->
