<section>
    <div class="header">
        <h2></h2>
    </div>
    <div class="body">
        <pre>
dateEntry = {{dateEntry|json}}

dateEntryWithTime = {{dateEntryWithTime|json}}

onlyDate = {{onlyDate|json}}

dateTime = {{dateTime|json}}

        </pre>
        <thy-form-group thyLabelText="dateEntry" [thyFeedbackIcon]="'date'">
            <input type="text" readonly="readonly" thyDatepicker [(ngModel)]="dateEntry" class="form-control" placeholder="" />
        </thy-form-group>
        <thy-form-group thyLabelText="dateEntry 禁用" [thyFeedbackIcon]="'date'">
            <input type="text" readonly="readonly" disabled thyDatepicker [(ngModel)]="dateEntry" class="form-control" placeholder=""
            />
        </thy-form-group>
        <thy-form-group thyLabelText="dateEntryWithTime" [thyFeedbackIcon]="'date'">
            <input type="text" readonly="readonly" thyDatepicker [(ngModel)]="dateEntryWithTime" [thyFormat]="'yyyy/MM/dd'" (ngModelChange)="log($event)"
                class="form-control" placeholder="" />
        </thy-form-group>
        <thy-form-group thyLabelText="onlyDate" [thyFeedbackIcon]="'date'">
            <input type="text" readonly="readonly" thyDatepicker [(ngModel)]="onlyDate" class="form-control" placeholder="" />
        </thy-form-group>
        <thy-form-group thyLabelText="dateTime" [thyFeedbackIcon]="'date'">
            <input type="text" readonly="readonly" thyDatepicker [(ngModel)]="dateTime" class="form-control" placeholder="" />
        </thy-form-group>
        <div>
            元素绑定 dateEntry
            <a href="javascript:;" thyDatepicker disabled [(ngModel)]="dateEntry">
                <i class="wtf wtf-calendar-date"></i>{{dateEntry.date}}
            </a>
        </div>
        <div>
            元素绑定 dateEntry 禁用：
            <a href="javascript:;" thyDatepicker [thyDisabled]="true" [(ngModel)]="dateEntry">
                <i class="wtf wtf-calendar-date"></i>{{dateEntry.date}}
            </a>
        </div>
    </div>
</section>
<api-parameters [parameters]="apiParameters"></api-parameters>
