<section>
    <div class="header">
        <h2>Input绑定</h2>
    </div>
    <div class="body">
        <dl class="datepicker-section">
            <dd class="mt-5">
                <div class="">DatepickerTimeObject类型 - {{dateEntry|json}}</div>
                <thy-form-group thyLabelText="日期：" [thyFeedbackIcon]="'date'">
                    <input type="text" readonly="readonly" thyDatepicker [(ngModel)]="dateEntry" class="form-control" placeholder="" />
                </thy-form-group>
            </dd>
            <dd class="mt-5">
                <div>DateTime类型 - {{dateEntry2|json}}</div>
                <thy-form-group thyLabelText="日期：" [thyFeedbackIcon]="'date'">
                    <input type="text" readonly="readonly" thyDatepicker [(ngModel)]="dateEntry2" class="form-control" placeholder="" />
                </thy-form-group>
            </dd>
            <dd class="mt-5">
                <div>可选时间 - {{dateEntryWithTime|json}}</div>
                <thy-form-group thyLabelText="日期：" [thyFeedbackIcon]="'date'">
                    <input type="text" readonly="readonly" thyDatepicker [thyWithTime]="true" [(ngModel)]="dateEntryWithTime" class="form-control"
                        placeholder="" />
                </thy-form-group>
            </dd>
            <dd class="mt-5">
                <div>必选时间 - {{dateEntryWithTime2|json}}</div>
                <thy-form-group thyLabelText="日期：" [thyFeedbackIcon]="'date'">
                    <input type="text" readonly="readonly" thyDatepicker [thyWithTime]="true" [(ngModel)]="dateEntryWithTime2" class="form-control"
                        placeholder="" />
                </thy-form-group>
            </dd>
            <dd class="mt-5">
                <div>禁用 - </div>
                <thy-form-group thyLabelText="日期：" [thyFeedbackIcon]="'date'">
                    <input type="text" readonly="readonly" thyDatepicker disabled [(ngModel)]="dateEntryDisable" class="form-control" placeholder=""
                    />
                </thy-form-group>
            </dd>
            <dd class="mt-5">
                <div>空值 - {{dateNull|json}}</div>
                <thy-form-group thyLabelText="日期：" [thyFeedbackIcon]="'date'">
                    <input type="text" readonly="readonly" thyDatepicker [(ngModel)]="dateNull" class="form-control" placeholder="" />
                </thy-form-group>
            </dd>
            <dd class="mt-5">
                <div>空值 - {{dateNull2|json}}</div>
                <thy-form-group thyLabelText="日期：" [thyFeedbackIcon]="'date'">
                    <input type="text" readonly="readonly" thyDatepicker [(ngModel)]="dateNull2" class="form-control" placeholder="" />
                </thy-form-group>
            </dd>
        </dl>
    </div>
</section>
<section>
    <div class="header">
        <h2>元素绑定</h2>
    </div>
    <div class="body">
        <table>
            <tr>
                <td>
                    绑定
                </td>
                <td>
                    <a href="javascript:;" thyDatepicker [thyWithTime]="true" [(ngModel)]="elementDateEntry">
                        <i class="wtf wtf-calendar-date"></i> {{elementDateEntry|thyDatepickerFormat}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>禁用：</td>
                <td>
                    <a href="javascript:;" thyDatepicker [thyDisabled]="true" [(ngModel)]="elementDateEntry2">
                        <i class="wtf wtf-calendar-date"></i> {{elementDateEntry2|thyDatepickerFormat}}
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</section>
<api-parameters [parameters]="apiParameters"></api-parameters>
