@use '../../styles/variables.scss' as variables;

.thy-tabs {
    display: block;
    background: variables.$bg-default;
    // overflow: hidden;
    &-content {
        padding: variables.$tabs-content-space 0px;
        display: flex;
        width: 100%;
        &-animated {
            transition: margin 0.3s;
        }
    }
    &-left {
        display: flex;
        .thy-tabs-nav {
            border-bottom: unset;
        }
        .thy-tabs-content {
            flex: auto;
            padding: 0px variables.$tabs-content-space;
        }
    }
    .thy-tab-content {
        flex: none;
        width: 100%;
        outline: none;
    }
}
