<h6 class="my-4">当 option item 的值为对象的时候：</h6>
<thy-selection-list
  [style.width]="'560px'"
  [style.background]="'#fafafa'"
  [(ngModel)]="selectionObjectModel"
  [thyMultiple]="false"
  thyLayout="grid"
  [thyUniqueKey]="gridUniqueKey"
>
  <thy-list-option *ngFor="let item of gridUniqueKeyItems" [thyValue]="item">
    <thy-icon thyIconName="app-agile-fill" class="thy-grid-option-icon"></thy-icon>
    <div class="thy-grid-option-name">{{ item.name }}</div>
  </thy-list-option>
</thy-selection-list>
<h6 class="my-3">修改 <code>thyUniqueKey</code> 的值</h6>
<p>
  <thy-radio-group [(ngModel)]="gridUniqueKey" thySize="md">
    <label thyRadioButton thyLabelText="thyUniqueKye: id" thyValue="id"></label>
    <label thyRadioButton thyLabelText="thyUniqueKye: name" thyValue="name"></label>
  </thy-radio-group>
</p>
<p>
  可以看到有两个 grid item 的 <code>name</code> 值是相同的，都是 'Grid Item Same'。如果 <code>thyUniqueKye</code> 的值为 'name'
  那么选择时会将两个值一同选择。如果 <code>thyUniqueKey</code>的值是 'id' 那么就不会有这样的情况。
</p>
<h6 class="my-3">已选择的值：</h6>
<p>{{ selectionObjectModel | json }}</p>
