.carousel-item {
    height: 300px !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(30, 168, 255, 0.22);
}
.carousel-arrow-left,
.carousel-arrow-right {
    font-size: 40px;
}
