<select
  #select
  thyInput
  [tabindex]="-1"
  [thySize]="_size"
  [disabled]="_disabled"
  [(ngModel)]="_innerValue"
  (ngModelChange)="ngModelChange()"
  (blur)="onBlur($event)"
  [class.thy-select-selection-allow-clear]="thyAllowClear">
  <ng-content></ng-content>
</select>
<thy-icon thyIconName="angle-down"></thy-icon>
<a class="thy-select-remove remove-link" href="javascript:;" (click)="clearSelectValue($event)" *ngIf="thyAllowClear && _innerValue">
  <thy-icon class="remove-link-icon" thyIconName="close-circle-bold-fill"></thy-icon>
</a>
