<div class="thy-date-range-container">
  <ng-container *ngIf="!thyDisabledSwitch">
    <a thyAction href="javascript:;" (click)="previous()"><thy-icon thyIconName="angle-left"></thy-icon></a>
  </ng-container>
  <span
    href="javascript:;"
    (click)="openOptionalDateRangesMenu($event)"
    class="thy-date-range-text"
    [ngClass]="{ 'thy-date-range-disabled': thyHiddenMenu }">
    <ng-container *ngIf="selectedDate?.key === 'custom'">
      {{ selectedDate?.begin | thyDatePickerFormat }} ~ {{ selectedDate?.end | thyDatePickerFormat }}
    </ng-container>
    <ng-container *ngIf="selectedDate?.key === 'exception'">
      {{ selectedDate?.begin | thyDatePickerFormat : thyPickerFormat }}
    </ng-container>
    <ng-container *ngIf="selectedDate?.key !== 'custom' && selectedDate?.key !== 'exception'">{{ selectedDate?.text }}</ng-container>
    <thy-icon *ngIf="!thyHiddenMenu" class="thy-date-range-text-caret-down ml-2" thyIconName="angle-down"></thy-icon>
  </span>
  <ng-container *ngIf="!thyDisabledSwitch">
    <a thyAction href="javascript:;" (click)="next()"><thy-icon thyIconName="angle-right"></thy-icon></a>
  </ng-container>
</div>
