<div>
  <input
    thyInput
    [(ngModel)]="value"
    [placeholder]="'自定义样式'"
    thyAutocompleteTrigger
    [thyAutocompleteComponent]="auto"
    [thyAutocompleteWidth]="500"
    (ngModelChange)="valueChange($event)"
  />
  <thy-autocomplete #auto>
    <thy-option *ngFor="let item of listOfOption" [thyLabelText]="item.label" [thyValue]="item.value" [thyShowOptionCustom]="true">
      <thy-icon thyIconName="task"></thy-icon>
      <span style="margin-left: 5px;"> {{ item.label }} </span>
    </thy-option>
  </thy-autocomplete>
</div>
