@use '../../styles/variables.scss';

@mixin menu-collapsed {
    &-collapsed {
        width: variables.$menu-collapsed-width;
        .thy-menu-group {
            .thy-menu-group-header .thy-menu-group-arrow,
            .thy-menu-group-header .thy-menu-group-title-text,
            .thy-menu-group-body {
                display: none;
            }

            .thy-menu-group-header {
                height: variables.$menu-collapsed-height;
                .thy-menu-group-title-icon {
                    display: inline-block;
                    font-size: variables.$menu-collapsed-icon-size;
                }
            }
        }
        .thy-menu-item {
            .thy-menu-item-content {
                min-height: unset;
                height: variables.$menu-collapsed-height;
                > * {
                    display: none;
                }

                > .thy-menu-item-icon {
                    display: inline-block;
                    font-size: variables.$menu-collapsed-icon-size;
                    .thy-icon {
                        font-size: variables.$menu-collapsed-icon-size;
                    }
                }
            }
        }
    }
}
