.thy-menu {
    display: block;
    .thy-menu-item {
        display: flex;
        align-items: center;
        padding: 8px 20px;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 8px 2px $gray-200;
            .thy-menu-item-action {
                visibility: visible;
            }
        }
        .thy-menu-item-icon {
            color: $gray-500;
        }
        .thy-menu-item-name {
            flex-grow: 1;
            padding: 0 5px;
            color: $gray-800;
        }
        .thy-menu-item-action {
            visibility: hidden;
            color: $gray-700;
        }
    }
    .thy-menu-group {
        display: block;
        &.collapsed {
            .thy-menu-group-header {
                .thy-menu-group-icon {
                    transform: rotate(-45deg);
                }
            }
        }
        .thy-menu-group-header {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 8px 20px;
            &:hover {
                box-shadow: 0 0 8px 2px $gray-200;
                .thy-menu-group-more {
                    visibility: visible;
                }
            }
            .thy-menu-group-icon {
                transition: all 0.2s cubic-bezier(0.4, 0.1, 0.5, 1) 0.1s;
                display: inline-block;
                font-size: $font-size-sm;
                color: $gray-500;
            }
            .thy-menu-group-title {
                flex-grow: 1;
                padding: 0 5px;
            }
            .thy-menu-group-more {
                visibility: hidden;
                color: $gray-700;
            }
        }
        .thy-menu-group-body {
            .thy-menu-item {
                padding: 8px 20px 8px 38px;
                .thy-menu-item-icon {
                    color: $primary;
                }
            }
        }
    }
}
