@use "../../styles/variables";

.thy-menu {
    position: relative;
    display: block;
    overflow-x: hidden;
    padding: 10px 0;
    transform: translateY(-10px);

    .thy-menu-item {
        padding: variables.$menu-item-padding;
        min-height: variables.$menu-height;
        align-items: center;

        &.active .thy-menu-item-content {
            background: rgba(variables.$primary, 0.1);
        }

        .thy-menu-item-content {
            margin: 0 -1000px;
            padding: 0 1000px;
        }

        &.cdk-drag,
        &.thy-sortable-item {
            .cdk-drag-handle,
            .thy-sortable-handle,
            .drag-handle {
                position: absolute;
                left: 3px;
            }
            .thy-menu-item-icon {
                padding-left: 6px;
            }
        }

        &.thy-sortable-ghost,
        &.cdk-drag-placeholder {
            padding: 0 1000px;
            margin: 0 -1000px;
        }
    }

    .thy-menu-group {
        display: block;
        .thy-menu-group-header-content {
            display: flex;
            flex: 1;
            align-items: center;
        }

        &.collapsed {
            .thy-menu-group-header {
                .thy-menu-group-arrow {
                    transform: rotate(-45deg) translateY(1px);
                }
            }
        }

        .thy-menu-group-header {
            display: flex;
            height: variables.$menu-height;
            align-items: center;
            font-size: variables.$font-size-base;
            margin: 0 -1000px;
            padding: variables.$menu-group-header-padding;
            &.thy-menu-group-collapsible {
                cursor: pointer;
            }

            &:hover {
                background: variables.$gray-80;
                .thy-menu-group-title {
                    color: variables.$gray-800;
                }

                .thy-menu-group-operaton {
                    visibility: visible;
                }
            }

            .thy-menu-group-arrow {
                transition: all 0.2s cubic-bezier(0.4, 0.1, 0.5, 1) 0.1s;
                display: inline-block;
                color: variables.$gray-600;
                font-size: variables.$font-size-md;
                width: 12px;
            }

            .thy-menu-group-folder {
                margin-left: 6px;
                color: variables.$gray-600;
            }

            .thy-menu-group-title {
                flex-grow: 1;
                padding-left: 8px;
                color: variables.$gray-700;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .thy-menu-group-operaton {
                visibility: hidden;
                color: variables.$gray-600;
            }
        }

        .thy-menu-group-body {
            margin-left: variables.$menu-group-margin-left;
        }

        &.has-icon {
            > .thy-menu-group-body {
                margin-left: 35px;
            }
        }
    }

    &.menu-theme-loose {
        .thy-menu-item {
            padding: 0;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 10px;
            }
        }
        .thy-menu-item-content {
            margin: 0;
            padding: variables.$menu-loose-item-padding;
            border-radius: variables.$menu-loose-item-border-radius;
        }
        .thy-menu-group {
            .thy-menu-group-header {
                margin: 0;
                padding: 0;
                height: 50px;
                .thy-menu-group-title {
                    padding-left: 10px;
                    color: variables.$gray-600;
                }

                &:hover {
                    background: none;
                    &.thy-menu-group-collapsible {
                        .thy-menu-group-title {
                            color: variables.$primary;
                        }
                    }
                }
            }
            .thy-menu-group-arrow {
                margin-right: 2px;
            }
            .thy-menu-group-body {
                margin: 0;
            }
            &.collapsed {
                .thy-menu-group-header {
                    .thy-menu-group-arrow {
                        transform: rotate(-90deg) translateY(1px);
                    }
                }
            }
        }
        .thy-menu-divider {
            margin: 0;
        }
    }

    .thy-menu-divider {
        margin: variables.$menu-divider-margin;
        display: block;
        border-top: solid 1px variables.$gray-200;
    }
}

.thy-menu-item {
    display: block;

    &:hover {
        text-decoration: none;
    }

    .thy-menu-item-content {
        display: flex;
        min-height: variables.$menu-height;
        cursor: pointer;
        overflow: hidden;
        align-items: center;

        &:hover {
            background: variables.$gray-80;
            .thy-menu-item-action {
                visibility: visible;
            }
        }

        .thy-menu-item-icon {
            color: variables.$gray-600;
            padding-right: 8px;
        }

        .thy-menu-item-name {
            flex-grow: 1;
            color: variables.$gray-800;
            font-size: variables.$font-size-base;
        }

        .thy-menu-item-name-ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .thy-menu-item-action {
            visibility: hidden;
            color: variables.$gray-600;
        }
    }

    &.active .thy-menu-item-content {
        .thy-menu-item-icon {
            color: variables.$primary;
        }

        .thy-menu-item-name {
            color: variables.$primary;
        }
    }
}
