<div class="demo-menu-container">
  <thy-menu>
    <thy-menu-group thyTitle="工作" [thyExpand]="true">
      <a thyMenuItem href="javascript:;">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="user-check-fill"></thy-icon>
        </span>
        <span thyMenuItemName> 我的工作 </span>
        <span thyMenuItemAction>
          <thy-icon thyIconName="more"></thy-icon>
        </span>
      </a>

      <a thyMenuItem class="active" href="javascript:;">
        <span thyMenuItemIcon><thy-icon thyIconName="pie-fill"></thy-icon></span>
        <span thyMenuItemName> 统计报表 </span>
        <span thyMenuItemAction><thy-icon thyIconName="more"></thy-icon></span>
      </a>
    </thy-menu-group>

    <thy-divider></thy-divider>
    <a thyMenuItem href="javascript:;">
      <span thyMenuItemIcon><thy-icon thyIconName="settings"></thy-icon></span> <span thyMenuItemName> 配置中心 </span>
    </a>
    <a thyMenuItem href="javascript:;">
      <span thyMenuItemIcon thyColor="'#ff5b57'"><thy-icon thyIconName="trash"></thy-icon></span> <span thyMenuItemName> 回收站 </span>
    </a>
  </thy-menu>
</div>

<ng-template #menu>
  <thy-dropdown-menu thyImmediateRender>
    <a thyDropdownMenuItem thyDisabled="true" thyDropdownMenuItemActive="true" href="javascript:;">
      <span thyDropdownMenuItemIcon> <thy-icon thyIconName="edit"></thy-icon> </span>
      <span thyDropdownMenuItemName>编辑</span>
    </a>
  </thy-dropdown-menu>
</ng-template>
