<thy-native-table #nativeTable [thyData]="data" [thyScroll]="{ x: '1500px', y: '300px' }">
  <thead>
    <tr>
      <th
        thyWidth="50px"
        thyHeaderCellFixedLeft
        [thyHeaderCellChecked]="checkedAll()"
        [thyIndeterminate]="indeterminate()"
        (thyCheckedChange)="onCheckedAllChange($event)"></th>
      <th thyHeaderCellFixedLeft>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Job</th>
      <th thyWidth="300px">Address</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Address3</th>
      <th>Address4</th>
      <th>Address5</th>
      <th>Address6</th>
      <th thyWidth="100px" thyHeaderCellFixedRight>
        <thy-icon thyIconName="settings"></thy-icon>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (row of nativeTable.data(); track row.id) {
      <tr>
        <td thyCellFixedLeft [thyCellChecked]="selection.isSelected(row)" (thyCheckedChange)="onCheckedRowChange($event, row)"></td>
        <td thyCellFixedLeft>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.age }}</td>
        <td>{{ row.job }}</td>
        <td>{{ row.address }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.name }}</td>
        <td thyCellFixedRight>
          <a class="link-secondary mr-8" href="javascript:;">
            <thy-icon thyIconName="user-add"></thy-icon>
          </a>
          <a class="link-danger-weak" href="javascript:;">
            <thy-icon thyIconName="trash"></thy-icon>
          </a>
        </td>
      </tr>
    }
  </tbody>
</thy-native-table>
