.demo-badge-section {
    thy-badge {
        margin-right: 40px;
    }
    .worktile {
        margin-right: 40px;
    }
    .square {
        width: 42px;
        height: 42px;
        border-radius: 5px;
        background: #eee;
    }
    .circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #333;
    }
}

.square {
    width: 42px;
    height: 42px;
    border-radius: 5px;
    background: #eee;
}
.worktile {
    margin-left: 40px;
}
.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #333;
}
// }
