<div class="demo-badge-section">
  <section>
    <div class="header">标记 sup</div>
    <div class="body">
      <div class="mb-3">
        <thy-badge [thyCount]="5">
          <div class="square"></div>
        </thy-badge>
        thyCount 5
      </div>
      <div class="mb-3">
        <thy-badge [thyCount]="0">
          <div class="square"></div>
        </thy-badge>
        0 默认不显示
        <thy-badge [thyCount]="0" thyKeepShow="true">
          <div class="square"></div>
        </thy-badge>
        0 强制显示 thyKeepShow
        <thy-badge [thyCount]="badgeCount">
          <div class="square"></div>
        </thy-badge>
        变化 thyCount {{ badgeCount }}
      </div>
      <div class="mb-3">
        <thy-badge [thyCount]="100" [thyMaxCount]="99">
          <div class="square"></div>
        </thy-badge>
        thyMaxCount 99
      </div>
      <div class="mb-3">
        <thy-badge [thyContext]="'new'">
          <div class="square"></div>
        </thy-badge>
        thyContext 'new'
      </div>
      <div class="mb-3">
        <thy-badge [thyCount]="5">
          <div class="square"></div>
        </thy-badge>
        <thy-badge [thyCount]="5" thyType="primary">
          <div class="square"></div>
        </thy-badge>
        <thy-badge [thyCount]="5" thyType="warning">
          <div class="square"></div>
        </thy-badge>
        <thy-badge [thyCount]="5" thyType="secondary">
          <div class="square"></div>
        </thy-badge>
        <thy-badge [thyCount]="5" thyColor="#000">
          <div class="square"></div>
        </thy-badge>
        thyType secondary
      </div>
    </div>
  </section>

  <section>
    <div class="header">独立使用</div>
    <div class="body">
      <div class="mb-3">
        <thy-badge [thyCount]="3"></thy-badge>
      </div>
      <div class="mb-3">
        <thy-badge [thyCount]="3" thySize="lg"></thy-badge>
        <thy-badge [thyCount]="2"></thy-badge>
        <thy-badge [thyCount]="3" thySize="sm"></thy-badge>
        <thy-badge [thyCount]="3" thySize="sm" thyColor="#000"></thy-badge>
      </div>
    </div>
  </section>

  <section>
    <div class="header">小红点 sup</div>
    <div class="body">
      <thy-badge thyIsDot>
        <div class="square"></div>
      </thy-badge>
      <thy-badge thyIsDot [thyType]="badgeDotTheme">
        <div class="square"></div>
      </thy-badge>
      颜色变化{{ badgeDotTheme }}
    </div>
  </section>

  <section>
    <div class="header">状态点</div>
    <div class="body">
      <div class="mb-3">
        <thy-badge thyIsDot="true"></thy-badge>
        <thy-badge thyIsDot="true" thyType="primary"></thy-badge>
        <thy-badge thyIsDot="true"></thy-badge>
        <thy-badge thyIsDot="true" thyType="warning"></thy-badge>
        <thy-badge thyIsDot="true" thyColor="#ff00ff"></thy-badge>
      </div>
      <div class="mb-3">
        <thy-badge thyIsDot="true" thySize="lg"></thy-badge>
      </div>
    </div>
  </section>

  <section>
    <div class="header">镂空点</div>
    <div class="body">
      <div class="mb-3">
        <thy-badge thyIsHollow="true"></thy-badge>
        <thy-badge thyIsHollow="true" thyType="primary"></thy-badge>
        <thy-badge thyIsHollow="true" thyType="warning"></thy-badge>
        <thy-badge thyIsHollow="true" thyType="secondary"></thy-badge>
      </div>
      <div class="mb-3">
        <thy-badge thyIsHollow="true" thyType="secondary" thySize="lg"></thy-badge>
      </div>
    </div>
  </section>

  <section>
    <div class="header">属性使用thyBadge</div>
    <div class="body">
      <span thyBadge thyIsDot="true" class="mr-5">
        Worktile
      </span>
      <span thyBadge [thyCount]="5" class="mr-5">
        Worktile
      </span>
      <span thyBadge [thyCount]="0" class="mr-5">
        Worktile
      </span>
    </div>
  </section>

  <section>
    <div class="header">thyTextColor & thyBackgroundColor 设置特殊颜色</div>
    <div class="body">
      <span thyBadge [thyCount]="5" thyTextColor="#00ff00" thyBackgroundColor="#ff00ff"></span>
    </div>
  </section>
</div>
