<div class="demo-badge-list">
    <thy-badge [thyCount]="3"></thy-badge>
    <thy-badge [thyCount]="3" thyType="primary"></thy-badge>
    <thy-badge [thyCount]="3" thyType="danger" thySize="lg"></thy-badge>
</div>

<div class="demo-badge-list">
    <thy-badge [thyCount]="3">
        <div class="circle"></div>
    </thy-badge>
    <thy-badge [thyCount]="3" thyType="primary">
        <div class="circle"></div>
    </thy-badge>
    <thy-badge [thyCount]="3" thyType="danger">
        <div class="square"></div>
    </thy-badge>
    <thy-badge [thyCount]="3" thyType="secondary">
        <div class="square"></div>
    </thy-badge>
</div>

<div class="demo-badge-list">
    <thy-badge [thyCount]="100" [thyMaxCount]="99">
        <div class="circle"></div>
    </thy-badge>
    <thy-badge [thyCount]="100" [thyMaxCount]="99" thyType="primary">
        <div class="circle"></div>
    </thy-badge>
    <thy-badge [thyCount]="100" [thyMaxCount]="99" thyType="danger">
        <div class="square"></div>
    </thy-badge>
    <thy-badge [thyCount]="100" [thyMaxCount]="99" thyType="secondary">
        <div class="square"></div>
    </thy-badge>
</div>

<div class="demo-badge-list">
    <thy-badge thyCount="new">
        <div class="circle"></div>
    </thy-badge>
    <thy-badge thyCount="new" thyType="primary">
        <div class="circle"></div>
    </thy-badge>
    <thy-badge thyCount="new" thyType="danger">
        <div class="square"></div>
    </thy-badge>
    <thy-badge thyCount="new" thyType="secondary">
        <div class="square"></div>
    </thy-badge>
</div>
<div class="demo-badge-list">
    <thy-badge thyIsDot="true">
    </thy-badge>
    <thy-badge thyIsDot="true" thyType="primary">
    </thy-badge>
    <thy-badge thyIsDot="true" thyType="danger">
    </thy-badge>
    <thy-badge thyIsDot="true" thyType="secondary">
    </thy-badge>
</div>

<div class="demo-badge-list">
    <thy-badge thyType="" [thyCount]="100"></thy-badge>
    <thy-badge thyType="primary" [thyCount]="100"></thy-badge>
    <thy-badge thyType="danger" [thyCount]="100"></thy-badge>
    <thy-badge thyType="secondary" [thyCount]="100"></thy-badge>
</div>

<div class="demo-badge-list">
    <code>[thyBadge]</code>
    <span thyBadge="primary">3</span>
</div>

<div class="demo-badge-list">
    <code>[thyBadge]</code>
    <span thyBadge="primary" thyIsDot="true"></span>
</div>
