<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <thy-input-group>
      <ng-template #prefix>
        <thy-icon class="text-placeholder" thyIconName="user"></thy-icon>
      </ng-template>
      <input thyInput placeholder="Please type" />
    </thy-input-group>
    <br />
    <thy-input-group>
      <ng-template #prefix>
        <thy-icon class="text-placeholder" thyIconName="user"></thy-icon>
        <thy-divider thyColor="light" [thyVertical]="true" class="ml-2 mr-0"></thy-divider>
      </ng-template>
      <input thyInput placeholder="Please type" />
    </thy-input-group>
    <br />
  </div>
  <div thyCol [thySpan]="12">
    <thy-input-group>
      <input thyInput placeholder="Please type" />
      <ng-template #suffix>
        <thy-icon thyTooltip="Extra Information" class="text-placeholder" thyIconName="info-circle"></thy-icon>
      </ng-template>
    </thy-input-group>
    <br />
    <thy-input-group>
      <ng-template #prefix>
        <a class="link-muted link-has-icon" href="javascript:;">中国 +86 <thy-icon thyIconName="angle-down"></thy-icon></a>
      </ng-template>
      <ng-template #suffix>
        <a href="javascript:;"><thy-tag>获取验证码</thy-tag></a>
      </ng-template>
      <input thyInput placeholder="Please type" />
    </thy-input-group>
  </div>
</div>
