<section class="mb-3">
  <h2>复制目标标签文字</h2>
  <button thyButton="primary-square" [thyCopy]="target1">复制</button>
  <p #target1>复制的是我</p>
</section>

<section class="mb-3">
  <h2>复制当前标签传入文字</h2>
  <button thyButton="primary-square" [thyCopy]="'我是第二只猪'">复制</button>
</section>

<section class="mb-3">
  <h2>复制当前标签文字</h2>
  <p thyCopy>复制当前标签文字</p>
</section>

<section class="mb-3">
  <h2>复制input传入文字</h2>
  <button thyButton="primary-square" [thyCopy]="target2">复制</button>
  <p>
    <input #target2 />
  </p>
</section>
