@use "../../styles/variables.scss";

@mixin _displayItemEditor {
    .thy-property-item-content-text {
        display: none;
    }
    .thy-property-item-content-editor {
        display: block;
    }
}

.thy-properties {
    display: grid;

    &.thy-properties-horizontal {
        .thy-property-item {
            flex-direction: row;
            .thy-property-item-label {
                width: variables.$property-item-horizontal-label-width;
                line-height: variables.$property-item-min-height;
                padding-right: variables.$property-item-padding-x;
            }
        }
    }

    &.thy-properties-vertical {
        .thy-property-item {
            flex-direction: column;
            .thy-property-item-label {
                margin-bottom: 0.4rem;
            }
        }
    }

    &.thy-properties-edit-trigger-hover {
        .thy-property-item-content-editable {
            &:hover {
                @include _displayItemEditor();
            }
        }
    }

    .thy-property-item {
        display: flex;
        padding: variables.$property-item-padding-y variables.$property-item-padding-x variables.$property-item-padding-y 0;

        .thy-property-item-label {
            width: variables.$property-item-horizontal-label-width;
            color: variables.$property-item-label-color;
            display: flex;
            span {
                display: inline-block;
            }
        }

        .thy-property-item-content {
            flex: 1;
            display: flex;
            align-items: center;
            color: variables.$property-item-content-color;
            min-height: variables.$property-item-min-height;

            .thy-property-item-content-text {
                display: flex;
                align-items: center;
            }

            .thy-property-item-content-editor {
                display: none;
                margin-left: variables.$property-item-editor-offset;
                width: calc(100% - variables.$property-item-editor-offset);
            }

            &-editing {
                @include _displayItemEditor();
            }
        }
    }
}
