<form thyForm thyLayout="vertical" #demoForm="thyForm" #demoVerticalForm="ngForm" class="mb-4" name="model">
  <div thyRow [thyGutter]="20">
    <thy-form-group thyCol [thySpan]="4" thyLabelText="圆形骨架尺寸" thyTips="">
      <input thyInput name="thySize" [(ngModel)]="model.thySize" required />
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="4" thyLabelText="骨架主色调" thyTips="">
      <input thyInput name="thyPrimaryColor" [(ngModel)]="model.thyPrimaryColor" required />
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="4" thyLabelText="骨架副色调" thyTips="">
      <input thyInput name="thySecondaryColor" [(ngModel)]="model.thySecondaryColor" required />
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="4" thyLabelText="骨架动画速度" thyTips="">
      <input thyInput name="thyAnimatedInterval" [(ngModel)]="model.thyAnimatedInterval" required />
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="4" thyLabelText="是否展示动画" thyTips="">
      <thy-switch [(ngModel)]="model.thyAnimated" name="isDisabled"></thy-switch>
    </thy-form-group>
  </div>
</form>

<thy-skeleton-circle
  [thyAnimated]="model.thyAnimated"
  [thyAnimatedInterval]="model.thyAnimatedInterval"
  [thySize]="model.thySize + 'rem'"
  [thyPrimaryColor]="model.thyPrimaryColor"
  [thySecondaryColor]="model.thySecondaryColor"
>
</thy-skeleton-circle>
