<div>
  <thy-tag thyColor="#8913cd">#8913cd</thy-tag>
  <thy-tag thyColor="#79a63d">#79a63d</thy-tag>
  <thy-tag thyColor="#6099e2">#6099e2</thy-tag>
  <thy-tag thyColor="#5942da">#5942da</thy-tag>
</div>

<div class="mt-4">
  <thy-tag thyColor="#8913cd" thyTheme="outline">#8913cd</thy-tag>
  <thy-tag thyColor="#79a63d" thyTheme="outline">#79a63d</thy-tag>
  <thy-tag thyColor="#6099e2" thyTheme="outline">#6099e2</thy-tag>
  <thy-tag thyColor="#5942da" thyTheme="outline">#5942da</thy-tag>
</div>

<div class="mt-4">
  <thy-tag thyColor="#8913cd" thyTheme="weak-fill">#8913cd</thy-tag>
  <thy-tag thyColor="#79a63d" thyTheme="weak-fill">#79a63d</thy-tag>
  <thy-tag thyColor="#6099e2" thyTheme="weak-fill">#6099e2</thy-tag>
  <thy-tag thyColor="#5942da" thyTheme="weak-fill">#5942da</thy-tag>
</div>
