<thy-timeline [thyDirection]="'horizontal'">
  <thy-timeline-item><button thySize="sm" thyButton="primary">开始</button> </thy-timeline-item>
  <thy-timeline-item><ng-template #description>2012年11月</ng-template> 北京易成时代科技有限公司成立</thy-timeline-item>
  <thy-timeline-item>2013年7月21 Worktile 2.0 发布</thy-timeline-item>
  <thy-timeline-item>2015年 Worktile 企业版发布，正式开启商业化</thy-timeline-item>
  <thy-timeline-item>2018年 Worktile 7.0 发布，高度配置化的项目管理工具诞生</thy-timeline-item>
  <thy-timeline-item><button thySize="sm" thyButton="primary">结束</button> </thy-timeline-item>
</thy-timeline>
