.thy-badge-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn .thy-badge {
    position: relative;
    top: -1px;
}

// #region 
.thy-badge {
    display: inline-block;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    line-height: 1;
    vertical-align: middle;
    padding: $badge-padding-y $badge-padding-x;
    @include border-radius($badge-border-radius);
}

.thy-badge-count {
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: $badge-color;
    background-color: $badge-bg;
    @include set-badge-size($font-size-sm, 2px, 5px);
}

.thy-badge-dot {
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    vertical-align: middle;
}

.thy-badge-hollow {
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    vertical-align: middle;
    border: solid 1px $badge-bg;
    background-color: transparent;
}

// #endregion
// #region
.thy-badge-danger {
    @include set-badge-color($white, $danger);
    &.thy-badge-hollow {
        background-color: transparent;
    }
}

.thy-badge-warning {
    @include set-badge-color($white, $warning);
    &.thy-badge-hollow {
        background-color: transparent;
    }
}

.thy-badge-primary {
    @include set-badge-color($white, $primary);
    &.thy-badge-hollow {
        background-color: transparent;
    }
}

.thy-badge-secondary {
    @include set-badge-color($gray-600, $gray-200);
    &.thy-badge-dot {
        @include set-badge-color($gray-600, $gray-400);
    }
    &.thy-badge-hollow {
        @include set-badge-color($gray-600, $gray-400);
        background-color: transparent;
    }
}

// #endregion
// #region
.thy-badge-sup {
    position: absolute;
    top: 0px;
    right: 0;
    transform: translateY(-50%) translateX(50%);
}

.thy-badge-multiple-words {
    padding-left: 7px;
    padding-right: 7px;
}

.thy-badge-lg {
    &.thy-badge-count {
        @include set-badge-size($font-size-sm, 6px, 9px);
    }
    &.thy-badge-dot,
    &.thy-badge-hollow {
        width: 10px;
        height: 10px;
    }
    &.thy-badge-hollow {
        border-width: 2px;
    }
}

.thy-badge-sm {
    &.thy-badge-count {
        @include set-badge-size($font-size-xs, 1px, 4px);
    }
}

// #endregion
