<div class="thy-image-preview" [class.thy-image-preview-fullscreen]="isFullScreen">
  @if (!isFullScreen) {
    <div class="thy-image-preview-header pl-10 pr-8">
      <div class="thy-image-preview-header-info">
        <p class="thy-image-name text-truncate" [thyTooltipDisabled]="previewImage?.name?.length < 32" [thyTooltip]="previewImage?.name">
          {{ previewImage?.name }}
        </p>
        <span class="thy-image-size"> {{ previewImage?.size }}</span>
      </div>
      <a thyAction thyIcon="close" [thyTooltip]="locale().exitPreview" href="javascript:;" (click)="thyDialog.close()"></a>
    </div>
  }
  @if (isFullScreen) {
    <a
      class="thy-image-preview-exit-fullscreen"
      thyAction
      thyIcon="close"
      href="javascript:;"
      (click)="thyFullscreen.exit()"
      [thyTooltip]="locale().exitFullScreen"></a>
  }
  <div
    class="thy-image-preview-img-wrapper"
    #imagePreviewWrapper
    cdkDrag
    [class.thy-image-preview-inside]="isInsideScreen"
    [style.transform]="previewImageWrapperTransform"
    [cdkDragFreeDragPosition]="position"
    (cdkDragReleased)="dragReleased()">
    @for (image of images; track $index; let imageIndex = $index) {
      @if (previewIndex === imageIndex && isLoadingDone) {
        <img #imgRef class="thy-image-preview-img" [src]="image.objectURL || image.src" [style.transform]="previewImageTransform" />
      }
    }
    <thy-loading [thyDone]="isLoadingDone"></thy-loading>
  </div>

  @if (images.length > 1 && !isFullScreen) {
    <div
      class="thy-image-preview-switch-left"
      [thyTooltipDisabled]="previewIndex <= 0"
      [thyTooltip]="locale().prev"
      [class.thy-image-preview-switch-left-disabled]="previewIndex <= 0"
      (click)="prev()">
      <thy-icon thyIconName="angle-left-bold"></thy-icon>
    </div>
    <div
      class="thy-image-preview-switch-right"
      [thyTooltip]="locale().next"
      [thyTooltipDisabled]="previewIndex >= images.length - 1"
      [class.thy-image-preview-switch-right-disabled]="previewIndex >= images.length - 1"
      (click)="next()">
      <thy-icon thyIconName="angle-right-bold"> </thy-icon>
    </div>
  }
  @if (!isFullScreen) {
    <thy-actions thySize="xs" class="thy-image-preview-operations py-3 px-4">
      @for (option of previewOperations; track $index; let i = $index) {
        @if (!['original-scale', 'fit-screen', 'copyLink'].includes(option.type) || currentImageMode === option.type) {
          <a
            href="javascript:;"
            thyAction
            [thyActionIcon]="option.icon"
            [thyTooltip]="option.name"
            [thyTooltipOffset]="13"
            (click)="option.action(previewImage)"></a>
        }
        @if (option?.type === 'zoom-out') {
          <span class="mr-2"> {{ (zoom * 100).toFixed(0) + '%' }} </span>
        }
        @if (option?.type === 'rotate-right') {
          <thy-divider class="ml-2" [thyVertical]="true"></thy-divider>
        }
        @if (option.type === 'copyLink') {
          <a
            href="javascript:;"
            thyAction
            [thyCopyTips]="option.name"
            [thyActionIcon]="option.icon"
            [thyCopyTipsOffset]="13"
            (thyCopy)="copyLink($event)"
            [thyCopyContent]="previewImageOriginSrc"
            [thyShowNotify]="false"></a>
        }
      }
      <thy-divider [thyVertical]="true"></thy-divider>
      <span class="thy-image-preview-operations-text"> {{ previewIndex + 1 }} / {{ images.length }} </span>
    </thy-actions>
  }
</div>
