<div class="thy-image-preview" [class.thy-image-preview-fullscreen]="isFullScreen">
  <div class="thy-image-preview-header pl-10 pr-8" *ngIf="!isFullScreen">
    <div class="thy-image-preview-header-info">
      <p class="thy-image-name text-truncate" [thyTooltipDisabled]="previewImage?.name?.length < 32" [thyTooltip]="previewImage?.name">
        {{ previewImage?.name }}
      </p>
      <span class="thy-image-size"> {{ previewImage?.size }}</span>
    </div>
    <a thyAction thyIcon="close" thyTooltip="退出预览" href="javascript:;" (click)="thyDialog.close()"></a>
  </div>
  <a
    class="thy-image-preview-exit-fullscreen"
    *ngIf="isFullScreen"
    thyAction
    thyIcon="close"
    thyTooltip="退出预览"
    href="javascript:;"
    (click)="thyFullscreen.exit()"
    thyTooltip="退出全屏"
  ></a>
  <div
    class="thy-image-preview-img-wrapper"
    #imagePreviewWrapper
    cdkDrag
    [class.thy-image-preview-inside]="isInsideScreen"
    [style.transform]="previewImageWrapperTransform"
    [cdkDragFreeDragPosition]="position"
    (cdkDragReleased)="dragReleased()"
  >
    <ng-container *ngFor="let image of images; index as imageIndex">
      <img
        #imgRef
        *ngIf="previewIndex === imageIndex && isLoadingDone"
        class="thy-image-preview-img"
        [src]="image.objectURL || image.src"
        [style.transform]="previewImageTransform"
      />
    </ng-container>
    <thy-loading [thyDone]="isLoadingDone"></thy-loading>
  </div>

  <ng-container *ngIf="images.length > 1 && !isFullScreen">
    <div
      class="thy-image-preview-switch-left"
      [thyTooltipDisabled]="previewIndex <= 0"
      thyTooltip="上一张"
      [class.thy-image-preview-switch-left-disabled]="previewIndex <= 0"
      (click)="prev()"
    >
      <thy-icon thyIconName="angle-left-bold"></thy-icon>
    </div>
    <div
      class="thy-image-preview-switch-right"
      thyTooltip="下一张"
      [thyTooltipDisabled]="previewIndex >= images.length - 1"
      [class.thy-image-preview-switch-right-disabled]="previewIndex >= images.length - 1"
      (click)="next()"
    >
      <thy-icon thyIconName="angle-right-bold"> </thy-icon>
    </div>
  </ng-container>
  <thy-actions thySize="xs" class="thy-image-preview-operations py-3 px-4" *ngIf="!isFullScreen">
    <ng-container *ngFor="let option of previewOperations; let i = index">
      <a
        *ngIf="!['original-scale', 'fit-screen', 'copyLink'].includes(option.type) || currentImageMode === option.type"
        href="javascript:;"
        thyAction
        [thyActionIcon]="option.icon"
        [thyTooltip]="option.name"
        [thyTooltipOffset]="13"
        (click)="option.action(previewImage)"
      ></a>
      <span class="mr-2" *ngIf="option?.type === 'zoom-out'"> {{ (zoom * 100).toFixed(0) + '%' }} </span>
      <thy-divider class="ml-2" [thyVertical]="true" *ngIf="option?.type === 'rotate-right'"></thy-divider>
      <a
        *ngIf="option.type === 'copyLink'"
        href="javascript:;"
        thyAction
        [thyActionIcon]="option.icon"
        [thyTooltipOffset]="13"
        [thyTooltip]="option.name"
        (click)="copyLink($event)"
      ></a>
    </ng-container>
    <thy-divider [thyVertical]="true"></thy-divider>
    <span class="thy-image-preview-operations-text"> {{ previewIndex + 1 }} / {{ images.length }} </span>
  </thy-actions>
</div>
