<div class="form-group form-inline">
  <label for="validateOn">validateOn</label>
  <select name="validateOn" class="form-control ml-2" required [(ngModel)]="validateOn" id="validateOn" (change)="changeValidateOn()">
    <option value="change">change</option>
    <option value="blur">blur</option>
    <option value="submit">submit</option>
  </select>
</div>

@if (loadingDone) {
  <form thyForm name="demoForm" #demoForm="thyForm" #demoNgForm="ngForm" [thyFormValidatorConfig]="validateConfig">
    <thy-form-group thyLabelText="Username" thyTips="Type peter to indicate that it already exists" thyLabelRequired>
      <input
        thyInput
        type="input"
        name="username"
        [thyUniqueCheck]="checkUsername"
        [(ngModel)]="model.username"
        required
        placeholder="Please type username" />
    </thy-form-group>
    <thy-form-group thyLabelText="Age" thyLabelRequired>
      <thy-input-number name="age" [(ngModel)]="model.age" max="100" min="10" required placeholder="Max is 100, min is 10"></thy-input-number>
    </thy-form-group>
    <thy-form-group thyLabelText="Password" thyLabelRequired>
      <input thyInput type="password" name="password" [(ngModel)]="model.password" required placeholder="Please type password" />
    </thy-form-group>
    <thy-form-group thyLabelText="Confirm Password" thyLabelRequired>
      <input
        thyInput
        type="password"
        name="confirm_password"
        [(ngModel)]="model.confirm_password"
        [confirm]="model.password"
        required
        placeholder="Please type confirm password" />
    </thy-form-group>
    <thy-form-group-footer>
      <button [thyButton]="'primary'" (thyFormSubmit)="save()">Save</button>
    </thy-form-group-footer>
  </form>
}
