<form thyForm thyLayout="inline">
  <thy-form-group thyLabelText="触发方式">
    <thy-select name="size" [(ngModel)]="tooltipConfig.trigger" (ngModelChange)="triggerChange()" name="trigger">
      <thy-option *ngFor="let option of triggerOptions" [thyValue]="option" [thyLabelText]="option"></thy-option>
    </thy-select>
  </thy-form-group>

  <thy-form-group thyLabelText="偏移量">
    <thy-select name="size" [(ngModel)]="tooltipConfig.offset" (ngModelChange)="triggerChange()" name="offset">
      <thy-option *ngFor="let option of offsetOptions" [thyValue]="option" [thyLabelText]="option"></thy-option>
    </thy-select>
  </thy-form-group>
</form>
<form thyForm thyLayout="inline" style="margin-top: 15px">
  <thy-form-group thyLabelText="展示延时">
    <thy-input-number [(ngModel)]="tooltipConfig.showDelay" name="showDelay"></thy-input-number>
  </thy-form-group>
  <thy-form-group thyLabelText="隐藏延时">
    <thy-input-number [(ngModel)]="tooltipConfig.hideDelay" name="hideDelay"></thy-input-number>
  </thy-form-group>
</form>

<form thyForm thyLayout="inline" style="margin-top: 15px">
  <thy-form-group thyLabelText="">
    <label thyCheckbox thyLabelText="disabled" [(ngModel)]="tooltipConfig.disabled" name="disabled"></label>
  </thy-form-group>
  <thy-form-group thyLabelText="">
    <label thyCheckbox thyLabelText="tooltipPin" [(ngModel)]="tooltipConfig.tooltipPin" name="pin"></label>
  </thy-form-group>
</form>
<div class="mt-3" *ngIf="showTooltips">
  <button
    thyTooltip="Hello, welcome to PingCode"
    [thyTooltipTrigger]="tooltipConfig.trigger"
    [thyTooltipDisabled]="tooltipConfig.disabled"
    [thyTooltipShowDelay]="tooltipConfig.showDelay"
    [thyTooltipHideDelay]="tooltipConfig.hideDelay"
    [thyTooltipPin]="tooltipConfig.tooltipPin"
    thyButton="primary"
    [thyTooltipOffset]="tooltipConfig.offset">
    展示tooltip
  </button>
</div>
