<div class="thy-datepicker">
    <bs-datepicker-container #dpContainer></bs-datepicker-container>
    <div *ngIf="isShowTime || isCanTime" class="timepicker-section" (click)="$event.stopPropagation()">
        <div *ngIf="isCanTime" class="timepicker-set">
            <a href="javascript:;" class="link-has-icon timepicker-set-btn" (click)="changeTimeShowMode('show')">
                <i class="wtf wtf-timeline-o"></i>设置时间</a>
        </div>
        <timepicker *ngIf="isShowTime" class="timepicker-warp" [(ngModel)]="value" [showMeridian]="isMeridian"></timepicker>
        <div class="timepicker-btn-warp">
            <button *ngIf="!isCanTime" class="timepicker-ok-btn" thyButton="primary" thySize="sm" (click)="onTimeOk()">确定</button>
            <button class="timepicker-clear-btn" thyButton="link-secondary" thySize="sm" (click)="onClear()">清除</button>
        </div>
    </div>
</div>
