<div class="thy-datepicker">
    <div #dpContainer></div>
    <div *ngIf="isShowTime || !isCanTime" class="timepicker-section" (click)="$event.stopPropagation()">
        <div *ngIf="isCanTime" class="timepicker-set">
            <button class="timepicker-set-btn" thyButton="link-secondary" thySize="sm" (click)="changeTimeShowMode('show')">设置时间</button>
        </div>
        <timepicker *ngIf="isShowTime" class="timepicker-warp" [(ngModel)]="value" [showMeridian]="isMeridian"></timepicker>
        <div class="timepicker-btn-warp">
            <button *ngIf="!isCanTime" class="timepicker-ok-btn" thyButton="primary" thySize="sm" (click)="onTimeOk()">确定</button>
            <button class="timepicker-clear-btn" thyButton="link-secondary" thySize="sm" (click)="onClear()">清除</button>
        </div>
    </div>
</div>
