<div class="thy-datepicker">
    <div #dpContainer></div>
    <div *ngIf="isShowTime" class="timepicker-section" (click)="$event.stopPropagation()">
        <timepicker class="timepicker-warp" [(ngModel)]="value" [showMeridian]="isMeridian"></timepicker>
        <div class="timepicker-btn-warp">
            <button thyButton="primary" thySize="sm" (click)="onTimeOk()">确定</button>&nbsp;
            <button thyButton="outline-default" thySize="sm" (click)="hide()">取消</button>
        </div>
    </div>
</div>
