$thy-select-expand-icon-height: 21px;

@mixin thy-tree-select-option() {
    &:not(.disabled) {
        &.hover,
        &:hover {
            .thy-tree-select-option-icon {
                color: $gray-500;
            }
        }
    }
}

.thy-tree-select-selection-text {
    @include text-truncate();
}

.thy-tree-select-dropdown {
    @include thy-select-options-dropdown();

    .thy-tree-select-options {
        @include thy-select-options-container();

        .loading-more {
            min-height: auto;
            text-align: center;
        }

        .thy-tree-select-node {
            .thy-tree-select-option-icon {
                line-height: $thy-select-expand-icon-height;
                height: $thy-select-expand-icon-height;
                color: $gray-400;
                &:hover {
                    cursor: pointer;
                }
                .node-expand-icon {
                    line-height: $thy-select-expand-icon-height;
                }
                .thy-icon-caret-right-down,
                .thy-icon-caret-right {
                    padding-right: 5px;
                    font-size: $font-size-md;
                }
                .thy-icon-minus-square,
                .thy-icon-plus-square {
                    padding-right: 10px;
                    font-size: $font-size-base;
                }
            }
            .thy-tree-select-option-text {
                @include text-truncate();
            }
        }

        .thy-option-item {
            @include thy-option();
            @include thy-tree-select-option();
        }
    }

    &.thy-tree-select-dropdown-multiple {
        .thy-tree-select-options {
            .thy-option-item {
                @include thy-multiple-option();
                @include thy-tree-select-option();
            }
        }
    }
}
