.thy-tree-select-pop {
    .thy-tree-select-pop-empty {
        margin: 10px;
    }

    .thy-tree-select-node {
        .rotate-caret {
            display: inline-block;
            transform: rotate(-45deg);
        }
    }
}
.thy-tree-select-selection-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
