<div>
  <p>thyVote:primary / thyVoteType: horizontal</p>
  <thy-vote class="mt-3" [thyVoteCount]="vote_count" [thyHasVoted]="has_voted" (click)="toggleVote($event)"></thy-vote>
</div>
<div class="mt-3">
  <p>thyVote:success / thyVoteType: vertical</p>
  <div
    [thyVote]="'success'"
    [thyVoteType]="'vertical'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted"
    (click)="toggleVote($event)"
  ></div>
  <div
    class="mt-3"
    [thyVote]="'success'"
    [thyVoteType]="'vertical'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted"
    thyVoteSize="md"
    (click)="toggleVote($event)"
  ></div>
</div>
<pre class="mt-1"><code lang="typescript" [highlight]="exampleCode"></code></pre>
<api-parameters [parameters]="apiParameters"></api-parameters>
