<thy-badge [thyCount]="5" thyType="danger">
  <div class="square"></div>
</thy-badge>
<thy-badge [thyCount]="5" thyType="primary">
  <div class="square"></div>
</thy-badge>
<thy-badge [thyCount]="5" thyType="warning">
  <div class="square"></div>
</thy-badge>
<thy-badge [thyCount]="5" thyType="secondary">
  <div class="square"></div>
</thy-badge>
<thy-badge [thyCount]="5" thyBackgroundColor="#87d068">
  <div class="square"></div>
</thy-badge>
<thy-badge [thyCount]="5" thyTextColor="#000">
  <div class="square"></div>
</thy-badge>
<thy-badge [thyCount]="5" thyBackgroundColor="#f50" thyTextColor="108ee9">
  <div class="square"></div>
</thy-badge>
