<h3>自定义Item模板</h3>
<thy-transfer
  [thyTitles]="['可选择', '已选择']"
  [thyData]="transferData"
  [thyRenderSearch]="search.bind(this)"
  [thyKeepResource]="false"
  [thyRenderItem]="render"
>
  <ng-template #render let-item>
    {{item.name}}
  </ng-template>
</thy-transfer>

<br />

<h3>自定义列表模板</h3>
<thy-transfer [thyTitles]="['数据源', '已选中']" [thyRenderList]="[left, right]" [thyRenderSearch]="bottomSearch.bind(this)" [thyRenderItemCount]="[transferDataBottom.length, transferData.length]">
  <ng-template #left>
    <thy-list>
      <thy-list-item *ngFor="let item of transferDataBottom" class="d-flex" (click)="toggleSelect(item)">
        <span class="item-title">
          {{ item.name }}
        </span>
        <thy-icon class="text-primary link-secondary" thyIconName="check"></thy-icon>
      </thy-list-item>
    </thy-list>
  </ng-template>
  <ng-template #right>
    <div class="styx-columns-selection-section-body" cdkDropListGroup>
      <!-- 冻结列表 -->
      <span class="styx-columns-selection-group-name">冻结 (上限 5 个)</span>
      <thy-list id="locked" cdkDropList>
        <thy-list-item class="d-flex" *ngFor="let item of transferData; index as i" cdkDrag>
          <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ item: item, i: i }"></ng-template>
        </thy-list-item>
      </thy-list>

      <!-- 未冻结列表 -->
      <span class="styx-columns-selection-group-name">未冻结</span>
      <thy-list id="unlock" cdkDropList>
        <thy-list-item class="d-flex" *ngFor="let item of transferData; index as i" cdkDrag>
          <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ item: item, i: i }"></ng-template>
        </thy-list-item>
      </thy-list>
    </div>
  </ng-template>
  <ng-template #itemTemplate let-item="item" let-i="i">
    <span class="item-title"> {{ item.name }} </span>
  </ng-template>
</thy-transfer>
