<div
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin"
  class="form-control form-control-custom"
  [class.thy-select-selection]="!thyMultiple"
  [class.thy-select-selection-allow-clear]="thyAllowClear"
  [ngClass]="thySize ? 'form-control-' + thySize : ''"
  [class.disabled]="thyDisable"
  (click)="openSelectPop()"
>
  <div *ngIf="!thyMultiple" class="thy-tree-select-selection-text">
    <span *ngIf="selectedNode && !thyTreeSelectTriggerDisplayRef">{{ getShowNodeName() }}</span>
    <ng-container
      *ngIf="selectedNode && thyTreeSelectTriggerDisplayRef"
      [ngTemplateOutlet]="thyTreeSelectTriggerDisplayRef"
      [ngTemplateOutletContext]="{ $implicit: selectedNode }"
    ></ng-container>
    <span class="text-placeholder d-inline-block" *ngIf="!selectedNode">{{ thyPlaceholder }}</span>
    <a
      class="thy-select-remove remove-link"
      href="javascript:;"
      (click)="clearSelectedValue($event)"
      *ngIf="selectedNode && thyAllowClear"
    >
      <thy-icon class="remove-link-icon" thyIconName="close-circle-bold-fill"></thy-icon>
    </a>
  </div>
  <div *ngIf="thyMultiple" [ngClass]="{ 'multiple-value-wrapper': selectedNodes?.length > 0 }">
    <ng-container *ngIf="selectedNodes && selectedNodes.length > 0; else placeholder">
      <span
        class="mr-1"
        *ngFor="let node of selectedNodes; index as i"
        thyLabel="default"
        [thyAfterIcon]="'wtf-times'"
        (click)="removeSelectedNode(node, $event)"
        >{{ node[thyShowKey] }}
      </span>
    </ng-container>

    <ng-template #placeholder>
      <span class="text-placeholder">{{ thyPlaceholder }}</span>
    </ng-template>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayHasBackdrop]="false"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayWidth]="cdkConnectOverlayWidth"
  [cdkConnectedOverlayMinHeight]="100"
  [cdkConnectedOverlayOpen]="expandTreeSelectOptions"
  (backdropClick)="close()"
  (detach)="close()"
>
  <div class="thy-select-custom thy-custom-select-dropdown">
    <thy-tree-select-nodes></thy-tree-select-nodes>
  </div>
</ng-template>

<thy-icon thyIconName="angle-down"></thy-icon>
