<div class="thy-tree-select-options" *ngIf="treeNodes?.length > 0; else emptyPlaceholder">
  <div class="thy-tree-select-node">
    <ng-container *ngIf="!thyVirtualHeight">
      <ng-container
        *ngFor="let node of treeNodes"
        [ngTemplateOutlet]="treeSelectNode"
        [ngTemplateOutletContext]="{ $implicit: node }"
      ></ng-container>
    </ng-container>

    <cdk-virtual-scroll-viewport
      *ngIf="thyVirtualHeight"
      [class.ant-select-tree-list-holder-inner]="false"
      [class.ant-tree-list-holder-inner]="false"
      [itemSize]="'28'"
      [style.height]="thyVirtualHeight"
    >
      <ng-container *cdkVirtualFor="let node of treeNodes; trackBy: tabTrackBy">
        <ng-template [ngTemplateOutlet]="treeSelectNode" [ngTemplateOutletContext]="{ $implicit: node }"></ng-template>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<ng-template #emptyPlaceholder>
  <thy-empty class="thy-select-empty-content" thySize="sm" [thyMessage]="parent.thyEmptyOptionsText"></thy-empty>
</ng-template>

<ng-template #treeSelectNode let-node>
  <ng-container>
    <a
      class="thy-option-item"
      [ngClass]="{ active: treeNodeIsSelected(node) }"
      [class.disabled]="treeNodeIsDisable(node)"
      [ngStyle]="{ 'padding-left.px': 20 * node.level + parent.icons.gap }"
      (click)="selectTreeNode($event, node)"
      *ngIf="!treeNodeIsHidden(node)"
    >
      <span
        class="thy-tree-select-option-icon"
        [class.invisible]="!(node.children?.length > 0 || (node[childCountKey] && node[childCountKey] > 0))"
        (click)="nodeExpandToggle($event, node)"
      >
        <thy-icon class="node-expand-icon" [thyIconName]="treeNodeIsExpand(node) ? parent.icons.expand : parent.icons.collapse"></thy-icon>
      </span>
      <span class="thy-tree-select-option-text">
        <ng-template
          *ngIf="treeNodeTemplateRef; else defaultNodeText"
          [ngTemplateOutlet]="treeNodeTemplateRef"
          [ngTemplateOutletContext]="{ $implicit: node }"
        ></ng-template>
        <ng-template #defaultNodeText>
          {{ node[showKey] }}
        </ng-template>
      </span>
      <span class="checked-icon" *ngIf="isMultiple">
        <i class="wtf wtf-checked"></i>
      </span>
    </a>
    <ng-container *ngIf="!thyVirtualHeight && treeNodeIsExpand(node) && node.children?.length > 0">
      <ng-container [ngTemplateOutlet]="treeSelectNode" *ngFor="let node of node.children" [ngTemplateOutletContext]="{ $implicit: node }">
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
