<div
  cdkOverlayOrigin
  thySelectControl
  (click)="openSelectPop()"
  #origin="cdkOverlayOrigin"
  [thyPanelOpened]="expandTreeSelectOptions"
  [thySelectedOptions]="selectedValueObject"
  [thyIsMultiple]="thyMultiple"
  [thyAllowClear]="thyAllowClear"
  [thySize]="thySize"
  [thyPlaceholder]="placeholder"
  [customDisplayTemplate]="customDisplayTemplate"
  [thyShowSearch]="thyShowSearch"
  [thyDisabled]="thyDisable"
  (thyOnBlur)="onBlur($event)"
  (thyOnClear)="clearSelectedValue($event)"
  (thyOnRemove)="removeMultipleSelectedNode($event)"
  (thyOnSearch)="searchValue($event)">
  <ng-template #customDisplayTemplate let-node>
    <ng-container *ngIf="thyTreeSelectTriggerDisplayRef; else noneTemplate">
      <ng-template [ngTemplateOutlet]="thyTreeSelectTriggerDisplayRef" [ngTemplateOutletContext]="{ $implicit: node }"></ng-template>
    </ng-container>
    <ng-template #noneTemplate>
      {{ node[thyShowKey] }}
    </ng-template>
  </ng-template>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayHasBackdrop]="false"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayMinWidth]="cdkConnectOverlayWidth"
  [cdkConnectedOverlayOpen]="expandTreeSelectOptions"
  cdkConnectedOverlayTransformOriginOn=".thy-tree-select-dropdown"
  [cdkConnectedOverlayPositions]="expandedDropdownPositions"
  (detach)="close()">
  <thy-tree-select-nodes
    thyStopPropagation
    [thyVirtualScroll]="thyVirtualScroll"
    [treeNodes]="thyVirtualScroll ? virtualTreeNodes : treeNodes"
    [@scaleYMotion]="'enter'">
  </thy-tree-select-nodes>
</ng-template>
