<thy-space>
  <thy-switch *thySpaceItem [thyLoading]="true" [(ngModel)]="isChecked" thySize="xs"></thy-switch>
  <thy-switch *thySpaceItem [thyLoading]="true" [(ngModel)]="isChecked" thySize="sm"></thy-switch>
  <thy-switch *thySpaceItem [thyLoading]="true" [(ngModel)]="isChecked"></thy-switch>
</thy-space>

<thy-space class="mt-4">
  <thy-switch *thySpaceItem [thyLoading]="true" [(ngModel)]="noChecked" thySize="xs"></thy-switch>
  <thy-switch *thySpaceItem [thyLoading]="true" [(ngModel)]="noChecked" thySize="sm"></thy-switch>
  <thy-switch *thySpaceItem [thyLoading]="true" [(ngModel)]="noChecked"></thy-switch>
</thy-space>
