.thy-select-dropdown-options {
    @include thy-select-options-container();

    .loading-more {
        min-height: auto;
        text-align: center;
    }

    .thy-option-item-group {
        @include thy-option-common-layout();
    }

    .thy-option-item {
        @include thy-option();
        &.hidden {
            display: none;
        }
    }

    .thy-option-item-group {
        &.thy-select-option-group-hidden {
            display: none;
        }
        flex-direction: column;
        .group-name {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            padding: {
                left: 20px;
                right: 20px;
            }
        }
        .thy-option-item {
            padding: {
                left: 20px;
                right: 20px;
            }
        }
    }
}
.thy-select-dropdown {
    @include thy-select-options-dropdown();
    &.thy-select-dropdown-multiple {
        .thy-select-dropdown-options {
            .thy-option-item {
                @include thy-multiple-option();
            }
        }
    }

    &.thy-select-dropdown-single {
        .thy-select-dropdown-options {
            .thy-option-item {
                .checked-icon {
                    display: none;
                }
            }
        }
    }
}
