<div>
  <thy-avatar-list>
    <thy-avatar
      *ngFor="let name of names"
      [thyName]="name"
      [thyRemovable]="true"
      (thyRemove)="remove($event, name)"
      [thySrc]="name === 'Chan' ? avatarSrc : ''"></thy-avatar>

    <ng-template #append>
      <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed"></button>
    </ng-template>
  </thy-avatar-list>
</div>

<div class="mt-4">
  <thy-avatar-list [thyMode]="'overlap'">
    <thy-avatar *ngFor="let name of names" [thyName]="name" [thySrc]="name === 'Chan' ? avatarSrc : ''"></thy-avatar>

    <ng-template #append>
      <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed"></button>
    </ng-template>
  </thy-avatar-list>
</div>
