<div>
  <thy-avatar-list [thySize]="28" [thyResponsive]="true">
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>

    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>

    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>

    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>

    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>

    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <ng-template #append>
      <div style="width: 32px;height:32px;border:1px solid #999;border-radius: 50%;">
        <a href="javascript:;" thyAction thyIcon="user-add-bold"></a>
      </div>
    </ng-template>
  </thy-avatar-list>
</div>

<div class="mt-4">
  <thy-avatar-list [thyRemovable]="true" (thyOnRemove)="remove($event)">
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>

    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>

    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>

    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
  </thy-avatar-list>
</div>

<div class="mt-4">
  <thy-avatar-list [thyMode]="'overlap'">
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <ng-template #append>
      <a href="javascript:;" thyAction thyIcon="user-add-bold"></a>
    </ng-template>
  </thy-avatar-list>
</div>

<div class="mt-4">
  <thy-avatar-list [thyMode]="'overlap'" thyMaxLength="3">
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <thy-avatar thyName="Peter"></thy-avatar>
    <ng-template #append>
      <a href="javascript:;" thyAction thyIcon="user-add-bold"></a>
    </ng-template>
  </thy-avatar-list>
</div>
