<thy-progress class="mt-2" thySize="sm" [thyValue]="value"></thy-progress>
<thy-progress class="mt-2" thySize="sm" [thyValue]="stackedValues"></thy-progress>

<thy-progress class="mt-2" thySize="md" thyType="info" [thyValue]="value"></thy-progress>
<thy-progress class="mt-2" thySize="md" thyType="info" [thyValue]="stackedValues"></thy-progress>

<thy-progress class="mt-2" thySize="lg" thyType="success" [thyValue]="value"></thy-progress>
<thy-progress class="mt-2" thySize="lg" thyType="success" [thyValue]="stackedValues"></thy-progress>
