<thy-progress class="mt-2" thySize="sm" [thyValue]="value"></thy-progress>
<thy-progress class="mt-2" thySize="sm" [thyValue]="stackedValues"></thy-progress>

<thy-progress class="mt-2" thySize="md" thyType="info" [thyValue]="value"></thy-progress>
<thy-progress class="mt-2" thySize="md" thyType="info" [thyValue]="stackedValues"></thy-progress>

<thy-progress class="mt-2" thySize="lg" thyType="success" [thyValue]="value"></thy-progress>
<thy-progress class="mt-2" thySize="lg" thyType="success" [thyValue]="stackedValues"></thy-progress>

<div class="d-flex mt-2">
  <thy-progress [thyShape]="'circle'" thySize="sm" thyType="success" [thyValue]="value"></thy-progress>
  <thy-progress [thyShape]="'circle'" thySize="md" thyType="success" [thyValue]="value"></thy-progress>
  <thy-progress [thyShape]="'circle'" thySize="lg" thyType="success" [thyValue]="value"></thy-progress>
</div>
