@use '../../styles/variables';

$calendar-prefix-cls: 'thy-calendar';
$heading-color: variables.$gray-800;

// vertical padding for all form controls
$control-padding-horizontal: 12px;
$control-padding-horizontal-sm: 8px;

// Border color
$border-color-split: hsl(0, 0%, 91%); // split border inside a component
$border-color-inverse: variables.$white;
$border-width-base: 1px;
$border-style-base: solid;

// Disabled states
$disabled-color: variables.$gray-500;
$disabled-bg: variables.$gray-100;

$zindex-picker-panel: 10;
$zindex-picker: 1050;

$item-hover-bg: variables.$gray-200;
