@use './variables.scss' as style;
@use '../../styles/variables.scss';

.#{style.$calendar-prefix-cls}-week-number {
    &-cell {
        opacity: 0.5;
    }
    .#{style.$calendar-prefix-cls}-tbody tr {
        cursor: variables.$hand-cursor;
        transition: all 0.3s;
        position: sticky;
        &::after {
            content: '';
            position: absolute;
            left: 29.25px;
            right: 0;
            top: 3px;
            border-radius: variables.$border-radius-lg;
            height: 24px;
            z-index: -1;
            opacity: 0;
        }
        &:hover {
            &::after {
                background: variables.$gray-100;
                opacity: 1;
            }
        }
        &.#{style.$calendar-prefix-cls}-active-week {
            .#{style.$calendar-prefix-cls}-date {
                color: variables.$white;
                background: variables.$primary;
            }
            &::after {
                background: variables.$primary;
                opacity: 1;
            }
        }

        .#{style.$calendar-prefix-cls}-date {
            &:hover {
                background: none;
            }
        }
    }
}
