.dg-doc-content,
.dg-examples {
    > :first-child {
        margin-top: 0px;
    }
}

.dg-doc-content {
    font-size: unset;
}

.dg-tab-links,
.dg-sidebar,
.dg-navbar {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.dg-label {
    display: inline-flex;
    margin-bottom: 0px;
}

.dg-doc-viewer {
    .dg-component-viewer {
        .dg-component-api {
            .dg-api-properties-table {
                .dg-api-properties-header-row {
                    .dg-api-properties-name-th {
                        width: 18%;
                    }
                    .dg-api-properties-type-th {
                        width: 18%;
                    }

                    .dg-api-properties-default-th {
                        width: 18%;
                    }
                }
            }
        }
    }
}

.dg-home {
    .dg-hero {
        .dg-hero-launch {
            align-items: start;
            padding-left: 20%;
            text-align: unset;
            .dg-launch-title {
                color: #1e3042;
            }
            .dg-launch-action {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .dg-features {
            grid-gap: 30px 50px;
        }
    }
}

// Draft
.dg-theme-default {
    .dg-navbar {
        background-color: var(--color-0);
    }
}

.dg-menu {
    .menu-item {
        .item-content {
            color: var(--color-100);
        }
    }
}
.dg-doc-content h2:not(.dg-example-viewer h2) {
    color: var(--color-100);
}

.dg-tab-links,
.dg-search-container .search,
.dg-example-viewer .dg-example-viewer-wrapper,
.dg-example-viewer .dg-example-viewer-actions {
    border-color: var(--color-40);
}

.dg-layout .dg-sidebar,
.dg-toc .dg-link::before {
    border-color: var(--color-50);
}

.dg-theme-default .dg-navbar .navbar-brand .title,
.dg-theme-default .dg-navbar .nav a,
.dg-doc-content h1:not(.dg-example-viewer h1) {
    color: var(--color-100);
}

.dg-layout .dg-sidebar {
    &::-webkit-scrollbar {
        background-color: var(--color-0);
    }
}
