.dg-doc-content,
.dg-examples {
    > :first-child {
        margin-top: 0px;
    }
}

.dg-doc-content {
    font-size: unset;
}

.dg-tab-links,
.dg-sidebar,
.dg-navbar {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.dg-label {
    display: inline-flex;
    margin-bottom: 0px;
}

.dg-doc-viewer {
    .dg-component-viewer {
        .dg-component-api {
            .dg-api-properties-table {
                .dg-api-properties-header-row {
                    .dg-api-properties-name-th {
                        width: 18%;
                    }
                    .dg-api-properties-type-th {
                        width: 18%;
                    }

                    .dg-api-properties-default-th {
                        width: 18%;
                    }
                }
            }
        }
    }
}

.dg-home {
    .dg-hero {
        .dg-hero-launch {
            align-items: start;
            padding-left: 20%;
            text-align: unset;
            .dg-launch-title {
                color: #1e3042;
            }
            .dg-launch-action {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .dg-features {
            grid-gap: 30px 50px;
        }
    }
}

// ------------------------------  Draft Start------------------------------
.dg-theme-default {
    .dg-navbar {
        background-color: var(--color-0);
    }
}

.dg-menu {
    .menu-item {
        .item-content {
            color: var(--color-100);
        }
    }
}
.dg-doc-content h2:not(.dg-example-viewer h2) {
    color: var(--color-100);
}

.dg-doc-meta,
.dg-tab-links,
.dg-search-container .search,
.dg-example-viewer .dg-example-viewer-wrapper,
.dg-example-viewer .dg-example-viewer-actions {
    border-color: var(--color-40);
}
.dg-footer {
    border-color: var(--color-40);
    // color  字体是 #888，组件库没有
}

.dg-layout .dg-sidebar,
.dg-toc .dg-link::before {
    border-color: var(--color-50);
}

.dg-theme-default .dg-navbar .navbar-brand .title,
.dg-theme-default .dg-navbar .nav a,
.dg-doc-content h1:not(.dg-example-viewer h1) {
    color: var(--color-100);
}

.dg-doc-meta .dg-contribution-last-time {
    color: var(--color-70);
}

code[class*='language-'],
pre[class*='language-'] {
    text-shadow: none;
}

// 组件库中没有的颜色
html[theme='default'] {
    --dg-viewer-bg: #f6f8fa;
    --dg-code-bg: #f3f5f7;
}
html[theme='dark'] {
    --dg-viewer-bg: #393e46;
    --dg-code-bg: #3c414a;
}
.dg-example-viewer .dg-example-viewer-header {
    background: var(--dg-viewer-bg);
    border-bottom: 1px solid var(--color-40);
    color: var(--color-90);
}
.dg-doc-content pre:not(.dg-example-viewer pre) {
    background-color: var(--dg-viewer-bg);
}
.dg-doc-content code:not(.dg-example-viewer code) {
    background-color: var(--dg-code-bg);
    color: var(--color-100);
}

// 滚动条
// .dg-layout .dg-sidebar {
//     &::-webkit-scrollbar {
//     }

//     ::-webkit-scrollbar-track {
//         background: var(--color-0);
//     }

//     ::-webkit-scrollbar-thumb {
//         background: var(--color-0);
//     }
// }

// ------------------------------  Draft End------------------------------
