@use './demo-button.scss';
@use './demo-alert.scss';

.bg-example {
    background: var(--dg-gray-100);
}

.bg-example-striped,
.demo-layout-backdrop {
    padding: 12px;
    background-size: 25px 25px;
    background-color: var(--dg-gray-100);
}
