@use './demo-button.scss';
@use './demo-alert.scss';

:root {
    --dg-example-bg: #edf1f6;
    &[theme='dark'] {
        --dg-example-bg: #30353c;
    }
}

.bg-example {
    background: var(--dg-example-bg);
}

.bg-example-striped,
.demo-layout-backdrop {
    padding: 12px;
    background-size: 25px 25px;
    background-color: #ccc;
    background-image: -webkit-gradient(
        linear,
        0 100%,
        100% 0,
        color-stop(0.25, rgba(255, 255, 255, 0.2)),
        color-stop(0.25, transparent),
        color-stop(0.5, transparent),
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        color-stop(0.75, rgba(255, 255, 255, 0.2)),
        color-stop(0.75, transparent),
        to(transparent)
    );
}
