// docgeni
// $dg-primary: #4150b3;
@import '~@docgeni/template/styles/index.scss';

// ngx-tethys
$primary: #348fe4;
$font-family-statistics-number: 'Statistic-Number';

@import '../../../src/styles/basic.scss';

$primary-ccc: #348fe4;
