<div class="demo-layout d-flex-column-fill">
  <thy-layout>
    <thy-header thyTitle="我是头部" thyIcon="application"> </thy-header>
    <thy-content>
      恩，我是 content
    </thy-content>
  </thy-layout>
  <thy-layout>
    <thy-header>
      <ng-template #headerTitle>
        <a class="prefix-icon" thyTooltip="返回首页" thyTooltipPlacement="bottom" href="javascript:;"
          ><thy-icon thyIconName="house-square" thyIconType="fill"></thy-icon
        ></a>
        <thy-icon class="title-separator" thyIconName="angle-right"></thy-icon>
        <a href="javascript:;" class="title-name">自定义头部<thy-icon thyIconName="angle-down"></thy-icon></a>
      </ng-template>
    </thy-header>
    <thy-content>
      恩，我是 content
    </thy-content>
  </thy-layout>
</div>
