<thy-nav thyType="pulled" [thyResponsive]="true" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="sort($event)">
  @for (item of navList; track $index) {
    <a
      href="javascript:;"
      thyNavItem
      [thyNavItemActive]="item.index === activeIndex"
      [thyNavItemDisabled]="item.disabled"
      (click)="activeIndex = item.index"
      cdkDrag>
      <thy-icon thyIconName="drag" class="drag-handle"></thy-icon>
      {{ item.name }}
    </a>

    <!-- <div class="example-box" cdkDrag><thy-icon thyIconName="drag" class="drag-handle"></thy-icon>{{ item.name }}</div> -->
  }
</thy-nav>

<div class="d-flex" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="sort2($event)">
  @for (item of ListItems; track $index) {
    <div cdkDrag style="width: 100px; height: 50px; border: 1px solid #000; margin-right: 10px">
      <thy-icon thyIconName="drag" class="drag-handle"></thy-icon> 文本1
    </div>
  }
</div>
