<thy-input-group thyPrependText="前置" thyAppendText="$">
  <input thyInput placeholder="请输入元素" />
</thy-input-group>
<br />
<thy-input [(ngModel)]="value" [thyAutofocus]="true">
  <ng-template #prepend>
    <div [thyActionMenuToggle]="menuTemplate">中国+86</div>
  </ng-template>
  <ng-template #append>
    <a><span thyLabel="default">获取验证码</span></a>
  </ng-template>
</thy-input>
<ng-template #menuTemplate>
  <thy-action-menu>
    <a thyActionMenuItem>
      <span thyActionMenuItemName>中国+86</span>
    </a>
    <a thyActionMenuItem>
      <span thyActionMenuItemName>台湾+886</span>
    </a>
    <a thyActionMenuItem>
      <span thyActionMenuItemName>日本+81</span>
    </a>
  </thy-action-menu>
</ng-template>
