<div class="selection-list-wrapper" #body>
  <p>除了基本的列表展示，还可以通过修改 <code>thyLayout</code> 配合 <code>thy-selection-list</code> 组件来达到 grid 排列展示。</p>
  <thy-selection-list
    [style.width]="'560px'"
    [style.background]="'#fafafa'"
    [(ngModel)]="selectionModel.selectedValues"
    [thyMultiple]="isMultiple"
    [thySize]="isSmallSize ? 'sm' : ''"
    [thyBeforeKeydown]="thyBeforeKeydown"
    [thyBindKeyEventContainer]="body"
    [thyLayout]="isGridLayout ? 'grid' : 'list'"
    (thySelectionChange)="selectionChange($event)"
  >
    <thy-list-option *ngFor="let item of gridItems" [thyDisabled]="item.id === 3" [thyValue]="item?.id">
      <thy-icon thyIconName="app-agile-fill" class="thy-grid-option-icon"></thy-icon>
      <div class="thy-grid-option-name">{{ item.name }}</div>
    </thy-list-option>
  </thy-selection-list>

  <h6 class="my-3">改变 option 选项的大小：</h6>
  <p>
    当然可以通过改变 <code>thySize </code> 的值来改变 <code>thy-list-option</code> 的大小:
    <thy-switch [(ngModel)]="isSmallSize"></thy-switch>
  </p>
  <h6 class="my-3">改变 option 选择的模式：</h6>
  <p>修改 <code>thyMultiple</code> 来改变是否为多选模式：<thy-switch [(ngModel)]="isMultiple"></thy-switch></p>
  <h6 class="my-3">改变 option 展示样式：</h6>
  <p>修改 <code>thyLayout</code> 来改变列表展示样式：<thy-switch [(ngModel)]="isGridLayout"></thy-switch></p>
  <h6 class="my-3">阻止键盘事件:</h6>
  <p>通过修改 <code>thyBeforeKeydown</code> 的返回值来改变键盘事件。<thy-switch [(ngModel)]="stopKeyBoardEvent"></thy-switch></p>

  <h6 class="my-3">已选择的值：</h6>
  <p>{{ selectionModel.selectedValues | json }}</p>
</div>
