<section>
    <div class="header">
        <h2>Label</h2>
    </div>
    <div class="body">
        <span thyLabel="default">已同意</span>
        <span thyLabel="primary">Primary</span>
        <span thyLabel="success">Success</span>
        <span thyLabel="info">Info</span>
        <span thyLabel="warning">Warning</span>
        <span thyLabel="danger">Danger</span>
        <br/>
        <br/> 自定义颜色
        <code>#7076fa</code>覆盖
        <span thyLabel thyLabelColor="#7076fa">Danger</span>
        <br>
        <br>
        <span thyLabel="danger">已拒绝：reject</span>
        <span thyLabel="danger">已截止：ended</span>
        <span thyLabel="danger">已结束:finished</span>
        <span thyLabel="primary">已同意：agree</span>
        <span thyLabel="primary">已提交：submited</span>
        <span thyLabel="primary">已评审：reviewed</span>
        <br/>
        <br/>
        <span thyLabel="primary">已读: readed</span>
        <span thyLabel="primary">已回执:receipted</span>
        <span thyLabel="primary">进行中:in-progress</span>
        <span thyLabel="primary">已发布:published</span>
        <br/>
        <br/>
        <span thyLabel="warning">未开始:unbegind</span>
        <span thyLabel="warning">未回执:unreceipt</span>
        <span thyLabel="warning">未读: unread</span>
        <span thyLabel="warning">审批中: waiting</span>
        <br/>
        <br/>
        <span thyLabel="warning">未发布:unpublished</span>
        <span thyLabel="warning">未提交:unsubmited</span>
        <span thyLabel="warning">待评审:pending</span>
        <br/>
        <br/>
        <span thyLabel="default">已撤销: canceled</span>
        <span thyLabel="default">已作废: deserted</span>
    </div>
</section>