<section>
    <div class="header">
        <h2>常规标签</h2>
        <p>· 标记与分类当前任务。 </p>
    </div>
    <div class="body">
        <span class="mr-1" thyLabel="default">Default</span>
        <span class="mr-1" thyLabel="primary">Primary</span>
        <span class="mr-1" thyLabel="success">Success</span>
        <span class="mr-1" thyLabel="info">Info</span>
        <span class="mr-1" thyLabel="warning">Warning</span>
        <br/>
        <br/>
        <span class="mr-1" thyLabel="emboss-default">emboss-default</span>
        <span class="mr-1" thyLabel="emboss-primary">emboss-primary</span>
        <span class="mr-1" thyLabel="emboss-warning">emboss-warning</span>
        <span class="mr-1" thyLabel="emboss-danger">emboss-danger</span>
        <hr> 自定义颜色
        <code>#7076fa</code>覆盖
        <span class="mr-1" thyLabel [thyLabelColor]="color">Danger</span>
        <span class="mr-1" thyLabel="emboss-default" [thyLabelColor]="''">emboss-primary</span>
        <span class="mr-1" thyLabel="emboss-default" [thyLabelColor]="color">emboss-primary</span>
        <hr/>
        <span class="mr-1" thyLabel="default" thyHasHover="true" thyBeforeIcon="wtf-th-plus" (click)="add()">添加标签</span>
        <span class="mr-1" thyLabel="primary" thyHasHover="true" thyAfterIcon="wtf-times" (thyOnRemove)="remove()">
            重要不紧急
        </span>
        <span class="mr-1" thyLabel="default" thyHasHover="true" (click)="showMore()">…</span>
        <br>
        <br>
        <span thyLabel="default" thyAfterIcon="wtf-times" (thyOnRemove)="remove()">default</span>
    </div>
</section>

<section>
    <div class="header">
        <h2>大小</h2>
    </div>
    <div class="body">
        <span class="mr-1" thyLabel="default" thySize="sm">标签 sm 20</span>
        <span class="mr-1" thyLabel="default">标签 default 22</span>
        <span class="mr-1" thyLabel="default" thySize="md">标签 md 24</span>
        <span class="mr-1" thyLabel="default" thySize="lg">标签 lg 26</span>
    </div>
</section>

<section>
    <div class="header">
        <h2>状态标签</h2>
        <p>· 显示“审批”、“考核”、“公告”、“投票”等操作的当前状态</p>
    </div>
    <div class="body">
        <span class="mr-1" thyLabel="warning" thyLabelType="state">未开始</span>
        <span class="mr-1" thyLabel="primary" thyLabelType="state">进行中</span>
        <span class="mr-1" thyLabel="danger" thyLabelType="state">已结束</span>
        <span class="mr-1" thyLabel="default" thyLabelType="state">已作废</span>
        <span class="mr-1" thyLabel="default" thyLabelType="state">已撤销</span>
    </div>
</section>

<section>
    <div class="header">
        <h2>状态标签2</h2>
        <p>· 多用于“销售_客户详情_沟通状态”展示，状态颜色由管理员自定义</p>
    </div>
    <div class="body">
        <span class="mr-1" thyLabel="default" thyLabelType="pill">
            <span class="thy-dot thy-dot-label" thyLabel [thyLabelColor]="color"></span>
            初步沟通
        </span>
        <span class="mr-1" thyLabel="default" thyLabelType="pill">
            <span class="thy-dot thy-dot-label" thyLabel [thyLabelColor]="color1"></span>
            确定意向
        </span>
        <span thyLabel="default" thyLabelType="pill">
            <span class="thy-dot thy-dot-label" thyLabel="primary"></span>
            签约成交
        </span>
    </div>
</section>

<section>
    <div class="header">
        <h2>状态标签-任务</h2>
        <p>·任务状态的展示，通用在看板、表格、列表等</p>
    </div>
    <div class="body">
        <span *ngFor="let status of statusLabels" class="mr-3" [thyBeforeIcon]="status.icon" thyLabel="emboss-status" [thyLabelColor]="status.color"
        >{{status.name}}</span>
    </div>
</section>

<api-parameters [parameters]="apiParameters"></api-parameters>