<section>
    <div class="header">
        <h2>Label</h2>
    </div>
    <div class="body">
        <thy-label thyClassify="label" thyStyle="default" thyText="已同意"></thy-label>
        <thy-label thyClassify="label" thyStyle="primary" thyText="Primary"></thy-label>
        <thy-label thyClassify="label" thyStyle="success" thyText="Success"></thy-label>
        <thy-label thyClassify="label" thyStyle="info" thyText="Info"></thy-label>
        <thy-label thyClassify="label" thyStyle="warning" thyText="Warning"></thy-label>
        <thy-label thyClassify="label" thyStyle="danger" thyText="Danger"></thy-label>
        <br/>
        <br/> 自定义颜色
        <code>#7076fa</code>覆盖
        <thy-label thyClassify="label" thyStyle="custom" thyText="Danger"></thy-label>
        <br>
        <br>
        <code>.list-status</code> 基本上和 label 样式一致, 颜色从 18 种颜色取值
        <br>
        <br>
        <thy-label thyClassify="list-status" thyStyle="reject" thyText="已拒绝：reject"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="ended" thyText="已截止：ended"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="finished" thyText="已结束:finished"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="agreed" thyText="已同意：agree"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="submited" thyText="已提交：submited"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="reviewed" thyText="已评审：reviewed"></thy-label>
        <br/>
        <br/>
        <thy-label thyClassify="list-status" thyStyle="readed" thyText="已读: reade"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="receipted" thyText="已回执:receipted"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="in-progress" thyText="进行中:in-progress"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="transferred" thyText="已转交: transferre"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="published" thyText="已发布:published"></thy-label>
        <br/>
        <br/>
        <thy-label thyClassify="list-status" thyStyle="unbegin" thyText="未开始:unbegind"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="unreceipt" thyText="未回执:unreceipt"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="unread" thyText="未读: unread"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="waiting" thyText="审批中: waiting"></thy-label>
        <br/>
        <br/>
        <thy-label thyClassify="list-status" thyStyle="unpublished" thyText="未发布:unpublished"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="unsubmited" thyText="未提交:unsubmited"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="pending" thyText="待评审:pending"></thy-label>
        <br/>
        <br/>
        <thy-label thyClassify="list-status" thyStyle="canceled" thyText="已撤销: canceled"></thy-label>
        <thy-label thyClassify="list-status" thyStyle="deserted" thyText="已作废: deserted"></thy-label>
    </div>
</section>

<section>
    <div class="header">
        <h2>Label Specific</h2>
    </div>
    <div class="body">
        <thy-label thyClassify="label-spec" thyExtend="label-spec-lg" thyText="特殊的Label"></thy-label>
        <thy-label thyClassify="label-spec" thyStyle="title" thyText="特殊的Label"></thy-label>
        <thy-label thyClassify="label-spec" thyStyle="primary" thyText="特殊的Label"></thy-label>
        <thy-label thyClassify="label-spec" thyStyle="success" thyText="特殊的Label"></thy-label>
        <thy-label thyClassify="label-spec" thyStyle="warning" thyText="特殊的Label"></thy-label>
        <thy-label thyClassify="label-spec" thyStyle="dange" thyText="特殊的Label"></thy-label>
    </div>
</section>