<div class="demo-card demo-flexible">
  <thy-flexible-text [thyTooltipContent]="showTextComponent">
    {{ showTextComponent }}
  </thy-flexible-text>
</div>

<div class="demo-card demo-flexible">
  <span thyFlexibleText [thyTooltipContent]="showTextDirective">{{ showTextDirective }}</span>
</div>

<div class="demo-card demo-flexible">
  <span
    thyFlexibleText
    thyContainerClass="custom-flexible-text-container"
    [thyTooltipContent]="'使用自定义的thyContainerClass参数，默认不再包含flexible-text-container'"
    >{{ showTextDirective }}</span
  >
</div>
