<button
  [thyButton]="'primary'"
  [thyActionMenuToggle]="menu"
  thyContainerClass="primary-menu"
  thyOriginActiveClass="active"
>
  基本下拉菜单
</button>
<ng-template #menu>
  <thy-action-menu>
    <a thyActionMenuItem thyActionMenuItemActive="true" href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标</span>
    </a>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标</span>
      <span thyActionMenuItemExtendIcon class="text-primary">
        <thy-icon thyIconName="check"></thy-icon>
      </span>
    </a>
    <thy-action-menu-divider></thy-action-menu-divider>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标</span>
      <span thyActionMenuItemMeta>(默认排序)</span>
      <div thyActionMenuItemInfo>默认排序下可拖拽移动任务；其他排序下只能显示，不可拖拽</div>
    </a>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标</span>
      <span thyActionMenuItemExtendIcon>
        <i class="wtf wtf-angle-right"></i>
      </span>
      <div thyActionMenuSubItem>
        <a thyActionMenuItem href="javascript:;">
          <span thyActionMenuItemIcon>
            <thy-icon thyIconName="task"></thy-icon>
          </span>
          <span thyActionMenuItemName>子菜单1</span>
          <span thyActionMenuItemExtendIcon>
            <i class="wtf wtf-angle-right"></i>
          </span>
          <div thyActionMenuSubItem>
            <a thyActionMenuItem href="javascript:;">
              <span thyActionMenuItemIcon>
                <thy-icon thyIconName="task"></thy-icon>
              </span>
              <span thyActionMenuItemName>子菜单1</span>
            </a>
            <a thyActionMenuItem href="javascript:;">
              <span thyActionMenuItemIcon>
                <thy-icon thyIconName="task"></thy-icon>
              </span>
              <span thyActionMenuItemName>子菜单2子菜单2子菜单2子菜单2子菜单2子菜单2</span>
            </a>
          </div>
        </a>
        <a thyActionMenuItem href="javascript:;">
          <span thyActionMenuItemIcon>
            <thy-icon thyIconName="task"></thy-icon>
          </span>
          <span thyActionMenuItemName>子菜单2子菜单2子菜单2子菜单2子菜单2子菜单2</span>
        </a>
      </div>
    </a>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemName>无图标元素无图标元素无图标元素无图标元素无图标元素无图标元素</span>
    </a>
  </thy-action-menu>
</ng-template>
