<div class="top-group">
  <button thyButton="primary" [thyPopover]="content" thyPlacement="topLeft">Top Left</button>
  <button thyButton="primary" [thyPopover]="content" thyPlacement="top">Top</button>
  <button thyButton="primary" [thyPopover]="content" thyPlacement="topRight">Top Right</button>
</div>
<div class="left-group">
  <button thyButton="primary" [thyPopover]="content" thyPlacement="leftTop">Left Top</button>
  <button thyButton="primary" [thyPopover]="content" thyPlacement="left">Left</button>
  <button thyButton="primary" [thyPopover]="content" thyPlacement="leftBottom">Left Bottom</button>
</div>
<div class="right-group">
  <button thyButton="primary" [thyPopover]="content" thyPlacement="rightTop">Right Top</button>
  <button thyButton="primary" [thyPopover]="content" thyPlacement="right">Right</button>
  <button thyButton="primary" [thyPopover]="content" thyPlacement="rightBottom">Right Bottom</button>
</div>
<div class="bottom-group">
  <button thyButton="primary" [thyPopover]="content" thyPlacement="bottomLeft">Bottom Left</button>
  <button thyButton="primary" [thyPopover]="content" thyPlacement="bottom">Bottom</button>
  <button thyButton="primary" [thyPopover]="content" thyPlacement="bottomRight">Bottom Right</button>
</div>

<ng-template #content>
  <thy-popover-header thyTitle="Title"></thy-popover-header>
  <thy-popover-body> Hi, I'm popover! </thy-popover-body>
</ng-template>
