$input-search-padding-y: $btn-padding-y-md; // 36px
.thy-input {
  position: relative;
  width: 100%;
  padding: 0 !important;
  display: flex !important;
  align-items: center;
  .input-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: $input-border-width solid $input-border-color;
  }
  .form-control {
    flex: 1;
    border: 0;
  }
  .input-prepend {
    margin-left: $input-padding-x;
  }
  .input-append {
    margin-right: $input-padding-x;
  }
  .input-password-icon {
    color: $gray-300;
    i {
      font-size: 20px;
    }
  }
  .input-label {
    position: absolute;
    top: 1px;
    left: 10px;
    background: $white;
    padding: 0 5px;
    font-size: $font-size-sm;
    transition: all 0.3s ease-out 0.1s;
    color: $primary;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    &.active {
      width: auto;
      height: auto;
      z-index: 0;
      top: -10px;
    }
    &-sm,
    &-xs {
      &.active {
        top: -13px;
      }
    }
  }
}

.input-search-container {
  position: relative;
  display: block;
  width: 100%;
  .input-prefix-icon,
  .input-suffix-icon {
    position: absolute;
    z-index: 2;
    i {
      font-size: $font-size-base;
    }
  }
  .input-prefix-icon {
    left: $input-padding-x;
    top: $input-search-padding-y;
    color: $input-icon-color;
  }
  .input-suffix-icon {
    right: $input-padding-x;
    top: $input-search-padding-y;
  }
  .input-search-control {
    padding: $input-search-padding-y ($input-padding-x + $input-padding-x + 0.5rem);
    transition: none;
  }
  &.input-search-ellipse {
    .input-search-control {
      border-radius: $input-ellipse-radius;
      background: $input-ellipse-background-color;
      &:not(:disabled) {
        &:hover {
          background: $input-ellipse-hover-focus-background-color;
          border-color: $input-ellipse-hover-border-color;
        }
        &:focus {
          background: $input-ellipse-hover-focus-background-color;
          border-color: $input-ellipse-focus-border-color;
        }
      }
    }
  }
}

.input-label-container {
  position: relative;
  display: block;
  width: 100%;
  .input-label-control {
    // padding: $input-search-padding-y ($input-padding-x + $input-padding-x + 0.5rem);
  }
  .input-label {
    position: absolute;
    top: 1px;
    left: 10px;
    background: $white;
    padding: 0 5px;
    font-size: $font-size-sm;
    transition: all 0.3s ease-out 0.1s;
    color: $primary;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    &.active {
      width: auto;
      height: auto;
      z-index: 0;
      top: -10px;
    }
    &-sm,
    &-xs {
      &.active {
        top: -13px;
      }
    }
  }
}

// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.
.has-feedback {
  // Enable absolute positioning
  position: relative; // Ensure icons don't overlap text
  .form-control {
    padding-right: 2 * $input-padding-x + 1rem;
  }
}

// Feedback icon (requires .glyphicon classes)
.form-control-feedback {
  position: absolute; // top: (2 * $input-padding-y + $input-line-height * $font-size-base - $input-line-height) / 2;
  top: 50%;
  margin-top: -(($font-size-md * $input-line-height) / 2);
  right: $input-padding-x;
  z-index: 2; // Ensure icon is above input groups
  display: block; // width: $input-hei;
  // height: @input-height-base;
  // line-height: $input-line-height;
  text-align: center;
  pointer-events: none;
  font-size: $font-size-md;
  -webkit-font-smoothing: subpixel-antialiased;
  color: $input-icon-color;
}

.form-group {
  >.col,
  >[class*='col-'] {
    >.form-control-feedback {
      right: 2 * $input-padding-x;
    }
  }
}

// .input-lg + .form-control-feedback,
// .input-group-lg + .form-control-feedback,
// .form-group-lg .form-control + .form-control-feedback {
//     width: @input-height-large;
//     height: @input-height-large;
//     line-height: @input-height-large;
// }
// .input-sm + .form-control-feedback,
// .input-group-sm + .form-control-feedback,
// .form-group-sm .form-control + .form-control-feedback {
//     width: @input-height-small;
//     height: @input-height-small;
//     line-height: @input-height-small;
// }
