$input-search-padding-y: $btn-padding-y-md; // 36px

.input-search-container {
  position: relative;
  display: block;
  width: 100%;
  .input-prefix-icon,
  .input-suffix-icon {
    position: absolute;
    z-index: 2;
    i {
      font-size: $font-size-base;
    }
  }
  .input-prefix-icon {
    left: $input-padding-x;
    top: $input-search-padding-y;
    color: $input-icon-color;
  }
  .input-suffix-icon {
    right: $input-padding-x;
    top: $input-search-padding-y;
  }
  .input-search-control {
    padding: $input-search-padding-y ($input-padding-x + $input-padding-x + 0.5rem);
  }
  &.input-search-ellipse {
    .input-search-control {
      border-radius: $input-ellipse-radius;
      background: $input-ellipse-background-color;
      &:not(:disabled) {
        &:hover {
          background: $input-ellipse-hover-focus-background-color;
          border-color: $input-ellipse-hover-border-color;
        }
        &:focus {
          background: $input-ellipse-hover-focus-background-color;
          border-color: $input-ellipse-focus-border-color
        }
      }
    }
  }
}

// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.
.has-feedback {
  // Enable absolute positioning
  position: relative; // Ensure icons don't overlap text
  .form-control {
    padding-right: 2 * $input-padding-x + 1rem;
  }
}

// Feedback icon (requires .glyphicon classes)
.form-control-feedback {
  position: absolute;
  // top: (2 * $input-padding-y + $input-line-height * $font-size-base - $input-line-height) / 2;
  top: 50%;
  margin-top: -(($font-size-md * $input-line-height) / 2); 
  right: $input-padding-x;
  z-index: 2; // Ensure icon is above input groups
  display: block; // width: $input-hei;
  // height: @input-height-base;
  // line-height: $input-line-height;
  text-align: center;
  pointer-events: none;
  font-size: $font-size-md;

  -webkit-font-smoothing: subpixel-antialiased;
  color: $input-icon-color;
}

form .form-group {
  .form-control-feedback {
    right: 2 * $input-padding-x;
  }
}

// .input-lg + .form-control-feedback,
// .input-group-lg + .form-control-feedback,
// .form-group-lg .form-control + .form-control-feedback {
//     width: @input-height-large;
//     height: @input-height-large;
//     line-height: @input-height-large;
// }
// .input-sm + .form-control-feedback,
// .input-group-sm + .form-control-feedback,
// .form-group-sm .form-control + .form-control-feedback {
//     width: @input-height-small;
//     height: @input-height-small;
//     line-height: @input-height-small;
// }