<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12" class="d-flex">
    <thy-table [thyModel]="data" thyRowKey="id" [thyEmptyOptions]="emptyOptions">
      <thy-table-column thyTitle="Id" thyModelKey="id"></thy-table-column>
      <thy-table-column thyTitle="Name" thyModelKey="name"></thy-table-column>
      <thy-table-column thyTitle="Age" thyModelKey="age"></thy-table-column>
      <thy-table-column thyTitle="Job" thyModelKey="job"> </thy-table-column>
      <thy-table-column thyTitle="" thyClassName="thy-operation-links">
        <ng-template #cell let-row>
          <a class="link-secondary" href="javascript:;">
            <thy-icon thyIconName="user-add"></thy-icon>
          </a>
          <a class="link-danger-weak" href="javascript:;">
            <thy-icon thyIconName="trash"></thy-icon>
          </a>
        </ng-template>
      </thy-table-column>
    </thy-table>
  </div>
  <div thyCol [thySpan]="12" class="d-flex">
    <thy-table [thyModel]="data" thyRowKey="id">
      <thy-table-column thyTitle="Id" thyModelKey="id"></thy-table-column>
      <thy-table-column thyTitle="Name" thyModelKey="name"></thy-table-column>
      <thy-table-column thyTitle="Age" thyModelKey="age"></thy-table-column>
      <thy-table-column thyTitle="Job" thyModelKey="job"> </thy-table-column>
      <thy-table-column thyTitle="" thyClassName="thy-operation-links">
        <ng-template #cell let-row>
          <a class="link-secondary" href="javascript:;">
            <thy-icon thyIconName="user-add"></thy-icon>
          </a>
          <a class="link-danger-weak" href="javascript:;">
            <thy-icon thyIconName="trash"></thy-icon>
          </a>
        </ng-template>
      </thy-table-column>

      <ng-template #empty>
        <thy-empty thyText="There is no user data from custom ng-template #empty"></thy-empty>
      </ng-template>
    </thy-table>
  </div>
</div>
