<div class="body selection-list-wrapper" #body>
  <label thyCheckbox thyInline="true" [(ngModel)]="selectionModel.multiple" thyLabelText="是否是多选列表"></label>
  <label thyCheckbox thyInline="true" [(ngModel)]="selectionModel.stopKeydownEvent" thyLabelText="阻止键盘事件"></label>
  <label
    thyCheckbox
    thyInline="true"
    [(ngModel)]="selectionModel.selectAll"
    (ngModelChange)="toggleSelectAll()"
    thyLabelText="选择所有项"
  ></label>
  <label
    thyCheckbox
    thyInline="true"
    [(ngModel)]="selectionModel.isLayoutGrid"
    thyLabelText="列表以grid格式展示"
  ></label>
  <thy-input-search
    *ngIf="!selectionModel.isLayoutGrid"
    name="search"
    thyPlaceholder="输入关键字进行搜索"
    (keydown.enter)="enterSearch()"
    [(ngModel)]="searchText"
    (ngModelChange)="searchChange()"
    (clear)="clearSearch()"
  ></thy-input-search>
  <thy-selection-list
    [style.height]="'200px'"
    [(ngModel)]="selectionModel.defaultValues"
    [thyBindKeyEventContainer]="body"
    [thyBeforeKeydown]="thyBeforeKeydown"
    [thyMultiple]="selectionModel.multiple"
    [thyLayout]="selectionModel.isLayoutGrid ? 'grid' : 'list'"
    (thySelectionChange)="selectionChange($event)"
    thyFirstItemDefaultActive="true"
  >
    <thy-list-option *ngFor="let item of items" [thyDisabled]="item.id === 2" [thyValue]="item?.id">
      <div class="text-center" *ngIf="selectionModel.isLayoutGrid">
        <div>
          <i class="wtf wtf wtf-type-demand text-success font-size-xlg"></i>
        </div>
        <div>{{ item.name }}</div>
      </div>
      <span *ngIf="!selectionModel.isLayoutGrid">{{ item.name }}</span>
    </thy-list-option>
  </thy-selection-list>
  ngModel:
  <pre><code>{{selectionModel.defaultValues | json}}</code></pre>
</div>
