# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

# Updated to support Angular 21 (Chrome 111+, Firefox 112+, Safari 17+, Edge 111+)
Chrome >= 111
ChromeAndroid >= 111
Edge >= 111
Firefox >= 112
FirefoxAndroid >= 112
Safari >= 17
iOS >= 17
