<div class="mb-2">select</div>
<thy-select [(ngModel)]="selectedOption" thyAllowClear="true" style="width: 500px;">
  <option value="">请选择</option>
  <option value="option1">选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1选项1</option>
  <option value="option2">选项2</option>
</thy-select>
<div class="mt-2 mb-2">自定义大小</div>
<thy-select [thySize]="thySize" [(ngModel)]="thySize" style="width: 500px;">
  <option value="sm">小</option>
  <option value="md">中</option>
  <option value="">默认</option>
  <option value="lg">大</option>
</thy-select>
