<thy-timeline thyMode="left">
  <thy-timeline-item>
    <ng-template #description>2012年11月</ng-template>
    北京易成时代科技有限公司成立 by <thy-avatar [thyShowName]="true" thyName="Anytao" thySize="xs"></thy-avatar> 和
    <thy-avatar [thyShowName]="true" thyName="Terry" thySize="xs"></thy-avatar
  ></thy-timeline-item>
  <thy-timeline-item> <ng-template #description>2013年7月21</ng-template> Worktile 2.0 发布</thy-timeline-item>
  <thy-timeline-item> <ng-template #description>2015年</ng-template> Worktile 企业版发布，正式开启商业化</thy-timeline-item>
  <thy-timeline-item> <ng-template #description>2018年</ng-template> Worktile 7.0 发布，高度配置化的项目管理工具诞生</thy-timeline-item>
  <thy-timeline-item> <ng-template #description>2019年</ng-template> PingCode 正式发布，新一代的研发管理工具</thy-timeline-item>
  <thy-timeline-item>
    <ng-template #description>2022年</ng-template> PingCode 4.0 发布，国内首款集产品+工单的管理工具，UI 2.0 全新上线
    <button thySize="sm" thyButton="primary">创造未来</button></thy-timeline-item
  >
</thy-timeline>
