<form thyForm name="demoForm" #demoForm="ngForm" thyLayout="horizontal">
  <thy-form-group thyLabelText="Username" thyLayout="horizontal" thyLabelRequired thyTips="This is tips for username">
    <input thyInput name="username" [(ngModel)]="model.name" required placeholder="Please type username" />
  </thy-form-group>
  <thy-form-group thyRowFill>
    <ng-template #content>
      <input thyInput name="displayName" [(ngModel)]="model.display_name" placeholder="Please type display name" />
    </ng-template>
  </thy-form-group>
  <thy-form-group thyLabelText="Select">
    <thy-native-select required [(ngModel)]="model.select" name="power">
      <option value="">---Select---</option>
      <option *ngFor="let option of options" [value]="option._id">{{ option.value }}</option>
    </thy-native-select>
  </thy-form-group>
  <thy-form-group thyLabelText="Cascader">
    <thy-cascader
      name="cascader"
      required
      [thyOptions]="provinceCities"
      [(ngModel)]="values"
      (ngModelChange)="onChanges($event)"
      style="width: 200px">
    </thy-cascader>
  </thy-form-group>
  <thy-form-group thyLabelText="Textarea">
    <textarea class="form-control" rows="3"></textarea>
  </thy-form-group>
  <thy-form-group>
    <ng-template #content>
      <label class="col-sm-2 col-form-label pr-0">Start</label>
      <div class="col-sm-4 col-form-control">
        <thy-input-group>
          <input type="text" class="form-control pbox-trigger" name="deadline_at" readonly="readonly" placeholder="" value="7月17日" />
          <ng-template #append>
            <span class="input-group-text">
              <thy-icon thyIconName="calendar"></thy-icon>
            </span>
            <span class="input-group-text"> $ </span>
          </ng-template>
        </thy-input-group>
      </div>
      <label class="col-sm-2 col-form-label">Due date</label>
      <div class="col-sm-4 has-feedback col-form-control">
        <input type="email" class="form-control" placeholder="Due date" />
        <thy-icon class="form-control-feedback" thyIconName="calendar"></thy-icon>
      </div>
    </ng-template>
  </thy-form-group>
  <thy-form-group>
    <ng-template #content>
      <label class="col-sm-2 col-form-label pr-0">Start Time</label>
      <div class="col-sm-4 col-form-control">
        <thy-date-picker name="startTime" required [(ngModel)]="date" (ngModelChange)="onChange($event)"></thy-date-picker>
      </div>
      <label class="col-sm-2 col-form-label">End time</label>
      <div class="col-sm-4 has-feedback col-form-control">
        <thy-date-picker name="endTime" [(ngModel)]="date" (ngModelChange)="onChange($event)"></thy-date-picker>
      </div>
    </ng-template>
  </thy-form-group>
  <thy-form-group>
    <ng-template #content>
      <label class="col-sm-2 col-form-label pr-0">Date</label>
      <div class="col-sm-4 col-form-control">
        <thy-date-picker name="time" required [(ngModel)]="dateNull" (ngModelChange)="onChange($event)"></thy-date-picker>
      </div>
      <label class="col-sm-2 col-form-label">Date range</label>
      <div class="col-sm-4 has-feedback col-form-control">
        <thy-range-picker name="rangeTime" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></thy-range-picker>
      </div>
    </ng-template>
  </thy-form-group>

  <thy-form-group thyLabelText="Time" [thyFeedbackIcon]="'calendar'">
    <input type="text" disabled="" readonly="readonly" value="2017-12-12" class="form-control" placeholder="error" />
  </thy-form-group>
  <thy-form-group thyLabelText="Static Input">
    <input type="text" readonly class="form-control-plaintext" value="email@example.com" />
  </thy-form-group>
  <thy-form-group thyLabelText="Static Text">
    <a readonly href="javascript:;" class="form-control-plaintext">Add Static Text</a>
  </thy-form-group>
  <thy-form-group thyLabelText="Select" thyLabelPaddingTopClear="true">
    <label thyCheckbox thyLabelText="Option1" [(ngModel)]="model.checkbox" name="checkbox1"></label>
    <label thyCheckbox thyLabelText="Option2"> </label>
    <label thyCheckbox thyLabelText="Option3" thyDisabled=""> </label>
  </thy-form-group>
  <thy-form-group thyLabelText="Radio">
    <label thyRadio thyLabelText="Option1"></label>
    <label thyRadio thyLabelText="Option2"></label>
    <label thyRadio checked thyLabelText="Option3" thyDisabled=""></label>
  </thy-form-group>
  <thy-form-group thyLabelText="Radio Button">
    <thy-radio-group name="group1" [(ngModel)]="model.group" thyLayout="flex" required>
      <label thyRadioButton thyLabelText="Option1" thyValue="1"></label>
      <label thyRadioButton thyLabelText="Option2" thyValue="2"></label>
      <label thyRadioButton thyLabelText="Option3" thyValue="3"></label>
      <label thyRadioButton thyLabelText="Option4" thyValue="4"></label>
      <label thyRadioButton thyLabelText="Option5" thyValue="5"></label>
    </thy-radio-group>
  </thy-form-group>
  <thy-form-group *ngIf="submitSuccess">
    <div class="text text-success">Submit success!</div>
  </thy-form-group>
  <thy-form-group-footer>
    <button [thyButton]="'primary'" (thyFormSubmit)="save(demoForm)">Save</button>
    <button [thyButton]="'link-secondary'">Cancel</button>
  </thy-form-group-footer>
</form>
