<div class="demo-layout-backdrop d-flex-column-fill demo-layout-sidebar">
  <thy-layout style="height: 100px;">
    <thy-sidebar>
      <div class="sidebar-header">
        <span class="title cursor-pointer">Title</span>
        <button class="action" thyButtonIcon="project-add" thyLight="true" thySize="lg"></button>
      </div>
      <div class="sidebar-content text-center">
        Sidebar with header and content
      </div>
    </thy-sidebar>
    <thy-content> Content </thy-content>
  </thy-layout>
  <thy-layout style="height: 100px;">
    <thy-sidebar thyWidth="lg" class="p-2">
      Sidebar with custom width lg
    </thy-sidebar>
    <thy-content> Content </thy-content>
  </thy-layout>
  <thy-layout style="height: 100px;">
    <thy-sidebar [thyWidth]="400" class="p-2">
      Sidebar with custom width 400
    </thy-sidebar>
    <thy-content> Content </thy-content>
  </thy-layout>

  <thy-layout style="height: 100px;">
    <thy-sidebar [thyIsolated]="true" class="p-2">
      Sidebar with isolated
    </thy-sidebar>
    <thy-content> Content </thy-content>
  </thy-layout>

  <thy-layout style="height: 100px;">
    <thy-sidebar thyHasBorderRight="false" class="p-2">
      Sidebar without border
    </thy-sidebar>
    <thy-content> Content </thy-content>
  </thy-layout>

  <thy-layout style="height: 100px;">
    <thy-sidebar [thyIsDraggableWidth]="true" class="p-2">
      Sidebar can drag to change width
    </thy-sidebar>
    <thy-content> Content </thy-content>
  </thy-layout>

  <thy-layout style="height: 100px;">
    <thy-sidebar class="p-2" [thyCollapsible]="true" [thyCollapseWidth]="collapsedWidth">
      Sidebar is collapsible
    </thy-sidebar>
    <thy-content> Content </thy-content>
  </thy-layout>
</div>
