@use 'variables.scss' as variables2;

.body {
    min-height: 300px;
}

.demo-layout {
    min-height: 300px;
}

.demo-layout-backdrop {
    > :not(:first-child).thy-layout {
        margin-top: 20px;
    }

    .thy-layout-content {
        background: variables2.$white; // #e4e9f2;
    }
}
