@use 'variables.scss' as variables2;

.custom-collapse-item {
    background: variables2.$gray-70;
    border-radius: 4px;
    margin-bottom: 28px;

    .thy-collapse-header {
        padding: {
            left: 12px;
            right: 12px;
        }
    }
}
