<thy-button-group thyType="outline-default">
  <button thyButton (click)="enable = true" [class]="enable ? 'active' : ''">enable</button>
  <button thyButton (click)="enable = false" [class]="!enable ? 'active' : ''">disable</button>
</thy-button-group>
<div style="margin-top: 10px">
  <thy-carousel [thyTouchable]="enable">
    <div thyCarouselItem class="custom-carousel-item">
      <img src="assets/images/carousel/1.png" alt="1" />
    </div>
    <div thyCarouselItem class="custom-carousel-item">
      <img src="assets/images/carousel/2.png" alt="2" />
    </div>
    <div thyCarouselItem class="custom-carousel-item">
      <img src="assets/images/carousel/3.png" alt="3" />
    </div>
  </thy-carousel>
</div>
