<section>
  <div class="header">
    <h2>Popover Basic</h2>
  </div>
  <div class="body">
    <form thyForm thyLayout="inline">
      <thy-form-group thyLabelText="Placement">
        <thy-select name="size" [(ngModel)]="placement" name="placement">
          <option value="top">top</option>
          <option value="topLeft">topLeft</option>
          <option value="topRight">topRight</option>
          <option value="bottom">bottom</option>
          <option value="bottomLeft">bottomLeft</option>
          <option value="bottomRight">bottomRight</option>
          <option value="left">left</option>
          <option value="leftTop">leftTop</option>
          <option value="leftBottom">leftBottom</option>
          <option value="right">right</option>
          <option value="rightTop">rightTop</option>
          <option value="rightBottom">rightBottom</option>
        </thy-select>
      </thy-form-group>
    </form>
    <div class="btn-pair mt-2">
      <button #componentTrigger thyButton="primary" (click)="openPopover(componentTrigger)">
        Open Component Popover
      </button>
      <button #templateTrigger thyButton="primary" (click)="openTemplatePopover(templateTrigger, template)">
        Open Template Popover
      </button>
    </div>
    <ng-template #template>
      <p class="p-2">Hello, I am template content</p>
    </ng-template>
    <!-- <pre class="mt-2"><code lang="typescript" [highlight]="connectionPosition | json"></code></pre> -->
  </div>
</section>

<section>
  <div class="header">
    <h2>Popover Directive</h2>
  </div>
  <div class="body">
    <form thyForm thyLayout="inline">
      <thy-form-group thyLabelText="Placement">
        <thy-select name="size" [(ngModel)]="placement" name="placement">
          <option value="top">top</option>
          <option value="topLeft">topLeft</option>
          <option value="topRight">topRight</option>
          <option value="bottom">bottom</option>
          <option value="bottomLeft">bottomLeft</option>
          <option value="bottomRight">bottomRight</option>
          <option value="left">left</option>
          <option value="leftTop">leftTop</option>
          <option value="leftBottom">leftBottom</option>
          <option value="right">right</option>
          <option value="rightTop">rightTop</option>
          <option value="rightBottom">rightBottom</option>
        </thy-select>
      </thy-form-group>
      <thy-form-group thyLabelText="Trigger">
        <thy-select name="size" [(ngModel)]="trigger" name="trigger">
          <option value="hover">hover</option>
          <option value="focus">focus</option>
          <option value="click">click</option>
        </thy-select>
      </thy-form-group>
    </form>
    <div class="btn-pair mt-2">
      <button thyButton="primary" [thyPopover]="">
        Open Component Popover
      </button>
      <button thyButton="primary" [thyPopover]="template" [thyTrigger]="trigger">
        Open Template Popover
      </button>
    </div>
    <!-- <pre class="mt-2"><code lang="typescript" [highlight]="connectionPosition | json"></code></pre> -->
  </div>
</section>
