<section>
    <div class="header">
        <h2>默认</h2>
    </div>
    <div class="body">
        <button [thyButton]="'primary'" [thyActionMenuToggle]="menu1">默认</button>
        <button [thyButton]="'primary'" [thyActionMenuToggle]="menu1" disabled="disabled">禁用</button>
        <button [thyButton]="'primary'" [thyActionMenuToggle]="menu1" [thyPlacement]="'bottom right'">弹出位置</button>
        <ng-template #menu1>
            <thy-action-menu>
                <a thyActionMenuItem href="javascript:;" (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                </a>
                <a thyActionMenuItem href="javascript:;" (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                    <span class="extend-icon">
                        <i class="wtf wtf-accepted"></i>
                    </span>
                </a>
                <thy-action-menu-divider></thy-action-menu-divider>
                <a thyActionMenuItem href="javascript:;" (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                    <span class="meta">(默认排序)</span>
                    <div class="info">默认排序下可拖拽移动任务；其他排序下只能显示，不可拖拽</div>
                </a>
                <a thyActionMenuItem href="javascript:;" (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                    <span class="extend-icon">
                        <i class="wtf wtf-angle-right"></i>
                    </span>
                    <div thyActionMenuSubItem>
                        <a thyActionMenuItem href="javascript:;" (click)="itemClick(1)">
                            <span class="icon">
                                <i class="wtf wtf-task-o"></i>
                            </span>
                            <span>有图标</span>
                        </a>
                        <a thyActionMenuItem href="javascript:;" (click)="itemClick(1)">
                            <span class="icon">
                                <i class="wtf wtf-task-o"></i>
                            </span>
                            <span>有图标</span>
                        </a>
                    </div>
                </a>
            </thy-action-menu>
        </ng-template>
    </div>
</section>

<section>
    <div class="header">
        <h2>带分组</h2>
    </div>
    <div class="body">
        <button [thyButton]="'primary'" [thyActionMenuToggle]="menu2">带分组</button>
        <ng-template #menu2>
            <thy-action-menu thyTheme="group">
                <thy-action-menu-divider thyTitle="分组"></thy-action-menu-divider>
                <a thyActionMenuItem href="javascript:;" (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                </a>
                <a thyActionMenuItem href="javascript:;" (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                </a>
                <thy-action-menu-divider thyTitle="分组"></thy-action-menu-divider>
                <a thyActionMenuItem href="javascript:;" (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                </a>
            </thy-action-menu>
        </ng-template>
    </div>
</section>
