<section>
    <div class="header">
        <h2>默认</h2>
    </div>
    <div class="body">
        <button [thyButton]="'primary'" [thyActionMenuToggle]="menu1">默认</button>
        <ng-template #menu1>
            <div thyActionMenu>
                <a thyActionMenuItem (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                </a>
                <a thyActionMenuItem (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                    <span class="extend-icon">
                        <i class="wtf wtf-accepted"></i>
                    </span>
                </a>
                <div thyActionMenuDivider></div>
                <a thyActionMenuItem (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                </a>
                <a thyActionMenuItem (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                    <span class="extend-icon">
                        <i class="wtf wtf-angle-right"></i>
                    </span>
                    <div thyActionMenuSubItem>
                        <a thyActionMenuItem (click)="itemClick(1)">
                            <span class="icon">
                                <i class="wtf wtf-task-o"></i>
                            </span>
                            <span>有图标</span>
                        </a>
                        <a thyActionMenuItem (click)="itemClick(1)">
                            <span class="icon">
                                <i class="wtf wtf-task-o"></i>
                            </span>
                            <span>有图标</span>
                        </a>
                    </div>
                </a>
            </div>
        </ng-template>
    </div>
</section>

<section>
    <div class="header">
        <h2>带分组</h2>
    </div>
    <div class="body">
        <button [thyButton]="'primary'" [thyActionMenuToggle]="menu2">带分组</button>
        <ng-template #menu2>
            <div thyActionMenu thyTheme="group">
                <div thyActionMenuDivider>
                    <div thyActionMenuDividerTitle>视图</div>
                </div>
                <a thyActionMenuItem (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                </a>
                <a thyActionMenuItem (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                </a>
                <div thyActionMenuDivider>
                    <div thyActionMenuDividerTitle>视图</div>
                </div>
                <a thyActionMenuItem (click)="itemClick(1)">
                    <span class="icon">
                        <i class="wtf wtf-task-o"></i>
                    </span>
                    <span>有图标</span>
                </a>
            </div>
        </ng-template>
    </div>
</section>
