@use 'variables.scss' as variables2;

.thy-layout .thy-layout-header {
    background: #7dbcea;
}
:host ::ng-deep .thy-layout-header .layout-header-title {
    color: variables2.$always-white;
}
.thy-layout-sidebar {
    background: #3ba0e9;
    color: variables2.$always-white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thy-layout-sidebar.thy-resizable-resizing {
    transition: none;
}

.thy-layout-content {
    display: flex;
    flex-direction: column;
    background: rgba(16, 142, 233, 1);
    height: 350px;
    color: variables2.$always-white;
}

.thy-layout-content > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.thy-layout-content .resizable-box {
    flex: none;
}

.thy-layout-content,
.thy-layout-header,
::ng-deep .thy-layout-header > .ant-layout-sidebar-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-resize-line {
    height: 100%;
    width: 5px;
    border-right: 1px solid #e8e8e8; // TODO
}

.content-resize-line {
    width: 100%;
    height: 5px;
    border-bottom: 1px solid #e8e8e8; // TODO
}

.thy-layout-content {
    padding: 0;
}
