<thy-layout>
  <thy-header thyTitle="Header" thyIcon="application" class="aa"></thy-header>
  <thy-layout>
    <thy-sidebar
      thyResizable
      [thyWidth]="sidebarWidth"
      [thyMinWidth]="sidebarMinWidth"
      [thyMaxWidth]="500"
      [thyCollapsible]="isCollapsible"
      [thyCollapsed]="isCollapsed"
      (thyResize)="onSideResize($event)"
      (thyResizeEnd)="resizeEnd($event)"
      (thyResizeStart)="resizeStart($event)"
      [thyCollapsedWidth]="collapsedWidth"
      (thyCollapsedChange)="collapsedChange($event)">
      <thy-resize-handle thyDirection="right">
        <div class="sidebar-resize-line"></div>
      </thy-resize-handle>
      Sidebar
    </thy-sidebar>
    <thy-content>
      <div
        thyResizable
        class="resizable-box"
        [style.height.px]="contentHeight"
        [thyMaxHeight]="300"
        [thyMinHeight]="50"
        (thyResize)="onContentResize($event)">
        <thy-resize-handle thyDirection="bottom">
          <div class="content-resize-line"></div>
        </thy-resize-handle>
        Content 1
      </div>
      <div>Content 2</div>
    </thy-content>
  </thy-layout>
</thy-layout>
