@use "../../styles/variables.scss";
@use "../../styles/mixins/shadow.scss";
@use "mixin";

.action-menu {
    padding: variables.$action-menu-padding-y 0;
    display: block;
    width: variables.$action-menu-width;
    background: variables.$action-menu-bg;
    border-radius: variables.$border-radius;

    .action-menu-group {
        &-title {
            margin: variables.$action-menu-group-name-padding-y variables.$action-menu-group-name-padding-x 0;
            color: variables.$action-menu-group-name-color;
        }
    }

    .action-menu-item {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: variables.$action-menu-item-padding-y variables.$action-menu-item-padding-x;
        position: relative;
        color: variables.$action-menu-item-color;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        transition: background 200ms;

        &:not(.action-menu-item--disabled).active {
            background-color: rgba(variables.$primary, 0.1);
            &:not(.action-menu-sub-item) {
                color: variables.$action-menu-item-hover-color;
            }
        }

        &:not(.action-menu-item--disabled):hover {
            background-color: variables.$action-menu-item-hover-bg;
            &:not(.info),
            &:not(.action-menu-sub-item) {
                color: variables.$action-menu-item-hover-color;
            }
        }

        .icon {
            display: flex;
            margin-right: 8px;
            color: variables.$action-menu-item-icon-color;
            transition: margin-left 200ms;
        }

        .name {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: margin-left 200ms;
        }

        .meta {
            padding-top: 2px;
            margin-left: 5px;
            font-size: 12px;
        }

        .info {
            margin-top: 5px;
            padding-right: 10px;
            width: 100%;
            line-height: 1.5;
            font-size: 12px;
            color: variables.$gray-500;
        }

        .extend-icon {
            display: flex;
            margin-left: auto;
            color: variables.$action-menu-item-extend-color;
        }

        .action-menu-sub-item {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 1;
            padding: 10px 0;
            width: 240px;
            background: variables.$action-menu-bg;
            border-radius: variables.$border-radius;
            @include shadow.section-box-shadow();
        }

        &.action-menu-item-right {
            .action-menu-sub-item {
                left: 100%;
            }
            @include mixin.action-menu-item-hover-sub-item-display();
        }

        &.action-menu-item-left {
            .action-menu-sub-item {
                right: 100%;
                left: auto;
            }
            @include mixin.action-menu-item-hover-sub-item-display();
        }

        &.action-menu-item-auto {
            @include mixin.action-menu-item-hover-sub-item-display(none);
        }

        &--disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }

        @include mixin.action-menu-item-hover-sub-item-display();

        &:not(.action-menu-item--disabled):hover {
            > .action-menu-sub-item {
                display: block;
            }
        }

        &--danger {
            @include mixin.action-menu-item-type-hover(variables.$danger);
        }

        &--success {
            @include mixin.action-menu-item-type-hover(variables.$success);
        }
    }

    &:not(&--group) {
        .action-menu-divider {
            &:first-child,
            &:last-child,
            + .action-menu-divider {
                display: none;
            }
        }
    }

    .action-menu-divider {
        margin: variables.$action-menu-divider-margin-y variables.$action-menu-divider-margin-x;
        display: block;
        border-top: solid 1px variables.$action-menu-divider-border-color;
        &-crossing {
            margin: 0;
        }
    }

    &--group {
        width: variables.$action-menu-group-width;
        .action-menu-item {
            padding: 12px 30px 12px 45px;
        }
        .action-menu-divider {
            margin: 10px 30px;
            transform: translateY(50%);
            .action-menu-divider-title {
                display: inline-block;
                margin-left: -15px;
                padding-right: 10px;
                color: variables.$action-menu-divider-title-color;
                background: #ffffff;
                transform: translateY(-50%);
            }
        }
    }
}

.action-menu-height-limit {
    max-height: variables.$action-menu-max-height;
    overflow-y: auto;
}
