.action-menu {
    padding: 5px 0;
    display: block;
    width: 240px;
    background: $action-menu-bg;
    .action-menu-item {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: $action-menu-item-padding-y $action-menu-item-padding-x;
        position: relative;
        line-height: 20px;
        color: $action-menu-item-color;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        transition: background 200ms;
        &:not(.action-menu-item--disabled).active,
        &:not(.action-menu-item--disabled):hover {
            background-color: $action-menu-item-hover-bg;
            &:not(.info),
            &:not(.action-menu-sub-item) {
                color: $action-menu-item-hover-color; // .icon {
                //     color: $action-menu-item-hover-color;
                // }
            }
        }
        span {
            // &:not(.icon):not(.info):not(.meta):not(.extend-icon) {
            //   flex: 1;
            //   overflow: hidden;
            //   text-overflow: ellipsis;
            //   white-space: nowrap;
            // }
        }
        .icon {
            margin-right: 5px;
            color: $action-menu-item-icon-color;
            transition: margin-left 200ms;
        }
        .name {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: margin-left 200ms;
        }
        .meta {
            padding-top: 2px;
            margin-left: 5px;
            font-size: 12px;
        }
        .info {
            margin-top: 5px;
            padding-right: 10px;
            width: 100%;
            line-height: 1.5;
            font-size: 12px;
            color: $info;
            transition: margin-left 200ms;
        }
        .extend-icon {
            margin-left: auto;
            color: $action-menu-item-extend-color
        }
        .action-menu-sub-item {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            z-index: 1;
            width: 240px;
            background: $action-menu-bg;
            box-shadow: $box-shadow;
        }
        &--disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }
        &:not(.action-menu-item--disabled):hover {
            &>span:nth-child(1),
            .info {
                margin-left: 10px;
            }
            .action-menu-sub-item {
                display: block;
            }
        }
    }
    .action-menu-divider {
        margin: 2px 20px;
        display: block;
        border-top: solid 1px $action-menu-divider-border-color;
    }
    &--group {
        padding: 10px 0;
        width: 280px;
        .action-menu-item {
            padding: 12px 30px 12px 45px;
        }
        .action-menu-divider {
            margin: 10px 30px 10px 30px;
            transform: translateY(50%);
            .action-menu-divider-title {
                display: inline-block;
                margin-left: -15px;
                padding-right: 10px;
                color: $action-menu-divider-title-color;
                background: #ffffff;
                transform: translateY(-50%);
            }
        }
    }
}

.action-menu-height-limit {
    max-height: 400px;
    overflow-y: auto;
}
