version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.3
jobs:
  build:
    working_directory: ~/ngx-tethys
    docker:
      - image: cimg/node:20.12.2-browsers
    environment:
      LANG: 'zh_CN.UTF-8'
      LC_ALL: 'zh_CN.UTF-8'
      TZ: 'Asia/Shanghai'
    steps:
      - checkout
      - run:
          name: Install Chinese language pack
          command: |
            sudo apt-get update
            sudo apt-get install -y language-pack-zh-hans
            sudo locale-gen zh_CN.UTF-8
    steps:
      - browser-tools/install-chrome
      - checkout
      - run: |
          node --version
          google-chrome --version
          which google-chrome
      - restore_cache:
          key: ngx-tethys-{{ .Branch }}-{{ checksum "package-lock.json" }}
      - run: npm ci
      - save_cache:
          key: ngx-tethys-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - 'node_modules'
      - run: npm run lint
      - run: npm run test-tethys -- --no-watch --no-progress --browsers=ChromeHeadlessCI --source-map=false
      - run: npm run test-cdk -- --no-watch --no-progress --browsers=ChromeHeadlessCI --source-map=false
      - run: npm run test-schematics
      - run: npm run report-coverage
