<thy-card>
  <thy-card-content>
    <thy-nav thyType="pulled">
      <a href="javascript:;" thyNavItem thyNavItemActive="true">Item 1</a>
      <a href="javascript:;" thyNavItem>Item 2</a>
      <a href="javascript:;" thyNavItem>Item 3</a>
      <a href="javascript:;" thyNavItem>选项 4</a>
    </thy-nav>

    <thy-nav thyType="tabs">
      <a href="javascript:;" thyNavItem thyNavItemActive="true">Item 1</a>
      <a href="javascript:;" thyNavItem>Item 2</a>
      <a href="javascript:;" thyNavItem>Item 3</a>
      <a href="javascript:;" thyNavItem>选项 4</a>
    </thy-nav>

    <thy-nav thyType="pills">
      <a href="javascript:;" thyNavItem thyNavItemActive="true">Item 1</a>
      <a href="javascript:;" thyNavItem>Item 2</a>
      <a href="javascript:;" thyNavItem>Item 3</a>
      <a href="javascript:;" thyNavItem>选项 4</a>
    </thy-nav>
  </thy-card-content>
</thy-card>

<thy-divider [thyTextDirection]="'center'" thyText="已经废弃的类型"></thy-divider>
<thy-nav thyType="primary">
  <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
  <a href="javascript:;" thyNavItem>导航二</a>
  <a href="javascript:;" thyNavItem>导航三</a>
</thy-nav>

<thy-nav thyType="secondary">
  <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
  <a href="javascript:;" thyNavItem>导航二</a>
  <a href="javascript:;" thyNavItem><thy-icon thyIconName="list"></thy-icon> 导航三</a>
</thy-nav>

<thy-nav thyType="secondary-divider">
  <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
  <a href="javascript:;" thyNavItem>导航二</a>
  <a href="javascript:;" thyNavItem>导航三</a>
</thy-nav>

<thy-nav thyType="thirdly">
  <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
  <a href="javascript:;" thyNavItem>导航二</a>
  <a href="javascript:;" thyNavItem class="icon-text icon-text-sm"><thy-icon thyIconName="list"></thy-icon> 导航三</a>
</thy-nav>
