<ng-container>
    <div
        class="thy-list-option thy-tree-node-wrapper"
        [class.active]="root.isSelected(node)"
        (click)="clickNode($event)"
    >
        <ng-container *ngIf="thyDraggable">
            <span class="thy-tree-node-draggable">
                <i class="wtf wtf wtf-move"></i>
            </span>
        </ng-container>
        <ng-container>
            <span class="thy-tree-expand" (click)="expandNode($event)">
                <ng-container *ngIf="isShowExpand(node)">
                    <i
                        class="wtf wtf-caret-down"
                        *ngIf="
                            (node.children && node.children.length > 0) ||
                            thyAsync ||
                            emptyChildrenTemplateRef
                        "
                        [class.rotate-caret]="!node.isExpanded"
                    ></i>
                </ng-container>
            </span>
        </ng-container>
        <span class="thy-tree-node-content">
            <ng-container *ngIf="!templateRef">
                <ng-container *ngIf="nodeIcon">
                    <span class="thy-tree-node-icon">
                        <i [ngClass]="nodeIcon" [ngStyle]="nodeIconStyle"></i
                    ></span>
                </ng-container>
                <span class="thy-tree-node-title">{{ node.title }}</span>
            </ng-container>
            <ng-container *ngIf="templateRef">
                <ng-template
                    [ngTemplateOutlet]="templateRef"
                    [ngTemplateOutletContext]="{ $implicit: node }"
                ></ng-template>
            </ng-container>
        </span>
    </div>
    <div
        class="thy-tree-node-children"
        *ngIf="isShowExpand(node) && node.isExpanded"
        [sortablejs]="node.children"
        [sortablejsOptions]="root.treeNodesSortableOptions"
        [attr.node-key]="node.key"
    >
        <ng-container *ngIf="thyAsync && node.children.length === 0">
            <thy-loading [thyDone]="!node.isLoading"></thy-loading>
        </ng-container>
        <ng-template
            *ngIf="node.children.length === 0 && !node.isLoading"
            [ngTemplateOutlet]="emptyChildrenTemplateRef"
        ></ng-template>
        <thy-tree-node
            *ngFor="
                let node of node.children;
                trackBy: root.trackByFn;
                let i = index
            "
            [node]="node"
            [templateRef]="templateRef"
            [emptyChildrenTemplateRef]="emptyChildrenTemplateRef"
            [thyAsync]="thyAsync"
            [thyShowExpand]="thyShowExpand"
            [thyMultiple]="thyMultiple"
            [thyDraggable]="thyDraggable"
            (thyOnClick)="thyOnClick.emit($event)"
            (thyOnExpandChange)="thyOnExpandChange.emit($event)"
        >
        </thy-tree-node>
    </div>
</ng-container>
