<ng-container *ngIf="!thyTreeService.isCustomTemplate; else customTemplate;">
    <span class="thy-tree-node-item" [class.active]="node.selected" (click)="clickNode()">
        <span class="node-expand" *ngIf="isShowExpand(node)" (click)="expandNode($event)">
            <i class="wtf fs-16" *ngIf="node.children && node.children.length > 0" [ngClass]="{'wtf-expand': !node.expanded,'wtf-collapse': node.expanded}"></i>
        </span>
        <span *ngIf="node.icon" class="node-icon">
            <i [ngClass]="node.icon"></i>
        </span>
        <span class="node-title" *ngIf="!node.edited">{{node.title}}</span>
        <span *ngIf="node.edited" class="node-edit">
            <input #title thyInput thySize="xs" thyAutofocus (thyEnter)="updateNode(title.value)">
        </span>
        <span class="node-actions" *ngIf="node.key">
            <a *ngIf="isEditable(node)" thyButtonIcon="wtf-edit-o" thySize="sm" href="javascript:;" (click)="editNode()"></a>
            <a *ngIf="isDeletable(node)" thyButtonIcon="wtf-trash-o" thySize="sm" href="javascript:;" (click)="deleteNode()"></a>
        </span>
    </span>
    <div class="thy-node-children" *ngIf="node.expanded || !isShowExpand(node)" [sortablejs]="node.children"
        [sortablejsOptions]="root.treeNodesSortableOptions" [attr.node-key]="node.key">
        <thy-tree-node *ngFor="let node of node.children;trackBy:root.trackByFn;let i=index;" 
            [node]="node"
            [templateRef]="templateRef"
            [flexibleTemplateRef]="flexibleTemplateRef"
            [thyChildrenPropName]="thyChildrenPropName"
            [thyLevel]="thyLevel"
            [thyEditable]="thyEditable"
            [thyDeletable]="thyDeletable"
            [thyShowExpand]="thyShowExpand"
            [thyMultiple]="thyMultiple"
            (thyOnClick)="thyOnClick.emit($event)"
            (thyOnEdit)="thyOnEdit.emit($event)"
            (thyOnDelete)="thyOnDelete.emit($event)">
        </thy-tree-node>
    </div>
</ng-container>

<ng-template #customTemplate>
    <ng-container *ngIf="templateRef">
        <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="createNodeContext(node)"></ng-template>
        <thy-tree *ngIf="node[thyChildrenPropName] && node[thyChildrenPropName].length > 0" [thyTemplate]="templateRef"
            [thyNodes]="node[thyChildrenPropName]" [thyLevel]="thyLevel + 1"></thy-tree>
    </ng-container>
    <ng-container *ngIf="flexibleTemplateRef">
        <ng-template [ngTemplateOutlet]="flexibleTemplateRef" [ngTemplateOutletContext]="createNodeContext(node)"></ng-template>
    </ng-container>
</ng-template>