<ng-container *ngIf="!thyTreeService.isCustomTemplate; else customTemplate;">
    <div class="thy-tree-node-wrapper" [class.active]="node.selected" (click)="clickNode($event)">
        <ng-container *ngIf="thyDraggable">
            <span class="thy-tree-node-draggable">
                <i class="wtf wtf wtf-move"></i>
            </span>
        </ng-container>
        <ng-container>
            <span class="thy-tree-expand" (click)="expandNode($event)">
                <ng-container  *ngIf="isShowExpand(node)">
                    <i class="wtf wtf-caret-down" *ngIf="(node.children && node.children.length > 0) || emptyChildrenTemplateRef"
                            [class.rotate-caret]="!node.expanded" ></i>
                </ng-container>
            </span>
        </ng-container>
        <ng-container *ngIf="!templateRef">
            <span class="thy-tree-node-content">
                <ng-container *ngIf="node.icon">
                    <span class="thy-tree-node-icon"> <i [ngClass]="node.icon" [ngStyle]="node.iconStyle"></i></span>
                </ng-container>
                <ng-container *ngIf="!node.edited">
                    <span class="thy-tree-node-title">{{node.title}}</span>
                    <span class="thy-tree-node-actions" *ngIf="node.key">
                        <a *ngIf="isEditable(node)" thyButtonIcon="wtf-edit-o" thySize="sm" href="javascript:;" (click)="editNode($event)"></a>
                        <a *ngIf="isDeletable(node)" thyButtonIcon="wtf-trash-o" thySize="sm" href="javascript:;"
                            (click)="deleteNode($event)"></a>
                    </span>
                </ng-container>
                <ng-container *ngIf="node.edited">
                    <span class="thy-tree-node-edit">
                        <input #title thyInput thySize="sm" (click)="clickEditInput($event)" thyAutofocus (thyEnter)="updateNode($event,title.value)" (blur)="updateNode($event,title.value)">
                    </span>
                </ng-container>
            </span>
        </ng-container>
        <ng-container *ngIf="templateRef">
            <ng-template [ngTemplateOutlet]="templateRef"  [ngTemplateOutletContext]="{ $implicit: node }"></ng-template>
        </ng-container>
    </div>
    <div class="thy-tree-node-children" *ngIf="isShowExpand(node) && node.expanded" [sortablejs]="node.children"
        [sortablejsOptions]="root.treeNodesSortableOptions" [attr.node-key]="node.key">
        <ng-template *ngIf="!node.children?.length" [ngTemplateOutlet]="emptyChildrenTemplateRef"></ng-template>
        <thy-tree-node *ngFor="let node of node.children; trackBy: root.trackByFn; let i=index;" 
                [node]="node"
                [templateRef]="templateRef"
                [flexibleTemplateRef]="flexibleTemplateRef"
                [emptyChildrenTemplateRef]="emptyChildrenTemplateRef"
                [thyChildrenPropName]="thyChildrenPropName"
                [thyLevel]="thyLevel"
                [thyDraggable]="thyDraggable"
                [thyEditable]="thyEditable"
                [thyDeletable]="thyDeletable"
                [thyShowExpand]="thyShowExpand"
                [thyMultiple]="thyMultiple"
                (thyOnClick)="thyOnClick.emit($event)"
                (thyOnEdit)="thyOnEdit.emit($event)"
                (thyOnDelete)="thyOnDelete.emit($event)">
        </thy-tree-node>
    </div>
</ng-container>

<ng-template #customTemplate>
    <ng-container *ngIf="templateRef">
        <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="createNodeContext(node)"></ng-template>
        <thy-tree *ngIf="node[thyChildrenPropName] && node[thyChildrenPropName].length > 0" [thyTemplate]="templateRef"
            [thyNodes]="node[thyChildrenPropName]" [thyLevel]="thyLevel + 1"></thy-tree>
    </ng-container>
    <ng-container *ngIf="flexibleTemplateRef">
        <ng-template [ngTemplateOutlet]="flexibleTemplateRef" [ngTemplateOutletContext]="createNodeContext(node)"></ng-template>
    </ng-container>
</ng-template>