<cdk-virtual-scroll-viewport #viewport *ngIf="thyVirtualScroll" [itemSize]="thyItemSize" [style.height]="'100%'">
  <div
    class="virtual-trees-container"
    [thyDropContainer]="flattenTreeNodes"
    [thyDropContainerDisabled]="!thyDraggable"
    [thyBeforeDragStart]="thyBeforeDragStart"
    [thyBeforeDragOver]="beforeDragOver"
    [thyBeforeDragDrop]="beforeDragDrop"
    (thyDragStarted)="onDragStart($event)"
    (thyDragDropped)="onDragDrop($event)"
  >
    <thy-tree-node
      *cdkVirtualFor="let node of flattenTreeNodes; trackBy: trackByFn; let i = index"
      [thyDrag]="node"
      [node]="node"
      [templateRef]="templateRef"
      [emptyChildrenTemplateRef]="emptyChildrenTemplate"
      [thyAsync]="thyAsync"
      [thyDraggable]="thyDraggable"
      [thyCheckable]="thyCheckable"
      [thyMultiple]="thyMultiple"
      [thyClickBehavior]="thyClickBehavior"
      [thyTitleTruncate]="thyTitleTruncate"
      [thyItemSize]="thyItemSize"
      [thyIndent]="thyIndent"
      (thyOnClick)="thyOnClick.emit($event)"
      (thyOnDbClick)="thyOnDbClick.emit($event)"
      (thyOnExpandChange)="eventTriggerChanged($event)"
      (thyOnCheckboxChange)="eventTriggerChanged($event)"
    >
    </thy-tree-node>
  </div>
</cdk-virtual-scroll-viewport>

<div
  *ngIf="!thyVirtualScroll"
  [thyDropContainer]="flattenTreeNodes"
  [thyDropContainerDisabled]="!thyDraggable"
  [thyBeforeDragStart]="thyBeforeDragStart"
  [thyBeforeDragOver]="beforeDragOver"
  [thyBeforeDragDrop]="beforeDragDrop"
  (thyDragStarted)="onDragStart($event)"
  (thyDragDropped)="onDragDrop($event)"
>
  <thy-tree-node
    *ngFor="let node of flattenTreeNodes; trackBy: trackByFn; let i = index"
    [thyDrag]="node"
    [node]="node"
    [templateRef]="templateRef"
    [emptyChildrenTemplateRef]="emptyChildrenTemplate"
    [thyAsync]="thyAsync"
    [thyDraggable]="thyDraggable"
    [thyCheckable]="thyCheckable"
    [thyMultiple]="thyMultiple"
    [thyTitleTruncate]="thyTitleTruncate"
    [thyItemSize]="thyItemSize"
    [thyClickBehavior]="thyClickBehavior"
    [thyIndent]="thyIndent"
    (thyOnClick)="thyOnClick.emit($event)"
    (thyOnDbClick)="thyOnDbClick.emit($event)"
    (thyOnExpandChange)="eventTriggerChanged($event)"
    (thyOnCheckboxChange)="thyOnCheckboxChange.emit($event)"
  >
  </thy-tree-node>
</div>
