<div class="thy-comment-inner">
  <ng-container *ngIf="isTemplateRef(this.thyAvatar); else defaultAvatar">
    <ng-template [ngTemplateOutlet]="thyAvatar"></ng-template>
  </ng-container>

  <div class="thy-comment-body">
    <div class="thy-comment-body-author">
      <ng-container *ngIf="isTemplateRef(this.thyAvatar); else defaultAuthor">
        <ng-template [ngTemplateOutlet]="thyAuthor"></ng-template>
      </ng-container>

      <ng-container *ngIf="isTemplateRef(this.thyDatetime); else defaultDatetime">
        <ng-template [ngTemplateOutlet]="thyDatetime"></ng-template>
      </ng-container>
    </div>
    <ng-content select="[thyCommentContent]"></ng-content>
  </div>
  <ng-content select="[thyCommentActions]"></ng-content>
</div>
<div class="thy-comment-nested">
  <ng-content></ng-content>
</div>

<ng-template #defaultAvatar>
  <div class="thy-comment-avatar">
    <thy-avatar [thyName]="thyAuthor" thySize="28" [thySrc]="thyAvatar || ''"></thy-avatar>
  </div>
</ng-template>

<ng-template #defaultAuthor>
  <span *ngIf="thyAuthor" class="thy-comment-body-author-name">
    <ng-container>{{ thyAuthor }}</ng-container>
  </span>
</ng-template>

<ng-template #defaultDatetime>
  <span *ngIf="thyDatetime" class="thy-comment-body-author-time">
    <ng-container>{{ thyDatetime }}</ng-container>
  </span>
</ng-template>
