<div class="body">
  <label
    thyCheckbox
    [thyIndeterminate]="model.indeterminate"
    [(ngModel)]="model.checkedAll"
    (ngModelChange)="selectAll()"
    thyLabelText="全选"
  ></label>
  <label thyCheckbox [(ngModel)]="model.checked1" (ngModelChange)="select()" thyLabelText="选项1"></label>
  <label thyCheckbox [(ngModel)]="model.checked2" (ngModelChange)="select()" thyLabelText="选项2"></label>
  <label thyCheckbox [(ngModel)]="model.checked3" (ngModelChange)="select()" thyLabelText="选项3"></label>

  <div>
    Model :
    <pre><code>{{model | json}}</code></pre>
  </div>
</div>
