<thy-breadcrumb thyIcon="folder-fill" thySeparator="slash">
  <thy-breadcrumb-item><span>Home</span></thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;">Applications</a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;">Application 1</a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;"><span>Module 1</span><thy-icon thyIconName="angle-down"></thy-icon></a>
  </thy-breadcrumb-item>
</thy-breadcrumb>

<thy-breadcrumb thyIcon="folder-fill" thySeparator="backslash">
  <thy-breadcrumb-item><span>Home</span></thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;">Applications</a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;">Application 1</a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;"><span>Module 1</span><thy-icon thyIconName="angle-down"></thy-icon></a>
  </thy-breadcrumb-item>
</thy-breadcrumb>

<thy-breadcrumb thyIcon="folder-fill" thySeparator="vertical-line">
  <thy-breadcrumb-item><span>Home</span></thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;">Applications</a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;">Application 1</a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;"><span>Module 1</span><thy-icon thyIconName="angle-down"></thy-icon></a>
  </thy-breadcrumb-item>
</thy-breadcrumb>
