<thy-calendar>
  <ul *thyDateCell="let date">
    <ng-container [ngSwitch]="date.getDate()">
      <ng-container *ngSwitchCase="8">
        <li *ngFor="let item of listDataMap.eight">
          {{ item.content }}
        </li>
      </ng-container>
      <ng-container *ngSwitchCase="10">
        <li *ngFor="let item of listDataMap.ten">
          {{ item.content }}
        </li>
      </ng-container>
      <ng-container *ngSwitchCase="11">
        <li *ngFor="let item of listDataMap.eleven">
          {{ item.content }}
        </li>
      </ng-container>
    </ng-container>
  </ul>
  <div *thyCalendarHeaderOperation>
    <span class="app-sign"><span class="app-color-agile mr-2"></span>Agile</span>
    <span class="app-sign"><span class="app-color-plan mr-2"></span>Plan</span>
    <span class="app-sign"><span class="app-color-prod mr-2"></span>Prod</span>
  </div>
</thy-calendar>
