<thy-radio-group [(ngModel)]="theme">
  <label thyRadio thyLabelText="compact" [thyValue]="'compact'" [thyInline]="true"></label>
  <label thyRadio thyLabelText="loose" [thyValue]="'loose'" [thyInline]="true"></label>
  <label thyRadio thyLabelText="dark" [thyValue]="'dark'" [thyInline]="true"></label>
</thy-radio-group>
<div class="demo-menu-theme-body">
  <div class="demo-menu-container">
    <thy-menu [thyTheme]="theme">
      <a thyMenuItem href="javascript:;" class="active">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="view-tile"></thy-icon>
        </span>
        <span thyMenuItemName> 我的工作 </span>
      </a>
      <a thyMenuItem href="javascript:;">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="view-tile"></thy-icon>
        </span>
        <span thyMenuItemName class="d-flex">
          <span class="text-truncate">是我的工作呀呀呀呀呀呀呀呀呀呀呀呀</span>
          <span>
            <span class="mx-1">·</span>
            6
          </span>
        </span>
        <span thyMenuItemAction (click)="openActionMenu($event, menuTpl)">
          <a thyAction thyActionIcon="more-vertical" thyTooltip="更多" thyStopPropagation href="javascript:;"></a>
        </span>
      </a>
      <thy-divider></thy-divider>
      <thy-menu-group thyTitle="工作" [thyCollapsible]="true" [thyCollapsed]="true">
        <a thyMenuItem href="javascript:;">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> 我的工作 </span>
          <span thyMenuItemAction>
            <a thyAction thyActionIcon="more-vertical" thyTooltip="更多" thyStopPropagation href="javascript:;"></a>
          </span>
        </a>
        <a thyMenuItem href="javascript:;">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> 我的工作 </span>
          <span thyMenuItemAction>
            <a thyAction thyActionIcon="more-vertical" thyTooltip="更多" thyStopPropagation href="javascript:;"></a>
          </span>
        </a>
      </thy-menu-group>
      <thy-divider></thy-divider>
    </thy-menu>
  </div>
  <div class="demo-menu-container">
    <thy-menu [thyTheme]="theme">
      <thy-menu-group thyTitle="计划" [thyCollapsible]="false">
        <a thyMenuItem href="javascript:;">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> 我负责的 </span>
          <span thyMenuItemAction>
            <a thyAction thyActionIcon="more-vertical" thyTooltip="更多" thyStopPropagation href="javascript:;"></a>
          </span>
        </a>
        <a thyMenuItem href="javascript:;">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> 我参与的 </span>
          <span thyMenuItemAction>
            <a thyAction thyActionIcon="more-vertical" thyTooltip="更多" thyStopPropagation href="javascript:;"></a>
          </span>
        </a>
      </thy-menu-group>
      <thy-divider></thy-divider>
      <thy-menu-group>
        <a thyMenuItem href="javascript:;">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> wt-Testhub </span>
        </a>
        <ng-template #headerContent>
          <span class="title">星表</span>
          <thy-icon thyIconName="star-fill"></thy-icon>
        </ng-template>
      </thy-menu-group>
    </thy-menu>
  </div>
  <div class="demo-menu-container">
    <thy-menu [thyTheme]="theme">
      <thy-menu-group>
        <ng-template #headerContent>
          <div class="content-title">
            <thy-icon thyIconName="app-testhub-fill"></thy-icon> <span class="title testhub ml-2">Testhub</span>
          </div>
          <thy-icon thyIconName="repository" class="mr-2 thy-menu-group-operation"></thy-icon>
        </ng-template>
        <a thyMenuItem href="javascript:;" class="active">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> 测试用例管理 </span>
        </a>
      </thy-menu-group>
    </thy-menu>
  </div>
</div>

<ng-template #menuTpl let-initialState>
  <thy-dropdown-menu thyImmediateRender>
    <a thyDropdownMenuItem href="javascript:;">
      <span thyDropdownMenuItemIcon> <thy-icon thyIconName="edit"></thy-icon> </span>
      <span thyDropdownMenuItemName>编辑</span>
    </a>
    <a thyDropdownMenuItem thyType="danger" href="javascript:;">
      <span thyDropdownMenuItemIcon> <thy-icon thyIconName="trash"></thy-icon> </span>
      <span thyDropdownMenuItemName>删除</span>
    </a>
  </thy-dropdown-menu>
</ng-template>
