<div class="demo-menu-container">
  <thy-menu thyTheme="loose">
    <a thyMenuItem href="javascript:;" class="active">
      <span thyMenuItemIcon>
        <thy-icon thyIconName="view-tile"></thy-icon>
      </span>
      <span thyMenuItemName> 我的工作 </span>
    </a>
    <a thyMenuItem href="javascript:;">
      <span thyMenuItemIcon>
        <thy-icon thyIconName="view-tile"></thy-icon>
      </span>
      <span thyMenuItemName> 我的工作 </span>
      <span thyMenuItemAction>
        <thy-icon thyIconName="more"></thy-icon>
      </span>
    </a>
    <thy-menu-divider></thy-menu-divider>
    <thy-menu-group thyTitle="工作" [thyCollapsible]="true">
      <a thyMenuItem href="javascript:;" class="active">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="view-tile"></thy-icon>
        </span>
        <span thyMenuItemName> 我的工作 </span>
        <span thyMenuItemAction>
          <thy-icon thyIconName="more"></thy-icon>
        </span>
      </a>
      <a thyMenuItem href="javascript:;">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="view-tile"></thy-icon>
        </span>
        <span thyMenuItemName> 我的工作 </span>
        <span thyMenuItemAction>
          <thy-icon thyIconName="more"></thy-icon>
        </span>
      </a>
    </thy-menu-group>
    <thy-menu-divider></thy-menu-divider>
  </thy-menu>
</div>

<div class="demo-menu-container">
  <thy-menu thyTheme="loose">
    <thy-menu-group thyTitle="计划" [thyCollapsible]="false">
      <a thyMenuItem href="javascript:;">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="view-tile"></thy-icon>
        </span>
        <span thyMenuItemName> 我负责的 </span>
        <span thyMenuItemAction>
          <thy-icon thyIconName="more"></thy-icon>
        </span>
      </a>
      <a thyMenuItem href="javascript:;">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="view-tile"></thy-icon>
        </span>
        <span thyMenuItemName> 我参与的 </span>
        <span thyMenuItemAction>
          <thy-icon thyIconName="more"></thy-icon>
        </span>
      </a>
    </thy-menu-group>
    <thy-menu-divider></thy-menu-divider>
    <thy-menu-group [thyHeaderContent]="headerContent">
      <a thyMenuItem href="javascript:;">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="view-tile"></thy-icon>
        </span>
        <span thyMenuItemName> wt-Testhub </span>
      </a>
      <ng-template #headerContent>
        <span class="title">星表</span>
        <thy-icon thyIconName="star-fill"></thy-icon>
      </ng-template>
    </thy-menu-group>
  </thy-menu>
</div>

<div class="demo-menu-container">
  <thy-menu thyTheme="loose">
    <thy-menu-group>
      <ng-template #headerContent>
        <div class="content-title"><thy-icon thyIconName="app-testhub-fill"></thy-icon> <span class="title testhub">Testhub</span></div>
        <thy-icon thyIconName="repository" class="mr-2 thy-menu-group-operaton"></thy-icon>
      </ng-template>

      <a thyMenuItem href="javascript:;" class="active">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="view-tile"></thy-icon>
        </span>
        <span thyMenuItemName> 测试用例管理 </span>
      </a>
    </thy-menu-group>
  </thy-menu>
</div>
