<thy-radio-group [(ngModel)]="theme">
  <label thyRadio thyLabelText="compact" [thyValue]="'compact'" [thyInline]="true"></label>
  <label thyRadio thyLabelText="loose" [thyValue]="'loose'" [thyInline]="true"></label>
  <label thyRadio thyLabelText="dark" [thyValue]="'dark'" [thyInline]="true"></label>
</thy-radio-group>

<div class="demo-menu-theme-body">
  <div class="demo-menu-container">
    <thy-menu [thyTheme]="theme">
      <ng-container *ngFor="let item of menuNodes">
        <div thyMenuItem>
          <ng-template
            [ngTemplateOutlet]="menuItemTpl"
            [ngTemplateOutletContext]="{
              $implicit: item
            }"
          ></ng-template>
        </div>
      </ng-container>

      <thy-divider></thy-divider>
      <ng-container *ngFor="let group of groupNodes">
        <thy-menu-group
          [thyTitle]="group.name"
          [thyCollapsible]="true"
          [thyCollapsed]="true"
          [thyShowAction]="true"
          [thyActionMenu]="menuTpl"
          [thyMenuItemValue]="group"
        >
          <ng-container *ngFor="let item of group.children">
            <div thyMenuItem>
              <ng-template
                [ngTemplateOutlet]="menuItemTpl"
                [ngTemplateOutletContext]="{
                  $implicit: item
                }"
              ></ng-template>
            </div>
          </ng-container>
        </thy-menu-group>
      </ng-container>

      <thy-divider></thy-divider>
    </thy-menu>
  </div>

  <div class="demo-menu-container">
    <thy-menu [thyTheme]="theme">
      <thy-menu-group thyTitle="计划" [thyCollapsible]="false">
        <a thyMenuItem href="javascript:;">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> 我负责的 </span>
          <span thyMenuItemAction>
            <a thyAction thyActionIcon="more-vertical" thyTooltip="更多" thyStopPropagation href="javascript:;"></a>
          </span>
        </a>
        <a thyMenuItem href="javascript:;">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> 我参与的 </span>
          <span thyMenuItemAction>
            <a thyAction thyActionIcon="more-vertical" thyTooltip="更多" thyStopPropagation href="javascript:;"></a>
          </span>
        </a>
      </thy-menu-group>
      <thy-divider></thy-divider>
      <thy-menu-group>
        <a thyMenuItem href="javascript:;">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> wt-Testhub </span>
        </a>
        <ng-template #headerContent>
          <span class="title">星表</span>
          <thy-icon thyIconName="star-fill"></thy-icon>
        </ng-template>
      </thy-menu-group>
    </thy-menu>
  </div>

  <div class="demo-menu-container">
    <thy-menu [thyTheme]="theme">
      <thy-menu-group>
        <ng-template #headerContent>
          <div class="content-title">
            <thy-icon thyIconName="app-testhub-fill"></thy-icon> <span class="title testhub ml-2">Testhub</span>
          </div>
          <thy-icon thyIconName="repository" class="mr-2 thy-menu-group-operation"></thy-icon>
        </ng-template>
        <a thyMenuItem href="javascript:;" class="active">
          <span thyMenuItemIcon>
            <thy-icon thyIconName="view-tile"></thy-icon>
          </span>
          <span thyMenuItemName> 测试用例管理 </span>
          <span thyMenuItemAction [thyActionMenu]="menuTpl">
            <a thyAction thyActionIcon="more-vertical" thyTooltip="更多" href="javascript:;"></a>
          </span>
        </a>
      </thy-menu-group>
    </thy-menu>
  </div>
</div>

<ng-template #menuItemTpl let-item>
  <span thyMenuItemIcon>
    <thy-icon thyIconName="view-tile"></thy-icon>
  </span>
  <span thyMenuItemName> {{ item?.name }} </span>
  <span thyMenuItemAction [thyActionMenu]="menuTpl" [thyMenuItemValue]="item">
    <a thyAction thyActionIcon="more-vertical" thyTooltip="更多" href="javascript:;"></a>
  </span>
</ng-template>

<ng-template #menuTpl let-initialState>
  <thy-action-menu>
    <a thyActionMenuItem href="javascript:;" (click)="edit(initialState.itemValue)">
      <span thyActionMenuItemIcon><thy-icon thyIconName="edit"></thy-icon> </span>
      <span thyActionMenuItemName>编辑</span>
    </a>
    <a thyActionMenuItem thyType="danger" href="javascript:;" (click)="delete(initialState.itemValue)">
      <span thyActionMenuItemIcon> <thy-icon thyIconName="trash"></thy-icon> </span>
      <span thyActionMenuItemName>删除</span>
    </a>
  </thy-action-menu>
</ng-template>
