<p>一个复杂的应用示例，类似树结构，可拖动改变层级结构</p>
<ul
  [thyDropContainer]="nodes"
  [thyBeforeDragStart]="beforeDragStart"
  [thyBeforeDragOver]="beforeDragOver"
  [thyBeforeDragDrop]="beforeDragDrop"
  (thyDragStarted)="onDragStart($event)"
  (thyDragDropped)="onDragDrop($event)">
  @for (item of nodes; track item.key) {
    <li [thyDrag]="item">
      <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ item: item, level: 0 }"></ng-template>
    </li>
  }
</ul>

<ng-template #itemTemplate let-item="item" let-level="level">
  <div>{{ item.title }} = {{ item.draggable }}</div>
  @if (item.children) {
    <ul
      [thyDropContainer]="item.children"
      [thyBeforeDragStart]="beforeDragStart"
      [thyBeforeDragOver]="beforeDragOver"
      [thyBeforeDragDrop]="beforeDragDrop"
      (thyDragStarted)="onDragStart($event)"
      (thyDragDropped)="onDragDrop($event)">
      @for (subItem of item.children; track subItem.key) {
        <li [style.paddingLeft.px]="level * 10" [thyDrag]="subItem">
          <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ item: subItem, level: level + 1 }"></ng-template>
        </li>
      }
    </ul>
  }
</ng-template>
