<thy-button-group class="mb-3" thySize="md" thyAppearance="outline">
  @for (item of appearances; track $index) {
    <button thyButton (click)="appearance = item" [ngClass]="{ active: item === appearance }">
      {{ item }}
    </button>
  }
</thy-button-group>
<input
  thyInput
  [(ngModel)]="value"
  [thyAppearance]="appearance"
  [placeholder]="appearance"
  [thyAutocomplete]="auto"
  (ngModelChange)="valueChange($event)" />
<thy-autocomplete #auto>
  @for (item of filteredOptions; track $index) {
    <thy-option [thyLabelText]="item.label" [thyValue]="item.value"></thy-option>
  }
</thy-autocomplete>
