<section>
    <div class="header">
        <h2>Layout</h2>
    </div>
    <div class="body">
        <div class="demo-layout">
            <thy-layout>
                <thy-header thyTitle="我是头部">
                </thy-header>
                <thy-content>
                    恩，我是 content
                </thy-content>
            </thy-layout>
        </div>
    </div>
</section>

<section>
    <div class="header">
        <h2>Layout</h2>
    </div>
    <div class="body">
        <div class="demo-layout">
            <thy-layout>
                <thy-layout>
                    <thy-sidebar>
                        <div class="sidebar-header">
                            侧边栏
                        </div>
                        <div class="sidebar-content">

                        </div>
                    </thy-sidebar>
                    <thy-layout>
                        <thy-header thyHasBorder="true">
                            <ng-template #headerTitle>
                                <i class="wtf wtf-setting-o prefix-icon"></i><a href="javascript:;">{{title}}</a>
                            </ng-template>
                            <ng-template #headerContent>
                                <thy-nav thyType="primary" class="justify-content-center">
                                    <a href="javascript:;" class="nav-link active">看板</a>
                                    <a href="javascript:;" class="nav-link">报表</a>
                                </thy-nav>
                            </ng-template>
                            <ng-template #headerOperation>
                                操作区域
                            </ng-template>
                        </thy-header>
                        <thy-layout>
                            <thy-header thySize="sm" thyTitle="恩，我是头部" thyIcon="wtf-setting-o">
                                <ng-template #headerOperation>
                                    <a href="javascript:;" class="">操作</a>
                                </ng-template>
                            </thy-header>
                            <thy-content>
                                恩，我是 content
                            </thy-content>
                        </thy-layout>

                    </thy-layout>

                </thy-layout>
            </thy-layout>
        </div>
    </div>
</section>
<br>
<br>