<section>
    <div class="header">
        <h2>Layout</h2>
    </div>
    <div class="body">
        <div class="demo-layout">
            <thy-layout>
                <thy-header thyTitle="我是头部">
                </thy-header>
                <thy-content>
                    恩，我是 content
                </thy-content>
            </thy-layout>
        </div>
    </div>
</section>

<section>
    <div class="header">
        <h2>Layout</h2>
    </div>
    <div class="body">
        <div class="demo-layout">
            <thy-layout>
                <thy-layout>
                    <thy-sidebar thyWidth="400">
                        <div class="sidebar-header">
                            侧边栏
                        </div>
                        <div class="sidebar-content">

                        </div>
                    </thy-sidebar>
                    <thy-layout>
                        <thy-header thyHasBorder="true">
                            <ng-template #headerTitle>
                                <i class="wtf wtf-setting-o prefix-icon"></i>
                                <a href="javascript:;">{{title}}</a>
                            </ng-template>
                            <ng-template #headerContent>
                                <thy-nav thyType="primary" thyHorizontal="center">
                                    <a href="javascript:;" thyNavLink [thyNavLinkActive]="activeMenu === 'kanban'" (click)="setActiveMenu('kanban');">导航一</a>
                                    <a href="javascript:;" thyNavLink [thyNavLinkActive]="activeMenu === 'insight'" (click)="setActiveMenu('insight')">导航二</a>
                                </thy-nav>
                            </ng-template>
                            <ng-template #headerOperation>
                                操作区域
                            </ng-template>
                        </thy-header>
                        <thy-layout>
                            <thy-header *ngIf="activeMenu === 'kanban'" thySize="sm">
                                <ng-template #headerContent>
                                    <thy-nav thyType="thirdly" thyHorizontal="left">
                                        <a href="javascript:;" thyNavLink thyNavLinkActive="true">导航一</a>
                                        <a href="javascript:;" thyNavLink>导航二</a>
                                        <a href="javascript:;" thyNavLink>导航三</a>
                                    </thy-nav>
                                </ng-template>
                            </thy-header>
                            <thy-header *ngIf="activeMenu === 'insight'" thySize="sm" thyTitle="恩，我是头部标题" thyIcon="wtf-setting-o">
                                <ng-template #headerOperation>
                                    <a href="javascript:;" class="">操作</a>
                                </ng-template>
                            </thy-header>
                            <thy-content>
                                <thy-content-section>
                                    返回 > 标题
                                </thy-content-section>
                                <thy-content-main>
                                    <thy-nav thyType="secondary" thyHorizontal="left">
                                        <a href="javascript:;" thyNavLink thyNavLinkActive="true">导航一</a>
                                        <a href="javascript:;" thyNavLink>导航二</a>
                                        <a href="javascript:;" thyNavLink>导航三</a>
                                    </thy-nav>
                                    <div>
                                        恩，我是 content
                                    </div>
                                </thy-content-main>
                            </thy-content>

                        </thy-layout>

                    </thy-layout>

                </thy-layout>
            </thy-layout>
        </div>
    </div>
</section>
<br>
<br>