@use '../../../styles/variables';

.thy-select-custom {
    display: block;
    width: 100%;
    position: relative;
    outline: none;
    & .form-control-custom {
        cursor: pointer;
    }
    & .form-control-custom.disabled {
        cursor: default;
    }

    // .select-control.panel-is-opened{border-color:#6698ff;} 就会让选择框的边框变蓝。#INFR-5805这个任务中为什么要加下面这段样式？
    // 下面这段样式会导致 tree-select 和 custom-select 的样式问题： 1. 会导致在二次点击选择框时，菜单已经关闭了，但是选择框没有由蓝边框变为灰色边框；2.会导致点击清除按钮或点击选中项的移除按钮时，移开鼠标后选择框没有由蓝边框变为灰色边框
    // &:focus {
    //     .form-control-custom:not(.disabled) {
    //         border: 1px solid variables.$primary;
    //     }
    // }
}

.thy-select-custom--multiple {
    $has-value-margin-base: -0.03175rem;
    $has-value-margin-md: -0.2815rem;
    $thy-label-spacing: 0.3125rem;
    .multiple-value-wrapper {
        margin: {
            top: $has-value-margin-base;
            bottom: $has-value-margin-base - $thy-label-spacing;
            right: 15px;
        }
        .thy-label {
            margin-bottom: $thy-label-spacing;
        }
    }
}

.thy-select-empty-margin {
    // @deprecated please use the new class name 'thy-select-empty-content'
    margin: 40px auto;
}

.thy-select-empty-content {
    margin: 40px auto;
}
