@use '../../../styles/mixins/utilities';
@use '../../../styles/variables';

@mixin select-arrow-icon-font-variant() {
    content: '\e6b8'; //"\f078";
    font: normal normal normal 14px/1 wtf;
    right: 12px;
    font-size: variables.$font-size-md;
    pointer-events: none;
    color: variables.$gray-500;
    z-index: 10;
    @include utilities.absolute-vertical-align-middle(false);
}

@mixin select-arrow-variant() {
    right: 12px;
    font-size: variables.$font-size-md;
    pointer-events: none;
    color: variables.$gray-400;
    z-index: 10;
    @include utilities.absolute-vertical-align-middle(false);
}

@mixin select-custom-variant($padding-x, $padding-y, $height, $font-size) {
    padding: $padding-y $padding-x;
    height: $height;
    border: 1px solid variables.$input-border-color;
    border-radius: variables.$input-border-radius-md;
    font-size: $font-size;
    cursor: variables.$hand-cursor;

    &:hover {
        border-color: variables.$input-hover-border-color;
    }
}
