<thy-picker
  [isRange]="isRange"
  [value]="thyValue"
  (valueChange)="onValueChange($event)"
  [open]="thyOpen"
  [disabled]="thyDisabled"
  [format]="thyFormat"
  [allowClear]="thyAllowClear"
  [className]="thyOriginClassName"
  [autoFocus]="thyAutoFocus"
  [placeholder]="thyPlaceHolder"
  [readonly]="thyReadonly"
  [size]="thySize"
  [suffixIcon]="thySuffixIcon"
  (openChange)="onOpenChange($event)"
>
  <date-popup
    *ngIf="realOpenState"
    [isRange]="isRange"
    [showWeek]="showWeek"
    [panelMode]="thyMode"
    [defaultPickerValue]="thyDefaultPickerValue"
    (panelModeChange)="thyOnPanelChange.emit($event)"
    (showTimePickerChange)="onShowTimePickerChange($event)"
    [value]="thyValue"
    (valueChange)="onValueChange($event)"
    (calendarChange)="onCalendarChange($event)"
    [showTime]="thyShowTime"
    [mustShowTime]="withTime"
    [format]="thyFormat"
    [dateRender]="thyDateRender"
    [disabledDate]="thyDisabledDate"
    [minDate]="thyMinDate"
    [maxDate]="thyMaxDate"
    [className]="thyPanelClassName"
    (resultOk)="onResultOk()"
  ></date-popup>
</thy-picker>
