<thy-picker
  #thyPicker
  [isRange]="isRange"
  [value]="thyValue"
  [flexible]="flexible"
  [flexibleDateGranularity]="flexibleDateGranularity"
  (valueChange)="onInputValueChange($event)"
  [open]="thyOpen"
  [disabled]="thyDisabled"
  [format]="thyFormat"
  [mode]="thyMode"
  [allowClear]="thyAllowClear"
  [className]="thyOriginClassName"
  [autoFocus]="thyAutoFocus"
  [placeholder]="thyPlaceHolder"
  [readonly]="thyReadonly"
  [size]="thySize"
  [suffixIcon]="thySuffixIcon"
  [placement]="thyPlacement"
  (openChange)="onOpenChange($event)"
  (blur)="onBlur($event)"
  (inputChange)="onInputDate($event)">
  <date-popup
    [attr.tabindex]="-1"
    *ngIf="isShowDatePopup"
    [isRange]="isRange"
    [showWeek]="showWeek"
    [panelMode]="panelMode"
    [flexible]="flexible"
    [flexibleDateGranularity]="flexibleDateGranularity"
    [defaultPickerValue]="thyDefaultPickerValue"
    (panelModeChange)="thyOnPanelChange.emit($event)"
    (showTimePickerChange)="onShowTimePickerChange($event)"
    [value]="thyValue"
    (valueChange)="onValueChange($event)"
    (calendarChange)="onCalendarChange($event)"
    [showTime]="thyShowTime"
    [mustShowTime]="withTime"
    [format]="thyFormat"
    [dateRender]="thyDateRender"
    [disabledDate]="thyDisabledDate"
    [minDate]="thyMinDate"
    [maxDate]="thyMaxDate"
    [showShortcut]="thyShowShortcut"
    [shortcutPresets]="shortcutPresets"
    [shortcutPosition]="shortcutPosition"
    (shortcutValueChange)="onShortcutValueChange($event)"
    (dateValueChange)="onDateValueChange($event)"
    [className]="thyPanelClassName"
    (resultOk)="onResultOk()"></date-popup>
</thy-picker>
