<span
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin"
  class="{{ prefixCls }}-picker {{ size ? prefixCls + '-picker-' + size : '' }} {{ className }}"
  (click)="onClickInputBox()">
  <ng-container>
    <input
      #pickerInput
      thyInput
      class="form-control-{{ size }} form-control {{ prefixCls }}-picker-input"
      [thySize]="size"
      [tabindex]="-1"
      [class.thy-input-disabled]="disabled"
      [class.thy-input-readonly]="readonly"
      [disabled]="disabled"
      [readonly]="readonlyState"
      (blur)="onBlur($event)"
      (input)="onInput($event)"
      placeholder="{{ getPlaceholder() }}"
      thyEnter
      (thyEnter)="onEnter()" />
    <ng-container *ngTemplateOutlet="tplRightRest"></ng-container>
  </ng-container>
</span>

<!-- Right operator icons -->
<ng-template #tplRightRest>
  <span class="{{ prefixCls }}-picker-clear">
    <thy-icon
      thyIconName="close-circle-bold-fill"
      *ngIf="!disabled && !isEmptyValue(value) && allowClear && !readonly"
      (click)="onClickClear($event)"
      ngClass="remove-link remove-link-{{ size }}"></thy-icon>
  </span>
  <span class="{{ prefixCls }}-picker-icon">
    <thy-icon [thyIconName]="suffixIcon" ngClass="remove-link-{{ size ? size : 'default' }}"></thy-icon>
  </span>
</ng-template>

<!-- Overlay -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="realOpenState"
  [cdkConnectedOverlayHasBackdrop]="!isOpenHandledByUser()"
  [cdkConnectedOverlayPositions]="overlayPositions"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  cdkConnectedOverlayTransformOriginOn=".thy-picker-container"
  (positionChange)="onPositionChange($event)"
  (backdropClick)="onClickBackdrop()"
  (detach)="onOverlayDetach()">
  <div
    style="position: relative"
    class="thy-picker-container"
    [@scaleXMotion]="placement === 'left' || placement === 'right' ? 'enter' : 'void'"
    [@scaleYMotion]="placement === 'top' || placement === 'bottom' ? 'enter' : 'void'"
    [@scaleMotion]="placement !== 'left' && placement !== 'right' && placement !== 'top' && placement !== 'bottom' ? 'enter' : 'void'">
    <!-- Compatible for overlay that not support offset dynamically and immediately -->
    <ng-content></ng-content>
  </div>
</ng-template>
