<div>
  <thy-tag><thy-icon class="text-primary" thyIconName="smile"></thy-icon>Tag 1</thy-tag>
  <thy-tag thyColor="primary"><thy-icon thyIconName="check-circle"></thy-icon> Tag 2</thy-tag>
  <thy-tag thyTheme="outline" thyColor="default"><thy-icon class="text-primary" thyIconName="smile"></thy-icon>Tag 1</thy-tag>
  <thy-tag thyTheme="outline" thyColor="primary"><thy-icon thyIconName="check-circle"></thy-icon> Tag 2</thy-tag>
  <thy-tag thyTheme="weak-fill" thyColor="default"><thy-icon class="text-primary" thyIconName="smile"></thy-icon>Tag 1</thy-tag>
  <thy-tag thyTheme="weak-fill" thyColor="primary"><thy-icon thyIconName="check-circle"></thy-icon> Tag 2</thy-tag>
</div>
