<div>
  <thy-tag thyTheme="fill">Tag 1</thy-tag>
  <thy-tag thyTheme="fill" thyColor="primary">Tag 2</thy-tag>
  <thy-tag thyTheme="outline">Tag 1</thy-tag>
  <thy-tag thyTheme="outline" thyColor="primary">Tag 2</thy-tag>
  <thy-tag thyTheme="emboss">Tag 1</thy-tag>
  <thy-tag thyTheme="emboss" thyColor="primary">Tag 2</thy-tag>
</div>

<div class="mt-4">
  <thy-tag thyTheme="fill" thyShape="pill">Tag 1</thy-tag>
  <thy-tag thyTheme="fill" thyColor="primary" thyShape="pill">Tag 2</thy-tag>
  <thy-tag thyTheme="outline" thyShape="pill">Tag 1</thy-tag>
  <thy-tag thyTheme="outline" thyColor="primary" thyShape="pill">Tag 2</thy-tag>
  <thy-tag thyTheme="emboss" thyShape="pill">Tag 1</thy-tag>
  <thy-tag thyTheme="emboss" thyColor="primary" thyShape="pill">Tag 2</thy-tag>
</div>
