@use 'sass:meta';
@use '../../src/styles/variables' with($primary: #6698ff);
@use './styles/variables.scss' as variables2;
// docgeni
// $dg-primary: #4150b3;
@use '@docgeni/template/styles/index.scss' with($dg-primary: #6698ff);

@import './assets/fonts/wtd/iconfont.css';
@include meta.load-css('../../src/styles/index.scss');
@include meta.load-css('./styles/index.scss');

@import './styles/docgeni.scss';

html,
body {
    height: 100%;
}
