@use "sass:meta";
@use "../../src/styles/variables" with(
    $primary: #6698FF,
    // 临时改为 e8e8e8 所有分割线改成这个颜色，后期改变量，试试效果怎么样
    $gray-200: #e8e8e8
);
@use './styles/variables.scss' as variables2;
// docgeni
// $dg-primary: #4150b3;
@use '~@docgeni/template/styles/index.scss';

@import './assets/fonts/wtd/iconfont.css';
@include meta.load-css('../../src/styles/index.scss');
@include meta.load-css('./styles/index.scss');

@import './styles/docgeni.scss';

html,
body {
    height: 100%;
}
