<thy-cascader
  [thyOptions]="areaCode"
  [(ngModel)]="values"
  [thyMultiple]="true"
  (ngModelChange)="selectChanges($event)"
  [thyLabelRender]="renderTpl"
  style="width: 200px;"
>
</thy-cascader>

<ng-template #renderTpl let-labels="labels" let-selectedOptions="selectedOptions">
  <ng-container *ngFor="let label of labels; let i = index; let isLast = last">
    <span *ngIf="isLast && label"> {{ label }}</span>
  </ng-container>
</ng-template>

<div class="my-2">可以全选叶子节点：</div>

<thy-cascader
  [thyOptions]="areaCode"
  [(ngModel)]="values2"
  [thyMultiple]="true"
  (ngModelChange)="selectChanges2($event)"
  [thyLabelRender]="renderTpl"
  [thyQuickSelectionAllLeafs]="true"
  style="width: 200px;"
>
</thy-cascader>

<ng-template #renderTpl let-labels="labels" let-selectedOptions="selectedOptions">
  <ng-container *ngFor="let label of labels; let i = index; let isLast = last">
    <span *ngIf="isLast && label"> {{ label }}</span>
  </ng-container>
</ng-template>
