<div class="">
  <thy-avatar thyName="张学友" class="mr-2" thySize="xs"></thy-avatar>
  <thy-avatar thyName="张学友" class="mr-2" thySize="sm"></thy-avatar>
  <thy-avatar thyName="张学友" class="mr-2" thySize="md"></thy-avatar>
  <thy-avatar thyName="张学友" class="mr-2" thySize="lg"></thy-avatar>
  <thy-avatar thyName="张学友" class="mr-2" thySize="68"></thy-avatar>
  <thy-avatar thyName="张学友" class="mr-2" thySize="110"></thy-avatar>
  <thy-avatar thyName="张学友" class="mr-2" thySize="160"></thy-avatar>
</div>
<div class="mt-2">
  <thy-avatar thyName="张学友" [thySrc]="avatarSrc" class="mr-2" thySize="xs"></thy-avatar>
  <thy-avatar thyName="张学友" [thySrc]="avatarSrc" class="mr-2" thySize="sm"></thy-avatar>
  <thy-avatar thyName="张学友" [thySrc]="avatarSrc" class="mr-2" thySize="md"></thy-avatar>
  <thy-avatar thyName="张学友" [thySrc]="avatarSrc" class="mr-2" thySize="lg"></thy-avatar>
  <thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="68"></thy-avatar>
  <thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="110"></thy-avatar>
  <thy-avatar [thySrc]="avatarSrc" class="mr-2" thySize="160"></thy-avatar>
</div>
