<thy-breadcrumb>
  <thy-breadcrumb-item><span>Home</span></thy-breadcrumb-item>
  <thy-breadcrumb-item
    ><a href="javascript:;"><span>Applications</span></a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item>Application 1</thy-breadcrumb-item>
</thy-breadcrumb>

<thy-breadcrumb>
  <thy-breadcrumb-item><span>Home</span></thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;">Applications</a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item> Sub Applications </thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;"><span> Application 1</span><thy-icon thyIconName="angle-down"></thy-icon></a>
  </thy-breadcrumb-item>
</thy-breadcrumb>
