<div class="d-flex align-items-center w-50 mb-3">
  <thy-date-picker
    class="d-block w-50 mr-4"
    thyPlaceHolder="开始时间"
    [thyShowShortcut]="true"
    [thyShowTime]="true"
    thyFormat="yyyy-MM-dd HH:mm:ss"
    [(ngModel)]="start"
    [thyMaxDate]="due">
  </thy-date-picker>

  <thy-date-picker
    class="d-block w-50"
    thyPlaceHolder="结束时间"
    [thyShowShortcut]="true"
    [thyShowTime]="true"
    thyFormat="yyyy-MM-dd HH:mm:ss"
    [(ngModel)]="due"
    [thyMinDate]="start">
  </thy-date-picker>
</div>

<thy-date-picker class="d-block w-50 mb-3" thyFormat="yyyy-MM-dd HH:mm:ss" [thyMaxDate]="limitDate"> </thy-date-picker>
<thy-date-picker class="d-block w-50 mb-3" thyFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="date" [thyMinDate]="limitDate"> </thy-date-picker>
<thy-month-picker
  class="d-block w-50 mb-3"
  thyFormat="yyyy-MM"
  [(ngModel)]="date"
  [thyDisabledDate]="disableDate1"
  thyPlaceHolder="请选择月份">
</thy-month-picker>
<thy-year-picker class="d-block w-50 mb-3" thyFormat="yyyy" [(ngModel)]="date" [thyDisabledDate]="disableDate1" thyPlaceHolder="请选择年份">
</thy-year-picker>

<thy-quarter-picker class="d-block w-50 mb-3" [(ngModel)]="quarterDate" [thyDisabledDate]="disableDate1" thyPlaceHolder="请选择季度">
</thy-quarter-picker>
<thy-range-picker
  class="d-block mb-3 w-50"
  [thyMinDate]="minDate"
  [thyMaxDate]="maxDate"
  [thyDefaultPickerValue]="defaultPickerValue"
  thyFormat="yyyy-MM-dd"></thy-range-picker>
<thy-range-picker
  class="d-block mb-3 w-50"
  thyFormat="yyyy-MM-dd"
  [thyDisabledDate]="disableDate"
  [(ngModel)]="dynamicDisabled"
  (thyOnCalendarChange)="calendarChange($event)"
  (thyOpenChange)="panelOpenChange($event)"></thy-range-picker>
<thy-range-picker
  class="d-block mt-2 mb-3 w-50"
  [thyShowShortcut]="true"
  [thyMinDate]="minDateRange"
  [(ngModel)]="dateRange"
  [thyAllowClear]="true"
  thyFormat="yyyy-MM-dd"></thy-range-picker>
<thy-range-picker
  class="d-block mb-3 w-50"
  [thyShowShortcut]="true"
  [thyMaxDate]="maxDateRange"
  [(ngModel)]="dateRange"
  [thyAllowClear]="true"
  thyFormat="yyyy-MM-dd"></thy-range-picker>
