<div class="btn-pair">
  <button [thyButton]="'primary'" (click)="showSlideWithTemplateWithoutId(templateWithoutId)">Open with template without id</button>
  <button [thyButton]="'primary'" (click)="showSlideWithComponent()">Open with component</button>

  <button [thyButton]="'primary'" (click)="showSlideWithTemplate(template)">Open with template</button>
</div>

<ng-template #template>
  <thy-slide-layout>
    <thy-slide-header [thyTitle]="'slide title'"></thy-slide-header>
    <thy-slide-body>
      slide body —— open with template
    </thy-slide-body>
  </thy-slide-layout>
</ng-template>
<ng-template #templateWithoutId>
  <thy-slide-layout>
    <thy-slide-header [thyTitle]="'slide title without id'"></thy-slide-header>
    <thy-slide-body>
      slide body without id —— open with template without id
    </thy-slide-body>
  </thy-slide-layout>
</ng-template>
