<thy-space>
  <button thySize="xs" *thySpaceItem thyButton="primary" (click)="initTabActive()">init</button>
  <button thySize="xs" *thySpaceItem thyButton="primary" (click)="handleClick('tab1')">tab1</button>
  <button thySize="xs" *thySpaceItem thyButton="primary" (click)="handleClick('tab2')">tab2</button>
</thy-space>

<thy-tabs [(thyActiveTab)]="activeTab" (thyActiveTabChange)="activeTabChange($event)">
  <thy-tab id="tab1" thyTitle="Tab1">Tab1 Content</thy-tab>
  <thy-tab id="tab2" thyTitle="Tab2">Tab2 Content</thy-tab>
</thy-tabs>
