<ng-template #inputTemplate>
  <input
    #inputElement
    [tabindex]="-1"
    (compositionstart)="isComposing = true"
    (compositionend)="isComposing = false"
    autocomplete="something-new"
    [ngClass]="searchInputControlClass"
    (input)="updateWidth()"
    [ngModel]="inputValue"
    (ngModelChange)="setInputValue($event)"
    (keydown.backspace)="handleBackspace($event)"
    [disabled]="thyDisabled"
    (blur)="onBlur($event)" />
</ng-template>

<div class="select-control-rendered">
  @if (!isSelectedValue) {
    <div class="text-placeholder text-truncate" [ngStyle]="placeholderStyle">
      {{ thyPlaceholder }}
    </div>
  }
  @if (isMultiple) {
    <div thyFlex thyWrap="wrap" thyGap="4" thyAlignItems="center" class="w-100">
      @if (thyPreset === 'tag') {
        @for (item of maxSelectedTags; track trackValue($index, item)) {
          <div thyFlexItem class="custom-choice-item text-truncate">
            <ng-template
              [ngTemplateOutlet]="customDisplayTemplate"
              [ngTemplateOutletContext]="{ $implicit: item.thyRawValue || item.thyValue || item }">
            </ng-template>
            @if (!disabled) {
              <div class="choice-remove-link ml-1" (click)="removeHandle(item, $event)">
                <span>
                  <thy-icon thyIconName="close" class="font-size-sm"></thy-icon>
                </span>
              </div>
            }
          </div>
        }
      } @else {
        @for (item of maxSelectedTags; track trackValue($index, item)) {
          <div
            thyFlexItem
            thyTag
            class="choice-item"
            [ngClass]="{ disabled: disabled === true }"
            [thySize]="tagSize"
            >
            <div class="text-truncate h-100">
              @if (!customDisplayTemplate) {
                {{ item.thyLabelText }}
              } @else {
                <ng-template
                  [ngTemplateOutlet]="customDisplayTemplate"
                [ngTemplateOutletContext]="{ $implicit: item.thyRawValue || item.thyValue || item }"></ng-template>
              }
            </div>
            @if (!disabled) {
              <div class="choice-remove-link ml-1" (click)="removeHandle(item, $event)">
                <span>
                  <thy-icon thyIconName="close" class="font-size-sm"></thy-icon>
                </span>
              </div>
            }
          </div>
        }
      }
      @if (thyMaxTagCount && multipleSelectedValue.length > thyMaxTagCount) {
        <div
          thyFlexItem
          class="choice-item max-tag-count-choice"
          thyTag
          [thySize]="tagSize"
          [ngClass]="{ disabled: disabled === true }">
          <div class="text-truncate">+{{ multipleSelectedValue.length - thyMaxTagCount + 1 }}...</div>
        </div>
      }
      <div thyFlexItem class="select-control-search">
        <ng-template [ngTemplateOutlet]="inputTemplate"></ng-template>
      </div>
    </div>
  } @else {
    @if (isSelectedValue) {
      <div class="selected-value text-truncate" [ngStyle]="selectedValueStyle">
        @if (!customDisplayTemplate) {
          <span class="text-truncate">{{ selectedValue?.thyLabelText }}</span>
        } @else {
          <ng-template
            [ngTemplateOutlet]="customDisplayTemplate"
            [ngTemplateOutletContext]="{
              $implicit: selectedValue.thyRawValue || selectedValue.thyValue || selectedValue
            }"></ng-template>
        }
      </div>
    }
    <div class="select-control-search">
      <ng-template [ngTemplateOutlet]="inputTemplate"></ng-template>
    </div>
  }
</div>
<span class="select-control-arrow">
  <thy-icon thyIconName="angle-down" class="font-size-base"></thy-icon>
</span>
@if (showClearIcon) {
  <span class="select-control-clear remove-link" (click)="clearHandle($event)">
    <thy-icon class="remove-link-icon font-size-base" thyIconName="close-circle-bold-fill"></thy-icon>
  </span>
}
