<ng-template #inputTemplate>
  <input
    #inputElement
    [tabindex]="-1"
    (compositionstart)="compositionChange(true)"
    (compositionend)="compositionChange(false)"
    autocomplete="something-new"
    [ngClass]="searchInputControlClass"
    (input)="updateWidth()"
    [ngModel]="inputValue()"
    (ngModelChange)="setInputValue($event)"
    (keydown.backspace)="handleBackspace($event)"
    [disabled]="thyDisabled()"
    (blur)="onBlur($event)" />
</ng-template>

<div class="select-control-rendered">
  @if (!isSelectedValue()) {
    <div class="text-placeholder text-truncate" [ngStyle]="placeholderStyle()">
      {{ thyPlaceholder() }}
    </div>
  }
  @if (thyIsMultiple()) {
    <div thyFlex thyWrap="wrap" thyGap="4" thyAlignItems="center" class="w-100" #tagsContainer>
      @if (thyPreset() === 'tag') {
        @for (item of selectedTags(); track trackValue($index, item)) {
          <div thyFlexItem class="custom-choice-item text-truncate" [ngClass]="{ hidden: $index > visibleTagCount() - 1 }">
            <ng-template
              [ngTemplateOutlet]="customDisplayTemplate()"
              [ngTemplateOutletContext]="{ $implicit: item.thyRawValue || item.thyValue || item }">
            </ng-template>
            @if (!thyDisabled()) {
              <div class="choice-remove-link ml-1" (click)="removeHandle(item, $event)">
                <span>
                  <thy-icon thyIconName="close" class="font-size-sm"></thy-icon>
                </span>
              </div>
            }
          </div>
        }
      } @else {
        @for (item of selectedTags(); track trackValue($index, item)) {
          <div
            thyFlexItem
            thyTag
            class="choice-item selected"
            [ngClass]="{ disabled: thyDisabled() === true, hidden: $index > visibleTagCount() - 1 }"
            [thySize]="tagSize()">
            <div class="text-truncate h-100 d-flex align-items-center">
              @if (!customDisplayTemplate()) {
                <thy-flexible-text [thyTooltipContent]="item?.thyLabelText" class="text-truncate h-100">
                  {{ item?.thyLabelText }}
                </thy-flexible-text>
              } @else {
                <ng-template
                  [ngTemplateOutlet]="customDisplayTemplate()"
                  [ngTemplateOutletContext]="{ $implicit: item.thyRawValue || item.thyValue || item }"></ng-template>
              }
            </div>
            @if (!thyDisabled()) {
              <div class="choice-remove-link ml-1" (click)="removeHandle(item, $event)">
                <span>
                  <thy-icon thyIconName="close" class="font-size-sm"></thy-icon>
                </span>
              </div>
            }
          </div>
        }
      }
      @if (collapsedSelectedTags()?.length > 0) {
        <div
          thyFlexItem
          class="choice-item max-tag-count-choice"
          thyTag
          [thySize]="tagSize()"
          [ngClass]="{ disabled: thyDisabled() === true }"
          [thyTooltip]="maxTagTooltip">
          <div class="text-truncate">+{{ collapsedSelectedTags()?.length }}</div>
        </div>
      }
      <div thyFlexItem class="select-control-search">
        <ng-template [ngTemplateOutlet]="inputTemplate"></ng-template>
      </div>
    </div>
  } @else {
    @if (isSelectedValue()) {
      <div class="selected-value text-truncate" [ngStyle]="selectedValueStyle()">
        @if (!customDisplayTemplate()) {
          <span class="text-truncate">{{ thySelectedOptions()?.thyLabelText }}</span>
        } @else {
          <ng-template
            [ngTemplateOutlet]="customDisplayTemplate()"
            [ngTemplateOutletContext]="{
              $implicit: thySelectedOptions()?.thyRawValue || thySelectedOptions()?.thyValue || thySelectedOptions()
            }"></ng-template>
        }
      </div>
    }
    <div class="select-control-search">
      <ng-template [ngTemplateOutlet]="inputTemplate"></ng-template>
    </div>
  }
</div>
<span class="select-control-arrow">
  <thy-icon thyIconName="angle-down" class="font-size-base"></thy-icon>
</span>
@if (showClearIcon()) {
  <span class="select-control-clear remove-link" (click)="clearHandle($event)">
    <thy-icon class="remove-link-icon font-size-base" thyIconName="close-circle-bold-fill"></thy-icon>
  </span>
}

<ng-template #maxTagTooltip>
  @let lastIndex = collapsedSelectedTags().length - 1;
  @for (item of collapsedSelectedTags(); track trackValue($index, item)) {
    {{ item.thyLabelText }}
    @if ($index !== lastIndex) {
      {{ locale().comma }}
    }
  }
</ng-template>
