<ng-template #inputTemplate>
  <input
    #inputElement
    [tabindex]="-1"
    (compositionstart)="isComposing = true"
    (compositionend)="isComposing = false"
    autocomplete="something-new"
    [ngClass]="searchInputControlClass"
    (input)="updateWidth()"
    [ngModel]="inputValue"
    (ngModelChange)="setInputValue($event)"
    (keydown.backspace)="handleBackspace($event)"
    [disabled]="thyDisabled"
    (blur)="onBlur($event)" />
</ng-template>

<div class="select-control-rendered">
  <div class="text-placeholder text-truncate" *ngIf="!isSelectedValue" [ngStyle]="placeholderStyle">
    {{ thyPlaceholder }}
  </div>
  <ng-container *ngIf="isMultiple; else single">
    <ul
      [ngClass]="{
        'choice-list': maxSelectedTags.length > 0 || (thyMaxTagCount && multipleSelectedValue.length > thyMaxTagCount)
      }">
      <li
        class="choice mr-1"
        [ngClass]="{ disabled: disabled === true }"
        thyTag
        [thySize]="tagSize"
        *ngFor="let item of maxSelectedTags; trackBy: trackValue">
        <div class="text-truncate">
          <ng-template
            #customDisplay
            [ngTemplateOutlet]="customDisplayTemplate"
            [ngTemplateOutletContext]="{ $implicit: item.thyRawValue || item.thyValue || item }"></ng-template>
          <ng-container *ngIf="!customDisplayTemplate; else customDisplay">
            {{ item.thyLabelText }}
          </ng-container>
        </div>
        <div *ngIf="!disabled" class="choice-remove-link ml-1" (click)="removeHandle(item, $event)">
          <span>
            <thy-icon thyIconName="close" class="font-size-sm"></thy-icon>
          </span>
        </div>
      </li>
      <li
        *ngIf="thyMaxTagCount && multipleSelectedValue.length > thyMaxTagCount"
        thyTag
        [thySize]="tagSize"
        class="choice max-tag-count-choice"
        [ngClass]="{ disabled: disabled === true }">
        <div class="text-truncate">+{{ multipleSelectedValue.length - thyMaxTagCount + 1 }}...</div>
      </li>
      <li class="select-control-search">
        <ng-template [ngTemplateOutlet]="inputTemplate"></ng-template>
      </li>
    </ul>
  </ng-container>
  <ng-template #single>
    <ng-container *ngIf="isSelectedValue">
      <div class="selected-value text-truncate" [ngStyle]="selectedValueStyle">
        <ng-template
          #customDisplay
          [ngTemplateOutlet]="customDisplayTemplate"
          [ngTemplateOutletContext]="{
            $implicit: selectedValue.thyRawValue || selectedValue.thyValue || selectedValue
          }"></ng-template>
        <ng-container *ngIf="!customDisplayTemplate; else customDisplay">
          {{ selectedValue?.thyLabelText }}
        </ng-container>
      </div>
    </ng-container>
    <div class="select-control-search">
      <ng-template [ngTemplateOutlet]="inputTemplate"></ng-template>
    </div>
  </ng-template>
</div>
<span class="select-control-arrow">
  <thy-icon thyIconName="angle-down" class="font-size-base"></thy-icon>
</span>
<span class="select-control-clear remove-link" *ngIf="showClearIcon" (click)="clearHandle($event)">
  <thy-icon class="remove-link-icon font-size-base" thyIconName="close-circle-bold-fill"></thy-icon>
</span>
