@use "../../../select/custom-select/styles/mixin";
@use "../../../styles/bootstrap/variables" as bootstrap-variables;
@use "../../../styles/mixins/utilities";
@use "../../../styles/variables";
@use "../select.mixin";

.select-control {
    position: relative;
    @include select.select-control-size(bootstrap-variables.$input-height, variables.$input-padding-y);
    padding-right: 23px;
    &.form-control-custom {
        padding-top: 0;
        padding-bottom: 0;
    }
    &.form-control-sm {
        @include select.select-control-size(bootstrap-variables.$input-height-sm, variables.$input-padding-y-sm);
    }
    &.form-control-md {
        @include select.select-control-size(variables.$input-height-md, variables.$input-padding-y-md);
        .choice-content {
            height: 22px;
            line-height: 22px;
            font-size: variables.$font-size-sm !important;
        }
    }
    &.form-control-lg {
        @include select.select-control-size(bootstrap-variables.$input-height-lg, variables.$input-padding-y-lg);
        .select-control-rendered {
            .choice,
            .select-control-search {
                .choice-content {
                    height: 36px;
                    line-height: 36px;
                }
            }
        }
    }
    .search-input-field {
        width: 100%;
        padding: 0;
        border: none;
        &.hidden {
            visibility: hidden;
        }
    }
    .select-control-rendered {
        position: relative;
        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            &::after {
                display: block;
                clear: both;
                height: 0;
                content: ' ';
            }
        }
        .text-placeholder,
        .selected-value {
            position: absolute;
            user-select: none;
            width: 100%;
        }
    }
    &.panel-is-opened {
        border-color: variables.$primary;
        .select-control-arrow {
            svg {
                transform: rotate(180deg);
            }
        }
        &.select-control-show-search {
            .selected-value {
                opacity: 0.4;
            }
        }
    }
    .select-control-arrow {
        @include mixin.select-arrow-variant();
    }
    .select-control-clear {
        display: none;
        right: 12px;
        z-index: 10;
        @include utilities.absolute-vertical-align-middle(false);
    }
    &:not(.disabled):hover {
        .select-control-clear {
            display: block;
        }
    }
}
.select-control-multiple {
    &.thy-select-show-search {
        cursor: text;
    }
    .select-control-search {
        position: static;
        float: left;
        width: auto;
        max-width: 100%;
        padding: 0;
        .search-input-field {
            width: 1px;
            max-width: 100%;
        }
    }
    .choice {
        position: relative;
        float: left;
        max-width: 97%;
        margin-right: 6px;
        padding: 0 20px 0 10px;
        overflow: hidden;
        color: variables.$gray-800;
        background-color: variables.$gray-200;
        border-radius: variables.$border-radius-sm;
        cursor: default;
        .choice-content {
            max-width: 100%;
            height: 22px;
            line-height: 22px;
            font-size: variables.$font-size-sm;
        }
        &.disabled {
            padding-right: 10px;
        }
        &.max-tag-count-choice {
            padding-right: 10px;
        }
    }
    .choice-remove {
        cursor: pointer;
        @include utilities.absolute-vertical-align-middle(false);
        color: variables.$gray-500;
        right: 4px;
    }
}
