@mixin switcher-size($size) {
    button {
        width: $size;
        height: $size;
    }
    span {
        line-height: $size;
    }
}

.thy-arrow-switcher {
    display: inline-block;
    .switcher-wrapper {
        display: flex;
        align-items: center;
        button {
            background: $arrow-switcher-btn-bac;
            border-radius: $input-border-radius-xs;
            transition: none;
            display: flex;
            align-items: center;
            i {
                flex: 1;
            }
        }
        button:disabled {
            background: $arrow-switcher-btn-disabled-bac;
            pointer-events: none;
            i {
                color: $arrow-switcher-btn-disabled-color;
            }
        }
        button:hover {
            background: $arrow-switcher-btn-hover-bac;
            i {
                color: $arrow-switcher-btn-hover-color;
            }
        }
        span {
            min-width: 58px;
            text-align: center;
            padding: 0 10px;
            color: $gray-600;
        }
    }
    @include switcher-size($arrow-switcher-btn-size);

    &.thy-arrow-switcher-small {
        @include switcher-size($arrow-switcher-sm-btn-size);
    }
}
