<div class="demo-layout-backdrop">
  <thy-layout>
    <thy-sidebar thyWidth="240" [thyIsDraggableWidth]="true">
      <div class="sidebar-header">
        <span class="title cursor-pointer">Title</span>
        <button class="action" thyButtonIcon="project-add" thyLight="true" thySize="lg"></button>
      </div>
      <div class="sidebar-content">
        <div class="search-container">
          <thy-input-search thyTheme="ellipse" placeholder="Search name"></thy-input-search>
        </div>
        <thy-menu>
          <thy-menu-group thyTitle="My" [thyExpand]="true" [thyShowAction]="true">
            <a thyMenuItem href="javascript:;">
              <thy-menu-item-icon><thy-icon thyIconName="user-group"></thy-icon></thy-menu-item-icon>
              <span thyMenuItemName> My work </span>
              <thy-menu-item-icon><thy-icon thyIconName="more"></thy-icon></thy-menu-item-icon>
            </a>
          </thy-menu-group>

          <thy-menu-group thyTitle="Project" [thyExpand]="true" [thyShowAction]="true"></thy-menu-group>

          <thy-menu-divider></thy-menu-divider>

          <a thyMenuItem href="javascript:;">
            <thy-menu-item-icon><thy-icon thyIconName="settings"></thy-icon></thy-menu-item-icon>
            <span thyMenuItemName> Configuration </span>
            <thy-menu-item-icon><thy-icon thyIconName="more"></thy-icon></thy-menu-item-icon>
          </a>
          <a thyMenuItem href="javascript:;">
            <thy-menu-item-icon><thy-icon thyIconName="trash"></thy-icon></thy-menu-item-icon>

            <span thyMenuItemName> Trash </span>
          </a>
        </thy-menu>
      </div>
    </thy-sidebar>
    <thy-layout>
      <thy-header thyDivided="true">
        <ng-template #headerTitle>
          <thy-icon class="prefix-icon" thyIconName="house-square" thyIconType="fill"></thy-icon>
          <a href="javascript:;" class="title-name">Header<thy-icon thyIconName="angle-down"></thy-icon></a>
        </ng-template>
        <ng-template #headerContent>
          <thy-nav thyType="primary" thyHorizontal="center">
            <a href="javascript:;" thyNavLink [thyNavLinkActive]="true">Link1</a>
            <a href="javascript:;" thyNavLink>Link2</a>
          </thy-nav>
        </ng-template>
        <ng-template #headerOperation>
          <thy-nav thyType="thirdly" thyHorizontal="right">
            <a thyNavLink href="javascript:;">
              <thy-icon [thyIconName]="'edit'"></thy-icon>
              Edit
            </a>
            <a thyNavLink href="javascript:;">
              <thy-icon thyIconName="settings"></thy-icon>
            </a>
          </thy-nav>
        </ng-template>
      </thy-header>
      <thy-header thySize="sm">
        <ng-template #headerTitle></ng-template>
        <ng-template #headerContent>
          <thy-nav thyType="thirdly" thyHorizontal="left">
            <a href="javascript:;" thyNavLink thyNavLinkActive="true">Link1</a>
            <a href="javascript:;" thyNavLink>Link2</a>
            <a href="javascript:;" thyNavLink>Link3</a>
          </thy-nav>
        </ng-template>
        <ng-template #headerOperation>
          <thy-nav thyType="thirdly" thyHorizontal="right">
            <a thyNavLink href="javascript:;">
              <thy-icon [thyIconName]="'edit'"></thy-icon>
            </a>
            <a thyNavLink href="javascript:;">
              <thy-icon thyIconName="list"></thy-icon>
            </a>
          </thy-nav>
        </ng-template>
      </thy-header>

      <thy-layout>
        <thy-content>
          <thy-content-section class="p-2" style="height: 38px;">
            Home > Title
          </thy-content-section>
          <thy-content-main>
            <thy-nav thyType="secondary" thyHorizontal="left" class="pl-2">
              <a href="javascript:;" thyNavLink thyNavLinkActive="true">Link1</a>
              <a href="javascript:;" thyNavLink>Link2</a>
              <a href="javascript:;" thyNavLink>Link3</a>
            </thy-nav>
            <div class="p-2">
              Content
            </div>
          </thy-content-main>
        </thy-content>
      </thy-layout>
    </thy-layout>
  </thy-layout>
</div>
