<p class="font-size-xs">
  · 预设五种类型：`Default`、`Primary`、`Success`、`Info`、`Warning`、`Danger`
</p>
<span class="mr-1" thyLabel="default">Default</span>
<span class="mr-1" thyLabel="primary">Primary</span>
<span class="mr-1" thyLabel="success">Success</span>
<span class="mr-1" thyLabel="info">Info</span>
<span class="mr-1" thyLabel="warning">Warning</span>
<span class="mr-1" thyLabel="danger">Danger</span>

<hr />

<p class="font-size-xs">
  · 特殊类型 emboss：`emboss-default`、`emboss-primary`、`emboss-warning`、`emboss-danger`
</p>
<span class="mr-1" thyLabel="emboss-default">emboss-default</span>
<span class="mr-1" thyLabel="emboss-primary">emboss-primary</span>
<span class="mr-1" thyLabel="emboss-warning">emboss-warning</span>
<span class="mr-1" thyLabel="emboss-danger">emboss-danger</span>

<hr />
<p class="font-size-xs">· 特殊类型：`outline`</p>
<span *ngFor="let status of relationLabels" class="mr-3" thyLabel="outline" [thySize]="status?.size" [thyLabelColor]="status.color">{{
  status.name
}}</span>
