@use "../styles/variables.scss";

.thy-skeleton {
    display: block;
    background: #f7f7f7;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20px;
    & .thy-skeleton-after {
        background: linear-gradient(90deg, rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.4), rgba(238, 238, 238, 0));
        animation: thy-skeleton-animation 1.5s infinite;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(-100%);
        z-index: 1;
    }
    &.thy-skeleton-circle {
        border-radius: 50%;
    }
    @keyframes thy-skeleton-animation {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(100%);
        }
    }
}
.thy-skeleton-list-wrap {
    .vertical-gutter {
        margin-bottom: 12px;
    }
}
.thy-skeleton-bullet-list-wrap {
    .horizontal-gutter {
        margin-left: 12px;
    }
    .vertical-gutter {
        margin-bottom: 12px;
    }
}
.thy-skeleton-paragraph-wrap {
    .vertical-gutter {
        margin-bottom: 12px;
    }
}
