<thy-button-group thyType="outline-default">
  <button thyButton (click)="effect = 'slide'" [class]="effect === 'slide' ? 'active' : ''">slide</button>
  <button thyButton (click)="effect = 'fade'" [class]="effect === 'fade' ? 'active' : ''">fade</button>
  <button thyButton (click)="effect = 'noop'" [class]="effect === 'noop' ? 'active' : ''">noop</button>
</thy-button-group>
<div style="margin-top: 10px">
  <thy-carousel [thyEffect]="effect">
    @for (slide of array; track $index) {
      <div thyCarouselItem class="custom-carousel-item">
        {{ slide }}
      </div>
    }
  </thy-carousel>
</div>
