.thy-tree-demo {
    padding: 20px;
    width: 400px;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.thy-menu-demo {
    max-width: 240px;
    border: 1px #d2d2d2 solid;
}
