<section>
  <div class="header"><h2>cdk 拖动 list</h2></div>
  <div class="body">
    <thy-list cdkDropList (cdkDropListSorted)="sort($event)">
      <thy-list-item class="active" cdkDrag>
        <i class="wtf wtf-move" cdkDragHandle></i>
        Item 1
      </thy-list-item>
      <thy-list-item cdkDrag>
        <i class="wtf wtf-move" cdkDragHandle></i>
        Item 2
      </thy-list-item>
      <thy-list-item cdkDrag>
        <i class="wtf wtf-move" cdkDragHandle></i>
        Item 3
      </thy-list-item>
      <thy-list-item cdkDrag>
        <i class="wtf wtf-move" cdkDragHandle></i>
        <a href="javascripr:;">Item 4</a>
      </thy-list-item>
    </thy-list>
  </div>
</section>

<section>
  <div class="header"><h2>cdk 拖动 menu</h2></div>
  <div class="body">
    <div class="thy-menu-demo">
      <thy-menu>
        <thy-menu-group thyTitle="项目" [thyExpand]="true" [thyShowAction]="true">
          <div
            cdkDropList
            (cdkDropListSorted)="sort($event)"
            (cdkDropListDropped)="sort('drop')"
            (cdkDropListEntered)="sort('enter')"
            (cdkDropListExited)="sort('exit')"
          >
            <div thyMenuItem class="active" href="javascript:;" cdkDrag (cdkDragMoved)="move('move')">
              <i class="wtf wtf-move" cdkDragHandle></i>
              <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 项目1 </span>
              <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
            </div>
            <a thyMenuItem cdkDrag>
              <i class="wtf wtf-move" cdkDragHandle></i>
              <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 项目2 </span>
              <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
            </a>
            <div thyMenuItem href="javascript:;" cdkDrag>
              <i class="wtf wtf-move" cdkDragHandle></i>
              <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 项目3 </span>
              <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
            </div>
          </div>
          <thy-menu-group thyTitle="项目分组" [thyExpand]="true" [thyShowAction]="true">
            <div cdkDropList (cdkDropListSorted)="sort($event)">
              <div thyMenuItem href="javascript:;" cdkDrag>
                <i class="wtf wtf-move" cdkDragHandle></i>
                <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 项目 </span>
                <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
              </div>
              <div thyMenuItem href="javascript:;" cdkDrag>
                <i class="wtf wtf-move" cdkDragHandle></i>
                <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 项目2 </span>
                <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
              </div>
              <div thyMenuItem href="javascript:;" cdkDrag>
                <i class="wtf wtf-move" cdkDragHandle></i>
                <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 项目3 </span>
                <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
              </div>
            </div>
          </thy-menu-group>
        </thy-menu-group>
      </thy-menu>
      <ng-template #menu1>
        <thy-action-menu>
          <a thyActionMenuItem thyDisabled="true" thyActionMenuItemActive="true" href="javascript:;">
            <span thyActionMenuItemIcon> <i class="wtf wtf-task-o"></i> </span>
            <span thyActionMenuItemName>有图标</span>
          </a>
        </thy-action-menu>
      </ng-template>
    </div>
  </div>
</section>

<section>
  <div class="header"><h2>sortable 拖动 menu</h2></div>
  <div class="body">
    <div class="thy-menu-demo">
      <thy-menu>
        <thy-menu-group thyTitle="项目" thyExpand="true" [thyShowAction]="true">
          <div class="thy-sortable-list" [sortablejs]="projects" [sortablejsOptions]="treeNodesSortableOptions">
            <ng-container
              *ngFor="let item of projects"
              [ngTemplateOutlet]="projectNavTemplate"
              [ngTemplateOutletContext]="{ item: item }"
            ></ng-container>

            <ng-template #projectNavTemplate let-item="item">
              <div
                *ngIf="!item.children"
                [ngTemplateOutlet]="projectTemplate"
                [ngTemplateOutletContext]="{ project: item }"
              ></div>
              <div
                *ngIf="item.children"
                [ngTemplateOutlet]="projectGroupTemplate"
                [ngTemplateOutletContext]="{ group: item }"
              ></div>
            </ng-template>

            <ng-template #projectGroupTemplate let-group="group">
              <thy-menu-group [thyTitle]="group.name" #qq [thyExpand]="group.collapsed">
                <div
                  [sortablejs]="group.children"
                  class="project-group"
                  [runInsideAngular]="true"
                  [sortablejsOptions]="treeNodesSortableOptions"
                >
                  <ng-container
                    *ngFor="let item of group.children; trackBy: item?.id"
                    [ngTemplateOutlet]="projectNavTemplate"
                    [ngTemplateOutletContext]="{ item: item }"
                  ></ng-container>
                  <div class="thy-sortable-list-empty" *ngIf="group.children.length === 0">
                    拖拽元素区域
                  </div>
                </div>
              </thy-menu-group>
            </ng-template>

            <ng-template #projectTemplate let-project="project">
              <div thyMenuItem href="javascript:;" class="thy-sortable-item">
                <i class="wtf wtf-move thy-sortable-handle"></i>
                <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> {{ project.name }} </span>
                <i thyMenuItemAction class="wtf wtf-more-lg"></i>
              </div>
            </ng-template>
          </div>
        </thy-menu-group>
      </thy-menu>
    </div>
  </div>
</section>

<section>
  <div class="header"><h2>sortable 拖动 tree</h2></div>
  <div class="body">
    <div class="thy-tree-demo">
      <thy-tree #tree [thyNodes]="treeNodes" [thyDraggable]="true" (thyOnDraggableChange)="draggableNode($event)">
        <ng-template #treeNodeTemplate let-node>
          <i class="tree-node-icon" [ngClass]="node.origin.icon" [ngStyle]="node.origin.iconStyle"></i>
          <ng-container *ngIf="!node.origin.edited">
            <div class="thy-tree-node-title">{{ node.title }}</div>
            <div class="thy-tree-node-actions">
              <a thyButtonIcon="wtf-edit-o" thySize="sm" href="javascript:;" (click)="node.origin.edited = true"></a>
              <a thyButtonIcon="wtf-trash-o" thySize="sm" href="javascript:;"></a>
            </div>
          </ng-container>
          <ng-container *ngIf="node.origin.edited">
            <div class="tree-node-edit">
              <input #title thyInput thySize="sm" thyAutofocus (blur)="node.origin.edited = false" />
            </div>
          </ng-container>
        </ng-template>
        <ng-template #emptyChildrenTemplate>
          <div class="thy-sortable-list-empty" style="padding:0 30px;">
            拖拽元素区域
          </div>
        </ng-template>
      </thy-tree>
    </div>
  </div>
</section>
