<button
  thyTooltip="Hello, welcome to use Worktile"
  [thyTooltipTrigger]="tooltipConfig.trigger"
  [thyTooltipPlacement]="tooltipConfig.placement"
  [thyTooltipDisabled]="tooltipConfig.disabled"
  [thyTooltipShowDelay]="tooltipConfig.showDelay"
  [thyTooltipHideDelay]="tooltipConfig.hideDelay"
  thyButton="primary"
>
  Basic Demo
</button>
<span
  class="ml-2"
  thyTooltip="Hello, welcome to use Worktile"
  [thyTooltipTrigger]="tooltipConfig.trigger"
  [thyTooltipPlacement]="tooltipConfig.placement"
  [thyTooltipDisabled]="tooltipConfig.disabled"
  [thyTooltipShowDelay]="tooltipConfig.showDelay"
  [thyTooltipHideDelay]="tooltipConfig.hideDelay"
>
  Tooltip will show when mouse enter.
</span>
