//====亮紫色====
//青出于蓝
$primary: #4e8afa;
$success: #22d7bb;
$warning: #ffc442;
$danger:#ff5b57;
$primary-active: #3870f7;
$secondary-item-active: #edf3ff; // item 选中背景色, 项目或者任务列表选中

@import "../theme-bootstrap";