//====亮黄====
//午后暖阳
$primary: #febc20;
$success: #22d7bb;
$warning: #ffc442;
$danger:#ff5b57;
$primary-active: #ffa715;
$secondary-item-active: #fff8e8; // item 选中背景色, 项目或者任务列表选中

@import "../theme-bootstrap";