//====棕黑色====
//千岩竞秀
$primary: #484848;
$success: #22d7bb;
$warning: #ffc442;
$danger:#ff5b57;
$primary-active: #383838;
$secondary-item-active: #ececec; // item 选中背景色, 项目或者任务列表选中

@import "../theme-bootstrap";