//======黄绿=======
//郁郁葱葱
$primary: #66c060;
$success: #22d7bb;
$warning: #ffc442;
$danger:#ff5b57;
$primary-active: #4ead49;
$secondary-item-active: #eff9f0; // item 选中背景色, 项目或者任务列表选中

@import './index.scss';
