//=====紫黑色=====
//水墨丹青
$primary: #48525c;
$success: #22d7bb;
$warning: #ffc442;
$danger:#ff5b57;
$primary-active: #39414c;
$secondary-item-active: #ecedef; // item 选中背景色, 项目或者任务列表选中

@import './index.scss';
