//====QQ蓝色====
//湖光山色
$primary: #2dbcff;
$success: #22d7bb;
$warning: #ffc442;
$danger:#ff5b57;
$primary-active: #1ea8ff;
$secondary-item-active: #eaf9ff; // item 选中背景色, 项目或者任务列表选中

@import "../theme-bootstrap";