//========湖蓝========
//紫气东来
$primary: #6f76fa;
$success: #22d7bb;
$warning: #ffc442;
$danger:#ff5b57;
$primary-active: #575df9;
$secondary-item-active: #f1f0fe; // item 选中背景色, 项目或者任务列表选中

@import "../theme-bootstrap";
