//=====西瓜红=====
$primary: #22d7bb;
$success: #22d7bb;
$warning: #ffc442;
$danger:#ff5b57;
$primary-active: #18bfa4;
$secondary-item-active: #e7f9f6; // item 选中背景色, 项目或者任务列表选中

@import "../theme-bootstrap";
