<div>
  <thy-badge [thyCount]="100" thySize="sm"></thy-badge>
  <thy-badge [thyCount]="100" thySize="md"></thy-badge>
  <thy-badge [thyCount]="100" thySize="lg"></thy-badge>
</div>

<div class="mt-5">
  <thy-badge [thyCount]="100" [thyMaxCount]="99" thyBackgroundColor="#87d068" thyTextColor="white" thySize="sm"></thy-badge>
  <thy-badge [thyCount]="100" [thyMaxCount]="99" thyBackgroundColor="#87d068" thyTextColor="white" thySize="md"></thy-badge>
  <thy-badge [thyCount]="100" [thyMaxCount]="99" thyBackgroundColor="#87d068" thyTextColor="white" thySize="lg"></thy-badge>
</div>

<div class="mt-5">
  <thy-badge [thyContext]="'new'" thySize="sm"></thy-badge>
  <thy-badge [thyContext]="'new'" thySize="md"></thy-badge>
  <thy-badge [thyContext]="'new'" thySize="lg"></thy-badge>
</div>
