// gray color
$white: #fff;
$gray-99: #fdfdfd !default; // 内容区域背景色
$gray-100: #f3f3f3 !default; // 搜索框背景色，消息栏置顶色, 完成任务卡片颜色
$gray-200: #eee !default; // 模块左侧导航鼠标移上去的阴影, 次分割线，部分控件描边, 消息评论图标使用
$gray-210: #e9e9e9 !default; //整块区域的背景色为 #f3f3f3 后，某个卡片模块的背景色，用于文件详情
$gray-300: #ddd !default; // 主分割线, 进度条背景色，三级图标色
$gray-400: #cacaca !default; // 搜索框默认文字， 禁用图标颜色, 部分图标颜色,
$gray-500: #aaa !default; // 添加参与人,负责人等操作图标的边框颜色,说明文字, 搜索框文字
$gray-600: #888 !default; // 次要文字,如 Tab 切换文字
$gray-700: #666 !default; // 主要文字
$gray-800: #333 !default; // 标题和重点文字
$gray-900: #212529 !default;
$black: #000;
//px to rem
$rem-5px: 0.3125rem;
$rem-10px: 0.625rem;
$rem-14px: 0.875rem;
$rem-15px: 0.9375rem;
$rem-18px: 1.125rem;
$rem-20px: 1.25rem;
$rem-26px: 1.625rem;
// color
$body-color: $gray-800 !default;
$primary: #22d7bb !default;
$primary-active: #18bfa4;
$secondary: $gray-700 !default;
$success: #22d7bb !default;
$info: $gray-500 !default;
$warning: #ffc442 !default;
$danger: #ff5b57 !default;
$pass: #2cccda !default;
$secondary-item-active: rgba($primary, 0.1) !default;
$item-active-bg-color: rgba($primary, 0.1) !default;
$light: $gray-300 !default;
// $light : $gray-100;
// $dark : $gray-800;
// enable-gradients
$enable-gradients: false;
$enable-shadows: true;
// transition-duration
$transitionDurationNormal: 200ms;
// $transitionDurationLong: 300ms;
// link
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: $primary !default;
$link-hover-decoration: underline !default;
$link-icon-padding-right: 4px !default;
// box shadow
$box-shadow: 0 0 24px rgba(0, 0, 0, 0.18) !default;
$enable-shadows: false !default;
// font
$font-family-sans-serif: 'Helvetica Neue', 'Hiragino Sans GB', 'stheiti', 'Microsoft Yahei', '微软雅黑', tahoma, 'sans-serif' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 0.875rem !default; // 14px
$font-size-lg: 1.25rem !default; // 20px
$font-size-sm: 0.75rem !default; // 12px
// 扩展
$font-size-md: 1rem !default; // 16px
$font-size-max-lg: 3.25rem !default; // 补充字体大小 52px
$font-size-xs: 0.625rem !default; // 10px
// code
$code-color: $danger !default;
$code-font-size: 0.875rem !default;

$input-btn-padding-y: 0.469rem !default;
$input-btn-padding-x: 1.625rem !default; // 1.313rem  !default;
$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-padding-y-lg: 0.656rem !default;
// $input-btn-line-height: $line-height-base !default;
$input-btn-focus-width: 0.0625rem !default; // 1px
// Buttons
$btn-border-radius: 1.25rem !default;
$btn-border-radius-lg: 1.65rem !default;
$btn-border-radius-sm: 1rem !default;
$btn-border-radius-xs: 0.75rem !default;
$btn-box-shadow: null !default;
// $btn-padding-y: 0.469rem; //108*38px
// $btn-padding-x: 2.438rem;
$btn-padding-y-md: 0.407rem !default; // 100*36px 变种按钮大小
$btn-padding-x-md: 22px !default; // 1.25rem !default;
// $btn-line-height: $input-btn-line-height;
$btn-padding-y-sm: 0.157rem !default; // 70*28px
$btn-padding-x-sm: 20px !default;
// $btn-line-height-sm: $input-btn-line-height-sm;
$btn-padding-y-lg: 0.5rem !default;
$btn-padding-x-lg: 2.215rem !default;
$btn-padding-y-xs: 2px !default;
$btn-padding-x-xs: 15px !default;
$btn-disabled-color: $gray-400 !default;
$btn-disabled-bg-color: $gray-100 !default;
$btn-disabled-border-color: $gray-300 !default;
$btn-link-color-default: $gray-500 !default;
$btn-link-color-disabled: $gray-400 !default;
$btn-icon-light-color: $gray-300 !default;
$btn-link-disabled-color: $gray-400 !default;
$btn-icon-color: $gray-400 !default; // #cacaca
$btn-icon-thick-dashed-color: $gray-300 !default; // #ddd
$btn-icon-thick-solid-color: $gray-400 !default; // #cacaca
// min-width
$btn-base-min-width: 106px !default;
$btn-md-min-width: 70px !default;
$btn-sm-min-width: 70px !default;
$btn-xs-min-width: 60px !default;
$btn-lg-min-width: 108px !default;
// Dropdown
$dropdown-toggle-y-l: 1.25rem !default;
$dropdown-toggle-y-r: 0.938rem !default;
$dropdown-toggle-split-y: 0.625rem !default;
// Forms
$input-padding-x: 0.875rem !default; // 输入框左右 padding 和 按钮大小不一致， bootstrap 是一致的
$input-padding-x-sm: $input-padding-x !default;
$input-padding-x-lg: $input-padding-x !default;
$input-padding-y-lg: 0.657rem !default;
$input-padding-y-xs: 0.125rem !default;
$input-padding-x-xs: $input-padding-x !default;
$input-line-height-xs: 1.5 !default;
$input-border-radius-xs: 0.25rem !default;
$input-height-xs: 24px !default;
$input-height-sm: 28px !default;
$input-padding-y-md: 0.282rem !default;
$input-padding-x-md: $input-padding-x !default;
$input-line-height-md: 1.5 !default;
$input-border-radius-md: 0.25rem !default;
$input-height-md: 32px !default;
$input-focus-border-color: $primary !default;
$input-btn-focus-box-shadow: none !default;
$input-box-shadow: none !default;
$input-placeholder-color: $gray-400 !default;
$input-color: $gray-800 !default;
$input-focus-bg: transparent !default;
$input-label-color: $gray-600 !default; // label 文本的颜色，包括 Checkbox 和 Radio Label 的颜色
$input-label-checked-color: $gray-800 !default; // Checkbox 和 Radio Label 选中后的颜色
$input-border-color: $gray-200 !default;
$input-hover-border-color: $primary !default;
$input-disabled-bg: $gray-100 !default;
$input-disabled-color: $gray-600 !default;
$input-icon-color: $gray-500 !default;
$input-group-addon-color: $gray-700 !default;
$input-group-addon-bg: $gray-100 !default;
$form-text-margin-top: 0.5rem !default;
$input-ellipse-radius: 1.25rem !default;
$input-ellipse-background-color: $gray-100 !default;
$input-ellipse-focus-border-color: $primary !default;
$input-ellipse-hover-border-color: $gray-300 !default;
$input-ellipse-hover-focus-background-color: $white !default;
$input-form-check-size: 1rem !default;
$input-form-check-disable-color: $gray-400 !default;
$input-form-check-border-color: $gray-300 !default;
// PopBox
$pop-box-divider: $gray-100 !default;
$pop-box-bg-hover: $gray-100 !default;
$pop-box-text: $gray-700 !default;
$pop-box-text-hover: $gray-900 !default;
$pop-box-body-padding: 15px 20px !default;
$pop-box-footer-padding: 15px 20px !default;
$zindex-pop-box: 1080 !default;
// Layout
$layout-header-background: rgba($gray-99, 0.97) !default;
$layout-header-padding: 0 15px !default;
$layout-header-height: 50px !default;
$layout-content-background: $gray-200 !default;
$layout-content-padding: 15px 15px 15px 15px !default;
$layout-sidebar-width: 240px !default;
$layout-sidebar-background: rgba($gray-99, 0.97) !default;
$layout-sidebar-border-right: 1px solid $gray-300 !default;
$layout-sidebar-drag-background-hover: $gray-300 !default;
$layout-sidebar-drag-background-active: $primary !default;
$layout-header-height-sm: 38px !default;
$layout-content-section-background: $white !default;
$layout-content-section-margin-bottom: 15px !default;
// Tables
$table-cell-padding: 12px 15px !default;
$table-cell-padding-sm: 0.3rem !default;
$table-color: $gray-800;
$table-bg: transparent !default;
$table-accent-bg: rgba($black, 0.05) !default;
$table-hover-bg: rgba($black, 0.075) !default;
$table-active-bg: $table-hover-bg !default;
$table-margin-bottom: 1.25rem;
$table-hover-color: $gray-200;
$table-border-width: 1px !default;
$table-border-color: $gray-200 !default;
$table-head-bg: $gray-200 !default;
$table-head-color: $gray-700 !default;
$table-default-head-color: $gray-600 !default;
$table-default-cell-height: 55px !default;
$table-bordered-bg: $gray-100 !default;
$table-bordered-head-color: $gray-700 !default;
$table-draggable-icon-color: $gray-600 !default;
$table-draggable-icon-left: 10px !default;
$table-draggable-bordered-icon-padding-left: 30px !default;
// action-menu
$action-menu-bg: $white !default;
$action-menu-item-padding-x: 20px !default;
$action-menu-item-padding-y: 10px !default;
$action-menu-item-color: $gray-700 !default;
$action-menu-item-hover-color: $gray-800 !default;
$action-menu-item-icon-color: $gray-600 !default;
$action-menu-item-extend-color: $gray-400 !default;
$action-menu-item-hover-bg: $gray-100 !default;
$action-menu-divider-title-color: $gray-400 !default;
$action-menu-divider-border-color: $gray-200 !default;
// badges
$badge-font-size: 75% !default;
$badge-font-weight: normal !default;
$badge-padding-y: 0.25em !default;
$badge-padding-x: 7px !default;
$badge-border-radius: 14px !default;
$badge-pill-padding-x: 0.6em !default;
$badge-pill-border-radius: 10rem !default;
$badge-bg: $gray-200 !default; //#eee
$badge-color: $gray-600 !default; //#888
//label
$label-size-padding: 5px 10px !default;
$label-size-padding-sm: 4px 10px !default;
$label-size-padding-md: 6px 10px !default;
$label-size-padding-lg: 7px 10px !default;
$label-border-radius: 3px !default;
$label-pill-radius: 18px !default;
$label-border-radius: 3px !default;
$label-default-bg: $gray-200 !default;
$label-primary-bg: $primary !default;
$label-success-bg: $success !default;
$label-info-bg: $info !default;
$label-warning-bg: $warning !default;
$label-danger-bg: $danger !default;
//avatar
$avatar-sizes: () !default;
$avatar-sizes: map-merge(
    (
        22: 12,
        24: 12,
        30: 12,
        38: 12,
        48: 14,
        68: 16,
        110: 45,
        160: 50
    ),
    $avatar-sizes
);
// Navs
$nav-link-disabled-color: $gray-300 !default;
$nav-link-color: $gray-600 !default;
$nav-link-icon-color: $gray-500 !default;
$nav-link-primary-color: $gray-800 !default;
$nav-link-hover-color: $primary !default;
$nav-border-color: $gray-200 !default;
$nav-divider-color: $gray-200 !default;
$nav-border-bottom: 2px solid $primary !default;
$nav-border-left: 2px solid $primary !default;
$nav-link-primary-padding-y: 0.844rem !default;
$nav-link-primary-padding-x: 1rem !default;
$nav-link-primary-right: 20px !default;
$nav-link-primary-min-width: 80px !default;
$nav-link-secondary-padding-y: 0.4375rem !default;
$nav-link-secondary-padding-x: 0rem !default;
$nav-link-secondary-right: 40px !default;
$nav-link-secondary-split-right: 60px !default;
$nav-link-thirdly-padding-y: 0.532rem !default;
$nav-link-thirdly-padding-x: 0rem !default;
$nav-link-thirdly-right: 40px !default;
$nav-link-thirdly-split-line-height: 15px !default;
$nav-link-thirdly-padding-y-sm: 0.4375rem !default;
$nav-link-thirdly-padding-x-sm: 0rem !default;
$nav-link-thirdly-right-sm: 40px !default;
$nav-link-thirdly-split-line-height-sm: 11px !default;
$nav-vertical-border-left: 4px solid $primary !default;
$nav-vertical-border-left-empty: 4px solid transparent !default;
// Modals
// Padding applied to the modal body
$modal-inner-padding: 1.25rem 1.875rem 1.875rem 1.875rem !default; //
$modal-has-footer-inner-padding: 1.25rem 1.875rem 0 1.875rem !default; //
$modal-dialog-margin: 0.5rem !default;
$modal-dialog-margin-y-sm-up: 3.75rem !default; //
$modal-title-line-height: 1.5 !default;
$modal-content-bg: $white !default;
$modal-content-border-color: rgba($black, 0.2) !default;
$modal-content-border-width: 0 !default; //
$modal-content-box-shadow-xs: 0 0 1.5rem rgba($black, 0.4) !default; //
$modal-content-box-shadow-sm-up: 0 0 1.5rem rgba($black, 0.5) !default; //
$modal-backdrop-bg: $black !default;
$modal-backdrop-opacity: 0.3 !default; //
$modal-header-border-color: $gray-200 !default; //
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: 1px !default;
$modal-footer-border-width: $modal-header-border-width !default;
$modal-header-padding: 1.875rem !default; //
$modal-lg: 980px !default; //
$modal-blg: 800px !default; //稍微大点，自定义属性
$modal-md: 660px !default; //
$modal-sm: 400px !default; //
$modal-transition: transform 0.3s ease-out !default;
// Dialog
$dialog-max-lg: 980px !default; //
$dialog-lg: 800px !default;
$dialog-md: 660px !default; //
$dialog-sm: 400px !default; //
// Card
$card-title-icon-color: $primary !default;
$card-title-color: $gray-700 !default;
$card-title-info-color: $gray-500 !default;
//Datepicker
$datepicker-z-index: 1100 !default;
// Notify
$notify-bg: $white !default;
$notify-box-shadow: $box-shadow !default;
$notify-close-color: $gray-400 !default;
$notify-close-hover-color: $gray-600 !default;
$notify-success: $success !default;
$notify-info: $info !default;
$notify-warning: $warning !default;
$notify-danger: $danger !default;
$notify-success-icon-font-size: 23px !default;
$notify-info-icon-font-size: 23px !default;
$notify-warning-icon-font-size: 18px !default;
$notify-danger-icon-font-size: 15px !default;
$notify-success-icon-padding: 2px !default;
$notify-info-icon-padding: 2px !default;
$notify-warning-icon-padding: 4px 5px 4px 4px !default;
$notify-danger-icon-padding: 6px !default;
$notify-title-color: $gray-800 !default;
$notify-content-color: $gray-700 !default;
// Pagination
$pagination-padding-y: 5px !default;
$pagination-padding-x: 10px !default;
$pagination-padding-y-sm: 1px !default;
$pagination-padding-x-sm: 5px !default;
$pagination-padding-y-lg: 8px !default;
$pagination-padding-x-lg: 16px !default;
$pagination-line-height: 1.42 !default;
$pagination-color: $link-color !default;
$pagination-bg: $white !default;
$pagination-border-width: 1px !default;
$pagination-border-color: $gray-200 !default;
$pagination-focus-box-shadow: none !default;
$pagination-hover-color: $link-hover-color !default;
$pagination-hover-bg: $white !default;
$pagination-hover-border-color: $gray-200 !default;
$pagination-active-color: $white !default;
$pagination-active-bg: $primary !default;
$pagination-active-border-color: $primary !default;
$pagination-disabled-color: $gray-400 !default;
$pagination-disabled-bg: $white !default;
$pagination-disabled-border-color: $gray-200 !default;
//close
$close-font-size: $font-size-md !default;
$close-font-weight: normal !default;
$close-color: $black !default;
$close-text-shadow: 0 1px 0 $white !default;
$empty-text-color: $gray-400 !default;
$empty-icon-color: $gray-200 !default;
$empty-text-size: $font-size-base !default;
$empty-icon-size: 3.125rem !default;
$empty-text-size-lg: $font-size-md !default;
$empty-icon-size-lg: 5rem !default;
//util
$operation-link-margin-y: 20px !default;
//switch
// $switch-lg-width: 48px !default;
// $switch-lg-height: 28px !default;
$switch-width: 42px !default;
$switch-height: 24px !default;
$handle-margin: 2px !default;
$switch-sm-width: 36px !default;
$switch-sm-height: 20px !default;
$switch-xs-width: 24px !default;
$switch-xs-height: 16px !default;
//Transfer
$transfer-width: 600px !default;
$transfer-list-header-padding: 10px 0 !default;
$transfer-list-header-font-color: $gray-600 !default;
$transfer-list-header-font-size: $font-size-base !default;
$transfer-list-border-width: 1px !default;
$transfer-list-border-color: $gray-200 !default;
$transfer-list-border-radius: 5px !default;
$transfer-list-width: 270px !default;
$transfer-list-height: 360px !default;
$transfer-list-padding: 10px 0 !default;
$transfer-list-item-padding: 0 20px !default;
$transfer-list-item-line-hight: 38px !default;
$transfer-list-item-hover-color: $gray-200 !default;
$transfer-operation-padding: 0 10px !default;
$transfer-operation-font-size: $font-size-base * 2 !default;
$transfer-operation-color: $gray-600 !default;
//progress
$progress-height: 10px !default;
$progress-height-sm: 6px !default;
$progress-height-xs: 4px !default;
$progress-bar-bg: $gray-200 !default;
$progress-split-color: $white !default;
//Slide
$slide-header-height: 45px !default;
$slide-header-padding: 0.75rem 1.25rem !default;
$slide-body-content-padding: 0 1.25rem 0.75rem 1.25rem !default;
$slide-divider: $gray-100 !default;
//tree
$tree-node-padding: 0 0 0 15px !default;
$tree-node-wrapper-padding: 0 5px !default;
$tree-node-wrapper-height: 44px !default;
$tree-node-wrapper-line-height: 44px !default;
$tree-node-wrapper-border-bottom: 1px solid $gray-200 !default;
$tree-node-wrapper-active-border-color: rgba($primary, 0.3) !default;
$tree-node-wrapper-active-background-color: rgba($primary, 0.1) !default;
$tree-node-wrapper-hover-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.08) !default;
// stepper
$stepper-header: 70px !default;
$stepper-padding: 0 50px !default;
$stepper-header-padding: 0 5px !default;
$stepper-number-size: 24px !default;
$stepper-selected-icon-bottom: -24px !default;
$stepper-label-padding: 0 10px !default;
$stepper-line-margin: 0 10px 0 0 !default;
$stepper-line-min-width: 30px !default;

//#region scrollbar
$scrollbar-track-piece: $gray-200 !default;
$scrollbar-thumb: $gray-300 !default;
// #endregion

// breadcrumb

$breadcrumb-separator-color: $gray-500 !default;
$breadcrumb-text-color: $gray-500 !default;
$breadcrumb-active-color: $gray-800 !default;

// thyMenu
$menu-height: 42px !default;
$menu-shadow: 0 0 8px 2px $gray-200 !default;
$menu-item-padding: 0 20px !default;
$menu-group-header-padding: 0 1020px !default;
$menu-group-margin-left: 15px !default;
$menu-divider-margin: 10px 20px !default;
