$primary-theme: #22d7bb;
// $secondary-theme: $gray-600;
$success-theme: #22d7bb;
$info-theme: #2dbcff;
$warning-theme: #ffc442;

$primary-active-theme: #18bfa4;
$bg-color-item-active-theme: #e7f9f6; // item 选中背景色, 项目或者任务列表选中