// gray color
$white: #fff;
$gray-99:#fdfdfd; // 内容区域背景色
$gray-100: #f3f3f3; // 搜索框背景色，消息栏置顶色, 完成任务卡片颜色
$gray-200: #eee; // 模块左侧导航鼠标移上去的阴影, 次分割线，部分控件描边, 消息评论图标使用
$gray-210:#e9e9e9; //整块区域的背景色为 #f3f3f3 后，某个卡片模块的背景色，用于文件详情
$gray-300: #ddd; // 主分割线, 进度条背景色，三级图标色
$gray-400: #cacaca; // 搜索框默认文字， 禁用图标颜色, 部分图标颜色,
$gray-500: #aaa; // 添加参与人,负责人等操作图标的边框颜色,说明文字, 搜索框文字
$gray-600: #888; // 次要文字,如 Tab 切换文字
$gray-700: #666; // 主要文字
$gray-800: #333; // 标题和重点文字
$gray-900: #212529;
$black: #000;

// color
$body-color: $gray-800;

$primary: #22d7bb !default;
$secondary: #aaa !default;
$success: #22d7bb !default;
$info: #2dbcff !default;
$warning: #ffc442 !default;
$danger: #ff5b57 !default;
// $light : $gray-100;
// $dark : $gray-800;
// enable-gradients
$enable-gradients: false;
$enable-shadows: true;

// link
$link-color: $primary;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration: underline;

// font
$font-family-sans-serif: 'Helvetica Neue','Hiragino Sans GB','stheiti','Microsoft Yahei','微软雅黑',tahoma,'sans-serif';
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas "Liberation Mono","Courier New",monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 0.875rem; // 14px
$font-size-lg: 1.25rem; // 20px
$font-size-sm: 0.75rem; // 12px
// 扩展
$font-size-md: 1rem; // 16px
$font-size-max-lg: 3.25rem; // 补充字体大小 52px
$font-size-min-sm: 0.625rem; // 10px

// code
$code-color: $danger;

// Buttons
$btn-border-radius: 1.25rem;
$btn-border-radius-lg: 1.25rem;
$btn-border-radius-sm: 1rem;
$btn-box-shadow: null;
$btn-padding-y: 0.469rem;//108*38px
$btn-padding-x: 2.438rem;
$btn-padding-y-md: 0.407rem;// 100*36px 变种按钮大小 
$btn-padding-x-md: 1.25rem;
// $btn-line-height: $input-btn-line-height;
$btn-padding-y-sm: 0.25rem; // 70*28px
$btn-padding-x-sm: 1.375rem;
// $btn-line-height-sm: $input-btn-line-height-sm;
$btn-padding-y-lg: 8px;
$btn-padding-x-lg: 34px;
$btn-disabled-color: $gray-400;
$btn-disabled-bg-color: $gray-100;
$btn-disabled-border-color: $gray-300;

$btn-link-color-default: $gray-500;
$btn-link-color-disabled: $gray-400;


// Tables
$table-cell-padding:          .75rem 1rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-bg:                    transparent !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;
$table-margin-bottom:         1.25rem;
$table-hover-color:           $gray-200;

$table-border-width:          1px !default;
$table-border-color:          $gray-200 !default;

$table-head-bg:               $gray-200 !default;
$table-head-color:            $gray-700 !default;

$table-default-head-color:    $gray-600;

$table-bordered-bg:           $gray-100;
$table-bordered-head-color:   $gray-700;
