<div class="demo-layout">
  <thy-layout>
    <thy-sidebar thyWidth="240" thyIsDraggableWidth="true">
      <div class="sidebar-header">
        <span class="title cursor-pointer">侧边栏 <i class="wtf wtf-bell-lg-o text-desc"></i></span>
        <button class="action" thyButtonIcon="wtf wtf-project-add-o" thyLight="true" thySize="lg"></button>
      </div>
      <div class="sidebar-content">
        <div class="search-container">
          <thy-input-search thyTheme="ellipse" placeholder="搜索项目名称"></thy-input-search>
        </div>
        <thy-menu>
          <thy-menu-group thyTitle="工作" [thyExpand]="true" [thyShowAction]="true">
            <a thyMenuItem href="javascript:;">
              <i thyMenuItemIcon class="wtf wtf-my"></i>
              <span thyMenuItemName> 我的工作 </span>
              <i thyMenuItemAction class="wtf wtf-more-lg"></i>
            </a>

            <a thyMenuItem class="active" href="javascript:;">
              <i thyMenuItemIcon class="wtf wtf-analytic-insight"></i>
              <span thyMenuItemName> 统计报表 </span>
              <i thyMenuItemAction class="wtf wtf-more-lg"></i>
            </a>

            <a thyMenuItem href="javascript:;">
              <i thyMenuItemIcon class="wtf wtf-work-workload"></i>
              <span thyMenuItemName> 工时视图 </span>
              <i thyMenuItemAction class="wtf wtf-more-lg"></i>
            </a>
            <a thyMenuItem href="javascript:;">
              <i thyMenuItemIcon class="wtf wtf-work-timeline"></i>
              <span thyMenuItemName> 时间视图 </span>
              <i thyMenuItemAction class="wtf wtf-more-lg"></i>
            </a>
            <thy-menu-group thyTitle="工作" [thyShowAction]="true" [thyShowIcon]="true">
              <a thyMenuItem href="javascript:;">
                <i thyMenuItemIcon class="wtf wtf-my"></i>
                <span thyMenuItemName> 我的工作 </span>
                <i thyMenuItemActionclass="wtf wtf-more-lg"></i>
              </a>

              <a thyMenuItem class="active" href="javascript:;">
                <i thyMenuItemIcon class="wtf wtf-analytic-insight"></i>
                <span thyMenuItemName> 统计报表 </span>
                <i thyMenuItemAction class="wtf wtf-more-lg"></i>
              </a>

              <thy-menu-group thyTitle="工作" [thyShowAction]="true">
                <a thyMenuItem href="javascript:;">
                  <i thyMenuItemIcon class="wtf wtf-my"></i>
                  <span thyMenuItemName> 我的工作 </span>
                  <i thyMenuItemAction class="wtf wtf-more-lg"></i>
                </a>

                <a thyMenuItem class="active" href="javascript:;">
                  <i thyMenuItemIcon class="wtf wtf-analytic-insight"></i>
                  <span thyMenuItemName> 统计报表 </span>
                  <i thyMenuItemAction class="wtf wtf-more-lg"></i>
                </a>

                <a thyMenuItem href="javascript:;">
                  <i thyMenuItemIcon class="wtf wtf-work-workload"></i>
                  <span thyMenuItemName> 工时视图 </span>
                  <i thyMenuItemAction class="wtf wtf-more-lg"></i>
                </a>
                <a thyMenuItem href="javascript:;">
                  <i thyMenuItemIcon class="wtf wtf-work-timeline"></i>
                  <span thyMenuItemName> 时间视图 </span>
                  <i thyMenuItemAction class="wtf wtf-more-lg"></i>
                </a>
              </thy-menu-group>

              <a thyMenuItem href="javascript:;">
                <i thyMenuItemIcon class="wtf wtf-work-workload"></i>
                <span thyMenuItemName> 工时视图 </span>
                <i thyMenuItemAction class="wtf wtf-more-lg"></i>
              </a>
              <a thyMenuItem href="javascript:;">
                <i thyMenuItemIcon class="wtf wtf-work-timeline"></i>
                <span thyMenuItemName> 时间视图 </span>
                <i thyMenuItemAction class="wtf wtf-more-lg"></i>
              </a>
            </thy-menu-group>
          </thy-menu-group>

          <thy-menu-group thyTitle="项目" [thyExpand]="true" [thyShowAction]="true"></thy-menu-group>

          <thy-menu-divider></thy-menu-divider>

          <a thyMenuItem href="javascript:;">
            <i thyMenuItemIcon class="wtf wtf-setting-o"></i>
            <span thyMenuItemName> 配置中心 </span>
            <i thyMenuItemAction class="wtf wtf-more-lg"></i>
          </a>
          <a thyMenuItem href="javascript:;">
            <i thyMenuItemIcon class="wtf wtf-trash-o"></i>
            <span thyMenuItemName> 回收站 </span>
          </a>
        </thy-menu>
      </div>
    </thy-sidebar>
    <thy-layout>
      <thy-header thyHasBorder="true">
        <ng-template #headerTitle>
          <thy-icon class="prefix-icon" thyIconName="house-square" thyIconType="fill"></thy-icon>
          <a href="javascript:;" class="title-name">{{ title }}<thy-icon thyIconName="angle-down"></thy-icon></a>
          <!-- <span>{{ title }}</span> -->
        </ng-template>
        <ng-template #headerContent>
          <thy-nav thyType="primary" thyHorizontal="center">
            <a
              href="javascript:;"
              thyNavLink
              [thyNavLinkActive]="activeMenu === 'kanban'"
              (click)="setActiveMenu('kanban')"
              >导航一</a
            >
            <a
              href="javascript:;"
              thyNavLink
              [thyNavLinkActive]="activeMenu === 'insight'"
              (click)="setActiveMenu('insight')"
              >导航二</a
            >
            <a
              href="javascript:;"
              thyNavLink
              [thyNavLinkActive]="activeMenu === 'kanban'"
              (click)="setActiveMenu('kanban')"
              >导航三</a
            >
            <a
              href="javascript:;"
              thyNavLink
              [thyNavLinkActive]="activeMenu === 'insight'"
              (click)="setActiveMenu('insight')"
              >导航四</a
            >
          </thy-nav>
        </ng-template>
        <ng-template #headerOperation>
          <thy-nav thyType="thirdly" thyHorizontal="right">
            <a thyNavLink href="javascript:;">
              <thy-icon [thyIconName]="'edit'"></thy-icon>
              编辑
            </a>
            <a thyNavLink href="javascript:;">
              <thy-icon thyIconName="list"></thy-icon>
            </a>
          </thy-nav>
        </ng-template>
      </thy-header>
      <thy-header thyHasBorder="true">
        <ng-template #headerTitle> </ng-template>
        <ng-template #headerContent>
          <thy-breadcrumb thySeparator="slash" thyIcon="house" class="text-truncate" style="margin-right:30px;">
            <thy-breadcrumb-item>
              <a href="javascript:;">是大法师的法师的发送到发送</a>
            </thy-breadcrumb-item>
            <thy-breadcrumb-item>
              <a href="javascript:;">是大法师的法师的发送到</a>
            </thy-breadcrumb-item>
            <thy-breadcrumb-item>
              <a href="javascript:;">是大法师是大法师是大法师</a>
            </thy-breadcrumb-item>
          </thy-breadcrumb>
        </ng-template>
        <ng-template #headerOperation>
          <thy-nav thyType="thirdly" thyHorizontal="right">
            <a thyNavLink href="javascript:;">
              <thy-icon [thyIconName]="'edit'"></thy-icon>
              编辑
            </a>
            <a thyNavLink href="javascript:;">
              <thy-icon thyIconName="list"></thy-icon>
            </a>
          </thy-nav>
        </ng-template>
      </thy-header>
      <thy-layout>
        <thy-header *ngIf="activeMenu === 'kanban'" thySize="sm">
          <ng-template #headerContent>
            <thy-nav thyType="thirdly" thyHorizontal="left">
              <a href="javascript:;" thyNavLink thyNavLinkActive="true">导航一</a>
              <a href="javascript:;" thyNavLink>导航二</a>
              <a href="javascript:;" thyNavLink>导航三</a>
            </thy-nav>
          </ng-template>
        </thy-header>
        <thy-header *ngIf="activeMenu === 'insight'" thySize="sm" thyTitle="恩，我是头部标题" thyIcon="settings">
          <ng-template #headerOperation>
            <a href="javascript:;" class="">操作</a>
          </ng-template>
        </thy-header>
        <thy-content>
          <thy-content-section>
            返回 > 标题
          </thy-content-section>
          <thy-content-main>
            <thy-nav thyType="secondary" thyHorizontal="left">
              <a href="javascript:;" thyNavLink thyNavLinkActive="true">导航一</a>
              <a href="javascript:;" thyNavLink>导航二</a>
              <a href="javascript:;" thyNavLink>导航三</a>
            </thy-nav>
            <div>
              恩，我是 content
            </div>
          </thy-content-main>
        </thy-content>
      </thy-layout>
    </thy-layout>
  </thy-layout>
</div>
