<div class="demo-card demo-buttons">
  正常状态
  <button thyButton="outline-default">默认按钮</button>
  <button thyButton="outline-primary">主要按钮</button>
  <button thyButton="outline-info">信息按钮</button>
  <button thyButton="outline-warning">警告按钮</button>
  <button thyButton="outline-danger">删除按钮</button>

  <br />
  <br />
  激活状态
  <button thyButton="outline-default" class="active">默认按钮</button>
  <button thyButton="outline-primary" class="active">主要按钮</button>
  <button thyButton="outline-info" class="active">信息按钮</button>
  <button thyButton="outline-warning" class="active">警告按钮</button>
  <button thyButton="outline-danger" class="active">删除按钮</button>
  <br />
  <br />
  禁用状态
  <button thyButton="outline-default" disabled>默认按钮</button>
  <button thyButton="outline-primary" disabled>主要按钮</button>
  <button thyButton="outline-info" disabled>信息按钮</button>
  <button thyButton="outline-warning" disabled>警告按钮</button>
  <button thyButton="outline-danger" disabled>删除按钮</button>
</div>
