<div class="demo-menu-container">
  <thy-menu>
    <a thyMenuItem thyIcon="dashboard" href="javascript:;"> Dashboard </a>
    <a thyMenuItem thyIcon="list" href="javascript:;"> Projects </a>
    <a thyMenuItem thyIcon="horizontal-two-lines" href="javascript:;">
      <span thyMenuItemName>Configuration</span>
    </a>
    <thy-divider></thy-divider>
    <a thyMenuItem href="javascript:;">
      <span thyMenuItemIcon thyColor="#ff5b57"><thy-icon thyIconName="trash"></thy-icon></span> <span thyMenuItemName>回收站</span>
    </a>
  </thy-menu>
</div>
