@use "../styles/variables";

.thy-markdown-plan-text {
    .msg-inline-color {
        margin: 0 0 -1px 5px;
        display: inline-block;
        width: variables.$markdown-color-width;
        height: variables.$markdown-color-height;
        border: 1px solid variables.$markdown-color-border-color;
        border-radius: 3px;
    }
}
