@use '../../styles/variables';

.thy-table-skeleton {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;

        td,
        th {
            text-align: left;
        }
    }
    .table.table-boxed,
    .table.table-bordered {
        border-collapse: collapse;
        margin-top: -1px;
    }
}
