@use "../../styles/mixins/hover";
@use "../../styles/variables";

@mixin thy-table-scroll-left {
    .thy-table-fixed-column-right {
        box-shadow: -6px 0 6px 0 rgba(0, 0, 0, 0.05);

        & + .thy-table-fixed-column-right {
            box-shadow: none;
        }
    }
}

@mixin thy-table-scroll-right {
    .thy-table-fixed-column-left {
        box-shadow: 6px 0 6px 0 rgba(0, 0, 0, 0.05);
    }
}

// .thy-table

.thy-table-modal-wrap {
    margin: 0 -30px;
    padding: 0 30px;
    overflow-y: auto;
    max-height: 400px;

    thy-table {
        .table {
            margin-bottom: 0;
        }

        .pagination {
            margin-bottom: 0;
        }
    }
}

.thy-operation-links {
    > button,
    > a {
        display: inline-block;
        margin-right: variables.$operation-link-margin-y;

        &:last-child {
            margin-right: 0;
        }
    }
}

.thy-table {
    display: flex;
    flex-direction: column;
    flex: auto;

    .thy-table-empty {
        display: flex;
        min-height: 280px;
        flex: auto;
        flex-direction: column;
        justify-content: center;
    }

    .thy-table-group {
        &:hover {
            cursor: pointer;
            background-color: variables.$table-hover-color;
        }

        td {
            padding: 0;
        }

        .thy-table-group-container {
            display: flex;
            align-items: center;
            padding-left: 16px;

            .expand-icon {
                color: variables.$gray-500;
                margin-right: 8px;
            }
        }
    }

    .thy-table-column-sortable {
        &-icon {
            vertical-align: middle;
            cursor: pointer;
            color: variables.$gray-300;
            &.desc {
                color: variables.$gray-300;
                svg g path:last-child {
                    fill: variables.$primary;
                }
            }
            &.asc {
                color: variables.$primary;
                svg g path:last-child {
                    fill: variables.$gray-300;
                }
            }
        }
    }

    .tree-expand-icon {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -8px;
        color: variables.$gray-500;
    }

    .thy-table-checkbox-column {
        line-height: initial;
    }

    &.thy-table-hover-display-operation {
        .thy-operation-links {
            a,
            button {
                visibility: hidden;
            }
        }

        table {
            tr {
                @include hover.hover {
                    .thy-operation-links {
                        a,
                        button {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    .thy-table-item-hover-display-operation {
        .thy-operation-links {
            a,
            button {
                visibility: hidden;
            }
        }

        @include hover.hover {
            .thy-operation-links {
                a,
                button {
                    visibility: visible;
                }
            }
        }
    }

    .thy-table-footer {
        // display: flex;
        // justify-content: flex-end;

        &.thy-table-footer-has-padding {
            padding: variables.$table-footer-padding;
        }
    }

    &.thy-table-boxed {
        // 设置  border-radius
        table {
            border-collapse: separate;
            border-spacing: 0;
            border-radius: variables.$table-boxed-border-radius;

            thead {
                tr {
                    th:first-child {
                        border-top-left-radius: variables.$table-boxed-border-radius;
                    }
                    th:last-child {
                        border-top-right-radius: variables.$table-boxed-border-radius;
                    }
                }
            }
            tbody {
                tr:last-child {
                    td:first-child {
                        border-bottom-left-radius: variables.$table-boxed-border-radius;
                    }
                    td:last-child {
                        border-bottom-right-radius: variables.$table-boxed-border-radius;
                    }
                }
            }
        }
    }

    &-fixed {
        flex: auto;
        width: 100%;
        overflow-x: auto;
        position: relative;
        table {
            border-collapse: separate;
            border-spacing: 0;
        }

        .thy-table-empty {
            position: sticky;
            left: 0;
        }

        .thy-table-fixed-column-left,
        .thy-table-fixed-column-right {
            background-color: variables.$white;
            position: sticky !important;
            z-index: 50;
        }

        .table-hover {
            tbody tr {
                &:hover {
                    td {
                        background-color: variables.$table-hover-color !important;
                    }
                }
            }
        }

        .table-bordered {
            thead th,
            thead td {
                border-bottom: variables.$table-border-width solid variables.$gray-200;
            }
        }

        .table-boxed,
        .table-bordered {
            thead th,
            thead td {
                background-color: variables.$gray-100 !important;
            }
            tbody {
                th,
                td {
                    border: 0px;
                    border-right: variables.$table-border-width solid variables.$gray-200;
                }
                > tr:not(:last-child) {
                    th,
                    td {
                        // 最后一个 tr 底部不加边框，否则底部会有加粗的线，整个表格有一个边框线
                        border-bottom: variables.$table-border-width solid variables.$gray-200;
                    }
                }
            }
        }
    }

    .thy-table-bordered-theme {
        border-right: variables.$table-border-width solid variables.$gray-200;
        border-left: variables.$table-border-width solid variables.$gray-200;
    }

    &-scroll-left {
        @include thy-table-scroll-left();
    }

    &-scroll-right {
        @include thy-table-scroll-right();
    }

    &-scroll-middle {
        @include thy-table-scroll-left();
        @include thy-table-scroll-right();
    }
}

.thy-table-drag-preview {
    display: table;

    td {
        display: table-cell;
        vertical-align: middle;
        padding-left: variables.$table-draggable-first-td-padding-left;

        .table-draggable-icon {
            display: none;
        }
    }
}
