<thy-button-group class="mb-3" thySize="md" thyAppearance="outline">
  @for (item of appearances; track $index) {
    <button thyButton (click)="appearance = item" [ngClass]="{ active: item === appearance }">
      {{ item }}
    </button>
  }
</thy-button-group>

<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <input thyInput [(ngModel)]="value" [thyAppearance]="appearance" [placeholder]="appearance" />
  </div>
  <div thyCol [thySpan]="12">
    <thy-input [(ngModel)]="value" [thyAppearance]="appearance" [thyPlaceholder]="appearance"></thy-input>
  </div>
</div>
