<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <!-- @for (item of appearances; track item.value) {
      <div class="mb-3"> -->
    <input thyInput [(ngModel)]="value" [thyAppearance]="'outline'" [placeholder]="'outline'" />
    <input thyInput [(ngModel)]="value" [thyAppearance]="'subtle'" [placeholder]="'subtle'" class="mt-3" />
    <input thyInput [(ngModel)]="value" [thyAppearance]="'ghost'" [placeholder]="'ghost'" class="mt-3" />
    <!-- </div> -->
    <!-- } -->
  </div>
  <div thyCol [thySpan]="12">
    <thy-input [(ngModel)]="value" [thyAppearance]="'outline'" [thyPlaceholder]="'outline'" [disabled]="true"></thy-input>
    <thy-input [(ngModel)]="value" [thyAppearance]="'subtle'" [thyPlaceholder]="'subtle'" class="mt-3" [disabled]="true"></thy-input>
    <thy-input [(ngModel)]="value" [thyAppearance]="'ghost'" [thyPlaceholder]="'ghost'" class="mt-3" [disabled]="true"></thy-input>
  </div>
</div>
