<thy-dropdown-menu *ngIf="!hiddenMenu" class="thy-date-range-action-menu-container">
  <a thyDropdownMenuItem href="javascript:;" *ngFor="let dateRange of optionalDateRanges" (click)="_selectDateRange(dateRange)">
    <span thyDropdownMenuItemName>{{ dateRange?.text }}</span>
    <span thyDropdownMenuItemExtendIcon *ngIf="dateRange.key === selectedDate?.key">
      <thy-icon class="text-primary" thyIconName="check"></thy-icon>
    </span>
  </a>
  <a
    thyDropdownMenuItem
    href="javascript:;"
    thyRangePicker
    [(ngModel)]="selectedDate"
    [thyMinDate]="minDate"
    [thyMaxDate]="maxDate"
    [thyDisabledDate]="disabledDate"
    (ngModelChange)="_selectedCustomDate($event)"
    (thyOnCalendarChange)="calendarChange($event)"
  >
    <span thyDropdownMenuItemName>{{ customValue }}</span>
    <span thyDropdownMenuItemExtendIcon *ngIf="customKey === selectedDate?.key">
      <thy-icon class="text-primary" thyIconName="check"></thy-icon>
    </span>
  </a>
</thy-dropdown-menu>
