@if (!hiddenMenu) {
  <thy-dropdown-menu thyImmediateRender class="thy-date-range-dropdown-menu-container">
    @for (dateRange of optionalDateRanges; track $index) {
      <a thyDropdownMenuItem href="javascript:;" (click)="_selectDateRange(dateRange)">
        <span thyDropdownMenuItemName>{{ dateRange?.text }}</span>
        @if (dateRange.key === selectedDate?.key) {
          <span thyDropdownMenuItemExtendIcon>
            <thy-icon class="text-primary" thyIconName="check"></thy-icon>
          </span>
        }
      </a>
    }
    <a
      thyDropdownMenuItem
      href="javascript:;"
      thyRangePicker
      [(ngModel)]="selectedDate"
      [thyMinDate]="minDate"
      [thyMaxDate]="maxDate"
      [thyDisabledDate]="disabledDate"
      (ngModelChange)="_selectedCustomDate($event)"
      (thyOnCalendarChange)="calendarChange($event)">
      <span thyDropdownMenuItemName>{{ 'dateRange.custom' | translate }}</span>
      @if (customKey === selectedDate?.key) {
        <span thyDropdownMenuItemExtendIcon>
          <thy-icon class="text-primary" thyIconName="check"></thy-icon>
        </span>
      }
    </a>
  </thy-dropdown-menu>
}
