.thy-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1 1 auto;
    padding: 2px 0px;
    .thy-list-item {
        padding: 10px 10px;
        &:hover,
        &.hover {
            @include item-box-shadow();
        }
        &:not(.disabled).active {
            background: rgba($primary, .1);
            color: $primary;
        }
        &.disabled {
            background: none;
            color: $gray-400;
            cursor: default; // not-allowed;
        }
    }
}