.thy-list {
    display: block;
    overflow: auto;
    flex: 1 1 auto;
    padding: 2px 0px;
}

.thy-list-option,
.thy-list-item {
    padding: 0.594rem 10px;
    @include thy-option-common-layout();
    @include thy-option();

    &.cdk-drag .cdk-drag-handle,
    &.thy-sortable-item .thy-sortable-handle {
        padding: 0px 5px 0 4px;
        margin-left: -20px;
    }
}

.thy-multiple-selection-list {
    .thy-list-option {
        @include thy-multiple-option();
    }
}
