.thy-list {
    display: block;
    overflow: auto;
    flex: 1 1 auto;
    padding: 2px 0px;
    &-split {
        .thy-list-item {
            border-bottom: $thy-list-item-border-bottom;
        }
    }
}

.thy-list-option,
.thy-list-item {
    padding: 0.594rem 10px;
    @include thy-option-common-layout();

    &.cdk-drag,
    &.thy-sortable-item {
        .cdk-drag-handle,
        .thy-sortable-handle,
        .drag-handle {
            padding: 0px 5px 0 4px;
            margin-left: -20px;
        }
    }
}

.thy-list-option {
    @include thy-option();
}

.thy-list-item {
    @include thy-option($gray-80);
}

.thy-multiple-selection-list {
    .thy-list-option {
        @include thy-multiple-option();
    }
}

.thy-grid-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 10px;
    @include thy-grid-option();
}

.thy-list-sm {
    @include thy-grid-option-sm();
}

.thy-list-item-meta {
    display: flex;
    flex: 1;
    align-items: center;
    padding: $list-item-meta-padding;
    .thy-list-item-meta-content {
        flex: 1;
        margin-left: $thy-list-item-meta-content-margin-left;
        .thy-list-item-meta-title {
            font-size: $thy-list-item-meta-title-font-size;
            color: $gray-800;
        }
        .thy-list-item-meta-description {
            margin-top: $thy-list-item-meta-description-margin-top;
            color: $gray-600;
        }
    }
}
