<!-- tabs nav -->
<thy-nav
  class="thy-tabs-nav"
  [thyType]="thyType"
  [thySize]="thySize"
  [thyExtra]="thyExtra"
  [thyVertical]="thyPosition === 'left'"
  [thyResponsive]="thyResponsive"
>
  <a
    href="javascript:;"
    thyNavItem
    [id]="tab.id"
    [thyNavItemDisabled]="tab.thyDisabled"
    [thyNavItemActive]="(tab.id && activeTabId && tab.id === activeTabId) ?? i === activeTabIndex"
    *ngFor="let tab of tabs; let i = index; trackBy: tabTrackBy"
    (click)="activeTab(tab, i)"
  >
    <ng-container *ngIf="tab.titleTemplateRef; else titleName">
      <ng-template [ngTemplateOutlet]="tab.titleTemplateRef"></ng-template>
    </ng-container>
    <ng-template #titleName>
      {{ tab.thyTitle }}
    </ng-template>
  </a>
</thy-nav>
<!-- tabs content -->
<div class="thy-tabs-content" [class.thy-tabs-content-animated]="tabPaneAnimated" [style.margin-left]="getTabContentMarginLeft()">
  <div
    thyTabContent
    *ngFor="let tab of tabs; let i = index; trackBy: tabTrackBy"
    [active]="(tab.id && activeTabId && tab.id === activeTabId) ?? i === activeTabIndex"
    [content]="tab.content"
    [tabPaneAnimated]="tabPaneAnimated"
  ></div>
</div>
