<!-- tabs nav -->
<thy-nav
  class="thy-tabs-nav"
  [thyType]="thyType"
  [thySize]="thySize"
  [thyExtra]="thyExtra"
  [thyVertical]="thyPosition === 'left'"
  [thyResponsive]="thyResponsive"
  >
  @for (tab of tabs; track tabTrackBy(i, tab); let i = $index) {
    <a
      href="javascript:;"
      thyNavItem
      [id]="tab.id"
      [thyNavItemDisabled]="tab.thyDisabled"
      [thyNavItemActive]="(tab.id && activeTabId && tab.id === activeTabId) ?? i === activeTabIndex"
      (click)="activeTab(tab, i)"
      >
      @if (tab.titleTemplateRef) {
        <ng-template [ngTemplateOutlet]="tab.titleTemplateRef"></ng-template>
      } @else {
        {{ tab.thyTitle }}
      }
    </a>
  }
</thy-nav>
<!-- tabs content -->
<div class="thy-tabs-content" [class.thy-tabs-content-animated]="tabPaneAnimated" [style.margin-left]="getTabContentMarginLeft()">
  @for (tab of tabs; track tabTrackBy(i, tab); let i = $index) {
    <div
      thyTabContent
      [active]="(tab.id && activeTabId && tab.id === activeTabId) ?? i === activeTabIndex"
      [content]="tab.content"
      [tabPaneAnimated]="tabPaneAnimated"
    ></div>
  }
</div>
