<div class="selection-list-wrapper" #body>
  <thy-selection-list
    [(ngModel)]="selectionModel.selectedValues"
    [thyMultiple]="true"
    [thyBeforeKeydown]="thyBeforeKeydown"
    [thyBindKeyEventContainer]="body"
    (thySelectionChange)="selectionChange($event)"
    >
    @for (item of items; track item) {
      <thy-list-option [thyDisabled]="item.id === 3" [thyValue]="item?.id">
        {{ item.name }}
      </thy-list-option>
    }
  </thy-selection-list>

  <h6 class="my-3">已选择的值：</h6>
  <p>{{ selectionModel.selectedValues | json }}</p>
</div>
