<form thyForm name="demoForm" [thyLayout]="'inline'">
  <thy-form-group thyLabelText="Size Threshold">
    <input thyInput name="username" type="number" [(ngModel)]="sizeThreshold" required placeholder="请输入用户名" />
  </thy-form-group>
  <thy-form-group thyLabelText="" thyLabelRequired>
    <label thyCheckbox name="multiple" [(ngModel)]="multiple">Multiple</label>
  </thy-form-group>
</form>
<thy-file-select
  class="mt-2 d-inline-block"
  [thyMultiple]="multiple"
  [thySizeThreshold]="sizeThreshold"
  [thySizeExceedsHandler]="sizeExceedsHandler"
  (thyOnFileSelect)="selectFiles($event)"
>
  <button thyButton="primary">上传</button>
</thy-file-select>
<div *ngFor="let queueFile of queueFiles">
  <div style="margin: 5px 0;">
    {{ queueFile.fileName }} speed: {{ queueFile.progress.speedHuman }}, estimatedTime - {{ queueFile.progress.estimatedTimeHuman }}
  </div>
  <thy-progress class="progress" type="success" [thyValue]="queueFile.progress.percentage"></thy-progress>
</div>
