<p>限制上传文件大小为20M</p>
<thy-file-select class="mt-2 d-inline-block" [thyAcceptMaxSize]="20" (thyOnFileSelect)="selectFiles($event)">
  <button thyButton="primary">上传</button>
</thy-file-select>
<div *ngFor="let queueFile of queueFiles">
  <div style="margin: 5px 0;">
    {{ queueFile.fileName }} speed: {{ queueFile.progress.speedHuman }}, estimatedTime - {{ queueFile.progress.estimatedTimeHuman }}
  </div>
  <thy-progress class="progress" type="success" [thyValue]="queueFile.progress.percentage"></thy-progress>
</div>
