@use "../../styles/variables";
@use "mixin";

.thy-avatar-list {
    display: inline-flex;
    flex: 1;
    line-height: initial;
    width: 100%;
}

.thy-avatar-list-overlap {
    @each $size, $value in variables.$avatar-sizes {
        .thy-avatar-#{$size} {
            @include mixin.avatarSize($size, $value);
            margin-right: 0 !important;
            &:not(:first-of-type) {
                margin-left: #{- calc($size / 2)}px;
            }

            .avatar-default {
                border: 1px solid variables.$white;
            }
        }
    }
}
