.thy-avatar {
  display: inline-block;
  position: relative;

  &:hover {
    text-decoration: none;
    .avatar-remove {
      visibility: visible;
    }
  }
  .avatar-default {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    zoom: 1;
    color: $white;
    text-shadow: transparent 0 0 0;
  }
  .avatar-name {
    margin-left: 5px;
    display: inline-block;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }

  .avatar-remove {
    position: absolute;
    visibility: hidden;
    top: -7px;
    right: -5px;
  }
}

@each $size, $value in $avatar-sizes {
  .thy-avatar-#{$size} {
    @include avatarSize($size, $value);
  }
}