@use '../../styles/variables';
@use 'mixin';

.thy-avatar-list {
    display: inline-flex;
    flex: 1;
    line-height: initial;
    width: 100%;

    .thy-avatar {
        margin-right: variables.$avatar-item-space;
    }
}

.thy-avatar-list-overlap {
    @each $size, $value in variables.$avatar-sizes {
        .thy-avatar-#{$size} {
            margin-left: #{-$size * variables.$overlap-avatar-item-space-percent}px;
            margin-right: 0;
            .avatar-default,
            .avatar-avatar {
                border: 1px solid variables.$white;
            }
        }

        .thy-avatar-#{$size}:first-child {
            margin-left: 0;
        }

        .thy-avatar-append {
            padding-left: variables.$avatar-item-space;
        }
    }
}
