@use "../../styles/variables";
@use "mixin";

.thy-avatar-list {
    display: inline-flex;
    flex: 1;
    line-height: initial;
    width: 100%;

    .thy-avatar-content {
        position: relative;
        margin-right: variables.$avatar-list-space;
    }

    .thy-avatar-content-last {
        margin-right: 0;
    }

    .thy-avatar-list-append {
        padding-left: variables.$avatar-list-space;
    }
}

.thy-avatar-list-overlap {
    margin-left: -(variables.$avatar-list-overlap-space);

    .thy-avatar-content {
        margin-right: 0;
        position: relative;
        margin-left: variables.$avatar-list-overlap-space;
    }

    @each $size, $value in variables.$avatar-sizes {
        .thy-avatar-#{$size} {
            @include mixin.avatarSize($size, $value);

            .avatar-default {
                border: 1px solid variables.$white;
            }
        }
    }
}

@each $size, $value in variables.$avatar-sizes {
    .more-#{$size} {
        @include mixin.avatarMoreSize($size, $value);
        background-color: rgba(variables.$black, 0.3);
        color: variables.$white;
        position: absolute;
        left: 0;
        top: 0;
    }
}
