@mixin avatarSize($size, $font-size: 12px) {
    img,
    .avatar-default {
        width: #{$size}px;
        height: #{$size}px;
        border-radius: 50%;
        line-height: #{$size}px;
        font-size: #{$font-size}px;
        vertical-align: middle;
        div {
            display: inline-block;
            @if $size == 24 {
                transform: scale(0.9);
            }
        }
    }
    .thy-avatar-disabled {
        width: #{$size}px;
        height: #{$size}px;
        &-icon {
            font-size: #{$size - ($size * 0.25)}px;
        }
    }
}
