// @mixin avatarSize($size, $fontsize: 12px) {
//     &-#{$size} {
//         img,
//         .avatar-default {
//             width: #{$size}px;
//             height: #{$size}px;
//             border-radius: 50%;
//             line-height: #{$size}px;
//             font-size: #{$fontsize}px;
//             vertical-align: middle;
//             div {
//                 display: inline-block;
//                 @if $size == 24 {
//                     transform: scale(0.9);
//                 }
//             }
//         }
//     }
// }

@mixin avatarSize($size, $fontsize: 12px) {
        img,
        .avatar-default {
            width: #{$size}px;
            height: #{$size}px;
            border-radius: 50%;
            line-height: #{$size}px;
            font-size: #{$fontsize}px;
            vertical-align: middle;
            div {
                display: inline-block;
                @if $size == 24 {
                    transform: scale(0.9);
                }
            }
        }
}