<thy-alert thyTheme="bordered" thyType="primary" thyMessage="Additional description and information about copywriting."></thy-alert>
<thy-alert thyTheme="bordered" thyType="success" thyMessage="Well done! You successfully read this important alert message."></thy-alert>
<thy-alert thyTheme="bordered" thyType="warning" thyMessage="Warning! Better check yourself, you're not looking too good."></thy-alert>
<thy-alert thyTheme="bordered" thyType="danger" thyMessage="Oh snap! Change a few things up and try submitting again."></thy-alert>
<thy-alert thyTheme="bordered" thyType="info" thyMessage="Additional description and information about copywriting."></thy-alert>
