<div>
    <thy-avatar thyName="路晓贝" thySize="24" [thyShowName]="true"></thy-avatar>
    <thy-avatar thyName="luxiaobei" thySize="30" [thyShowName]="false"></thy-avatar>
    <thy-avatar [thySrc]="avatarFullUrl" thyName="路晓贝" thySize="38" [thyShowName]="true"></thy-avatar>
    <thy-avatar [thySrc]="avatarFullUrl" thyName="路晓贝" thySize="48"></thy-avatar>
    <thy-avatar [thySrc]="avatarFullUrl" thySize="68"></thy-avatar>
    <thy-avatar [thySrc]="avatarFullUrl" thySize="160"></thy-avatar>
</div>
<div>
    <thy-badge [thyCount]="3" thyStatus="primary">
        <thy-avatar [thySrc]="avatarFullUrl" thySize="24"></thy-avatar>
    </thy-badge>
</div>