<div>
    <thy-avatar name="路晓贝" size="24" [showName]="true"></thy-avatar>
    <thy-avatar name="luxiaobei" size="30" [showName]="false"></thy-avatar>
    <thy-avatar src="https://s3.cn-north-1.amazonaws.com.cn/lcavatar/dfea7c36-5147-4569-8910-829137920172_80x80.png" name="路晓贝" size="38" [showName]="true"></thy-avatar>
    <thy-avatar src="https://s3.cn-north-1.amazonaws.com.cn/lcavatar/dfea7c36-5147-4569-8910-829137920172_80x80.png" name="路晓贝" size="48"></thy-avatar>
    <thy-avatar [member]="member" size="68"></thy-avatar>
    <thy-avatar [member]="hasAvatarMember" size="160"></thy-avatar>
</div>