<div class="body">
  <thy-transfer
    [thyData]="transferData"
    [thyTitles]="['数据源', '已选中']"
    [thyRightDraggable]="true"
    [thyRightCanLock]="true"
    [thyRightLockMax]="maxLock"
    (thyDraggableUpdate)="onDragUpdate($event)"
    (thyChange)="onTransferChange($event)"
  >
  </thy-transfer>
</div>
<div class="my-2">
  锁定：<span class="px-2" *ngFor="let item of lockItems">{{ item.title }}</span>
</div>
<div class="my-2">
  未锁定：<span class="px-2" *ngFor="let item of unlockItems">{{ item.title }}</span>
</div>
