<div class="flexible-content">
  <div class="flexible-top">
    <thy-space class="mt-4">
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="topLeft">
        【topLeft】{{ text }}
      </span>
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="top"
        >【top】{{ text }}</span
      >
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="topRight">
        【topRight】{{ text }}
      </span>
    </thy-space>
  </div>
  <div class="flexible-left">
    <thy-space class="mt-4">
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="leftTop">
        【leftTop】{{ text }}
      </span>
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="left"
        >【left】{{ text }}</span
      >
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="leftBottom">
        【leftBottom】{{ text }}
      </span>
    </thy-space>
  </div>
  <div class="flexible-right">
    <thy-space class="mt-4">
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="rightTop">
        【rightTop】{{ text }}
      </span>
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="right"
        >【right】{{ text }}</span
      >
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="rightBottom">
        【rightBottom】{{ text }}
      </span>
    </thy-space>
  </div>
  <div class="flexible-bottom">
    <thy-space class="mt-4">
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="bottomLeft">
        【bottomLeft】{{ text }}
      </span>
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="bottom">
        【bottom】{{ text }}
      </span>
      <span class="flexible-item" *thySpaceItem thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="bottomRight">
        【bottomRight】{{ text }}
      </span>
    </thy-space>
  </div>
</div>
