<div class="demo-inner-wrapper demo-layout-backdrop flexible-content">
  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="top" class="flexible-item"> 【top】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="topLeft" class="flexible-item"> 【topLeft】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="topRight" class="flexible-item"> 【topRight】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="bottom" class="flexible-item"> 【bottom】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="bottomLeft" class="flexible-item"> 【bottomLeft】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="bottomRight" class="flexible-item">
    【bottomRight】{{ text }}
  </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="left" class="flexible-item"> 【left】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="leftTop" class="flexible-item"> 【leftTop】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="leftBottom" class="flexible-item"> 【leftBottom】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="right" class="flexible-item"> 【right】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="rightTop" class="flexible-item"> 【rightTop】{{ text }} </span>

  <span thyFlexibleText [thyTooltipContent]="text" thyTooltipPlacement="rightBottom" class="flexible-item">
    【rightBottom】{{ text }}
  </span>
</div>
