@use 'variables.scss' as variables2;

.flexible-content {
    margin-left: 60px;
    .flexible-top {
        margin-left: 60px;
    }
    .flexible-left {
        float: left;
        width: 60px;
    }
    .flexible-right {
        margin-left: 360px;
        width: 60px;
    }

    .flexible-bottom {
        margin-left: 60px;
        clear: both;
    }

    .flexible-item {
        width: 120px;
        height: 36px;
        line-height: 36px;
        border: 1px solid variables2.$gray-200;
        border-radius: 4px;
    }
}
