<ng-container>
  <ng-container *ngIf="this.thyShape === 'strip'; else circleTemplate">
    <ng-container *ngIf="isStacked; else general">
      <thy-progress-bar
        *ngFor="let item of value"
        [thyType]="item.type"
        [ngClass]="{ 'cursor-pointer': item.tips || thyTips }"
        [thyTooltip]="item.tips || thyTips"
        [thyTooltipTemplateContext]="item"
        [thyTooltipDisabled]="!thyTips && !item.tips"
        [thyColor]="item.color"
        [thyValue]="item.value"
        >{{ item.label }}
      </thy-progress-bar>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #general>
  <thy-progress-bar
    *ngIf="value"
    [thyType]="thyType"
    [ngClass]="{ 'cursor-pointer': thyTips }"
    [thyTooltip]="thyTips"
    [thyTooltipTemplateContext]="value"
    [thyTooltipDisabled]="!thyTips"
    [thyValue]="value"
  >
    <ng-template [ngTemplateOutlet]="contentTemplate"></ng-template>
  </thy-progress-bar>
</ng-template>

<ng-template #circleTemplate>
  <div
    [thyTooltip]="thyTips"
    [thyTooltipDisabled]="!thyTips"
    [style.width.px]="width"
    [style.height.px]="width"
    [style.fontSize.px]="width * 0.15 + 6"
    class="thy-progress-circle-inner"
  >
    <svg class="thy-progress-circle-svg" viewBox="0 0 100 100">
      <path
        class="thy-progress-circle-trail"
        fill-opacity="0"
        [attr.stroke-width]="strokeWidth"
        [attr.d]="pathString"
        [ngStyle]="trailPathStyle"
      ></path>
      <path
        *ngFor="let p of progressCirclePath; trackBy: trackByFn"
        class="thy-progress-circle-path"
        fill-opacity="0"
        [attr.d]="pathString"
        [attr.stroke-linecap]="'round'"
        [attr.stroke]="p.stroke"
        [attr.stroke-width]="value ? strokeWidth : 0"
        [ngStyle]="p.strokePathStyle"
      ></path>
    </svg>
    <span class="thy-progress-circle-content">
      <ng-template [ngTemplateOutlet]="contentTemplate"></ng-template>
    </span>
  </div>
</ng-template>

<ng-template #contentTemplate>
  <ng-content></ng-content>
</ng-template>
