<thy-divider thyTextDirection="center" thyText="Self 响应式"></thy-divider>

<thy-grid thyResponsive="self" thyCols="2 400:4 600:6" thyGap="4 400:8 600:12">
  <div thyGridItem class="light-blue"></div>
  <div thyGridItem class="blue"></div>
  <div thyGridItem class="light-blue"></div>
  <div thyGridItem class="blue"></div>
  <div thyGridItem class="light-blue"></div>
  <div thyGridItem class="blue"></div>
  <div thyGridItem class="light-blue"></div>
  <div thyGridItem class="blue"></div>
</thy-grid>

<thy-divider thyTextDirection="center" thyText="Screen 响应式"></thy-divider>

<thy-grid thyResponsive="screen" thyCols="2 s:3 m:4 l:5 xl:6 2xl:7" thyGap="2 s:4 m:8 l:12 xl:16 2xl:20">
  <div thyGridItem class="light-blue"></div>
  <div thyGridItem class="blue"></div>
  <div thyGridItem class="light-blue"></div>
  <div thyGridItem class="blue"></div>
  <div thyGridItem class="light-blue"></div>
  <div thyGridItem class="blue"></div>
  <div thyGridItem class="light-blue"></div>
  <div thyGridItem class="blue"></div>
</thy-grid>
