<button
  [thyTooltip]="world"
  [thyTooltipTrigger]="tooltipConfig.trigger"
  [thyTooltipTemplateContext]="{ values: [1, 2, 3, 4] }"
  [thyTooltipPlacement]="tooltipConfig.placement"
  [thyTooltipDisabled]="tooltipConfig.disabled"
  [thyTooltipOffset]="tooltipConfig.offset"
  thyButton="primary"
>
  Tooltip with Template
</button>
<ng-template #world let-data>
  <div>
    <i class="wtf wtf-help-question-o"></i>
    My custom tooltip message with template data
    <div *ngFor="let item of data.values">
      {{ item }}
    </div>
  </div>
</ng-template>
