<div>
  <thy-vote class="mr-3" [thyVoteCount]="vote_count" [thyHasVoted]="has_voted" [thySize]="'sm'" (click)="toggleVote($event)">
    <ng-template #voteIcon>
      <span>自定义文字</span>
    </ng-template>
  </thy-vote>

  <thy-vote class="mr-3" [thyVoteCount]="vote_count" [thyHasVoted]="has_voted" [thySize]="'sm'" (click)="toggleVote($event)">
    <ng-template #voteIcon>
      <span>😊</span>
    </ng-template>
  </thy-vote>

  <thy-vote class="mr-3" [thyVoteCount]="vote_count" [thyHasVoted]="has_voted" [thySize]="'sm'" (click)="toggleVote($event)">
    <ng-template #voteIcon>
      <svg
        width="16px"
        height="16px"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-labelledby="brightnessIconTitle"
        stroke="#333"
        stroke-width="3"
        stroke-linecap="square"
        stroke-linejoin="miter"
        fill="none"
        color="#333"
      >
        <title id="brightnessIconTitle">Brightness control</title>
        <path d="M15 6L12 3L9.00001 6H6.00001V9L3 12L6.00001 15V18H8.99999L12 21L15 18H18V15L21 12L18 9V6H15Z" />
        <path d="M16 12C16 9.79086 14.2091 8 12 8V16C14.2091 16 16 14.2091 16 12Z" />
      </svg>
    </ng-template>
  </thy-vote>

  <thy-vote class="mr-3" [thyVoteCount]="vote_count" [thyHasVoted]="has_voted" [thySize]="'sm'" (click)="toggleVote($event)">
    <ng-template #voteIcon>
      <svg
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        width="48px"
        height="48px"
        viewBox="0 0 24 24"
        aria-labelledby="anchorIconTitle"
        stroke="#2329D6"
        stroke-width="1"
        stroke-linecap="square"
        stroke-linejoin="miter"
        fill="none"
        color="#2329D6"
      >
        <title id="anchorIconTitle">Anchor</title>
        <path d="M12 20L12 7M9 10L15 10" />
        <circle cx="12" cy="5" r="2" />
        <path d="M20,14 C18.6666667,18 16,20 12,20 C8,20 5.33333333,18 4,14" />
      </svg>
    </ng-template>
  </thy-vote>
</div>
