<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <span class="d-block mb-2">文本颜色</span>
    <p class="text-body">.text-body 默认颜色</p>
    <p class="text-secondary">.text-secondary 次级颜色</p>
    <p class="text-muted">.text-muted</p>
    <p class="text-desc">.text-desc</p>
    <p class="text-placeholder">.text-placeholder</p>
    <p class="text-light bg-dark">.text-light</p>
    <p class="text-white bg-dark">.text-white</p>
    <p class="text-dark">.text-dark</p>
    <p class="text-primary">.text-primary 主色</p>
    <p class="text-info">.text-info</p>
    <p class="text-success">.text-success 成功</p>
    <p class="text-danger">.text-danger 失败</p>
    <p class="text-warning">.text-warning 警告</p>
  </div>
  <div thyCol [thySpan]="12" class="bg-items">
    <span class="d-block mb-2">背景色</span>
    <div class="bg-primary text-white">.bg-primary</div>
    <div class="bg-secondary text-white">.bg-secondary</div>
    <div class="bg-dark text-white">.bg-dark</div>
    <div class="bg-info text-white">.bg-info</div>
    <div class="bg-success text-white">.bg-success</div>
    <div class="bg-danger text-white">.bg-danger</div>
    <div class="bg-warning text-white">.bg-warning</div>
    <div class="bg-light text-dark">.bg-light</div>
    <div class="bg-lighter text-dark">.bg-lighter</div>
    <div class="bg-bright text-dark">.bg-bright</div>
    <div class="bg-content text-dark">.bg-content 内容区域背景色</div>
    <div class="bg-default text-dark">.bg-default</div>
    <div class="bg-white text-dark">.bg-white</div>
    <div class="bg-transparent text-dark">.bg-transparent</div>
  </div>
</div>
