<button thyButton thyType="primary" [thyLoading]="todosFetcher.loading()" (click)="refresh()">Refresh</button>
<button thyButton thyType="danger" [thyLoading]="todosFetcherWithError.loading()" (click)="refreshWithError()" class="ml-2">
  Refresh Error
</button>
<thy-loading [thyDone]="todosFetcher.loadingDone()"></thy-loading>

@if (todosFetcher.loadingDone()) {
  <thy-list>
    @for (todo of todos; track todo.id) {
      <thy-list-item>
        {{ todo.title }}
      </thy-list-item>
    }
  </thy-list>
}
