<thy-space>
  <button *thySpaceItem thyButton="primary">Primary</button>
  <button *thySpaceItem thyButton="info">Info</button>
  <button *thySpaceItem thyButton="warning">Warning</button>
  <button *thySpaceItem thyButton="danger">Danger</button>
  <button *thySpaceItem thyButton="success">Success</button>
</thy-space>

<thy-space class="mt-2">
  <button *thySpaceItem thyButton="primary" thyAppearance="outline">Primary</button>
  <button *thySpaceItem thyButton="info" thyAppearance="outline">Info</button>
  <button *thySpaceItem thyButton="warning" thyAppearance="outline">Warning</button>
  <button *thySpaceItem thyButton="danger" thyAppearance="outline">Danger</button>
  <button *thySpaceItem thyButton="success" thyAppearance="outline">Success</button>
</thy-space>

<div class="demo-buttons mt-2">
  <button thyButton thyAppearance="link">Default</button>
  <button thyButton="secondary" thyAppearance="link">Secondary</button>
  <button thyButton="danger-weak" thyAppearance="link">Danger Weak</button>
  <button thyButton="danger" thyAppearance="link">Danger</button>
  <button thyButton="success" thyAppearance="link">Success</button>
</div>
