<section>
    <div class="header">
        <h2>Empty 默认</h2>
    </div>
    <div class="body">
        <div class="demo-empty">
            <thy-empty></thy-empty>
        </div>
    </div>
</section>
<section>
    <div class="header">
        <h2>使用自定义 Message</h2>
    </div>
    <div class="body">
        <div class="demo-empty">
            <thy-empty [thyMessage]="'没有任何数据啊啊'"></thy-empty>
        </div>
    </div>
</section>


<section>
    <div class="header">
        <h2>使用 thyEntityNameTranslateKey</h2>
    </div>
    <div class="body">
        <div class="demo-empty">
            <thy-empty thyEntityNameTranslateKey="mission.TASK"></thy-empty>
        </div>
    </div>
</section>

<section>
    <div class="header">
        <h2>Empty 大</h2>
    </div>
    <div class="body">
        <div class="demo-empty">
            <thy-empty thySize='lg'></thy-empty>
        </div>
    </div>
</section>


<section>
    <div class="header">
        <h2>Empty 自动计算 Top</h2>
    </div>
    <div class="body">
        <div class="demo-empty">
            <thy-empty thyTopAuto="true" thyMarginTop="200"></thy-empty>
        </div>
    </div>
</section>

<api-parameters [parameters]="apiParameters"></api-parameters>