@use 'variables.scss' as variables2;

:host {
    &.space-align-container {
        display: flex;
        flex-wrap: wrap;

        .space-align-example {
            border: 1px solid #348fe4;
            padding: 2px 4px;
            margin: 8px 4px;
        }
    }

    .block {
        height: 50px;
        background: variables2.$gray-200;
        padding: 10px;
    }
}
