<thy-space class="space-align-example" thyAlign="start">
  <ng-container *thySpaceItem>Start</ng-container>
  <button *thySpaceItem thyButton="primary">Button</button>
  <div *thySpaceItem class="block">Block</div>
</thy-space>

<thy-space class="space-align-example" thyAlign="center">
  <ng-container *thySpaceItem>Center</ng-container>
  <button *thySpaceItem thyButton="primary">Button</button>
  <div *thySpaceItem class="block">Block</div>
</thy-space>

<thy-space class="space-align-example" thyAlign="end">
  <ng-container *thySpaceItem>End</ng-container>
  <button *thySpaceItem thyButton="primary">Button</button>
  <div *thySpaceItem class="block">Block</div>
</thy-space>

<thy-space class="space-align-example" thyAlign="baseline">
  <ng-container *thySpaceItem>Baseline</ng-container>
  <button *thySpaceItem thyButton="primary">Button</button>
  <div *thySpaceItem class="block">Block</div>
</thy-space>
