<div class="demo-layout-backdrop">
  <div class="demo-empty">
    <thy-empty thySize="lg">
      <ng-template #extra>
        <button thyButton="primary-square" (click)="goHome()" class="empty-button">{{ backToHome }}</button>
      </ng-template>
    </thy-empty>
  </div>
  <div class="demo-empty demo-empty-last">
    <thy-empty thySize="lg" [thyDescription]="description">
      <ng-template #extra>
        <button thyButton="primary-square" (click)="goHome()" class="empty-button">{{ backToHome }}</button>
      </ng-template>
    </thy-empty>
  </div>
</div>
