<div class="demo-layout-backdrop">
  <div class="demo-empty">
    <thy-empty thySize="lg">
      <ng-template #extra>
        <button thyButton="primary-square" (click)="goHome()" class="empty-button">返回主页</button>
      </ng-template>
    </thy-empty>
  </div>
  <div class="demo-empty demo-empty-last">
    <thy-empty thySize="lg" thyDescription="确实还没有数据啦啦啦啦">
      <ng-template #extra>
        <button thyButton="primary-square" (click)="goHome()" class="empty-button">返回主页</button>
      </ng-template>
    </thy-empty>
  </div>
</div>
