@mixin select-control-size($input-height, $input-padding-y) {
    // min-height: $input-height;
    .select-control-rendered {
        margin-top: $input-padding-y;
        .text-placeholder,
        .selected-value {
            margin-bottom: $input-padding-y;
        }
        .choice,
        .select-control-search {
            margin-bottom: $input-padding-y;
        }
    }
}
