@import './mixin.scss';

.select-control {
    position: relative;
    // min-height: $input-height;
    @include select-control-size($input-height, $input-padding-y);
    padding-right: 28px;
    &.form-control-custom {
        padding-top: 0;
        padding-bottom: 0;
    }
    &.form-control-sm {
        @include select-control-size($input-height-sm, $input-padding-y-sm);
    }
    &.form-control-md {
        @include select-control-size($input-height-md, $input-padding-y-md);
    }
    &.form-control-lg {
        @include select-control-size($input-height-lg, $input-padding-y-lg);
        .select-control-rendered {
            .choice,
            .select-control-search {
                .choice-content {
                    font-size: $font-size-lg !important;
                    height: 36px;
                    line-height: 36px;
                }
            }
        }
    }
    .search-input-field {
        width: 100%;
        padding: 0;
        border: none;
    }
    .select-control-rendered {
        position: relative;
        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            &::after {
                display: block;
                clear: both;
                height: 0;
                content: ' ';
            }
        }
        .text-placeholder,
        .selected-value {
            position: absolute;
            left: 2px;
            user-select: none;
            pointer-events: none;
            width: 100%;
        }
    }
    &.panel-is-opened {
        border-color: $primary;
        .select-control-arrow {
            svg {
                transform: rotate(180deg);
            }
        }
        &.select-control-show-search {
            .selected-value {
                opacity: 0.4;
            }
        }
        // .select-control-search {
        //     display: block;
        // }
    }
    .select-control-arrow {
        @include select-arrow-variant();
    }
    .select-control-clear {
        display: none;
        right: 12px;
        z-index: 10;
        @include absolute-vertical-align-middle(false);
    }
    &:not(.disabled):hover {
        .select-control-clear {
            display: block;
        }
    }
}
.select-control-multiple {
    &.thy-select-show-search {
        cursor: text;
    }
    .select-control-search {
        position: static;
        float: left;
        width: auto;
        max-width: 100%;
        padding: 0;
        .search-input-field {
            width: 0.75em;
            max-width: 100%;
        }
    }
    .choice {
        position: relative;
        float: left;
        max-width: 97%;
        margin-right: 6px;
        padding: 0 20px 0 10px;
        overflow: hidden;
        color: $gray-800;
        background-color: $gray-200;
        border-radius: $border-radius-sm;
        cursor: default;
        .choice-content {
            max-width: 100%;
        }
    }
    .choice-remove {
        cursor: pointer;
        @include absolute-vertical-align-middle(false);
        color: $gray-500;
        right: 4px;
    }
}
