<thy-table [thyModel]="data" thyRowKey="id">
  <thy-table-column thyTitle="Id" thyModelKey="id" thyHeaderClassName="xxxxx"></thy-table-column>
  <thy-table-column thyTitle="Name" thyModelKey="name"></thy-table-column>
  <thy-table-column thyTitle="Age" thyModelKey="age"></thy-table-column>
  <thy-table-column thyTitle="Job" thyModelKey="job"> </thy-table-column>
  <thy-table-column thyTitle="Address" thyModelKey="address" thySecondary="true"></thy-table-column>
  <thy-table-column thyTitle="" thyOperational="true">
    <ng-template #cell let-row>
      <a class="link-secondary" href="javascript:;">
        <thy-icon thyIconName="user-add"></thy-icon>
      </a>
      <a class="link-danger-weak" href="javascript:;">
        <thy-icon thyIconName="trash"></thy-icon>
      </a>
    </ng-template>
  </thy-table-column>
</thy-table>
