<div thyRow [thyGutter]="30">
  <div thyCol>
    <div class="demo-col-section">col-24</div>
  </div>
</div>

<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12"><div class="demo-col-section">col-12</div></div>
  <div thyCol [thySpan]="12"><div class="demo-col-section">col-12</div></div>
</div>

<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="8"><div class="demo-col-section">col-8</div></div>
  <div thyCol [thySpan]="8"><div class="demo-col-section">col-8</div></div>
  <div thyCol [thySpan]="8"><div class="demo-col-section">col-8</div></div>
  <div thyCol [thySpan]="8"><div class="demo-col-section">col-8</div></div>
  <div thyCol [thySpan]="8"><div class="demo-col-section">col-8</div></div>
  <div thyCol [thySpan]="8"><div class="demo-col-section">col-8</div></div>
</div>

<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="6"><div class="demo-col-section">col-6</div></div>
  <div thyCol [thySpan]="6"><div class="demo-col-section">col-6</div></div>
  <div thyCol [thySpan]="6"><div class="demo-col-section">col-6</div></div>
  <div thyCol [thySpan]="6"><div class="demo-col-section">col-6</div></div>
</div>
