<div>
  <a thyAction thyActionIcon="vertical-view-lines" href="javascript:;"></a>
  <a thyAction thyActionIcon="vertical-view-lines" thyType="success" href="javascript:;"></a>
  <a thyAction thyActionIcon="vertical-view-lines" thyType="warning" href="javascript:;"></a>
  <a thyAction thyActionIcon="vertical-view-lines" thyType="success" href="javascript:;"></a>
  <a thyAction thyActionIcon="vertical-view-lines" thyType="danger" href="javascript:;"></a>
</div>

<div class="mt-2">
  <a thyAction thyActionIcon="vertical-view-lines" href="javascript:;">Primary</a>
  <a thyAction thyActionIcon="vertical-view-lines" thyType="success" href="javascript:;">Success</a>
  <a thyAction thyActionIcon="vertical-view-lines" thyType="warning" href="javascript:;">Warning</a>
  <a thyAction thyActionIcon="vertical-view-lines" thyType="success" href="javascript:;">Success</a>
  <a thyAction thyActionIcon="vertical-view-lines" thyType="danger" href="javascript:;">Danger</a>
</div>
