<ng-container *ngIf="expandItems.length === breadcrumbItems.length; else foldMenuIcon">
  <div class="thy-breadcrumb-icon" *ngIf="svgIconName || iconClasses">
    <thy-icon *ngIf="svgIconName; else iconFont" [thyIconName]="svgIconName"></thy-icon>
    <ng-template #iconFont>
      <i [ngClass]="iconClasses"></i>
    </ng-template>
  </div>
</ng-container>
<ng-container *ngFor="let item of expandItems; trackBy: trackBy">
  <div class="thy-breadcrumb-item">
    <ng-template [ngTemplateOutlet]="item.contentRef || item.content"></ng-template>
    <thy-icon class="default-icon" thyIconName="angle-right"></thy-icon>
  </div>
</ng-container>
<ng-template #foldMenuIcon>
  <div class="thy-breadcrumb-item">
    <a href="javascript:;" class="link-muted">
      <thy-icon thyIconName="file-more" [thyActionMenuToggle]="foldMenu"></thy-icon>
    </a>
    <thy-icon class="default-icon" thyIconName="angle-right"></thy-icon>
  </div>
</ng-template>
<ng-template #foldMenu>
  <thy-action-menu class="breadcrumb-fold-items">
    <div
      thyActionMenuItem
      *ngFor="let item of foldItems; let i = index; trackBy: trackBy"
      [ngClass]="{ active: i === breadcrumbItems.length - 1 }"
    >
      <div class="thy-breadcrumb-item">
        <ng-template [ngTemplateOutlet]="item.contentRef || item.content"></ng-template>
      </div>
    </div>
  </thy-action-menu>
</ng-template>
