@if (svgIconName() || iconClasses()) {
  <div class="thy-breadcrumb-icon">
    @if (svgIconName()) {
      <thy-icon [thyIconName]="svgIconName()"></thy-icon>
    } @else {
      <i [ngClass]="iconClasses()"></i>
    }
  </div>
}

@for (item of processedItems()?.showItems; track $index) {
  <thy-breadcrumb-item class="thy-breadcrumb-item-ellipsis">
    @if (item?._id !== ellipsisItemId) {
      <ng-container *ngTemplateOutlet="itemContentTpl; context: { $implicit: item }"></ng-container>
    } @else {
      <a
        thyAction
        href="javascript:;"
        thyActionIcon="more"
        thyActiveClass="active"
        [class.disabled]="!thyExpandable()"
        class="ellipsis-action ml-n1 mr-n1"
        [thyDropdown]="ellipsisList"></a>
    }
  </thy-breadcrumb-item>
}

<ng-template #ellipsisList>
  <thy-dropdown-menu thyImmediateRender>
    @for (item of processedItems()?.ellipsisItems; track $index) {
      <a thyDropdownMenuItem href="javascript:;">
        <ng-template *ngTemplateOutlet="itemContentTpl; context: { $implicit: item }"></ng-template>
      </a>
    }
  </thy-dropdown-menu>
</ng-template>

<ng-template #itemContentTpl let-item>
  @if (itemTemplate()) {
    <ng-template *ngTemplateOutlet="itemTemplate(); context: { $implicit: item }"></ng-template>
  } @else {
    @if (item?.icon) {
      <thy-icon [thyIconName]="item.icon" class="mr-2"></thy-icon>
    }
    @if (item?.name) {
      <span>{{ item.name }}</span>
    }
  }
</ng-template>

<ng-content></ng-content>
