
<section>
    <div class="header"><h2>label</h2></div>
    <div class="body">
        <form>
            <div class="demo-input">
                <h4>Default Input Label</h4>
                <thy-input
                    thySize="lg"
                    thyLabelText="姓名"
                    thyAutofocus="true"
                    name="input-label"
                    [(ngModel)]="model.searchText"
                    placeholder="请输入您的姓名"
                ></thy-input>
                <thy-input
                    thySize=""
                    thyLabelText="姓名"
                    [thyAutofocus]="false"
                    name="input-label"
                    [(ngModel)]="model.searchText"
                    placeholder="请输入您的姓名"
                ></thy-input>
                <thy-input
                    thySize="md"
                    thyLabelText="姓名"
                    [thyAutofocus]="false"
                    name="input-label"
                    [(ngModel)]="model.searchText"
                    placeholder="请输入您的姓名"
                ></thy-input>
                <thy-input
                    thySize="sm"
                    thyLabelText="姓名"
                    [thyAutofocus]="false"
                    name="input-label"
                    [(ngModel)]="model.searchText"
                    placeholder="请输入您的姓名"
                ></thy-input>
                <thy-input
                    thySize="xs"
                    thyLabelText="姓名"
                    thyAutofocus="false"
                    name="input-label"
                    [(ngModel)]="model.searchText"
                    placeholder="请输入您的姓名"
                ></thy-input>
            </div>
        </form>
    </div>
</section>

<api-parameters
    title="thy-input-group 参数列表"
    [parameters]="apiParameters"
></api-parameters>
