<div
  cdk-overlay-origin
  thySelectControl
  (click)="toggle($event)"
  #origin="cdkOverlayOrigin"
  #trigger
  [thyPanelOpened]="panelOpen"
  [thySelectedOptions]="selectedOptions()"
  [thyIsMultiple]="isMultiple()"
  [thyShowSearch]="thyShowSearch()"
  [thyAllowClear]="thyAllowClear()"
  [thySize]="thySize()"
  [thyPlaceholder]="thyPlaceHolder()"
  [customDisplayTemplate]="selectedValueDisplayRef()"
  [thyDisabled]="disabled"
  [thyBorderless]="thyBorderless()"
  (thyOnClear)="clearSelectValue($event)"
  (thyOnRemove)="remove($event)"
  (thyOnSearch)="search($event)"
  (thyOnBlur)="onBlur($event)"
  [thyMaxTagCount]="thyMaxTagCount()"
  [thyPreset]="thyPreset()"></div>

<ng-template
  cdk-connected-overlay
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="thyHasBackdrop()"
  [cdkConnectedOverlayPositions]="dropDownPositions()"
  [cdkConnectedOverlayOrigin]="thyOrigin() || origin"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayWidth]="triggerRectWidth()"
  [cdkConnectedOverlayMinWidth]="dropDownMinWidth()"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  cdkConnectedOverlayTransformOriginOn=".thy-select-dropdown"
  (detach)="close()">
  <div
    thyStopPropagation
    [attr.tabindex]="-1"
    [ngClass]="dropDownClass()"
    [@scaleYMotion]="placement() === 'top' || placement() === 'bottom' ? 'enter' : 'void'"
    [@scaleXMotion]="placement() === 'left' || placement() === 'right' ? 'enter' : 'void'"
    [@scaleMotion]="
      placement() !== 'top' && placement() !== 'bottom' && placement() !== 'left' && placement() !== 'right' ? 'enter' : 'void'
    ">
    @if (filteredGroupsAndOptions()?.length > 0) {
      <div
        #panel
        class="thy-select-dropdown-options thy-select-dropdown-options-{{ thySize() }} thy-select-dropdown-options-with-virtual-scroll">
        <cdk-virtual-scroll-viewport
          class="thy-select-scroll-viewport"
          [itemSize]="thyItemSize()"
          [style.height.px]="virtualHeight()"
          (scrolledIndexChange)="optionsScrolled($event)"
          (mouseleave)="mouseLeaveOptions()">
          <ng-template
            cdkVirtualFor
            [cdkVirtualForOf]="filteredGroupsAndOptions()"
            [cdkVirtualForTrackBy]="trackByFn"
            [cdkVirtualForTemplateCacheSize]="0"
            let-item>
            @if (item.type === 'group') {
              <thy-option-group-render [thyGroupLabel]="item.label"></thy-option-group-render>
            } @else {
              <thy-option-render
                [thyValue]="item.value"
                [thyRawValue]="item.rawValue"
                [thyLabelText]="item.label"
                [thyShowOptionCustom]="item.showOptionCustom"
                [thySearchKey]="item.searchKey"
                [thyDisabled]="item.disabled"
                [thyTemplate]="item.template"
                [thyShowCheckedIcon]="isMultiple()"
                [thySelectedValuesMap]="selectedValuesMap()"
                [thyActivatedValue]="activatedValue()"
                (optionHover)="optionHover($event)"
                (optionClick)="optionClick($event)">
              </thy-option-render>
            }
          </ng-template>
        </cdk-virtual-scroll-viewport>
        <ng-content></ng-content>
      </div>
    } @else {
      <thy-loading [thyDone]="thyLoadState()" thySize="sm"></thy-loading>
      <div class="thy-select-empty-content">
        @if (thyLoadState()) {
          @let isSearching = keywords();
          <thy-empty
            [thyMessage]="isSearching ? thyEmptySearchMessageText() : thyEmptyStateText()"
            thySize="sm"
            [thyIconName]="emptyIcon()"></thy-empty>
        }
      </div>
    }
    @if (thyFooterTemplate()) {
      <div [class]="thyFooterClass() ? thyFooterClass() : 'thy-custom-select-footer'">
        @if (thyFooterTemplate()) {
          <ng-template [ngTemplateOutlet]="thyFooterTemplate()"></ng-template>
        }
      </div>
    }
  </div>
</ng-template>
