<div
  cdk-overlay-origin
  thySelectControl
  (click)="toggle($event)"
  #origin="cdkOverlayOrigin"
  #trigger
  [thyPanelOpened]="panelOpen"
  [thySelectedOptions]="selected"
  [thyIsMultiple]="isMultiple"
  [thyShowSearch]="thyShowSearch"
  [thyAllowClear]="thyAllowClear"
  [thySize]="thySize"
  [thyPlaceholder]="thyPlaceHolder"
  [customDisplayTemplate]="selectedValueDisplayRef"
  [thyDisabled]="disabled"
  (thyOnClear)="clearSelectValue($event)"
  (thyOnRemove)="remove($event)"
  (thyOnSearch)="onSearchFilter($event)"
></div>

<ng-template
  cdk-connected-overlay
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayPositions]="dropDownPositions"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayWidth]="triggerRect?.width"
  (attach)="onAttached()"
  (detach)="close()"
>
  <div thyStopPropagation [ngClass]="dropDownClass" (mousemove)="dropDownMouseMove($event)">
    <ng-container *ngIf="options.length > 0 || optionGroups.length > 0; else emptyPlaceholder">
      <div
        #panel
        class="thy-select-dropdown-options"
        thyScroll
        (thyOnScrolled)="onOptionsScrolled($event)"
        [thyEnable]="thyEnableScrollLoad"
      >
        <ng-content></ng-content>
        <ng-container *ngIf="isHiddenOptions">
          <thy-loading [thyDone]="thyLoadState" thySize="sm"></thy-loading>
          <thy-empty *ngIf="thyLoadState" [thyMessage]="emptySearchMessageText"></thy-empty>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #emptyPlaceholder>
      <thy-loading [thyDone]="thyLoadState" thySize="sm"></thy-loading>
      <thy-empty *ngIf="thyLoadState" [thyMessage]="emptyStateText"></thy-empty>
    </ng-template>
    <div *ngIf="thyFooterTemplate" [class]="thyFooterClass ? thyFooterClass : 'thy-custom-select-footer'">
      <ng-template *ngIf="thyFooterTemplate" [ngTemplateOutlet]="thyFooterTemplate"></ng-template>
    </div>
  </div>
</ng-template>
