<thy-range-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="dateRange"
  [thyMinDate]="minDate"
  [thyShowShortcut]="true"
  (ngModelChange)="onChange($event)"
  (thyShortcutValueChange)="shortcutValueChange($event)"
></thy-range-picker>

<thy-range-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="dateRange"
  [thyMaxDate]="maxDate"
  [thyShowShortcut]="true"
  thyShortcutPosition="bottom"
  (ngModelChange)="onChange($event)"
></thy-range-picker>

<thy-range-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="dateRange"
  [thyMinDate]="minDate"
  [thyMaxDate]="maxDate"
  [thyShowShortcut]="true"
  [thyShortcutPresets]="customShortcut"
  (ngModelChange)="onChange($event)"
></thy-range-picker>

<thy-date-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="date"
  [thyMinDate]="minDate"
  [thyShowShortcut]="true"
  (ngModelChange)="onChange($event)"
  (thyShortcutValueChange)="shortcutValueChange($event)"
></thy-date-picker>

<thy-date-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="date"
  [thyMaxDate]="maxDate"
  [thyShowShortcut]="true"
  (ngModelChange)="onChange($event)"
></thy-date-picker>

<thy-date-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="date"
  [thyMinDate]="minDate"
  [thyMaxDate]="maxDate"
  [thyShowShortcut]="true"
  thyShortcutPosition="bottom"
  (ngModelChange)="onChange($event)"
></thy-date-picker>

<br />

<thy-property-operation
  class="w-25 mb-3"
  thyLabelText="日期区间"
  [thyValue]="dateRange | thyDatePickerFormat"
  thyIcon="calendar-check"
  thyRangePicker
  [thyShowShortcut]="false"
  (thyShortcutValueChange)="shortcutValueChange($event)"
  [(ngModel)]="dateRange"
></thy-property-operation>

<br />

<thy-property-operation
  class="w-25 mb-3"
  thyLabelText="日期区间"
  [thyValue]="dateRange | thyDatePickerFormat"
  thyIcon="calendar-check"
  thyRangePicker
  [thyShowShortcut]="true"
  (thyShortcutValueChange)="shortcutValueChange($event)"
  [(ngModel)]="dateRange"
></thy-property-operation>

<br />

<thy-property-operation
  class="w-25 mb-3"
  thyLabelText="日期"
  [thyValue]="date | thyDatePickerFormat"
  thyIcon="calendar-check"
  thyDatePicker
  [thyShowShortcut]="true"
  (thyShortcutValueChange)="shortcutValueChange($event)"
  [(ngModel)]="date"
  [thyShortcutPresets]="shortcutDatePresets"
></thy-property-operation>
