<thy-properties>
  <thy-property-item thyLabelText="姓名"> 张萌 </thy-property-item>
  <thy-property-item thyLabelText="年龄">24</thy-property-item>
  <thy-property-item thyLabelText="手机/家庭电话/座机号">18500010001</thy-property-item>
  <thy-property-item>
    <ng-template #label> 爱好🏸 </ng-template>
    <thy-tag class="mr-1" thyShape="pill" thyColor="success">羽毛球</thy-tag>
    <thy-tag class="mr-1" thyShape="pill" thyColor="success">跑步</thy-tag>
    <thy-tag class="mr-1" thyShape="pill" thyColor="success">撸铁</thy-tag>
  </thy-property-item>
  <thy-property-item thyLabelText="居住地址">北京市朝阳区十八里店街道十八里店小区26号3单元10001</thy-property-item>
  <thy-property-item thyLabelText="座右铭"
    ><thy-flexible-text
      thyTooltipContent="如果只把工作当作一件差事，或者只将目光停留在工作本身，那么即使是从事你喜欢的工作，你依然无法持久地保持对工作的激情。但如果把工作当作一项事业来看待，情况就会完全不同。"
      >如果只把工作当作一件差事，或者只将目光停留在工作本身，那么即使是从事你喜欢的工作，你依然无法持久地保持对工作的激情。但如果把工作当作一项事业来看待，情况就会完全不同。</thy-flexible-text
    ></thy-property-item
  >
</thy-properties>
