<form thyForm>
  <thy-form-group thyLabelText="Placement">
    <thy-select [(ngModel)]="popoverOptions.placement" name="placement">
      <thy-option thyValue="top" thyLabelText="top"></thy-option>
      <thy-option thyValue="topLeft" thyLabelText="topLeft"></thy-option>
      <thy-option thyValue="topRight" thyLabelText="topRight"></thy-option>
      <thy-option thyValue="bottom" thyLabelText="bottom"></thy-option>
      <thy-option thyValue="bottomLeft" thyLabelText="bottomLeft"></thy-option>
      <thy-option thyValue="bottomRight" thyLabelText="bottomRight"></thy-option>
      <thy-option thyValue="left" thyLabelText="left"></thy-option>
      <thy-option thyValue="leftTop" thyLabelText="leftTop"></thy-option>
      <thy-option thyValue="leftBottom" thyLabelText="leftBottom"></thy-option>
      <thy-option thyValue="right" thyLabelText="right"></thy-option>
      <thy-option thyValue="rightTop" thyLabelText="rightTop"></thy-option>
      <thy-option thyValue="rightBottom" thyLabelText="rightBottom"></thy-option>
    </thy-select>
  </thy-form-group>
  <thy-form-group thyLabelText="Height">
    <thy-input-number [(ngModel)]="popoverOptions.height" name="height"></thy-input-number>
  </thy-form-group>
  <thy-form-group thyLabelText="MinWidth">
    <thy-input-number [(ngModel)]="popoverOptions.minWidth" name="min-width"></thy-input-number>
  </thy-form-group>
  <thy-form-group class="align-items-center" thyLabelText="OutsideClosable">
    <thy-switch class="dropdown-switch" [(ngModel)]="popoverOptions.outsideClosable" name="outsideClosable"></thy-switch>
  </thy-form-group>
</form>

<button
  class="mt-3"
  thyButton="primary"
  [thyDropdown]="menu"
  [thyPopoverOptions]="popoverOptions"
  [thyPlacement]="popoverOptions.placement"
  [thyPanelClass]="'dropdown-panel-class'">
  Dropdown <thy-icon thyIconName="caret-down"></thy-icon>
</button>

<thy-dropdown-menu #menu>
  <a thyDropdownMenuItem thyType="danger" href="javascript:;">
    <thy-icon thyIconName="trash" thyDropdownMenuItemIcon></thy-icon>
    <span thyDropdownMenuItemName>Delete</span>
  </a>
  <a thyDropdownMenuItem thyType="success" href="javascript:;">
    <thy-icon thyIconName="plus" thyDropdownMenuItemIcon></thy-icon>
    <span thyDropdownMenuItemName>New</span>
  </a>
</thy-dropdown-menu>

<thy-divider thyText="一些常用参数，比如：thyPlacement、thyMenuInsideClosable、thyPanelClass"></thy-divider>
<form thyForm>
  <thy-form-group thyLabelText="Placement">
    <thy-select [(ngModel)]="placement" name="placement">
      <thy-option thyValue="top" thyLabelText="top"></thy-option>
      <thy-option thyValue="topLeft" thyLabelText="topLeft"></thy-option>
      <thy-option thyValue="topRight" thyLabelText="topRight"></thy-option>
      <thy-option thyValue="bottom" thyLabelText="bottom"></thy-option>
      <thy-option thyValue="bottomLeft" thyLabelText="bottomLeft"></thy-option>
      <thy-option thyValue="bottomRight" thyLabelText="bottomRight"></thy-option>
      <thy-option thyValue="left" thyLabelText="left"></thy-option>
      <thy-option thyValue="leftTop" thyLabelText="leftTop"></thy-option>
      <thy-option thyValue="leftBottom" thyLabelText="leftBottom"></thy-option>
      <thy-option thyValue="right" thyLabelText="right"></thy-option>
      <thy-option thyValue="rightTop" thyLabelText="rightTop"></thy-option>
      <thy-option thyValue="rightBottom" thyLabelText="rightBottom"></thy-option>
    </thy-select>
  </thy-form-group>
  <thy-form-group thyLabelText="Panel Class">
    <input thyInput [(ngModel)]="panelClass" name="panelClass" />
  </thy-form-group>
  <thy-form-group class="align-items-center" thyLabelText="InsideClosable">
    <thy-switch [(ngModel)]="insideClosable" name="insideClosable"></thy-switch>
  </thy-form-group>
</form>

<button
  class="mt-3"
  thyButton="primary"
  [thyDropdown]="menu"
  [thyPlacement]="placement"
  [thyPanelClass]="panelClass"
  [thyMenuInsideClosable]="insideClosable">
  Dropdown <thy-icon thyIconName="caret-down"></thy-icon>
</button>
