<table class="table" [ngClass]="[themeClass,className]">
    <thead>
        <tr>
            <th *ngFor="let column of columns" [ngClass]="column.headerClassName">{{column.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of model">
            <td *ngFor="let column of columns" [ngClass]="column.className" [width]="column.width">
                <ng-container *ngIf="column.model">
                    <ng-container *ngIf="!column.type">
                        {{getModelValue(row,column.model)}}
                    </ng-container>
                    <!--custom type-->
                    <ng-container *ngIf="column.type">
                        <ng-container *ngIf="column.type === 'checkbox'">
                            <input type="checkbox" [(ngModel)]="row[column.key]" [disabled]="column.disabled" (ngModelChange)="onModelChange(row,column)"
                            />
                        </ng-container>
                        <ng-container *ngIf="column.type === 'radio'">
                            <input type="radio" [(ngModel)]="selectedRadioRow" [value]="row" [disabled]="column.disabled" (change)="onRadioSelectChange($event,row)"
                            />
                        </ng-container>
                    </ng-container>
                </ng-container>
                <!--template-->
                <ng-container *ngIf="!column.model && isTemplateRef(column.templateRef)">
                    <ng-template [ngTemplateOutlet]="column.templateRef" [ngTemplateOutletContext]="{$implicit : row}"></ng-template>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
<div class="clearfix" *ngIf="pagination.total > pagination.size">
    <pagination class="float-right" [directionLinks]="true" [maxSize]="6" [boundaryLinks]="false" [rotate]="false" [totalItems]="pagination.total"
    [(ngModel)]="pagination.index" [itemsPerPage]="pagination.size" (pageChanged)="onPageChange($event)"></pagination>
</div>