<section>
    <div class="header">
        <h2>Switch default</h2>
    </div>
    <div class="body">
        <div class="demo-layout">
            <thy-switch [(ngModel)]="isChecked" (ngModelChange)="switchChange()"></thy-switch>
            <br/>
            <br/>
            <pre>
&lt;thy-switch [(ngModel)]="isChecked" (ngModelChange)="switchChange()"&gt;&lt;/thy-switch&gt;
            </pre>
        </div>
    </div>
</section>


<section>
    <div class="header">
        <h2>Switch types: thyType</h2>
    </div>
    <div class="body">
        <div class="demo-layout">

            <thy-switch [class]="'mr-4'" [(ngModel)]="isChecked" (ngModelChange)="switchChange()"></thy-switch>

            <thy-switch [class]="'mr-4'" [(ngModel)]="isChecked" thyType="info" (ngModelChange)="switchChange()"></thy-switch>

            <thy-switch [class]="'mr-4'" [(ngModel)]="isChecked" thyType="warning" (ngModelChange)="switchChange()"></thy-switch>

            <thy-switch [(ngModel)]="isChecked" thyType="danger" (ngModelChange)="switchChange()"></thy-switch>
            <br/>
            <br/>
            <pre>
&lt;thy-switch [(ngModel)]="isChecked" (ngModelChange)="switchChange()"&gt;&lt;/thy-switch&gt;
&lt;thy-switch [(ngModel)]="isChecked" thyType="info" (ngModelChange)="switchChange()"&gt;&lt;/thy-switch&gt;
&lt;thy-switch [(ngModel)]="isChecked" thyType="warning" (ngModelChange)="switchChange()"&gt;&lt;/thy-switch&gt;
&lt;thy-switch [(ngModel)]="isChecked" thyType="danger" (ngModelChange)="switchChange()"&gt;&lt;/thy-switch&gt;
            </pre>
        </div>
    </div>
</section>



<section>
    <div class="header">
        <h2>Switch size: thySize</h2>
    </div>
    <div class="body">
        <div class="demo-layout">

            <!-- <thy-switch [class]="'mr-4'" [(ngModel)]="isChecked" thySize="lg" (ngModelChange)="switchChange()"></thy-switch> -->

            <thy-switch [class]="'mr-4'" [(ngModel)]="isChecked" (ngModelChange)="switchChange()"></thy-switch>

            <thy-switch [(ngModel)]="isChecked" thySize="sm" (ngModelChange)="switchChange()"></thy-switch>

            <br/>
            <br/>
            <pre>
<!-- &lt;thy-switch [(ngModel)]="isChecked" thySize="lg" (ngModelChange)="switchChange()"&gt;&lt;/thy-switch&gt; -->
&lt;thy-switch [(ngModel)]="isChecked" (ngModelChange)="switchChange()"&gt;&lt;/thy-switch&gt;
&lt;thy-switch [(ngModel)]="isChecked" thySize="sm" (ngModelChange)="switchChange()"&gt;&lt;/thy-switch&gt;
            </pre>
        </div>
    </div>
</section>


<section>
    <div class="header">
        <h2>Switch size: thyDisabled</h2>
    </div>
    <div class="body">
        <div class="demo-layout">

            <thy-switch [disabled]="true" [(ngModel)]="isChecked" (ngModelChange)="switchChange()"></thy-switch>

            <br/>
            <br/>
            <pre>
&lt;thy-switch [(ngModel)]="isChecked" [disabled]="true" (ngModelChange)="switchChange()"&gt;&lt;/thy-switch&gt;
            </pre>
        </div>
    </div>
</section>