<thy-button-group thySize="sm" thyType="outline-default">
  <button thyButton *ngFor="let item of sizes" (click)="size = item.value" [ngClass]="{ active: size === item.value }">
    {{ item.value }}（{{ item.height }}px）
  </button>
</thy-button-group>

<div style="width: 220px;" class="mt-4">
  <thy-segmented [thyOptions]="options1" [thySize]="size"></thy-segmented>
</div>

<div style="width:150px" class="mt-4">
  <thy-segmented [thyOptions]="options2" [thySize]="size"></thy-segmented>
</div>

<div class="mt-4">
  <thy-segmented [thyOptions]="options3" [thySize]="size" thyMode="adaptive"></thy-segmented>
</div>
