@use "../../styles/bootstrap/mixins/border-radius";
@use "../../styles/bootstrap/mixins/gradients";
@use "../../styles/bootstrap/mixins/transition";
@use "../../styles/bootstrap/variables" as bootstrap-variables;
@use "../../styles/variables";

@keyframes progress-bar-stripes {
    from {
        background-position: variables.$progress-height 0;
    }
    to {
        background-position: 0 0;
    }
}

@mixin set-progress-size($height) {
    height: $height;
    .progress-bar {
        overflow: hidden;
        &:before {
            left: -$height * 2 + 3;
            width: $height * 2;
            height: $height * 2;
            @include border-radius.border-radius(0 $height * 2 $height * 2 0);
        }
        &:first-child {
            @include border-radius.border-left-radius($height * 2);
        }
        &:last-child {
            @include border-radius.border-right-radius($height * 2);
        }
    }
}

// .progress 在之后会移除，使用 thy-progress 代替
.progress,
.thy-progress {
    display: flex;
    height: variables.$progress-height;
    overflow: hidden; // force rounded corners by cropping it
    font-size: bootstrap-variables.$progress-font-size;
    background-color: bootstrap-variables.$progress-bg;
    @include border-radius.border-radius(100px);
    @include set-progress-size(variables.$progress-height);
}

.progress-stacked {
    .progress-bar {
        background-color: variables.$progress-split-color;
        &:last-child {
            border-right: 1px variables.$progress-split-color solid;
        }
        .progress-bar-inner {
            @include border-radius.border-radius(0 100px 100px 0);
        }
    }
}

.progress-sm {
    @include set-progress-size(variables.$progress-height-sm);
}

.progress-xs {
    @include set-progress-size(variables.$progress-height-xs);
}

.progress-lg {
    @include set-progress-size(variables.$progress-height-lg);
}

.progress-bar {
    display: flex;
    height: 100%;
    min-width: 4px;
    flex-direction: column;
    justify-content: center;
    color: bootstrap-variables.$progress-bar-color;
    text-align: center;
    @include transition.transition(bootstrap-variables.$progress-bar-transition);
    position: relative;
    &[aria-valuenow='0'] {
        &:before {
            display: none;
        }
    }
    &:first-child {
        &:before {
            display: none;
        }
    }

    &:last-child {
        .progress-bar-inner {
            border-right: 1px variables.$progress-split-color solid;
            @include border-radius.border-radius(0 100px 100px 0);
        }
    }

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        display: block;
        background: variables.$progress-split-color;
    }

    .progress-bar-inner {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        color: bootstrap-variables.$progress-bar-color;
        background-color: variables.$primary;
        text-align: center;
    }
}

$progress-types: (
    primary: variables.$primary,
    success: variables.$success,
    warning: variables.$warning,
    danger: variables.$danger,
    default: variables.$gray-200,
    info: variables.$info
);

@each $name, $color in $progress-types {
    .progress-bar-#{$name} {
        .progress-bar-inner {
            background: $color;
        }
    }
}

.progress-bar-striped {
    @include gradients.gradient-striped();
    background-size: variables.$progress-height variables.$progress-height;
}

.progress-bar-animated {
    animation: progress-bar-stripes bootstrap-variables.$progress-bar-animation-timing;
}

.thy-progress-circle {
    background: transparent;
    height: inherit;
    &-inner {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        vertical-align: middle;
        border-radius: variables.$progress-circle-border-radius;
    }
    &-svg {
        position: relative;
        line-height: 1;
        background: transparent;
    }
    &-trail {
        stroke: variables.$progress-bg;
    }
    &-path {
        animation: thy-progress-appear 0.3s;
        stroke: variables.$primary;
    }
    &-content {
        display: inline-block;
        font-size: variables.$progress-circle-font-size;
        color: variables.$progress-circle-color;
        word-break: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}
