@use "../../styles/bootstrap/mixins/border-radius";
@use "../../styles/bootstrap/mixins/gradients";
@use "../../styles/bootstrap/mixins/transition";
@use "../../styles/bootstrap/variables" as bootstrap-variables;
@use "../../styles/variables";

@keyframes progress-bar-stripes {
    from {
        background-position: variables.$progress-height 0;
    }
    to {
        background-position: 0 0;
    }
}

@mixin set-progress-size($height) {
    height: $height;
    .progress-bar {
        overflow: hidden;
        // @include border-radius.border-radius(0 $height $height 0);
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: -$height * 2 + 3;
            display: block;
            width: $height * 2;
            height: $height * 2;
            background: variables.$progress-split-color;
            @include border-radius.border-radius(0 $height * 2 $height * 2 0);
        }
    }
}

.progress {
    display: flex;
    height: variables.$progress-height;
    overflow: hidden; // force rounded corners by cropping it
    font-size: bootstrap-variables.$progress-font-size;
    background-color: bootstrap-variables.$progress-bg;
    @include border-radius.border-radius(100px);
    @include set-progress-size(variables.$progress-height);
}

// 只有 stacked 的时候才会出现 border-right 白色
// 为了兼容之前的进度条组件，暂时没有去除 progress-bar 的 last-child border-right
.progress-stacked {
    .progress-bar {
        @include border-radius.border-radius(0);
        &:last-child {
            @include border-radius.border-radius(0 100px 100px 0);
            .progress-bar-inner {
                @include border-radius.border-radius(0 100px 100px 0);
            }
        }
        background: variables.$white;
        .progress-bar-inner {
            height: 100%;
            overflow: hidden;
            @include border-radius.border-radius(0 100px 100px 0);
        }
    }
}
.progress:not(.progress-stacked) {
    .progress-bar {
        &:last-child {
            .progress-bar-inner {
                @include border-radius.border-radius(0 100px 100px 0);
                overflow: hidden;
            }
        }
    }
}

.progress-sm {
    @include set-progress-size(variables.$progress-height-sm);
}

.progress-xs {
    @include set-progress-size(variables.$progress-height-xs);
}

.progress-lg {
    @include set-progress-size(variables.$progress-height-lg);
}

.progress-bar {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: bootstrap-variables.$progress-bar-color;
    text-align: center;
    .progress-bar-inner {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        color: bootstrap-variables.$progress-bar-color;
        text-align: center;
    }
    @include transition.transition(bootstrap-variables.$progress-bar-transition);
    position: relative;
    &[aria-valuenow='0'] {
        &:before {
            display: none;
        }
    }
    &:first-child {
        &:before {
            display: none;
        }
    }
    // 暂时兼容保留
    &:last-child {
        // border-right: 1px variables.$progress-split-color solid;
    }
}

$progress-types: (
    primary: variables.$progress-bar-primary-bg,
    success: variables.$success,
    warning: variables.$warning,
    danger: variables.$danger,
    default: variables.$gray-200,
    info: variables.$info
);
@each $name, $color in $progress-types {
    .progress-bar-inner-#{$name} {
        background: $color;
    }
}

.progress-bar-striped {
    @include gradients.gradient-striped();
    background-size: variables.$progress-height variables.$progress-height;
}

.progress-bar-animated {
    animation: progress-bar-stripes bootstrap-variables.$progress-bar-animation-timing;
}
