@use "../../styles/bootstrap/mixins/border-radius";
@use "../../styles/bootstrap/mixins/gradients";
@use "../../styles/bootstrap/mixins/transition";
@use "../../styles/bootstrap/variables" as bootstrap-variables;
@use "../../styles/variables";
@use "./progress-circle.scss";
@use "./progress-strip.scss";

@mixin set-progress-size($height) {
    &.thy-progress-strip {
        height: $height;
        background-color: bootstrap-variables.$progress-bg;
    }

    &.thy-progress-circle {
        height: inherit;
        background-color: transparent;
    }
}

// .progress 在之后会移除，使用 thy-progress 代替
.progress,
.thy-progress {
    display: flex;
    height: variables.$progress-height;
    overflow: hidden; // force rounded corners by cropping it
    font-size: bootstrap-variables.$progress-font-size;
    @include border-radius.border-radius(100px);
    @include set-progress-size(variables.$progress-height);
}

@each $size, $height in variables.$progress-size {
    .progress-#{$size} {
        @include set-progress-size($height);
    }
}

.progress-text-content:not(:empty) {
    margin-left: 8px;
}
