@keyframes progress-bar-stripes {
    from {
        background-position: $progress-height 0;
    }
    to {
        background-position: 0 0;
    }
}

@mixin set-progress-size($height, $border-radius) {
    height: $height;
    .progress-bar {
        border-radius: $border-radius;

        &:after {
            content: '';
            display: block;
            width: 3px;
            height: $height;
            background: $progress-split-color;
            border-radius: $border-radius;
            transform: scaleX(0.7) translateX(3px);
        }
    }
}

.progress {
    display: flex;
    height: $progress-height;
    overflow: hidden; // force rounded corners by cropping it
    font-size: $progress-font-size;
    background-color: $progress-bg;
    @include border-radius($progress-border-radius);
}

// 只有 stacked 的时候才会出现 border-right 白色
// 为了兼容之前的进度条组件，暂时没有去除 progress-bar 的 last-child border-right
.progress-stacked {
    .progress-bar {
        &:last-child {
            border-right: 1px $progress-split-color solid;
        }
    }
}

.progress-sm {
    @include set-progress-size($progress-height-sm, 0 3px 3px 0);
}

.progress-xs {
    @include set-progress-size($progress-height-xs, 0 3px 3px 0);
}

.progress-lg {
    @include set-progress-size($progress-height-lg, 0 5px 5px 0);
}

.progress-bar {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: $progress-bar-color;
    text-align: center;
    background-color: $primary;
    @include transition($progress-bar-transition);
    border-radius: 0 5px 5px 0;
    position: relative;
    &[aria-valuenow='0'] {
        &:after {
            display: none;
        }
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
    // 暂时兼容保留
    &:last-child {
        border-right: 1px $progress-split-color solid;
    }
    &:after {
        position: absolute;
        content: '';
        width: 5px;
        right: 0;
        z-index: 1;
        height: $progress-height;
        background: $progress-split-color;
        border-radius: 0 5px 5px 0;
        transform: scaleX(0.5) translateX(6px);
    }
}

$progress-types: (
    primary: $primary,
    success: $success,
    warning: $warning,
    danger: $warning,
    default: $gray-200,
    info: $info
);
@each $name, $color in $progress-types {
    .progress-bar-#{$name} {
        background: $color;
    }
}

.progress-bar-striped {
    @include gradient-striped();
    background-size: $progress-height $progress-height;
}

.progress-bar-animated {
    animation: progress-bar-stripes $progress-bar-animation-timing;
}
