@keyframes progress-bar-stripes {
    from {
        background-position: $progress-height 0;
    }
    to {
        background-position: 0 0;
    }
}

@mixin set-progress-size($height) {
    height: $height;
    .progress-bar {
        overflow: hidden;
        @include border-radius(0 $height $height 0);

        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: -$height * 2 + 3;
            display: block;
            width: $height * 2;
            height: $height * 2;
            background: $progress-split-color;
            @include border-radius(0 $height * 2 $height * 2 0);
        }
    }
}

.progress {
    display: flex;
    height: $progress-height;
    overflow: hidden; // force rounded corners by cropping it
    font-size: $progress-font-size;
    background-color: $progress-bg;
    @include border-radius(100px);
    @include set-progress-size($progress-height);
}

// 只有 stacked 的时候才会出现 border-right 白色
// 为了兼容之前的进度条组件，暂时没有去除 progress-bar 的 last-child border-right
.progress-stacked {
    .progress-bar {
        &:last-child {
            border-right: 1px $progress-split-color solid;
        }
    }
}

.progress-sm {
    @include set-progress-size($progress-height-sm);
}

.progress-xs {
    @include set-progress-size($progress-height-xs);
}

.progress-lg {
    @include set-progress-size($progress-height-lg);
}

.progress-bar {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: $progress-bar-color;
    text-align: center;
    background-color: $primary;
    @include transition($progress-bar-transition);
    position: relative;
    &[aria-valuenow='0'] {
        &:before {
            display: none;
        }
    }
    &:first-child {
        &:before {
            display: none;
        }
    }
    // 暂时兼容保留
    &:last-child {
        border-right: 1px $progress-split-color solid;
    }
}

$progress-types: (
    primary: $primary,
    success: $success,
    warning: $warning,
    danger: $warning,
    default: $gray-200,
    info: $info
);
@each $name, $color in $progress-types {
    .progress-bar-#{$name} {
        background: $color;
    }
}

.progress-bar-striped {
    @include gradient-striped();
    background-size: $progress-height $progress-height;
}

.progress-bar-animated {
    animation: progress-bar-stripes $progress-bar-animation-timing;
}
