<div class="demo-buttons">
  <button thyButton="link">Default</button>
  <button thyButton="link-secondary">Secondary</button>
  <button thyButton="link-danger-weak">Danger Weak</button>
  <button thyButton="link-danger">Danger</button>
  <button thyButton="link-success">Success</button>
</div>

<div class="demo-buttons mt-2">
  <button thyButton="link" class="disabled">Default</button>
  <button thyButton="link-secondary" disabled="disabled">Secondary</button>
  <button thyButton="link-danger-weak" disabled="disabled">Danger Weak</button>
  <button thyButton="link-danger" disabled="disabled">Danger</button>
  <button thyButton="link-success" disabled="disabled">Success</button>
</div>
