<div class="thy-empty-icon">
  @if (thyImageUrl) {
    <img
      [src]="thyImageUrl"
      [attr.loading]="thyImageLoading"
      [attr.fetchpriority]="thyImageFetchPriority"
      class="empty-img"
      />
  } @else {
    @if (presetSvg) {
      <div [innerHTML]="presetSvg"></div>
    } @else {
      @if (thyIconName) {
        <thy-icon class="empty-icon" [thyIconName]="thyIconName"></thy-icon>
      }
    }
  }
</div>

<div [ngClass]="{ 'thy-empty-text': !thyDescription, 'thy-empty-text-with-extra': thyDescription }">
  {{ displayText }}
</div>

@if (thyDescription) {
  <div class="thy-empty-description">
    {{ thyDescription }}
  </div>
}

@if (extraTemplateRef) {
  <div class="thy-empty-extra">
    <ng-template [ngTemplateOutlet]="extraTemplateRef"></ng-template>
  </div>
}
