<div class="thy-empty-icon">
  <img
    *ngIf="thyImageUrl; else icon"
    [src]="thyImageUrl"
    [attr.loading]="thyImageLoading"
    [attr.fetchpriority]="thyImageFetchPriority"
    class="empty-img"
  />
  <ng-template #icon>
    <div *ngIf="presetSvg; else thyIcon" [innerHTML]="presetSvg"></div>
    <ng-template #thyIcon>
      <thy-icon class="empty-icon" *ngIf="thyIconName" [thyIconName]="thyIconName"></thy-icon>
    </ng-template>
  </ng-template>
</div>

<div [ngClass]="{ 'thy-empty-text': !thyDescription, 'thy-empty-text-with-extra': thyDescription }">
  {{ displayText }}
</div>

<div class="thy-empty-description" *ngIf="thyDescription">
  {{ thyDescription }}
</div>

<div class="thy-empty-extra" *ngIf="extraTemplateRef">
  <ng-template [ngTemplateOutlet]="extraTemplateRef"></ng-template>
</div>
