.thy-grid-modal-wrap {
    margin: 0 -30px;
    padding: 0 30px;
    overflow-y: auto;
    max-height: 400px;

    thy-grid {
        .table {
            margin-bottom: 0;
        }

        .pagination {
            margin-bottom: 0;
        }
    }
}

.thy-operation-links {
    > button,
    > a {
        display: inline-block;
        margin-right: $operation-link-margin-y;

        &:last-child {
            margin-right: 0;
        }
    }
}

.thy-grid {
    &.thy-grid-hover-display-operation {
        .thy-operation-links {
            a,
            button {
                visibility: hidden;
            }
        }

        table {
            tr {
                @include hover {
                    .thy-operation-links {
                        a,
                        button {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    .thy-grid-footer {
        display: flex;
        justify-content: flex-end;

        &.thy-grid-footer-has-padding {
            padding: $grid-footer-padding;
        }
    }
}
