@use "sass:math";

.thy-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    height: auto;
    zoom: 1;
    box-sizing: border-box;
}

@for $i from 1 through 24 {
    .thy-col-#{$i} {
        display: block;
        box-sizing: border-box;
        width: 0;
        flex: 0 0 math.percentage(math.div($i, 24));
    }
}

.thy-col-fill {
    flex: 1 1 auto;
}
