<span cdkOverlayOrigin #origin="cdkOverlayOrigin" (click)="onInputPickerClick()" class="{{ prefixCls }}-wrapper">
  <ng-container>
    <input
      #pickerInput
      thyInput
      class="form-control {{ prefixCls }}-input"
      [class.thy-input-disabled]="disabled"
      [class.thy-input-readonly]="readonly"
      [class.thy-time-picker-panel-opened]="openState"
      [(ngModel)]="showText"
      [thySize]="thySize"
      [disabled]="disabled"
      [readonly]="readonly"
      [placeholder]="thyPlaceholder"
      (blur)="onInputPickerBlur()"
      (keyup.enter)="onKeyupEnter()"
      (keyup.escape)="onKeyupEsc()"
      (ngModelChange)="onCustomizeInput($event)" />
    <ng-container *ngTemplateOutlet="rightIcon"></ng-container>
  </ng-container>
</span>

<ng-template #rightIcon>
  <span class="{{ prefixCls }}-clear" *ngIf="!disabled && thyAllowClear && !thyReadonly && showText">
    <thy-icon thyIconName="close-circle-bold-fill" (click)="onClearTime($event)" ngClass="remove-link remove-link-{{ thySize }}"></thy-icon>
  </span>
  <span class="{{ prefixCls }}-icon">
    <thy-icon [thyIconName]="'clock-circle-moment'" ngClass="remove-link-{{ thySize }}"></thy-icon>
  </span>
</ng-template>

<!-- Overlay -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="openState"
  [cdkConnectedOverlayHasBackdrop]="thyBackdrop"
  [cdkConnectedOverlayPositions]="overlayPositions"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  cdkConnectedOverlayTransformOriginOn=".thy-time-picker-container"
  (positionChange)="onPositionChange($event)"
  (backdropClick)="onClickBackdrop()"
  (overlayOutsideClick)="onOutsideClick($event)"
  (detach)="onOverlayDetach()"
  (attach)="onOverlayAttach()">
  <div
    #overlayContainer
    style="position: relative"
    [@scaleXMotion]="thyPlacement === 'left' || thyPlacement === 'right' ? 'enter' : 'void'"
    [@scaleYMotion]="thyPlacement === 'top' || thyPlacement === 'bottom' ? 'enter' : 'void'"
    [@scaleMotion]="
      thyPlacement !== 'left' && thyPlacement !== 'right' && thyPlacement !== 'top' && thyPlacement !== 'bottom' ? 'enter' : 'void'
    "
    class="thy-time-picker-container">
    <!-- Compatible for overlay that not support offset dynamically and immediately -->
    <thy-time-picker-panel
      [ngClass]="thyPopupClass"
      [(ngModel)]="value"
      [thyFormat]="format"
      [thyHourStep]="thyHourStep"
      [thyMinuteStep]="thyMinuteStep"
      [thySecondStep]="thySecondStep"
      [thyShowSelectNow]="thyShowSelectNow"
      (ngModelChange)="onPickTimeConfirm($event)"
      (thyPickChange)="onPickTime($event)"
      (thyClosePanel)="closeOverlay()"></thy-time-picker-panel>
  </div>
</ng-template>
