<thy-selection-list
  thyBindKeyEventContainer="body"
  thyFirstItemDefaultActive="true"
  (thySelectionChange)="selectionChange($event)"
>
  <thy-list-option *ngFor="let item of data" [thyValue]="item">
    <ng-container *ngIf="displayTemplateRef; else default">
      <ng-template *ngTemplateOutlet="displayTemplateRef; context: { $implicit: item }"></ng-template>
    </ng-container>
    <ng-template #default>
      {{ item['name'] || '' }}
    </ng-template>
  </thy-list-option>
</thy-selection-list>
