<thy-loading [thyDone]="loadingDone"></thy-loading>
<ng-container *ngIf="loadingDone">
  <thy-selection-list
    *ngIf="data?.length > 0; else empty"
    thyBindKeyEventContainer="body"
    thyMultiple="false"
    thyFirstItemDefaultActive="true"
    (thySelectionChange)="selectionChange($event)"
  >
    <thy-list-option *ngFor="let item of data" [thyValue]="item">
      <ng-container *ngIf="mention?.displayTemplateRef; else default">
        <ng-template *ngTemplateOutlet="mention?.displayTemplateRef; context: { $implicit: item }"></ng-template>
      </ng-container>
      <ng-template #default>
        {{ item['name'] || '' }}
      </ng-template>
    </thy-list-option>
  </thy-selection-list>
</ng-container>
<ng-template #empty>
  <thy-empty [thyMessage]="mention?.emptyText" [thySize]="'md'"></thy-empty>
</ng-template>
