<div class="header">
  <span>Callout a temporary slide, from multiple direction</span>
</div>
<div class="body">
  <form thyForm thyLayout="position" #demoVerticalThyForm="thyForm" #demoVerticalForm="ngForm">
    <div thyRow [thyGutter]="30">
      <thy-form-group thyCol [thySpan]="12" thyLabelText="">
        <thy-radio-group [(ngModel)]="position" name="slidePosition">
          <label thyRadio thyLabelText="top" [thyValue]="'top'"></label>
          <label thyRadio thyLabelText="right" [thyValue]="'right'"></label>
          <label thyRadio thyLabelText="bottom" [thyValue]="'bottom'"></label>
          <label thyRadio thyLabelText="left" [thyValue]="'left'"></label>
        </thy-radio-group>
      </thy-form-group>

      <thy-form-group-footer thyCol [thySpan]="24">
        <button [thyButton]="'primary'" (click)="showSlide()">Open</button>
      </thy-form-group-footer>
    </div>
  </form>
</div>
