.password-strength-container {
    padding: 5px;

    .strength-text-highest {
        color: $success;
    }

    .strength-text-high {
        color: $pass;
    }

    .strength-text-average {
        color: $warning;
    }

    .strength-text-low {
        color: $danger;
    }

    .strength-level {
        margin-top: 10px;
        display: flex;
        width: 200px;
        align-items: center;
        background: $gray-200;

        span {
            display: inline-block;
            width: 0px;
            height: 5px;
            transition: all 300ms;
        }
    }

    .strength-level-highest {
        span {
            width: 100%;
            border-color: $success;
            background: $success;
        }
    }

    .strength-level-high {
        span {
            width: 75%;
            border-color: $pass;
            background: $pass;
        }
    }

    .strength-level-average {
        span {
            width: 50%;
            border-color: $warning;
            background: $warning;
        }
    }

    .strength-level-low {
        span {
            width: 25%;
            border-color: $danger;
            background: $danger;
        }
    }
}
