@use "../../styles/variables";

.#{variables.$thy-prefix}-comment {
    position: relative;
    background-color: variables.$comment-bg;

    &-inner {
        display: flex;
    }

    &-inner:hover {
        > .#{variables.$thy-prefix}-comment-actions {
            min-height: variables.$comment-actions-min-width;
            min-width: variables.$comment-actions-min-height;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: variables.$comment-actions-position-right;
            top: variables.$comment-actions-position-top;
            z-index: variables.$z-index-1;
            padding: variables.$comment-actions-padding;
            border: variables.$comment-actions-border;
            border-radius: variables.$comment-actions-border-radius;
            box-shadow: variables.$box-shadow;
            background-color: variables.$white;
            cursor: pointer;
        }
    }

    &-avatar {
        position: relative;
        flex-shrink: 0;
        margin-right: variables.$comment-avatar-margin-right;
    }

    &-body {
        position: relative;
        flex: 1 1 auto;
        min-width: 1px;
        font-size: variables.$font-size-base;
        word-wrap: break-word;

        &-author {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 4px;
            font-size: variables.$font-size-base;

            & > a,
            & > span {
                padding-right: variables.$comment-author-padding-right;
                font-size: variables.$font-size-base;
                line-height: variables.$comment-author-line-height;
            }

            &-name {
                color: variables.$gray-700;
                font-size: variables.$font-size-base;
                transition: color 0.3s;
            }

            &-time {
                color: variables.$gray-600;
                white-space: nowrap;
            }
        }

        .#{variables.$thy-prefix}-comment-content {
            margin-bottom: variables.$comment-content-margin-bottom;
        }
    }

    &-actions {
        display: none;
    }

    &-nested {
        margin-left: variables.$comment-nest-indent;
    }
}
