@use '../../styles/variables.scss';

@mixin comment-actions-active() {
    height: variables.$comment-actions-min-width;
    min-width: variables.$comment-actions-height;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: variables.$comment-actions-position-right;
    top: variables.$comment-actions-position-top;
    z-index: variables.$z-index-1;
    padding: variables.$comment-actions-padding;
    border: variables.$comment-actions-border;
    border-radius: variables.$comment-actions-border-radius;
    box-shadow: variables.$box-shadow;
    background-color: variables.$bg-default;
    cursor: variables.$hand-cursor;
    display: inline-flex;
    visibility: hidden;
}
