<thy-button-group thySize="sm" thyType="outline-default">
  @for (item of sizes; track $index) {
    <button thyButton (click)="size = item.value" [ngClass]="{ active: size === item.value }">
      {{ item.value }}
    </button>
  }
</thy-button-group>
<thy-space class="mt-4">
  <button *thySpaceItem thyButton="primary" [thySize]="size">Primary</button>
  <button *thySpaceItem thyButton="default" [thySize]="size">Default</button>
  <button *thySpaceItem thyButton="info" [thySize]="size">Info</button>
  <button *thySpaceItem thyButton="warning" [thySize]="size">Warning</button>
  <button *thySpaceItem thyButton="danger" [thySize]="size">Danger</button>
  <button *thySpaceItem thyButton="success" [thySize]="size">Success</button>
  <button *thySpaceItem thyButton="primary" [thySize]="size"><thy-icon thyIconName="house"></thy-icon></button>
</thy-space>
<thy-space class="mt-2">
  <button *thySpaceItem thyButton="primary" thyAppearance="outline" [thySize]="size">Primary</button>
  <button *thySpaceItem thyButton="default" thyAppearance="outline" [thySize]="size">Default</button>
  <button *thySpaceItem thyButton="info" thyAppearance="outline" [thySize]="size">Info</button>
  <button *thySpaceItem thyButton="warning" thyAppearance="outline" [thySize]="size">Warning</button>
  <button *thySpaceItem thyButton="danger" thyAppearance="outline" [thySize]="size">Danger</button>
  <button *thySpaceItem thyButton="success" thyAppearance="outline" [thySize]="size">Success</button>
  <button *thySpaceItem thyButton="primary" thyAppearance="outline" [thySize]="size"><thy-icon thyIconName="house"></thy-icon></button>
</thy-space>
<thy-space class="mt-2">
  <button *thySpaceItem thyButton="primary" thyAppearance="link" [thySize]="size">Primary</button>
  <button *thySpaceItem thyButton="default" thyAppearance="link" [thySize]="size">Default</button>
  <button *thySpaceItem thyButton="danger" thyAppearance="link" [thySize]="size">Danger</button>
  <button *thySpaceItem thyButton="success" thyAppearance="link" [thySize]="size">Success</button>
</thy-space>
