<thy-button-group thySize="sm" thyType="outline-default">
  @for (item of sizes; track $index) {
    <button thyButton (click)="size = item.value" [class.active]="size === item.value">
      {{ item.value }}
    </button>
  }
</thy-button-group>
<thy-space class="mt-4">
  <button *thySpaceItem thyButton="primary" [thySize]="size">Primary</button>
  <button *thySpaceItem thyButton="info" [thySize]="size">Info</button>
  <button *thySpaceItem thyButton="warning" [thySize]="size">Warning</button>
  <button *thySpaceItem thyButton="danger" [thySize]="size">Danger</button>
  <button *thySpaceItem thyButton="success" [thySize]="size">Success</button>
  <button *thySpaceItem thyButton="primary" [thySize]="size"><thy-icon thyIconName="house"></thy-icon></button>
</thy-space>
<thy-space class="mt-2">
  <button *thySpaceItem thyButton="outline-primary" [thySize]="size">Primary</button>
  <button *thySpaceItem thyButton="outline-info" [thySize]="size">Info</button>
  <button *thySpaceItem thyButton="outline-warning" [thySize]="size">Warning</button>
  <button *thySpaceItem thyButton="outline-danger" [thySize]="size">Danger</button>
  <button *thySpaceItem thyButton="outline-success" [thySize]="size">Success</button>
  <button *thySpaceItem thyButton="outline-primary" [thySize]="size"><thy-icon thyIconName="house"></thy-icon></button>
</thy-space>
