<thy-button-group thySize="sm" thyType="outline-default">
  <button thyButton *ngFor="let item of sizes" (click)="size = item.value" [ngClass]="{ active: size === item.value }">
    {{ item.value }}
  </button>
</thy-button-group>
<div class="demo-buttons mt-4">
  <button thyButton="primary" [thySize]="size">Primary</button>
  <button thyButton="info" [thySize]="size">Info</button>
  <button thyButton="warning" [thySize]="size">Warning</button>
  <button thyButton="danger" [thySize]="size">Danger</button>
  <button thyButton="success" [thySize]="size">Success</button>
</div>
<div class="demo-buttons mt-2">
  <button thyButton="outline-primary" [thySize]="size">Primary</button>
  <button thyButton="outline-info" [thySize]="size">Info</button>
  <button thyButton="outline-warning" [thySize]="size">Warning</button>
  <button thyButton="outline-danger" [thySize]="size">Danger</button>
  <button thyButton="outline-success" [thySize]="size">Success</button>
</div>
