<div class="thy-calendar-full-header-left">
  <thy-date-range
    class="select-date-range"
    [ngModel]="date"
    [thyHiddenMenu]="true"
    [thyCustomKey]="'exception'"
    [thyPickerFormat]="pickerFormat"
    (ngModelChange)="onChangeRange($event)"></thy-date-range>
  @if (isCurrent) {
    <button thyButton="outline-default-square" thySize="md" (click)="backToday()">{{ locale().today }}</button>
  }
</div>
<div class="thy-calendar-full-header-right">
  <ng-container *ngTemplateOutlet="$any(operationRender); context: { $implicit: operationRender }">
    <span>{{ operationRender | json }}</span>
  </ng-container>
</div>
