<div class="selection-list-wrapper" #body>
  <thy-selection-list
    [style.width]="'560px'"
    [style.background]="'#fafafa'"
    [(ngModel)]="selectionModel.selectedValues"
    [thyLayout]="'grid'"
    (thySelectionChange)="selectionChange($event)">
    <thy-list-option *ngFor="let item of gridItems" [thyValue]="item?.id">
      <thy-icon thyIconName="app-agile-fill" class="thy-grid-option-icon"></thy-icon>
      <div class="thy-grid-option-name">{{ item.name }}</div>
    </thy-list-option>
    <thy-list-option [thyValue]="4" [thyDisabled]="true">
      <thy-icon thyIconName="app-agile-fill" class="thy-grid-option-icon"></thy-icon>
      <div class="thy-grid-option-name">Disabled Grid Item</div>
    </thy-list-option>
  </thy-selection-list>

  <h6 class="my-3">已选择的值：</h6>
  <p>{{ selectionModel.selectedValues | json }}</p>
</div>
