<thy-avatar thyName="路晓贝" class="mr-2" thySize="22" thyDisabled="true"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-2" thySize="48" thyDisabled="true"></thy-avatar>
<thy-avatar thyName="路晓贝" class="mr-3" thySize="68" thyDisabled="true"></thy-avatar>

<thy-avatar [thySrc]="avatarSrc" thySize="24" class="mr-2" thyDisabled="true"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" thySize="48" class="mr-2" thyDisabled="true"></thy-avatar>
<thy-avatar [thySrc]="avatarSrc" thySize="68" class="mr-2" thyDisabled="true"></thy-avatar>
