@use 'variables.scss' as variables2;

:host {
    .thy-icon {
        margin-right: 10px;
        font-size: 20px;
    }
}

.category-name {
    font-weight: 500;
}

.icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px 10px;
    padding: 20px;

    .icon-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 1px solid transparent;

        &:hover {
            cursor: pointer;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .thy-icon {
            font-size: 30px;
        }

        .name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 130px;
            font-size: 12px;
        }
    }
}
