<thy-modal>
    <thy-modal-header thyTitle="{{title}}"></thy-modal-header>
    <thy-modal-body class="thy-form">
        <div class="form-group">
            <p [innerHtml]="content"></p>
        </div>
        <div class="form-group">
            <div class="btn-pair">
                <button thyButton="{{buttons.confirm.type}}" (click)="confirm()" [thyLoading]="loading" [thyLoadingText]="buttons.confirm.loadingText">{{buttons.confirm.text}}</button>
                <button thyButton="link-secondary" (click)="closeModal()">取消</button>
            </div>
        </div>
    </thy-modal-body>
</thy-modal>