<section>
  <div class="header">
    <h2>主要按钮</h2>
  </div>
  <div class="body">
    <button thyButton="primary" class="mr-2" (click)="ok()">确认</button>
    <button thyButton="primary" thyIcon="plus-bold" class="mr-2">新建文件夹</button>
    <button thyButton="danger" class="mr-2">删除</button>
    <br />
    <br />
    <button thyButton="primary" class="mr-2" disabled>确认</button>
    <button thyButton="primary" class="mr-2" disabled thyIcon="wtf wtf-th-plus">新建文件夹</button>
    <button thyButton="danger" class="mr-2" disabled>删除</button>

    <br />
    <br />
    <div class="btn-pair">
      <button thyButton="primary">确认</button>
      <button thyButton="link-secondary">取消</button>
    </div>
    <br />
    <br />
    <div class="btn-pair">
      <button thyButton="primary">保存并下一条</button>
      <button thyButton="outline-primary">保存</button>
      <button thyButton="link-secondary">取消</button>
    </div>
  </div>
</section>

<section>
  <div class="header">
    <h2>二级按钮</h2>
  </div>
  <div class="body demo-buttons">
    <button thyButton="secondary">设置</button>
    <button thyButton="secondary" thyIcon="wtf-th-plus">新建文件夹</button>
    <button thyButton="secondary" thyIcon="wtf-download">导出</button>
  </div>
</section>

<section>
  <div class="header">
    <h2>加载状态</h2>
  </div>
  <div class="body">
    <button
      thyButton="primary"
      [thyLoading]="loading"
      (click)="startLoading()"
      [thyLoadingText]="'加载中... ' + loadingSeconds + 's 后恢复'"
    >
      点击加载
    </button>
  </div>
</section>

<section>
  <div class="header">
    <h2>线框按钮</h2>
  </div>
  <div class="body demo-buttons">
    正常状态
    <button thyButton="outline-default">默认按钮</button>
    <button thyButton="outline-primary">主要按钮</button>
    <button thyButton="outline-info">信息按钮</button>
    <button thyButton="outline-warning">警告按钮</button>
    <button thyButton="outline-danger">删除按钮</button>

    <br />
    <br />
    激活状态
    <button thyButton="outline-default" class="active">默认按钮</button>
    <button thyButton="outline-primary" class="active">主要按钮</button>
    <button thyButton="outline-info" class="active">信息按钮</button>
    <button thyButton="outline-warning" class="active">警告按钮</button>
    <button thyButton="outline-danger" class="active">删除按钮</button>
    <br />
    <br />
    禁用状态
    <button thyButton="outline-default" disabled>默认按钮</button>
    <button thyButton="outline-primary" disabled>主要按钮</button>
    <button thyButton="outline-info" disabled>信息按钮</button>
    <button thyButton="outline-warning" disabled>警告按钮</button>
    <button thyButton="outline-danger" disabled>删除按钮</button>
    <br />
    <br />
    <br />
    <br />
    <p>
      <code>outline-default</code> 为之前的 <code>thy-default</code>， <code>outline-primary</code> 为之前的
      <code>btn-info</code>
    </p>
    <pre>{{ outlineButtonTemplate }} </pre>
  </div>
</section>

<section>
  <div class="header">
    <h2>方形按钮</h2>
  </div>
  <div class="body demo-buttons">
    <button thyButton="primary-square">主要按钮</button>
    <button thyButton="success-square">成功按钮</button>
    <button thyButton="info-square">信息按钮</button>
    <button thyButton="warning-square">警告按钮</button>
    <button thyButton="danger-square">危险按钮</button>
    <button thyButton="primary-square" disabled>禁用按钮</button>
    <br />
    <br />
    <button thyButton="outline-primary-square">主要按钮</button>
    <button thyButton="outline-success-square">成功按钮</button>
    <button thyButton="outline-info-square">信息按钮</button>
    <button thyButton="outline-warning-square">警告按钮</button>
    <button thyButton="outline-danger-square">危险按钮</button>
    <button thyButton="outline-primary-square" class="disabled">禁用按钮</button>
    <br />
    <br />
    <button thyButton="outline-primary-square" thySize="md">主要按钮</button>
    <button thyButton="outline-success-square" thySize="md">成功按钮</button>
    <button thyButton="outline-info-square" thySize="md">信息按钮</button>
    <button thyButton="outline-warning-square" thySize="md">警告按钮</button>
    <button thyButton="outline-danger-square" thySize="md">危险按钮</button>
    <button thyButton="outline-primary-square" thySize="md" disabled>禁用按钮</button>
  </div>
</section>

<section>
  <div class="header">
    <h2>按钮链接</h2>
  </div>
  <div class="body demo-buttons">
    Button:
    <button thyButton="link">预览</button>
    <button thyButton="link-secondary">取消</button>
    <button thyButton="link-danger-weak">删除</button>
    <button thyButton="link-danger">删除</button>
    <button thyButton="link-success">成功按钮链接</button>
    <br />
    Disabled:
    <button thyButton="link" class="disabled">预览</button>
    <button thyButton="link-secondary" disabled="">取消</button>
    <button thyButton="link-danger-weak" disabled="">删除</button>
    <button thyButton="link-danger" disabled="">删除</button>
    <button thyButton="link-success" disabled="">成功按钮链接</button>
    <br />
    a:
    <a href="javascript:;" thyButton="link">预览</a>
    <a href="javascript:;" thyButton="link-secondary">取消</a>
  </div>
</section>

<section>
  <div class="header">
    <h2>按钮对</h2>
  </div>
  <div class="body">
    <div class="btn-pair">
      <button thyButton="primary">确认</button>
      <a thyButton="link-secondary">取消</a>
    </div>
    <div class="btn-pair-sm mt-1">
      <button thyButton="primary" thySize="sm">确认</button>
      <a thyButton="link-secondary" thySize="sm">取消</a>
    </div>
  </div>
</section>

<section>
  <div class="header">
    <h2>按钮大小</h2>
  </div>
  <div class="body demo-buttons">
    <code>xs</code> 更小按钮：
    <button thyButton="primary" thySize="xs">确定</button>
    <button thyButton="danger" thySize="xs">删除</button>
    <button thyButton="outline-default" thySize="xs">预览</button>
    <button thyButton="outline-primary" thySize="xs">新建文件夹</button>

    <br />
    <br />
    <code>sm</code> 小按钮：
    <button thyButton="primary" thySize="sm">确定</button>
    <button thyButton="danger" thySize="sm">删除</button>
    <button thyButton="outline-default" thySize="sm">预览</button>
    <button thyButton="outline-primary" thySize="sm">新建文件夹</button>

    <br />
    <br />
    <code>md</code> 二级大小按钮：
    <button thyButton="primary" thySize="md">确定</button>
    <button thyButton="danger" thySize="md">删除</button>
    <button thyButton="outline-default" thySize="md">预览</button>
    <button thyButton="outline-primary" thySize="md">新建文件夹</button>

    <br />
    <br />
    一级按钮
    <button thyButton="primary">确定</button>
    <button thyButton="danger">删除</button>
    <button thyButton="outline-default">预览</button>
    <button thyButton="outline-primary">新建文件夹</button>

    <br />
    <br />
    大按钮
    <button thyButton="primary" thySize="lg">确定</button>
    <button thyButton="danger" thySize="lg">删除</button>
    <button thyButton="outline-default" thySize="lg">预览</button>
    <button thyButton="outline-primary" thySize="lg">新建文件夹</button>
  </div>
</section>

<section>
  <div class="header">
    <h2>按钮组</h2>
  </div>
  <div class="body">
    <thy-button-group thySize="lg" thyType="outline-primary">
      <button thyButton class="disabled">Left</button>
      <button thyButton class="active">Middle</button>
      <button thyButton>Right</button>
    </thy-button-group>
    <br />
    <br />
    <thy-button-group thyType="outline-default">
      <button thyButton="">年</button>
      <button thyButton="">月</button>
      <button thyButton="">日</button>
    </thy-button-group>

    <br />
    <br />
    <thy-button-group thySize="sm" thyType="outline-default">
      <button thyButton="" class="active">Left</button>
      <button thyButton="" class="disabled">Middle</button>
      <button thyButton="">Right</button>
    </thy-button-group>

    <br />
    <br />
    <thy-button-group thySize="sm" thyType="outline-default" thyClearMinWidth="true">
      <button thyButtonIcon="doughnut-fill" class="active"></button>
      <button thyButtonIcon="list-sample-fill"></button>
    </thy-button-group>

    <br />
    <br />
    <thy-button-group thySize="xs" thyType="outline-default">
      <button thyButton="">年</button>
      <button thyButton="">月</button>
      <button thyButton="">日</button>
    </thy-button-group>
  </div>
</section>

<section>
  <div class="header">
    <h2>图标按钮</h2>
  </div>
  <div class="body demo-buttons">
    <button thyButtonIcon="plus-bold" thySize="xs" thyActive="true"></button>
    <button thyButtonIcon="plus-bold" thySize="sm"></button>
    <button thyButtonIcon="plus-bold"></button>
    <button thyButtonIcon="plus-bold" thySize="lg"></button>
    <br />
    <a thyButtonIcon="application-add" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="application-add" href="javascript:;"></a>
    <a thyButtonIcon="application-add" href="javascript:;" thySize="lg"></a>

    <br />
    <a thyButtonIcon="application-add" thyLight="" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyLight="" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyLight="" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyLight="" href="javascript:;" thySize="lg"></a>

    <br />
    <a thyButtonIcon="application-add" thyTheme="danger-weak" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyTheme="danger-weak" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyTheme="danger-weak" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyTheme="danger-weak" href="javascript:;" thySize="lg"></a>

    <br />
    <button thyButtonIcon="plus-bold" thyShape="circle-dashed" thySize="xs"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-dashed" thySize="sm"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-dashed"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-dashed" class="invalid"></button>
    <br />
    <button thyButtonIcon="plus-bold" thyShape="circle-solid" thySize="xs"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-solid" thySize="sm"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-solid"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-solid" class="invalid"></button>
    <br />
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed" thySize="xs"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed" thySize="sm"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed" class="invalid"></button>
    <br />
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-solid" thySize="xs"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-solid" thySize="sm"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-solid"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-solid" class="invalid"></button>
    <br />
    <button thyButtonIcon="calendar" thyShape="circle-dashed">
      <span>截止时间</span>
    </button>
    <br />
    <!-- <button thyButtonIcon="wtf-timeline-o" thyShape="self-icon"></button> -->
    <br />
  </div>
</section>

<section>
  <div class="header">
    <h2>字体图标按钮，请使用 SVG 图标</h2>
  </div>
  <div class="body demo-buttons">
    <button thyButtonIcon="wtf-th-plus" thySize="xs" thyActive="true"></button>
    <button thyButtonIcon="wtf-th-plus" thySize="sm"></button>
    <button thyButtonIcon="wtf-th-plus"></button>
    <button thyButtonIcon="wtf-th-plus" thySize="lg"></button>
    <br />
    <a thyButtonIcon="wtf-project-add-o" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" href="javascript:;" thySize="lg"></a>

    <br />
    <a thyButtonIcon="wtf-project-add-o" thyLight="" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyLight="" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyLight="" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyLight="" href="javascript:;" thySize="lg"></a>

    <br />
    <a thyButtonIcon="wtf-project-add-o" thyTheme="danger-weak" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyTheme="danger-weak" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyTheme="danger-weak" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyTheme="danger-weak" href="javascript:;" thySize="lg"></a>

    <br />
    <button thyButtonIcon="wtf-th-plus" thyShape="circle-dashed" thySize="xs"></button>
    <button thyButtonIcon="wtf-th-plus" thyShape="circle-dashed" thySize="sm"></button>
    <button thyButtonIcon="wtf-th-plus" thyShape="circle-dashed"></button>
    <button thyButtonIcon="wtf-th-plus" thyShape="circle-dashed" class="invalid"></button>
    <br />
    <button thyButtonIcon="wtf-plus" thyShape="circle-solid" thySize="xs"></button>
    <button thyButtonIcon="wtf-plus" thyShape="circle-solid" thySize="sm"></button>
    <button thyButtonIcon="wtf-plus" thyShape="circle-solid"></button>
    <button thyButtonIcon="wtf-plus" thyShape="circle-solid" class="invalid"></button>
    <br />
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-dashed" thySize="xs"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-dashed" thySize="sm"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-dashed"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-dashed" class="invalid"></button>
    <br />
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-solid" thySize="xs"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-solid" thySize="sm"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-solid"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-solid" class="invalid"></button>
    <br />
    <button thyButtonIcon="wtf-begin-date" thyShape="circle-dashed">
      <span>截止时间</span>
    </button>
    <br />
    <!-- <button thyButtonIcon="wtf-timeline-o" thyShape="self-icon"></button> -->
    <br />
  </div>
</section>

<api-parameters title="thyButton,thy-button 参数列表" [parameters]="apiThyButtonParameters"></api-parameters>
<api-parameters
  title="thyButtonIcon, thy-button-icon 参数列表"
  [parameters]="apiThyButtonIconParameters"
></api-parameters>
<api-parameters title="thy-button-group 参数列表" [parameters]="apiThyButtonGroupParameters"></api-parameters>
