<a href="">链接</a>
<section>
    <div class="header">
        <h5>主要按钮</h5>
    </div>
    <div class="body">
        <button thyButton="primary">按钮</button>
        <button thyButton="secondary">按钮</button>
        <button thyButton="info">按钮</button>
        <button thyButton="success">按钮</button>
        <button thyButton="warning">按钮</button>
        <button thyButton="danger">按钮</button>
        <br>
        <br>
        <button thyButton="primary" disabled>禁用按钮</button>
        <button thyButton="secondary" disabled>禁用按钮</button>
        <button thyButton="info" disabled>禁用按钮</button>
        <button thyButton="success" disabled>禁用按钮</button>
        <button thyButton="warning" disabled>禁用按钮</button>
        <button thyButton="danger" disabled>禁用按钮</button>
        <br>
        <br>
        <button thyButton="outline-primary">按钮</button>
        <button thyButton="outline-secondary">按钮</button>
        <button thyButton="outline-info">按钮</button>
        <button thyButton="outline-success">按钮</button>
        <button thyButton="outline-warning">按钮</button>
        <button thyButton="outline-danger">按钮</button>
    </div>
</section>

<section>
    <div class="header">
        <h5>二级按钮</h5>
    </div>
    <div class="body">
        xxxx
    </div>
</section>


<button thyButton="primary" [btnLoading]="loading" (click)="startLoading()" [btnLoadingText]="'加载中... ' + loadingSeconds + 's 后恢复'">按钮</button>
<button thyButton="success">按钮</button>
<button thyButton="default">按钮</button>

<!-- <thy-first #thyFirst></thy-first> -->

<a class="btn btn-link">link</a>