<section>
    <div class="header">
        <h2>主要按钮</h2>
    </div>
    <div class="body">
        <button thyButton="primary">确认</button>
        <button thyButton="primary">
            <i class="wtf wtf-plus"></i>新建文件夹</button>
        <button thyButton="danger">删除</button>
        <br>
        <br>
        <button thyButton="primary" disabled>确认</button>
        <button thyButton="primary" disabled>
            <i class="wtf wtf-plus"></i>新建文件夹</button>
        <button thyButton="danger" disabled>删除</button>

        <br>
        <br>
        <button thyButton="primary">确认</button>
        <button thyButton="link-secondary">取消</button>
    </div>
</section>

<section>
    <div class="header">
        <h2>二级按钮</h2>
    </div>
    <div class="body">
        <button thyButton="secondary">设置</button>
        <button thyButton="secondary" thyIcon="wtf-th-plus">新建文件夹</button>
        <button thyButton="secondary" thyIcon="wtf-download">导出</button>
    </div>
</section>

<section>
    <div class="header">
        <h2>加载状态</h2>
    </div>
    <div class="body">

        <button thyButton="primary" [thyLoading]="loading" (click)="startLoading()" [thyLoadingText]="'加载中... ' + loadingSeconds + 's 后恢复'">点击加载</button>
    </div>
</section>

<section>
    <div class="header">
        <h2>线框按钮</h2>
    </div>
    <div class="body">
        <button thyButton="outline-default">预览</button>
        <button thyButton="outline-primary">新建文件夹</button>
        <p>
            <code>outline-default</code> 为之前的
            <code>thy-default</code>，
            <code>outline-primary</code> 为之前的
            <code>btn-info</code>
        </p>
        <pre>{{outlineButtonTemplate}} </pre>
    </div>
</section>

<section>
    <div class="header">
        <h2>按钮链接</h2>
    </div>
    <div class="body">
        <button thyButton="link">预览</button>
        <!-- <button thyButton="link" btnIcon="wtf-plus">搜索</button> -->
        <button thyButton="link-secondary">取消</button>
    </div>
</section>

<section>
    <div class="header">
        <h2>按钮大小</h2>
    </div>
    <div class="body">

        <code>sm</code> 小按钮：
        <button thyButton="primary" thySize="sm">确定</button>
        <button thyButton="danger" thySize="sm">删除</button>
        <button thyButton="outline-default" thySize="sm">预览</button>
        <button thyButton="outline-primary" thySize="sm">新建文件夹</button>

        <br>
        <br>
        <code>md</code> 二级大小按钮：
        <button thyButton="primary" thySize="md">确定</button>
        <button thyButton="danger" thySize="md">删除</button>
        <button thyButton="outline-default" thySize="md">预览</button>
        <button thyButton="outline-primary" thySize="md">新建文件夹</button>

        <br>
        <br> 一级按钮
        <button thyButton="primary">确定</button>
        <button thyButton="danger">删除</button>
        <button thyButton="outline-default">预览</button>
        <button thyButton="outline-primary">新建文件夹</button>


    </div>
</section>

<section>
    <div class="header">
        <h2>按钮组</h2>
    </div>
    <div class="body">
        <thy-button-group>
            <button thyButton="outline-default" thySize="md">Left</button>
            <button thyButton="outline-default" thySize="md">Middle</button>
            <button thyButton="outline-default" thySize="md">Right</button>
        </thy-button-group>
        <br/>
        <br/>
        <thy-button-group>
            <button thyButton="outline-primary" thySize="md">Left</button>
            <button thyButton="outline-primary" thySize="md">Middle</button>
            <button thyButton="outline-primary" thySize="md">Right</button>
        </thy-button-group>
        <br/>
        <br/>
        <thy-button-group>
            <button thyButton="outline-default" thySize="md">Left</button>
            <button thyButton="outline-default" thySize="md">Right</button>
            <thy-button-group>
                <button thyButton="outline-default" thySize="md"  thyDropdown [thyActionMenuToggle]="menu1">下拉菜单</button>
                <ng-template #menu1>
                    <thy-action-menu>
                        <a thyActionMenuItem href="javascript:;">
                            <span>Dropdown link</span>
                        </a>
                        <a thyActionMenuItem href="javascript:;">
                            <span>Dropdown link</span>
                        </a>
                    </thy-action-menu>
                </ng-template>
            </thy-button-group>
        </thy-button-group>
    </div>
</section>