<div class="statistic-container">
  <thy-statistic [thyValue]="1010 | number" thyTitle="在线人数" thySuffix="人" thyColor="primary" thyShape="card"></thy-statistic>
  <thy-statistic [thyValue]="95 | number" thyTitle="测试覆盖率" thyColor="success" thyShape="card" thySuffix="%"></thy-statistic>
  <thy-statistic [thyValue]="35 | number" thyTitle="警告次数" thySuffix="次" thyColor="warning" thyShape="card"></thy-statistic>
  <thy-statistic [thyValue]="12 | number" thyTitle="错误次数" thySuffix="个" thyColor="danger" thyShape="card"></thy-statistic>
  <thy-statistic [thyValue]="99.8 | number" thyTitle="价格" thySuffix="¥" thyColor="info" thyShape="card"></thy-statistic>
  <thy-statistic [thyValue]="45.5 | number" thyTitle="测试覆盖率" thySuffix="%" thyColor="#8069BF" thyShape="card"></thy-statistic>
</div>
