<section>
    <div class="header">
        <h2>Layout</h2>
    </div>
    <div class="body">
        <button thyButton="primary" (click)="deleteSimplyConfirm()">确认删除</button>
        <br>
        <br>
        <button thyButton="primary" (click)="deleteSimplyConfirmTranslate()">确认删除多语言</button>
        <br>
        <br>
        <button thyButton="primary" (click)="show()">删除</button>
        <br>
        <br>
        <button thyButton="primary" (click)="showSync()">同步删除，等待API返回</button>
        <br>
        <br>
    </div>
</section>
