<thy-alert thyType="warning" thyMessage="Confirm 已经被废弃，将在之后的版本中移除，请使用 Dialog.confirm 代替"></thy-alert>
<section>
    <div class="header">
        <h2>确认删除封装</h2>
    </div>
    <div class="body">
        <button thyButton="primary" (click)="deleteSimplyConfirm()">确认删除</button>
        <br>
        <br>
        <button thyButton="primary" (click)="deleteSimplyConfirmTranslate()">确认删除多语言</button>
    </div>
</section>

<section>
    <div class="header">
        <h2>全参数方式</h2>
    </div>
    <div class="body">
        <button thyButton="primary" (click)="show()">删除</button>
        <br>
        <br>
        <button thyButton="primary" (click)="showSync()">同步删除，等待API返回</button>
        <br>
        <br>
    </div>
</section>

<api-parameters [parameters]="apiParameters"></api-parameters>
