<h3>
    文件列表
</h3>
<ng-container *ngIf="driveStore">
    <p *ngFor="let item of driveStore.snapshot.list">
        type:{{item.type}},name:{{item.name}}
    </p>
</ng-container>
<button (click)="addFile()">新增文件</button>
<button (click)="changeFold()">改变面包屑</button>

<h3>
    面包屑导航：
</h3>
<ng-container *ngIf="tasksStore">
    <span *ngFor="let item of tasksStore.snapshot.parentFolds">{{item.name}}||</span>
</ng-container>
<h3>textarea</h3>
<textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
<h2>
    其它组件
</h2>
<demo-store-other-section></demo-store-other-section>