<ng-container *ngFor="let componentExample of componentExamples">
    <div class="header">
        <h5>链接</h5>
    </div>
    <ng-container [ngComponentOutlet]="componentExample.outlet"></ng-container>
    <tabset #staticTabs>
        <tab heading="HTML">
            <pre>
                <code>{{componentExample.html}}</code>
            </pre>
        </tab>
        <tab heading="Component">
            <pre>
                <code>{{componentExample.component}}</code>
            </pre>
        </tab>
    </tabset>
</ng-container>
