<ng-container *ngFor="let componentExample of componentExamples">
    <div class="header">
        <h2>链接</h2>
    </div>
    <ng-container [ngComponentOutlet]="componentExample.outlet"></ng-container>

    <tabset #staticTabs>
        <tab heading="HTML">
            <pre><code [highlight]="componentExample.html"></code></pre>
        </tab>
        <tab heading="Component">
            <pre><code [highlight]="componentExample.component"></code></pre>
        </tab>
    </tabset>
</ng-container>

<div>
    <div class="header">
        <h2>字体大小</h2>
    </div>
    <div class="body">
        <p class="font-size-xs">.font-size-xs 10px</p>
        <p class="font-size-sm">.font-size-sm 12px</p>
        <p class="font-size-base">.font-size-xs 14px</p>
        <p class="font-size-md">.font-size-md 16px</p>
        <p class="font-size-lg">.font-size-lg 20px</p>
    </div>
</div>


<div>
    <div class="header">
        <h2>文本</h2>
    </div>
    <div class="body">
        <p class="text-primary">.text-primary</p>

        <p class="text-success">.text-success</p>
        <p class="text-danger">.text-danger</p>
        <p class="text-warning">.text-warning</p>
        <p class="text-secondary">.text-secondary #666</p>
        <p class="text-muted">.text-muted #888</p>
        <p class="text-info">.text-info #aaa</p>
        <p class="text-placeholder">.text-placeholder #cacaca</p>
        <p class="text-light bg-dark">.text-light #ddd</p>
        <!-- <p class="text-dark">.text-dark</p> -->
        <p class="text-body">.text-body</p>
        <p class="text-white bg-dark">.text-white</p>
    </div>
</div>

<div>
    <div class="header">
        <h2>背景色</h2>
    </div>
    <div class="body">
        <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
        <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
        <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
        <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
        <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
        <div class="p-3 mb-2 bg-info text-white">.bg-info</div>
        <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
        <div class="p-3 mb-2 bg-brighter text-dark">.bg-brighter</div>
        <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
        <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
        <div class="p-3 mb-2 bg-transparent text-dark">.bg-transparent</div>
    </div>
</div>


<div>
    <div class="header">
        <h2>图标+文字</h2>
    </div>
    <div class="body">
        <div class="icon-text">
            <i class="wtf wtf-type-worksheet"></i>
            <span>任务 Normal</span>
        </div>
        <br>
        <br>
        <div class="icon-text icon-text-lg">
            <i class="wtf wtf-type-worksheet"></i>
            <span>任务 lg</span>
        </div>
        <br>
        <br>
        <div class="icon-text icon-text-sm">
            <i class="wtf wtf-type-worksheet"></i>
            <span>任务 sm</span>
        </div>
    </div>
</div>
