<button [thyButton]="'primary'" [thyActionMenuToggle]="menu">下拉菜单项</button>
<ng-template #menu>
  <thy-action-menu>
    <a thyActionMenuItem thyDisabled="true" href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>禁用</span>
    </a>
    <a thyActionMenuItem thyType="danger" href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>danger类型</span>
    </a>
    <a thyActionMenuItem thyType="success" href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>success类型</span>
    </a>
  </thy-action-menu>
</ng-template>
