pop-box-container {
    position: absolute;
    z-index: $zindex-pop-box;
}

.pop-box-container-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.pop-box {
    z-index: $zindex-pop-box;
    .pop-box-content {
        min-width: 240px;
        background: $white;
        box-shadow: $box-shadow;
        margin-top: 4px; 
    }
    .pop-box-header {
        padding: 12px 20px;
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px $pop-box-divider;
        background-color: transparent;
        .pop-box-title,
        h5 {
            flex: 1;
            display: flex;
            align-items: center;
            margin: 0;
            font-size: $font-size-md;
            line-height: 20px;
            font-weight: normal;
        }
        &--no-underline {
            border-bottom: none;
        }
        .pop-box-close {
            display: none;
        }
    }
    .pop-box-body {
        display: block;
        position: relative;
        padding: $pop-box-body-padding;
    }
    .pop-box-footer {
        display: flex;
        padding: $pop-box-footer-padding;
    }
}

@mixin pop-box {}
