<thy-list>
  <thy-list-item class="active">
    Item 1
  </thy-list-item>
  <thy-list-item>
    Item 2
  </thy-list-item>
  <thy-list-item>
    Item 3
  </thy-list-item>
  <thy-list-item class="disabled">
    <span>Item disabled</span>
  </thy-list-item>
  <thy-list-item>
    <a href="javascripr:;">Item 4</a>
  </thy-list-item>
</thy-list>
<p>可以为相应的 <code>thy-list-item</code> 添加相应的类来达到样式区别。</p>
<p>额外的，还可以通过改变 <code>thyDivided</code> 参数控制分割线的显示与否。</p>
<thy-list [thyDivided]="true">
  <thy-list-item>
    Item 1
  </thy-list-item>
  <thy-list-item>
    Item 2
  </thy-list-item>
  <thy-list-item>
    Item 3
  </thy-list-item>
</thy-list>
