<div class="font-size-lg mb-2">标记 sup</div>
<div class="body">
  <div class="mb-3">
    <thy-badge [thyCount]="5">
      <div class="square"></div>
    </thy-badge>
    thyCount 5
  </div>
  <div class="mb-3">
    <thy-badge [thyCount]="0">
      <div class="square"></div>
    </thy-badge>
    0 默认不显示
    <thy-badge [thyCount]="0" thyKeepShow="true">
      <div class="square"></div>
    </thy-badge>
    0 强制显示 thyKeepShow
    <thy-badge [thyCount]="badgeCount">
      <div class="square"></div>
    </thy-badge>
    变化 thyCount {{ badgeCount }}
  </div>
  <div class="mb-3">
    <thy-badge [thyCount]="100" [thyMaxCount]="99">
      <div class="square"></div>
    </thy-badge>
    thyMaxCount 99
  </div>
  <div class="mb-3">
    <thy-badge [thyContext]="'new'">
      <div class="square"></div>
    </thy-badge>
    thyContext 'new'
  </div>
  <div class="mb-3">
    <thy-badge [thyCount]="5">
      <div class="square"></div>
    </thy-badge>
    <thy-badge [thyCount]="5" thyType="primary">
      <div class="square"></div>
    </thy-badge>
    <thy-badge [thyCount]="5" thyType="warning">
      <div class="square"></div>
    </thy-badge>
    <thy-badge [thyCount]="5" thyType="secondary">
      <div class="square"></div>
    </thy-badge>
    <thy-badge [thyCount]="5" thyColor="#000">
      <div class="square"></div>
    </thy-badge>
    thyType secondary
  </div>
</div>
