@use '../styles/variables';

.thy-icon {
    background-repeat: no-repeat;
    // display: inline-block;
    fill: currentColor;
    font-size: variables.$font-size-md;
    line-height: 0;
    display: inline-block;
    svg {
        background-repeat: no-repeat;
        /* 通过设置 font-size 来改变图标大小 */
        width: 1em;
        height: 1em;
        /* 图标和文字相邻时，垂直对齐 */
        vertical-align: variables.$icon-vertical-align;
        /* 通过设置 color 来改变 SVG 的颜色/fill */
        fill: currentColor;
        /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示 normalize.css 中也包含这行 */
        overflow: hidden;
        transition: transform variables.$transition-duration-normal;
        /** 解决：点击 svg 使 tooltip 源的位置发生变化后，没有触发 tooltip 源的 mouseleave 事件 */
        pointer-events: none;
    }

    &-legging {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDAgNzkuMTYwNDUxLCAyMDE3LzA1LzA2LTAxOjA4OjIxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+LUNEtwAABjRJREFUeJzt3UmM3MUVx/HP/OOwiMhgxyYGGWSMjY1YpRAMYgkgRSw5hBNL5BixiAs5gYAbxDmjcCKHGBPJsSIsEoQiRQiBIjYLI3MBAzZgcDRyYhYTbDKIbfBweD3tds/Wy3+b6fpKrZnp/v+rXtVvqrq76tV7Q2NjY2rOYpyLs7Acy7AEi7AQP8SPGteO4Fv8D/vxIf6ND/AW3sAnpVneA0M1FGQFrsYljcepOZc/jK2NxzPYnXP5fVEXQVZjLW4UgpTJbmzBZuwque4JVCnIQvxaCLGmKiPaeFUI81cx7ZVOFYKswt1Yh2PKrrxDvsIm/AHvlFlxmYKcgQdwM7KyKu2TQ3gc6/FuGRWWIcgi0aA7Ma/oygpiFH/Cg+LTW2EUKcgQbsNDOKGoSkrmAO7FRhTScUUJsgx/xhVFFF4Dnset4jtOrhQxl6/F6+auGETbXhdtzZU8BTkaG/AXzM+x3LoyX7R1g2h7LuQ1ZS3BP/CzPAqbhWzHr7Cv34LyEORs/FP+SxyzjWH8Em/2U0i/U9ZFeFESg+iDF0Wf9Ew/glyOZ7GgHwPmGAtEn1zeawG9Tllr8JzDy96JI/k/fiHWxrqiF0HOwUs4vtsbB4yDuAw7urmpW0FOFqov7eamAWYvLm787Ihu3kOOwpOSGN2wFH8TfdcR3QjyiPrsW8wm1uCPnV7c6ZS1VnwrTfTOb8Tm17R0IsgysW4zCMshRfI5zjPDguRMU9YQHpPEyIP5YgV8aLqLZhLkdlyZl0UJV+CO6S6Ybsr6sdi2XJivTQPPZ1iJTyd7cboRsl4SowgW4PdTvTjVCDlDePrN1j3wujMqPDEnOE5MNUIelMQoknn43WQvTDZCVuFts8dVZ7ZySIySI7wlJ+v0e6Z4PpEvmXAYPIL2EbJI7HwdW5JRg86XYmOr6evVPhLWSWKUybG4pfWJ9hGyU3iiJ8pjF84c/6N1hPxUEqMKVou+x5GC3FC+LYkGzb5vnbLeU/5hmUSwWyynNEfI6ZIYVbJCaNAU5JrqbEk0uIbDglxaoSGJ4FIOv4cM45RKzUnsxSlDY2Nji/Fx1dYkwImZOJSfqAfnZ2LFMVEPzsxEuIpEPVie4bSqrUg0WZ4Jf91EPTgpE3sgiXqwODN3zpDPBY7P8IOqrUg0mTc0VpP4TIkgOTPUjEych0vUg5EM31VtRaLJaCYi3CTqwcFMwfGfEl3xSYb/Vm1Fosm+DHuqtiLRZE8mggwn6sH7mfB0T9SDnWkLt14syUQs9I5DPyQKYy8+Gl86eblKSxJoaJAEqQ9bOeyXdbqaZQkYQFZofMqC9xuPRDU0+791+f3JamxJ4O/jv7QKsqUCQxLBE+O/pCNt1fOOlj5v3zF8tFxbEiIydpN0LLpaZjwWvV8HUc8SubFZ237UZKE1VovAM8kBolgOiTDtO1ufnKzTd0mfuMpgizYxSOGZqmJUjI4JCcemmpbeFTmXEsWwwRTZ32YK8feeFGw/bw6IdauuQ/x9ivuLsGjAuc8UYjBz3N4h/MvczidVJs/jKtNkeEuBlMsjl0DKGgXc1b89A89vdZBmr9Mvf5tFMsVEb2zUYez8bvKHHC1yLF3Yo1GDymsibMbXnVzcbUKXpXhFyiHSKYUmdBmv4DqRzicxPQdFX3XlYtXLAuIOEUpopId7B4UR0Udd5Z+i9xXdbSKJYhJlIiOib7b1cnO/mT4vwtPS0epxDuBaPYpB/3se20QSxeE+y5kLDIu+6FkM8tmE2iFGyvYcypqtbBefprp+z2gnr13BfeK/YxC/PG4Ubc/lJFpe6btbWStS7M31ta/PxXJIrtnrihCEiMH1GH5eROE14AXcpoDTZ0U5MnwgkondaW4duz4g2nSlgo4CFulZMia2KleKTJejBdZVNKOiDStFmwqLD1PUlDUZq/AAbjJ7XIwOCe+Q9abYA8+bMgUZZ5XILLMOx5RdeYd8hU14WFtKoqKpQpBxFgtR7lAfB+9dwr95kzh7WTpVCtLKBbgR1ys/KcBuPCWmptdKrnsCdRGklRW4GpfgMvnvvfxHbLRtxTNqdpSvjoK0c6KIvn22CGl7Gn4iPPUXiOTxxzWu/QLfiPSm+/GRCB2yB2/iDTU/k/89s+yG9USLkPcAAAAASUVORK5CYII=);
        background-size: 80% 80%;
        background-position: center;
    }
}
