<thy-breadcrumb thyIcon="house">
  <thy-breadcrumb-item><span>Home</span></thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;"><thy-icon thyName="version"></thy-icon><span>Applications</span></a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item> <thy-icon thyName="version"></thy-icon><span>Sub Applications</span> </thy-breadcrumb-item>
  <thy-breadcrumb-item> <thy-icon thyName="version"></thy-icon>Application 1 </thy-breadcrumb-item>
</thy-breadcrumb>

<thy-breadcrumb>
  <thy-breadcrumb-item>
    <a href="javascript:;"><thy-icon thyName="house"></thy-icon><span>Home</span></a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;"><thy-icon thyName="version"></thy-icon><span>Applications</span></a>
  </thy-breadcrumb-item>
  <thy-breadcrumb-item> <thy-icon thyName="version"></thy-icon><span>Sub Applications</span> </thy-breadcrumb-item>
  <thy-breadcrumb-item>
    <a href="javascript:;"><span>Application 1</span><thy-icon thyName="angle-down"></thy-icon></a>
  </thy-breadcrumb-item>
</thy-breadcrumb>
