@use "../styles/variables";

.thy-mention-suggestions {
    display: block;
    width: variables.$mention-suggestions-width;
    max-height: variables.$mention-suggestions-height;
    overflow-y: auto;
}
