<div class="mb-3">
  <button thyButton="primary" [thyLoading]="updating()" (click)="updateItems()">Update</button>
  <span class="ml-2">Selected {{ selections().length }} items</span>
</div>
<thy-table
  [thyModel]="data"
  thyRowKey="id"
  thyTheme="bordered"
  thyWholeRowSelect="true"
  (thyOnMultiSelectChange)="onMultiSelectChange($event)">
  <thy-table-column thyTitle="#" thyModelKey="checked" thyType="checkbox" [thySelections]="selections()"> </thy-table-column>
  <thy-table-column thyTitle="Id" thyModelKey="id"></thy-table-column>
  <thy-table-column thyTitle="Name" thyModelKey="name"></thy-table-column>
  <thy-table-column thyTitle="Age" thyModelKey="age"></thy-table-column>
  <thy-table-column thyTitle="Job" thyModelKey="job"> </thy-table-column>
  <thy-table-column thyTitle="Address" thyModelKey="address"></thy-table-column>
  <thy-table-column thyTitle="" thyClassName="thy-operation-links">
    <ng-template #cell let-row>
      <a class="link-secondary" href="javascript:;">
        <thy-icon thyIconName="user-add"></thy-icon>
      </a>
      <a class="link-danger-weak" href="javascript:;" (click)="deleteItem(row)">
        <thy-icon thyIconName="trash"></thy-icon>
      </a>
    </ng-template>
  </thy-table-column>
</thy-table>
