<div class="demo-menu-collapaed">
  <div class="demo-menu-container">
    一级菜单收起：
    <thy-menu [thyCollapsed]="collapsed" [thyTheme]="'dark'">
      <a thyMenuItem thyIcon="dashboard" href="javascript:;"> Dashboard </a>
      <a thyMenuItem thyIcon="applications" href="javascript:;"> Apps </a>
      <a thyMenuItem thyIcon="external-user" href="javascript:;"> Teams </a>
      <a thyMenuItem thyIcon="test-case-bold" href="javascript:;"> Testhub </a>
      <a thyMenuItem href="javascript:;">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="bell-bold"></thy-icon>
        </span>
        Message
      </a>
      <a thyMenuItem [thyIcon]="collapsed ? 'indent' : 'outdent'" href="javascript:;" (click)="collapsed = !collapsed">
        <span thyMenuItemName>{{ collapsed ? '' : 'Collapse' }}</span>
      </a>
    </thy-menu>
  </div>

  <div class="demo-menu-container">
    分组菜单收起：
    <thy-menu [thyCollapsed]="collapsed" [thyTheme]="'dark'">
      <thy-menu-group thyTitle="Item1" thyCollapsible="true" thyIcon="dashboard" thyShowIcon="true">
        <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 1 </a>
        <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 2 </a>
        <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 3 </a>
      </thy-menu-group>
      <thy-menu-group thyIcon="applications" thyTitle="Item2" thyShowIcon="true" thyCollapsible="true">
        <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 4 </a>
        <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 5 </a>
      </thy-menu-group>
      <a thyMenuItem href="javascript:;">
        <span thyMenuItemIcon>
          <thy-icon thyIconName="bell-bold"></thy-icon>
        </span>
        Message
      </a>
      <a thyMenuItem [thyIcon]="collapsed ? 'indent' : 'outdent'" href="javascript:;" (click)="collapsed = !collapsed">
        <span thyMenuItemName>{{ collapsed ? '' : 'Collapse' }}</span>
      </a>
    </thy-menu>
  </div>
</div>
