<div>
  <label thyCheckbox [(ngModel)]="allowClear" thyLabelText="是否支持清除选项"></label>
  <label thyCheckbox [(ngModel)]="showSearch" thyLabelText="允许搜索"></label>
  <label thyCheckbox [(ngModel)]="disabled" thyLabelText="禁用"></label>
  <label thyCheckbox [(ngModel)]="isMultiple" [(ngModel)]="name" thyLabelText="是否多选"></label>
</div>
<div style="width: 600px;">
  <thy-custom-select
    [thyPlaceHolder]="placeholder"
    [thyShowSearch]="showSearch"
    [thyAllowClear]="allowClear"
    [thyDisabled]="disabled"
    [thyMode]="thyMode"
  >
    <thy-option
      *ngFor="let option of listOfOption"
      [thyValue]="option.value"
      [thyLabelText]="option.label"
    ></thy-option>
  </thy-custom-select>
</div>
