@if (config?.html) {
  <a href="javascript:;" class="thy-notify-close" (click)="close()">
    <thy-icon thyIconName="close"></thy-icon>
  </a>
  <div class="thy-notify-main">
    <template [ngTemplateOutlet]="config?.html"></template>
  </div>
} @else {
  <a href="javascript:;" class="thy-notify-close" (click)="close()">
    <thy-icon thyIconName="close"></thy-icon>
  </a>
  <div class="thy-notify-icon-container">
    <thy-icon [thyIconName]="iconName"></thy-icon>
  </div>
  <div class="thy-notify-main">
    <div class="thy-notify-title">{{ config?.title }}</div>
    @if (config?.detail || config?.content) {
      <div class="thy-notify-content" [ngClass]="{ 'thy-notify-content--extend': extendContentClass === true }" (click)="extendContent()">
        @if (config.content) {
          @if (contentIsString) {
            {{ config.content }}
          } @else {
            <ng-container *thyViewOutlet="config.content; context: config.contentInitialState || {}"></ng-container>
          }
        }
        @if (config?.detail) {
          <a href="javascript:;" class="link-secondary" (click)="triggerDetail()">{{ (config?.detail)['link'] }}</a>
        }
      </div>
      @if (isShowDetail) {
        <div class="thy-notify-detail">{{ (config?.detail)['content'] }}</div>
      }
    }
  </div>
}
