<div class="thy-notify-bottomRight" [style.bottom.px]="offset" [style.right.px]="offset">
  <thy-notify *ngFor="let item of notifyQueue.bottomRightQueues$ | async" [thyConfig]="item.config"></thy-notify>
</div>
<div class="thy-notify-bottomLeft" [style.bottom.px]="offset" [style.left.px]="offset">
  <thy-notify *ngFor="let item of notifyQueue.bottomLeftQueues$ | async" [thyConfig]="item.config"></thy-notify>
</div>
<div class="thy-notify-topLeft" [style.top.px]="offset" [style.left.px]="offset">
  <thy-notify *ngFor="let item of notifyQueue.topLeftQueues$ | async" [thyConfig]="item.config"></thy-notify>
</div>
<div class="thy-notify-topRight" [style.top.px]="offset" [style.right.px]="offset">
  <thy-notify *ngFor="let item of notifyQueue.topRightQueues$ | async" [thyConfig]="item.config"></thy-notify>
</div>
