<ng-container *ngIf="!config.html">
  <a href="javascript:;" class="thy-notify-close" (click)="close()">
    <thy-icon thyIconName="close"></thy-icon>
  </a>
  <div class="thy-notify-icon-container">
    <thy-icon [thyIconName]="iconName"></thy-icon>
  </div>
  <div class="thy-notify-main">
    <div class="thy-notify-title">{{ config?.title }}</div>
    <div
      *ngIf="config?.detail || config?.content"
      class="thy-notify-content"
      [ngClass]="{ 'thy-notify-content--extend': extendContentClass === true }"
      (click)="extendContent()"
    >
      <ng-container *ngIf="config.content">
        <ng-container *ngIf="!contentIsString; else contentText">
          <ng-container *thyViewOutlet="config.content; context: config.contentInitialState"></ng-container>
        </ng-container>
        <ng-template #contentText>{{ config.content }}</ng-template>
      </ng-container>
      <a href="javascript:;" *ngIf="config?.detail" class="link-secondary" (click)="triggerDetail()">{{ (config?.detail)['link'] }}</a>
    </div>
    <div class="thy-notify-detail" *ngIf="isShowDetail">{{ (config?.detail)['content'] }}</div>
  </div>
</ng-container>
<ng-container *ngIf="config?.html">
  <a href="javascript:;" class="thy-notify-close" (click)="close()">
    <thy-icon thyIconName="close"></thy-icon>
  </a>
  <div class="thy-notify-main">
    <template [ngTemplateOutlet]="config?.html"></template>
  </div>
</ng-container>
