<thy-button-group class="mb-3" thySize="md" thyAppearance="outline">
  @for (item of appearances; track $index) {
    <button thyButton (click)="appearance = item" [ngClass]="{ active: item === appearance }">
      {{ item }}
    </button>
  }
</thy-button-group>
<div class="mb-2 text-secondary">thy-date-picker</div>
<thy-date-picker [(ngModel)]="date" [thyAppearance]="appearance" [thyPlaceholder]="appearance"></thy-date-picker>
<div class="mb-2 mt-3 text-secondary">thy-range-picker</div>
<thy-range-picker [(ngModel)]="dateRange" [thyAppearance]="appearance" [thyPlaceholder]="appearance"></thy-range-picker>
