@use '../../styles/variables.scss';
@use "../../styles/mixins/utilities.scss";
@use "./mixin";

.#{variables.$thy-prefix}-text {
    display: inline-flex;
    align-items: center;
    font-size: variables.$font-size-base;

    .thy-icon {
        margin-right: 8px;
    }
}
