$option-hover-active-bg-color: $gray-100 !default;
$option-disabled-color: $gray-400 !default;

@mixin thy-option-common-layout {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    width: 100%;
    position: relative;
}

@mixin thy-option($color: $secondary) {
    @include thy-option-common-layout();
    min-height: 40px;
    color: $color;
    cursor: pointer;
    outline-style: none;
    padding: {
        left: 20px;
        right: 20px;
    }
    // use in tree-select
    .prefix-icon {
        color: $gray-300;
    }

    &:not(.disabled) {
        &.hover,
        &:hover {
            background: $option-hover-active-bg-color;
            color: $body-color;
        }
        &.active {
            background: rgba($primary, 0.1);
            color: $primary;
            &.hover,
            &:hover {
                background: $option-hover-active-bg-color;
                color: $body-color;
                .prefix-icon {
                    color: $gray-300;
                }
            }
            .prefix-icon {
                color: $primary;
            }
        }
    }

    // 禁用状态没有背景色, 字体颜色为禁用
    &.disabled {
        background: none;
        color: $option-disabled-color;
        cursor: default; // not-allowed;
    }
}

@mixin thy-option-theme($color: $secondary) {
    color: $color;

    &:not(.disabled) {
        &.hover,
        &:hover {
            background: $option-hover-active-bg-color;
            color: $body-color;
        }

        &.active {
            background: rgba($primary, 0.1);
            color: $primary;
            &.hover,
            &:hover {
                background: $option-hover-active-bg-color;
                color: $body-color;
            }
            .prefix-icon {
                color: $primary;
            }
        }
    }
}

@mixin thy-multiple-option {
    .checked-icon {
        visibility: hidden;
        position: absolute;
        right: 20px;
    }

    &:not(.disabled) {
        &.hover,
        &:hover {
            background: $option-hover-active-bg-color;
            .checked-icon {
                visibility: visible;
                color: $gray-300;
            }
        }
        &.active {
            background: transparent;
            color: $body-color;
            .checked-icon {
                visibility: visible;
                color: $primary;
            }
            &.hover,
            &:hover {
                background: $option-hover-active-bg-color;
                color: $body-color;
            }
        }
    }

    &.disabled {
        background: none;
        color: $option-disabled-color;
    }
}

@mixin thy-multiple-option-theme {
    &:not(.disabled) {
        &.hover,
        &:hover {
            background: $option-hover-active-bg-color;
        }
        &.active {
            background: transparent;
            color: $body-color;
            .checked-icon {
                color: $primary;
            }
            &.hover,
            &:hover {
                background: $option-hover-active-bg-color;
                color: $body-color;
            }
        }
    }
}

@mixin thy-grid-option {
    @include thy-option-common-layout();
    vertical-align: middle;
    justify-content: center;
    position: relative;
    margin: $list-grid-option-margin;
    width: $list-grid-option-width;
    height: $list-grid-option-height;
    background: $white;
    border-radius: $border-radius;
    border: solid 1px $gray-200;
    cursor: pointer;
    outline-style: none;
    .checked-icon {
        visibility: hidden;
        position: absolute;
        right: 10px;
        top: 10px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        color: $white;
        background: $primary;
        border-radius: 50%;
        text-align: center;
    }

    &:not(.disabled) {
        &.hover,
        &:hover {
            border: solid 1px $primary;
        }

        &.active {
            background: rgba($primary, 0.1);
            color: $body-color;
            border: solid 1px $primary;
            .checked-icon {
                visibility: visible;
            }

            &.hover,
            &:hover {
                background: $white;
                border-color: $primary;
            }
        }
    }

    &.disabled {
        color: $gray-400;
        cursor: default; // not-allowed;
    }
}

@mixin thy-grid-option-theme {
    .checked-icon {
        background: $primary;
    }

    &:not(.disabled) {
        &.hover,
        &:hover {
            border: solid 1px $primary;
        }
        &.active {
            background: rgba($primary, 0.1);
            color: $body-color;
            border: solid 1px $primary;

            &.hover,
            &:hover {
                border-color: $primary;
            }
        }
    }
}
