<div class="thy-transfer-list-header">
  <span class="thy-transfer-list-header-title"
    >{{ title }} · {{ thyDataSource?.length || renderItemCount }}<span *ngIf="max"> (上限{{ max }}个)</span></span
  >
</div>
<div class="thy-transfer-list-wrap">
  <div class="thy-transfer-list-input">
    <thy-input-search
      name="searchText"
      thySize="default"
      placeholder="搜索"
      thyTheme="transparent"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearch($event)"
    >
    </thy-input-search>
  </div>
  <!-- list -->
  <div class="thy-transfer-list-body">
    <ng-container *ngIf="thyRender; else defaultRenderList">
      <div class="thy-transfer-list-body-customize-wrapper">
        <ng-container *ngTemplateOutlet="thyRender; context: {
          $implicit: thyDataSource
        }"></ng-container>
      </div>
    </ng-container>
    <ng-template #defaultRenderList>
      <cdk-virtual-scroll-viewport #viewport *ngIf="virtualScroll" [itemSize]="40" [style.height]="'360px'">
        <div *cdkVirtualFor="let item of thyDataSource; index as i" class="d-flex thy-list-item" (click)="toggleSelect(item, i)">
          <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, i }"></ng-template>
        </div>
      </cdk-virtual-scroll-viewport>

      <ng-container *ngIf="!virtualScroll">
        <thy-list cdkDropList [cdkDropListData]="thyDataSource" (cdkDropListDropped)="drop($event)">
          <thy-list-item
            *ngFor="let item of thyDataSource; index as i"
            class="d-flex"
            [ngClass]="{ disabled: item.disabled && item.direction === 'left' }"
            (click)="toggleSelect(item, i)"
            cdkDrag
            [cdkDragData]="item"
            (cdkDragStarted)="onDragStarted()"
          >
            <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, i }"></ng-template>
          </thy-list-item>
        </thy-list>
      </ng-container>
    </ng-template>
  </div>
</div>

<ng-template #itemTemplate let-item let-i>
  <span class="item-title">
    <span *ngIf="(!this.searchText || !this.draggable) && !this.virtualScroll">
      <thy-icon thyIconName="drag" class="drag-handle"></thy-icon>
    </span>
    <ng-container *ngIf="!renderItem; else renderContainer">
      <thy-icon [thyIconName]="item.icon" class="item-icon mr-2"></thy-icon>
      <thy-flexible-text [thyTooltipContent]="item.title">
        {{ item.title }}
      </thy-flexible-text>
    </ng-container>
    <ng-template #renderContainer [ngTemplateOutlet]="renderItem" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
  </span>
  <thy-icon
    class="text-primary link-secondary"
    thyIconName="check"
    *ngIf="direction === 'left' && selectionModel.isSelected(item?._id)"
  ></thy-icon>
  <a
    class="link-secondary"
    *ngIf="direction === 'right' && !item.required"
    (click)="remove(item, i)"
  >
    <thy-icon class="item-status" thyIconName="close"></thy-icon>
  </a>
  <!-- <a
    class="link-secondary"
    *ngIf="direction === 'right' && (item | canUncheckRightItemFn: canUncheckRightItemFn:thyDataSource)"
    (click)="remove(item, i)"
  >
    <thy-icon class="item-status" thyIconName="close"></thy-icon>
  </a> -->
</ng-template>
