<thy-transfer-list
  [items]="allDataSource"
  [title]="leftTitle"
  [draggable]="thyLeftDraggable"
  (draggableUpdate)="onDragUpdate('left', $event)"
  [template]="leftTemplateRef"
>
  <ng-template #leftTemplateRef let-item>
    <div
      (click)="onSelect(item.direction === 'left' ? 'left' : 'right', { item: item })"
      class="d-flex flex-grow-1 align-items-center"
    >
      <ng-container *ngIf="thyLeftDraggable">
        <thy-icon thyIconName="drag" class="drag-handle"></thy-icon>
      </ng-container>
      <div class="item-name">
        <ng-template
          [ngTemplateOutlet]="thyTransferListItem"
          [ngTemplateOutletContext]="{ $implicit: item }"
        ></ng-template>
      </div>
      <thy-icon *ngIf="item.direction === 'right'" class="text-primary item-status" thyIconName="check"></thy-icon>
    </div>
  </ng-template>
</thy-transfer-list>

<div class="thy-transfer-operation">
  <div class="thy-transfer-operation-body">
    <thy-icon thyIconName="angle-right" class="operation-link"></thy-icon>
    <br />
    <thy-icon thyIconName="angle-left" class="operation-link"></thy-icon>
  </div>
</div>

<thy-transfer-list
  [items]="rightDataSource"
  [title]="rightTitle"
  [draggable]="thyRightDraggable"
  (draggableUpdate)="onDragUpdate('right', $event)"
  [canLock]="thyRightCanLock"
  [maxLock]="thyRightLockMax"
  [template]="rightTemplateRef"
>
  <ng-template #rightTemplateRef let-item>
    <ng-container *ngIf="thyRightDraggable">
      <thy-icon thyIconName="drag" class="drag-handle"></thy-icon>
    </ng-container>
    <div class="item-name">
      <ng-template
        [ngTemplateOutlet]="thyTransferListItem"
        [ngTemplateOutletContext]="{ $implicit: item }"
      ></ng-template>
    </div>
    <a
      class="link-secondary"
      *ngIf="item.direction === 'right' && !item.isFixed"
      (click)="onSelect('right', { item: item })"
    >
      <thy-icon class="item-status" thyIconName="close"></thy-icon>
    </a>
  </ng-template>
</thy-transfer-list>

<ng-template #thyTransferListItem let-item>
  <ng-template
    *ngIf="templateRef"
    [ngTemplateOutlet]="templateRef"
    [ngTemplateOutletContext]="{ $implicit: item }"
  ></ng-template>
  <ng-container *ngIf="!templateRef">
    {{ item.title }}
  </ng-container>
</ng-template>
