<div class="thy-transfer-list-header">
  <span class="thy-transfer-list-header-title">{{ title }} · {{ items?.length }}</span>
</div>
<ng-container *ngIf="!contentRef; else renderContent">
  <div class="thy-transfer-list-body" cdkDropListGroup [cdkDropListGroupDisabled]="!draggable">
    <ng-container *ngIf="canLock">
      <div class="thy-transfer-list-group-name">锁定 (上限{{ maxLock }}个)</div>
      <thy-list
        class="thy-transfer-list-content"
        cdkDropList
        id="lock"
        [cdkDropListData]="lockItems"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="lockListEnterPredicate"
      >
        <div class="cdk-drop-list-empty" *ngIf="lockItems.length === 0"></div>
        <thy-list-item
          class="thy-transfer-list-content-item text-truncate"
          cdkDrag
          [cdkDragData]="item"
          *ngFor="let item of lockItems"
          [ngClass]="{ active: item.checked }"
        >
          <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
        </thy-list-item>
      </thy-list>

      <div class="thy-transfer-list-group-name">未锁定</div>
    </ng-container>
    <thy-list
      class="thy-transfer-list-content"
      cdkDropList
      [cdkDropListDisabled]="!draggable"
      id="unlock"
      [cdkDropListData]="unlockItems"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="cdk-drop-list-empty" *ngIf="unlockItems.length === 0"></div>
      <thy-list-item
        class="thy-transfer-list-content-item text-truncate"
        cdkDrag
        [cdkDragData]="item"
        *ngFor="let item of unlockItems"
        [ngClass]="{ active: item.checked }"
      >
        <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
      </thy-list-item>
    </thy-list>
  </div>
</ng-container>

<ng-template #renderContent>
  <div class="thy-transfer-list-body">
    <ng-container
      *ngTemplateOutlet="
        contentRef;
        context: {
          $implicit: items,
          thySelectItem: selectItem,
          thyUnSelectItem: unselectItem
        }
      "
    ></ng-container>
  </div>
</ng-template>
