<div class="demo-layout-backdrop d-flex-column-fill">
  <thy-layout>
    <thy-header thyTitle="Header"></thy-header>
    <thy-content>
      Content
    </thy-content>
  </thy-layout>

  <thy-layout>
    <thy-header thyTitle="Header with border" thyDivided="true"></thy-header>
    <thy-content class="bg-white">
      Content
    </thy-content>
  </thy-layout>

  <thy-layout>
    <thy-header thyTitle="Header with sm size" thySize="sm"></thy-header>
    <thy-content>
      Content
    </thy-content>
  </thy-layout>

  <thy-layout>
    <thy-header thyTitle="Header" thyIcon="house-square-fill"></thy-header>
    <thy-content>
      Content
    </thy-content>
  </thy-layout>

  <thy-layout>
    <thy-header>
      <ng-template #headerTitle>
        <a class="prefix-icon" thyTooltip="返回首页" thyTooltipPlacement="bottom" href="javascript:;"
          ><thy-icon thyIconName="house-square" thyIconType="fill"></thy-icon
        ></a>
        <thy-icon class="title-separator" thyIconName="angle-right"></thy-icon>
        <a href="javascript:;" class="title-name">Custom header<thy-icon thyIconName="angle-down"></thy-icon></a>
      </ng-template>
      <ng-template #headerContent>
        <thy-nav thyType="primary" thyHorizontal="center">
          <a href="javascript:;" thyNavLink [thyNavLinkActive]="'true'">Link1</a>
          <a href="javascript:;" thyNavLink>Link2</a>
        </thy-nav>
      </ng-template>
      <ng-template #headerOperation>
        <thy-nav thyType="primary" thyHorizontal="right">
          <a thyNavLink href="javascript:;">
            <thy-icon [thyIconName]="'settings'"></thy-icon>
            Settings
          </a>
        </thy-nav>
      </ng-template>
    </thy-header>
    <thy-content>
      Content
    </thy-content>
  </thy-layout>
</div>
