<thy-layout>
  <thy-header thyTitle="Header"></thy-header>
  <thy-content> Content </thy-content>
</thy-layout>

<thy-layout>
  <thy-header thyTitle="Header with divider" thyDivided="true"></thy-header>
  <thy-content> Content </thy-content>
</thy-layout>

<thy-layout>
  <thy-header thyTitle="Header with shadow" thyShadow="true" thyDivided="true"></thy-header>
  <thy-content> Content </thy-content>
</thy-layout>

<thy-layout>
  <thy-header thyTitle="Header with sm size" thySize="sm"></thy-header>
  <thy-content> Content </thy-content>
</thy-layout>

<thy-layout>
  <thy-header thyTitle="Header with lg size" thySize="lg"></thy-header>
  <thy-content> Content </thy-content>
</thy-layout>

<thy-layout>
  <thy-header thyTitle="Header with lxg size" thySize="xlg"></thy-header>
  <thy-content> Content </thy-content>
</thy-layout>

<thy-layout>
  <thy-header thyTitle="Header with icon" thyIcon="house-square-fill"></thy-header>
  <thy-content> Content </thy-content>
</thy-layout>

<thy-layout>
  <thy-header>
    <ng-template #headerTitle>
      <a class="prefix-icon" thyTooltip="Return Home" thyTooltipPlacement="bottom" href="javascript:;"
        ><thy-icon thyIconName="house-square" thyIconType="fill"></thy-icon
      ></a>
      <thy-icon class="title-separator" thyIconName="angle-right"></thy-icon>
      <a href="javascript:;" class="title-name">Custom header<thy-icon thyIconName="angle-down"></thy-icon></a>
    </ng-template>
    <ng-template #headerContent>
      <thy-nav thyType="pulled" thyHorizontal="center">
        <a href="javascript:;" thyNavItem [thyNavItemActive]="'true'">Link1</a>
        <a href="javascript:;" thyNavItem>Link2</a>
      </thy-nav>
    </ng-template>
    <ng-template #headerOperation>
      <thy-nav thyType="pulled" thyHorizontal="right">
        <a thyNavItem href="javascript:;">
          <thy-icon [thyIconName]="'settings'"></thy-icon>
          Settings
        </a>
      </thy-nav>
    </ng-template>
  </thy-header>
  <thy-content> Content </thy-content>
</thy-layout>

<thy-layout>
  <thy-header thyDivided="true">
    <ng-template #headerTitle>
      <a class="prefix-icon" thyTooltip="Return Home" thyTooltipPlacement="bottom" href="javascript:;"
        ><thy-icon thyIconName="house-square" thyIconType="fill"></thy-icon
      ></a>
      <thy-icon class="title-separator" thyIconName="angle-right"></thy-icon>
      <a href="javascript:;" class="title-name">Custom header<thy-icon thyIconName="angle-down"></thy-icon></a>
      <thy-divider class="mx-2" thyColor="light" thyVertical="true"></thy-divider>
      <thy-space thySize="xxs">
        <a *thySpaceItem href="javascrpt:;" thyAction class="text-warning" thyIcon="star-fill"></a>
        <a *thySpaceItem href="javascrpt:;" thyAction thyIcon="info-circle"></a>
      </thy-space>
      <thy-divider class="ml-2" thyColor="light" thyVertical="true"></thy-divider>
    </ng-template>
    <ng-template #headerContent>
      <thy-nav thyType="pulled">
        <a href="javascript:;" thyNavItem [thyNavItemActive]="'true'">Link1</a>
        <a href="javascript:;" thyNavItem>Link2</a>
      </thy-nav>
    </ng-template>
  </thy-header>
  <thy-content> Content </thy-content>
</thy-layout>
