<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="12">
    <div class="demo-menu-container">
      <thy-menu>
        <a thyMenuItem thyIcon="dashboard" href="javascript:;"> Dashboard </a>
        <a thyMenuItem thyIcon="list" href="javascript:;"> All Projects </a>
        <thy-divider></thy-divider>
        <thy-menu-group thyTitle="Item1" thyCollapsible="true">
          <a thyMenuItem thyIcon="inbox" href="javascript:;">
            Project 1
            <thy-menu-item-action>
              <a thyAction thyIcon="more"></a>
            </thy-menu-item-action>
          </a>
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 2 </a>
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 3 </a>
        </thy-menu-group>
        <thy-divider></thy-divider>
        <thy-menu-group thyTitle="Item2">
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 4 </a>
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 5 </a>
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 6 </a>
        </thy-menu-group>

        <thy-divider></thy-divider>
        <a thyMenuItem thyIcon="horizontal-two-lines" href="javascript:;">
          <span thyMenuItemName>Configuration</span>
        </a>
      </thy-menu>
    </div>
  </div>
  <div thyCol [thySpan]="12">
    <div class="demo-menu-container">
      <thy-menu thyTheme="loose">
        <a thyMenuItem thyIcon="dashboard" href="javascript:;"> Dashboard </a>
        <a thyMenuItem thyIcon="list" href="javascript:;"> All Projects </a>
        <thy-divider></thy-divider>
        <thy-menu-group thyTitle="Item1" thyCollapsible="true">
          <a thyMenuItem thyIcon="inbox" href="javascript:;">
            Project 1
            <thy-menu-item-action>
              <a thyAction thyIcon="more"></a>
            </thy-menu-item-action>
          </a>
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 2 </a>
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 3 </a>
        </thy-menu-group>
        <thy-divider></thy-divider>
        <thy-menu-group thyTitle="Item2">
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 4 </a>
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 5 </a>
          <a thyMenuItem thyIcon="inbox" href="javascript:;"> Project 6 </a>
        </thy-menu-group>

        <thy-divider></thy-divider>
        <a thyMenuItem thyIcon="horizontal-two-lines" href="javascript:;">
          <span thyMenuItemName>Configuration</span>
        </a>
      </thy-menu>
    </div>
  </div>
</div>
