<thy-table
  [thyModel]="data"
  thyRowKey="id"
  (thyOnRowClick)="onRowClick($event)"
  [thyPageIndex]="pagination.index"
  [thyPageSize]="pagination.size"
  [thyPageTotal]="pagination.total"
  [thyPageSizeOptions]="pagination.sizeOptions"
  [thyShowTotal]="true"
  [thyShowSizeChanger]="true"
  [thyLoadingDone]="loadingDone()"
  [thyColumnSkeletonTypes]="skeletonTypes"
  (thyOnPageChange)="onPageChange($event)"
  (thyOnPageSizeChange)="onPageSizeChange($event)">
  <thy-table-column thyTitle="#" thyType="index" thyWidth="80"> </thy-table-column>
  <thy-table-column thyTitle="Id" thyModelKey="id" thyWidth="80"></thy-table-column>
  <thy-table-column thyTitle="Name" thyModelKey="name" thyWidth="150"></thy-table-column>
  <thy-table-column thyTitle="Age" thyModelKey="age" thyWidth="100"></thy-table-column>
  <thy-table-column thyTitle="Job" thyModelKey="job" thyWidth="150"> </thy-table-column>
  <thy-table-column thyTitle="Address" thyModelKey="address" thyWidth="auto"></thy-table-column>
  <thy-table-column thyTitle="" thyClassName="thy-operation-links" thyWidth="150">
    <ng-template #cell let-row>
      <a class="link-secondary" href="javascript:;">
        <thy-icon thyIconName="user-add"></thy-icon>
      </a>
      <a class="link-danger-weak" href="javascript:;">
        <thy-icon thyIconName="trash"></thy-icon>
      </a>
    </ng-template>
  </thy-table-column>
</thy-table>
