<div class="demo-card">
  <thy-property-operation-group class="demo-property-operation-group">
    <thy-property-operation thyLabelText="负责人" class="mr-2">
      <ng-template #operationIcon>
        <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed"></button>
      </ng-template>
    </thy-property-operation>
    <thy-property-operation thyLabelText="负责人" class="mr-2" thyShowClose="">
      <ng-template #operationIcon>
        <thy-avatar thySrc="9cb2637b-9f70-4d73-8c1d-24542b6ab4e1_80x80.png" thyName="why520crazy" thySize="38"></thy-avatar>
      </ng-template>
      why520crazy
    </thy-property-operation>
    <thy-property-operation thyLabelText="开始时间" thyIcon="calendar" thyActive="true" class="mr-2"></thy-property-operation>
    <thy-property-operation thyLabelText="截止时间" thyValue="2018-10-10" thyIcon="calendar-check" class="mr-2"></thy-property-operation>
  </thy-property-operation-group>
</div>
