<form class="mb-2" thyForm thyLayout="inline">
  <thy-form-group thyLabelText="Size:">
    <thy-select name="seize" [(ngModel)]="config.size">
      <option value="sm">小</option>
      <option value="md">中</option>
      <option value="lg">大</option>
      <option value="max-lg">特大</option>
      <option value="supper-lg">超级大</option>
      <option value="full">全屏</option>
    </thy-select>
  </thy-form-group>
  <thy-form-group thyLabelText="">
    <label thyCheckbox name="hasBackdrop" [(ngModel)]="config.hasBackdrop" thyLabelText="是否有背景幕布"></label>
  </thy-form-group>
  <thy-form-group thyLabelText="">
    <label
      thyCheckbox
      name="backdropClosable"
      [(ngModel)]="config.backdropClosable"
      thyLabelText="点击幕布自动关闭"
    ></label>
  </thy-form-group>
  <thy-form-group thyLabelText="">
    <label
      thyCheckbox
      name="closeOnNavigation"
      [(ngModel)]="config.closeOnNavigation"
      thyLabelText="浏览器导航自动关闭"
    ></label>
  </thy-form-group>
</form>

<form class="mb-2" thyForm thyLayout="inline">
  <thy-form-group thyLabelText="footer align:">
    <thy-select name="align" [(ngModel)]="layoutConfig.align">
      <option value="left">靠左侧</option>
      <option value="center">居中</option>
      <option value="right">靠右侧</option>
    </thy-select>
  </thy-form-group>
  <thy-form-group thyLabelText="footer has divider:">
    <thy-select name="divider" [(ngModel)]="layoutConfig.divider">
      <option value="true">有分割线</option>
      <option value="false">无分割线</option>
    </thy-select>
  </thy-form-group>
</form>

<div class="demo-layout btn-pair mb-2">
  <button thyButton="primary" (click)="openTemplateDialog(templateDialog)">
    Open Dialog (template)
  </button>
  <button thyButton="primary" (click)="openComponentDialog()">
    Open Dialog (component)
  </button>
</div>
<ng-template #templateDialog>
  <thy-dialog-header thyTitle="Dialog Title"></thy-dialog-header>
  <thy-dialog-body>
    <p thyTooltip="This is dialog body">template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
    <p>template dialog body</p>
  </thy-dialog-body>
  <thy-dialog-footer [thyShowBorderTop]="layoutConfig.divider" [thyAlign]="layoutConfig.align">
    <button thyButton="primary" (click)="thyDialog.close()">确认</button>
    <button thyButton="link-secondary" (click)="thyDialog.close()">
      关闭
    </button>

    <ng-template #description>
      <span class="text-desc"
        >当前打开的是一个模板当前打开的是一个模板当前打开的是一个模板当前打开的是一个模板当前打开的是一个模板当前打开的是一个模板</span
      >
    </ng-template>
  </thy-dialog-footer>
</ng-template>
