.custom-carousel-item {
    height: 500px !important;
    img {
        display: block;
        height: 100%;
        margin: 0 auto;
    }
}
.carousel-arrow-left,
.carousel-arrow-right {
    font-size: 40px;
}
