<div>
  <thy-vote class="mr-3" [thyVoteCount]="vote_count" [thyHasVoted]="has_voted" (click)="toggleVote($event)"></thy-vote>
  <thy-vote [thyVoteCount]="vote_count1" [thyHasVoted]="has_voted" (click)="toggleVote($event)"></thy-vote>
</div>
<div class="mt-3">
  <span
    class="mr-3"
    [thyVote]="'success'"
    [thyLayout]="'vertical'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted"
    (click)="toggleVote($event)"
  ></span>
  <span
    [thyVote]="'success'"
    [thyLayout]="'vertical'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted"
    thySize="md"
    (click)="toggleVote($event)"
  ></span>
</div>
<div class="mt-3">
  <thy-vote
    [thyVote]="'emoji'"
    [thySrc]="'https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png'"
    [thyVoteCount]="vote_count"
    [thyHasVoted]="has_voted"
    (click)="toggleVote($event)"
  ></thy-vote>
</div>
