<div class="thy-operation-icon">
    <ng-container *ngTemplateOutlet="operationIcon"></ng-container>
    <button *ngIf="_icon" [thyButtonIcon]="_icon" [thyShape]="_onlyHasTips ? 'circle-thick-dashed' : 'circle-thick-solid'"></button>
</div>
<div class="thy-operation-content" [ngClass]="{'only-has-tips' : _onlyHasTips}">
    <div #contentElement>
        <ng-content></ng-content>
    </div>
    <ng-container *ngIf="_value">{{_value}}</ng-container>
    <div class="thy-tips" *ngIf="thyLabelHasValue || !thyLabelHasValue && !_value">{{_labelText}}</div>
</div>
<span *ngIf="_showClose" (click)="remove($event)" class="close-link close-link-danger close-link-sm wtf wtf-times"></span>


