<div class="thy-operation-icon">
  <ng-container *ngTemplateOutlet="operationIcon"></ng-container>
  @if (icon) {
    <button
      [ngClass]="{ disabled: disabled }"
      [thyButtonIcon]="icon"
      [thyShape]="onlyHasTips ? 'circle-thick-dashed' : 'circle-thick-solid'"
    ></button>
  }
</div>
<div class="thy-operation-content" [ngClass]="{ 'only-has-tips': onlyHasTips }">
  <div #contentElement>
    <ng-content></ng-content>
  </div>
  @if (value) {
    <span thyFlexibleText [thyTooltipContent]="value">{{ value }}</span>
  }

  @if (!value || (!labelHideWhenHasValue && value)) {
    <div class="thy-tips">{{ labelText }}</div>
  }
</div>
@if (showClose && !disabled) {
  <span (click)="remove($event)" class="close-link close-link-danger">
    <thy-icon thyIconName="close" class=" close-link-sm"></thy-icon>
  </span>
}
