<div class="thy-operation-icon">
  <ng-container *ngTemplateOutlet="operationIcon"></ng-container>
  <button
    *ngIf="icon"
    [thyButtonIcon]="icon"
    [thyShape]="onlyHasTips ? 'circle-thick-dashed' : 'circle-thick-solid'"
  ></button>
</div>
<div class="thy-operation-content" [ngClass]="{ 'only-has-tips': onlyHasTips }">
  <div #contentElement>
    <ng-content></ng-content>
  </div>
  <ng-container *ngIf="value">{{ value }}</ng-container>
  <div class="thy-tips" *ngIf="!value || (!labelHideWhenHasValue && value)">{{ labelText }}</div>
</div>
<span *ngIf="showClose" (click)="remove($event)" class="close-link close-link-danger">
  <thy-icon thyIconName="close" class=" close-link-sm"></thy-icon>
</span>
