<div class="demo-card">
  <form class="mb-2" thyForm thyLayout="inline">
    <thy-form-group>
      <label
        name="draggable"
        thyCheckbox
        thyInline="true"
        [(ngModel)]="options.draggable"
        thyLabelText="开启拖拽"
      ></label>
    </thy-form-group>
    <thy-form-group>
      <label
        name="checkable"
        thyCheckbox
        thyInline="true"
        [(ngModel)]="options.checkable"
        thyLabelText="开启Check选择"
      ></label>
    </thy-form-group>
    <thy-form-group>
      <label
        name="checkable"
        thyCheckbox
        thyInline="true"
        [(ngModel)]="options.multiple"
        thyLabelText="支持多选"
      ></label>
    </thy-form-group>
    <thy-form-group>
      <ng-template #formGroup>
        展开的icon：
        <input class="mr-3" [style.width.px]="130" thyInput name="expand" [(ngModel)]="options.treeIcons.expand" />
        折叠的icon：
        <input [style.width.px]="130" thyInput name="collapse" [(ngModel)]="options.treeIcons.collapse" />
      </ng-template>
    </thy-form-group>
  </form>

  <div class="mb-1">
    <button class="mr-3 mb-2" thyButton="primary-square" (click)="expandAllNodes()">展开全部节点</button>

    <button class="mr-3 mb-2" thyButton="primary-square" (click)="collapsedAllNodes()">收起全部节点</button>

    <button class="mr-3 mb-2" thyButton="primary-square" (click)="getCheckedNodes()">getCheckedNodes()</button>

    <button class="mr-3 mb-2" thyButton="primary-square" (click)="getRootNodes()">getRootNodes()</button>

    <button class="mr-3 mb-2" thyButton="primary-square" (click)="getSelectedNode()">getSelectedNode()</button>

    <button class="mr-3 mb-2" thyButton="primary-square" (click)="getSelectedNodes()">getSelectedNodes()</button>

    <button class="mr-3 mb-2" thyButton="primary-square" (click)="getExpandedNodes()">getExpandedNodes()</button>

    <button class="mr-3 mb-2" thyButton="primary-square" (click)="getCheckedNodes()">getCheckedNodes()</button>
  </div>

  <div *ngIf="dataText" class="demo-layout">
    {{ dataText | json }}
  </div>
  <div class="demo-layout  mt-3 mt-3">
    <thy-content-section class="pt-3">
      <thy-tree
        #tree
        [thyNodes]="treeNodes"
        [thyIcons]="options.treeIcons"
        [thyDraggable]="options.draggable"
        [thyCheckable]="options.checkable"
        [thyMultiple]="options.multiple"
        [thyShowExpand]="showExpand"
        [thyBeforeDragDrop]="beforeDragDrop"
        (thyOnDragDrop)="onDragDrop($event)"
        (thyOnClick)="onClick($event)"
      >
        <ng-template #treeNodeTemplate let-node="node" let-data="origin">
          <thy-icon
            *ngIf="data.type !== 'member'"
            class="thy-tree-node-icon"
            [thyIconName]="node?.isExpanded ? 'folder-open-fill' : 'folder-fill'"
          ></thy-icon>
          <div class="thy-tree-node-title text-truncate" thyFlexibleText [thyTooltipContent]="data?.name">
            {{ data?.name }} <span class="text-desc ml-1">( {{ data.member_count || 0 }}人 )</span>
          </div>
        </ng-template>
      </thy-tree>
    </thy-content-section>
  </div>
</div>
