<div class="demo-card">
  <form class="mb-2" thyForm thyLayout="inline">
    <thy-form-group>
      <label name="draggable" thyCheckbox thyInline="true" [(ngModel)]="draggable" thyLabelText="开启拖拽"></label>
    </thy-form-group>
    <thy-form-group>
      <label name="checkable" thyCheckbox thyInline="true" [(ngModel)]="checkable" thyLabelText="开启Check选择"></label>
    </thy-form-group>
  </form>

  <div class="demo-layout  mb-2">
    <thy-content>
      <thy-tree
        thyType="especial"
        [thyNodes]="treeNodes"
        [thyDraggable]="draggable"
        [thyCheckable]="checkable"
        [thyShowExpand]="showExpand"
        [thyBeforeDragDrop]="beforeDragDrop"
        (thyOnDragDrop)="onDragDrop($event)"
      >
        <ng-template #treeNodeTemplate let-node="node" let-data="origin">
          <thy-icon
            *ngIf="data.type !== 'member'"
            class="thy-tree-node-icon"
            [thyIconName]="node?.isExpanded ? 'folder-open-fill' : 'folder-fill'"
          ></thy-icon>
          <div class="thy-tree-node-title text-truncate" thyFlexibleText [thyTooltipContent]="data?.name">
            {{ data?.name }} <span class="text-desc ml-1">( {{ data.member_count || 0 }}人 )</span>
          </div>
        </ng-template>
      </thy-tree>
    </thy-content>
  </div>
</div>
