<span>默认：</span>
<div class="mt-2">
  <thy-radio-group [(ngModel)]="theme">
    <label thyRadio thyLabelText="Default" thyInline thyValue="default"></label>
    <label thyRadio thyLabelText="Bordered" thyInline thyValue="bordered"></label>
    <label thyRadio thyLabelText="Boxed" thyInline thyValue="boxed"></label>
  </thy-radio-group>
</div>
<thy-button-group thySize="sm" thyType="outline-default" class="mb-2">
  @for (item of sizes; track $index) {
    <button thyButton (click)="size = item.value" [ngClass]="{ active: item.value === size }">{{ item.value }}({{ item.height }})</button>
  }
</thy-button-group>
<thy-table-skeleton [thyRowCount]="6" [thyTheme]="theme" [thySize]="size"> </thy-table-skeleton>

<span class="d-inline-block mt-8">支持配置骨架列的宽度和类型：</span>
<thy-table-skeleton [thyRowCount]="6" [thyColumns]="columns"> </thy-table-skeleton>
