<!-- <div class="demo-section">
  <h3>虚拟滚动 Select 示例</h3>
  <p>包含10000条数据，使用虚拟滚动优化性能</p>

  <div class="demo-item">
    <h4>单选模式</h4>
    <thy-select
      [(ngModel)]="value"
      [thyOptions]="options"
      thyPlaceHolder="请选择选项"
      [thyVirtualScroll]="true"
      [thyItemSize]="40"
      [thyVirtualHeight]="'300px'"
      style="width: 300px">
    </thy-select>
    <p>当前选择: {{ value }}</p>
  </div>

  <div class="demo-item">
    <h4>多选模式</h4>
    <thy-select
      [(ngModel)]="multipleValue"
      [thyOptions]="options"
      thyPlaceHolder="请选择多个选项"
      thyMode="multiple"
      [thyVirtualScroll]="true"
      [thyItemSize]="40"
      [thyVirtualHeight]="'300px'"
      style="width: 300px">
    </thy-select>
    <p>当前选择: {{ multipleValue.join(', ') }}</p>
  </div>

  <div class="demo-item">
    <h4>带搜索功能</h4>
    <thy-select
      [(ngModel)]="value"
      [thyOptions]="options"
      thyPlaceHolder="搜索并选择选项"
      [thyShowSearch]="true"
      [thyVirtualScroll]="true"
      [thyItemSize]="40"
      [thyVirtualHeight]="'300px'"
      style="width: 300px">
    </thy-select>
  </div>
</div> -->
