<h5>基本</h5>
<div class="pb-2">
  <a href="javascript:;" class="mr-3">主色链接</a>
  <a href="javascript:;" class="link-major mr-3">重要链接</a>
  <a href="javascript:;" class="link-muted mr-3">背景色下的次链接</a>
  <a href="javascript:;" class="link-secondary mr-3">次链接</a>
  <a href="javascript:;" class="link-info mr-3">信息链接</a>
</div>
<div class="pb-3">
  <a href="javascript:;" class="mr-3 disabled">主色链接</a>
  <a href="javascript:;" class="link-major disabled mr-3">重要链接</a>
  <a href="javascript:;" class="link-muted disabled mr-3">背景色下的次链接</a>
  <a href="javascript:;" class="link-secondary disabled mr-3">次链接</a>
  <a href="javascript:;" class="link-info disabled mr-3">信息链接</a>
</div>

<h5>特殊</h5>
<div class="pb-2">
  <a href="javascript:;" class="link-success mr-3">成功链接</a>
  <a href="javascript:;" class="link-warning mr-3">警告链接</a>
  <a href="javascript:;" class="link-danger mr-3">危险链接</a>
</div>
<div class="pb-3">
  <a href="javascript:;" class="link-success disabled mr-3">成功链接</a>
  <a href="javascript:;" class="link-warning disabled mr-3">警告链接</a>
  <a href="javascript:;" class="link-danger disabled mr-3">危险链接</a>
</div>

<h5>弱化特殊</h5>
<div class="pb-2">
  <a href="javascript:;" class="link-warning-weak mr-3">弱警告链接</a>
  <a href="javascript:;" class="link-danger-weak mr-3">弱危险链接</a>
</div>
<div class="pb-3">
  <a href="javascript:;" class="link-warning-weak disabled mr-3">弱警告链接</a>
  <a href="javascript:;" class="link-danger-weak disabled mr-3">弱危险链接</a>
</div>
