<thy-button-group class="d-block w-50 mb-3" thySize="md" thyType="outline-default">
  <button thyButton *ngFor="let size of btnSizes" (click)="currentSize = size" [ngClass]="{ active: size === currentSize }">
    {{ size }}
  </button>
</thy-button-group>
<thy-date-picker class="d-block w-50 mb-3" [thySize]="currentSize"></thy-date-picker>
<thy-month-picker class="d-block w-50 mb-3" [thySize]="currentSize" thyPlaceHolder="选择月份"></thy-month-picker>
<thy-quarter-picker class="d-block w-50 mb-3" [thySize]="currentSize" thyPlaceHolder="选择季度"></thy-quarter-picker>
<thy-range-picker class="d-block w-50 mb-3" [thySize]="currentSize"></thy-range-picker>
