<form thyForm #ngForm="ngForm" name="demoForm" [thyFormValidatorConfig]="validateConfig" #demoForm="thyForm">
  <thy-form-group thyLabelText="Username" thyLabelRequired>
    <input thyInput name="username" [(ngModel)]="model.name" required placeholder="Please type username" />
  </thy-form-group>
  <thy-form-group thyLabelText="Email" thyLabelRequired>
    <input thyInput name="email" email type="email" [(ngModel)]="model.email" required placeholder="Please type email" />
  </thy-form-group>
  <thy-form-group thyLabelText="Password" thyLabelRequired>
    <input thyInput type="password" name="password" [(ngModel)]="model.password" required placeholder="Please type password" />
  </thy-form-group>
  <thy-form-group-error></thy-form-group-error>
  <thy-form-group-footer>
    <button thyButton="primary" thyLoadingText="Saving" (thyFormSubmit)="submit()">
      Save
    </button>
    <button [thyButton] (click)="demoForm.validator.setElementErrorMessage('username', 'This is custom error of username')">
      Add custom error
    </button>
    <button [thyButton]="'primary'" (click)="demoForm.validator.addError('This is form error')">
      Add form error
    </button>
    <button [thyButton]="'link-secondary'" (click)="reset(demoForm)">Reset</button>
  </thy-form-group-footer>
</form>
