<div class="bg-white">
  <thy-nav thySize="lg" thyType="pulled">
    <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
    <a href="javascript:;" thyNavItem>导航二</a>
  </thy-nav>
  <br />

  <thy-nav thySize="md" thyType="pulled">
    <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
    <a href="javascript:;" thyNavItem>导航二</a>
  </thy-nav>

  <br />

  <thy-nav thySize="sm" thyType="pulled">
    <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
    <a href="javascript:;" thyNavItem>导航二</a>
  </thy-nav>
</div>
