<div class="bg-light p-3">
  <thy-nav thySize="lg" class="bg-white">
    <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
    <a href="javascript:;" thyNavItem>导航二</a>
  </thy-nav>
  <br />

  <thy-nav thySize="md" class="bg-white">
    <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
    <a href="javascript:;" thyNavItem>导航二</a>
  </thy-nav>

  <br />

  <thy-nav thySize="sm" class="bg-white">
    <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
    <a href="javascript:;" thyNavItem>导航二</a>
  </thy-nav>
</div>
