@use 'variables.scss' as variables2;

.bg-example {
    padding: 12px;
    .thy-nav {
        background: variables2.$white;
        margin-bottom: 12px;

        &.thy-nav-pills {
            padding: {
                top: 8px;
                bottom: 8px;
            }
        }
    }
}
