<div>
  <input
    thyInput
    [(ngModel)]="value"
    [thyAutofocus]="true"
    [placeholder]="placeholder"
    thyAutocompleteTrigger
    [thyAutocomplete]="auto"
    [thyAutocompleteWidth]="500"
    (ngModelChange)="valueChange($event)"
  />
  <thy-autocomplete #auto [emptyStateText]="'没有搜索到任何数据'">
    <thy-option-group thyGroupLabel="最新浏览">
      <thy-option *ngFor="let item of listOfOption" [thyLabelText]="item.label" [thyValue]="item.value"></thy-option>
    </thy-option-group>
  </thy-autocomplete>
</div>
