<thy-nav thyType="primary" [thyResponsive]="true" class="responsive-nav">
  <a
    class="nav-tab"
    href="javascript:;"
    *ngFor="let item of navList"
    thyNavItem
    [thyNavItemActive]="activeIndex === item.index"
    (click)="activeIndex = item.index"
    > <span class="ml-1">{{ item.name }}</span></a
  >

  <ng-template #morePopover let-context>
    <thy-action-menu>
      <span thyActionMenuItem>自定义</span>
      <ng-container *ngFor="let item of context">
        <span
          class="thy-nav-item-more"
          thyActionMenuItem
          [thyActionMenuItemActive]="item.isActive"
          (click)="navItemClick(item)"
          [innerHTML]="item.content"
        ></span>
      </ng-container>
    </thy-action-menu>
  </ng-template>
</thy-nav>

<thy-nav thyType="primary" [thyResponsive]="true" class="responsive-nav">
  <a
    class="nav-tab"
    href="javascript:;"
    *ngFor="let item of navList"
    thyNavItem
    [thyNavItemActive]="activeIndex === item.index"
    (click)="activeIndex = item.index"
    ><span class="ml-1">{{ item.name }}</span></a
  >

  <ng-template #more>
    自定义
  </ng-template>
</thy-nav>
