<thy-native-table thyEditable #basicTable [thyData]="data">
  <thead>
    <tr>
      <th thyWidth="100px">Id</th>
      <th thyWidth="100px">Name</th>
      <th thyWidth="200px" thySortable>Age</th>
      <th>Job</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    @for (row of basicTable.data(); track row.id) {
      <tr cdkDrag (dragstart)="onDragStart($event)">
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.age }}</td>
        <td>{{ row.job }}</td>
        <td>{{ row.address }}</td>
      </tr>
    }
  </tbody>
</thy-native-table>
