<thy-radio-group [(ngModel)]="checkedValue" thySize="lg">
  <label thyRadioButton thyLabelText="选项一" thyValue="1"></label>
  <label thyRadioButton thyLabelText="选项二" thyValue="2"></label>
  <label thyRadioButton thyLabelText="选项三" thyValue="3"></label>
</thy-radio-group>
<br />

<thy-radio-group [(ngModel)]="checkedValue" thySize="md">
  <label thyRadioButton thyLabelText="选项一" thyValue="1"></label>
  <label thyRadioButton thyLabelText="选项二" thyValue="2"></label>
  <label thyRadioButton thyLabelText="选项三" thyValue="3"></label>
</thy-radio-group>
<br />

<thy-radio-group [(ngModel)]="checkedValue" thySize="sm">
  <label thyRadioButton thyLabelText="选项一" thyValue="1"></label>
  <label thyRadioButton thyLabelText="选项二" thyValue="2"></label>
  <label thyRadioButton thyLabelText="选项三" thyValue="3"></label>
</thy-radio-group>
