<thy-cascader
  class="mb-3"
  [thyOptions]="areaCode"
  [thyShowSearch]="true"
  [(ngModel)]="value"
  (ngModelChange)="selectChanges($event)"
  style="width: 200px">
</thy-cascader>
<p></p>

<thy-cascader
  [thyOptions]="multiAreaCode"
  [thyShowSearch]="true"
  [(ngModel)]="multiValues"
  [thyMultiple]="true"
  (ngModelChange)="selectChanges($event)"
  [thyLabelRender]="renderTpl"
  style="width: 200px">
</thy-cascader>

<ng-template #renderTpl let-labels="labels" let-selectedOptions="selectedOptions">
  @for (label of labels; track label; let i = $index; let isLast = $last) {
    @if (isLast && label) {
      <span> {{ label }}</span>
    }
  }
</ng-template>
