<table [ngClass]="tableClassMap" [ngStyle]="{ 'min-width': thyMinWidth }">
  <colgroup>
    @for (column of columns; track $index) {
      <col [width]="column.width" />
    }
  </colgroup>
  @if (!thyHeadless) {
    <thead>
      <tr>
        @for (column of columns; track $index) {
          <th>
            <thy-skeleton-rectangle
              [thyRowWidth]="column?.type === columnType.checkbox ? checkboxWidth : titleWidth"
              [thyRowHeight]="titleHeight"
              [thyBorderRadius]="thyBorderRadius"
              [thyAnimated]="thyAnimated"
              [thyAnimatedInterval]="thyAnimatedInterval"
              [thyPrimaryColor]="thyTheme === 'bordered' || thyTheme === 'boxed' ? '#eee' : thyPrimaryColor"
              [thySecondaryColor]="thySecondaryColor"></thy-skeleton-rectangle>
          </th>
        }
      </tr>
    </thead>
  }
  <tbody>
    @for (item of rowCount; track $index; let i = $index) {
      <tr>
        @for (column of columns; track $index) {
          <td>
            <ng-container
              *thyViewOutlet="
                skeletonColumnsMap[column.type] || defaultTemplate;
                context: {
                  trIndex: i
                }
              ">
            </ng-container>
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<ng-template #titleTemplate let-trIndex="trIndex">
  <div class="d-flex align-items-center">
    <thy-skeleton-rectangle
      class="mr-2 flex-shrink-0"
      [thyRowWidth]="checkboxWidth"
      [thyRowHeight]="thyRowHeight"
      [thyBorderRadius]="thyBorderRadius"
      [thyAnimated]="thyAnimated"
      [thyAnimatedInterval]="thyAnimatedInterval"
      [thyPrimaryColor]="thyPrimaryColor"
      [thySecondaryColor]="thySecondaryColor"></thy-skeleton-rectangle>

    <ng-container
      *thyViewOutlet="
        defaultTemplate;
        context: {
          rowWidth: trIndex % 3 === 0 ? '75%' : trIndex % 3 === 1 ? '100%' : trIndex % 3 === 2 ? '65%' : ''
        }
      "></ng-container>
  </div>
</ng-template>

<ng-template #checkboxTemplate>
  <thy-skeleton-rectangle
    [thyRowWidth]="checkboxWidth"
    [thyRowHeight]="thyRowHeight"
    [thyBorderRadius]="thyBorderRadius"
    [thyAnimated]="thyAnimated"
    [thyAnimatedInterval]="thyAnimatedInterval"
    [thyPrimaryColor]="thyPrimaryColor"
    [thySecondaryColor]="thySecondaryColor"></thy-skeleton-rectangle>
</ng-template>

<ng-template #memberTemplate>
  <div class="d-flex align-items-center">
    <thy-skeleton-circle
      class="mr-2 flex-shrink-0"
      [thySize]="avatarSize"
      [thyAnimated]="thyAnimated"
      [thyAnimatedInterval]="thyAnimatedInterval"
      [thyPrimaryColor]="thyPrimaryColor"
      [thySecondaryColor]="thySecondaryColor"></thy-skeleton-circle>

    <ng-container *thyViewOutlet="defaultTemplate"></ng-container>
  </div>
</ng-template>

<ng-template #defaultTemplate let-rowWidth="rowWidth">
  <thy-skeleton-rectangle
    [thyRowWidth]="rowWidth"
    [thyRowHeight]="thyRowHeight"
    [thyBorderRadius]="thyBorderRadius"
    [thyAnimated]="thyAnimated"
    [thyAnimatedInterval]="thyAnimatedInterval"
    [thyPrimaryColor]="thyPrimaryColor"
    [thySecondaryColor]="thySecondaryColor"></thy-skeleton-rectangle>
</ng-template>
