<div
  class="thy-table-body"
  cdkScrollable
  [ngClass]="{
    'thy-table-fixed': hasFixed,
    'thy-table-bordered-theme': theme === 'bordered' && hasFixed,
    'thy-table-body-empty': loadingDone && model?.length === 0 && groups?.length === 0
  }">
  <table
    #table
    class="table"
    [ngClass]="[className]"
    [class.table-fixed]="thyLayoutFixed"
    [class.table-draggable]="draggable"
    [class.table-group]="mode === 'group'"
    [ngStyle]="{ 'min-width': thyMinWidth }">
    <colgroup>
      @for (column of columns; track $index) {
        <col [width]="column.width" [ngStyle]="{ minWidth: hasFixed ? column.width : column.minWidth }" />
      }
    </colgroup>

    @if (!thyHeadless) {
      <thead>
        <tr>
          @for (column of columns; track $index) {
            <th
              [ngClass]="column.headerClassName"
              [class.thy-table-column-sortable]="column.sortable"
              [class.thy-table-fixed-column-left]="column.fixed === fixedDirection.left"
              [class.thy-table-fixed-column-right]="column.fixed === fixedDirection.right"
              [ngStyle]="{ left: column.left + 'px', right: column.right + 'px' }"
              (click)="onColumnHeaderClick($event, column)">
              @if (!column.headerTemplateRef) {
                <span>{{ column.title }}</span>
              }
              @if (column.headerTemplateRef) {
                <ng-template [ngTemplateOutlet]="column.headerTemplateRef" [ngTemplateOutletContext]="{ $implicit: column }"></ng-template>
              }
              @if (column.sortable) {
                <thy-icon [ngClass]="['thy-table-column-sortable-icon', 'px-1', column.sortDirection]" thyIconName="sort-vertical-tt">
                </thy-icon>
              }
            </th>
          }
        </tr>
      </thead>
    }

    @if (loadingDone) {
      <tbody
        thyDragDrop
        cdkDropList
        [cdkDropListDisabled]="!draggable"
        [cdkDropListSortPredicate]="dropListEnterPredicate"
        (cdkDropListDropped)="onDragDropped($event)">
        <!-- group -->
        @if (mode === 'group') {
          @for (group of groups; track $index) {
            <tr
              class="thy-table-group"
              (click)="expandGroup(group)"
              cdkDrag
              [cdkDragPreviewClass]="dragPreviewClass"
              [cdkDragData]="group"
              [cdkDragDisabled]="group | tableRowDragDisabled: thyDragDisabledPredicate"
              (cdkDragStarted)="onDragGroupStarted($event)"
              (cdkDragEnded)="onDragGroupEnd($event)">
              <td [attr.colspan]="columns.length">
                <div class="thy-table-group-container">
                  @if (draggable && !(group | tableRowDragDisabled: thyDragDisabledPredicate)) {
                    <thy-icon class="table-draggable-icon" thyIconName="drag"></thy-icon>
                  }
                  <thy-icon class="expand-icon" [thyIconName]="group.expand ? 'angle-down' : 'angle-right'"></thy-icon>
                  @if (groupTemplate) {
                    <ng-template
                      [ngTemplateOutlet]="groupTemplate"
                      [ngTemplateOutletContext]="{ $implicit: group.origin, group: group.origin }"></ng-template>
                  }
                </div>
              </td>
            </tr>
            @if (group.children?.length && group.expand) {
              @for (row of group.children; track trackByFn(i, row); let i = $index) {
                <ng-template
                  [ngTemplateOutlet]="trTemplate"
                  [ngTemplateOutletContext]="{
                    row: row,
                    index: i,
                    level: 0
                  }"></ng-template>
              }
            }
          }
        }
        <!-- list模式下没有直接使用item模板，是因为使用了模板影响了Angular的依赖树，导致CdkDragDrop排序失效，目前这样修改可以暂时解决线上不能排序的问题，Tree模式的排序暂时不支持 -->
        @if (mode === 'list') {
          @for (row of model; track $index; let i = $index) {
            <tr
              #rows
              class="thy-sortable-item"
              cdkDrag
              [cdkDragPreviewClass]="dragPreviewClass"
              [cdkDragData]="row"
              [cdkDragDisabled]="row | tableRowDragDisabled: thyDragDisabledPredicate"
              (cdkDragStarted)="onDragStarted($event)"
              [ngClass]="renderRowClassName(row, i)"
              (click)="onRowClick($event, row)"
              (thyContextMenu)="onRowContextMenu($event, row)">
              <ng-template
                [ngTemplateOutlet]="tdsTemplate"
                [ngTemplateOutletContext]="{
                  row: row,
                  index: i,
                  level: 0
                }"></ng-template>
            </tr>
          }
        }
        @if (mode === 'tree') {
          @for (row of model; track trackByFn(i, row); let i = $index) {
            <ng-template [ngTemplateOutlet]="trTemplate" [ngTemplateOutletContext]="{ row: row, index: i, level: 0 }"></ng-template>
          }
        }
        <ng-template #trTemplate let-row="row" let-i="index" let-level="level">
          <tr
            #rows
            class="thy-sortable-item"
            cdkDrag
            [cdkDragPreviewClass]="dragPreviewClass"
            [cdkDragData]="row"
            (cdkDragStarted)="onDragStarted($event)"
            [cdkDragDisabled]="row | tableRowDragDisabled: thyDragDisabledPredicate"
            [ngClass]="renderRowClassName(row, i)"
            (click)="onRowClick($event, row)"
            (thyContextMenu)="onRowContextMenu($event, row)">
            <ng-template
              [ngTemplateOutlet]="tdsTemplate"
              [ngTemplateOutletContext]="{
                row: row,
                index: i,
                level: level + 1
              }"></ng-template>
          </tr>
          @if (mode === 'tree' && isExpanded(row)) {
            @for (child of row[thyChildrenKey]; track trackByFn(j, child); let j = $index) {
              <ng-template
                [ngTemplateOutlet]="trTemplate"
                [ngTemplateOutletContext]="{ row: child, index: j, level: level + 1 }"></ng-template>
            }
          }
        </ng-template>
        <ng-template #tdsTemplate let-row="row" let-i="index" let-level="level">
          @for (column of columns; track $index; let j = $index) {
            <td
              [ngClass]="column.className"
              [class.thy-operation-links]="!!column.operational"
              [class.thy-table-column-secondary]="!!column.secondary"
              [class.thy-table-checkbox-column]="column.type === customType.checkbox"
              [class.thy-table-fixed-column-left]="column.fixed === fixedDirection.left"
              [class.thy-table-fixed-column-right]="column.fixed === fixedDirection.right"
              [ngStyle]="
                mode === 'tree' && column.expand
                  ? tdIndentComputed(level, column)
                  : { left: column.left + 'px', right: column.right + 'px' }
              ">
              @if (j === 0 && draggable && !(row | tableRowDragDisabled: thyDragDisabledPredicate)) {
                <thy-icon class="table-draggable-icon" thyIconName="drag"></thy-icon>
              }
              <!--template-->
              @if (isTemplateRef(column.cellTemplateRef)) {
                @if (mode === 'tree' && column.expand) {
                  <thy-icon
                    class="tree-expand-icon cursor-pointer"
                    [thyIconName]="isExpanded(row) ? 'angle-down' : 'angle-right'"
                    [style.visibility]="showExpand(row) ? 'visible' : 'hidden'"
                    [style.left.px]="iconIndentComputed(level)"></thy-icon>
                }
                <ng-template [ngTemplateOutlet]="column.cellTemplateRef" [ngTemplateOutletContext]="{ $implicit: row }"></ng-template>
              }
              <!--not template-->
              @if (!isTemplateRef(column.cellTemplateRef)) {
                <!-- default -->
                @if (column.model && !column.type) {
                  @if (mode === 'tree' && column.expand) {
                    <thy-icon
                      class="tree-expand-icon cursor-pointer"
                      [thyIconName]="isExpanded(row) ? 'angle-down' : 'angle-right'"
                      [style.visibility]="showExpand(row) ? 'visible' : 'hidden'"
                      [style.marginLeft.px]="iconIndentComputed(level)"></thy-icon>
                  }
                  @if (getModelValue(row, column.model) | isValidModelValue) {
                    {{ getModelValue(row, column.model) }}
                  } @else {
                    @if (column.defaultText) {
                      <div class="text-desc">
                        {{ column.defaultText }}
                      </div>
                    }
                  }
                  <ng-template #default>
                    @if (column.defaultText) {
                      <div class="text-desc">
                        {{ column.defaultText }}
                      </div>
                    }
                  </ng-template>
                }
                <!-- index -->
                @if (column.type === customType.index) {
                  {{ i + 1 }}
                }
                <!-- checkbox -->
                @if (column.type === customType.checkbox) {
                  <input
                    type="checkbox"
                    [(ngModel)]="row[column.key]"
                    (ngModelChange)="onCheckboxChange(row, column)"
                    (click)="onStopPropagation($event)"
                    [disabled]="column.disabled" />
                }
                <!-- radio -->
                @if (column.type === customType.radio) {
                  <input
                    type="radio"
                    [(ngModel)]="selectedRadioRow"
                    [value]="row"
                    [disabled]="column.disabled"
                    (click)="onStopPropagation($event)"
                    (change)="onRadioSelectChange($event, row)" />
                }
                <!-- switch -->
                @if (column.type === customType.switch) {
                  <thy-switch
                    [(ngModel)]="row[column.key]"
                    (ngModelChange)="onModelChange(row, column)"
                    [disabled]="column.disabled"
                    (thyChange)="onSwitchChange($event, row, column)"></thy-switch>
                }
              }
            </td>
          }
        </ng-template>
      </tbody>
    }
  </table>

  @if (loadingDone && model.length === 0 && groups.length === 0) {
    <div class="thy-table-empty clear-hover">
      @if (emptyTemplate) {
        <ng-template [ngTemplateOutlet]="emptyTemplate"></ng-template>
      } @else {
        <thy-empty
          [thyMessage]="emptyOptions.message"
          [thyTranslationKey]="emptyOptions.translationKey"
          [thyTranslationValues]="emptyOptions.translationValues"
          [thyEntityName]="emptyOptions.entityName"
          [thyEntityNameTranslateKey]="emptyOptions.entityNameTranslateKey"
          [thyIconName]="emptyOptions.iconName"
          [thySize]="emptyOptions.size"
          [thyMarginTop]="emptyOptions.marginTop"
          [thyTopAuto]="emptyOptions.topAuto"
          [thyContainer]="emptyOptions.container"></thy-empty>
      }
    </div>
  }

  @if (!loadingDone) {
    <thy-table-skeleton
      [thyRowCount]="6"
      [thyHeadless]="true"
      [thyTheme]="theme"
      [thySize]="size"
      [thyMinWidth]="thyMinWidth"
      [thyColumns]="skeletonColumns">
    </thy-table-skeleton>
  }

  @if (pagination.total > pagination.size) {
    <div class="thy-table-footer" [class.thy-table-footer-has-padding]="theme === 'default'">
      <thy-pagination
        [thyPageIndex]="pagination.index"
        [thyTotal]="pagination.total"
        [thyPageSize]="pagination.size"
        [thyPageSizeOptions]="pagination.sizeOptions"
        [thyShowSizeChanger]="showSizeChanger"
        [thyShowTotal]="showTotal"
        (thyPageChanged)="onPageChange($event)"
        (thyPageIndexChange)="onPageIndexChange($event)"
        (thyPageSizeChanged)="onPageSizeChange($event)"></thy-pagination>
    </div>
  }
</div>

<ng-template>
  <ng-content></ng-content>
</ng-template>
