<div
  class="thy-table-body"
  cdkScrollable
  [ngClass]="{ 'thy-table-fixed': hasFixed, 'thy-table-bordered-theme': theme === 'bordered' && hasFixed }">
  <table
    #table
    class="table"
    [ngClass]="[className]"
    [class.table-fixed]="thyLayoutFixed"
    [class.table-draggable]="draggable"
    [class.table-group]="mode === 'group'"
    [style.min-width]="thyMinWidth">
    <colgroup>
      <col *ngFor="let column of columns" [width]="column.width" [style.minWidth]="hasFixed ? column.width : column.minWidth" />
    </colgroup>

    <thead *ngIf="!thyHeadless">
      <tr>
        <th
          *ngFor="let column of columns"
          [ngClass]="column.headerClassName"
          [class.thy-table-column-sortable]="column.sortable"
          [class.thy-table-fixed-column-left]="column.fixed === fixedDirection.left"
          [class.thy-table-fixed-column-right]="column.fixed === fixedDirection.right"
          [style.left.px]="column.left"
          [style.right.px]="column.right"
          (click)="onColumnHeaderClick($event, column)">
          <ng-container *ngIf="!column.headerTemplateRef">
            <span>{{ column.title }}</span>
          </ng-container>
          <ng-container *ngIf="column.headerTemplateRef">
            <ng-template [ngTemplateOutlet]="column.headerTemplateRef" [ngTemplateOutletContext]="{ $implicit: column }"></ng-template>
          </ng-container>
          <ng-container *ngIf="column.sortable">
            <thy-icon [ngClass]="['thy-table-column-sortable-icon', 'px-1', column.sortDirection]" thyIconName="sort-vertical-tt">
            </thy-icon>
          </ng-container>
        </th>
      </tr>
    </thead>

    <tbody
      *ngIf="loadingDone"
      thyDragDrop
      cdkDropList
      [cdkDropListDisabled]="!draggable"
      [cdkDropListSortPredicate]="dropListEnterPredicate"
      (cdkDropListDropped)="onDragDropped($event)">
      <!-- group -->
      <ng-container *ngIf="mode === 'group'">
        <ng-container *ngFor="let group of groups">
          <tr
            class="thy-table-group"
            (click)="expandGroup(group)"
            cdkDrag
            [cdkDragPreviewClass]="dragPreviewClass"
            [cdkDragData]="group"
            [cdkDragDisabled]="group | tableRowDragDisabled : thyDragDisabledPredicate"
            (cdkDragStarted)="onDragGroupStarted($event)"
            (cdkDragEnded)="onDragGroupEnd($event)">
            <td [attr.colspan]="columns.length">
              <div class="thy-table-group-container">
                <ng-container *ngIf="draggable && !(group | tableRowDragDisabled : thyDragDisabledPredicate)">
                  <thy-icon class="table-draggable-icon" thyIconName="drag"></thy-icon>
                </ng-container>
                <thy-icon class="expand-icon" [thyIconName]="group.expand ? 'angle-down' : 'angle-right'"></thy-icon>
                <ng-container *ngIf="groupTemplate">
                  <ng-template
                    [ngTemplateOutlet]="groupTemplate"
                    [ngTemplateOutletContext]="{ $implicit: group.origin, group: group.origin }"></ng-template>
                </ng-container>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="group.children?.length && group.expand">
            <ng-container *ngFor="let row of group.children; trackBy: trackByFn; let i = index">
              <ng-template
                [ngTemplateOutlet]="trTemplate"
                [ngTemplateOutletContext]="{
                  row: row,
                  index: i,
                  level: 0
                }"></ng-template>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

      <!-- list模式下没有直接使用item模板，是因为使用了模板影响了Angular的依赖树，导致CdkDragDrop排序失效，目前这样修改可以暂时解决线上不能排序的问题，Tree模式的排序暂时不支持 -->
      <ng-container *ngIf="mode === 'list'">
        <tr
          #rows
          *ngFor="let row of model; trackBy: trackByFn; let i = index"
          class="thy-sortable-item"
          cdkDrag
          [cdkDragPreviewClass]="dragPreviewClass"
          [cdkDragData]="row"
          [cdkDragDisabled]="row | tableRowDragDisabled : thyDragDisabledPredicate"
          (cdkDragStarted)="onDragStarted($event)"
          [ngClass]="renderRowClassName(row, i)"
          (click)="onRowClick($event, row)"
          (thyContextMenu)="onRowContextMenu($event, row)">
          <ng-template
            [ngTemplateOutlet]="tdsTemplate"
            [ngTemplateOutletContext]="{
              row: row,
              index: i,
              level: 0
            }"></ng-template>
        </tr>
      </ng-container>

      <ng-container *ngIf="mode === 'tree'">
        <ng-container *ngFor="let row of model; trackBy: trackByFn; let i = index">
          <ng-template [ngTemplateOutlet]="trTemplate" [ngTemplateOutletContext]="{ row: row, index: i, level: 0 }"></ng-template>
        </ng-container>
      </ng-container>

      <ng-template #trTemplate let-row="row" let-i="index" let-level="level">
        <tr
          #rows
          class="thy-sortable-item"
          cdkDrag
          [cdkDragPreviewClass]="dragPreviewClass"
          [cdkDragData]="row"
          (cdkDragStarted)="onDragStarted($event)"
          [cdkDragDisabled]="row | tableRowDragDisabled : thyDragDisabledPredicate"
          [ngClass]="renderRowClassName(row, i)"
          (click)="onRowClick($event, row)"
          (thyContextMenu)="onRowContextMenu($event, row)">
          <ng-template
            [ngTemplateOutlet]="tdsTemplate"
            [ngTemplateOutletContext]="{
              row: row,
              index: i,
              level: level + 1
            }"></ng-template>
        </tr>

        <ng-container *ngIf="mode === 'tree' && isExpanded(row)">
          <ng-template
            *ngFor="let child of row[thyChildrenKey]; trackBy: trackByFn; let j = index"
            [ngTemplateOutlet]="trTemplate"
            [ngTemplateOutletContext]="{ row: child, index: j, level: level + 1 }"></ng-template>
        </ng-container>
      </ng-template>

      <ng-template #tdsTemplate let-row="row" let-i="index" let-level="level">
        <td
          *ngFor="let column of columns; let j = index"
          [ngClass]="column.className"
          [class.thy-operation-links]="!!column.operational"
          [class.thy-table-column-secondary]="!!column.secondary"
          [class.thy-table-checkbox-column]="column.type === customType.checkbox"
          [class.thy-table-fixed-column-left]="column.fixed === fixedDirection.left"
          [class.thy-table-fixed-column-right]="column.fixed === fixedDirection.right"
          [style.left.px]="column.left"
          [style.right.px]="column.right"
          [ngStyle]="mode === 'tree' && column.expand ? tdIndentComputed(level) : null">
          <ng-container *ngIf="j === 0 && draggable && !(row | tableRowDragDisabled : thyDragDisabledPredicate)">
            <thy-icon class="table-draggable-icon" thyIconName="drag"></thy-icon>
          </ng-container>

          <!--template-->
          <ng-container *ngIf="isTemplateRef(column.cellTemplateRef)">
            <thy-icon
              class="tree-expand-icon cursor-pointer"
              *ngIf="mode === 'tree' && column.expand"
              [thyIconName]="isExpanded(row) ? 'angle-down' : 'angle-right'"
              [style.visibility]="showExpand(row) ? 'visible' : 'hidden'"
              [style.left.px]="iconIndentComputed(level)"></thy-icon>
            <ng-template [ngTemplateOutlet]="column.cellTemplateRef" [ngTemplateOutletContext]="{ $implicit: row }"></ng-template>
          </ng-container>

          <!--not template-->
          <ng-container *ngIf="!isTemplateRef(column.cellTemplateRef)">
            <!-- default -->
            <ng-container *ngIf="column.model && !column.type">
              <thy-icon
                class="tree-expand-icon cursor-pointer"
                *ngIf="mode === 'tree' && column.expand"
                [thyIconName]="isExpanded(row) ? 'angle-down' : 'angle-right'"
                [style.visibility]="showExpand(row) ? 'visible' : 'hidden'"
                [style.marginLeft.px]="iconIndentComputed(level)"></thy-icon>
              <ng-container *ngIf="getModelValue(row, column.model) | isValidModelValue; else default">
                {{ getModelValue(row, column.model) }}
              </ng-container>
              <ng-template #default>
                <div *ngIf="column.defaultText" class="text-desc">
                  {{ column.defaultText }}
                </div>
              </ng-template>
            </ng-container>

            <!-- index -->
            <ng-container *ngIf="column.type === customType.index">
              {{ i + 1 }}
            </ng-container>

            <!-- checkbox -->
            <ng-container *ngIf="column.type === customType.checkbox">
              <input
                type="checkbox"
                [(ngModel)]="row[column.key]"
                (ngModelChange)="onCheckboxChange(row, column)"
                (click)="onStopPropagation($event)"
                [disabled]="column.disabled" />
            </ng-container>

            <!-- radio -->
            <ng-container *ngIf="column.type === customType.radio">
              <input
                type="radio"
                [(ngModel)]="selectedRadioRow"
                [value]="row"
                [disabled]="column.disabled"
                (click)="onStopPropagation($event)"
                (change)="onRadioSelectChange($event, row)" />
            </ng-container>

            <!-- switch -->
            <ng-container *ngIf="column.type === customType.switch">
              <thy-switch
                [(ngModel)]="row[column.key]"
                (ngModelChange)="onModelChange(row, column)"
                [disabled]="column.disabled"
                (thyChange)="onSwitchChange($event, row, column)"></thy-switch>
            </ng-container>
          </ng-container>
        </td>
      </ng-template>
    </tbody>
  </table>

  <div *ngIf="loadingDone && model.length === 0 && groups.length === 0" class="thy-table-empty clear-hover">
    <ng-container *ngIf="emptyTemplate; else defaultEmpty">
      <ng-template [ngTemplateOutlet]="emptyTemplate"></ng-template>
    </ng-container>
    <ng-template #defaultEmpty>
      <thy-empty
        [thyMessage]="emptyOptions.message"
        [thyTranslationKey]="emptyOptions.translationKey"
        [thyTranslationValues]="emptyOptions.translationValues"
        [thyEntityName]="emptyOptions.entityName"
        [thyEntityNameTranslateKey]="emptyOptions.entityNameTranslateKey"
        [thyIconName]="emptyOptions.iconName"
        [thySize]="emptyOptions.size"
        [thyMarginTop]="emptyOptions.marginTop"
        [thyTopAuto]="emptyOptions.topAuto"
        [thyContainer]="emptyOptions.container"></thy-empty>
    </ng-template>
  </div>

  <thy-table-skeleton
    *ngIf="!loadingDone"
    [thyRowCount]="5"
    [thyHeadless]="true"
    [thyTheme]="theme"
    [thySize]="size"
    [thyMinWidth]="thyMinWidth"
    [thyColumns]="skeletonColumns">
  </thy-table-skeleton>

  <div class="thy-table-footer" *ngIf="pagination.total > pagination.size" [class.thy-table-footer-has-padding]="theme === 'default'">
    <thy-pagination
      [thyPageIndex]="pagination.index"
      [thyTotal]="pagination.total"
      [thyPageSize]="pagination.size"
      [thyPageSizeOptions]="pagination.sizeOptions"
      [thyShowSizeChanger]="showSizeChanger"
      [thyShowTotal]="showTotal"
      (thyPageChanged)="onPageChange($event)"
      (thyPageIndexChange)="onPageIndexChange($event)"
      (thyPageSizeChanged)="onPageSizeChange($event)"></thy-pagination>
  </div>
</div>

<ng-template>
  <ng-content></ng-content>
</ng-template>
