<thy-space>
  <span *thySpaceItem> <thy-dot thyColor="primary"></thy-dot> primary </span>
  <span *thySpaceItem> <thy-dot thyColor="info"></thy-dot> info </span>
  <span *thySpaceItem> <thy-dot thyColor="danger"></thy-dot> danger </span>
  <span *thySpaceItem> <thy-dot thyColor="warning"></thy-dot> warning </span>
  <span *thySpaceItem> <thy-dot thyColor="success"></thy-dot> success </span>
  <span *thySpaceItem> <thy-dot thyColor="default"></thy-dot> default </span>
  <span *thySpaceItem> <thy-dot thyColor="light"></thy-dot> light </span>
  <span *thySpaceItem> <thy-dot thyColor="#2cccda"></thy-dot> #2cccda </span>
  <span *thySpaceItem> <thy-dot thyColor="#999"></thy-dot> #999 </span>
</thy-space>
