<thy-space>
  <span *thySpaceItem>
    <thy-dot thyColor="primary"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="info"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="danger"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="warning"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="success"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="default"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="light"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="#2cccda"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="#999"></thy-dot>
  </span>
</thy-space>
