.thy-card {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
    background: $white;
    border-radius: $card-border-radius;

    .thy-card-header {
        padding: 10px 20px;
        display: flex;
        flex: 0 0 auto;
        align-items: center;

        .card-header-icon {
            display: block;
            margin-right: 7px;
            width: 0;
            height: 14px;
            @include card-head-title-icon($card-title-icon-color);
        }

        .card-header-title {
            line-height: 20px;
            color: $card-title-color;
        }

        .card-header-description {
            margin-left: 10px;
            font-size: 12px;
            color: $card-title-info-color;
        }

        .card-header-operation {
            margin-left: auto;
        }

        &--sm {
            padding-top: 0;
        }

        &--lg {
            padding: {
                top: 15px;
                bottom: 15px;
            }
        }
    }

    .thy-card-content {
        padding: 10px 20px 20px 20px;
        flex: auto;

        &--alignment-title {
            padding-left: 30px;
            padding-right: 30px;
        }

        &--scroll {
            // margin-top: 10px;
            padding-bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }

        &--sm {
            padding-top: 0px;
            padding-bottom: 10px;
        }
    }

    // 分割的模式, 头底部出现分割线，标题前面的垂直分割符隐藏，上下间距变大
    &--divided {
        .thy-card-header {
            position: relative;
            padding: {
                top: $card-divided-spacing-y;
                bottom: $card-divided-spacing-y;
            }
            &::after {
                position: absolute;
                content: ' ';
                bottom: 0;
                height: 1px;
                background-color: $card-header-divider-color;
                left: 20px;
                right: 20px;
            }

            .card-header-icon {
                display: none;
            }
        }
        .thy-card-content {
            padding: {
                top: $card-divided-spacing-y;
                bottom: $card-divided-spacing-y;
            }
        }
    }

    &--clear-left-right-padding {
        .thy-card-header {
            padding-left: 0;
            padding-right: 0;
        }

        .thy-card-content {
            padding-left: 0;
            padding-right: 0;

            &--alignment-title {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
