.thy-card {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  background: $white;
  .thy-card-header {
    padding: 10px 20px 0 20px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    .card-header-icon {
      display: block;
      margin-right: 12px;
      width: 0;
      height: 20px;
      @include card-head-title-icon($card-title-icon-color);
    }
    .card-header-title {
      line-height: 20px;
    }
    .card-header-title-info {
      margin-left: 10px;
      font-size: 12px;
      color: $card-title-info-color;
    }
    .card-header-operation {
      margin-left: auto;
    }
  }
  .thy-card-content {
    padding: 15px 20px;
    flex: auto;
    &--alignment-title {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}