<button thyButton="primary" [thyDropdown]="menu">Dropdown <thy-icon thyIconName="caret-down"></thy-icon></button>

<thy-dropdown-menu #menu>
  <a thyDropdownMenuItem thyType="danger" href="javascript:;">
    <span thyDropdownMenuItemIcon> <thy-icon thyIconName="trash"></thy-icon></span>
    <span thyDropdownMenuItemName>Delete</span>
  </a>
  <a thyDropdownMenuItem thyType="success" href="javascript:;">
    <span thyDropdownMenuItemIcon><thy-icon thyIconName="plus"></thy-icon></span>
    <span thyDropdownMenuItemName>New</span>
  </a>
</thy-dropdown-menu>
