<button thyButton="primary" [thyDropdown]="menu">Dropdown <thy-icon thyIconName="caret-down"></thy-icon></button>

<thy-dropdown-menu #menu>
  <a thyDropdownMenuItem thyType="danger" href="javascript:;">
    <thy-icon thyIconName="trash" thyDropdownMenuItemIcon></thy-icon>
    <span thyDropdownMenuItemName>Delete</span>
  </a>
  <a thyDropdownMenuItem thyType="success" href="javascript:;">
    <thy-icon thyIconName="plus" thyDropdownMenuItemIcon></thy-icon>
    <span thyDropdownMenuItemName>New</span>
  </a>
</thy-dropdown-menu>
