<section class="mb-3" style="width: 68px;height:32px;">
  <thy-action thyActionIcon="copy" thyCopy thyCopyFeedbackMode="replace" [thyCopyTips]="''">替换</thy-action>
</section>
<section class="mb-3 d-flex">
  <thy-action thyActionIcon="copy" thyCopy thyCopyFeedbackMode="append">追加</thy-action>
</section>
<section class="mb-3">
  <thy-action thyActionIcon="copy" thyCopy thyCopyFeedbackMode="notify">通知</thy-action>
</section>
<section class="mb-3">
  <thy-action thyActionIcon="copy" thyCopy thyCopyFeedbackMode="none">不设置</thy-action>
</section>
