<thy-progress class="mt-2" thyType="info" [thyValue]="value" [thySize]="size"></thy-progress>
<thy-progress class="mt-2" thyType="info" [thyValue]="value" [thySize]="size" thyMax="100"></thy-progress>
<thy-progress class="mt-2" thyType="info" thyMax="80" [thyValue]="value" [thySize]="size"></thy-progress>
<thy-progress class="mt-2" thyType="info" [thyValue]="value" [thySize]="size" [thyMax]="max"></thy-progress>
<thy-progress class="mt-2" thyType="info" [thyValue]="maxLessValue" [thySize]="size" thyMax="30"></thy-progress>
<thy-progress class="mt-2" thyType="info" [thyValue]="[valueEmpty]" [thySize]="size" [thyMax]="maxEmpty"></thy-progress>
