<div class="custom-disabled-container">
  <div class="mb-2">选择框禁用：</div>
  <div class="d-flex mb-2">
    <thy-cascader class="mr-2" [thyDisabled]="true" style="width: 200px"></thy-cascader>
    <thy-cascader [disabled]="true" [(ngModel)]="values" [thyOptions]="areaCode" [thyMultiple]="true" style="width: 200px"> </thy-cascader>
  </div>

  <div class="mb-2">下拉单选禁用：</div>
  <thy-cascader [thyOptions]="thyCustomerOptions" [thyExpandTriggerAction]="'hover'" [(ngModel)]="value" style="width: 200px">
  </thy-cascader>

  <div class="my-2">下拉多选禁用：</div>
  <thy-cascader
    [thyOptions]="multiOptions"
    [(ngModel)]="multiValues"
    [thyMultiple]="true"
    [thyLabelRender]="renderTpl"
    style="width: 200px"
    (ngModelChange)="selectChanges($event)">
  </thy-cascader>

  <ng-template #renderTpl let-labels="labels" let-selectedOptions="selectedOptions">
    <ng-container *ngFor="let label of labels; let i = index; let isLast = last">
      <span *ngIf="isLast && label"> {{ label }}</span>
    </ng-container>
  </ng-template>
</div>
