.thy-tree {
    &-node {
        &-wrapper {
            &.active {
                background: $tree-node-wrapper-active-background-color;
                color: $primary;

                .thy-tree-node-content {
                    .thy-tree-node-icon {
                        color: $primary;
                    }
                }
            }
        }
    }
}
