@import './mixin.scss';

.thy-tree {
    display: block;
    overflow: hidden;
    position: relative;
    padding: $tree-padding;
    color: $gray-700;
    transform: translateY(-10px);

    > div > .thy-tree-node {
        padding: 0 0 0 10px;
    }

    &-node {
        display: block;
        padding: $tree-node-padding;

        &-wrapper {
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: $tree-node-wrapper-padding;
            height: $tree-node-wrapper-height;
            margin: 0 -1000px;
            padding: 0 1000px;
            border: 2px solid transparent;

            .thy-tree-expand {
                width: 16px;
                line-height: 16px;
                color: #cacaca;
                text-align: center;
                margin-right: 8px;
                display: inline-block;

                &-icon {
                    display: inline-block;
                }

                &:hover {
                    color: $gray-600;
                }
            }

            .thy-tree-node-content {
                width: 1px;
                flex: 1;
                display: flex;
                align-items: center;
                height: $tree-node-wrapper-height;

                .thy-tree-node-icon {
                    color: $gray-300;
                    margin-right: 8px;
                }

                .thy-tree-node-title {
                    flex: 1;
                    &.truncate {
                        @include text-truncate();
                    }
                }
            }

            &.hover,
            &:hover {
                // @include item-box-shadow();
                background-color: $gray-100;
            }

            &.active {
                background: rgba($primary, 0.1);
                color: $primary;

                .thy-tree-node-content {
                    .thy-tree-node-icon {
                        color: $primary;
                    }
                }
            }
        }
    }

    &.thy-tree-draggable {
        .thy-tree-node {
            .thy-tree-node-wrapper {
                .thy-tree-drag-icon {
                    position: absolute;
                    left: 4px;
                    padding: 0;
                    color: $gray-500;
                    visibility: hidden;
                }

                &:hover {
                    .thy-tree-drag-icon {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.thy-tree {
    &-node {
        &-title {
        }

        &-edit {
            width: 100%;

            input {
                background-color: $white;
            }
        }

        &-actions {
            text-align: right;
            display: none;

            > a {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-wrapper {
            &.hover,
            &:hover {
                .thy-tree-node-actions {
                    display: inline-block;
                }
            }
        }
    }

    &-empty-children-state {
        width: 100%;
        line-height: 50px;
        padding: 0 30px;
        background-color: #fafafa;
        color: #aaa;
    }
}

.thy-tree-sm {
    .thy-tree-node {
        &-wrapper {
            height: $tree-node-wrapper-sm-height;
        }
    }
}

.thy-tree-default {
    @include thy-tree-default();
}

.thy-tree-especial {
}

@include thy-tree-drag-drop();
