@use './mixin.scss';
@use "../../styles/bootstrap/mixins/text-truncate";
@use "../../styles/variables";

.thy-visual-scrolling-tree {
    height: 100%;
    .cdk-virtual-scroll-viewport {
        height: 100%;
    }
}

.thy-tree {
    display: block;
    overflow: hidden;
    position: relative;
    padding: variables.$tree-padding;
    color: variables.$gray-700;
    transform: translateY(-10px);

    > div > .thy-tree-node {
        padding: 0 0 0 10px;
    }

    &-node {
        display: block;
        padding: variables.$tree-node-padding;

        &-wrapper {
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: variables.$tree-node-wrapper-padding;
            height: variables.$tree-node-wrapper-height;
            margin: 0 -1000px;
            padding: 0 1000px;
            border: 2px solid transparent;

            .thy-tree-index {
                display: inline-block;
            }

            .thy-tree-expand {
                width: 16px;
                line-height: 16px;
                color: #cacaca;
                text-align: center;
                margin-right: 8px;
                display: inline-block;

                &-icon {
                    display: inline-block;
                }

                &:hover {
                    color: variables.$gray-600;
                }
            }

            .thy-tree-node-content {
                width: 1px;
                flex: 1;
                display: flex;
                align-items: center;
                height: variables.$tree-node-wrapper-height;

                .thy-tree-node-icon {
                    color: variables.$gray-300;
                    margin-right: 8px;
                }

                .thy-tree-node-check {
                    margin-top: 0;
                    margin-right: 6px;
                }

                .thy-tree-node-title {
                    flex: 1;

                    &.truncate {
                        @include text-truncate.text-truncate();
                    }
                }
            }

            &.disabled {
                background: none;
                color: variables.$gray-400;
                cursor: default; // not-allowed;
            }

            &:not(.disabled) {
                &.hover,
                &:hover {
                    // @include item-box-shadow();
                    background-color: variables.$gray-100;
                }

                &.active {
                    background: rgba(variables.$primary, 0.1);
                    color: variables.$primary;

                    .thy-tree-node-content {
                        .thy-tree-node-icon {
                            color: variables.$primary;
                        }
                    }
                }
            }
        }
    }

    &.thy-tree-draggable {
        .thy-tree-node {
            .thy-tree-node-wrapper {
                .thy-tree-drag-icon {
                    position: absolute;
                    left: 4px;
                    padding: 0;
                    color: variables.$gray-500;
                    visibility: hidden;
                }
            }
        }
    }
}

.thy-tree {
    &-node {
        &-title {
        }

        &-edit {
            width: 100%;

            input {
                background-color: variables.$white;
            }
        }

        &-actions {
            text-align: right;

            > * {
                display: none;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-wrapper {
            &.hover,
            &:hover {
                .thy-tree-node-actions {
                    > * {
                        display: inline-block;
                    }
                }
            }
        }
    }

    &-empty-children-state {
        width: 100%;
        line-height: 50px;
        padding: 0 30px;
        background-color: #fafafa;
        color: #aaa;
    }
}

.thy-tree-sm {
    .thy-tree-node {
        &-wrapper {
            height: variables.$tree-node-wrapper-height-sm;
            .thy-tree-node-content {
                height: variables.$tree-node-wrapper-height-sm;
            }
        }
    }
}

.thy-tree-default {
    @include mixin.thy-tree-default();
}

@include mixin.thy-tree-drag-drop();
