<section>
    <div class="header"><h2>面包屑（">" 默认分隔符）</h2></div>
    <div class="body">
        <thy-breadcrumb thyIcon="wtf-folder">
            <thy-breadcrumb-item><span>首页</span></thy-breadcrumb-item>
            <thy-breadcrumb-item>
                <a href="javascript:;">产品研发部</a>
            </thy-breadcrumb-item>
            <thy-breadcrumb-item>
                <a href="javascript:;">架构</a>
            </thy-breadcrumb-item>
            <thy-breadcrumb-item>
                <a href="javascript:;">基础 <i class="wtf wtf-angle-down"></i></a>
            </thy-breadcrumb-item>
        </thy-breadcrumb>
        <pre class="mt-1"><code lang="typescript" [highlight]="exampleCode"></code></pre>
    </div>
</section>

<section>
    <div class="header"><h2>面包屑（"/"分隔符）</h2></div>
    <div class="body">
        <thy-breadcrumb thyIcon="wtf-folder" thySeparator="slash">
            <thy-breadcrumb-item><span>首页</span></thy-breadcrumb-item>
            <thy-breadcrumb-item>
                <a href="javascript:;">产品研发部</a>
            </thy-breadcrumb-item>
            <thy-breadcrumb-item>
                <a href="javascript:;">架构</a>
            </thy-breadcrumb-item>
            <thy-breadcrumb-item>
                <a href="javascript:;">基础 <i class="wtf wtf-angle-down"></i></a>
            </thy-breadcrumb-item>
        </thy-breadcrumb>
        <pre class="mt-1"><code lang="typescript" [highlight]="exampleCode2"></code></pre>
    </div>
</section>

<section>
    <div class="header"><h2>面包屑（"\"分隔符）</h2></div>
    <div class="body">
        <thy-breadcrumb thyIcon="wtf-folder" thySeparator="backslash">
            <thy-breadcrumb-item><span>首页</span></thy-breadcrumb-item>
            <thy-breadcrumb-item>
                <a href="javascript:;">产品研发部</a>
            </thy-breadcrumb-item>
            <thy-breadcrumb-item>
                <a href="javascript:;">架构</a>
            </thy-breadcrumb-item>
            <thy-breadcrumb-item>
                <a href="javascript:;">基础 <i class="wtf wtf-angle-down"></i></a>
            </thy-breadcrumb-item>
        </thy-breadcrumb>
        <pre class="mt-1"><code lang="typescript" [highlight]="exampleCode3"></code></pre>
    </div>
</section>

<api-parameters
    title="thy-breadcrumb 参数列表"
    [parameters]="apiBreadcrumbParameters"
></api-parameters>


