// .demo-badge-section {
//     thy-badge {
//         margin-left: 40px;
//     }
//     .square {
//         width: 24px;
//         height: 24px;
//         border-radius: 5px;
//         background: #333;
//     }
//     .circle {
//         width: 24px;
//         height: 24px;
//         border-radius: 50%;
//         background: #333;
//     }
// }
