<form thyForm style="width: 500px">
  <thy-form-group class="d-flex">
    <ng-template #formGroup>
      <label class="col-sm-2 col-form-label pr-0">PageIndex</label>
      <div class="col-sm-2 col-form-control">
        <input thyInput name="pageIndex" type="number" [(ngModel)]="pagination.pageIndex" required />
      </div>
      <label class="col-sm-2 col-form-label pr-0">PageSize</label>
      <div class="col-sm-2 col-form-control">
        <input thyInput name="pageSize" [(ngModel)]="pagination.pageSize" required />
      </div>
      <label class="col-sm-2 col-form-label pr-0">Total</label>
      <div class="col-sm-2 col-form-control">
        <input thyInput name="total" [(ngModel)]="pagination.total" required />
      </div>
    </ng-template>
  </thy-form-group>
</form>
<br />
<thy-pagination
  [(thyPageIndex)]="pagination.pageIndex"
  [thyPageSize]="pagination.pageSize"
  [thyTotal]="pagination.total"
  [thyHideOnSinglePage]="true"
  (thyPageIndexChange)="onPageChange($event)"
></thy-pagination>
<br />
<thy-pagination
  [(thyPageIndex)]="pagination.pageIndex"
  [thyPageSize]="pagination.pageSize"
  [thyTotal]="pagination.total"
  [thyShowQuickJumper]="true"
  [thyDisabled]="true"
></thy-pagination>
