<section>
  <div class="header">
    <h2>Basic Tooltip</h2>
  </div>
  <div class="body">
    <form thyForm thyLayout="inline">
      <thy-form-group thyLabelText="Trigger">
        <thy-select name="size" [(ngModel)]="tooltipConfig.trigger" (ngModelChange)="triggerChange()" name="trigger">
          <option value="hover">hover</option>
          <option value="focus">focus</option>
          <option value="click">click</option>
        </thy-select>
      </thy-form-group>
      <thy-form-group thyLabelText="Placement">
        <thy-select
          name="size"
          [(ngModel)]="tooltipConfig.placement"
          name="placement"
          (ngModelChange)="refreshTooltips()"
        >
          <option value="top">top</option>
          <option value="topLeft">topLeft</option>
          <option value="topRight">topRight</option>
          <option value="bottom">bottom</option>
          <option value="bottomLeft">bottomLeft</option>
          <option value="bottomRight">bottomRight</option>
          <option value="left">left</option>
          <option value="leftTop">leftTop</option>
          <option value="leftBottom">leftBottom</option>
          <option value="right">right</option>
          <option value="rightTop">rightTop</option>
          <option value="rightBottom">rightBottom</option>
        </thy-select>
      </thy-form-group>

      <thy-form-group thyLabelText="Show Delay">
        <input thyInput type="number" [(ngModel)]="tooltipConfig.showDelay" name="showDelay" />
      </thy-form-group>
      <thy-form-group thyLabelText="Hide Delay">
        <input thyInput type="number" [(ngModel)]="tooltipConfig.hideDelay" name="hideDelay" />
      </thy-form-group>

      <thy-form-group thyLabelText="">
        <label thyCheckbox thyLabelText="Disabled" [(ngModel)]="tooltipConfig.disabled" name="disabled"></label>
      </thy-form-group>
    </form>
    <div class="mt-3" *ngIf="showTooltips">
      <button
        thyTooltip="Hello, welcome to Worktile"
        [thyTooltipTrigger]="tooltipConfig.trigger"
        [thyTooltipPlacement]="tooltipConfig.placement"
        [thyTooltipDisabled]="tooltipConfig.disabled"
        [thyTooltipShowDelay]="tooltipConfig.showDelay"
        [thyTooltipHideDelay]="tooltipConfig.hideDelay"
        thyButton="primary"
      >
        Basic Demo
      </button>
      <span
        class="ml-2"
        thyTooltip="Hello, welcome to Worktile"
        [thyTooltipTrigger]="tooltipConfig.trigger"
        [thyTooltipPlacement]="tooltipConfig.placement"
        [thyTooltipDisabled]="tooltipConfig.disabled"
        [thyTooltipShowDelay]="tooltipConfig.showDelay"
        [thyTooltipHideDelay]="tooltipConfig.hideDelay"
      >
        Tooltip will show when mouse enter.
      </span>
    </div>
    <pre class="mt-2"><code lang="typescript" [highlight]="basicCodeExample"></code></pre>
  </div>
</section>

<section>
  <div class="header">
    <h2>Custom Template Tooltip</h2>
  </div>
  <div class="body">
    <div class="mt-2">
      <button
        [thyTooltip]="hello"
        [thyTooltipTrigger]="tooltipConfig.trigger"
        [thyTooltipPlacement]="tooltipConfig.placement"
        [thyTooltipDisabled]="tooltipConfig.disabled"
        thyButton="primary"
      >
        Tooltip with Template
      </button>
      <ng-template #hello>
        <div><i class="wtf wtf-help-question-o"></i> My custom tooltip message with template</div>
      </ng-template>
    </div>
    <pre class="mt-2"><code lang="typescript" [highlight]="templateCodeExample"></code></pre>
  </div>
</section>

<section>
  <div class="header">
    <h2>Custom Template Tooltip with data</h2>
  </div>
  <div class="body">
    <div class="mt-2">
      <button
        [thyTooltip]="world"
        [thyTooltipTrigger]="tooltipConfig.trigger"
        [thyTooltipTemplateContext]="{ values: [1, 2, 3, 4] }"
        [thyTooltipPlacement]="tooltipConfig.placement"
        [thyTooltipDisabled]="tooltipConfig.disabled"
        thyButton="primary"
      >
        Tooltip with Template
      </button>
      <ng-template #world let-data>
        <div>
          <i class="wtf wtf-help-question-o"></i>
          My custom tooltip message with template data
          <div *ngFor="let item of data.values">
            {{ item }}
          </div>
        </div>
      </ng-template>
    </div>
    <pre class="mt-2"><code lang="typescript" [highlight]="templateContextCodeExample"></code></pre>
  </div>
</section>

<api-parameters title="thyTooltip 参数" [parameters]="apiParameters"></api-parameters>
