$demo-bg-dark: #ccc;
$demo-bg-light: rgba(255, 255, 255, 0.2);

.live-demos {
    display: block;
    .live-demo-container {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.live-demo-container {
    display: flex;
    // background: #edf0f4;
    // background: #fcfcfc;
    flex-direction: column;
    // padding: 10px 20px;
    border-radius: 0.4rem;
    // box-shadow: $box-shadow;
    // background: $white;

    .demo-header {
        // display: flex;
        // flex: auto;
        // height: 40px;
        // line-height: 40px;
        .header-title {
            // flex: auto;
            // align-items: center;
            .demo-title {
                font-size: $font-size-lg;
            }
            .description {
                // border-bottom: 1px dashed $gray-300;
                margin-bottom: 10px;
                // padding: 10px 0px;
                p {
                    color: $gray-700;
                    font-size: $rem-14px;
                    &:last-child {
                        // margin-bottom: 4px;
                    }
                }
            }
        }

        // .header-actions {
        //     .action {
        //         display: inline-block;
        //         .thy-icon {
        //             font-size: $font-size-lg;
        //         }
        //     }
        // }
    }

    .demo-body {
        // *:not(.demo-buttons) {
        //     .btn {
        //         border-radius: 4px !important;
        //     }
        // }

        .code-example-container {
            overflow: hidden;
            max-height: 0;
            transition: all 0.4s ease;
            background: #f8f8f8;
            border-left: 1px solid #eee;
            .thy-nav {
                padding-left: 10px;
            }
            pre {
                margin-bottom: 0;
                padding: 10px;
                border-left: 1px solid #eee;
                border-right: 1px solid #eee;
                border-bottom: 1px solid #eee;
            }
            &-show {
                overflow-y: auto;
                max-height: 800px;
            }
        }
    }

    .demo-box {
        padding: 20px 20px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px -6px rgba(0, 0, 0, 0.1);
        border-radius: 5px 5px 0 0;
    }

    .demo-inner-wrapper {
        padding: 15px;
        background-size: 25px 25px;
        background-color: $demo-bg-dark;
        background-image: -webkit-gradient(
            linear,
            0 100%,
            100% 0,
            color-stop(0.25, $demo-bg-light),
            color-stop(0.25, transparent),
            color-stop(0.5, transparent),
            color-stop(0.5, $demo-bg-light),
            color-stop(0.75, $demo-bg-light),
            color-stop(0.75, transparent),
            to(transparent)
        );
    }

    .demo-box-actions {
        // background: #eee;
        border-radius: 0 0 5px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border: 1px solid #eee;
        border-top: none;

        // &:hover {
        //     background: #fafafa;
        // }
        > a {
            padding: 3px 5px;
        }
    }
    .demo-card {
        // padding: 20px;
        // background: $white;
        // border: 1px solid #eee;
        // border-radius: 5px;
    }
}
