.live-demos {
    display: block;
    .live-demo-container {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.live-demo-container {
    display: flex;
    background: #edf0f4;
    // background: #fcfcfc;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 0.4rem;
    // box-shadow: $box-shadow;
    // background: $white;

    .demo-header {
        display: flex;
        flex: auto;
        height: 40px;
        line-height: 40px;
        .header-title {
            flex: auto;
            align-items: center;
            .title {
                font-size: $font-size-lg;
            }
        }

        .header-actions {
            .action {
                display: inline-block;
                .thy-icon {
                    font-size: $font-size-lg;
                }
            }
        }
    }

    .demo-body {
        // *:not(.demo-buttons) {
        //     .btn {
        //         border-radius: 4px !important;
        //     }
        // }

        .description {
            border-bottom: 1px dashed $gray-300;
            margin-bottom: 10px;
            padding: 10px 0px;
            p {
                &:last-child {
                    margin-bottom: 4px;
                }
            }
        }

        .code-example-container {
            margin-top: 20px;
            background: #282a36;
            .thy-nav {
                padding-left: 10px;
            }
        }
    }

    .demo-card {
        padding: 20px;
        background: $white;
    }
}
