.live-demo-container {
    display: flex;
    background: #edf0f4; //$gray-100;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 0.4rem;
    // box-shadow: $box-shadow;
    // background: $white;

    .header {
        display: flex;
        margin: 0px;
        flex: auto;
        h2 {
            flex: auto;
        }

        .header-actions {
            .action {
                .thy-icon {
                    font-size: $font-size-lg;
                }
            }
        }
    }
}
