<thy-properties thyColumn="3">
  <thy-property-item thyLabelText="姓名">张萌</thy-property-item>
  <thy-property-item thyLabelText="年龄">24</thy-property-item>
  <thy-property-item thyLabelText="电话">18500010001</thy-property-item>
  <thy-property-item thyLabelText="爱好">
    <thy-tag class="mr-1" thyShape="pill" thyColor="success">羽毛球</thy-tag>
    <thy-tag class="mr-1" thyShape="pill" thyColor="success">跑步</thy-tag>
  </thy-property-item>
  <thy-property-item thyLabelText="居住地址" thySpan="2">北京市海淀区高新街道科技二路60号T9栋清华科技园研发中心8888室</thy-property-item>
</thy-properties>
