<section>
    <div class="header">
        <h2>Form 默认</h2>
    </div>
    <div class="body">
        <div class="demo-form">
            <form thyForm name="demoForm">
                <thy-form-group thyLabelText="用户名">
                    <input class="form-control" name="username" placeholder="请输入用户名">
                </thy-form-group>
                <thy-form-group thyLabelText="姓名">
                    <input class="form-control" name="displayName" placeholder="请输入姓名">
                </thy-form-group>
            </form>
        </div>
    </div>
</section>

<!-- <api-parameters [parameters]="apiParameters"></api-parameters> -->