<section>
    <div class="header">
        <h2>Form 默认</h2>
    </div>
    <div class="body">
        <div class="demo-form">
            <form thyForm name="demoForm" #demoForm="ngForm">
                <thy-form-group thyLabelText="用户名" thyLabelRequired thyTips="这是一个输入用户名的描述">
                    <input thyInput name="username" [(ngModel)]="model.name" required placeholder="请输入用户名">
                </thy-form-group>
                <thy-form-group thyRowFill>
                    <ng-template #formGroup>
                        <input thyInput name="displayName" [(ngModel)]="model.display_name" placeholder="请输入姓名">
                    </ng-template>
                </thy-form-group>

                <thy-form-group thyLabelText="选择">
                    <thy-select required [(ngModel)]="model.select" name="power">
                        <option value="">---请选择---</option>
                        <option *ngFor="let option of options" [value]="option._id">{{option.value}}</option>
                    </thy-select>
                    <!-- <div class="thy-select">
                        <select class="form-control" required [(ngModel)]="model.select" name="power">
                            <option *ngFor="let option of options" [value]="option._id">{{option.value}}</option>
                        </select>
                    </div> -->
                </thy-form-group>
                <thy-form-group thyLabelText="Textarea">
                    <textarea class="form-control" rows="3"></textarea>
                </thy-form-group>
                <thy-form-group thyLabelText="输入框大小">
                    <input thyInput thySize="lg" placeholder=".form-control-lg">
                    <br>
                    <input thyInput placeholder="Default input">
                    <br>
                    <input thyInput thySize="md" placeholder=".form-control-md">
                    <br>
                    <input thyInput thySize="sm" placeholder=".form-control-sm">
                    <br>
                    <input thyInput thySize="xs" placeholder=".form-control-xs">
                    <br>
                </thy-form-group>
                <thy-form-group>
                    <ng-template #formGroup>
                        <label class="col-sm-2 col-form-label pr-0">开始时间</label>
                        <div class="col-sm-4 col-form-control">
                            <thy-input-group>
                                <input type="text" class="form-control pbox-trigger" name="deadline_at" readonly="readonly" placeholder="" value="7月17日">
                                <ng-template #append>
                                    <span class="input-group-text">
                                        <i class="wtf wtf-schedule-o"></i>
                                    </span>
                                    <span class="input-group-text"> $ </span>
                                </ng-template>
                            </thy-input-group>
                        </div>
                        <label class="col-sm-2 col-form-label">结束时间</label>
                        <div class="col-sm-4 has-feedback col-form-control">
                            <input type="email" class="form-control" placeholder="结束时间">
                            <span class="form-control-feedback wtf wtf-schedule-o"></span>
                        </div>
                    </ng-template>
                </thy-form-group>

                <thy-form-group thyLabelText="时间" [thyFeedbackIcon]="'date'">
                    <input type="text" disabled="" readonly="readonly" value="2017-12-12" class="form-control" placeholder="error" />
                    <!-- <span class="form-control-feedback form-control-feedback-date" aria-hidden="true"></span> -->
                </thy-form-group>
                <thy-form-group thyLabelText="静态输入框">
                    <input type="text" readonly class="form-control-plaintext" value="email@example.com">
                </thy-form-group>
                <thy-form-group thyLabelText="静态链接">
                    <a type="text" readonly href="javascript:;" class="form-control-plaintext">添加选择项</a>
                </thy-form-group>
                <thy-form-group thyLabelText="多选框" thyLabelPaddingTopClear="true">
                    <label thyCheckbox thyLabelText="选择项1" [(ngModel)]="model.checkbox" name="checkbox1"></label>
                    <label thyCheckbox thyLabelText="选择项2">
                    </label>
                    <label thyCheckbox thyLabelText="禁用的选择项" thyDisabled="">
                    </label>
                    <label thyCheckbox thyLabelText="禁用的选择项" thyDisabled="">
                    </label>
                </thy-form-group>
                <thy-form-group thyLabelText="单选框">
                    <label thyRadio thyLabelText="选择项1"></label>
                    <label thyRadio thyLabelText="选择项2"></label>
                    <label thyRadio thyLabelText="禁用的选择项" thyDisabled=""></label>
                    <label thyRadio thyLabelText="Disabled Radio" name="radio22" [(ngModel)]="model.checkbox2" [disabled]="'true'"></label>
                </thy-form-group>
                <thy-form-group *ngIf="submitSuccess">
                    <div class="text text-success">提交成功!</div>
                </thy-form-group>
                <thy-form-group-footer>
                    <button [thyButton]="'primary'" (thyFormSubmit)="save(demoForm)">保存</button>
                    <button [thyButton]="'link-secondary'">取消</button>
                </thy-form-group-footer>
            </form>
        </div>
    </div>
</section>
<section>
    <div class="header">
        <h2>Form 默认</h2>
    </div>
    <div class="body">
        <button thyButton="primary" (click)="openFormModal(template)">弹出 Modal Form</button>

        <ng-template #template>
            <thy-modal-header [thyTitle]="'标题'"></thy-modal-header>
            <thy-modal-body>
                <form thyForm name="modalForm">
                    <thy-form-group thyRowFill>
                        <ng-template #formGroup>
                            <input thyInput name="project" [(ngModel)]="model.projectName" required placeholder="请输入项目名" />
                        </ng-template>
                    </thy-form-group>
                    <thy-form-group thyLabelText="用户名">
                        <input thyInput name="username" [(ngModel)]="model.username" required placeholder="请输入用户名">
                    </thy-form-group>
                    <thy-form-group>
                        <div class="btn-pair">
                            <button thyButton="primary" (thyFormSubmit)="modalFormSubmit()">提交</button>
                            <button thyButton="link-secondary">取消</button>
                        </div>
                    </thy-form-group>
                </form>
            </thy-modal-body>
        </ng-template>
    </div>
</section>


<api-parameters title="thyForm 参数列表" [parameters]="apiThyFormParameters"></api-parameters>
<api-parameters title="thyFormSubmit 参数列表" [parameters]="apiThyFormSubmitParameters"></api-parameters>
<api-parameters title="thy-form-group 参数列表" [parameters]="apiFormGroupParameters"></api-parameters>