.carousel-item {
    height: 300px !important;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #73c2fd;
}
.carousel-arrow-left,
.carousel-arrow-right {
    font-size: 40px;
}
