<ng-template #commentTemplateRef let-comment="comment">
  <thy-comment [thyAuthor]="comment.author" [thyAvatar]="comment.avatar" [thyDatetime]="comment.date">
    <div thyCommentContent>{{ comment.content }}</div>
    <div thyCommentActions>
      <a thyAction thyTheme="lite" thyIcon="edit" href="javascript:;"></a>
      <a thyAction thyTheme="lite" thyIcon="trash" href="javascript:;"></a>
      <a thyAction thyTheme="lite" thyIcon="comment" href="javascript:;"></a>
      <a thyAction thyTheme="lite" thyIcon="smile-plus" href="javascript:;"></a>
    </div>
    @if (comment.children && comment.children.length) {
      @for (child of comment.children; track $index) {
        <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: child }"></ng-template>
      }
    }
  </thy-comment>
</ng-template>

<ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: data }"></ng-template>
