<section>
    <div class="header">
        <h2>下拉菜单</h2>
        <p>下拉菜单是基于Button上增加
            <code>thyDropDown</code> or
            <code>thyDropDownSplit</code> 实现的，icon 与 大小 都是通过Button的thyIcon与thySize来控制
        </p>
    </div>
    <div class="body">
        <button thyDropdown thyButton="primary" thyIcon="wtf-upload" [thyActionMenuToggle]="menu1">下拉菜单</button>
        <br/>
        <br/>
        <button thyDropdown thyButton="outline-default" thySize="md" thyIcon="wtf-upload" [thyActionMenuToggle]="menu1">下拉菜单</button>
        <br/>
        <br/>
        <button thyDropdown thyButton="outline-default" thySize="sm" thyIcon="wtf-upload" [thyActionMenuToggle]="menu1">下拉菜单</button>
        <br/>
        <br/>
        <p>结合 button-group 分裂式下拉菜单</p>
        <thy-button-group>
            <button thyButton="outline-default">下拉菜单</button>
            <button thyDropdownSplit thyButton="outline-default" [thyActionMenuToggle]="menu1"></button>
        </thy-button-group>
        <br/>
        <br/>
        <thy-button-group>
            <button thyButton="primary" thySize="md">下拉菜单</button>
            <button thyDropdownSplit thyButton="primary"  thySize="md" [thyActionMenuToggle]="menu1"></button>
        </thy-button-group>
        <ng-template #menu1>
            <thy-action-menu>
                <a thyActionMenuItem href="javascript:;">
                    <span>Dropdown link</span>
                </a>
                <a thyActionMenuItem href="javascript:;">
                    <span>Dropdown link</span>
                </a>
            </thy-action-menu>
        </ng-template>
    </div>
</section>