.thy-property-operation {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    
    @include hover {
        .thy-operation-content.only-has-tips >.thy-tips {
            color: $gray-800;
        }
        .close-link {
            visibility: visible;
        }
    }
    .thy-operation-content {
        margin-left: 10px;
    
        &.only-has-tips {
            display: flex;
            .thy-tips {
                display: flex;
                align-items: center;
                font-size: $font-size-base;
            }
        }

        .thy-tips {
            color: $gray-500;
            font-size: $font-size-sm;
        }
    }

    .close-link {
        position: absolute;
        visibility: hidden;
        top: 10px;
        right: 10px;
    }
}

.thy-property-operation-group {
    display: inline-flex;

    .thy-property-operation {
        &:not(:first-child) {
            padding-left: 35px; 
        }
        &:not(:last-child) {
            padding-right: 40px; 
        }
        position: relative;
        &:not(:last-child):after {
            content: " ";
            display: block;
            position: absolute;
            top: 4px;
            right: 0;
            height: 90%;
            width: 1px;
            background: #eee;
        } 
    }
}
