//
// Base styles
//

.thy-alert {
    display: flex;
    align-items: center;
    position: relative;
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    border: $alert-border-width solid transparent;
    @include border-radius($alert-border-radius);

    &.thy-alert-hidden {
        display: none;
    }

    .thy-alert-content {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .thy-alert-operation {
        margin-left: $alert-operation-margin-left;
        .thy-alert-action {
            margin: 0 10px;
            position: relative;
            &:first-child {
                margin: 0 10px 0 0;
            }
            &:last-child {
                margin: 0 0 0 10px;
            }
            &:not(:last-child):after {
                content: '';
                border-right: 1px solid #ddd;
                width: 10px;
                height: 13px;
                position: absolute;
                right: -10px;
                top: 2px;
            }
        }
    }

    .thy-alert-close {
        color: #cacaca;
        &:hover {
            color: #888;
        }
    }
}

.thy-alert-icon {
    margin-right: 10px;
}

// Headings for larger alerts
.thy-alert-heading {
    // Specified to prevent conflicts of changing $headings-color
    color: inherit;
}

// Provide class for links that match alerts
.thy-alert-link {
    font-weight: $alert-link-font-weight;
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.thy-alert-dismissible {
    padding-right: ($close-font-size + $alert-padding-x * 2);

    // Adjust close link position
    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: $alert-padding-y $alert-padding-x;
        color: inherit;
    }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
    .thy-alert-#{$color} {
        @include thy-alert-variant(theme-color($color));
    }
}

@each $key, $color in $thy-alert-week-colors {
    .thy-alert-#{$key} {
        @include thy-alert-week-variant($color);
    }
}
