@use '../../styles/bootstrap/mixins/gradients';
@use '../../styles/variables';

@mixin thy-alert-inner($color) {
    .thy-alert-icon {
        color: $color;
    }
    .thy-alert-tips {
        color: $color;
    }
}

@mixin thy-alert-variant($color) {
    color: variables.$gray-700;
    @include gradients.gradient-bg(rgba($color, 0.1));
    border-color: $color;
    @include thy-alert-inner($color);
}

@mixin thy-alert-bordered-variant($color) {
    color: variables.$gray-600;
    background: variables.$white;
    border-color: variables.$gray-200 variables.$gray-200 variables.$gray-200 $color;
    border-left-width: 2px;
    @include thy-alert-inner($color);
}

@mixin thy-alert-naked-variant($color) {
    color: variables.$gray-800;
    @include thy-alert-inner($color);
}
