@mixin thy-alert-inner($color) {
    hr {
        border-top-color: darken($color, 5%);
    }
    .alert-link {
        color: darken($color, 10%);
    }
    .thy-alert-icon {
        color: $color;
    }
}

@mixin thy-alert-variant($color) {
    color: rgba($black, 0.7);
    @include gradient-bg(rgba($color, 0.1));
    border-color: $color;
    @include thy-alert-inner($color);
}

@mixin thy-alert-week-variant($color) {
    color: $gray-600;
    background: $white;
    border-color: $gray-200 $gray-200 $gray-200 $color;
    border-left-width: 2px;
    @include thy-alert-inner($color);
}

@mixin thy-alert-accent-variant($bg, $color: $white) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color;
    @include gradient-bg($bg);
    border-radius: 0;
    border: none;

    @include thy-alert-inner($color);
}
