@mixin thy-notify-icon($color, $padding, $fontSize) {
    padding-right: $notify-icon-padding-right;
    position: relative;
    margin-top: 2px;
    .thy-icon {
        line-height: 1;
        font-size: $fontSize;
        color: $color;
    }
}
