<thy-date-picker class="mb-3" [(ngModel)]="date" (ngModelChange)="onChange($event)"></thy-date-picker>
<thy-date-picker class="mb-3" [(ngModel)]="dateTime" (ngModelChange)="onChange($event)"></thy-date-picker>
<thy-month-picker class="mb-3" [(ngModel)]="dateTime" (ngModelChange)="onChange($event)"> </thy-month-picker>
<thy-year-picker class="mb-3" [(ngModel)]="dateTime" (ngModelChange)="onChange($event)"></thy-year-picker>
<thy-range-picker class="mb-3" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></thy-range-picker>
