<thy-date-picker
  class="d-block w-50 mb-3"
  thyShowTime
  [thyFormat]="dateShowTime | thyDatePickerFormatString"
  thyPlaceHolder="选择时间"
  [(ngModel)]="dateTime"
  (ngModelChange)="onChange($event)"
  [thyAllowClear]="isAllowClear"
></thy-date-picker>
<thy-date-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="date"
  (ngModelChange)="onChange($event)"
  [thyAllowClear]="isAllowClear"
></thy-date-picker>
<thy-month-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="dateTime"
  (ngModelChange)="onChange($event)"
  [thyAllowClear]="isAllowClear"
  thyPlaceHolder="请选择月份"
>
</thy-month-picker>
<thy-year-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="dateTime"
  (ngModelChange)="onChange($event)"
  [thyAllowClear]="isAllowClear"
  thyPlaceHolder="请选择年份"
></thy-year-picker>
<thy-range-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="dateRange"
  (ngModelChange)="onChange($event)"
  [thyAllowClear]="isAllowClear"
  [thyMode]="'month'"
  [thyAutoStartAndEnd]="true"
></thy-range-picker>

<thy-range-picker
  class="d-block w-50 mb-3"
  [(ngModel)]="dateRange"
  (ngModelChange)="onChange($event)"
  [thyAllowClear]="isAllowClear"
></thy-range-picker>
