<div [style.width.px]="194" [style.marginTop.px]="16">
  <thy-time-picker [(ngModel)]="fullTime" (ngModelChange)="onChange($event)"></thy-time-picker>
</div>

<div [style.width.px]="130" [style.marginTop.px]="16">
  <thy-time-picker thyFormat="HH:mm"></thy-time-picker>
</div>

<div [style.width.px]="194" [style.marginTop.px]="16">
  <thy-time-picker [(ngModel)]="fullTime" [thyDisabled]="true" (ngModelChange)="onChange($event)"></thy-time-picker>
</div>

<div [style.width.px]="130" [style.marginTop.px]="16">
  <thy-time-picker [(ngModel)]="fullTime" [thyReadonly]="true"></thy-time-picker>
</div>
