<thy-nav thyType="primary">
  <a href="javascript:;" thyNavLink thyNavLinkActive="true">导航一</a>
  <a href="javascript:;" thyNavLink>导航二</a>
  <a href="javascript:;" thyNavLink>导航三</a>
</thy-nav>

<br />

<thy-nav thyType="secondary">
  <a href="javascript:;" thyNavLink thyNavLinkActive="true">导航一</a>
  <a href="javascript:;" thyNavLink>导航二</a>
  <a href="javascript:;" thyNavLink>导航三</a>
</thy-nav>

<br />

<thy-nav thyType="secondary-divider">
  <a href="javascript:;" thyNavLink thyNavLinkActive="true">导航一</a>
  <a href="javascript:;" thyNavLink>导航二</a>
  <a href="javascript:;" thyNavLink>导航三</a>
</thy-nav>

<br />

<thy-nav thyType="thirdly">
  <a href="javascript:;" thyNavLink thyNavLinkActive="true">导航一</a>
  <a href="javascript:;" thyNavLink>导航二</a>
  <a href="javascript:;" thyNavLink class="icon-text icon-text-sm"><thy-icon thyIconName="list"></thy-icon> 导航三</a>
</thy-nav>
