<thy-strength
  [(ngModel)]="strength"
  [titleKey]="text[currentTextType].title"
  [highestKey]="text[currentTextType].highestKey"
  [highKey]="text[currentTextType].highKey"
  [averageKey]="text[currentTextType].averageKey"
  [lowKey]="text[currentTextType].lowKey"></thy-strength>
<h6>切换程度值：</h6>
<thy-button-group thySize="md" thyType="outline-default" class="my-3">
  @for (curStrength of strengths; track $index) {
    <button thyButton (click)="strength = curStrength" [class.active]="strength === curStrength">
      {{ curStrength }}
    </button>
  }
</thy-button-group>
<h6>切换程度文本：</h6>
<thy-button-group thySize="md" thyType="outline-default" class="my-3">
  @for (text of toggleText; track $index) {
    <button thyButton (click)="currentTextType = text" [class.active]="currentTextType === text">
      {{ text }}
    </button>
  }
</thy-button-group>
