<ng-container>
  <ng-template *ngIf="headerTemplate; else default" [ngTemplateOutlet]="headerTemplate"></ng-template>
  <ng-template #default>
    <h3 class="thy-slide-header-title">
      <i *ngIf="thyIcon" class="{{ thyIcon }}"></i>
      {{ thyTitle }}
    </h3>

    <div class="thy-slide-header-main">
      <ng-container>
        <ng-template *ngIf="headerOperateTemplate" [ngTemplateOutlet]="headerOperateTemplate"> </ng-template>
      </ng-container>
    </div>
    <button type="button" class="close" (click)="closeModal($event)">
      <i class="wtf wtf-times"></i>
    </button>
  </ng-template>
</ng-container>
