<section>
    <div class="header"><h2>Radio 单选</h2></div>
    <div class="body">
        <div>
            <label thyCheckbox thyInline="true" [(ngModel)]="model.checkboxInline" thyLabelText="内联展示"></label>
            <label thyCheckbox thyInline="true" [(ngModel)]="model.disabled" thyLabelText="禁用"></label>
        </div>

        <label
            thyRadio
            [thyInline]="model.checkboxInline"
            [(ngModel)]="model.checked1"
            (ngModelChange)="change()"
            thyLabelText="选项1"
            [disabled]="model.disabled"
        ></label>
        <label
            thyRadio
            [thyInline]="model.checkboxInline"
            [(ngModel)]="model.checked2"
            thyLabelText="选项2"
            [disabled]="model.disabled"
        ></label>
        <label
            thyRadio
            [thyInline]="model.checkboxInline"
            [(ngModel)]="model.checked3"
            thyLabelText="选项3"
            [disabled]="model.disabled"
        ></label>

        <div>
            Model :
            <pre><code>{{model | json}}</code></pre>
        </div>
    </div>
</section>

<section>
    <div class="header"><h2>Radio 单选分组</h2></div>
    <div class="body">
        <div>
            <label thyCheckbox thyInline="true" [(ngModel)]="model.groupDisabled" thyLabelText="禁用"></label>
        </div>
        <thy-radio-group [(ngModel)]="modelGroup" [disabled]="model.groupDisabled">
            <label thyRadio thyLabelText="选项1" thyValue="1"></label>
            <label thyRadio thyLabelText="选项2" thyValue="2"></label>
            <label thyRadio thyLabelText="选项2" thyValue="3"></label>
        </thy-radio-group>
        <div>
            Model :
            <pre><code>{{modelGroup | json}}</code></pre>
        </div>
    </div>
</section>

<section>
    <div class="header"><h2>Radio Button Group</h2></div>
    <div class="body">
        <thy-radio-group [(ngModel)]="modelGroup" thySize="lg">
            <label thyRadioButton thyLabelText="选项1" thyValue="1"></label>
            <label thyRadioButton thyLabelText="选项2" thyValue="2"></label>
            <label thyRadioButton thyLabelText="选项2" thyValue="3"></label>
        </thy-radio-group>
        <br />
        <thy-radio-group [(ngModel)]="modelGroup">
            <label thyRadioButton thyLabelText="选项1" thyValue="1"></label>
            <label thyRadioButton thyLabelText="选项2" thyValue="2"></label>
            <label thyRadioButton thyLabelText="选项2" thyValue="3"></label>
        </thy-radio-group>
        <br />
        <thy-radio-group [(ngModel)]="modelGroup" thySize="sm">
            <label thyRadioButton thyLabelText="选项1" thyValue="1"></label>
            <label thyRadioButton thyLabelText="选项2" thyValue="2"></label>
            <label thyRadioButton thyLabelText="选项2" thyValue="3"></label>
        </thy-radio-group>
        <div>
            Model :
            <pre><code>{{modelGroup | json}}</code></pre>
        </div>
    </div>
</section>

<api-parameters title="thyRadio 参数列表" [parameters]="apiParameters"></api-parameters>

<api-parameters title="thy-radio-group 参数列表" [parameters]="apiGroupParameters"></api-parameters>
