.thy-drop-position-in {
    border: $primary 2px solid !important;
}

.thy-drop-position-before {
    border-top: $primary 2px solid !important;
}

.thy-drop-position-after {
    border-bottom: $primary 2px solid !important;
}
