.drag-position-in {
    color: white;
    background-color: $primary;
    opacity: 0.5;
}

.drag-position-before {
    border-top: $primary 2px solid;
}

.drag-position-after {
    border-bottom: $primary 2px solid;
}
