<div class="demo-buttons">
  <button thyButtonIcon="application-add" thySize="xs" thyActive="true"></button>
  <button thyButtonIcon="application-add" thySize="sm"></button>
  <button thyButtonIcon="application-add" thySize="md"></button>
  <button thyButtonIcon="application-add"></button>
  <button thyButtonIcon="application-add" thySize="lg"></button>
</div>
<div class="demo-buttons mt-2">
  <button thyButtonIcon="application-add" thyLight="" thySize="xs" thyActive="true"></button>
  <button thyButtonIcon="application-add" thyLight="" thySize="sm"></button>
  <button thyButtonIcon="application-add" thyLight="" thySize="md"></button>
  <button thyButtonIcon="application-add" thyLight=""></button>
  <button thyButtonIcon="application-add" thyLight="" thySize="lg"></button>
</div>
<div class="demo-buttons mt-2">
  <button thyButtonIcon="application-add" thyTheme="danger-weak" thySize="xs" thyActive="true"></button>
  <button thyButtonIcon="application-add" thyTheme="danger-weak" thySize="sm"></button>
  <button thyButtonIcon="application-add" thyTheme="danger-weak" thySize="md"></button>
  <button thyButtonIcon="application-add" thyTheme="danger-weak"></button>
  <button thyButtonIcon="application-add" thyTheme="danger-weak" thySize="lg"></button>
</div>
<div class="demo-buttons mt-2">
  <button thyButtonIcon="plus-bold" thyShape="circle-dashed" thySize="xs" thyActive="true"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-dashed" thySize="sm"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-dashed" thySize="md"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-dashed"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-dashed" class="invalid" thySize="lg"></button>
</div>
<div class="demo-buttons mt-2">
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-dashed" thySize="xs" thyActive="true"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-dashed" thySize="sm"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-dashed" thySize="md"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-dashed"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-dashed" class="invalid" thySize="lg"></button>
</div>
<div class="demo-buttons mt-2">
  <button thyButtonIcon="plus-bold" thyShape="circle-solid" thySize="xs" thyActive="true"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-solid" thySize="sm"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-solid" thySize="md"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-solid"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-solid" class="invalid" thySize="lg"></button>
</div>
<div class="demo-buttons mt-2">
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-solid" thySize="xs" thyActive="true"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-solid" thySize="sm"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-solid" thySize="md"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-solid"></button>
  <button thyButtonIcon="plus-bold" thyShape="circle-thick-solid" class="invalid" thySize="lg"></button>
</div>

<div class="demo-buttons mt-2">
  <button thyButtonIcon="calendar" thyActive="true" thyShape="circle-thick-dashed">
    <span>Due Date</span>
  </button>

  <button thyButtonIcon="calendar" thyShape="circle-thick-dashed">
    <span>Due Date</span>
  </button>
</div>
