<thy-rate [(ngModel)]="value" [thyIconTemplate]="['angry', 'angry', 'expressionless', 'smile', 'smile']"></thy-rate>
<br />
<thy-rate [(ngModel)]="value" [thyIconTemplate]="'smile'"></thy-rate>
<br />
<thy-rate [(ngModel)]="value" [thyIconTemplate]="iconsTemplate"></thy-rate>
<br />
<thy-rate [(ngModel)]="value" [thyIconTemplate]="template"></thy-rate>

<ng-template #icon1>随</ng-template>
<ng-template #icon2>心</ng-template>
<ng-template #icon3>所</ng-template>
<ng-template #icon4>欲</ng-template>
<ng-template #icon5>赞</ng-template>
