<div class="demo-card">
  <thy-button-group thySize="md" thyAppearance="outline">
    @for (size of selectSizes; track $index) {
      <button thyButton (click)="currentSize = size" [ngClass]="{ active: size === currentSize }">
        {{ size.name }} - {{ size.height }}px
      </button>
    }
  </thy-button-group>
  <thy-select thyPlaceholder="请选择" [thySize]="currentSize.name" ngModel="option1" [thyClearable]="true" [thySearchable]="true">
    @for (option of listOfOption; track option.value) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
    }
  </thy-select>
  <thy-select thyPlaceholder="请选择" [thySize]="currentSize.name" thyMultiple [(ngModel)]="listOfSelectedValue">
    @for (option of listOfOption; track option.value) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
    }
  </thy-select>
  <thy-select thyPlaceholder="请选择" [thySize]="currentSize.name" thyMultiple [thySearchable]="true" [(ngModel)]="listOfSelectedValue">
    @for (option of listOfOption; track option.value) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
    }
  </thy-select>
</div>
