<div class="demo-card">
  <thy-button-group thySize="md" thyType="outline-default">
    @for (size of selectSizes; track size) {
      <button thyButton (click)="currentSize = size" [ngClass]="{ active: size === currentSize }">
        {{ size.name }} - {{ size.height }}px
      </button>
    }
  </thy-button-group>
  <thy-select thyPlaceHolder="请选择" [thySize]="currentSize.name" ngModel="option1" [thyAllowClear]="true" [thyShowSearch]="true">
    @for (option of listOfOption; track option) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
    }
  </thy-select>
  <thy-select thyPlaceHolder="请选择" [thySize]="currentSize.name" thyMode="multiple" [(ngModel)]="listOfSelectedValue">
    @for (option of listOfOption; track option) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
    }
  </thy-select>
  <thy-select
    thyPlaceHolder="请选择"
    [thySize]="currentSize.name"
    thyMode="multiple"
    [thyShowSearch]="true"
    [(ngModel)]="listOfSelectedValue">
    @for (option of listOfOption; track option) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
    }
  </thy-select>
</div>
