<section>
  <div class="body">
    <div class="demo-stepper">
      <thy-stepper thySelectedIndex="2">
        <thy-step label="账号" thyIcon="user-bold">
          <div class="demo-stepper-body">
            <button thyButton="primary" thyStepperNext>下一步</button>
          </div>
        </thy-step>
        <thy-step label="验证" thyIcon="tickets">
          <div class="demo-stepper-body">
            <button thyButton="primary" thyStepperNext>下一步</button>
            <a thyButton="link-secondary" thyStepperPrevious>上一步</a>
          </div>
        </thy-step>
        <thy-step label="完成">
          <div class="demo-stepper-body">
            <a thyButton="link-secondary" thyStepperPrevious>上一步</a>
          </div>
        </thy-step>
      </thy-stepper>
    </div>
  </div>
</section>
