<ng-template>
  <ng-content></ng-content>
</ng-template>

<ng-container *ngFor="let avatar of avatarComponents; index as index; count as count; last as isLast">
  <div
    class="thy-avatar-content"
    [ngClass]="{
      'thy-avatar-content-last': isLast
    }"
  >
    <thy-avatar
      [thySrc]="avatar._src"
      [thyName]="avatar.avatarName"
      [thySize]="avatarSize"
      [thyShowRemove]="overlapMode ? false : thyRemovable"
      [thyImgClass]="avatar.thyImgClass"
      [thyDisabled]="avatar.thyDisabled"
      [thyLoading]="avatar.thyLoading"
      [thyFetchPriority]="avatar.thyFetchPriority"
      (thyOnRemove)="remove(avatar.avatarName)"
    ></thy-avatar>
    <span *ngIf="isLast" ngClass="more-{{ avatarSize }}">+{{ avatarListArray.length - count }} </span>
  </div>
</ng-container>

<div #appendContent *ngIf="append" class="thy-avatar-list-append">
  <ng-container [ngTemplateOutlet]="append"></ng-container>
</div>
