<ng-template>
  <ng-content></ng-content>
</ng-template>
<ng-container *ngFor="let avatar of avatars; let i = index">
  <thy-avatar
    [thyShowName]="avatar.thyShowName"
    [thySrc]="avatar._src"
    [thyName]="i + avatar.avatarName"
    [thySize]="avatar._size"
    [thyShowRemove]="avatar._showRemove"
    [thyImgClass]="avatar.thyImgClass"
    [thyDisabled]="avatar.thyDisabled"
    [thyLoading]="avatar.thyLoading"
    [thyFetchPriority]="avatar.thyFetchPriority"
    (thyOnRemove)="remove($event)"
  ></thy-avatar>
</ng-container>
<div class="thy-avatar-list-append" *ngIf="append">
  <ng-container [ngTemplateOutlet]="append"></ng-container>
</div>
