<ng-template>
  <ng-content></ng-content>
</ng-template>

<ng-container *ngFor="let avatar of avatarComponents; index as index; count as count; last as isLast">
  <div
    class="thy-avatar-content"
    [ngStyle]="overlapMode ? { 'margin-left.px': avatarOverlapSpace } : { 'margin-right.px': isLast ? 0 : avatarSpace }"
  >
    <thy-avatar
      [thySrc]="avatar._src"
      [thyName]="avatar.avatarName"
      [thySize]="avatar._size"
      [thyShowRemove]="overlapMode ? false : thyRemovable"
      [thyImgClass]="avatar.thyImgClass"
      [thyDisabled]="avatar.thyDisabled"
      [thyLoading]="avatar.thyLoading"
      [thyFetchPriority]="avatar.thyFetchPriority"
      (thyOnRemove)="remove(avatar.avatarName)"
    ></thy-avatar>
    <span *ngIf="isLast" ngClass="more-{{ avatar._size }}">+{{ avatarListArray.length - count }} </span>
  </div>
</ng-container>

<div #appendContent *ngIf="append" [ngStyle]="{ 'padding-left.px': avatarSpace }">
  <ng-container [ngTemplateOutlet]="append"></ng-container>
</div>
