<button thyButton="primary" [thyDropdown]="menu" thyPlacement="bottom">Dropdown <thy-icon thyName="caret-down"></thy-icon></button>

<thy-dropdown-menu #menu>
  <a thyDropdownMenuItem href="javascript:;">
    <thy-icon thyName="plus"></thy-icon>
    <span thyDropdownMenuItemName>New</span>
  </a>
  <a thyDropdownMenuItem href="javascript:;">
    <thy-icon thyName="edit"></thy-icon>
    <span thyDropdownMenuItemName>Edit</span>
    <thy-icon thyDropdownMenuItemExtendIcon thyName="angle-right"></thy-icon>
  </a>
  <a thyDropdownMenuItem href="javascript:;">
    <thy-icon thyName="copy"></thy-icon>
    <span thyDropdownMenuItemName>Copy</span>
    <thy-icon class="text-primary" thyDropdownMenuItemExtendIcon thyName="check"></thy-icon>
  </a>
  <thy-divider></thy-divider>
  <a thyDropdownMenuItem href="javascript:;">
    <thy-icon thyName="sort"></thy-icon>
    <span thyDropdownMenuItemName>Sort</span>
    <span thyDropdownMenuItemMeta>(Default Sort)</span>
    <div thyDropdownMenuItemDesc>
      By default, you can drag and drop work item; other sorting can only be displayed and cannot be dragged
    </div>
  </a>
  <thy-divider></thy-divider>
  <a thyDropdownMenuItem href="javascript:;">
    <thy-icon thyName="more-vertical"></thy-icon>
    <span thyDropdownMenuItemName>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
  </a>
</thy-dropdown-menu>
