<div class="mb-2 mt-2">分组展示</div>
<thy-select thyPlaceHolder="请选择" style="width: 500px">
  <thy-option-group thyGroupLabel="服饰">
    <thy-option thyValue="001" thyLabelText="上衣"></thy-option>
    <thy-option thyValue="002" thyLabelText="裤子"></thy-option>
  </thy-option-group>
  <thy-option *ngFor="let option of optionData" [thyValue]="option._id" [thyLabelText]="option.display_name"> </thy-option>
  <thy-option-group thyGroupLabel="食物">
    <thy-option thyValue="003" thyLabelText="饮料"></thy-option>
    <thy-option thyValue="004" thyLabelText="面包" [thyDisabled]="true"></thy-option>
    <thy-option thyValue="005" thyLabelText="牛奶"></thy-option>
    <thy-option thyValue="006" thyLabelText="鸡蛋"></thy-option>
  </thy-option-group>
</thy-select>
<div class="mb-2 mt-2">分组搜索</div>
<thy-select thyPlaceHolder="请选择" [thyShowSearch]="true" style="width: 500px">
  <thy-option-group thyGroupLabel="服饰">
    <thy-option thyValue="001" thyLabelText="上衣"></thy-option>
    <thy-option thyValue="002" thyLabelText="裤子"></thy-option>
  </thy-option-group>
  <thy-option *ngFor="let option of optionData" [thyValue]="option._id" [thyLabelText]="option.display_name"> </thy-option>
  <thy-option-group thyGroupLabel="食物">
    <thy-option thyValue="003" thyLabelText="饮料"></thy-option>
    <thy-option thyValue="004" thyLabelText="面包" [thyDisabled]="true"></thy-option>
    <thy-option thyValue="005" thyLabelText="牛奶"></thy-option>
    <thy-option thyValue="006" thyLabelText="鸡蛋"></thy-option>
  </thy-option-group>
</thy-select>
