<div class="selection-list-wrapper" [style.marginBottom]="'10px'">
  <thy-selection-list
    [style.width]="'560px'"
    [style.background]="'#fafafa'"
    [(ngModel)]="selectionModel.selectedValues"
    [thyLayout]="'grid'"
    thySize="sm">
    @for (item of gridItems; track item.id) {
      <thy-list-option [thyValue]="item?.id">
        <thy-icon thyIconName="app-agile-fill" class="thy-grid-option-icon"></thy-icon>
        <div class="thy-grid-option-name">{{ item.name }}</div>
      </thy-list-option>
    }
  </thy-selection-list>
</div>

<div class="selection-list-wrapper" [style.marginBottom]="'10px'">
  <thy-selection-list
    [style.width]="'560px'"
    [style.background]="'#fafafa'"
    [(ngModel)]="selectionModel.selectedValues"
    [thyLayout]="'grid'">
    @for (item of gridItems; track item.id) {
      <thy-list-option [thyValue]="item?.id">
        <thy-icon thyIconName="app-agile-fill" class="thy-grid-option-icon"></thy-icon>
        <div class="thy-grid-option-name">{{ item.name }}</div>
      </thy-list-option>
    }
  </thy-selection-list>
</div>
