<thy-collapse thyTheme="bordered" thyArrowIconPosition="right">
  <thy-collapse-item thyTitle="Title 1" [thyActive]="true"
    >The accordion component delivers large amounts of content in a small space through progressive disclosure. The user gets key details
    about the underlying content and can choose to expand that content within the constraints of the accordion. Accordions work especially
    well on mobile interfaces or whenever vertical space is at a premium.
  </thy-collapse-item>
  <thy-collapse-item thyTitle="Title 2"
    >The accordion component delivers large amounts of content in a small space through progressive disclosure. The user gets key details
    about the underlying content and can choose to expand that content within the constraints of the accordion. Accordions work especially
    well on mobile interfaces or whenever vertical space is at a premium.
  </thy-collapse-item>
  <thy-collapse-item thyTitle="Title 3"
    >The accordion component delivers large amounts of content in a small space through progressive disclosure. The user gets key details
    about the underlying content and can choose to expand that content within the constraints of the accordion. Accordions work especially
    well on mobile interfaces or whenever vertical space is at a premium.
  </thy-collapse-item>
</thy-collapse>
