@use "../../styles/variables";


.thy-transfer {
    display: flex;
    max-width: variables.$transfer-width;

    .thy-transfer-list {
        display: flex;
        flex-flow: column;
        flex: 1;
    }

    .thy-transfer-list-header {
        padding: variables.$transfer-list-header-padding;
        width: 100%;

        .thy-transfer-list-header-title {
            font-family: PingFangSC-Regular;
            color: variables.$gray-700;
            font-size: variables.$transfer-list-header-font-size;
        }
    }

    .thy-transfer-list-wrap {
        border: 1px solid variables.$gray-200;
        border-radius: 4px;
        overflow: hidden;
        border: variables.$transfer-list-border-width solid variables.$transfer-list-border-color;
        border-radius: variables.$transfer-list-border-radius;
        padding: variables.$transfer-list-padding;
        vertical-align: middle;
    }

    .thy-transfer-list-input {
        margin: 8px 0;
        padding: 0 20px;
        box-sizing: content-box;
        border-radius: 0;

        .thy-input-search {
            border-top: 1px solid transparent;
            border-top-color: transparent !important;
            border-radius: 0;
            border-bottom: 1px solid rgba(238, 238, 238, 1);
        }

        .form-control-active {
            border-color: variables.$primary;
        }
    }

    .thy-transfer-operation {
        padding: variables.$transfer-operation-padding;
        display: flex;
        align-items: center;

        .thy-transfer-operation-body {
            .operation-link {
                display: block;
                color: variables.$transfer-operation-color;
                font-size: variables.$transfer-operation-font-size;
            }
        }
    }

    .thy-transfer-list-body {
        padding-bottom: 8px;
        height: variables.$transfer-list-height;
        overflow-y: auto;
    }

    .d-flex {
        .item-title {
            flex: 1;
            display: flex;
            align-items: center;

            .drag-handle {
                padding: 0px 2px 0 2px;
            }
        }

        .item-icon {
            color: #aaa;
            width: 14px;
        }

        .item-status {
            font-size: 14px;
        }
    }
}
.thy-transfer-list-drag-preview{
    display: flex;

    .item-title {
        flex: 1;
        display: flex;
        align-items: center;

        .drag-handle {
            padding: 0px 2px 0 2px;
        }
    }
}
