.thy-transfer {
    display: flex;
    width: $transfer-width;

    .thy-transfer-list {
        display: flex;
        flex-flow: column;
        flex: 1;
        width: $transfer-list-width;

        .thy-transfer-list-header {
            padding: $transfer-list-header-padding;
            width: 100%;

            .thy-transfer-list-header-title {
                color: $transfer-list-header-font-color;
                font-size: $transfer-list-header-font-size;
            }
        }

        .thy-transfer-list-body {
            border: $transfer-list-border-width solid $transfer-list-border-color;
            border-radius: $transfer-list-border-radius;
            padding: $transfer-list-padding;
            height: $transfer-list-height;
            vertical-align: middle;
            overflow-y: auto;

            .thy-transfer-list-group-name {
                padding: 12px 20px;
                color: $gray-500;
                line-height: 14px;
            }
        }

        .thy-transfer-list-content {
            padding: 0;
            overflow: initial;
            .cdk-drop-list-empty {
                margin: -12px 0;
                padding: 12px 20px;
                background: $white;
            }
            .thy-transfer-list-content-item {
                padding-right: 15px;
                height: $transfer-list-item-line-hight;
                min-height: $transfer-list-item-line-hight;
            }
        }
    }

    .thy-transfer-operation {
        padding: $transfer-operation-padding;
        display: flex;
        align-items: center;

        .thy-transfer-operation-body {
            .operation-link {
                display: block;
                color: $transfer-operation-color;
                font-size: $transfer-operation-font-size;
            }
        }
    }
}

.thy-transfer-list-content-item {
    .item-name {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cdk-drag-handle,
    .drag-handle {
        position: absolute;
    }

    .item-status {
        font-size: 14px;
    }
}
