.thy-transfer {
    display: flex;
    width: $transfer-width;

    .thy-transfer-list {
        display: flex;
        flex-flow: column;
        flex: 1;
        width: $transfer-list-width;

        .thy-transfer-list-header {
            padding: $transfer-list-header-padding;
            width: 100%;

            .thy-transfer-list-header-title {
                color: $transfer-list-header-font-color;
                font-size: $transfer-list-header-font-size;
            }
        }

        .thy-transfer-list-body {
            border: $transfer-list-border-width solid $transfer-list-border-color;
            border-radius: $transfer-list-border-radius;
            padding: $transfer-list-padding; // min-width: $transfer-list-width;
            height: $transfer-list-height;
            vertical-align: middle;
            overflow-y: auto;

            .thy-transfer-list-group-name {
                padding: 12px 20px;
                color: $gray-500;
                line-height: 14px;
            }
        }

        .thy-transfer-list-content {
            .cdk-drop-list-empty {
                margin: -12px 0;
                padding: 12px 20px;
                background: $white;
            }

            & .active,
            & .thy-transfer-list-content-item:hover {
                cursor: pointer;
                @include item-box-shadow();
            }
        }
    }

    .thy-transfer-operation {
        padding: $transfer-operation-padding;
        display: flex;
        align-items: center;

        .thy-transfer-operation-body {
            .operation-link {
                display: block;
                color: $transfer-operation-color;

                &.rotate-left {
                    transform: rotate(180deg);
                }

                .thy-icon,
                .wtf {
                    display: inline-block;
                    font-size: $transfer-operation-font-size;
                }
            }
        }
    }
}

.thy-transfer-list-content-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: $transfer-list-item-padding;
    line-height: $transfer-list-item-line-hight;
    transition: all 0.3s;

    .item-name {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cdk-drag-handle,
    .wtf-move,
    .thy-icon-drag {
        position: absolute;
        left: 0px;
    }
}
