<div class="pb-2">
  <a href="javascript:;"><thy-icon thyIconName="plus-bold"></thy-icon>New</a>
  <a href="javascript:;"><thy-icon thyIconName="plus-bold"></thy-icon>新建</a>
  <a href="javascript:;" class="link-muted"><thy-icon thyIconName="list"></thy-icon>视图</a>
  <a href="javascript:;" class="link-muted"><span>New</span><thy-icon thyIconName="angle-down"></thy-icon></a>
</div>
<div>
  <a href="javascript:;" class="disabled"><thy-icon thyIconName="plus-bold"></thy-icon>New</a>
  <a href="javascript:;" class="link-muted disabled"><thy-icon thyIconName="plus-bold"></thy-icon>新建</a>
  <a href="javascript:;" class="link-muted disabled"><thy-icon thyIconName="list"></thy-icon>视图</a>
  <a href="javascript:;" class="link-muted disabled"><span>New</span><thy-icon thyIconName="angle-down"></thy-icon></a>
</div>
