<div>
    <div>1.thyIsMask</div>
    <thy-loading thyDone="false" thyTip="加载中..." thyIsMask="true">
        <thy-grid [thyModel]='data' thyTheme="bordered" className="table-hover">
            <thy-grid-column thyTitle="选择" thyModelKey="checked" thyType="radio"></thy-grid-column>
            <thy-grid-column thyTitle="姓名" thyModelKey="name"></thy-grid-column>
            <thy-grid-column thyTitle="年龄" thyModelKey="age"></thy-grid-column>
            <thy-grid-column thyTitle="备注" thyModelKey="desc"></thy-grid-column>
        </thy-grid>
    </thy-loading>
</div>

<div>
    <div>2.</div>
    <thy-loading [thyDone]="isDone">
        <thy-grid [thyModel]='data' thyTheme="bordered" className="table-hover">
            <thy-grid-column thyTitle="选择" thyModelKey="checked" thyType="radio"></thy-grid-column>
            <thy-grid-column thyTitle="姓名" thyModelKey="name"></thy-grid-column>
            <thy-grid-column thyTitle="年龄" thyModelKey="age"></thy-grid-column>
            <thy-grid-column thyTitle="备注" thyModelKey="desc"></thy-grid-column>
        </thy-grid>
    </thy-loading>
</div>

<div>
    <div>3.thyTheme</div>
    <thy-grid [thyModel]='data' thyTheme="bordered" className="table-hover" *ngIf="isDone">
        <thy-grid-column thyTitle="选择" thyModelKey="checked" thyType="radio"></thy-grid-column>
        <thy-grid-column thyTitle="姓名" thyModelKey="name"></thy-grid-column>
        <thy-grid-column thyTitle="年龄" thyModelKey="age"></thy-grid-column>
        <thy-grid-column thyTitle="备注" thyModelKey="desc"></thy-grid-column>
    </thy-grid>
    <thy-loading [thyDone]="isDone" thyTip="加载中...">
    </thy-loading>
</div>
<div>
    <div>4.</div>
    <thy-loading [thyDone]="isDoneValueTrue"></thy-loading>
</div>
