<form class="mb-2" thyForm thyLayout="inline">
  <thy-form-group thyLabelText="Direction:">
    <thy-select name="direction" [(ngModel)]="direction">
      <option>right</option>
      <option>left</option>
      <option>auto</option>
    </thy-select>
  </thy-form-group>
</form>
<div class="mt-2 d-flex justify-content-between">
  <button [thyButton]="'primary'" [thyActionMenuToggle]="menu" thyContainerClass="primary-menu" thyOriginActiveClass="active">
    下拉菜单
  </button>
  <button [thyButton]="'primary'" [thyActionMenuToggle]="menu" thyContainerClass="primary-menu" thyOriginActiveClass="active">
    下拉菜单
  </button>
</div>

<ng-template #menu>
  <thy-action-menu>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>出现子菜单</span>
      <thy-icon thyActionMenuItemExtendIcon thyIconName="angle-right"></thy-icon>
      <div [thyActionMenuSubItem]="direction">
        <a thyActionMenuItem href="javascript:;">
          <span thyActionMenuItemIcon>
            <thy-icon thyIconName="task"></thy-icon>
          </span>
          <span thyActionMenuItemName>子菜单1</span>
          <thy-icon thyActionMenuItemExtendIcon thyIconName="angle-right"></thy-icon>
          <div [thyActionMenuSubItem]="direction">
            <a thyActionMenuItem href="javascript:;">
              <span thyActionMenuItemIcon>
                <thy-icon thyIconName="task"></thy-icon>
              </span>
              <span thyActionMenuItemName>子菜单11</span>
            </a>
            <a thyActionMenuItem href="javascript:;">
              <span thyActionMenuItemIcon>
                <thy-icon thyIconName="task"></thy-icon>
              </span>
              <span thyActionMenuItemName>子菜单12</span>
            </a>
          </div>
        </a>
        <a thyActionMenuItem href="javascript:;">
          <span thyActionMenuItemIcon>
            <thy-icon thyIconName="task"></thy-icon>
          </span>
          <span thyActionMenuItemName>子菜单2</span>
        </a>
      </div>
    </a>
  </thy-action-menu>
</ng-template>
