<thy-tree-select [thyTreeNodes]="treeSelectNodes" [thyMultiple]="isMultiple" [(ngModel)]="selectedValue">
  <ng-template #treeNodeTemplate let-node>
    <thy-icon class="prefix-icon" [thyIconName]="node.expand ? 'folder-open-fill' : 'folder-fill'"></thy-icon>
    <span class="text-truncate">{{ node.name }}</span>
  </ng-template>
</thy-tree-select>

<p class="my-3">选择的值： {{ selectedValue | json }}</p>
<h6 class="my-3">是否支持多选：</h6>
<p>
  改变 <code>thyMultiple </code> 的值:
  <thy-switch [(ngModel)]="isMultiple"></thy-switch>
</p>
