<thy-layout>
  <thy-header thyTitle="Header"></thy-header>
  <thy-content> Content </thy-content>
</thy-layout>

<thy-layout>
  <thy-header thyTitle="Header"></thy-header>
  <thy-layout style="height: 100px">
    <thy-sidebar thyDivided="false"> Sidebar </thy-sidebar>
    <thy-content>Content</thy-content></thy-layout
  >
</thy-layout>

<thy-layout style="height: 150px">
  <thy-sidebar thyDivided="false"> Sidebar </thy-sidebar>
  <thy-layout>
    <thy-header thyTitle="Header"></thy-header>
    <thy-content>Content</thy-content>
  </thy-layout>
</thy-layout>

<thy-layout style="height: 200px">
  <thy-header thyTitle="Header"></thy-header>
  <thy-content>
    <thy-content-section>Content section</thy-content-section>
    <thy-content-main>Content main</thy-content-main>
  </thy-content>
</thy-layout>
