<div class="thy-carousel thy-carousel-initialized thy-carousel-point-events">
  <div #carouselWrapper class="thy-carousel-wrapper" (mousedown)="onDrag($event)" (touchstart)="onDrag($event)">
    <ng-content></ng-content>
  </div>
  @if (thyControls && carouselItems.length > 1) {
    <div class="thy-carousel-control-pre-wrapper" (click)="pre()">
      <ng-container *ngTemplateOutlet="thyControlPrev || defaultControlPrev"></ng-container>
    </div>
    <div class="thy-carousel-control-next-wrapper" (click)="next()">
      <ng-container *ngTemplateOutlet="thyControlNext || defaultControlNext"></ng-container>
    </div>
  }
  @if (thyIndicators) {
    <div class="thy-carousel-indicators">
      @for (content of carouselItems; track $index; let i = $index) {
        <span
          class="thy-carousel-indicator"
          (mouseenter)="indicatorHandleTrigger(i)"
          (mouseleave)="indicatorHandleLeave()"
          (click)="indicatorHandleClick(i)">
          <ng-template
            [ngTemplateOutlet]="thyIndicatorRender || defaultIndicatorRender"
            [ngTemplateOutletContext]="{ $implicit: i === activeIndex }"></ng-template>
        </span>
      }
    </div>
  }
</div>

<ng-template #defaultIndicatorRender let-active>
  <thy-dot [class.active]="active"></thy-dot>
</ng-template>

<ng-template #defaultControlPrev>
  <div class="thy-carousel-control thy-carousel-control-pre">
    <thy-icon thyIconName="angle-left-bold"></thy-icon>
  </div>
</ng-template>

<ng-template #defaultControlNext>
  <div class="thy-carousel-control thy-carousel-control-next">
    <thy-icon thyIconName="angle-right-bold"></thy-icon>
  </div>
</ng-template>
