<div thyRow [thyGutter]="16">
  <div thyCol>
    <div class="demo-col">col - 24</div>
  </div>
</div>

<div thyRow [thyGutter]="16">
  <div thyCol [thySpan]="12"><div class="demo-col">col - 12</div></div>
  <div thyCol [thySpan]="12"><div class="demo-col">col - 12</div></div>
</div>

<div thyRow [thyGutter]="16">
  <div thyCol [thySpan]="8"><div class="demo-col">col - 8</div></div>
  <div thyCol [thySpan]="8"><div class="demo-col">col - 8</div></div>
  <div thyCol [thySpan]="8"><div class="demo-col">col - 8</div></div>
</div>

<div thyRow [thyGutter]="16">
  <div thyCol [thySpan]="6"><div class="demo-col">col - 6</div></div>
  <div thyCol [thySpan]="6"><div class="demo-col">col - 6</div></div>
  <div thyCol [thySpan]="6"><div class="demo-col">col - 6</div></div>
  <div thyCol [thySpan]="6"><div class="demo-col">col - 6</div></div>
</div>

<div thyRow [thyGutter]="16">
  <div thyCol="fill"><div class="demo-col">col - fill</div></div>
  <div thyCol="6"><div class="demo-col">col - 2</div></div>
</div>
