<thy-tabs [thyExtra]="extraTemplate" [(thyActiveTab)]="activeTab">
  <thy-tab id="tab1" thyTitle="Tab1"> Tab1 Content </thy-tab>
  <thy-tab id="tab2" thyTitle="Tab2">Tab2 Content</thy-tab>
  <thy-tab id="tab3" thyTitle="Tab3">Tab3 Content</thy-tab>
</thy-tabs>

<ng-template #extraTemplate>
  @if (activeTab === 'tab1') {
    <button thyButton="outline-default" thySize="md">Tab1 Extra Action</button>
  }
  @if (activeTab === 'tab2') {
    <button thyButton="outline-default" thySize="md">Tab2 Extra Action</button>
  }
  @if (activeTab === 'tab3') {
    <button thyButton="outline-default" thySize="md">Tab3 Extra Action</button>
  }
</ng-template>
