<thy-tabs [thyExtra]="extraTemplate" (thyActiveTabChange)="activeTabChange($event)">
  <thy-tab id="tab1" thyTitle="Tab1">
    Tab1 Content
  </thy-tab>
  <thy-tab id="tab2" thyTitle="Tab2">Tab2 Content</thy-tab>
  <thy-tab id="tab3" thyTitle="Tab3">Tab3 Content</thy-tab>
</thy-tabs>

<ng-template #extraTemplate>
  <button *ngIf="activeTab === 'tab1'" thyButton="outline-default" thySize="md">Tab1 Extra Action</button>
  <button *ngIf="activeTab === 'tab2'" thyButton="outline-default" thySize="md">Tab2 Extra Action</button>
  <button *ngIf="activeTab === 'tab3'" thyButton="outline-default" thySize="md">Tab3 Extra Action</button>
</ng-template>
