<span thyFlexibleText [thyTooltipContent]="option[labelProperty] || ''" *ngIf="!multiple || !option.isLeaf">
  {{ option[labelProperty] || '' }}</span
>
<ng-container *ngIf="multiple && option.isLeaf && isOnlySelectLeaf">
  <label
    thyCheckbox
    class="w-100"
    thyInline="true"
    [disabled]="option.disabled"
    [(ngModel)]="active"
    (ngModelChange)="toggleOption(active)"
    [name]="option.value || option._id">
    <thy-flexible-text [thyTooltipContent]="option[labelProperty] || ''">{{ option[labelProperty] || '' }}</thy-flexible-text>
  </label>
</ng-container>

<span
  *ngIf="!option.isLeaf || (option.children && option.children.length) || option.loading"
  class="wtf wtf-angle-right thy-cascader-menu-item-expand-icon">
</span>
