<app-live-demos [data]="liveDemos"></app-live-demos>
<h1 class="mt-3">API</h1>
<h5>ThyNotifyService</h5>
<p class="mt-2">组件提供了一些服务方法，使用的方式和参数如下</p>
<ul>
  <li>
    <code>ThyNotifyService.show(options)</code>
  </li>
  <li>
    <code>ThyNotifyService.success(title, content, detail)</code>
  </li>
  <li>
    <code>ThyNotifyService.info(title, content, detail)</code>
  </li>
  <li>
    <code>ThyNotifyService.warning(title, content, detail)</code>
  </li>
  <li>
    <code>ThyNotifyService.error(title, content, detail)</code>
  </li>
</ul>
<api-parameters title="参数列表" [parameters]="apiThyNotifyMethodParameters"></api-parameters>
<api-parameters title="options 支持设置的参数如下：" [parameters]="apiThyNotifyParameters"></api-parameters>
