:host {
    .blue,
    .light-blue,
    .suffix {
        height: 108px;
        line-height: 108px;
    }
    .blue {
        background: rgb(53, 190, 245);
    }
    .light-blue {
        background: #a1ddf8;
    }
    .suffix {
        border: 1px solid rgb(53, 190, 245);
        text-align: center;
    }
}
