@use '../../styles/variables';

$back-top-width: 36px;

.thy-back-top-container {
    .thy-back-top {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        position: fixed;
        right: 100px;
        bottom: 50px;
        z-index: 10;
        width: $back-top-width;
        height: $back-top-width;
        cursor: variables.$hand-cursor;
    }

    .thy-back-top-content {
        width: $back-top-width;
        height: $back-top-width;
        overflow: hidden;
        background-color: variables.$bg-default;
        border-radius: 50%;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        }
    }
}
