@if (customDefaultColor) {
  <div class="quick-color" [ngClass]="transparentColorSelectable ? ' mb-0 pb-0' : ''" (click)="selectColor(defaultColor)">
    <ng-template [ngTemplateOutlet]="checkIconTpl" [ngTemplateOutletContext]="{ $implicit: defaultColor }"></ng-template>
    <span class="ml-2 font-size-sm text-secondary">{{ locale().defaultColor }}</span>
  </div>
}
@if (transparentColorSelectable) {
  <div class="quick-color" [ngClass]="customDefaultColor ? 'mt-0 pt-0' : ''" (click)="selectColor('transparent')">
    <div class="color-block"></div>
    <span class="ml-2 font-size-sm text-secondary">{{ locale().noFillColor }}</span>
  </div>
}
<div class="main-content">
  <div class="default-color">
    @for (item of defaultColors; track $index) {
      <ng-template [ngTemplateOutlet]="checkIconTpl" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
    }
  </div>
  <p class="font-size-sm text-secondary recent-text">{{ locale().recentUsedColor }}</p>
  <div class="recent-color-container">
    @for (item of recentColors; track $index) {
      <ng-template [ngTemplateOutlet]="checkIconTpl" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
    }
    @if (recentColors.length === 0) {
      <div class="font-size-sm px-1 text-muted">{{ locale().none }}</div>
    }
  </div>
</div>
<div class="more-color" (click)="showMoreColor($event)">
  <thy-icon thyIconName="palette" class="mr-2"></thy-icon>
  <span class="font-size-sm custom-text">{{ locale().customColor }}</span>
  <thy-icon thyDropdownMenuItemExtendIcon thyIconName="angle-right"></thy-icon>
</div>

<ng-template #checkIconTpl let-colorItem>
  <div
    class="color-item"
    [ngStyle]="{ background: colorItem }"
    [ngClass]="colorItem === '#FFFFFF' ? 'item-border' : ''"
    (click)="selectColor(colorItem)">
    <thy-icon
      thyIconName="check-thick"
      class="check-icon"
      [ngClass]="
        color === colorItem ? (getIconColor(colorItem) === 'white' ? 'checked white-check' : 'checked black-check') : ''
      "></thy-icon>
  </div>
</ng-template>
