@import '../../../../../src/styles/basic.scss';

.demo-icons {
    thy-icon {
        margin-left: 10px;
        // display: inline-block;
    }
}

.icons-items-wrap {
    .category-name {
        font-size: $font-size-lg;
    }
}

.icon-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .icon-item {
        padding: 10px;
        width: 120px;
        height: 120px;
        text-align: center;

        .thy-icon {
            display: block;
        }

        &:hover {
            .icon-item-name {
                white-space: normal;
                text-overflow: inherit;
            }
        }
        .icon-item-name {
            display: block;
            font-size: 14px;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
