<form thyForm thyLayout="inline">
  <thy-form-group thyLabelText="Font Size">
    <thy-select name="size" [(ngModel)]="fontSizeClass">
      <option value="font-size-sm">font-size-sm 12px</option>
      <option value="font-size-base">font-size-base 14px</option>
      <option value="font-size-md">font-size-md 16px</option>
      <option value="font-size-lg">font-size-lg 20px</option>
      <option value="font-size-xlg">font-size-xlg 24px</option>
      <option value="font-size-max-lg">font-size-max-lag 52px</option>
    </thy-select>
  </thy-form-group>
  <thy-form-group thyLabelText="Icon Color">
    <thy-select name="color" [(ngModel)]="colorClass">
      <option value="text-body">text-body</option>
      <option value="text-primary">primary</option>
      <option value="text-success">success</option>
      <option value="text-waring">waring</option>
      <option value="text-danger">danger</option>
      <option value="text-secondary">secondary #666</option>
      <option value="text-muted">muted #888</option>
      <option value="text-desc">muted #aaa</option>
    </thy-select>
  </thy-form-group>
</form>

<section class="mt-2">
  <div class="body icons-items-wrap">
    <div *ngFor="let category of glyphs">
      <ng-container *ngIf="category?.icons?.length > 0">
        <span class="category-name text-desc">{{ category.text }} - {{ category.name }} </span>
        <div class="icon-items">
          <div class="icon-item" *ngFor="let icon of category.icons">
            <thy-icon [thyIconName]="icon.name" [ngClass]="[fontSizeClass, colorClass]"></thy-icon>
            <span class="icon-item-name">{{ icon.name }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<section>
  <div class="header">
    <h2>基本使用</h2>
  </div>
  <div class="body">
    <div class="demo-icons mt-2" [ngClass]="colorClass">
      <thy-icon thyIconName="settings" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="calendar-check" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="clock-circle-moment" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="play-circle" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="smile" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="check-circle" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="pause-circle" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="more-circle" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="clock-circle-moment" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="user-check" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="user-group" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="waring" thyIconType="fill" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="check" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="check" thyIconType="twotone" thyTwotoneColor="red" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon
        thyIconName="close-circle"
        thyIconType="twotone"
        thyTwotoneColor="red"
        [ngClass]="fontSizeClass"
      ></thy-icon>
    </div>
    <pre class="mt-2"><code lang="typescript" [highlight]="basicCodeExample"></code></pre>
  </div>
</section>

<section>
  <div class="header">
    <h2>单独添加 Icon</h2>
  </div>
  <div class="body">
    <div class="demo-icons mt-2" [ngClass]="colorClass">
      <thy-icon thyIconName="thumb-up" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="bike" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="core:thumb-up" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="core:bike" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="core:account-child" [ngClass]="fontSizeClass"></thy-icon>
      <thy-icon thyIconName="core-inline:account-balance" [ngClass]="fontSizeClass"></thy-icon>
    </div>
    <!-- <pre class="mt-2"><code lang="typescript" [highlight]="basicCodeExample"></code></pre> -->
  </div>
</section>

<api-parameters title="thy-icon 参数列表" [parameters]="apiThyIconParameters"></api-parameters>
