<a href="javascript:;" class="active">主色链接</a>
<a href="javascript:;" class="link-major active">重要链接</a>
<a href="javascript:;" class="link-major active"><thy-icon thyIconName="plus-bold"></thy-icon>新建</a>
<a href="javascript:;" class="link-muted active">背景色下的次链接</a>
<a href="javascript:;" class="link-secondary active">次链接</a>
<a href="javascript:;" class="link-info active">信息链接</a>
<a href="javascript:;" class="link-success active">成功链接</a>
<a href="javascript:;" class="link-warning active">警告链接</a>
<a href="javascript:;" class="link-danger active">危险链接</a>
<a href="javascript:;" class="link-warning-weak active">弱警告链接</a>
<a href="javascript:;" class="link-danger-weak active">弱危险链接</a>
