<thy-space>
  <span *thySpaceItem>
    <thy-dot></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="info"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thySize="lg"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thySize="lg" thyTheme="outline"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thySize="lg" thyShape="square" thyTheme="fill"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thySize="lg" thyShape="square" thyTheme="outline"></thy-dot>
  </span>
</thy-space>
