<thy-space>
  <span *thySpaceItem>
    <thy-dot thyColor="primary"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="secondary"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="info" thySize="md"></thy-dot>
  </span>

  <span *thySpaceItem>
    <thy-dot thyColor="danger" thySize="md"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="warning" thySize="md" thyTheme="fill"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="success" thySize="md" thyTheme="outline"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="warning" thySize="md" thyShape="square" thyTheme="fill"></thy-dot>
  </span>
  <span *thySpaceItem>
    <thy-dot thyColor="success" thySize="md" thyShape="square" thyTheme="outline"></thy-dot>
  </span>
</thy-space>
