<thy-space>
  <button *thySpaceItem thyButton="primary"><thy-icon thyIconName="house"></thy-icon></button>
  <button *thySpaceItem thyButton="primary"><thy-icon thyIconName="plus"></thy-icon>New</button>
  <button *thySpaceItem thyButton="primary">New<thy-icon thyIconName="angle-down"></thy-icon></button>
  <button *thySpaceItem thyButton="primary">
    <thy-icon thyIconName="plus"></thy-icon>New<thy-icon thyIconName="caret-down"></thy-icon>
  </button>
</thy-space>

<thy-space class="mt-2">
  <button *thySpaceItem thyButton="default" thyAppearance="outline"><thy-icon thyIconName="house"></thy-icon></button>
  <button *thySpaceItem thyButton="default" thyAppearance="outline"><thy-icon thyIconName="plus"></thy-icon>New</button>
  <button *thySpaceItem thyButton="primary" thyAppearance="outline">New<thy-icon thyIconName="angle-down"></thy-icon></button>
  <button *thySpaceItem thyButton="primary" thyAppearance="outline">
    <thy-icon thyIconName="plus"></thy-icon>New<thy-icon thyIconName="caret-down"></thy-icon>
  </button>
</thy-space>
