<h5>Default</h5>
<thy-pagination [thySize]="'sm'" [(thyPageIndex)]="currentIndex" [thyPageSize]="10" [thyTotal]="203" [thyShowTotal]="true"></thy-pagination>
<br />
<br />
<h5>Custom Template</h5>
<thy-pagination
  [thySize]="'sm'"
  [(thyPageIndex)]="currentIndex"
  [thyPageSize]="10"
  [thyTotal]="203"
  [thyShowTotal]="totalTemplate"></thy-pagination>
<ng-template #totalTemplate let-range="range" let-total>
  <div>
    {{ range.from }}-{{ range.to }} of {{ total }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total: <span class="text-primary"> {{ total }} </span>
  </div>
</ng-template>
