$font-color-03: $gray-700;
$border-color: transparent;
@import '~ngx-bootstrap/datepicker/bs-datepicker.scss';
thy-datepicker-container {
  position: absolute;
  padding-bottom: 10px;
  background: white;
  box-shadow: $box-shadow;
}

@include theming('ngx', $primary);
@include thy-detepicker-variant();