@import '../../../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss';
thy-datepicker-container {
  position: absolute;
}

.thy-datepicker {
  text-align: center;
  line-height: 0;
  .thy-datepicker-bs {
    padding: 0;
    margin: 0;
    height: 0;
    border: 0;
  }
  bs-datepicker-container {
    position: relative !important;
    .bs-datepicker {
      background: transparent;
      box-shadow: none;
    }
  }
}