@mixin theming($name, $color, $item-active-bg-color) {
    .theme-#{$name} {
        .bs-datepicker-body {
            table {
                td {
                    span.selected,
                    &.selected span,
                    span[class*="select-"]:after,
                    &[class*="select-"] span:after {
                        background-color: $color;
                    }
                    &.week span {
                        color: $color;
                    }
                }
            }
        }
        .bs-datepicker-body table.days td.active:not(.select-start):before,
        .bs-datepicker-body table.days td.in-range:not(.select-start):before,
        .bs-datepicker-body table.days span.active:not(.select-start):before,
        .bs-datepicker-body table.days span.in-range:not(.select-start):before {
            background: $item-active-bg-color;
        }
    }
}

@mixin thy-detepicker-variant() {
    .thy-datepicker {
        position: relative;
        text-align: center;
        .thy-datepicker-bs {
            padding: 0;
            margin: 0;
            height: 0;
            border: 0;
        }
        bs-datepicker-container,
        bs-daterangepicker-container {
            // 日期区域
            position: relative !important;
            .bs-datepicker {
                background: transparent;
                box-shadow: none;
                .bs-datepicker-container {
                    padding: 0;
                    .bs-datepicker-head {
                        padding: 10px 14px;
                        padding-bottom: 0;
                        height: 40px;
                        background: transparent !important;
                        bs-datepicker-navigation-view {
                            display: flex;
                            justify-content: space-evenly;
                            button {
                                color: $gray-700;
                                &:nth-child(2) {
                                    order: 2;
                                }
                            }
                            .previous {
                                margin-right: auto;
                            }
                            .next {
                                margin-left: auto;
                                order: 3;
                            }
                        }
                    }
                    .bs-datepicker-body {
                        padding: 7px 10px 10px 10px;
                        min-width: 270px;
                        min-height: 222px;
                        table {
                            th {
                                color: $gray-600;
                                text-indent: -33px;
                                overflow: hidden;
                                transform: translateX(10px);
                            }
                            td {
                                height: 35px;
                                color: $gray-800;
                                span {
                                    font-size: 14px;
                                    &:before {
                                        top: 2px;
                                        bottom: 2px;
                                        left: -4px;
                                        right: -4px;
                                    }
                                    &.select-start {
                                        &:before {
                                            background: white;
                                            width: 5px;
                                            transform: translateX(34px);
                                        }
                                    } // &.in-range {
                                    //     background: transparent !important;
                                    // }
                                    &.select-end {
                                        &:before {
                                            left: -5px;
                                            background: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .is-other-month {
                    color: $gray-500;
                }
            }
            .bs-datepicker-multiple+.bs-datepicker-multiple {
                margin-left: -10px;
            }
        }
        bs-daterangepicker-container {
            .bs-datepicker .bs-datepicker-container bs-days-calendar-view {
                &:first-child {
                    .bs-datepicker-body {
                        padding-left: 12px;
                    }
                }
                &:last-child {
                    .bs-datepicker-body {
                        padding-right: 12px;
                    }
                }
            }
            .bs-datepicker .bs-datepicker-container .bs-datepicker-head {
                height: 50px;
                border-bottom: solid 1px $gray-200;
            }
            .bs-datepicker-body {
                padding: 10px;
                table tr td {
                    &:first-child {
                        .in-range:before {
                            left: 0;
                        }
                    }
                    &:last-child {
                        .in-range:before {
                            right: 0;
                        }
                    }
                }
            }
        }
        .timepicker-section {
            margin: 0 auto;
            display: flex;
            width: calc(100% - 40px);
            line-height: 50px;
            border-top: solid 1px $gray-200;
            timepicker {
                margin: 10px 0;
                line-height: 1;
            }
            .timepicker-set {
                .timepicker-set-btn {
                    padding-left: 0;
                    padding-right: 5px;
                }
            }
            .timepicker-warp {
                // 时间input
                .btn {
                    padding: 0;
                }
                .bs-timepicker-field {
                    padding: $input-padding-y-sm $input-padding-x-sm;
                }
                .bs-chevron {
                    width: 7px;
                    height: 7px;
                    border-width: 2px 0px 0 2px;
                    border-color: $gray-700;
                }
            }
            .timepicker-btn-warp {
                // 按钮
                display: flex;
                align-items: center;
                flex: 1;
                justify-content: flex-end;
                .timepicker-ok-btn {
                    padding-left: 15px;
                    padding-right: 15px;
                    min-width: auto;
                }
                .timepicker-clear-btn {
                    margin-left: 5px;
                    padding-left: 5px;
                    padding-right: 0;
                }
            }
        }
    }
}
