<div class="hex-column">
  <thy-input-group class="hex-input-group">
    <ng-template #prefix>
      <span>#</span>
    </ng-template>
    <input
      class="px-0 form-control-xs"
      thyInput
      [(ngModel)]="hex"
      maxlength="6"
      (blur)="onInputChange($event, 'hex')"
      (thyEnter)="onInputChange($event, 'hex')" />
  </thy-input-group>
  <span>HEX</span>
</div>
<div class="column">
  <thy-input-number
    thySize="xs"
    [thyMin]="0"
    [thyMax]="255"
    class="px-0 text-center"
    [(ngModel)]="color.rgba.red"
    (thyBlur)="onInputChange($event, 'R')"
    (thyEnter)="onInputChange($event, 'R')"></thy-input-number>
  <span>R</span>
</div>
<div class="column">
  <thy-input-number
    thySize="xs"
    [thyMin]="0"
    [thyMax]="255"
    class="px-0 text-center"
    [(ngModel)]="color.rgba.green"
    (thyBlur)="onInputChange($event, 'G')"
    (thyEnter)="onInputChange($event, 'G')"></thy-input-number>
  <span>G</span>
</div>
<div class="column">
  <thy-input-number
    thySize="xs"
    [thyMin]="0"
    [thyMax]="255"
    class="px-0 text-center"
    [(ngModel)]="color.rgba.blue"
    (thyBlur)="onInputChange($event, 'B')"
    (thyEnter)="onInputChange($event, 'B')"></thy-input-number>
  <span>B</span>
</div>
<div class="column">
  <thy-input-number
    [thyMin]="0"
    [thyMax]="100"
    thySize="xs"
    class="px-0 text-center"
    [(ngModel)]="alpha"
    (thyBlur)="onInputChange($event, 'A')"
    (thyEnter)="onInputChange($event, 'A')"></thy-input-number>
  <span>A</span>
</div>
