<p><code>thyDropdownSplit</code> 与 <code>thy-button-group</code> 一同使用，达成分列式下拉菜单的效果。</p>
<p>
  注意：本 directive 通过修改 button group 后置 button 的样式来实现，在使用的过程中需要注意将
  <code>thyDropdownSplit</code> 添加到 button group 后置的 button 元素上去。
</p>
<thy-button-group>
  <button thyButton="primary" thyIcon="plus-circle">分列式下拉菜单</button>
  <button thyDropdownSplit thyButton="primary" [thyActionMenuToggle]="menuList"></button>
</thy-button-group>
<thy-button-group>
  <button thyButton="primary-square" thyIcon="wtf-upload">分列式下拉菜单</button>
  <button thyButton="primary-square" thyDropdownSplit [thyActionMenuToggle]="menuList"></button>
</thy-button-group>
<ng-template #menuList>
  <thy-action-menu>
    <a thyActionMenuItem href="javascript:;">
      <span>Dropdown link</span>
    </a>
    <a thyActionMenuItem href="javascript:;">
      <span>Dropdown link</span>
    </a>
  </thy-action-menu>
</ng-template>
