<div class="demo-card">
  <div class="mt-2">
    <thy-property-operation
      thyLabelText="截止时间"
      [thyDisabled]="disabled"
      thyValue=""
      thyIcon="calendar"
      class="mr-2"></thy-property-operation>

    <thy-property-operation thyLabelText="负责人" class="mr-2" [thyDisabled]="disabled" thyLabelHideWhenHasValue="true">
      <ng-template #operationIcon>
        <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed"></button>
      </ng-template>
    </thy-property-operation>

    <thy-property-operation
      thyLabelText="截止时间"
      [thyDisabled]="disabled"
      thyLabelHideWhenHasValue="true"
      thyValue="2017-08-10"
      thyIcon="calendar"
      class="mr-2"></thy-property-operation>

    <thy-property-operation
      thyLabelText="截止时间"
      [thyDisabled]="disabled"
      thyValue="2017-08-10"
      thyIcon="calendar"
      class="mr-2"></thy-property-operation>
  </div>
</div>
