<section>
    <div class="header">
        <h2>Progress default</h2>
    </div>
    <div class="body">
        <div class="demo-layout">
            <progressbar class="progress" [value]="stacked" [max]="100"></progressbar>
            <br/>
            <pre>
&lt;progressbar class="progress" [value]="stacked" [max]="100">&lt;/progressbar>
            </pre>
        </div>
    </div>
</section>

<br/><br/><br/>

<section>
    <div class="header">
        <h2>Progress sm</h2>
    </div>
    <div class="body">
        <div class="demo-layout">
            <progressbar class="progress progress-sm" [value]="stacked" [max]="100"></progressbar>
            <br/>
            <br/>
            <pre>
&lt;progressbar class="progress progress-sm" [value]="stacked" [max]="100">&lt;/progressbar>
            </pre>
        </div>
    </div>
</section>