禁用整体：
<div style="width: 270px" class="mt-1">
  <thy-segment [thyDisabled]="true">
    <thy-segment-item thyValue="member">成员</thy-segment-item>
    <thy-segment-item thyValue="department">部门</thy-segment-item>
    <thy-segment-item thyValue="group">用户组</thy-segment-item>
  </thy-segment>
</div>

<div style="width: 180px" class="mt-4">
  <thy-segment [thyDisabled]="true">
    <thy-segment-item thyValue="1" thyIcon="list">列表</thy-segment-item>
    <thy-segment-item thyValue="2" thyIcon="paperclip">对齐</thy-segment-item>
  </thy-segment>
</div>

<div class="mt-4 mb-4">
  <thy-segment thyMode="inline" [thyDisabled]="true">
    <thy-segment-item thyValue="1" thyIcon="list"></thy-segment-item>
    <thy-segment-item thyValue="2" thyIcon="paperclip"></thy-segment-item>
  </thy-segment>
</div>

禁用单个选项：
<div style="width: 270px" class="mt-1">
  <thy-segment>
    <thy-segment-item thyValue="member">成员</thy-segment-item>
    <thy-segment-item thyValue="department" [thyDisabled]="true">部门</thy-segment-item>
    <thy-segment-item thyValue="group">用户组</thy-segment-item>
  </thy-segment>
</div>

<div style="width: 180px" class="mt-4">
  <thy-segment>
    <thy-segment-item thyValue="1" thyIcon="list">列表</thy-segment-item>
    <thy-segment-item thyValue="2" thyIcon="paperclip" [thyDisabled]="true">对齐</thy-segment-item>
  </thy-segment>
</div>

<div class="mt-4">
  <thy-segment thyMode="inline">
    <thy-segment-item thyValue="1" thyIcon="list"></thy-segment-item>
    <thy-segment-item thyValue="2" thyIcon="paperclip" [thyDisabled]="true"></thy-segment-item>
  </thy-segment>
</div>
