<div class="demo-card">
  <div>
    <a href="javascript:;" class="mr-3">主链接</a>
    <a href="javascript:;" class="link-info mr-3">信息链接</a>
    <a href="javascript:;" class="link-danger mr-3">危险链接</a>
    <a href="javascript:;" class="link-success mr-3">成功链接</a>
    <a href="javascript:;" class="link-major mr-3">重要链接</a>
    <a href="javascript:;" class="link-muted mr-3">背景色下的次链接</a>
    <a href="javascript:;" class="link-secondary mr-3">次链接</a>
    <a href="javascript:;" class="link-danger-weak mr-3">弱危险链接</a>
    <a href="javascript:;" class="link-warning mr-3">警告链接</a>
    <a href="javascript:;" class="link-warning-weak mr-3">弱警告链接</a>
  </div>

  <h5 class="mt-3">带图标的链接</h5>
  <div class="mt-2">
    <a href="javascript:;" class="mr-3"><thy-icon thyIconName="plus-bold"></thy-icon>主链接</a>
    <a href="javascript:;" class="link-info link-has-icon mr-3"
      ><thy-icon thyIconName="plus-bold"></thy-icon>信息链接</a
    >
    <a href="javascript:;" class="link-danger link-has-icon mr-3"
      ><thy-icon thyIconName="plus-bold"></thy-icon>危险链接</a
    >
    <a href="javascript:;" class="link-success link-has-icon mr-3"
      ><thy-icon thyIconName="plus-bold"></thy-icon>成功链接</a
    >
    <a href="javascript:;" class="link-major link-has-icon mr-3"
      ><thy-icon thyIconName="plus-bold"></thy-icon>重要链接</a
    >
    <a href="javascript:;" class="link-muted link-has-icon mr-3"
      ><thy-icon thyIconName="plus-bold"></thy-icon>背景色下的次链接</a
    >
    <a href="javascript:;" class="link-secondary link-has-icon mr-3"
      ><thy-icon thyIconName="plus-bold"></thy-icon>次链接</a
    >
    <a href="javascript:;" class="link-danger-weak link-has-icon mr-3"
      ><thy-icon thyIconName="plus-bold"></thy-icon>弱危险链接</a
    >
    <a href="javascript:;" class="link-warning link-has-icon mr-3"
      ><thy-icon thyIconName="plus-bold"></thy-icon>警告链接</a
    >
    <a href="javascript:;" class="link-warning-weak link-has-icon mr-3"
      ><thy-icon thyIconName="plus-bold"></thy-icon>弱警告链接</a
    >
  </div>
  <div class="mt-2">
    <a href="javascript:;" class="link-has-icon"><thy-icon thyIconName="settings"></thy-icon>设置</a>
    <br />
    <a href="javascript:;" class="link-has-icon"><thy-icon thyIconName="plus"></thy-icon>新建</a>
    <br />
    <a href="javascript:;" class="link-has-icon"><thy-icon thyIconName="plus-circle-fill"></thy-icon>新建任务</a>
    <br />
    <a href="javascript:;" class="link-has-icon"><thy-icon thyIconName="trash"></thy-icon>删除</a>
  </div>
  <h5 class="mt-3">带图标字体的链接, 兼容 wtf</h5>
  <div class="mt-2">
    <a href="javascript:;" class="mr-3"><i class="wtf wtf-plus"></i>主链接</a>
    <a href="javascript:;" class="link-info link-has-icon mr-3"><i class="wtf wtf-plus"></i>信息链接</a>
    <a href="javascript:;" class="link-danger link-has-icon mr-3"><i class="wtf wtf-plus"></i>危险链接</a>
    <a href="javascript:;" class="link-success link-has-icon mr-3"><i class="wtf wtf-plus"></i>成功链接</a>
    <a href="javascript:;" class="link-major link-has-icon mr-3"><i class="wtf wtf-plus"></i>重要链接</a>
    <a href="javascript:;" class="link-muted link-has-icon mr-3"><i class="wtf wtf-plus"></i>背景色下的次链接</a>
    <a href="javascript:;" class="link-secondary link-has-icon mr-3"><i class="wtf wtf-plus"></i>次链接</a>
    <a href="javascript:;" class="link-danger-weak link-has-icon mr-3"><i class="wtf wtf-plus"></i>弱危险链接</a>
  </div>
</div>
