<div class="demo-card">
  <h5>SVG 图标 + 文字（加 icon-text 样式）</h5>
  <div class="mt-3">
    <div class="icon-text icon-text-lg mr-3">
      <thy-icon thyIconName="kanban-square-fill"></thy-icon>
      <span>任务lg</span>
    </div>

    <div class="icon-text mr-3">
      <thy-icon thyIconName="kanban-square-fill"></thy-icon>
      <span>任务Normal</span>
    </div>

    <div class="icon-text icon-text-sm mr-3">
      <thy-icon thyIconName="kanban-square-fill"></thy-icon>
      <span>任务sm</span>
    </div>

    <div class="icon-text icon-text-xs mr-3">
      <thy-icon thyIconName="kanban-square-fill"></thy-icon>
      <span>任务xs</span>
    </div>
  </div>

  <h5 class="mt-4">原生 SVG 图标 + 文字（不加 icon-text 样式）</h5>
  <div class="mt-3">
    <!-- <span class="font-size-lg mr-3">
      <thy-icon thyIconName="kanban-square-fill" class="mr-1"></thy-icon>
      <span>任务lg</span>
    </span> -->
    <span class="mr-3">
      <thy-icon thyIconName="kanban-square-fill" class="mr-1"></thy-icon>
      <span>任务Normal</span>
    </span>
    <!-- <span class="font-size-md mr-3">
      <thy-icon thyIconName="kanban-square-fill" class="mr-1"></thy-icon>
      <span>任务md</span>
    </span>
    <span class="font-size-sm mr-3">
      <thy-icon thyIconName="kanban-square-fill" class="mr-1"></thy-icon>
      <span>任务sm</span>
    </span>
    <span class="font-size-xs mr-3">
      <thy-icon thyIconName="kanban-square-fill" class="mr-1"></thy-icon>
      <span>任务xs</span>
    </span> -->
  </div>

  <h5 class="mt-4">字体图标 + 文字</h5>
  <div class="mt-3">
    <div class="icon-text icon-text-lg mr-3">
      <i class="wtf wtf-apps-o"></i>
      <span>任务lg</span>
    </div>

    <div class="icon-text mr-3">
      <i class="wtf wtf-apps-o"></i>
      <span>任务Normal</span>
    </div>

    <div class="icon-text icon-text-sm mr-3">
      <i class="wtf wtf-apps-o"></i>
      <span>任务sm</span>
    </div>

    <div class="icon-text icon-text-xs mr-3">
      <i class="wtf wtf-apps-o"></i>
      <span>任务xs</span>
    </div>
  </div>
</div>
