<div class="d-flex flex-column w-50 mb-3">
  <thy-date-picker
    class="d-block"
    thyShowTime
    thyPlaceHolder="全局自定义"
    [(ngModel)]="dateTime"
    (ngModelChange)="onChange($event)"
    [thyAllowClear]="false"
    [thyHasBackdrop]="false">
  </thy-date-picker>
</div>

<div class="d-flex flex-column w-50">
  <thy-date-picker
    class="d-block"
    thyShowTime
    thyPlaceHolder="日期自定义"
    [(ngModel)]="dateTime"
    [thyDateRender]="dateCellRender"
    (ngModelChange)="onChange($event)"
    [thyAllowClear]="false"
    [thyHasBackdrop]="false">
  </thy-date-picker>
</div>
