<div class="demo-card demo-buttons">
  <button thyButton="primary-square">主要按钮</button>
  <button thyButton="success-square">成功按钮</button>
  <button thyButton="info-square">信息按钮</button>
  <button thyButton="warning-square">警告按钮</button>
  <button thyButton="danger-square">危险按钮</button>
  <button thyButton="primary-square" disabled>禁用按钮</button>
  <br />
  <br />
  <button thyButton="outline-primary-square">主要按钮</button>
  <button thyButton="outline-success-square">成功按钮</button>
  <button thyButton="outline-info-square">信息按钮</button>
  <button thyButton="outline-warning-square">警告按钮</button>
  <button thyButton="outline-danger-square">危险按钮</button>
  <button thyButton="outline-primary-square" class="disabled">禁用按钮</button>
  <br />
  <br />
  <button thyButton="outline-primary-square" thySize="md">主要按钮</button>
  <button thyButton="outline-success-square" thySize="md">成功按钮</button>
  <button thyButton="outline-info-square" thySize="md">信息按钮</button>
  <button thyButton="outline-warning-square" thySize="md">警告按钮</button>
  <button thyButton="outline-danger-square" thySize="md">危险按钮</button>
  <button thyButton="outline-primary-square" thySize="md" disabled>禁用按钮</button>
</div>
