<form thyForm thyLayout="inline">
  <thy-form-group thyLabelText="Placement">
    <thy-select name="size" [(ngModel)]="placement" name="placement">
      <option value="top">top</option>
      <option value="topLeft">topLeft</option>
      <option value="topRight">topRight</option>
      <option value="bottom">bottom</option>
      <option value="bottomLeft">bottomLeft</option>
      <option value="bottomRight">bottomRight</option>
      <option value="left">left</option>
      <option value="leftTop">leftTop</option>
      <option value="leftBottom">leftBottom</option>
      <option value="right">right</option>
      <option value="rightTop">rightTop</option>
      <option value="rightBottom">rightBottom</option>
    </thy-select>
  </thy-form-group>
</form>
<div class="btn-pair mt-3">
  <button #componentTrigger thyButton="secondary" thySize="md" (click)="openPopover(componentTrigger)">
    Use Component
  </button>
  <button #templateTrigger thyButton="secondary" thySize="md" (click)="openTemplatePopover(templateTrigger, template)">
    Use Template
  </button>
</div>
<ng-template #template>
  <p class="p-2">Hello, I am template content</p>
</ng-template>
