<section>
    <div class="header">
        <h2>Key Select</h2>
    </div>
    <div class="body">
        <thy-list>
            <thy-list-item thyKeySelectItem>
                1
            </thy-list-item>
            <thy-list-item thyKeySelectItem>
                2
            </thy-list-item>
            <thy-list-item thyKeySelectItem>
                3
            </thy-list-item>
        </thy-list>
        <!-- <thy-list [thyKeySelect]="thyKeySelectConfig">
            <thy-list-item thyKeySelectItem>
                1
            </thy-list-item>
            <thy-list-item thyKeySelectItem>
                2
            </thy-list-item>
            <thy-list-item thyKeySelectItem>
                3
            </thy-list-item>
        </thy-list> -->
    </div>
</section>

<api-parameters title="thyKeySelection 参数列表" [parameters]="apiParameters"></api-parameters>