<section>
    <div class="header">
        <h2>Key Select</h2>
    </div>
    <div class="body">
        <thy-list [thyKeySelection]="thyKeySelectConfig">
            <thy-list-item>
                1
            </thy-list-item>
            <thy-list-item>
                2
            </thy-list-item>
            <thy-list-item>
                3
            </thy-list-item>
        </thy-list>
    </div>
</section>

<api-parameters title="thyKeySelection 参数列表" [parameters]="apiParameters"></api-parameters>