<thy-space>
  <button *thySpaceItem thyButton thyColor="primary">Primary</button>
  <button *thySpaceItem thyButton thyColor="info">Info</button>
  <button *thySpaceItem thyButton thyColor="warning">Warning</button>
  <button *thySpaceItem thyButton thyColor="danger">Danger</button>
  <button *thySpaceItem thyButton thyColor="success">Success</button>
  <button *thySpaceItem thyButton thyColor="primary" thyIcon="plus">New</button>
  <button *thySpaceItem thyButton thyColor="primary">New<thy-icon thyIconName="angle-down"></thy-icon></button>
</thy-space>

<thy-space class="mt-2">
  <button *thySpaceItem thyButton thyColor="primary" disabled>Primary</button>
  <button *thySpaceItem thyButton thyColor="info" disabled>Info</button>
  <button *thySpaceItem thyButton thyColor="warning" disabled>Warning</button>
  <button *thySpaceItem thyButton thyColor="danger" disabled>Danger</button>
  <button *thySpaceItem thyButton thyColor="success" disabled>Success</button>
  <button *thySpaceItem thyButton thyColor="primary" disabled thyIcon="plus">New</button>
  <button *thySpaceItem thyButton thyColor="primary" disabled>New<thy-icon thyIconName="angle-down"></thy-icon></button>
</thy-space>
