<img
  *ngIf="_src; else noSrc"
  [src]="_src | thyAvatarSrc : _size"
  class="avatar-avatar"
  [ngClass]="thyImgClass"
  alt="{{ avatarName || '' }}"
  [attr.loading]="thyLoading"
  [attr.fetchpriority]="thyFetchPriority"
  (error)="avatarImgError($event)" />

<ng-template #noSrc>
  <span class="avatar-default" [ngStyle]="avatarName | avatarBgColor">
    <div>{{ avatarName | avatarShortName }}</div>
  </span>
</ng-template>

<ng-template [ngIf]="thyShowName">
  <div *ngIf="avatarNameSafeHtml; else noAvatarNameSafeHtml" class="avatar-name" [innerHtml]="avatarNameSafeHtml" thyFlexibleText [thyTooltipContent]="avatarNameSafeHtml"></div>
  <ng-template #noAvatarNameSafeHtml>
    <div class="avatar-name" thyFlexibleText [thyTooltipContent]="avatarName">{{ avatarName }}</div>
  </ng-template>
</ng-template>

<a *ngIf="_showRemove" (click)="remove($event)" href="javascript:;" class="remove-link avatar-remove">
  <thy-icon class="remove-link-icon" thyIconName="close-circle-bold-fill"></thy-icon>
</a>
<div *ngIf="thyDisabled" class="thy-avatar-disabled">
  <thy-icon class="thy-avatar-disabled-icon" thyIconName="ban"></thy-icon>
</div>
