<img
  *ngIf="_src"
  [src]="_src | thyAvatarSrc: _size"
  class="avatar-avatar"
  [ngClass]="thyImgClass"
  alt="{{ avatarName || '' }}"
/>
<span *ngIf="!_src" class="avatar-default" [ngStyle]="avatarName | avatarBgColor">
  <div>{{ avatarName | avatarShortName }}</div>
</span>
<div *ngIf="thyShowName" class="avatar-name" [innerHtml]="avatarName | thyAvatarName"></div>
<a *ngIf="_showRemove" (click)="remove($event)" href="javascript:;" class="remove-link avatar-remove"
  ><thy-icon class="remove-link-icon" thyIconName="close-circle-bold-fill"></thy-icon
></a>
<div *ngIf="thyDisabled" class="thy-avatar-disabled">
  <thy-icon class="thy-avatar-disabled-icon" thyIconName="ban"></thy-icon>
</div>
