body {
    overflow-x: hidden;
    background-color: #fafafa;
}
::-webkit-scrollbar {
    // width:0;
    // padding-left: 10px;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: $white;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.075);
    z-index: 100;
    > div {
        line-height: 50px;
        height: 50px;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
    .navbar-brand {
        padding-left: 20px;
        display: inline-block;
        width: 0;
        font-size: 20px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
        img {
            height: 30%;
        }
    }
    .theme-color-container {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
        padding: 3px;
        display: block;
        border: solid 1px $gray-200;
        border-radius: 3px;
        div {
            width: 30px;
            height: 30px;
            line-height: 30px;
            color: white;
            text-align: center;
            background: $primary;
            i {
                line-height: 1;
                vertical-align: middle;
            }
        }
    }
}

.theme-select-show-wrap {
    padding-right: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    a {
        margin-top: 5px;
        margin-left: 5px;
        display: inline-block;
        flex: 1 0 40%;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        line-height: 50px;
        transition: all 200ms;
        &:hover {
            text-decoration: none;
            color: #ffffff;
            box-shadow: 0 2px 13px 1px rgba(0, 0, 0, 0.15);
        }
    }
}

.demo-main {
    height: calc(100vh - 50px);
    margin-top: 50px;
    background: transparent;
    > .thy-layout-sidebar {
        background: $white;
        padding-right: 1px;
        border-right: none;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 1px;
            height: 100%;
            top: 0;
            right: 6px;
            background: #eee;
        }
    }
    .thy-layout-content {
        // margin-left: 240px;
        background: $white;
        padding: 30px 0px;
    }
    .demo-main-content {
        position: relative;
        border-radius: 10px;
        padding: 0 $demo-toc-width 0 20px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    .content-header {
        margin: 10px;
        font-size: 20px;
        color: #333333; // text-rendering: optimizeLegibility;
        // -webkit-font-smoothing: antialiased;
        .mate {
            font-size: 14px;
            color: #888888;
        }
    }
    .content-main {
        margin: 10px;
        padding: 20px;
        height: 100%;
        background: white;
    }
}

// Component style
@import './components/+uploader/uploader.scss';
@import './components//+avatar/avatar-section.component.scss';
@import './components/+dialog/dialog-section.scss';
