.navbar {
    position: sticky;
    min-height: 3rem;
    box-shadow: 0 0 8px 2px #eee;
    z-index: 100;
    .navbar-brand {
        display: inline-block;
        padding: 1rem;
    }
}

.toc-slider {
    .toc {
        margin-top: 1rem;
        .toc-item {
            line-height: 3rem;
            padding-left: 1rem;
        }
        .toc-sub-item {
            padding-left: 1.1rem;
        }
    }
}

.main-wrapper {
    background: #eee;
    display: flex;
    flex-direction: column;
    .header {
        margin-bottom: 0px;
    }
    .main {
        flex-grow: 1;
        margin-top: 1rem;
        margin: 0px 0rem 1rem 0rem;
        padding: 1rem;
        background: #fff;
    }
}