<header class="navbar">
    <a class="navbar-brand">WDC For Worktile Design</a>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col col-2 col-sm-3 col-xl-2 col-md-3 toc-slider">
            <div class="toc">
                <div class="toc-item">介绍</div>
                <div class="toc-item">原则</div>
                <div class="toc-item group">
                    <div class="header">组件</div>
                    <div class="body">
                        <div class="toc-sub-item">
                            <a routerLink="/components/reboot">通用</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/button">按钮</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/pob-box">PopBox 弹出框</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/table">Table</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/grid">Grid</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/wtd">WTD图标</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/action-menu">ActionMenu</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/avatar">Avatar 头像</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/badge">徽标</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/label">Label</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/layout">Layout 布局</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/nav">导航</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/modal">Modal 弹框</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/card">Card</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/loading">Loading 加载中</a>
                        </div>
                        <div class="toc-sub-item">
                            <a routerLink="/components/tree">Tree</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-10 col-sm-8 col-xl-9 col-md-8 main-wrapper">
            <div class="header">
                <h4>按钮</h4>
            </div>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
