<header class="navbar">
  <div class=" d-flex ">
    <a class="navbar-brand"><img src="assets/logo.svg" alt=""/></a>
    <div class="ml-auto d-flex">
      <a
        href="javascript:;"
        class="theme-color-container"
        [thyActionMenuToggle]="themeSelectPop"
        [thyPlacement]="'bottom right'"
      >
        <div [ngStyle]="{ background: currentTheme.color }">
          <i class="wtf wtf-angle-down"></i>
        </div>
      </a>
      <ng-template #themeSelectPop>
        <div class="theme-select-show-wrap">
          <a
            href="javascript:;"
            *ngFor="let theme of themesConstant"
            [ngStyle]="{ background: theme.color }"
            (click)="changeTheme(theme)"
            >{{ theme.name }}</a
          >
        </div>
      </ng-template>
    </div>
  </div>
</header>

<thy-layout class="demo-main" id="demo-main" thyDrawerContainer>
  <thy-sidebar [thyWidth]="260">
    <demo-sidebar></demo-sidebar>
  </thy-sidebar>
  <thy-content class="demo-main-layout-content" cdkScrollable id="demo-content">
    <div class="demo-main-content">
      <router-outlet></router-outlet>
    </div>
  </thy-content>
</thy-layout>
