<div class="body selection-list-wrapper" #body>
  <label thyCheckbox thyInline="true" [(ngModel)]="selectionGridModel.multiple" thyLabelText="是否是多选列表"></label>
  <label
    thyCheckbox
    thyInline="true"
    [(ngModel)]="selectionGridModel.sm"
    (ngModelChange)="changGrid(selectionGridModel.sm)"
    thyLabelText="sm尺寸"
  ></label>
  <thy-selection-list
    [style.width]="'560px'"
    [style.background]="'#fafafa'"
    [(ngModel)]="selectionGridModel.defaultValues"
    [thySize]="size"
    [thyBindKeyEventContainer]="body"
    [thyBeforeKeydown]="thyBeforeKeydown"
    [thyMultiple]="selectionGridModel.multiple"
    [thyLayout]="'grid'"
    (thySelectionChange)="selectionChange($event)"
  >
    <thy-list-option *ngFor="let item of items" [thyDisabled]="item.id === 3" [thyValue]="item?.id">
      <thy-icon thyIconName="app-agile-fill" class="thy-grid-option-icon"></thy-icon>
      <div class="thy-grid-option-name">{{ item.name }}</div>
    </thy-list-option>
  </thy-selection-list>
</div>
