<div thyRow [thyGutter]="30">
  <div thyCol [thySpan]="10">
    <span class="d-block mb-2">颜色变量</span>
    @for (variable of colorVariables; track $index) {
      <div class="d-flex align-items-center">
        <div class="color-variable" [style.width.px]="100">{{ variable }}</div>
        @if (variable.startsWith('$gray-')) {
          <thy-divider class="mr-8" [thyVertical]="true" thyDeeper="true"></thy-divider>
          <div class="color-variable">var(--{{ variable.slice(1) }})</div>
        }
      </div>
    }
  </div>

  <div thyCol [thySpan]="6">
    <span class="d-block mb-2">亮色主题</span>
    @for (variable of colorVariables; track $index) {
      <div class="show-color">
        <div class="color-block" [style.backgroundColor]="defaultThemeColorsMap[variable]"></div>
        <span>{{ defaultThemeColorsMap[variable] }}</span>
      </div>
    }
  </div>

  <div thyCol [thySpan]="6">
    <span class="d-block mb-2">暗黑主题</span>
    @for (variable of colorVariables; track $index) {
      <div class="show-color">
        <div class="color-block" [style.backgroundColor]="darkThemeColorsMap[variable]"></div>
        <span>{{ darkThemeColorsMap[variable] }}</span>
      </div>
    }
  </div>
</div>
