<thy-cascader
  [thyOptions]="thyCustomerOptions"
  (ngModelChange)="selectChange($event)"
  [(ngModel)]="curVal"
  [thyMultiple]="true"
  style="width: 400px"
  [thyLabelRender]="renderTpl">
</thy-cascader>
<ng-template #renderTpl let-labels="labels" let-selectedOptions="selectedOptions">
  <ng-container>
    @for (label of labels; track $index; let i = $index; let isLast = $last) {
      @if (!isLast) {
        <span>{{ label }} / </span>
      }
      @if (isLast) {
        <span>
          {{ label }}
          (
          <a href="javascript:;" (click)="handleAreaClick($event, label, selectedOptions[i])">
            {{ selectedOptions[i].code }}
          </a>
          )
        </span>
      }
    }
  </ng-container>
</ng-template>
