<div class="statistic-container">
  <thy-statistic [thyValue]="10 | number" [thyTitle]="'价值'" [thyPrefix]="'$'" [thyColor]="'#fa8b7c'"></thy-statistic>

  <thy-statistic
    [thyValue]="'90'"
    [thyTitle]="'测试覆盖率'"
    [thySuffix]="'%'"
    [thyColor]="'success'"
    [thyPrefixTemplate]="prefix1"
    [thyTitlePosition]="'top'"
  ></thy-statistic>

  <ng-template #prefix1>
    <thy-icon style="font-size: 30px" thyIconName="arrow-up"></thy-icon>
  </ng-template>

  <thy-statistic
    [thyValue]="40 | number"
    [thyTitle]="'字的大小'"
    [thySuffix]="'px'"
    [thyValueStyle]="{ 'font-size': '40px', color: '#666666' }"
  >
    <ng-template #prefix> <thy-icon style="font-size: 30px" thyIconName="arrow-down"></thy-icon> </ng-template
  ></thy-statistic>
</div>
