<app-demo-title title="InputNumber 计数器" introduction=""></app-demo-title>

<app-live-demos [data]="liveDemos"></app-live-demos>
<api-parameters
  title="thyInputNumber,thy-input-number 参数列表"
  [parameters]="apiThyInputNumberParameters"
></api-parameters>
<!-- <api-parameters
  title="thyInputNumber, thy-input-number 参数列表"
  [parameters]="apiThyInputNumberParameters"
></api-parameters> -->
<!-- <api-parameters title="thy-button-group 参数列表" [parameters]="apiThyButtonGroupParameters"></api-parameters> -->
