<section>
  <div class="header">
    <h2>上传</h2>
  </div>
  <div class="body">
    <form thyForm thyLayout="inline">
      <thy-form-group>
        <label thyCheckbox thyLabelText="thyMultiple" [(ngModel)]="multiple" name="multiple"></label>
      </thy-form-group>
      <thy-form-group>
        <label thyCheckbox thyLabelText="thyAcceptFolder" [(ngModel)]="acceptFolder" name="acceptFolder"></label>
      </thy-form-group>
    </form>
    <thy-file-select
      class="mt-2 d-inline-block"
      #file1
      (thyOnFileSelect)="selectFiles($event)"
      [thyMultiple]="multiple"
      [thyAcceptFolder]="acceptFolder"
    >
      <button thyButton="primary-square">上传</button>
    </thy-file-select>
    <div *ngFor="let queueFile of queueFiles">
      {{ queueFile.fileName }} speed: {{ queueFile.progress.speedHuman }}, estimatedTime -
      {{ queueFile.progress.estimatedTimeHuman }}
      <thy-progress class="progress" type="success" [thyValue]="queueFile.progress.percentage"></thy-progress>
    </div>
  </div>
</section>

<section>
  <div class="header">
    <h2 draggable="true">拖拽上传</h2>
  </div>
  <div class="body">
    <div class="demo-file-drop" thyFileDrop thyFileDropClassName="drop-over2" (thyOnDrop)="onDrop($event)">
      <div class="drop-text">释放上传</div>
    </div>
    <div *ngFor="let queueFile of queueFiles2">
      {{ queueFile.fileName }} speed: {{ queueFile.progress.speedHuman }}, estimatedTime -
      {{ queueFile.progress.estimatedTimeHuman }}
      <thy-progress class="progress" thyType="success" [thyValue]="queueFile.progress.percentage" [thyMax]="100"
        >{{ queueFile.progress.percentage }}%</thy-progress
      >
    </div>
  </div>
</section>

<api-parameters title="thyFileSelect, thy-file-select 参数" [parameters]="apiParameters"></api-parameters>
