.demo-file-drop {
    padding: 20px;
    height: 200px;
    border: dashed 1px lightgray;
    .drop-text {
        visibility: hidden;
    }
    &.drop-over {
        border-color: $primary;
        .drop-text {
            visibility: visible;
        }
    }
}
