$thy-space-row-gap: 8px;

.thy-space {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    row-gap: $thy-space-row-gap;

    &.thy-space-vertical {
        flex-direction: column;
    }

    .thy-space-item {
    }

    // > * {
    //     margin: 12px 0 0 12px;
    // }
}
