<section>
  <div class="body">
    <div class="demo-stepper">
      <thy-stepper thySelectedIndex="1">
        <thy-step label="第一步">
          <div class="demo-stepper-body">
            <p class="mb-3">This is a description for first step.</p>
            <button thyButton="primary" thyStepperNext>下一步</button>
          </div>
        </thy-step>
        <thy-step label="第二步" thyIconName="check-circle-fill">
          <div class="demo-stepper-body">
            <p class="mb-3">This is a description for second step.</p>
            <button thyButton="primary" thyStepperNext>下一步</button>
            <a thyButton="link-secondary" thyStepperPrevious>上一步</a>
          </div>
        </thy-step>
        <thy-step label="第三步">
          <div class="demo-stepper-body">
            <p class="mb-3">This is a description for third step.</p>
            <a thyButton="link-secondary" thyStepperPrevious>上一步</a>
          </div>
        </thy-step>
      </thy-stepper>
    </div>
  </div>
</section>
