<section>
  <div class="body">
    <div class="demo-stepper">
      <thy-stepper thySelectedIndex="1">
        <thy-step label="第一步">
          <div class="demo-stepper-body">
            <button thyButton="primary" thyStepperNext>下一步</button>
            <p>This is a description.</p>
          </div>
        </thy-step>
        <thy-step label="第二步">
          <div class="demo-stepper-body">
            <button thyButton="primary" thyStepperNext>下一步</button>
            <a thyButton="link-secondary" thyStepperPrevious>上一步</a>
            <p>This is a description.</p>
          </div>
        </thy-step>
        <thy-step label="第三步">
          <div class="demo-stepper-body">
            <a thyButton="link-secondary" thyStepperPrevious>上一步</a>
            <p>This is a description.</p>
          </div>
        </thy-step>
      </thy-stepper>
    </div>
  </div>
</section>
