<div style="margin-left: 60px">
  <thy-space class="mt-4">
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="topLeft">TopL</button>
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="top">Top</button>
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="topRight">TopR</button>
  </thy-space>
</div>
<div style="float: left; width: 60px">
  <thy-space class="mt-4">
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="leftTop">LeftT</button>
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="left">Left</button>
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="leftBottom">
      LeftB
    </button>
  </thy-space>
</div>
<div style="margin-left: 360px; width: 60px">
  <thy-space class="mt-4">
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="rightTop">RightT</button>
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="right">Right</button>
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="rightBottom">
      RightB
    </button>
  </thy-space>
</div>
<div style="margin-left: 60px; clear: both">
  <thy-space class="mt-4">
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="bottomLeft">
      BottomL
    </button>
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="bottom">Bottom</button>
    <button thyButton="outline-primary" *thySpaceItem thyTooltip="Hello, welcome to Pingcode" thyTooltipPlacement="bottomRight">
      BottomR
    </button>
  </thy-space>
</div>
