<div thyFlex thyDirection="row" thyGap="8">
  <div thyFlexItem><div class="light-blue">Item 1</div></div>
  <div thyFlexItem><div class="blue">Item 2</div></div>
  <div thyFlexItem><div class="light-blue">Item 3</div></div>
  <div thyFlexItem><div class="blue">Item 4</div></div>
</div>

<thy-divider thyText="Wrap"></thy-divider>
<div thyFlex thyDirection="row" thyGap="8" thyWrap="wrap">
  <div thyFlexItem><div class="light-blue">Item 1</div></div>
  <div thyFlexItem><div class="blue">Item 2</div></div>
  <div thyFlexItem><div class="light-blue">Item 3</div></div>
  <div thyFlexItem><div class="blue">Item 4</div></div>
  <div thyFlexItem><div class="light-blue">Item 5</div></div>
  <div thyFlexItem><div class="blue">Item 6</div></div>
</div>

<thy-divider thyText="Fill"></thy-divider>
<div thyFlex thyDirection="row" thyGap="8">
  <div thyFlexItem="fill"><div class="light-blue">Item - Fill</div></div>
  <div thyFlexItem><div class="blue">Item 2</div></div>
</div>

<thy-divider thyText="Custom Flex"></thy-divider>
<div thyFlex thyDirection="row" thyGap="8">
  <div thyFlexItem="1 0 auto"><div class="light-blue">Item - "1 0 auto"</div></div>
  <div thyFlexItem><div class="blue">Item 2</div></div>
</div>

<thy-divider thyText="Custom Grow"></thy-divider>
<div thyFlex thyDirection="row" thyGap="8">
  <div thyFlexItem thyGrow="1"><div class="light-blue">Item 1</div></div>
  <div thyFlexItem thyShift="1"><div class="blue">Item 2</div></div>
  <div thyFlexItem><div class="light-blue">Item 3</div></div>
</div>

<thy-divider thyText="Direction Column"></thy-divider>
<div thyFlex thyDirection="column" thyGap="8">
  <div thyFlexItem><div class="light-blue">Item 1</div></div>
  <div thyFlexItem><div class="blue">Item 2</div></div>
</div>
