<div style="width: 370px">
  <thy-segmented>
    <ng-container *ngFor="let item of items">
      <thy-segmented-item [thyValue]="item.value">
        <div style="padding: 8px 0px 4px;">
          <thy-avatar thySize="sm" [thyName]="item.avatar"></thy-avatar>
          <div>{{ item.labelText }}</div>
        </div>
      </thy-segmented-item>
    </ng-container>

    <thy-segmented-item thyValue="hexie">
      <div style="padding: 8px 0px 4px;">
        <thy-avatar thySize="sm" [thyName]="'HeXie'"></thy-avatar>
        <div>⭐️和谐⭐️</div>
      </div>
    </thy-segmented-item>
  </thy-segmented>
</div>
