<div class="mb-2">单选</div>
<thy-custom-select [(ngModel)]="selectedTaskType" thyPlaceHolder="请选择" style="width:500px;">
  <thy-option thyValue="" thyLabelText="空"></thy-option>
  <thy-option
    *ngFor="let option of optionData"
    thyShowOptionCustom="true"
    [thyRawValue]="option"
    [thyValue]="option.name"
    [thyLabelText]="option.display_name"
  >
    <span> <thy-icon [thyIconName]="option?.icon" class="text-primary font-size-md"></thy-icon> {{ option?.display_name }} </span>
  </thy-option>
  <ng-template #selectedDisplay let-value>
    <span *ngIf="!value">!!!空</span>
    <span class="text-truncate" *ngIf="value">
      <thy-icon [thyIconName]="value?.icon" class="text-primary font-size-md"></thy-icon>
      {{ value?.display_name }}
      <thy-icon thyIconName="question-circle" thyTooltip="这是一个Tooltip"></thy-icon
    ></span>
  </ng-template>
</thy-custom-select>
<div class="mt-2 mb-2">多选</div>
<thy-custom-select thyMode="multiple" thyPlaceHolder="请选择" style="width:500px;">
  <thy-option thyValue="" thyLabelText="空"></thy-option>
  <thy-option
    *ngFor="let option of optionData"
    thyShowOptionCustom="true"
    [thyRawValue]="option"
    [thyValue]="option.name"
    [thyLabelText]="option.display_name"
  >
    <span> <thy-icon [thyIconName]="option.icon" class="text-primary font-size-md"></thy-icon> {{ option?.display_name }} </span>
  </thy-option>
  <ng-template #selectedDisplay let-value>
    <span *ngIf="!value">!!!空</span>
    <span class="icon-text" *ngIf="value">
      <thy-icon [thyIconName]="value?.icon" class="text-primary font-size-md"></thy-icon>{{ value?.display_name }}</span
    >
  </ng-template>
</thy-custom-select>
