.showcase-section {
    margin: 20px 0;
    .showcase-section-header {
        padding-bottom: 10px;
        .title{
            font-size: 20px;
        }
        .meta{
            color: #888;
        }
    }
    .showcase-section-body {
        border: solid 1px #ddd;
        .showcase-section-body-example {
            padding: 20px;
            border-bottom: solid 1px #ddd
        }
        .showcase-section-body-usage {
            // padding: 20px;
            .showcase-section-body-usage-content{
                display: none;
            }
            .show-code{
                display: block;
            }
        }
    }
}
