<thy-grid [thyModel]="model" thyRowKey="id" thyMode="tree">
  <thy-grid-column thyModelKey="checked" thyType="checkbox" [thySelections]="selections" [thyWidth]="40"> </thy-grid-column>
  <thy-grid-column thyTitle="姓名" [thyExpand]="true">
    <ng-template #cell let-row>
      <span>{{ row?.name }}</span>
    </ng-template>
  </thy-grid-column>
  <thy-grid-column thyTitle="年龄" thyModelKey="age"></thy-grid-column>
  <thy-grid-column thyTitle="备注" thyModelKey="desc" thyDefaultText="-"></thy-grid-column>
</thy-grid>

<p>Tree 自由列</p>

<thy-grid [thyModel]="model" thyRowKey="id" thyMode="tree">
  <thy-grid-column thyModelKey="checked" thyType="checkbox" [thySelections]="selections" [thyWidth]="40"> </thy-grid-column>
  <thy-grid-column thyTitle="姓名">
    <ng-template #cell let-row>
      <span>{{ row?.name }}</span>
    </ng-template>
  </thy-grid-column>
  <thy-grid-column thyTitle="年龄" thyModelKey="age" [thyExpand]="true"></thy-grid-column>
  <thy-grid-column thyTitle="备注" thyModelKey="desc" thyDefaultText="-"></thy-grid-column>
</thy-grid>

<p>纯Tree</p>

<thy-grid [thyModel]="model" thyRowKey="id" thyMode="tree">
  <thy-grid-column thyTitle="姓名">
    <ng-template #cell let-row>
      <span>{{ row?.name }}</span>
    </ng-template>
  </thy-grid-column>
  <thy-grid-column thyTitle="年龄" thyModelKey="age"></thy-grid-column>
  <thy-grid-column thyTitle="备注" thyModelKey="desc" thyDefaultText="-"></thy-grid-column>
</thy-grid>
