<div class="demo-card1">
  <p class="text-primary">.text-primary</p>

  <p class="text-success">.text-success</p>
  <p class="text-danger">.text-danger</p>
  <p class="text-warning">.text-warning</p>
  <p class="text-secondary">.text-secondary #666</p>
  <p class="text-muted">.text-muted #888</p>
  <p class="text-desc">.text-desc #aaa</p>
  <p class="text-info">.text-info #2dbcff</p>
  <p class="text-placeholder">.text-placeholder #cacaca</p>
  <p class="text-light bg-dark">.text-light #ddd</p>
  <p class="text-body">.text-body</p>
  <p class="text-white bg-dark">.text-white</p>
</div>

<div>
  <p class="text-left">Left aligned text on all viewport sizes.</p>
  <p class="text-center">Center aligned text on all viewport sizes.</p>
  <p class="text-right">Right aligned text on all viewport sizes.</p>

  <p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.</p>
  <p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p>
  <p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.</p>
  <p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.</p>
</div>
