<thy-dialog-header [thyTitle]="title || 'Install Angular'" (thyOnClose)="close()"> </thy-dialog-header>
<thy-dialog-body class="thy-form">
  <form thyForm name="thyConfirm" thyLayout="vertical">
    <div class="form-group">
      <p class="text-body" [innerHTML]="content"></p>
    </div>
    <thy-form-group-footer [thyAlign]="footerAlign">
      <div class="thy-confirm-footer" [ngClass]="'thy-confirm-footer-' + footerAlign">
        <button [thyButton]="okType" (click)="confirm()" [thyLoading]="loading" [thyLoadingText]="okLoadingText">{{ okText }}</button>
        <button thyButton="link-secondary" (click)="close()" class="thy-confirm-cancel">{{ cancelText }}</button>
      </div>
    </thy-form-group-footer>
  </form>
</thy-dialog-body>
