@use "../../styles/variables";
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$image-preview-prefix-cls: 'thy-image-preview';

.#{$image-preview-prefix-cls}-container {
    .thy-dialog-container {
        background: none;
    }
    .#{$image-preview-prefix-cls}-wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        outline: 0;
    }
    .#{$image-preview-prefix-cls} {
        pointer-events: none;
        height: 100%;
        color: variables.$white;
        &-img-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: transform 0.3s $ease-out 0s;
            padding-top: 96px;
            .#{$image-preview-prefix-cls}-img {
                max-height: calc(100vh - 96px - 106px); // top: 96, bottom: 106
                max-width: calc(100% - 200px);
                margin: 0 auto;
                pointer-events: all;
                display: block;
                cursor: pointer;
                width: auto;
            }
        }

        &-operations {
            list-style: none;
            position: absolute;
            pointer-events: all;
            bottom: 0px;
            padding: 13px 18px;
            border-radius: 8px;
            background: rgba(variables.$black, 0.7);
            left: 50%;
            transform: translateX(-50%);
            .thy-divider.thy-divider-vertical {
                margin: 0 13px;
                border-color: variables.$gray-700;
            }
            .#{$image-preview-prefix-cls}-operation {
                list-style: none;
                display: inline;
                user-select: none;
                margin: 0 6px;
                cursor: pointer;
                &:first-child {
                    margin-left: 0;
                }
                &-divider.thy-divider.thy-divider-vertical {
                    margin-left: 20px;
                    margin-right: 8px;
                    border-color: variables.$gray-700;
                }
                .thy-icon-rotate-right {
                    font-size: 18px;
                }

                .thy-icon-nav-link {
                    display: inline;
                }
                &-zoom {
                    margin-left: 10px;
                }
            }
        }

        .#{$image-preview-prefix-cls}-operation-icon {
            width: 30px;
            height: 30px;
            display: inline-block;
            text-align: center;
            color: variables.$white;
            line-height: 30px;
            pointer-events: all;
            cursor: pointer;
            &:hover {
                background: rgba(variables.$white, 0.1);
                border-radius: variables.$input-border-radius-md;
            }
        }

        &-switch-left,
        &-switch-right {
            position: absolute;
            top: 50%;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            margin-top: -22px;
            background: variables.$gray-700;
            border-radius: 50%;
            cursor: pointer;
            pointer-events: auto;
            transition: all 0.3s;
            &:hover {
                background: variables.$gray-500;
            }

            &-disabled {
                cursor: not-allowed;
                > .thy-icon {
                    cursor: not-allowed;
                }
                &:hover {
                    background: variables.$gray-700;
                }
            }
        }

        &-switch-left {
            left: 40px;
        }

        &-switch-right {
            right: 40px;
        }

        &-moving {
            .thy-image-preview-img {
                cursor: grabbing;
            }
        }
    }

    .#{$image-preview-prefix-cls}-header {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 30px;
        z-index: 1;
        background: rgba(variables.$black, 0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        &-info {
            font-weight: 500;
            pointer-events: all;
            .thy-image-name {
                width: 580px;
                font-size: variables.$font-size-md;
                margin-bottom: 0;
            }
            .thy-image-size {
                font-size: variables.$font-size-sm;
                color: variables.$gray-500;
            }
        }
    }
}
.#{$image-preview-prefix-cls}-backdrop {
    background: rgba(variables.$black, 0.8);
}
