@mixin calendarLeftArrow {
    height: 100%;

    &::before,
    &::after {
        position: relative;
        top: -1px;
        display: inline-block;
        width: 8px;
        height: 8px;
        vertical-align: middle;
        border: 0 solid #aaa;
        border-width: 1.5px 0 0 1.5px;
        border-radius: 1px;
        transform: rotate(-45deg) scale(0.8);
        transition: all 0.3s;
        content: '';
    }

    &:hover::before,
    &:hover::after {
        border-color: $text-color;
    }

    &::after {
        display: none;
    }
}

@mixin calendarLeftDoubleArrow {
    @include calendarLeftArrow;

    &::after {
        position: relative;
        left: -3px;
        display: inline-block;
    }
}

@mixin calendarRightArrow {
    @include calendarLeftArrow;

    &::before,
    &::after {
        transform: rotate(135deg) scale(0.8);
    }
}

@mixin calendarRightDoubleArrow {
    @include calendarRightArrow;

    &::before {
        position: relative;
        left: 3px;
    }

    &::after {
        display: inline-block;
    }
}

@mixin calendarPanelHeader($calendar-prefix-cls) {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    user-select: none;
    border-bottom: 1px solid #e8e8e8;
    a {
        cursor: pointer;

        &:hover {
            color: $link-hover-color;
        }
    }

    .#{$calendar-prefix-cls}-century-select,
    .#{$calendar-prefix-cls}-decade-select,
    .#{$calendar-prefix-cls}-year-select,
    .#{$calendar-prefix-cls}-month-select {
        display: inline-block;
        padding: 0 2px;
        color: $heading-color;
        line-height: 40px;
    }

    .#{$calendar-prefix-cls}-prev-century-btn,
    .#{$calendar-prefix-cls}-next-century-btn,
    .#{$calendar-prefix-cls}-prev-decade-btn,
    .#{$calendar-prefix-cls}-next-decade-btn,
    .#{$calendar-prefix-cls}-prev-month-btn,
    .#{$calendar-prefix-cls}-next-month-btn,
    .#{$calendar-prefix-cls}-prev-year-btn,
    .#{$calendar-prefix-cls}-next-year-btn {
        position: absolute;
        top: 0;
        display: inline-block;
        padding: 0 5px;
        color: $secondary;
        font-size: 16px;
        font-family: Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'Microsoft Sans Serif', sans-serif;
        line-height: 40px;
    }

    .#{$calendar-prefix-cls}-prev-century-btn,
    .#{$calendar-prefix-cls}-prev-decade-btn,
    .#{$calendar-prefix-cls}-prev-year-btn {
        left: 8px;
        @include calendarLeftDoubleArrow;
    }

    .#{$calendar-prefix-cls}-next-century-btn,
    .#{$calendar-prefix-cls}-next-decade-btn,
    .#{$calendar-prefix-cls}-next-year-btn {
        right: 8px;
        @include calendarRightDoubleArrow;
    }

    .#{$calendar-prefix-cls}-prev-month-btn {
        left: 30px;
        @include calendarLeftArrow;
    }

    .#{$calendar-prefix-cls}-next-month-btn {
        right: 30px;
        @include calendarRightArrow;
    }
}

@mixin calendar-selected-cell {
    .#{$calendar-prefix-cls}-date {
        color: $white !important;
        background: $primary;
        border: $border-width-base $border-style-base transparent;

        &:hover {
            background: $primary;
        }
    }
}

// Placeholder text
@mixin placeholder($color: $input-placeholder-color) {
    // Firefox
    &::-moz-placeholder {
        color: $color;
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }
    // Internet Explorer 10+
    &:-ms-input-placeholder {
        color: $color;
    }
    // Safari and Chrome
    &::-webkit-input-placeholder {
        color: $color;
    }

    &:placeholder-shown {
        text-overflow: ellipsis;
    }
}
