@use "../../styles/bootstrap/variables" as bootstrap-variables;
@use "../../styles/variables";
@use "./variables.scss" as style;

.#{style.$calendar-prefix-cls}-picker-container {
    z-index: style.$zindex-picker;
}

.#{style.$calendar-prefix-cls}-picker {
    position: relative;
    display: inline-block;
    outline: none;
    transition: opacity 0.3s;
    width: 100%;
    cursor: pointer;
    .form-control {
        padding-right: variables.$input-padding-x + variables.$font-size-md;
    }

    &-input {
        outline: none;
        &:not(.thy-input-readonly) {
            cursor: pointer;
        }

        &.thy-input {
            line-height: variables.$line-height-base;
        }
    }

    &-input.thy-input-sm {
        padding-top: 0;
        padding-bottom: 0;
    }

    &-clear,
    &-icon {
        position: absolute;
        top: 50%;
        right: style.$control-padding-horizontal;
        z-index: 1;
        transition: all 0.3s;
        user-select: none;
        transform: translateY(-50%);
        display: inline-flex;
    }

    &-clear {
        z-index: 2;
        background: bootstrap-variables.$input-bg;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
    }

    &:hover &-clear {
        opacity: 1;
        pointer-events: auto;
    }

    &-icon {
        color: variables.$gray-400;
    }

    &-small &-clear,
    &-small &-icon {
        right: style.$control-padding-horizontal-sm;
    }
}

.thy-popover-container .#{style.$calendar-prefix-cls} {
    box-shadow: none;
}
