.#{$calendar-prefix-cls}-picker-container {
    z-index: $zindex-picker;
}

.#{$calendar-prefix-cls}-picker {
    position: relative;
    display: inline-block;
    outline: none;
    transition: opacity 0.3s;
    width: 100%;
    cursor: pointer;
    .form-control {
        padding-right: $input-padding-x + $font-size-md;
    }

    &:hover {
        .form-control {
            border-color: $primary;
        }
    }

    &-input {
        outline: none;
        &:not(.thy-input-readonly) {
            cursor: pointer;
        }

        &.thy-input {
            line-height: $line-height-base;
        }
    }

    &-input.thy-input-sm {
        padding-top: 0;
        padding-bottom: 0;
    }

    &-clear,
    &-icon {
        position: absolute;
        top: 50%;
        right: $control-padding-horizontal;
        z-index: 1;
        transition: all 0.3s;
        user-select: none;
        transform: translateY(-50%);
        display: inline-flex;
    }

    &-clear {
        z-index: 2;
        background: $input-bg;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
    }

    &:hover &-clear {
        opacity: 1;
        pointer-events: auto;
    }

    &-icon {
        color: $gray-400;
    }

    &-small &-clear,
    &-small &-icon {
        right: $control-padding-horizontal-sm;
    }
}

.thy-popover-container .#{$calendar-prefix-cls} {
    box-shadow: none;
}
