.timepicker-section {
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
    line-height: 50px;
    border-top: solid 1px $gray-200;

    timepicker {
        margin: 10px 0;
        line-height: 0;
    }

    .timepicker-wrap {
        .btn {
            padding: 0;
        }

        .bs-timepicker-field {
            padding: $input-padding-y-sm $input-padding-x-sm;
        }

        .bs-chevron {
            width: 7px;
            height: 7px;
            border-width: 2px 0px 0 2px;
            border-color: $gray-700;
        }
    }

    .timepicker-btn-wrap {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;

        .timepicker-ok-btn {
            padding-left: 15px;
            padding-right: 15px;
            min-width: auto;
        }

        .timepicker-clear-btn {
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 0;
        }
    }
}
