.thy-dialog-container {
    display: flex;
    flex-direction: column;
    border-radius: $dialog-border-radius;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;

    // The dialog container should completely fill its parent overlay element.
    width: 100%;
    height: 100%;
    // Since the dialog won't stretch to fit the parent, if the height
    // isn't set, we have to inherit the min and max values explicitly.
    min-height: inherit;
    max-height: inherit;
    background: $white;
}

// Dialog header
// Top section of the modal w/ title and dismiss
.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
    padding: 0 $dialog-header-padding;
    min-height: $dialog-header-height;
    height: $dialog-header-height;
    border-bottom: $dialog-header-border-width solid $dialog-header-border-color;
    @include border-top-radius($border-radius-lg);

    h3 {
        font-size: $font-size-md;
        font-weight: 500;
    }

    .close {
        outline: none;
        padding: 1rem $dialog-header-padding;
        margin: (-$dialog-header-padding) (-$dialog-header-padding) (-$dialog-header-padding) auto;
    }
}

// Title text within header
.dialog-title {
    margin-bottom: 0;
    line-height: $dialog-header-title-line-height;
}

.dialog-body {
    position: relative;
    flex: 1 1 auto;
    padding: $dialog-body-padding;
    display: block;
    -webkit-overflow-scrolling: touch;

    &.dialog-body-clear-padding {
        padding: 0;
    }
}

// Footer (for actions)
.dialog-footer {
    display: flex;
    justify-content: flex-start;
    border: 0;
    align-items: center; // vertically center
    padding: $dialog-footer-padding;

    &.dialog-footer-border-top {
        border-top: $dialog-footer-border-width solid $dialog-footer-border-color;
    }

    // Easily place margin between footer elements
    > :not(:first-child) {
        margin-left: 0.25rem;
    }
    > :not(:last-child) {
        margin-right: 0.25rem;
    }
}

// Measure scrollbar width for padding body during modal show/hide
.dialog-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

// Scale up the modal
@include media-breakpoint-up(sm) {
    // Automatically set dialog's width for larger view ports
    .dialog-md {
        width: $dialog-md;
        // margin: $modal-dialog-margin-y-sm-up auto;
    }

    .dialog-sm {
        width: $dialog-sm;
    }
}

@include media-breakpoint-up(lg) {
    .dialog-lg {
        width: $dialog-lg;
    }
    .dialog-max-lg {
        width: $dialog-max-lg;
    }
}

// expect supper-lg
.dialog-md,
.dialog-sm,
.dialog-lg,
.dialog-max-lg {
    max-height: $dialog-default-max-height;
}

// supper lg
.dialog-supper-lg {
    width: $dialog-supper-lg-width;
    height: $dialog-supper-lg-height;
    max-width: $dialog-supper-lg-max-width;
    max-height: $dialog-supper-lg-max-height;
}
