<thy-table [thyModel]="listOfData">
  @for (col of listOfData; track $index) {
    <thy-table-column [thyTitle]="col.title" [thyModelKey]="col.title" [thyWidth]="col.width">
      <ng-template #header let-row>
        <div
          class="th-content"
          thyResizable
          thyPreview
          [thyMaxWidth]="256"
          [thyMinWidth]="60"
          (thyResizeEnd)="onResize($event, col.title)"
          thyBounds="window">
          {{ col.title }}
          @if (col.width) {
            <thy-resize-handle thyDirection="right">
              <div class="resize-trigger"></div>
            </thy-resize-handle>
          }
        </div>
      </ng-template>
    </thy-table-column>
  }
</thy-table>
