@use '../../styles/variables';

.thy-select-custom {
    display: block;
    width: 100%;
    position: relative;
    outline: none;
    & .form-control-custom {
        cursor: variables.$hand-cursor;
    }
    & .form-control-custom.disabled {
        cursor: variables.$disabled-cursor;
    }
    &:focus {
        .form-control-custom:not(.disabled) {
            border: 1px solid variables.$primary;
        }
    }
}

.thy-select-custom--multiple {
    $has-value-margin-base: -0.03175rem;
    $has-value-margin-md: -0.2815rem;
    $thy-label-spacing: 0.3125rem;
    .multiple-value-wrapper {
        margin: {
            top: $has-value-margin-base;
            bottom: $has-value-margin-base - $thy-label-spacing;
            right: 15px;
        }
    }
}

.thy-select-empty-margin {
    // @deprecated please use the new class name 'thy-select-empty-content'
    margin: 40px auto;
}

.thy-select-empty-content {
    margin: 40px auto;
}
