@mixin select-arrow-variant() {
    content: "\e6b8"; //"\f078";
    font: normal normal normal 14px/1 wtf;
    position: absolute;
    right: 12px;
    font-size: $font-size-md;
    pointer-events: none;
    color: $gray-500;
    z-index: 10;
}

@mixin select-arrow-bottom($bottom) {
    &:after {
        bottom: $bottom;
    }
}