@mixin select-arrow-icon-font-variant() {
    content: '\e6b8'; //"\f078";
    font: normal normal normal 14px/1 wtf;
    right: 12px;
    font-size: $font-size-md;
    pointer-events: none;
    color: $gray-500;
    z-index: 10;
    @include absolute-vertical-align-middle(false);
}

@mixin select-arrow-variant() {
    right: 12px;
    font-size: $font-size-md;
    pointer-events: none;
    color: $gray-500;
    z-index: 10;
    @include absolute-vertical-align-middle(false);
}

@mixin select-custom-variant($padding-x, $padding-y, $height, $font-size) {
    padding: $padding-y $padding-x;
    height: $height;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius-md;
    font-size: $font-size;
    cursor: pointer;

    &:hover {
        border-color: $input-hover-border-color;
    }
}
