// select

select.form-control {
    &:not([size]):not([multiple]) {
        height: $input-height;
    }

    &:focus::-ms-value {
        // Suppress the nested default white text on blue background highlight given to
        // the selected option text when the (still closed) <select> receives focus
        // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
        // match the appearance of the native widget.
        // See https://github.com/twbs/bootstrap/issues/19398.
        color: $input-color;
        background-color: $input-bg;
    }
}

select.form-control-sm {
    &:not([size]):not([multiple]) {
        height: $input-height-sm;
    }
}

select.form-control-lg {
    &:not([size]):not([multiple]) {
        height: $input-height-lg;
    }
}

select.form-control-xs {
    &:not([size]):not([multiple]) {
        height: $input-height-xs;
    }
}

select.form-control-md {
    &:not([size]):not([multiple]) {
        height: $input-height-md;
    }
}

.thy-select {
    //   width: 100%;
    position: relative;
    display: block;

    &:after {
        @include select-arrow-variant();
    }

    &:hover {
        .thy-select-remove {
            visibility: visible;
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 30px;

        &:required {
            &:invalid {
                color: $input-form-check-border-color;
            }
        }
    }

    option[value=''][disabled] {
        display: none;
    }

    option {
        color: $input-color;
    }
}

.thy-select-custom {
    display: block;
    width: 100%;
    position: relative;
    &:after {
        transition: transform 200ms;
    }
    & .form-control-custom {
        cursor: pointer;
    }
    & .form-control-custom.disabled {
        cursor: default;
    }
    // 打开状态
    &.menu-is-opened {
        .form-control-custom {
            border-color: $input-hover-border-color;
        }
        &:after {
            transform: rotate(180deg);
        }
    }

    .form-control {
        .thy-label-default {
            color: $body-color !important;

            i.wtf-times {
                color: $info;
            }
        }
        &.disabled {
            i.wtf-times {
                cursor: default;
            }
        }
    }

    .thy-select-selection {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 50px;
    }
}

.thy-select-container-wrapper {
    position: absolute;
    width: 100%;
    z-index: 100;
    display: block;
}

.thy-select-search {
    padding: 10px 20px 0;
}

.thy-select-container {
    width: 100%;
    // position: absolute;
    display: block;
    margin-top: 4px;
    top: $input-height;
    left: 0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.14);
    border-radius: 0 0 4px 4px;
    z-index: 99;
    background: $white;
    & .trgger-top-leave-block {
        width: 100%;
        height: 44px;
        position: absolute;
        top: -44px;
    }
    & .trgger-bottom-leave-block {
        width: 100%;
        height: 44px;
        position: absolute;
        bottom: -44px;
    }
}

.thy-select-custom-options {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px 0;

    .thy-option-item-group {
        @include thy-option-common-layout();
    }

    .thy-option-item {
        @include thy-option();
        .checked-icon {
            visibility: hidden;
        }
        &.hidden {
            display: none;
        }
        // height: 40px;
        // color: $secondary;
        // cursor: pointer;
        // padding: {
        //   left: 20px;
        //   right: 20px;
        // }
        // &:hover {
        //   box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.08);
        //   color: $body-color;
        // }
        // &:not(.disabled).active {
        //   background: rgba($primary, .1);
        //   color: $primary;
        // }
        // &.disabled {
        //   background: none;
        //   color: $gray-400;
        //   cursor: default; //not-allowed;
        // }
        // .checked-icon {
        //   visibility: hidden;
        // }
    }

    .thy-option-item-group {
        &.thy-select-option-group-hidden {
            display: none;
        }
        flex-direction: column;
        .group-name {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            font-size: $font-size-sm;
            padding: {
                left: 10px;
                right: 10px;
            }
        }
        .thy-option-item {
            padding: {
                left: 20px;
                right: 20px;
            }
        }
    }
}

.thy-select-remove {
    visibility: hidden;
    position: absolute;
    right: 32px;
    top: 50%;
    margin-top: -11px;
    font-size: $font-size-base;
    z-index: 10;
}

.thy-select-custom--multiple {
    $has-value-margin-base: -0.03175rem;
    $has-value-margin-md: -0.2815rem;
    $thy-label-spacing: 0.3125rem;
    .multiple-value-wrapper {
        margin: {
            top: $has-value-margin-base;
            bottom: $has-value-margin-base - $thy-label-spacing;
            right: 15px;
        }
        .thy-label {
            margin-bottom: $thy-label-spacing;
        }
    }

    .thy-select-custom-options {
        .thy-option-item {
            @include thy-multiple-option();
            // &:hover {
            //   .checked-icon {
            //     visibility: visible;
            //   }
            // }
            // &:not(.disabled).active {
            //   background: none;
            //   color: $body-color;
            //   .checked-icon {
            //     visibility: visible;
            //     color: $primary !important;
            //   }
            // }
        }
    }
}
