@use '../../styles/variables';

.thy-guider-tip-container {
    width: 310px;
    display: block;
    .thy-guider-tip-top {
        background-color: variables.$primary;
        width: 100%;
        height: 190px;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            min-height: 100%;
            display: block;
        }
        &-btn {
            color: rgba(variables.$white, 0.8);
            font-size: 12px;
            position: absolute;
            right: 20px;
            top: 14px;
            background-color: rgba(0, 0, 0, 0);
            &:hover {
                color: rgba(variables.$white, 1);
                text-decoration: none;
            }
        }
    }

    .thy-guider-tip-content {
        padding: 30px 30px 0;
        height: 250px;
        box-sizing: border-box;
        flex-direction: column;
        display: flex;
        font-size: 14px;
        color: variables.$gray-700;
        letter-spacing: 0;
        line-height: 26px;
        &-title {
            font-size: 16px;
            color: variables.$gray-800;
            margin-bottom: 12px;
        }
        &-description {
            flex: 1;
            overflow-y: auto;
            scrollbar-width: none; /* firefox */
            -ms-overflow-style: none; /* IE 10+ */
            &::-webkit-scrollbar {
                display: none; /* Chrome Safari */
            }
        }
        .thy-guider-tip-step {
            display: flex;
            justify-content: space-between;
            height: 36px;
            line-height: 36px;
            margin-bottom: 16px;
            margin-top: 10px;
            &-pagination {
                line-height: 34px;
                .pagination-item {
                    width: 3px;
                    height: 3px;
                    display: inline-block;
                    border-radius: 50%;
                    background-color: rgba(variables.$primary, 0.4);
                    margin: 2px 4px;
                    box-sizing: border-box;
                    &.active {
                        border: 2px solid variables.$primary;
                        background-color: variables.$white;
                        width: 7px;
                        height: 7px;
                        margin: 0 4px;
                    }
                }
            }
            a {
                font-size: 12px;
                &:hover {
                    text-decoration: none;
                }
            }
            &-pre {
                margin-right: 30px;
                color: variables.$gray-500;
                &:hover {
                    color: variables.$gray-700;
                }
            }
            &-next {
                margin-right: 10px;
                color: rgba(variables.$primary, 0.8);
                &:hover {
                    color: variables.$primary;
                }
            }
        }
    }
}
