.thy-guider-highlight-container {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: $primary;
    border-radius: 50%;

    &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: 16px;
        height: 16px;
        border: 1px solid $primary;
        border-radius: 50%;
        animation-name: highlightPulse;
        animation-timing-function: cubic-bezier(0, 0.42, 0.26, 0.96);
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

@keyframes highlightPulse {
    0% {
        width: 16px;
        height: 16px;
    }
    50% {
        width: 28px;
        height: 28px;
    }
    100% {
        width: 16px;
        height: 16px;
    }
}
