.thy-guider-hint-container {
    width: 310px;
    display: block;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.5);
    .thy-guider-hint-top {
        background-color: $primary;
        width: 100%;
        height: 190px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
        &-btn {
            color: $white;
            font-size: 12px;
            position: absolute;
            right: 16px;
            top: 10px;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            &:focus {
                outline: hidden !important;
            }
        }
    }

    .thy-guider-hint-content {
        padding: 30px 30px 0;
        height: 250px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        &-title {
            font-size: 16px;
            color: $gray-800;
            margin-bottom: 12px;
        }

        font-size: 14px;
        color: $gray-700;
        letter-spacing: 0;
        line-height: 26px;
        &-description {
            flex: 1;
            overflow-y: scroll;
        }
        .thy-guider-hint-step {
            display: flex;
            justify-content: space-between;
            height: 36px;
            margin-bottom: 20px;
            margin-top: 10px;
            &-pagination {
                line-height: 36px;
                .pagination-item {
                    width: 3px;
                    height: 3px;
                    display: inline-block;
                    border-radius: 50%;
                    background-color: rgba($primary, 0.4);
                    margin: 2px 4px;
                    box-sizing: border-box;
                    &.active {
                        border: 2px solid $primary;
                        background-color: #fff;
                        width: 7px;
                        height: 7px;
                        margin: 0 4px;
                    }
                }
            }
            &-pre,
            &-next {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
