<thy-button-group thySize="sm" thyType="outline-default">
  @for (item of sizes; track item) {
    <button thyButton (click)="size = item.value" [ngClass]="{ active: size === item.value }">
      {{ item.value }}（{{ item.height }}px）
    </button>
  }
</thy-button-group>

<thy-tabs [thySize]="size">
  <thy-tab thyTitle="Tab1">Tab1 Content</thy-tab>
  <thy-tab thyTitle="Tab2">Tab2 Content</thy-tab>
  <thy-tab thyTitle="Tab3">Tab3 Content</thy-tab>
</thy-tabs>

<thy-tabs thyType="pills" [thySize]="size">
  <thy-tab thyTitle="Tab1">Tab1 Content</thy-tab>
  <thy-tab thyTitle="Tab2">Tab2 Content</thy-tab>
  <thy-tab thyTitle="Tab3">Tab3 Content</thy-tab>
</thy-tabs>
