@if (thyTheme() === 'lite') {
  <div class="switcher-wrapper">
    <a
      thyAction
      [thyTooltip]="previousTooltip()"
      href="javascript:;"
      [thyDisabled]="previousDisabled()"
      class="mr-2"
      (click)="onPreviousClick($event)"
      ><thy-icon thyIconName="angle-up"></thy-icon
    ></a>
    <a thyAction [thyTooltip]="nextTooltip()" href="javascript:;" [thyDisabled]="nextDisabled()" (click)="onNextClick($event)"
      ><thy-icon thyIconName="angle-down"></thy-icon
    ></a>
  </div>
} @else {
  <div class="switcher-wrapper">
    <button
      thyButtonIcon="angle-left"
      [thyTooltip]="previousTooltip()"
      [disabled]="previousDisabled()"
      (click)="onPreviousClick($event)"></button>
    <span>{{ index() + 1 }} / {{ thyTotal() }}</span>
    <button thyButtonIcon="angle-right" [thyTooltip]="nextTooltip()" [disabled]="nextDisabled()" (click)="onNextClick($event)"></button>
  </div>
}
