<div>
  <div class="mb-2">单选选择框禁用：</div>
  <thy-select ngModel="option1" [thyDisabled]="true">
    <thy-option *ngFor="let option of listOfOption" [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
  </thy-select>

  <div class="mb-2">多选选择框禁用：</div>
  <thy-select ngModel="option1" thyMode="multiple" [thyDisabled]="true" [(ngModel)]="listOfSelectedValue">
    <thy-option *ngFor="let option of listOfOption" [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
  </thy-select>

  <div class="mb-2">单选下拉选项禁用：</div>
  <thy-select ngModel="option1">
    <thy-option
      *ngFor="let option of listOfOption; let i = index"
      [thyDisabled]="i % 2 !== 0"
      [thyValue]="option.value"
      [thyLabelText]="option.text">
    </thy-option>
  </thy-select>

  <div class="mb-2">多选下拉选项禁用：</div>
  <thy-select ngModel="option1" thyMode="multiple" [(ngModel)]="listOfSelectedValue">
    <thy-option
      *ngFor="let option of listOfOption; let i = index"
      [thyDisabled]="i % 2 !== 0"
      [thyValue]="option.value"
      [thyLabelText]="option.text">
    </thy-option>
  </thy-select>
</div>
