<div class="thy-menu-group-header" (click)="collapseGroup()">
  <thy-icon thyIconName="caret-right-down" class="thy-menu-group-arrow"></thy-icon>
  <thy-icon *ngIf="showIcon" class="thy-menu-group-folder" [thyIconName]="iconClass"></thy-icon>
  <span class="thy-menu-group-title" [title]="thyTitle">{{ thyTitle }}</span>
  <thy-icon
    *ngIf="thyShowAction"
    class="thy-menu-group-more"
    [thyIconName]="rightIconClass"
    (click)="onActionClick($event)"
  ></thy-icon>
</div>
<div class="thy-menu-group-body" #thyMenuGroup [@detailsContentAnimation]="isCollapsed">
  <ng-content></ng-content>
</div>
