<div class="thy-menu-group-header" [ngClass]="{ 'thy-menu-group-collapsible': thyCollapsible }" (click)="collapseGroup()">
  <div class="thy-menu-group-header-content">
    <ng-template *ngIf="headerContentTemplateRef; else defaultTitle" [ngTemplateOutlet]="headerContentTemplateRef"></ng-template>
    <ng-template #defaultTitle>
      <span class="thy-menu-group-title">
        <thy-icon *ngIf="showIcon" class="thy-menu-group-folder" [thyIconName]="iconClass"></thy-icon>
        <ng-container>{{ thyTitle }}</ng-container>
      </span>
    </ng-template>
  </div>
  <a
    *ngIf="thyShowAction"
    thyAction
    thyTooltip="更多"
    thyStopPropagation
    href="javascript:;"
    class="thy-menu-group-operation"
    [thyActionIcon]="rightIconClass"
    (click)="onActionClick($event)"
  ></a>

  <thy-icon thyIconName="angle-up" *ngIf="thyCollapsible" class="thy-menu-group-arrow"></thy-icon>
</div>
<div class="thy-menu-group-body" #thyMenuGroup [@detailsContentAnimation]="isCollapsed">
  <ng-content></ng-content>
</div>
