<div class="demo-card demo-buttons">
  <h3 class="mt-4">SVG 图标按钮</h3>
  <div class="mt-2">
    <button thyButtonIcon="plus-bold" thySize="xs" thyActive="true"></button>
    <button thyButtonIcon="plus-bold" thySize="sm"></button>
    <button thyButtonIcon="plus-bold"></button>
    <button thyButtonIcon="plus-bold" thySize="lg"></button>
    <br />
    <a thyButtonIcon="application-add" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="application-add" href="javascript:;"></a>
    <a thyButtonIcon="application-add" href="javascript:;" thySize="lg"></a>

    <br />
    <a thyButtonIcon="application-add" thyLight="" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyLight="" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyLight="" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyLight="" href="javascript:;" thySize="lg"></a>

    <br />
    <a thyButtonIcon="application-add" thyTheme="danger-weak" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyTheme="danger-weak" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyTheme="danger-weak" href="javascript:;"></a>
    <a thyButtonIcon="application-add" thyTheme="danger-weak" href="javascript:;" thySize="lg"></a>

    <br />
    <button thyButtonIcon="plus-bold" thyShape="circle-dashed" thySize="xs"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-dashed" thySize="sm"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-dashed"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-dashed" class="invalid"></button>
    <br />
    <button thyButtonIcon="plus-bold" thyShape="circle-solid" thySize="xs"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-solid" thySize="sm"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-solid"></button>
    <button thyButtonIcon="plus-bold" thyShape="circle-solid" class="invalid"></button>
    <br />
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed" thySize="xs"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed" thySize="sm"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-dashed" class="invalid"></button>
    <br />
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-solid" thySize="xs"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-solid" thySize="sm"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-solid"></button>
    <button thyButtonIcon="user-add-bold" thyShape="circle-thick-solid" class="invalid"></button>
    <br />
    <button thyButtonIcon="calendar" thyShape="circle-dashed">
      <span>截止时间</span>
    </button>
    <br />
  </div>
  <h3 class="mt-4">字体图标按钮，兼容之前的 wtf 字体，请使用上面的 SVG 图标</h3>
  <div class="mt-2">
    <button thyButtonIcon="wtf-th-plus" thySize="xs" thyActive="true"></button>
    <button thyButtonIcon="wtf-th-plus" thySize="sm"></button>
    <button thyButtonIcon="wtf-th-plus"></button>
    <button thyButtonIcon="wtf-th-plus" thySize="lg"></button>
    <br />
    <a thyButtonIcon="wtf-project-add-o" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" href="javascript:;" thySize="lg"></a>

    <br />
    <a thyButtonIcon="wtf-project-add-o" thyLight="" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyLight="" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyLight="" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyLight="" href="javascript:;" thySize="lg"></a>

    <br />
    <a thyButtonIcon="wtf-project-add-o" thyTheme="danger-weak" thySize="xs" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyTheme="danger-weak" thySize="sm" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyTheme="danger-weak" href="javascript:;"></a>
    <a thyButtonIcon="wtf-project-add-o" thyTheme="danger-weak" href="javascript:;" thySize="lg"></a>

    <br />
    <button thyButtonIcon="wtf-th-plus" thyShape="circle-dashed" thySize="xs"></button>
    <button thyButtonIcon="wtf-th-plus" thyShape="circle-dashed" thySize="sm"></button>
    <button thyButtonIcon="wtf-th-plus" thyShape="circle-dashed"></button>
    <button thyButtonIcon="wtf-th-plus" thyShape="circle-dashed" class="invalid"></button>
    <br />
    <button thyButtonIcon="wtf-plus" thyShape="circle-solid" thySize="xs"></button>
    <button thyButtonIcon="wtf-plus" thyShape="circle-solid" thySize="sm"></button>
    <button thyButtonIcon="wtf-plus" thyShape="circle-solid"></button>
    <button thyButtonIcon="wtf-plus" thyShape="circle-solid" class="invalid"></button>
    <br />
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-dashed" thyColor="#5DCFFF" thySize="xs"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-dashed" thyColor="#5DCFFF" thySize="sm"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-dashed"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-dashed" class="invalid"></button>
    <br />
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-solid" thySize="xs"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-solid" thySize="sm"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-solid"></button>
    <button thyButtonIcon="wtf-user-add-th-o" thyShape="circle-thick-solid" class="invalid"></button>
    <br />
    <button thyButtonIcon="wtf-begin-date" thyShape="circle-dashed">
      <span>截止时间</span>
    </button>
    <br />
  </div>
</div>
