<div class="custom-basic-container">
  <thy-custom-select ngModel="a10">
    <thy-option *ngFor="let option of listOfOption" [thyValue]="option.value" [thyLabelText]="option.label"> </thy-option>
  </thy-custom-select>
  <thy-custom-select ngModel="a10" [thyDisabled]="true">
    <thy-option *ngFor="let option of listOfOption" [thyValue]="option.value" [thyLabelText]="option.label"> </thy-option>
  </thy-custom-select>
  <thy-custom-select ngModel="a10" [thyAllowClear]="true" [thyPlaceHolder]="'请选择'">
    <thy-option *ngFor="let option of listOfOption" [thyValue]="option.value" [thyLabelText]="option.label"> </thy-option>
  </thy-custom-select>
</div>
