<section>
    <div class="header">
        <h2>默认Grid</h2>
    </div>
    <div class="body">
        <thy-grid [thyModel]="data$ | async" thyClassName="table-hover" (thyOnMultiSelectChange)="onMultiSelectChange($event)" [thyPageIndex]="pagination.index"
            [thyPageSize]="pagination.size" [thyPageTotal]="pagination.total" (thyOnPageChange)="onPageChange($event)">
            <thy-grid-column thyTitle="选择" thyModelKey="checked" thyType="checkbox"></thy-grid-column>
            <thy-grid-column thyTitle="姓名" thyModelKey="name"></thy-grid-column>
            <thy-grid-column thyTitle="年龄" thyModelKey="age"></thy-grid-column>
            <thy-grid-column thyTitle="备注" thyModelKey="desc"></thy-grid-column>
            <thy-grid-column thyTitle="操作" thyClassName="thy-operation-links">
                <ng-template let-row>
                    <a href="javascript:;">设置</a>
                    <a class="link-secondary" href="javascript:;">
                        <i class="wtf wtf-trash-o"></i>
                    </a>
                </ng-template>
            </thy-grid-column>
        </thy-grid>
    </div>
</section>

<section>
    <div class="header">
        <h2>Bordered Grid</h2>
    </div>
    <div class="body">
        <thy-grid [thyModel]='data' thyTheme="bordered" className="table-hover" (thyOnRadioSelectChange)="onRadioSelectChange($event)">
            <thy-grid-column thyTitle="选择" thyModelKey="checked" thyType="radio"></thy-grid-column>
            <thy-grid-column thyTitle="姓名" thyModelKey="name"></thy-grid-column>
            <thy-grid-column thyTitle="年龄" thyModelKey="age"></thy-grid-column>
            <thy-grid-column thyTitle="备注" thyModelKey="desc"></thy-grid-column>
            <thy-grid-column thyTitle="操作" thyClassName="thy-operation-links text-center">
                <ng-template let-row>
                    <a href="javascript:;">设置</a>
                    <a class="link-secondary" href="javascript:;">
                        <i class="wtf wtf-trash-o"></i>
                    </a>
                </ng-template>
            </thy-grid-column>
        </thy-grid>
    </div>
</section>