@for (appearance of appearances; track appearance) {
  <div [class.mt-3]="$index > 0">
    <div class="mb-2 text-muted">{{ appearance }}</div>
    <thy-space>
      @for (type of types; track type.value) {
        <button *thySpaceItem [thyButton]="type.value" [thyAppearance]="appearance" disabled>{{ type.label }}</button>
      }
    </thy-space>
  </div>
}

<div class="mt-4">
  <thy-space>
    <thy-button *thySpaceItem thyButton="primary" thyDisabled>Primary</thy-button>
    <thy-button *thySpaceItem thyButton="primary" thyAppearance="outline" thyDisabled>Outline</thy-button>
    <thy-button *thySpaceItem thyButton="default" thyAppearance="link" thyDisabled>Link</thy-button>
  </thy-space>
</div>
