<thy-properties>
  <thy-property-item thyLabelText="姓名">
    张萌
  </thy-property-item>
  <thy-property-item thyLabelText="年龄">24</thy-property-item>
  <thy-property-item thyLabelText="电话" *ngIf="isShow">18500010001</thy-property-item>
  <thy-property-item *ngIf="isShow">
    <ng-template #label>
      爱好🏸
    </ng-template>
    <thy-tag class="mr-1" thyShape="pill" thyColor="success" *ngIf="isShow">羽毛球</thy-tag>
    <thy-tag class="mr-1" thyShape="pill" thyColor="success" *ngIf="isShow">跑步</thy-tag>
    <thy-tag class="mr-1" thyShape="pill" thyColor="success" *ngIf="isShow">撸铁</thy-tag>
  </thy-property-item>
  <thy-property-item thyLabelText="居住地址" *ngIf="isShow">北京市朝阳区十八里店小区26号10001</thy-property-item>
</thy-properties>
