<div class="thy-alert-content">
  @if (icon()) {
    <thy-icon class="thy-alert-icon" [thyIconName]="icon()"></thy-icon>
  }
  @if (thyTheme() === 'naked') {
    <span class="thy-alert-tips">Tips： </span>
  }
  @if (messageIsTemplate()) {
    <ng-template *ngTemplateOutlet="thyMessage()"></ng-template>
  } @else if (thyMessage()) {
    <span>{{ thyMessage() }}</span>
  }
  @if (alertOperation()) {
    <div class="thy-alert-operation">
      <ng-container [ngTemplateOutlet]="alertOperation()"></ng-container>
    </div>
  }
</div>
@if (thyCloseable()) {
  <a href="javascript:;" class="thy-alert-close" (click)="closeAlert()">
    <thy-icon thyIconName="close"></thy-icon>
  </a>
}
