@use "../../../styles/variables";
@use "../../select/select.mixin";
@use "option.mixin";

.thy-select-dropdown-options {
    @include select.thy-select-options-container();

    .loading-more {
        min-height: auto;
        text-align: center;
    }

    .thy-option-item-group {
        @include option.thy-option-common-layout();
    }

    .thy-option-item {
        @include option.thy-option();
        &.hidden {
            display: none;
        }
    }

    .thy-option-item-group {
        @include option.thy-option-item-group();
    }
}
.thy-select-dropdown {
    @include select.thy-select-options-dropdown();
    &.thy-select-dropdown-multiple {
        .thy-select-dropdown-options {
            .thy-option-item {
                @include option.thy-multiple-option();
            }
        }
    }

    &.thy-select-dropdown-single {
        .thy-select-dropdown-options {
            .thy-option-item {
                .checked-icon {
                    display: none;
                }
            }
        }
    }
    .thy-custom-select-footer {
        display: flex;
        height: 41px;
        line-height: 40px;
        color: variables.$primary;
        cursor: pointer;
        border-top: solid 1px variables.$gray-200;
        padding: {
            left: 20px;
            right: 20px;
        }
        &:hover {
            background-color: variables.$gray-80;
        }
    }
}
