@use '../../../styles/variables';
@use '../../select/styles/select.mixin';
@use 'option.mixin';

$optionSize: 'sm', 'default', 'md', 'lg';
$optionHeight: (
    'sm': 32px,
    'md': 36px,
    'default': 40px,
    'lg': 48px
);
$avatarHeight: (
    'sm': variables.$select-control-height-sm,
    'md': variables.$select-control-height-md,
    'default': variables.$select-control-height-default,
    'lg': variables.$select-control-height-lg
);

@mixin thy-option-size($size) {
    min-height: map-get($map: $optionHeight, $key: $size);
    .thy-avatar {
        display: inline-flex;
        & > img,
        & > .avatar-default {
            width: map-get($map: $avatarHeight, $key: $size);
            height: map-get($map: $avatarHeight, $key: $size);
            line-height: map-get($map: $avatarHeight, $key: $size);
        }
    }
}

.thy-select-dropdown-options {
    @include select.thy-select-options-container();

    .loading-more {
        min-height: auto;
        text-align: center;
    }

    .thy-option-item-group {
        @include option.thy-option-common-layout();
    }

    .thy-option-item {
        @include option.thy-option();
        &.hidden {
            display: none;
        }
        @each $size in $optionSize {
            @if ($size == 'default') {
                @include thy-option-size('default');
            } @else {
                &-#{$size} {
                    @include thy-option-size($size);
                }
            }
        }
    }

    .thy-option-item-group {
        &.thy-select-option-group-hidden {
            display: none;
        }
        flex-direction: column;
        .group-name {
            width: 100%;
            height: 30px;
            line-height: 30px;
            color: variables.$gray-600;
            padding: {
                left: 20px;
                right: 20px;
            }
        }
        .thy-option-item {
            padding: {
                left: 20px;
                right: 20px;
            }
        }
    }
}
.thy-select-dropdown {
    @include select.thy-select-dropdown();
    &.thy-select-dropdown-multiple {
        .thy-select-dropdown-options {
            .thy-option-item {
                @include option.thy-multiple-option();
            }
        }
    }

    &.thy-select-dropdown-single {
        .thy-select-dropdown-options {
            .thy-option-item {
                .checked-icon {
                    display: none;
                }
            }
        }
    }
    .thy-custom-select-footer {
        display: flex;
        height: 41px;
        line-height: 40px;
        color: variables.$primary;
        cursor: variables.$hand-cursor;
        border-top: solid 1px variables.$gray-200;
        padding: {
            left: 20px;
            right: 20px;
        }
        &:hover {
            background-color: variables.$gray-80;
        }
    }
}
