<section>
    <div class="header"><h2>toc导航</h2></div>
    <div class="body">
        <div class="thy-menu-demo">
            <thy-menu>
                <thy-menu-group thyTitle="工作" [thyExpand]="true" [thyShowAction]="true" [thyActionMenu]="menu1">
                    <a thyMenuItem href="javascript:;">
                        <i thyMenuItemIcon class="wtf wtf-my"></i> <span thyMenuItemName> 我的工作 </span>
                        <i thyMenuItemAction class="wtf wtf-more-lg"></i>
                    </a>

                    <a thyMenuItem class="active" href="javascript:;">
                        <i thyMenuItemIcon class="wtf wtf-analytic-insight"></i> <span thyMenuItemName> 统计报表 </span>
                        <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                    </a>

                    <a thyMenuItem href="javascript:;">
                        <i thyMenuItemIcon class="wtf wtf-work-workload"></i> <span thyMenuItemName> 工时视图 </span>
                        <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                    </a>
                    <a thyMenuItem href="javascript:;">
                        <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 时间视图 </span>
                        <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                    </a>
                    <thy-menu-group thyTitle="工作" [thyShowAction]="true" [thyShowIcon]="true" [thyActionMenu]="menu1">
                        <a thyMenuItem href="javascript:;">
                            <i thyMenuItemIcon class="wtf wtf-my"></i> <span thyMenuItemName> 我的工作 </span>
                            <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                        </a>

                        <a thyMenuItem class="active" href="javascript:;">
                            <i thyMenuItemIcon class="wtf wtf-analytic-insight"></i> <span thyMenuItemName> 统计报表 </span>
                            <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                        </a>

                        <thy-menu-group thyTitle="工作" [thyShowAction]="true" [thyActionMenu]="menu1">
                            <a thyMenuItem href="javascript:;">
                                <i thyMenuItemIcon class="wtf wtf-my"></i> <span thyMenuItemName> 我的工作 </span>
                                <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                            </a>

                            <a thyMenuItem class="active" href="javascript:;">
                                <i thyMenuItemIcon class="wtf wtf-analytic-insight"></i> <span thyMenuItemName> 统计报表 </span>
                                <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                            </a>

                            <a thyMenuItem href="javascript:;">
                                <i thyMenuItemIcon class="wtf wtf-work-workload"></i> <span thyMenuItemName> 工时视图 </span>
                                <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                            </a>
                            <a thyMenuItem href="javascript:;">
                                <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 时间视图 </span>
                                <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                            </a>
                            <thy-menu-group thyTitle="工作1" [thyShowAction]="true" [thyActionMenu]="menu1">
                                <a thyMenuItem href="javascript:;">
                                    <i thyMenuItemIcon class="wtf wtf-my"></i> <span thyMenuItemName> 我的工作 </span>
                                    <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                                </a>

                                <a thyMenuItem class="active" href="javascript:;">
                                    <i thyMenuItemIcon class="wtf wtf-analytic-insight"></i> <span thyMenuItemName> 统计报表 </span>
                                    <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                                </a>

                                <a thyMenuItem href="javascript:;">
                                    <i thyMenuItemIcon class="wtf wtf-work-workload"></i> <span thyMenuItemName> 工时视图 </span>
                                    <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                                </a>
                                <a thyMenuItem href="javascript:;">
                                    <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 时间视图 </span>
                                    <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                                </a>
                                <thy-menu-group thyTitle="工作" [thyShowAction]="true" [thyActionMenu]="menu1">
                                    <a thyMenuItem href="javascript:;">
                                        <i thyMenuItemIcon class="wtf wtf-my"></i> <span thyMenuItemName> 我的工作 </span>
                                        <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                                    </a>

                                    <a thyMenuItem class="active" href="javascript:;">
                                        <i thyMenuItemIcon class="wtf wtf-analytic-insight"></i> <span thyMenuItemName> 统计报表 </span>
                                        <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                                    </a>

                                    <a thyMenuItem href="javascript:;">
                                        <i thyMenuItemIcon class="wtf wtf-work-workload"></i> <span thyMenuItemName> 工时视图 </span>
                                        <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                                    </a>
                                    <a thyMenuItem href="javascript:;">
                                        <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 时间视图 </span>
                                        <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                                    </a>
                                </thy-menu-group>
                            </thy-menu-group>
                        </thy-menu-group>

                        <a thyMenuItem href="javascript:;">
                            <i thyMenuItemIcon class="wtf wtf-work-workload"></i> <span thyMenuItemName> 工时视图 </span>
                            <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                        </a>
                        <a thyMenuItem href="javascript:;">
                            <i thyMenuItemIcon class="wtf wtf-work-timeline"></i> <span thyMenuItemName> 时间视图 </span>
                            <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                        </a>
                    </thy-menu-group>
                </thy-menu-group>

                <thy-menu-group thyTitle="项目" [thyExpand]="true" [thyShowAction]="true" (thyActionClick)="popMenu($event)"></thy-menu-group>

                <thy-menu-divider></thy-menu-divider>

                <a thyMenuItem href="javascript:;">
                    <i thyMenuItemIcon class="wtf wtf-setting-o"></i> <span thyMenuItemName> 配置中心 </span>
                    <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                </a>
                <a thyMenuItem href="javascript:;">
                    <i thyMenuItemIcon class="wtf wtf-trash-o"></i> <span thyMenuItemName> 回收站 </span>
                </a>
            </thy-menu>
            <ng-template #menu1>
                <thy-action-menu>
                    <a thyActionMenuItem thyDisabled="true" thyActionMenuItemActive="true" href="javascript:;">
                        <span thyActionMenuItemIcon> <i class="wtf wtf-task-o"></i> </span> <span thyActionMenuItemName>有图标</span>
                    </a>
                </thy-action-menu>
            </ng-template>
        </div>
    </div>
</section>

<section>
    <div class="header"><h2>toc导航 自定义右侧图标、事件、图标颜色</h2></div>
    <div class="body">
        <div class="thy-menu-demo">
            <thy-menu>
                <thy-menu-group
                    thyTitle="工作"
                    [thyExpand]="true"
                    [thyShowAction]="true"
                    [thyActionIcon]="'wtf wtf-my'"
                    (thyActionClick)="moreAction()"
                    [thyShowIcon]="true"
                    [thyIcon]="'wtf wtf-my'"
                >
                    <a thyMenuItem thyColor="'#aaa'">
                        <i thyMenuItemIcon class="wtf wtf-my"></i> <span thyMenuItemName> 我的工作 </span>
                        <i thyMenuItemAction [thyActionMenu]="menu1" class="wtf wtf-more-lg"></i>
                    </a>
                </thy-menu-group>

                <a thyMenuItem thyColor="'#aaa'">
                    <i thyMenuItemIcon class="wtf wtf-setting-o"></i> <span thyMenuItemName> 配置中心 </span>
                </a>
            </thy-menu>
            <ng-template #menu2>
                <thy-action-menu>
                    <a thyActionMenuItem thyDisabled="true" thyActionMenuItemActive="true" href="javascript:;">
                        <span thyActionMenuItemIcon> <i class="wtf wtf-task-o"></i> </span> <span thyActionMenuItemName>有图标</span>
                    </a>
                </thy-action-menu>
            </ng-template>
        </div>
    </div>
</section>

<api-parameters [parameters]="apiThyMenuGroupParameters" title="thyMenuGroup 参数"></api-parameters>
<api-parameters [parameters]="apiThyMenuItemIconParameters" title="thyMenuItemIcon 参数"></api-parameters>
<api-parameters [parameters]="apiThyMenuItemActionParameters" title="thyMenuItemAction 参数"></api-parameters>
