@mixin btn-icon-size-variant($font-size, $round-padding) {
    i,.wtf {
        font-size: $font-size;
    }
    &.btn-icon-circle {
        i,.wtf {
            padding: $round-padding;
        }
        &.border-thick {
            i,.wtf {
                padding: $round-padding - 1;
            }
            @include hover-focus {
                i,.wtf {
                    padding: $round-padding - 1;
                }
            }
        }
        @include hover-focus {
            i,.wtf {
                border: 2px solid $primary;
                padding: $round-padding - 1;
            }
        }
    }
}

.btn-icon {
    padding: 0px;
    @extend .btn-link.btn-link-default;
    i,.wtf {
        display: inline-block;
        line-height: 1;
        margin: 0px;
    }
    @include btn-icon-size-variant($font-size-md, 9px);
}

.btn-icon.btn-icon-danger-weak {
    @extend .btn-link.btn-link-danger-weak;
}

.btn-icon-light {
    color: $btn-icon-light-color;
}

.btn-icon-xs {
    @include btn-icon-size-variant($font-size-sm, 4px);
}

.btn-icon-sm {
    @include btn-icon-size-variant($font-size-base, 6px);
}

.btn-icon-lg {
    @include btn-icon-size-variant($font-size-lg, 13px);
}

.btn-icon-circle {
    i,.wtf {
        transition: border 200ms, padding 200ms;
        color: $gray-400; //$btn-icon-light-color;
        border-color: $gray-400;
        border-width: 1px;
        border-radius: 50%;
        line-height: 1;
        padding: 10px;
    }

    span {
        margin-left: 6px; 
    }

    &.border-thick {
        i,.wtf {
            color: $gray-300; // $btn-icon-light-color;
            border-color: $gray-300;
            border-width: 2px;
        }
    }

    @include hover-focus {
        color: $primary;
        i,.wtf {
            color: $primary;
        }
    }
    &.circle-dashed {
        i,.wtf {
            border-style: dashed;
        }
    }

    &.circle-solid {
        i,.wtf {
            border-style: solid;
        }
    }

    &.invalid {
        color: $danger;
        i, .wtf {
          border-color: $danger;
          color: $danger;
        }
        &:hover,
        &:focus {
            i, .wtf {
                color: $primary;
                border-color: $primary;
            }
        }
      }
}

// .btn-icon-self-circle {
//     i,.wtf {
//         font-size: 38px;
//     }
// }