// stylelint-disable selector-no-qualifying-type
//
// Base styles
//
.btn {
    // 设置 icon 字体大小
    i,
    .wtf {
        font-size: $font-size-base;
        line-height: 1rem;
        // @include button-icon-margin(0.375rem);
    }
    display: inline-block;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius, $btn-base-min-width);
    @include transition($btn-transition); // Share hover and focus styles
    @include hover-focus {
        text-decoration: none;
    }
    &:focus,
    &.focus {
        outline: 0; // box-shadow: $btn-focus-box-shadow;
    }
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        color: $btn-disabled-color;
        background-color: $btn-disabled-bg-color;
        border-color: $btn-disabled-border-color; // opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
    // Opinionated: add "hand" cursor to non-disabled .btn elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-image: none;
        // @include box-shadow($btn-active-box-shadow);
        // &:focus {
        //     @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        // }
    }
    &:not(:disabled):not(.disabled).loading {
        opacity: 0.65;
        pointer-events: none;
    }
}

// 有图标居右设置间距
.btn.btn-has-icon {
    i,
    .wtf {
        @include button-icon-margin(8px);
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($white, $white, $value, $value, $value, $value, $value, $value);
        @include button-hover-box-shadow($value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value, $value, $white, $value, null, $value, null);
    }
}

.btn-outline-default {
    @include button-outline-variant($gray-600, $gray-300, $primary, null, $primary, null, $primary);
}

// 圆角方正，回归正常的圆角
.btn-square {
    @include btn-square-radius();
}

//
// Button Sizes
//
.btn-lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg, $btn-lg-min-width);
}

.btn-md {
    @include button-size($btn-padding-y-md, $btn-padding-x-md, $font-size-base, $btn-line-height, $btn-border-radius, $btn-md-min-width);
}

.btn-sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-base, $btn-line-height-sm, $btn-border-radius-sm, $btn-sm-min-width);
}

.btn-xs {
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-sm, $btn-line-height-sm, $btn-border-radius-xs, $btn-xs-min-width);
}

//
// Link buttons
//
// Make a button look and behave like a link
.btn-link {
    font-weight: $font-weight-normal;
    color: $link-color;
    background-color: transparent;
    @include hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        background-color: transparent;
        border-color: transparent;
    }
    &:focus,
    &.focus {
        text-decoration: $link-hover-decoration;
        border-color: transparent;
        box-shadow: none;
    }
    &.disabled,
    &:disabled {
        background-color: transparent;
        @include hover-focus {
            color: $btn-link-disabled-color;
            text-decoration: none;
        }
    }

    &:disabled,
    &.disabled {
        color: $btn-link-disabled-color;
        border: none;
    } // No need for an active state here
}

// 去除按钮图标和按钮链接的最小宽度
.btn.btn-icon,
.btn.btn-link {
    min-width: 0px;
}

.btn-link.btn-link-info {
    @include btn-link-variant($info, $primary, none);
}

// 兼容之前的样式
.btn-link.btn-link-default {
    @include btn-link-variant($btn-link-color-default, $primary, none);
}

// 默认显示灰色，鼠标移上去显示主色
.btn-link.btn-link-primary-weak {
    @include btn-link-variant($info, $primary, none);
}

// 默认显示灰色，鼠标移上去显示红色
.btn-link.btn-link-danger-weak {
    @include btn-link-variant($info, $danger, none);
}

// 默认显示灰色，鼠标移上去显示红色
.btn-link.btn-link-danger {
    @include btn-link-variant($danger, $danger, underline);
}

.btn-link.btn-link-success {
    @include btn-link-variant($success, $success, underline);
}

//
// Block button
//
.btn-block {
    display: block;
    width: 100%; // Vertically space out multiple block buttons
    +.btn-block {
        margin-top: $btn-block-spacing-y;
    }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}

// 确认取消按钮成对出现
.btn-pair {
    .btn+.btn {
        margin-left: 10px;
    }
}

.btn-pair-sm {
    .btn+.btn {
        margin-left: 4px;
    }
}

@import './button-icon';