// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
@mixin button-variant( $color, $hover-color, $background, $hover-background, $border, $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
    // color: color-yiq($background);
    color: $color;
    @include gradient-bg($background);
    border-color: $border;
    @include hover {
        // color: color-yiq($hover-background);
        color: $hover-color;
        @include gradient-bg($hover-background);
        border-color: $hover-border;
        @include box-shadow($btn-box-shadow);
    }
    &:focus,
    &.focus {
        // Avoid using mixin so we can pass custom focus shadow properly
        // @if $enable-shadows {
        //     box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5);
        // }
        // @else {
        //     box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
        // }
    } // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        &:hover {
            @include button-disabled();
        }
        @include button-disabled();
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show>&.dropdown-toggle {
        // color: color-yiq($active-background);
        // background-color: $active-background;
        // @if $enable-gradients {
        //     background-image: none; // Remove the gradient for the pressed/active state
        // }
        // border-color: $active-border;
        &:focus {
            // Avoid using mixin so we can pass custom focus shadow properly
            // @if $enable-shadows {
            //     box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5);
            // }
            // @else {
            //     box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
            // }
        }
    }
}

@mixin button-outline-variant($color, $border-color, $hover-color, $hover-background, $hover-border, $active-background, $active-border) {
    color: $color;
    background-color: transparent;
    background-image: none;
    border-color: $border-color;
    &:hover {
        color: $hover-color;
        background-color: $hover-background;
        border-color: $hover-border;
    }
    &:focus,
    &.focus {
        // box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
    }
    &.disabled,
    &:disabled {
        &:hover {
            @include button-disabled();
        }
        @include button-disabled();
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show>&.dropdown-toggle {
        color: $hover-color;
        background-color: $active-background;
        border-color: $active-border;
        &:focus {
            // Avoid using mixin so we can pass custom focus shadow properly
            // @if $enable-shadows and $btn-active-box-shadow !=none {
            //     box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5);
            // }
            // @else {
            //     box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
            // }
        }
    }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    line-height: $line-height; // Manually declare to provide an override to the browser default
    @if $enable-rounded {
        border-radius: $border-radius;
    }
    @else {
        border-radius: 0;
    }
    &.btn-link {
        padding: $padding-y 1rem;
    }
}

@mixin button-hover-box-shadow($color) {
    &:hover {
        // lighten($primary-active-theme, 15%)
        @include box-shadow(0px 2px 5px 1px rgba($color, 0.6));
    }
}

@mixin button-disabled() {
    color: $btn-disabled-color;
    background-color: $btn-disabled-bg-color;
    border-color: $btn-disabled-border-color;
    border: none;
    @include box-shadow(none);
}

@mixin button-icon-margin($right) {
    margin-right: $right;
}

@mixin btn-link-variant($link-color, $link-hover-color, $link-hover-decoration) {
    color: $link-color;
    background-color: transparent;
    @include hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    &:focus,
    &.focus {
        text-decoration: $link-hover-decoration;
    }
    &:disabled,
    &.disabled {
        color: $btn-link-disabled-color;
        @include hover {
            color: $btn-link-disabled-color;
        }
    } // No need for an active state here
}

@mixin btn-square-radius {
  // 设置大小也不影响 border-radius
  border-radius: $border-radius;
  &.btn-lg, &.btn-md, &.btn-sm {
      border-radius: $border-radius;
  }
}