<thy-alert thyType="danger-strong" thyAccent thyMessage="Oh snap! Change a few things up and try submitting again.">
  <ng-template #operation>
    <button thyButton="outline-danger-square" thySize="xs">恢复</button>
    <button thyButton="outline-danger-square" thySize="xs">彻底删除</button>
  </ng-template>
</thy-alert>
<thy-alert thyType="secondary-strong" thyAccent thyMessage="Oh snap! Change a few things up and try submitting again.">
  <ng-template #operation>
    <button thyButton="outline-primary-square" thySize="xs">恢复</button>
    <button thyButton="outline-danger-square" thySize="xs">彻底删除</button>
  </ng-template>
</thy-alert>
