<thy-dialog-header thyTitle="配置 Dialog Footer" thySize="lg"> </thy-dialog-header>
<div class="dialog-body">
  <div>
    世界和平、安国兴邦、康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康
    康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康
    康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康康
    康康康康康康康康康康康康康康康康康康康康康乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐
    乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐
    乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐乐
  </div>
</div>

<thy-dialog-footer [thyAlign]="layoutConfig.footerAlign" [thyDivided]="layoutConfig.footerDivided">
  <button thyButton="primary" (click)="ok()">确认</button>
  <button thyButton="link-secondary" (click)="close()">取消</button>
</thy-dialog-footer>
