<thy-dialog-header thyTitle="Dialog title" thySize="lg"> </thy-dialog-header>
<thy-dialog-body>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
  <p>dialog body</p>
</thy-dialog-body>
<thy-dialog-footer [thyAlign]="layoutConfig().footerAlign" [thyDivided]="layoutConfig().footerDivided">
  <button thyButton="primary" (click)="ok()">确定</button>
  <button thyButton="link-secondary" (click)="close()">取消</button>
</thy-dialog-footer>
