<thy-timeline>
  <thy-timeline-item thyColor="success">2012年11月 北京易成时代科技有限公司成立</thy-timeline-item>
  <thy-timeline-item thyColor="info">2013年7月21 Worktile 2.0 发布</thy-timeline-item>
  <thy-timeline-item thyColor="primary">2015年 Worktile 企业版发布，正式开启商业化</thy-timeline-item>
  <thy-timeline-item thyColor="warning">2018年 Worktile 7.0 发布，高度配置化的项目管理工具诞生</thy-timeline-item>
  <thy-timeline-item thyColor="danger">2019年 PingCode 正式发布，新一代的研发管理工具</thy-timeline-item>
  <thy-timeline-item>2022年 PingCode 4.0 发布，国内首款集产品+工单的管理工具，UI 2.0 全新上线</thy-timeline-item>
</thy-timeline>
