<thy-table [thyModel]="data" thyRowKey="id" thyMinWidth="800px" thyLayoutFixed="true">
  <thy-table-column thyTitle="Id" thyModelKey="id" thyWidth="10%"></thy-table-column>
  <thy-table-column thyTitle="Name" thyModelKey="name" thyWidth="20%"></thy-table-column>
  <thy-table-column thyTitle="Age" thyModelKey="age" thyWidth="15%"></thy-table-column>
  <thy-table-column thyTitle="Job" thyModelKey="job" thyWidth="15%"> </thy-table-column>
  <thy-table-column thyTitle="Address" thyModelKey="address" thyWidth="25%" thySecondary="true"></thy-table-column>
  <thy-table-column thyTitle="" thyWidth="15%" thyOperational="true">
    <ng-template #cell let-row>
      <a class="link-secondary" href="javascript:;">
        <thy-icon thyIconName="user-add"></thy-icon>
      </a>
      <a class="link-danger-weak" href="javascript:;">
        <thy-icon thyIconName="trash"></thy-icon>
      </a>
    </ng-template>
  </thy-table-column>
</thy-table>
