<div style="width:500px;">
  <label thyCheckbox [(ngModel)]="singleModel.allowClear" thyLabelText="是否支持清除选项"></label>
  <label thyCheckbox [(ngModel)]="singleModel.disabled" thyLabelText="是否禁用树选择"></label>
  <label thyCheckbox [(ngModel)]="singleModel.showWholeName" thyLabelText="是否支持显示所有父级节点名称"></label>
  <label thyCheckbox [(ngModel)]="singleModel.multi" thyLabelText="是否多选"></label>
  <br />
  Model: {{ singleModel | json }}
  <thy-tree-select
    [thyTreeNodes]="nodes"
    thyPrimaryKey="key"
    thyShowKey="title"
    [thyAllowClear]="singleModel.allowClear"
    [thyDisable]="singleModel.disabled"
    thyHiddenNodeKey="hidden"
    thyDisableNodeKey="disabled"
    thyPlaceholder="请选择值"
    [thyMultiple]="singleModel.multi"
    [(ngModel)]="singleModel.selectedValue"
    [thyShowWholeName]="singleModel.showWholeName"
  >
    <ng-template #treeNodeTemplate let-node>
      <thy-icon class="prefix-icon" [thyIconName]="node.expand ? 'folder-open-fill' : 'folder-fill'"></thy-icon>
      {{ node.title }}
    </ng-template>
  </thy-tree-select>
</div>
