<button [thyButton]="'primary'" [thyActionMenuToggle]="menu" class="mr-2">分组下拉菜单</button>
<button [thyButton]="'primary'" [thyActionMenuToggle]="menu2">分组下拉菜单(New)</button>
<ng-template #menu>
  <thy-action-menu thyTheme="group">
    <thy-action-menu-divider thyTitle="分组"></thy-action-menu-divider>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标1</span>
    </a>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标2</span>
      <span thyActionMenuItemExtendIcon class="text-primary">
        <thy-icon thyIconName="check"></thy-icon>
      </span>
    </a>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标3</span>
    </a>
    <thy-action-menu-divider thyTitle="分组"></thy-action-menu-divider>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标4</span>
    </a>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标5</span>
    </a>
    <thy-action-menu-divider thyTitle="分组" thyType="label"></thy-action-menu-divider>
    <a thyActionMenuItem href="javascript:;">
      <span thyActionMenuItemIcon>
        <thy-icon thyIconName="task"></thy-icon>
      </span>
      <span thyActionMenuItemName>有图标6</span>
    </a>
  </thy-action-menu>
</ng-template>

<ng-template #menu2>
  <thy-action-menu>
    <thy-action-menu-group thyTitle="分组">
      <a thyActionMenuItem href="javascript:;">
        <span thyActionMenuItemIcon>
          <thy-icon thyIconName="task"></thy-icon>
        </span>
        <span thyActionMenuItemName>有图标1</span>
      </a>
      <a thyActionMenuItem href="javascript:;">
        <span thyActionMenuItemIcon>
          <thy-icon thyIconName="task"></thy-icon>
        </span>
        <span thyActionMenuItemName>有图标2</span>
        <span thyActionMenuItemExtendIcon class="text-primary">
          <thy-icon thyIconName="check"></thy-icon>
        </span>
      </a>
      <a thyActionMenuItem href="javascript:;">
        <span thyActionMenuItemIcon>
          <thy-icon thyIconName="task"></thy-icon>
        </span>
        <span thyActionMenuItemName>有图标3</span>
      </a>
    </thy-action-menu-group>

    <thy-action-menu-group thyTitle="分组">
      <a thyActionMenuItem href="javascript:;">
        <span thyActionMenuItemIcon>
          <thy-icon thyIconName="task"></thy-icon>
        </span>
        <span thyActionMenuItemName>有图标4</span>
      </a>
      <a thyActionMenuItem href="javascript:;">
        <span thyActionMenuItemIcon>
          <thy-icon thyIconName="task"></thy-icon>
        </span>
        <span thyActionMenuItemName>有图标5</span>
      </a>
    </thy-action-menu-group>

    <thy-action-menu-group thyTitle="分组"
      ><span thyActionMenuItem href="javascript:;">
        <span thyActionMenuItemIcon>
          <thy-icon thyIconName="task"></thy-icon>
        </span>
        <span thyActionMenuItemName>有图标6</span>
      </span></thy-action-menu-group
    >
  </thy-action-menu>
</ng-template>
