$thyDatepickerNext: 'thy-datepicker-next';

.#{$thyDatepickerNext} {
    input {
        cursor: pointer;
    }
}

.#{$thyDatepickerNext}-container {
    padding: 0 10px 15px 10px;
    display: inline-block;
    border: solid 1px $gray-300;

    .calendar-container {
        .calendar-head {
            padding: 9px 0 3px 0;
            display: flex;
            justify-content: space-between;

            .calendar-button-previous,
            .calendar-button-next,
            .calendar-navigation {
                min-width: 30px;
                line-height: 30px;
                transition: all 200ms;
                border-radius: 30px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background: $gray-200;
                }
            }

            .calendar-navigation {
                padding: 0 10px;
            }
        }

        .calendar-content {
            .calendar-grid {
                .calendar-row {
                    display: flex;
                    text-align: center;
                    justify-content: space-around;

                    .calendar-cell {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;

                        &.pre-month,
                        &.next-month {
                            color: $gray-500;
                        }

                        &.today {
                            color: $primary;
                        }

                        span {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            border-radius: 100px;
                            transition: all 200ms;
                        }

                        &:hover {
                            span {
                                background: $gray-200;
                            }
                        }

                        &.active {
                            span {
                                color: $white;
                                background: $primary;
                            }
                        }

                        &.disabled {
                            span {
                                color: $gray-500;
                                background: inherit;
                            }
                        }
                    }
                }
            }
        }
    }

    .calendar-day-container {}

    .calendar-month-container {
        .calendar-content {
            .calendar-grid {
                .calendar-row {
                    .calendar-cell {
                        width: 70px;
                    }
                }
            }
        }
    }

    .calendar-year-container {
        .calendar-content {
            .calendar-grid {
                .calendar-row {
                    .calendar-cell {
                        width: 46px;
                        height: 46px;
                        line-height: 46px;
                    }
                }
            }
        }
    }

    .shortcut-container {
        padding-top: 8px;

        margin-left: 8px;
        margin-right: 8px;
        display: flex;

        .shortcut-button {
            flex: 1;
            margin-left: 10px;
            padding-left: 0;
            padding-right: 0;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.time-container {
    padding-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    display: block;

    .time-text {
        line-height: 32px;
        text-align: center;
        border: solid 1px $gray-300;
        cursor: pointer;
        border-radius: 0.25rem;
    }

    .form-control {
        text-align: center;
    }
}

.time-accurate-container,
.time-simply-container {
    display: inline-block;
    width: 230px;
    max-height: 308px;
    border: solid 1px $gray-300;
    overflow: auto;
    background: $white;

    .time-cell {
        line-height: 30px;
        text-align: center;
        cursor: pointer;

        &.active,
        &:hover {
            background: $gray-200;
        }
    }
}

.time-accurate-container {
    display: flex;
    overflow: visible;

    .time-group {
        flex: 1;
        overflow: auto;
    }
}


.operation-container {
    padding-top: 13px;
    margin-top: 13px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    border-top: solid 1px $gray-300;

    .btn {
        margin-left: 10px;
        flex: 1;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
