:root[theme='dark'] {
    // Palette
    --gray-10: #2a2e34;
    --gray-70: #32363d;
    --gray-80: #30353c;
    --gray-100: #393e46;
    --gray-200: #3c414a;
    --gray-300: #464c57;
    --gray-400: #5b6370;
    --gray-500: #666e7d;
    --gray-600: #6f7a8a;
    --gray-700: #87909e;
    --gray-800: #bcc4d1;

    // Component
    --bg-panel: #30353c;
    --bg-circle-btn: #393e46;
    --bg-segment-active: #464c57;
    --bg-sidebar-light: #30353c;
    --bg-tooltip: #464c57;
    --bg-cdk-drag-preview: #30353c;
    --bg-carousel-control: #32363d4d;
    --bg-carousel-control-hover: #32363d99;
    --bg-carousel-dot: #32363d4d;

    --box-shadow-circle-btn: 0 0 10px rgba(0, 0, 0, 0.25);
    --box-shadow-circle-btn-hover: 0 0 10px rgba(0, 0, 0, 0.45);
    --box-shadow-calendar-active: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    --box-shadow-layout-header: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
    --box-shadow-table-fixed-column-left: 6px 0 6px 0 rgba(0, 0, 0, 0.1);
    --box-shadow-table-fixed-column-right: -6px 0 6px 0 rgba(0, 0, 0, 0.1);

    // menu-dark
    --menu-theme-dark-bg-color: #48525c;
    --menu-theme-dark-hover-bg-color: #39414c;
    --menu-theme-dark-divider-color: #3c414a;
    --menu-theme-dark-text-color: #bcc4d1;
    --menu-theme-dark-text-hover-color: #ddd;
    --menu-theme-dark-icon-color: #87909e;
    --menu-theme-dark-icon-hover-color: #ddd;
}
