:root[theme='dark'] {
    --gray-10: #2a2e34;
    --gray-70: #32363d;
    --gray-80: #30353c;
    --gray-100: #393e46;
    --gray-200: #3c414a;
    --gray-300: #464c57;
    --gray-400: #5b6370;
    --gray-500: #666e7d;
    --gray-600: #6f7a8a;
    --gray-700: #87909e;
    --gray-800: #bcc4d1;

    --bg-dropdown-panel: #30353c;
}
