$color-0: #fff;
$color-10: #fafafa;
$color-20: #f7f7f7;
$color-30: #f5f5f5;
$color-40: #eee;
$color-50: #ddd;
$color-60: #cacaca;
$color-70: #aaa;
$color-80: #999;
$color-90: #666;
$color-100: #333;
$always-white: #fff;

$default-theme-colors: (
    'color-0': $color-0,
    'color-10': $color-10,
    'color-20': $color-20,
    'color-30': $color-30,
    'color-40': $color-40,
    'color-50': $color-50,
    'color-60': $color-60,
    'color-70': $color-70,
    'color-80': $color-80,
    'color-90': $color-90,
    'color-100': $color-100,
    'always-white': $always-white
);

[theme='default'] {
    @each $color, $value in $default-theme-colors {
        --#{$color}: #{$value};
    }
}
