<div class="thy-nav-list" [ngClass]="horizontal ? 'justify-content-' + horizontal : ''" #navList>
  <ng-container [ngTemplateOutlet]="content"></ng-container>
  @if (thyResponsive) {
    <a
      href="javascript:;"
      class="thy-nav-more-container"
      [class.d-none]="!showMore"
      [class.invisible]="!initialized"
      [class.is-more-open]="isOpenMore"
      #moreOperationContainer
      thyNavLink
      [thyNavLinkActive]="moreActive"
      (click)="openMore($event, navListPopover)">
      @if (moreOperation) {
        <ng-container [ngTemplateOutlet]="moreOperation"></ng-container>
      } @else {
        {{ locale().more }}
        <thy-icon thyIconName="angle-down" class="thy-nav-more-icon"></thy-icon>
      }
    </a>
  }
  @if (thyIsExtraAppend()) {
    <ng-container [ngTemplateOutlet]="extraTemplate"></ng-container>
  }
  <thy-nav-ink-bar [showInkBar]="showInkBar" [isVertical]="thyVertical"></thy-nav-ink-bar>
</div>

<ng-template #navListPopover>
  @if (morePopover) {
    <ng-container [ngTemplateOutlet]="morePopover" [ngTemplateOutletContext]="{ $implicit: hiddenItems }"></ng-container>
  } @else {
    <thy-dropdown-menu thyImmediateRender>
      @for (item of hiddenItems; track $index) {
        <span
          class="thy-nav-item-more"
          thyDropdownMenuItem
          [thyDropdownMenuItemActive]="item.isActive"
          (click)="navItemClick(item)"
          [innerHTML]="item.elementRef.nativeElement.innerHTML | bypassSecurityTrustHtml"></span>
      }
    </thy-dropdown-menu>
  }
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>

@if (!thyIsExtraAppend()) {
  <ng-container [ngTemplateOutlet]="extraTemplate"></ng-container>
}

<ng-template #extraTemplate>
  @if (thyExtra || extra) {
    <div
      class="thy-nav-extra"
      [class.thy-nav-card-extra]="type === 'card'"
      [class.thy-nav-card-extra-with-divider]="type === 'card' && thyIsExtraAppend() && !lastNavItemActive()">
      <ng-container [ngTemplateOutlet]="thyExtra || extra"></ng-container>
    </div>
  }
</ng-template>
