<div class="thy-nav-list" [ngClass]="horizontal ? 'justify-content-' + horizontal : ''" #navList>
  <ng-container [ngTemplateOutlet]="content"></ng-container>
  <a
    *ngIf="thyResponsive"
    href="javascript:;"
    class="thy-nav-more-container"
    [class.d-none]="!showMore"
    [class.invisible]="!initialized"
    #moreOperationContainer
    thyNavLink
    [thyNavLinkActive]="moreActive"
    (click)="openMore($event, navListPopover)"
  >
    <ng-container *ngIf="moreOperation; else defaultMoreOperation" [ngTemplateOutlet]="moreOperation"></ng-container>
    <ng-template #defaultMoreOperation>
      更多
      <thy-icon thyIconName="angle-down" class="thy-nav-more-icon"></thy-icon>
    </ng-template>
  </a>
  <thy-nav-ink-bar [showInkBar]="showInkBar" [isVertical]="thyVertical"></thy-nav-ink-bar>
</div>

<ng-template #navListPopover>
  <ng-container
    *ngIf="morePopover; else default"
    [ngTemplateOutlet]="morePopover"
    [ngTemplateOutletContext]="{ $implicit: hiddenItems }"
  ></ng-container>
  <ng-template #default>
    <thy-dropdown-menu thyImmediateRender>
      <ng-container *ngFor="let item of hiddenItems">
        <span
          class="thy-nav-item-more"
          thyDropdownMenuItem
          [thyDropdownMenuItemActive]="item.isActive"
          (click)="navItemClick(item)"
          [innerHTML]="item.elementRef.nativeElement.innerHTML | bypassSecurityTrustHtml"
        ></span>
      </ng-container>
    </thy-dropdown-menu>
  </ng-template>
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<div *ngIf="thyExtra || extra" class="thy-nav-extra">
  <ng-container [ngTemplateOutlet]="thyExtra || extra"></ng-container>
</div>
