<thy-alert thyType="success" thyMessage="Well done! You successfully read this important alert message."></thy-alert>
<thy-alert thyType="warning" thyMessage="Warning! Better check yourself, you're not looking too good."></thy-alert>
<thy-alert thyType="danger" thyMessage="Oh snap! Change a few things up and try submitting again."></thy-alert>
<thy-alert thyType="success" thyMessage="自定义 icon" [thyIcon]="'minus-circle-fill'"></thy-alert>
<thy-alert thyType="success" thyMessage="NO icon" [thyIcon]="false"></thy-alert>
<thy-alert thyType="primary-week" thyMessage="提示内容提示内容提示内容提示内容"></thy-alert>
