<div>
  <p class="text-primary">.text-primary 主色</p>
  <p class="text-body">.text-body 默认颜色</p>
  <p class="text-secondary">.text-secondary 次级颜色 #666</p>
  <p class="text-muted">.text-muted #888</p>
  <p class="text-desc">.text-desc #aaa</p>
  <p class="text-info">.text-info #2dbcff</p>
  <p class="text-placeholder">.text-placeholder #cacaca</p>
  <p class="text-light bg-dark">.text-light #ddd</p>
  <p class="text-white bg-dark">.text-white</p>
</div>

<div>
  <p class="text-success">.text-success 成功</p>
  <p class="text-danger">.text-danger 失败</p>
  <p class="text-warning">.text-warning 警告</p>
</div>

<div>
  <p class="text-left">左对齐</p>
  <p class="text-center">居中</p>
  <p class="text-right">右对齐</p>
</div>

<div>
  <p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.</p>
  <p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p>
  <p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.</p>
  <p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.</p>
</div>
