<section>
    <div class="header"><h2>Dialog</h2></div>
    <div class="body">
        <form class="mb-2" thyForm thyLayout="inline">
            <thy-form-group thyLabelText="Size:">
                <thy-select name="seize" [(ngModel)]="config.size">
                    <option value="sm">小</option>
                    <option value="md">中</option>
                    <option value="lg">大</option>
                    <option value="max-lg">特大</option>
                </thy-select>
            </thy-form-group>
            <thy-form-group thyLabelText="">
                <label
                    thyCheckbox
                    name="hasBackdrop"
                    [(ngModel)]="config.hasBackdrop"
                    thyLabelText="是否有背景幕布"
                ></label>
            </thy-form-group>
            <thy-form-group thyLabelText="">
                <label
                    thyCheckbox
                    name="backdropClickClosable"
                    [(ngModel)]="config.backdropClickClosable"
                    thyLabelText="点击幕布自动关闭"
                ></label>
            </thy-form-group>
            <thy-form-group thyLabelText="">
                <label
                    thyCheckbox
                    name="closeOnNavigation"
                    [(ngModel)]="config.closeOnNavigation"
                    thyLabelText="浏览器导航自动关闭"
                ></label>
            </thy-form-group>
        </form>

        <div class="demo-layout btn-pair mb-2">
            <button
                thyButton="primary"
                (click)="openTemplateDialog(templateDialog)"
            >
                Open Dialog (template)
            </button>
            <button thyButton="primary" (click)="openComponentDialog()">
                Open Dialog (component)
            </button>
        </div>

        <pre><code lang="typescript" [highlight]="exampleCode"></code></pre>
        <ng-template #templateDialog>
            <thy-dialog-header thyTitle="Dialog Title"></thy-dialog-header>
            <!-- <div class="dialog-header">
                <h3 class="dialog-title">Dialog Title</h3>
                <button type="button" class="close" (click)="thyDialog.close()">
                    <i class="wtf wtf-times"></i>
                </button>
            </div> -->
            <div class="dialog-body">template dialog</div>
            <div class="dialog-footer">
                <button thyButton="primary" (click)="thyDialog.close()">
                    确认
                </button>
                <button thyButton="link-secondary" (click)="thyDialog.close()">
                    关闭
                </button>
            </div>
        </ng-template>
    </div>
</section>

<div style="height: 800px;"></div>

<p>恩</p>

<!-- <api-parameters [parameters]="apiParameters"></api-parameters> -->
