<div class="thy-guider-tip-top">
  <img [src]="stepRef.step.data.image" [alt]="stepRef.step.data.title" />
  <a href="javascript:;" class="thy-guider-tip-top-btn" (click)="jump()">跳过</a>
</div>
<div class="thy-guider-tip-content bg-white">
  <div class="thy-guider-tip-content-title">{{ stepRef.step.data.title }}</div>
  <div class="thy-guider-tip-content-description">
    @if (descriptionTemplateRef) {
      <ng-template [ngTemplateOutlet]="descriptionTemplateRef"></ng-template>
    } @else {
      {{ descriptionString }}
    }
  </div>
  <div class="thy-guider-tip-step">
    <div class="thy-guider-tip-step-pagination">
      @for (step of guiderRef.steps; track trackByFn(i, step); let i = $index) {
        <span
          class="pagination-item"
          [ngClass]="{ active: i === stepRef.stepIndex }"
        ></span>
      }
    </div>
    <div class="thy-guider-tip-step-btn">
      @if (stepRef.stepIndex !== 0) {
        <a href="javascript:;" (click)="prev()" class="thy-guider-tip-step-pre">上一步</a>
      }
      @if (stepRef.stepIndex !== guiderRef.steps.length - 1) {
        <a href="javascript:;" (click)="next()" class="thy-guider-tip-step-next">下一步</a>
      } @else {
        <a href="javascript:;" (click)="end()" class="thy-guider-tip-step-next">完成</a>
      }
    </div>
  </div>
</div>
