<div class="thy-guider-tip-top">
  <img [src]="stepRef.step.data.image" [alt]="stepRef.step.data.title" />
  <a href="javascript:;" class="thy-guider-tip-top-btn" (click)="jump()">跳过</a>
</div>
<div class="thy-guider-tip-content">
  <div class="thy-guider-tip-content-title">{{ stepRef.step.data.title }}</div>
  <div class="thy-guider-tip-content-description">
    <ng-container *ngIf="descriptionTemplateRef; else stringTemplateRef">
      <ng-template [ngTemplateOutlet]="descriptionTemplateRef"></ng-template>
    </ng-container>
    <ng-template #stringTemplateRef>{{ descriptionString }}</ng-template>
  </div>
  <div class="thy-guider-tip-step">
    <div class="thy-guider-tip-step-pagination">
      <span
        class="pagination-item"
        *ngFor="let step of guiderRef.steps; let i = index; trackBy: trackByFn"
        [ngClass]="{ active: i === stepRef.stepIndex }"></span>
    </div>
    <div class="thy-guider-tip-step-btn">
      <ng-container *ngIf="stepRef.stepIndex !== 0">
        <a href="javascript:;" (click)="prev()" class="thy-guider-tip-step-pre">上一步</a>
      </ng-container>
      <ng-container *ngIf="stepRef.stepIndex !== guiderRef.steps.length - 1; else finish">
        <a href="javascript:;" (click)="next()" class="thy-guider-tip-step-next">下一步</a>
      </ng-container>
      <ng-template #finish>
        <a href="javascript:;" (click)="end()" class="thy-guider-tip-step-next">完成</a>
      </ng-template>
    </div>
  </div>
</div>
