<thy-badge thyIsDot="true" thySize="sm"></thy-badge>
<thy-badge thyIsDot="true" thyType="primary"></thy-badge>
<thy-badge thyIsDot="true" thyType="warning"></thy-badge>
<thy-badge thyIsDot="true" thyType="secondary"></thy-badge>
<thy-badge thyIsDot="true" thyColor="#ff00ff"></thy-badge>

<div class="mb-3"></div>

<thy-badge thyIsHollow="true" thySize="sm"></thy-badge>
<thy-badge thyIsHollow="true" thyType="primary"></thy-badge>
<thy-badge thyIsHollow="true" thyType="warning"></thy-badge>
<thy-badge thyIsHollow="true" thyType="secondary"></thy-badge>
<thy-badge thyIsHollow="true" thyType="#ff00ff"></thy-badge>

<div class="mb-3"></div>

<thy-badge thyIsDot>
  <div class="square"></div>
</thy-badge>
<thy-badge thyIsDot [thyType]="badgeDotTheme">
  <div class="square"></div>
</thy-badge>
