@use "sass:color";
@use "../mixins/hover";
@use "../bootstrap/variables";

// stylelint-disable declaration-no-important

// Contextual backgrounds

@mixin bg-variant($parent, $color, $ignore-warning: false) {
    #{$parent} {
        background-color: $color !important;
    }
    a#{$parent},
    button#{$parent} {
        @include hover.hover-focus() {
            background-color: $color; // TODO color.adjust($color, $lightness: -10%) !important;
        }
    }
    // @include deprecate("The `bg-variant` mixin", "v4.4.0", "v5", $ignore-warning);
}

@mixin bg-gradient-variant($parent, $color) {
    #{$parent} {
        background: $color linear-gradient(180deg, color.mix(variables.$body-bg, $color, 15%), $color) repeat-x !important;
    }
}
