@use '../mixins/hover';
@use '../variables';

@mixin link-variant($link-color, $link-decoration, $link-hover-color, $link-hover-decoration) {
    @if $link-color {
        color: $link-color;
    }
    text-decoration: $link-decoration;
    &:not(.disabled) {
        @include hover.hover-active {
            @if $link-hover-color {
                color: $link-hover-color;
            }
            text-decoration: $link-hover-decoration;
        }
    }
}

@mixin link-size($font-size: variables.$font-size-base, $icon-font-size: variables.$font-size-base) {
    font-size: $font-size;
    .thy-icon,
    .wtf {
        font-size: $icon-font-size;
    }
}
