@use '../mixins/hover';
@use '../variables';
@use 'shadow';

@mixin table-set-header(
    $thead-text-align,
    $thead-vertical-align,
    $thead-font-weight,
    $thead-border-bottom-width,
    $thead-bg,
    $thead-border-color,
    $thead-color,
    $thead-padding
) {
    thead {
        th,
        td {
            text-align: $thead-text-align;
            vertical-align: $thead-vertical-align;
            background-color: $thead-bg;
            font-weight: $thead-font-weight;
            border-bottom: $thead-border-bottom-width solid $thead-border-color;
            color: $thead-color;
            padding: $thead-padding;
        }
    }
}

@mixin table-size($table-header-height, $table-cell-height, $table-header-padding, $table-cell-padding) {
    thead {
        tr {
            height: $table-header-height;
        }
    }
    tbody {
        tr {
            height: $table-cell-height;
            td {
                padding: $table-cell-padding;
            }
        }
    }

    @if $table-header-padding {
        thead {
            th,
            td {
                padding: $table-header-padding;
            }
        }
    }
}
