@use 'sass:color';
@use '../mixins/hover';
@use '../variables';
@use 'shadow';

// Tables

@mixin table-row-variant($state, $background) {
    // Exact selectors below required to override `.table-striped` and prevent
    // inheritance to nested tables.
    .table-#{$state} {
        &,
        > th,
        > td {
            background-color: $background;
        }
    }

    // Hover states for `.table-hover`
    // Note: this is not available for cells or rows within `thead` or `tfoot`.
    .table-hover {
        $hover-background: $background; // TODO: color.adjust($background, $lightness: -5%);

        .table-#{$state} {
            @include hover.hover {
                background-color: $hover-background;

                > td,
                > th {
                    background-color: $hover-background;
                }
            }
        }
    }
}

@mixin table-hover-box-shadow($color) {
    @include shadow.box-shadow(0px 0px 8px 2px $color);
}

@mixin table-set-padding-space($first-last-space-width: 20px) {
    $table-first-last-padding: 15 + $first-last-space-width;
    thead {
        tr {
            th {
                &:first-child {
                    padding-left: $table-first-last-padding;
                    position: relative;
                    &:before {
                        @include table-cover-item(-1px, '', 0px, '', variables.$white, $first-last-space-width);
                    }
                }
                &:last-child {
                    padding-right: $table-first-last-padding;
                    position: relative;
                    &:before {
                        @include table-cover-item(-1px, '', '', 0px, variables.$white, $first-last-space-width);
                    }
                }
            }
        }
    }
    tbody {
        tr {
            &:first-child {
                td:first-child {
                    padding-left: $table-first-last-padding;
                    position: relative;
                }
                td:last-child {
                    padding-right: $table-first-last-padding;
                    position: relative;
                }
            }
            &:last-child {
                td {
                    &:first-child {
                        &:after {
                            @include table-cover-item('', -1px, 0, '', variables.$white, $first-last-space-width);
                        }
                    }
                    &:last-child {
                        &:before {
                            @include table-cover-item('', -1px, '', 0, variables.$white, $first-last-space-width);
                        }
                    }
                }
            }
            td {
                &:first-child {
                    padding-left: $table-first-last-padding;
                    position: relative;
                    &:before {
                        @include table-cover-item(-1px, '', 0, '', variables.$white, $first-last-space-width);
                    }
                }
                &:last-child {
                    padding-right: $table-first-last-padding;
                    position: relative;
                    &:after {
                        @include table-cover-item(-1px, '', '', 0, variables.$white, $first-last-space-width);
                    }
                }
            }
        }
    }
}

@mixin table-cover-item($top, $bottom, $left, $right, $color: $color-white, $width: 20px) {
    content: '';
    width: $width;
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    background: $color;
    height: 1px;
}

@mixin table-hover-set-space-none() {
    tbody {
        tr {
            //   &:first-child {
            //     &.active,
            //     &:hover {
            //       td {
            //         &:first-child,
            //         &:last-child {
            //           &:before,
            //           &:after {
            //             display: block;
            //           }
            //         }
            //       }
            //     }
            //   }
            &:hover,
            &.active {
                td {
                    &:first-child,
                    &:last-child {
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                }
                & + tr {
                    td {
                        &:first-child {
                            &:before {
                                display: none;
                            }
                        }
                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin table-set-header(
    $thead-text-align,
    $thead-vertical-align,
    $thead-font-weight,
    $thead-border-bottom-width,
    $thead-bg,
    $thead-border-color,
    $thead-color,
    $thead-padding
) {
    thead {
        th,
        td {
            text-align: $thead-text-align;
            vertical-align: $thead-vertical-align;
            background-color: $thead-bg;
            font-weight: $thead-font-weight;
            border-bottom: $thead-border-bottom-width solid $thead-border-color;
            color: $thead-color;
            padding: $thead-padding;
        }
    }
}

@mixin table-size($table-header-height, $table-cell-height, $table-header-padding, $table-cell-padding) {
    thead {
        tr {
            height: $table-header-height;
        }
    }
    tbody {
        tr {
            height: $table-cell-height;
            td {
                padding: $table-cell-padding;
            }
        }
    }

    @if $table-header-padding {
        thead {
            th,
            td {
                padding: $table-header-padding;
            }
        }
    }
}
