@use '../mixins/hover';
@use '../bootstrap/variables';

@mixin text-emphasis-variant($parent, $color, $ignore-warning: false) {
    #{$parent} {
        color: $color !important;
    }
}

@mixin absolute-vertical-align-middle($clearLeft) {
    position: absolute;
    @if $clearLeft == true {
        left: 0;
    }
    top: 50%;
    transform: translateY(-50%);
}
