<thy-icon class="mr-1" [thyIconName]="beforeIconName" [ngStyle]="{ color: _color }" *ngIf="beforeIconName"></thy-icon>
<i class="mr-1" [ngClass]="beforeIconClass" [ngStyle]="{ color: _color }" *ngIf="beforeIconClass"></i>
<ng-content></ng-content>
<ng-content></ng-content>
<thy-icon
  class="ml-1"
  [thyIconName]="afterIconName"
  (click)="remove()"
  [ngStyle]="{ color: _color }"
  *ngIf="afterIconName"
></thy-icon>
<i class="ml-1" [ngClass]="afterIconClass" *ngIf="afterIconClass" (click)="remove()"></i>
