<thy-select ngModel="option1" thyMode="multiple" [thyShowSearch]="true" [(ngModel)]="listOfSelectedValue" style="width: 400px">
  @for (option of listOfOption; track option.value) {
    <thy-option [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
  }
</thy-select>

<div class="mb-2 mt-2">设置展示更多标签</div>
<thy-select
  ngModel="option1"
  thyMode="multiple"
  [thyShowMoreTag]="true"
  [thyShowSearch]="true"
  [(ngModel)]="listOfSelectedValue"
  style="width: 400px">
  @for (option of listOfOption; track option.value) {
    <thy-option [thyValue]="option.value" [thyLabelText]="option.text"> </thy-option>
  }
</thy-select>
