<thy-grid
  [thyGroups]="groups"
  [thyModel]="model"
  thyRowKey="id"
  thyGroupBy="group_id"
  thyMode="group"
  thyRowClassName="thy-grid-item-hover-display-operation"
  [thyHoverDisplayOperation]="false"
  (thyOnRowClick)="onRowClick($event)"
>
  <ng-template #group let-group>{{ group?.title }}</ng-template>
  <thy-grid-column thyTitle="姓名" thyModelKey="name"></thy-grid-column>
  <thy-grid-column thyTitle="年龄" thyModelKey="age" thyClassName="text-center" thyHeaderClassName="text-center"></thy-grid-column>
  <thy-grid-column thyTitle="备注" thyModelKey="desc" thyDefaultText="-"></thy-grid-column>
</thy-grid>
