.input-number {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border-radius: $input-border-radius;
    @include transition($input-transition);
    .input-number-input {
        padding-right: $input-padding-x + $rem-20px;
    }
    .input-number-handler-wrap {
        width: 22px;
        height: calc(100% - 2px);
        position: absolute;
        right: 1px;
        top: 1px;
        box-sizing: border-box;
        border-left: 1px solid $input-border-color;
        border-radius: 0 0.25rem 0.25rem 0;
        cursor: pointer;
        .input-number-handler {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            color: $gray-500;
            .thy-icon {
                font-size: $rem-10px;
            }
            &:hover:not(.disabled) {
                color: $primary;
            }
            &.disabled {
                cursor: not-allowed;
            }
        }
        .input-number-handler-up {
            border-top-right-radius: 0.25rem;
        }
        .input-number-handler-down {
            border-top: 1px solid $input-border-color;
            border-bottom-right-radius: 0.25rem;
        }
    }
    &:hover {
        .form-control {
            &:not([disabled]):not(.disabled):not(.is-invalid) {
                border-color: $input-hover-border-color;
            }
        }
    }
    .input-number-disabled {
        display: none;
    }
}
