<ng-template #contentTemplate>
  <div thyStopPropagation [ngClass]="dropDownClass">
    <div #panel class="thy-select-dropdown-options">
      @for (option of options; track option.thyValue()) {
        <thy-option-render
          [thyValue]="option.thyValue()"
          [thyRawValue]="option.thyRawValue()"
          [thyLabelText]="option.thyLabelText()"
          [thyShowOptionCustom]="option.thyShowOptionCustom()"
          [thySearchKey]="option.thySearchKey()"
          [thyDisabled]="option.thyDisabled()"
          [thyTemplate]="option.template()"
          [thySelectedValuesOfList]="selectedValues()"
          (optionClick)="optionClick($event)">
        </thy-option-render>
      }
      @if (options.length <= 0) {
        <thy-empty [thyMessage]="thyEmptyText()" [thyIconName]="emptyIcon()"></thy-empty>
      }
    </div>
  </div>
</ng-template>
