<section class="mb-3">
  <button thyButton="primary-square" (thyCopied)="copy($event)" thyCopyContent="复制的文本">
    复制
  </button>
</section>
<hr />
<section class="mb-3">
  <button thyButton="primary-square" (thyCopied)="copy($event)" [thyCopy]="target1" [thyCopySuccessText]="copyContent + '复制成功'">
    复制
  </button>
  <p #target1>{{ copyContent }}</p>
</section>
<hr />

<section class="mb-3">
  <h5>复制input输入的文字</h5>
  <input #target2 [(ngModel)]="inputText" style="margin-right: 15px; width: 300px" />
  <button
    thyButton="primary-square"
    thyCopied="copy($event)"
    [thyCopy]="target2"
    [thyCopySuccessText]="inputText + '复制成功'"
    thySize="md"
  >
    复制
  </button>
</section>
