禁用整体：
<div style="width:220px" class="mt-1">
  <thy-segmented [thyDisabled]="true">
    <thy-segmented-item thyValue="member">成员</thy-segmented-item>
    <thy-segmented-item thyValue="department">部门</thy-segmented-item>
    <thy-segmented-item thyValue="group">用户组</thy-segmented-item>
  </thy-segmented>
</div>

<div style="width:150px" class="mt-4">
  <thy-segmented [thyDisabled]="true">
    <thy-segmented-item thyValue="1" thyIcon="list" thyLabelText="列表"> </thy-segmented-item>
    <thy-segmented-item thyValue="2" thyIcon="paperclip" thyLabelText="对齐"></thy-segmented-item>
  </thy-segmented>
</div>

<div class="mt-4 mb-4">
  <thy-segmented thyMode="adaptive" [thyDisabled]="true">
    <thy-segmented-item thyValue="1" thyIcon="list"></thy-segmented-item>
    <thy-segmented-item thyValue="2" thyIcon="paperclip"></thy-segmented-item>
  </thy-segmented>
</div>

禁用单个选项：
<div style="width:220px" class="mt-1">
  <thy-segmented>
    <thy-segmented-item thyValue="member">成员</thy-segmented-item>
    <thy-segmented-item thyValue="department" [thyDisabled]="true">部门</thy-segmented-item>
    <thy-segmented-item thyValue="group">用户组</thy-segmented-item>
  </thy-segmented>
</div>

<div style="width:150px" class="mt-4">
  <thy-segmented>
    <thy-segmented-item thyValue="1" thyIcon="list" thyLabelText="列表"> </thy-segmented-item>
    <thy-segmented-item thyValue="2" thyIcon="paperclip" thyLabelText="对齐" [thyDisabled]="true"></thy-segmented-item>
  </thy-segmented>
</div>

<div class="mt-4">
  <thy-segmented thyMode="adaptive">
    <thy-segmented-item thyValue="1" thyIcon="list"></thy-segmented-item>
    <thy-segmented-item thyValue="2" thyIcon="paperclip" [thyDisabled]="true"></thy-segmented-item>
  </thy-segmented>
</div>
