{
  "$schema": "./node_modules/@angular/cli/lib/config/schema.json",
  "version": 1,
  "projects": {
    "p1": {
      "architect": {
        "build": {
          "options": {
            "tsConfig": "./tsconfig.json"
          },
          "configurations": {
            "config1": {
              "tsConfig": "./tsconfig.p1-config1.json"
            }
          }
        },
        "test": {
          "options": {
            "tsConfig": "./tsconfig.test.json"
          }
        }
      }
    },
    "p2": {
      "architect": {
        "build": {
          "options": {
            "tsConfig": "./tsconfig.p2.json"
          },
          "configurations": {
            "config1": {
              "tsConfig": "./tsconfig.p2-config1.json"
            }
          }
        }
      }
    }
  }
}
