.modal-header {
  min-height: $modal-title-line-height;
  .modal-title {
    font-size: $font-size-md;
    font-weight: 500;
  }
  .modal-info {
    color: $gray-500;
  }
  .modal-back {
    position: absolute;
    line-height: 50px;
    color: $gray-300;
  }

  .modal-close {
    line-height: 50px;
    @include link-variant($gray-300, none, $primary, none);
  }
  .close {
    @include link-variant($gray-300, none, $primary, none);
  }
}

.modal-body {
  &--lg {
    padding: 20px 30px;
  }
  &--clear-padding-l {
    padding-left: 0;
  }
  &--clear-padding-lr {
    padding-left: 0;
    padding-right: 0;
  }
}

.modal-footer {
  justify-content: flex-start;
  border: 0;
}