<form thyForm thyLayout="vertical" #demoForm="thyForm" #demoVerticalForm="ngForm">
  <div thyRow [thyGutter]="30">
    <thy-form-group thyCol [thySpan]="24" thyLabelText="Username" thyLabelRequired thyTips="This is tips for username">
      <input thyInput name="username" placeholder="Please type username" />
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="12" thyLabelText="Email" thyLabelRequired thyTips="">
      <input thyInput email name="email" placeholder="Please type email" />
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="12" thyLabelText="Age" thyLabelRequired thyTips="This is tips for Age">
      <input thyInput number name="number" required min="10" placeholder="Please type number larger than 10" />
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="12" thyLabelText="Pattern" thyLabelRequired thyTips="This is tips for Pattern" thyTipsMode="label">
      <input
        thyInput
        name="pattern"
        [pattern]="'[a-zA-Z0-9_-]{0,19}[^\\d]{1}'"
        required
        maxlength="20"
        placeholder="Composed of letters, numbers or underscores. the last digit can't be a number" />
    </thy-form-group>

    <thy-form-group thyCol [thySpan]="12" thyLabelText="Time">
      <thy-date-picker name="time" required></thy-date-picker>
    </thy-form-group>

    <thy-form-group-error thyCol [thySpan]="24"></thy-form-group-error>

    <thy-form-group-footer thyCol [thySpan]="24">
      <button [thyButton]="'primary'" (thyFormSubmit)="save(demoForm)">Save</button>
    </thy-form-group-footer>
  </div>
</form>
