@use "../../styles/mixins/link";
@use "../../styles/variables";

.thy-breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;

    .thy-breadcrumb-icon {
        margin-right: 8px;
        color: variables.$breadcrumb-icon-color;
    }

    .thy-breadcrumb-item {
        margin-right: 8px;
        color: variables.$breadcrumb-text-color;
        a {
            @include link.link-variant(variables.$breadcrumb-text-color, none, variables.$primary, none);
        }
        &:last-child {
            color: variables.$breadcrumb-active-color;
            a {
                color: variables.$breadcrumb-active-color;
            }
            .default-icon {
                display: none;
            }
        }
        .default-icon {
            margin-left: 8px;
            color: variables.$breadcrumb-separator-color;
            font-size: variables.$font-size-base;
        }
        &.active {
            color: variables.$primary;
            a {
                color: variables.$primary;
            }
            thy-icon {
                &:not(.default-icon) {
                    color: variables.$primary;
                }
            }
        }
    }

    &.separator-slash,
    &.separator-backslash {
        .thy-breadcrumb-item {
            .default-icon {
                display: none;
            }
            &::after {
                content: '/';
                font: normal normal normal 14px/1 wtf;
                margin-left: 8px;
                color: variables.$breadcrumb-separator-color;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    &.separator-backslash {
        .thy-breadcrumb-item {
            &::after {
                content: '\\';
            }
        }
    }
}
