.thy-breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;

    .thy-breadcrumb-icon {
        margin-right: 5px;
        color: $breadcrumb-icon-color;
    }

    .thy-breadcrumb-item {
        margin-right: 5px;
        color: $breadcrumb-text-color;
        a {
            @include link-variant($breadcrumb-text-color, none, $primary, none);
        }
        &:last-child {
            color: $breadcrumb-active-color;
            a {
                color: $breadcrumb-active-color;
            }
            .default-icon {
                display: none;
            }
        }
        .default-icon {
            margin-left: 5px;
            color: $breadcrumb-separator-color;
            font-size: $font-size-base;
        }
    }

    &.separator-slash,
    &.separator-backslash {
        .thy-breadcrumb-item {
            .default-icon {
                display: none;
            }
            &::after {
                content: '/';
                font: normal normal normal 14px/1 wtf;
                margin-left: 5px;
                color: $breadcrumb-separator-color;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    &.separator-backslash {
        .thy-breadcrumb-item {
            &::after {
                content: '\\';
            }
        }
    }

    .non-current-path {
        &:last-child {
            a {
                @include link-variant($breadcrumb-text-color, none, $primary, none);
            }
        }
    }
}
