.thy-breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;

    .thy-breadcrumb-icon {
        margin-right: 5px;
        color: $breadcrumb-icon-color;
    }

    .thy-breadcrumb-item {
        margin-right: 5px;
        display: flex;
        color: $breadcrumb-text-color;
        & > :first-child {
            display: inline-block;
            max-width: 12em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        a {
            @include link-variant($breadcrumb-text-color, none, $primary, none);
        }
        &:last-child {
            color: $breadcrumb-active-color;
            a {
                color: $breadcrumb-active-color;
            }
            .default-icon {
                display: none;
            }
        }
        .default-icon {
            margin-left: 5px;
            line-height: 1.5;
            color: $breadcrumb-separator-color;
            font-size: $font-size-base;
        }
    }

    &.separator-slash,
    &.separator-backslash {
        .thy-breadcrumb-item {
            .default-icon {
                display: none;
            }
            &::after {
                content: '/';
                font: normal normal normal 14px/1 wtf;
                margin-left: 5px;
                line-height: 1.5;
                color: $breadcrumb-separator-color;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    &.separator-backslash {
        .thy-breadcrumb-item {
            &::after {
                content: '\\';
            }
        }
    }
}
.breadcrumb-fold-items {
    max-height: $breadcrumb-fold-items-height;
    overflow: auto;
    .thy-breadcrumb-item {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
