<div style="width: 386px" class="d-flex align-items-center">
  <thy-segment [thyActiveIndex]="selectedIndex" (thySelectChange)="selectedChange($event)">
    <thy-segment-item thyValue="member">成员</thy-segment-item>
    <thy-segment-item thyValue="department">部门</thy-segment-item>
    <thy-segment-item thyValue="group">用户组</thy-segment-item>
  </thy-segment>
  <button
    thyButton
    thySize="md"
    class="ml-4 flex-1"
    [ngStyle]="{ 'min-width': '100px' }"
    thyType="primary"
    (click)="setSelectedItem($event)">
    手动选值
  </button>
</div>

<div style="width: 180px" class="mt-4">
  <thy-segment>
    <thy-segment-item thyValue="1" thyIcon="list">列表</thy-segment-item>
    <thy-segment-item thyValue="2" thyIcon="paperclip">对齐</thy-segment-item>
  </thy-segment>
</div>

<div class="mt-4">
  <thy-segment thyMode="inline">
    <thy-segment-item thyValue="1" thyIcon="list"></thy-segment-item>
    <thy-segment-item thyValue="2" thyIcon="paperclip"></thy-segment-item>
  </thy-segment>
</div>
