<div style="width: 220px">
  <thy-segment (thySelectChange)="selectedChange($event)">
    <thy-segment-item thyValue="member">成员</thy-segment-item>
    <thy-segment-item thyValue="department">部门</thy-segment-item>
    <thy-segment-item thyValue="group">用户组</thy-segment-item>
  </thy-segment>
</div>

<div style="width: 150px" class="mt-4">
  <thy-segment [thyActiveIndex]="selectedIndex" (thySelectChange)="selectedChange($event)">
    <thy-segment-item thyValue="1" thyIcon="list">列表</thy-segment-item>
    <thy-segment-item thyValue="2" thyIcon="paperclip">对齐</thy-segment-item>
  </thy-segment>
</div>

<div class="mt-4">
  <thy-segment thyMode="inline" (thySelectChange)="selectedChange($event)">
    <thy-segment-item thyValue="1" thyIcon="list"></thy-segment-item>
    <thy-segment-item thyValue="2" thyIcon="paperclip"></thy-segment-item>
  </thy-segment>
</div>
