<div class="select-container">
  <thy-select ngModel="option1" thyDropdownWidthMode="match-select">
    @for (option of listOfOption; track trackByFn($index, option)) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text">
      </thy-option>
    }
  </thy-select>

  <thy-select ngModel="option2" thyDropdownWidthMode="min-width">
    @for (option of listOfOption; track trackByFn($index, option)) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text">
      </thy-option>
    }
  </thy-select>

  <thy-select ngModel="option3" [thyDropdownWidthMode]="{ minWidth: 300 }">
    @for (option of listOfOption; track trackByFn($index, option)) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text">
      </thy-option>
    }
  </thy-select>

  <!-- use THY_SELECT_CONFIG -->
  <thy-select ngModel="option1">
    @for (option of listOfOption; track trackByFn($index, option)) {
      <thy-option [thyValue]="option.value" [thyLabelText]="option.text">
      </thy-option>
    }
  </thy-select>
</div>
