<div class="thy-collapse-header" (click)="activeChange($event)">
  @if (showArrow()) {
    @if (arrowIconTemplate()) {
      <ng-template [ngTemplateOutlet]="arrowIconTemplate()"></ng-template>
    } @else {
      <thy-icon [thyIconName]="arrowIcon() || 'angle-right'" class="thy-collapse-icon" [thyIconRotate]="thyActive() ? -90 : 0"></thy-icon>
    }
  }

  @if (thyHeaderTemplate()) {
    <ng-template [ngTemplateOutlet]="thyHeaderTemplate()"></ng-template>
  } @else {
    <ng-container>
      <span class="d-flex thy-collapse-title">{{ thyTitle() }}</span></ng-container
    >
  }

  @if (thyExtra()) {
    <div class="thy-collapse-extra">
      <ng-template [ngTemplateOutlet]="thyExtra()"></ng-template>
    </div>
  }
</div>
<div class="thy-collapse-content" thyAnimationCollapse [thyOpen]="thyActive()" [thyLeavedClassName]="'thy-collapse-content-leaved'">
  <div class="thy-collapse-content-box">
    <ng-content></ng-content>
  </div>
</div>
