<thy-card>
  <thy-card-content>
    <thy-nav thyType="pulled">
      <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
      <a href="javascript:;" thyNavItem>导航二</a>
      <a href="javascript:;" thyNavItem>导航三</a>
    </thy-nav>

    <thy-nav thyType="pulled" thyHorizontal="center">
      <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
      <a href="javascript:;" thyNavItem>导航二</a>
      <a href="javascript:;" thyNavItem>导航三</a>
    </thy-nav>

    <thy-nav thyType="pulled" thyHorizontal="end">
      <a href="javascript:;" thyNavItem thyNavItemActive="true">导航一</a>
      <a href="javascript:;" thyNavItem>导航二</a>
      <a href="javascript:;" thyNavItem>导航三</a>
    </thy-nav>
  </thy-card-content>
</thy-card>
