<thy-alert
  thyType="warning"
  thyMessage="thy-icon-nav 已经废弃，请使用 thyAction 组件代替，多个 Action 图标的菜单栏间距通过 thy-space 组件或者间距工具样式类实现。"
></thy-alert>

<thy-icon-nav>
  <a href="javascript:;" thyIconNavLink thyIconNavLinkActive="true" thyIconNavLinkIcon="vertical-view-lines"></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="sort"></thy-icon></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="filter"></thy-icon></a>
</thy-icon-nav>

<br />

<thy-icon-nav thyType="secondary">
  <a href="javascript:;" thyIconNavLink thyIconNavLinkActive="true" thyIconNavLinkIcon="attachment-bold"></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="arrow-right-up-square-bold"></thy-icon></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="more-bold"></thy-icon></a>
</thy-icon-nav>

<br />

<thy-icon-nav thyType="individual">
  <a href="javascript:;" thyIconNavLink thyIconNavLinkActive="true" thyIconNavLinkIcon="attachment-bold"></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="arrow-right-up-square-bold"></thy-icon></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="more-bold"></thy-icon></a>
</thy-icon-nav>
