<thy-icon-nav>
  <a href="javascript:;" thyIconNavLink thyIconNavLinkActive="true" thyIconNavLinkIcon="vertical-view-lines"></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="sort"></thy-icon></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="filter"></thy-icon></a>
</thy-icon-nav>

<br />

<thy-icon-nav thyType="secondary">
  <a href="javascript:;" thyIconNavLink thyIconNavLinkActive="true" thyIconNavLinkIcon="attachment-bold"></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="arrow-right-up-square-bold"></thy-icon></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="more-bold"></thy-icon></a>
</thy-icon-nav>

<br />

<thy-icon-nav thyType="individual">
  <a href="javascript:;" thyIconNavLink thyIconNavLinkActive="true" thyIconNavLinkIcon="attachment-bold"></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="arrow-right-up-square-bold"></thy-icon></a>
  <a href="javascript:;" thyIconNavLink><thy-icon thyIconName="more-bold"></thy-icon></a>
</thy-icon-nav>
