<thy-tag thyHoverable="true">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="primary">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="success">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyTheme="outline">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="primary" thyTheme="outline">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="success" thyTheme="outline">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyTheme="weak-fill">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="primary" thyTheme="weak-fill">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="success" thyTheme="weak-fill">Tag 1</thy-tag>

<div class="mt-4">
  <thy-tag thyHoverable="true" thyShape="pill">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="primary">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="success">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyTheme="outline">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="primary" thyTheme="outline">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="success" thyTheme="outline">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyTheme="weak-fill">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="primary" thyTheme="weak-fill">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="success" thyTheme="weak-fill">Tag 1</thy-tag>
</div>
