<thy-tag thyHoverable="true">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="primary">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="success">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyAppearance="outline">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="primary" thyAppearance="outline">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="success" thyAppearance="outline">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyAppearance="subtle">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="primary" thyAppearance="subtle">Tag 1</thy-tag>
<thy-tag thyHoverable="true" thyColor="success" thyAppearance="subtle">Tag 1</thy-tag>

<div class="mt-4">
  <thy-tag thyHoverable="true" thyShape="pill">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="primary">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="success">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyAppearance="outline">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="primary" thyAppearance="outline">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="success" thyAppearance="outline">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyAppearance="subtle">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="primary" thyAppearance="subtle">Tag 1</thy-tag>
  <thy-tag thyHoverable="true" thyShape="pill" thyColor="success" thyAppearance="subtle">Tag 1</thy-tag>
</div>
