<thy-badge [thyCount]="5" thyBackgroundColor="#87d068">
  <div class="square"></div>
</thy-badge>
<thy-badge [thyCount]="5" thyTextColor="#fff">
  <div class="square"></div>
</thy-badge>
<thy-badge [thyCount]="5" thyBackgroundColor="#f50" thyTextColor="108ee9">
  <div class="square"></div>
</thy-badge>

<thy-badge [thyCount]="5" thyBackgroundColor="primary" thyTextColor="light">
  <div class="square"></div>
</thy-badge>

<thy-badge [thyCount]="5" thyBackgroundColor="light" thyTextColor="primary">
  <div class="square"></div>
</thy-badge>
