@mixin vote-color-variant($color) {
    background: rgba($color, 0.15);
    color: $color;
    &:hover {
        background: rgba($color, 0.2);
        color: $color;
    }
    &.has-voted {
        background: $color;
        color: $white;
    }
}
@mixin vote-color-variant-weak($color) {
    background-color: $gray-100;
    color: $gray-600;
    &:hover {
        background: $color;
        color: $white;
    }
    &.has-voted {
        background: rgba($color, 0.1);
        color: $color;
        &:hover {
            background: $color;
            color: $white;
        }
    }
}
@mixin vote-variant($height, $padding, $fontSize) {
    height: $height;
    padding: $padding;
    line-height: $fontSize;
    font-size: $fontSize;
}

.thy-vote {
    display: inline-flex;
    border-radius: 4px;
    cursor: pointer;
    .thy-icon {
        display: block;
    }
}
.thy-vote-vertical {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.thy-vote-vertical-size-sm {
    width: $vote-layout-vertical-sm;
    @include vote-variant($vote-layout-vertical-sm, $vote-layout-vertical-padding-sm, $font-size-xs);
    .thy-icon {
        font-size: $font-size-sm;
    }
}

.thy-vote-vertical-size-md {
    width: $vote-layout-vertical-md;
    @include vote-variant($vote-layout-vertical-md, $vote-layout-vertical-padding-md, $font-size-base);
    .thy-icon {
        font-size: $font-size-md;
    }
}

.thy-vote-horizontal {
    align-items: center;
    justify-content: space-between;
}

.thy-vote-horizontal-size-sm {
    @include vote-variant($vote-layout-horizontal-height-sm, $vote-layout-horizontal-padding-sm, $font-size-sm);
    .thy-icon {
        margin-right: 5px;
        font-size: $font-size-sm;
    }
}

.thy-vote-horizontal-emoji-size-sm {
    @include vote-variant(
        $vote-layout-horizontal-emoji-height-sm,
        $vote-layout-horizontal-emoji-padding-sm,
        $font-size-base
    );
    img {
        margin-right: 5px;
        width: $font-size-md;
        height: $font-size-md;
    }
}

.thy-vote-success {
    @include vote-color-variant($success);
}

.thy-vote-primary {
    @include vote-color-variant($primary);
}

.thy-vote-emoji {
    border-radius: 12px;
    color: $gray-700;
    background: rgba($primary, 0.1);
    &.has-voted {
        color: $primary;
    }
}

.thy-vote-success-weak {
    @include vote-color-variant-weak($success);
}

.thy-vote-primary-weak {
    @include vote-color-variant-weak($primary);
}
