<thy-alert
  thyType="success"
  thyCloseable
  thyMessage="Well done! You successfully read this important alert message."
></thy-alert>
<thy-alert
  thyType="warning"
  thyCloseable="true"
  thyMessage="Warning! Better check yourself, you're not looking too good."
></thy-alert>
<thy-alert thyType="primary-week" thyCloseable="true" thyMessage="该任务已于 2018年8月10日 被放于回收站。">
  <ng-template #operation>
    <a href="javascript:;" thyAlertActionItem>恢复</a>
    <a href="javascript:;" thyAlertActionItem class="link-danger">彻底删除</a>
  </ng-template>
</thy-alert>
