<thy-icon class="input-prepend" *ngIf="iconPosition === 'before'" thyIconName="search"></thy-icon>
<input
  class="input-search-control"
  #input
  thyInput
  [name]="name"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [thyAutofocus]="autoFocus"
  [(ngModel)]="searchText"
  (ngModelChange)="searchModelChange()"
  (focus)="focused = true"
  (blur)="onBlur($event)"
  [thySize]="thySize"
  tabindex="-1" />
<ng-container *ngIf="iconPosition === 'after'">
  <div class="input-append input-append-divider">
    <a class="close" *ngIf="searchText; else onlyIcon" href="javascript:;" (click)="clearSearchText($event)">
      <thy-icon thyIconName="close"></thy-icon>
    </a>
    <ng-template #onlyIcon>
      <thy-icon class="text-placeholder" thyIconName="search"></thy-icon>
    </ng-template>
  </div>
</ng-container>

<a *ngIf="searchText && iconPosition === 'before'" class="close input-append" href="javascript:;" (click)="clearSearchText($event)">
  <thy-icon thyIconName="close"></thy-icon>
</a>
