@if (iconPosition() === 'before') {
  <thy-icon class="input-prepend" thyIconName="search"></thy-icon>
}
<input
  class="input-search-control"
  #input
  thyInput
  [name]="name()"
  [placeholder]="placeholder()"
  [disabled]="disabled()"
  [thyAutofocus]="autoFocus()"
  [(ngModel)]="searchText"
  (ngModelChange)="searchModelChange()"
  (focus)="!focused() ? focused.set(true) : null"
  [thySize]="thySize()"
  tabindex="-1" />
@if (iconPosition() === 'after') {
  <div class="input-append input-append-divider">
    @if (searchText()) {
      <a class="close" href="javascript:;" (click)="clearSearchText($event)">
        <thy-icon thyIconName="close"></thy-icon>
      </a>
    } @else {
      <thy-icon class="text-placeholder" thyIconName="search"></thy-icon>
    }
  </div>
}

@if (searchText() && iconPosition() === 'before') {
  <a class="close input-append" href="javascript:;" (click)="clearSearchText($event)">
    <thy-icon thyIconName="close"></thy-icon>
  </a>
}
