<div class="demo-inner-wrapper demo-layout-backdrop">
  <thy-card>
    <thy-card-header thyTitle="Card title"> </thy-card-header>
    <thy-card-content thyScroll="true" style="height: 100px">
      Card content scroll
      <br />
      Card content <br />
      Card content <br />
      Card content <br />
      Card content <br />
      Card content <br />
      Card content <br />
      Card content <br />
      Card content <br />
      Card content <br />
      Card content <br />
      Card content
      <br />
    </thy-card-content>
  </thy-card>
</div>
