<div class="body">
  <button thyButton="primary" (click)="openFormDialog(template)">
    弹出 Dialog Form
  </button>

  <ng-template #template>
    <thy-dialog-header [thyTitle]="'新建评审'"></thy-dialog-header>
    <thy-dialog-body>
      <form thyForm name="modalForm" [thyFormValidatorConfig]="validatorConfig">
        <thy-form-group thyRowFill>
          <ng-template #formGroup>
            <input thyInput name="project" [(ngModel)]="model.projectName" required placeholder="请输入项目名" />
          </ng-template>
        </thy-form-group>
        <thy-form-group thyLabelText="用户名">
          <input thyInput name="username" [(ngModel)]="model.username" required placeholder="请输入用户名" />
        </thy-form-group>
        <thy-form-group thyLabelText="角色">
          <thy-custom-select [(ngModel)]="model.role" [thyAllowClear]="true">
            <thy-option [thyValue]="'1'" [thyLabelText]="'管理员'"></thy-option>
            <thy-option [thyValue]="'2'" [thyLabelText]="'管理员'"></thy-option>
          </thy-custom-select>
        </thy-form-group>
        <thy-form-group>
          <div class="btn-pair">
            <button thyButton="primary" (thyFormSubmit)="modalFormSubmit()">
              提交
            </button>
            <button thyButton="link-secondary" (click)="thyDialog.close()">取消</button>
          </div>
        </thy-form-group>
      </form>
    </thy-dialog-body>
  </ng-template>
</div>
