// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.form-check {
  display: flex;
  justify-items: center;
  padding-left: $form-check-input-gutter;
  padding-bottom: 4px;
  margin-bottom: 0; // Override default `<label>` bottom margin
}

.form-check-input {
  position: relative;
  margin-top: $form-check-input-margin-y;
  margin-left: -$form-check-input-gutter;

  &:disabled ~ .form-check-label {
    color: $input-form-check-disable-color;
  }
}

.form-check-label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0; // Override base .form-check
  margin-right: $form-check-inline-margin-x;

  // Undo .form-check-input defaults and add some `margin-right`.
  .form-check-input {
    // position: static;
    position: relative;
    margin-top: -1px;
    // margin-right: $form-check-inline-input-margin-x;
    margin-left: 0;
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 2px;
  -webkit-appearance: none;
  appearance: none;
  width: $input-form-check-size;
  height: $input-form-check-size;
  border: solid 1px $input-form-check-border-color;
  cursor: pointer;
  transition: border $transitionDurationNormal;

  &:not(.form-check-input) {
    position: relative;
  }

  &:disabled {
    &::after {
      color: $input-form-check-disable-color;
    }
  }

  &:checked {
    &:not(:disabled) {
      border-color: $primary; 
      color: $primary;
    }
    &:disabled {
      &::after {
        color: $input-form-check-disable-color;
      }
    }
  }

  &:focus {
    outline: 0;
  }

  &:not(:disabled){
    @include hover {
        border-color: $primary;
    }
  }
 
}

// checkbox
input[type=checkbox] {
    border-radius: 2px;
    &:after {
      content: "\e6a5";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      color: $primary;
      font: normal normal normal 14px/1 wtf;
      opacity: 0;
      transition: opacity 200ms;
    }
    &:checked {
      &:after {
        opacity: 1;
      }
    }
}


//radio
input[type=radio] {
    border-radius: 100%;
    cursor: pointer;
  
    &:checked {
      &::after {
        content: "\e6b5";
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        font: normal normal normal 18px/1 wtf;
      }
    }
  
    // .set-input-hover-border();
}


.form-check-label {
    // padding-left: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: $input-label-color;
    transition: color $transitionDurationNormal;
    user-select: none;
    // .form-check-inline & {
    //   margin-left: 5px;
    // }
}

// checked style
.form-check-checked > .form-check-label {
  color: $input-label-checked-color;
}