// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.form-check {
    display: flex;
    justify-items: center;
    padding-left: $form-check-input-gutter;
    padding-bottom: 4px;
    margin-bottom: 0; // Override default `<label>` bottom margin
    &:last-child {
        padding-bottom: 0;
    }
}

.form-check-input {
    position: relative;
    margin-top: $form-check-input-margin-y;
    margin-left: -$form-check-input-gutter;

    &:disabled ~ .form-check-label {
        color: $input-form-check-disable-color;
    }
}

.form-check-label {
    margin-bottom: 0; // Override default `<label>` bottom margin
}

.form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0; // Override base .form-check
    margin-right: $form-check-inline-margin-x;

    // Undo .form-check-input defaults and add some `margin-right`.
    .form-check-input {
        // position: static;
        position: relative;
        margin-top: -1px;
        // margin-right: $form-check-inline-input-margin-x;
        margin-left: 0;
    }
}

input[type='radio'],
input[type='checkbox'] {
    margin-top: 2px;
    -webkit-appearance: none;
    appearance: none;
    width: $input-form-check-size;
    height: $input-form-check-size;
    border: solid 1px $input-form-check-border-color;
    cursor: pointer;
    transition: border $transitionDurationNormal;

    &:not(.form-check-input) {
        position: relative;
    }

    &:checked {
        &::after {
            opacity: 1;
        }
        &:not(:disabled) {
            border-color: $primary;
        }
    }

    &:focus {
        outline: 0;
    }

    &:not(:disabled) {
        @include hover {
            border-color: $primary;
        }
    }
}

// checkbox
input[type='checkbox'] {
    border-radius: 2px;
    &:after {
        position: absolute;
        border: 3px solid $primary;
        border-top: 0;
        border-left: 0;
        opacity: 0;
        content: ' ';
        top: 4px;
        left: 1px;
        width: 10px;
        height: 14px;
    }

    &:checked {
        &::after {
            transform: rotate(45deg) scale(0.6) translate(-50%, -50%);
            transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
        }
        &:not(:disabled) {
            &::after {
                border-color: $primary;
            }
        }
        &:disabled {
            &::after {
                border-color: $input-form-check-disable-color;
            }
        }
    }
}

input.form-check-indeterminate[type='checkbox'] {
    border-color: $primary;
    &::after {
        top: 50%;
        left: 50%;
        width: 6px;
        height: 6px;
        background-color: $primary;
        border: 0;
        transform: translate(-50%, -50%);
        opacity: 1;
        content: ' ';
    }
}

//radio
input[type='radio'] {
    border-radius: 100%;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: $primary;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    }

    &:checked {
        &:not(:disabled) {
            &::after {
                background: $primary;
            }
        }
        &:disabled {
            &::after {
                background: $input-form-check-disable-color;
            }
        }
    }

    // .set-input-hover-border();
}

.form-check-label {
    // padding-left: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: $input-label-color;
    transition: color $transitionDurationNormal;
    user-select: none;
    // .form-check-inline & {
    //   margin-left: 5px;
    // }
}

// checked style
.form-check-checked > .form-check-label {
    color: $input-label-checked-color;
}
