// select
.thy-select {
    position: relative;
    &:after {
      @include set-select-arrow();
    }
  
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 30px;
        &:required {
            &:invalid {
                color: $input-form-check-border-color;
            }
        }
    }
  
    option[value=""][disabled] {
        display: none;
    }
    option {
        color: $input-color;
    }
}  