name: AutoMerge

on:
  pull_request:
    types:
      - opened
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}

jobs:
  merge_release:
    if: startsWith(github.head_ref, 'release-auto-')
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci --force
      - run: echo '${{toJSON(secrets)}}'
      - name: Automerge
        uses: 'pascalgn/automerge-action@v0.14.3'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          MERGE_LABELS: ''
      # - name: Publish
      #   if: startsWith(github.head_ref, 'release-auto-v')
      #   run: npm run pub
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      # - name: Publish-next
      #   if: startsWith(github.head_ref, 'release-auto-next-v')
      #   run: npm run pub-next
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
