.badge-body {
    position: relative;
    display: inline-block;
    .badge-content {
        position: absolute;
        top: 0px;
        right: 10px;
        transform: translateY(-50%) translateX(100%);
    }
    .badge-dot-content{
        position: absolute;
        top: 2px;
        right: 5px;
        transform: translateY(-50%) translateX(100%);
    }
}
