<thy-list cdkDropList thyDragDrop>
  <thy-list-item class="active" cdkDrag>
    <thy-icon thyIconName="drag" class="drag-handle"></thy-icon>
    Item 1
  </thy-list-item>
  <thy-list-item cdkDrag>
    <thy-icon thyIconName="drag" class="drag-handle" cdkDragHandle></thy-icon>
    Item 2
  </thy-list-item>
  <thy-list-item cdkDrag>
    <thy-icon thyIconName="drag" class="drag-handle"></thy-icon>
    Item 3
  </thy-list-item>
  <thy-list-item cdkDrag>
    <thy-icon thyIconName="drag" class="drag-handle"></thy-icon>
    Item 4
  </thy-list-item>
</thy-list>
