<thy-pagination
  [(thyPageIndex)]="pagination.pageIndex"
  [thyPageSize]="pagination.pageSize"
  [thyTotal]="pagination.total"
  [thyShowTotal]="true"
></thy-pagination>
<br />

<thy-pagination
  [(thyPageIndex)]="pagination.pageIndex"
  [thyPageSize]="pagination.pageSize"
  [thyTotal]="pagination.total"
  [thyShowTotal]="rangeTemplate"
></thy-pagination>
<ng-template #rangeTemplate let-range="range" let-total>
  <div>{{ range.from }}-{{ range.to }} of {{ total }}</div>
</ng-template>
<br />

<thy-pagination
  [(thyPageIndex)]="pagination.pageIndex"
  [thyPageSize]="pagination.pageSize"
  [thyTotal]="pagination.total"
  [thyShowTotal]="totalTemplate"
></thy-pagination>
<ng-template #totalTemplate let-total>
  <div>
    共计<span class="text-secondary"> {{ total }} </span>条
  </div>
</ng-template>
