<button thyButton="primary" [thyDropdown]="menu">Dropdown <thy-icon thyIconName="caret-down"></thy-icon></button>
<a class="ml-3" thyAction thyIcon="plus" thyActiveClass="active" [thyDropdown]="menu" href="javascript:;"></a>
<a class="ml-3 link-major" [thyDropdown]="menu" thyActiveClass="active" href="javascript:;">Click me</a>

<thy-dropdown-menu #menu>
  <a class="active" thyDropdownMenuItem href="javascript:;">
    <span>Menu Item1</span>
  </a>
  <a thyDropdownMenuItem href="javascript:;">
    <span>Menu Item2</span>
  </a>
</thy-dropdown-menu>
